<template>
  <el-card>
    <div class="row horizontal v_center h_end" data-space-bottom="1rem">
      <el-button
        type="danger"
        icon="el-icon-plus"
        @click="openDialog('add')"
      >新增</el-button>
    </div>
    <el-table
      :data="getResult"
      key="currencyMonitor"
      v-loading="getTableLoading"
      element-loading-text="拼命加载中"
      tooltip-effect="light"
      element-loading-spinner="el-icon-loading"
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!--
        currencyCode: "IDR"
        maxOrderMoney: 10
        maxWinMoney: 50
        status: 1 状态
      -->
      <el-table-column
        label="币别"
        prop="currencyCode"
        :min-width="columnWidth.name"
      />
      <el-table-column
        label="结算时大额中奖阈值"
        prop="maxWinMoney"
        align="right"
        :min-width="columnWidth.count"
      />
      <el-table-column
        label="下注时大额下注阈值"
        prop="maxOrderMoney"
        align="right"
        :min-width="columnWidth.count"
      />
      <el-table-column
        label="状态"
        prop="status"
        align="center"
        :min-width="columnWidth.name"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            active-text="启用"
            inactive-text="禁用"
            active-color="#D3A4FF"
            inactive-color="#cbcbcb"
            :active-value="1"
            :inactive-value="0"
            @change="switchChange(scope.row, scope.$index)"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        :min-width="100"
      >
        <template slot-scope="scope">
          <el-button type="primary" plain @click="openDialog('edit', scope.row)">设置</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--新增币别预警阈值-->
    <el-dialog
      title="新增币别预警阈值"
      :visible.sync="showDialog.add"
      width="440px"
      :close-on-click-modal="false"
      @close="closeDialog('add')"
    >
      <el-form ref="dialogAddForm" :rules="formRules" :model="addForm" label-width="140">
        <el-form-item label="币别：">
          <el-select v-model="addForm.currencyCode">
            <el-option
              v-for="(item, i) in currencyList"
              :key="i"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="结算时大额中奖阈值：" prop="maxWinMoney">
          <el-input
            v-model="addForm.maxWinMoney"
            type="text"
            placeholder="结算时大额中奖阈值"
            @input="inputFilter($event, 'add', 'maxWinMoney', false, 0, 0)"
          />
        </el-form-item>
        <el-form-item label="下注时大额下注阈值：" prop="maxOrderMoney">
          <el-input
            v-model="addForm.maxOrderMoney"
            type="text"
            placeholder="下注时大额下注阈值"
            @input="inputFilter($event, 'add', 'maxOrderMoney', false, 0, 0)"
          />
        </el-form-item>
        <el-form-item label="状态：">
          <el-switch
            v-model="addForm.status"
            active-text="启用"
            inactive-text="禁用"
            active-color="#D3A4FF"
            inactive-color="#cbcbcb"
            :active-value="1"
            :inactive-value="0"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDialog.add = false">取消</el-button>
        <el-button type="primary" @click="submitCurrencySettingsUpdate('add')">确认送出</el-button>
      </span>
    </el-dialog>
    <!--设置币别预警阈值-->
    <el-dialog
      title="设置币别预警阈值"
      :visible.sync="showDialog.edit"
      width="440px"
      :close-on-click-modal="false"
      @close="closeDialog('edit')"
    >
      <el-form ref="dialogEditForm" :rules="formRules" :model="settings" label-width="140">
        <el-form-item label="币别：">
          {{ settings.currencyCode }}
        </el-form-item>
        <el-form-item label="结算时大额中奖阈值：" prop="maxWinMoney">
          <el-input
            v-model="settings.maxWinMoney"
            type="text"
            placeholder="结算时大额中奖阈值"
            @input="inputFilter($event, 'edit', 'maxWinMoney', false, 0, 0)"
          />
        </el-form-item>
        <el-form-item label="下注时大额下注阈值：" prop="maxOrderMoney">
          <el-input
            v-model="settings.maxOrderMoney"
            type="text"
            placeholder="下注时大额下注阈值"
            @input="inputFilter($event, 'edit', 'maxOrderMoney', false, 0, 0)"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDialog.edit = false">取消</el-button>
        <el-button type="primary" @click="submitCurrencySettingsUpdate('edit')">确认送出</el-button>
      </span>
    </el-dialog>
  </el-card>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { replaceInput } from 'utils/filters'
import { currencyList } from 'utils/currency'

export default {
  name: 'CurrencyMonitorList',
  data () {
    return {
      columnWidth: {
        name: '140',
        count: '150',
        amount: '210',
        code: '210',
        dateTime: '210',
        action: '200',
        longStr: '300'
      },
      status: ['禁用', '启用'],
      showDialog: {
        add: false,
        edit: false
      },
      addForm: {
        currencyCode: '',
        maxOrderMoney: 0,
        maxWinMoney: 0,
        status: 0
      },
      settings: {},
      currencyList: [...currencyList],
      formRules: {
        maxWinMoney: [
          { required: true, message: '「结算时大额中奖阈值」不可为空', trigger: 'blur' }
        ],
        maxOrderMoney: [
          { required: true, message: '「下注时大额下注阈值」不可为空', trigger: 'blur' }
        ]
      }
    }
  },

  computed: {
    ...mapGetters(
      'currencyMonitor', ['getResult', 'getTableLoading']
    )
  },

  methods: {
    ...mapMutations('currencyMonitor', ['SET_STATUS']),
    ...mapActions('currencyMonitor', [
      'getCurrencyMonitorList',
      'updateCurrencyMonitorAmount',
      'updateCurrencyMonitorStatus'
    ]),
    async init () {
      await this.getCurrencyMonitorList()
      this.tableData = [...this.getResult]
    },
    openDialog (mode, obj) {
      const caseObj = {
        add: () => {
          this.showDialog.add = true
        },
        edit: () => {
          this.settings = Object.assign({}, obj)
          this.showDialog.edit = true
          console.log('###Dialog: ', this.settings)
        }
      }
      caseObj[mode]()
    },
    closeDialog (mode) {
      const caseObj = {
        add: () => {
          this.showDialog.add = false
          this.$refs.dialogAddForm.clearValidate()
          this.addForm = {
            currencyCode: '',
            maxOrderMoney: 0,
            maxWinMoney: 0,
            status: 0
          }
        },
        edit: () => {
          this.showDialog.edit = false
          this.$refs.dialogEditForm.clearValidate()
          this.settings = {}
        }
      }
      caseObj[mode]()
    },
    async submitCurrencySettingsUpdate (mode) {
      const caseObj = {
        add: () => {
          this.$refs.dialogAddForm.validate(valid => {
            if (valid) {
              const callApi = () => this.updateCurrencyMonitorAmount(this.addForm)
              if (callApi()) {
                this.$message({ type: 'success', message: '新增成功' })
                this.showDialog.add = false
              } else {
                this.$message({ type: 'error', message: '新增失败' })
              }
            } else {
              return false
            }
          })
        },
        edit: () => {
          this.$refs.dialogEditForm.validate(valid => {
            if (valid) {
              const callApi = () => this.updateCurrencyMonitorAmount(this.settings)
              if (callApi()) {
                this.$message({ type: 'success', message: '更新成功' })
                this.showDialog.edit = false
              } else {
                this.$message({ type: 'error', message: '更新失败' })
              }
            } else {
              return false
            }
          })
        }
      }
      caseObj[mode]()
    },
    inputFilter (val, mode, target, limited, maxNumInt, maxNumFloat) {
      let vm
      mode === 'add' ? vm = this.addForm : vm = this.settings
      const caseObj = {
        maxWinMoney: () => {
          vm.maxWinMoney = replaceInput(val, limited, maxNumInt, maxNumFloat)
        },
        maxOrderMoney: () => {
          vm.maxOrderMoney = replaceInput(val, limited, maxNumInt, maxNumFloat)
        }
      }
      caseObj[target]()
    },
    async switchChange (obj, idx) {
      const caseObj = {
         status: obj.status === 0 ? 1 : 0,
         index: idx
      }
      try {
        await this.$confirm(
          `将会改变数据为${this.status[obj.status]}状态，是否继续？`, '提示信息', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
        this.settings = Object.assign({}, obj)
        const callApi = () => this.updateCurrencyMonitorStatus(this.settings)
        if (callApi()) {
          this.$message({ type: 'success', message: '更新成功' })
        } else {
          this.$message({ type: 'error', message: '更新失败' })
          this.SET_STATUS(caseObj)
        }
      } catch {
        this.$message({
          type: 'info',
          message: '已取消操作'
        })
        this.SET_STATUS(caseObj)
        this.settings = {}
      }
    }
  },
  created () {
    this.init()
  },

  mounted () {}
}
</script>
