<template>
  <el-card>
    <el-table
      :data="tData"
      border
      fit
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      highlight-current-row
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column
        align="right"
        label="数据源编码"
        prop="sourceCode"
        min-width="150">
      </el-table-column>
      <el-table-column
        align="right"
        label="数据源名称"
        prop="sourceName"
        min-width="150">
      </el-table-column>
      <el-table-column
        align="right"
        label="数据库名称"
        prop="sourceDB"
        min-width="150">
      </el-table-column>
      <el-table-column
        align="right"
        label="数据源地址"
        prop="sourceUrl"
        min-width="250">
        <template v-slot="scope">
          <div v-for="(item,index) in scope.row.sourceUrl" :key='index'>{{item}}</div>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        label="创建人"
        prop="createUser"
        min-width="150">
      </el-table-column>
      <el-table-column
        align="right"
        prop="createTime"
        label="创建时间"
        min-width="150">
      </el-table-column>
      <el-table-column align="right" label="数据源维护标识" min-width="350" fixed='right'>
        <template slot-scope="scope">
          <el-checkbox class='aCheckbox' v-model="scope.row.settle" true-label='1' false-label='0' border>结算
          </el-checkbox>
          <el-checkbox class='aCheckbox' v-model="scope.row.killOrder" true-label='1' false-label='0' border>撤单
          </el-checkbox>
          <el-checkbox class='aCheckbox' v-model="scope.row.pour" true-label='1' false-label='0' border>下注</el-checkbox>
          <el-button type="primary" @click="saveMaintainFlag(scope.row)">修改</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getShardingDatasourceList, postShardingDatasourceMaintain } from 'api/spInfoList'
  import { radixConvertForLength, radixConvert } from 'utils'

  export default {
    data () {
      return {
        listLoading: false,
        tData: []
      }
    },
    methods: {
      _getList () {
        this.listLoading = true
        getShardingDatasourceList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tData = res.data.data.items.map((v) => {
              v.sourceUrl = v.sourceUrl.split(',')
              v.maintainFlag_switch = radixConvertForLength(v.maintainFlag, 10, 2, 3).split('')
              v.settle = v.maintainFlag_switch[0]
              v.killOrder = v.maintainFlag_switch[1]
              v.pour = v.maintainFlag_switch[2]
              // switch (v.maintainFlag) {
              //   case 0:
              //     v.settlement = 0
              //     v.killOrder = 0
              //     v.pour = 0
              //     break
              //   case 2:
              //     v.settlement = 0
              //     v.killOrder = 1
              //     v.pour = 0
              //     break
              //   case 3:
              //     v.settlement = 0
              //     v.killOrder = 1
              //     v.pour = 1
              //     break
              //   case 4:
              //     v.settlement = 1
              //     v.killOrder = 1
              //     v.pour = 0
              //     break
              //   case 6:
              //     v.settlement = 1
              //     v.killOrder = 1
              //     v.pour = 1
              //     break
              //   default:
              //     v.settlement = 0
              //     v.killOrder = 0
              //     v.pour = 0
              // }
              return v
            })
            this.listLoading = false
          }
        })
      },
      saveMaintainFlag (row) {
        // const str = Number(row.settlement).toString() + Number(row.killOrder).toString() + Number(row.pour).toString()
        const str = row.settle + row.killOrder + row.pour
        const val = parseInt(radixConvert(str, 2, 10))
        console.log(val)
        this.$confirm(`此操作将对指定的数据源进行维护设置， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            sourceCode: row.sourceCode,
            maintainFlag: val
          }
          postShardingDatasourceMaintain(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '数据源维护成功!'
              })
            }
          })
          this._getList()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          this._getList()
        })
      }
    },
    created () {
      this._getList()
    }
  }
</script>
<style scoped>
  .aCheckbox {
    margin-right: 10px !important;
    padding-right: 10px !important;
  }
</style>
