<template>
  <div>
    <div v-for='(item,index) in items' :key='index'>
      <div class='type_border_background'>
        <span style='padding-right:25px '>{{item.type}}</span>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-if='item.typeId === 1'-->
        <!--								           v-model="listQuery.spQurey">-->
        <!--										<el-option label="全部" :value="createObjString('all','全部')"></el-option>-->
        <!--										<el-option-->
        <!--											v-for="item in spCodeList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="createObjString(item.id,item.name)">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          v-if='item.typeId === 1'
          :options='{type:"spCodeAtCache",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
        <el-select filterable style="width: 180px" placeholder="请选择彩种"
                   default-first-option
                   v-if='item.typeId === 3'
                   v-model="listQuery.lotteryQuery">
          <el-option label="全部" :value="createObjString('all','全部')"></el-option>
          <el-option
            v-for="lt in lotterList"
            :key="lt.id"
            :label="lt.name"
            :value="createObjString(lt.id,lt.name)">
          </el-option>
        </el-select>
      </div>
      <el-table
        :data="item.elements"
        border
        style="width: 100%">
        <el-table-column
          prop="name"
          align='center'
          label="项目名称"
          min-width="120">
        </el-table-column>
        <el-table-column
          prop="value"
          label="项目key值"
          align='center'
          min-width="120">
        </el-table-column>
        <el-table-column
          prop="refreshWay"
          align='center'
          label="刷新方式"
          min-width="120">
        </el-table-column>
        <el-table-column
          prop="description"
          min-width='320'
          align='center'
          label="项目描述">
        </el-table-column>
        <el-table-column
          label="操作"
          align='center'
          min-width="120">
          <template slot-scope='scope'>
            <el-button v-if='item.typeId===0 || item.typeId===2' type="text"
                       @click.native="_RefreshCache(scope.row.value,item.typeId,scope.row.name)"
                       size="medium">刷新
            </el-button>
            <el-button type="text"
                       @click.native="_RefreshCache(scope.row.value,item.typeId,scope.row.name,spcodeWatch.id,spcodeWatch.name)"
                       size="medium"
                       v-else-if="item.typeId===1"
                       :disabled='!listQuery.spQurey'
            >刷新
            </el-button>
            <el-button v-else type="text"
                       @click.native="_RefreshCache(scope.row.value,item.typeId,lotteryWatch.name,lotteryWatch.id)"
                       size="medium"
                       :disabled='!listQuery.lotteryQuery'
            >刷新
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class='spCode_color_border' v-if='item.typeId ===1'>
        注：点击刷新操作必须选择厅主。当为全部时说明刷新所有厅的相关数据；当选择指定厅时说明只刷新指定厅的相关数据
      </div>
      <div class='spCode_color_border' v-if='item.typeId ===3'>
        注：点击刷新操作必须选择彩种。当为全部时说明刷新所有彩种的彩期；当选择指定彩种时说明只刷新指定彩种的彩期
      </div>
    </div>
  </div>
</template>
<script>
  import { postRefreshRedisCache } from 'api/system'
  import { ERR_OK } from 'api/config'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    props: {
      lotterList: {
        type: Array,
        default: function () {
          return []
        }
      }
      // spCodeList: {
      //   type: Array,
      //   default: []
      // }
    },
    data () {
      return {
        items: [
          {
            type: '基础配置',
            typeId: 0,
            elements: [
              {
                value: 'lotteryType',
                name: '彩种分组数据',
                description: '基础数据中的彩种分组详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryInfo',
                name: '彩种详情数据',
                description: '基数数据中的彩种详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryRelation',
                name: '彩种分组关系数据',
                description: '基础数据中彩种分组与彩种关系信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryRegion',
                name: '彩种地区数据',
                description: '基础数据中的彩种所属地区信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryPlayTab',
                name: '玩法类别数据',
                description: '基础数据中的玩法类别详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryPlayType',
                name: '玩法分类数据',
                description: '基础数据中的玩法分类详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryPlayInfo',
                name: '玩法详情数据',
                description: '基础数据中的玩法详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'lotteryPlayRelation',
                name: '玩法分组关系数据',
                description: '基础数据中玩法分组与玩法关系信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'gameRule',
                name: '开奖说明',
                description: '基础数据中的开奖说明信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'issueNameRule',
                name: '彩期名称规则数据',
                description: '彩期名称规则的详细数据',
                refreshWay: '缓存删除,业务被动加载'
              },
              {
                value: 'spInfo',
                name: '厅主详情数据',
                description: '商户管理中的所有厅主详细信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'trendHeader',
                name: '走势图表头数据',
                description: '对不同的彩种初始化配置的走势图表头数据',
                refreshWay: 'refresh方式全量重载'
              }
              // {
              //   value: 'lotteryPlayRecommendList',
              //   name: '推荐玩法数据',
              //   description: '对不同彩种类型初始化配置的推荐玩法数据',
              //   refreshWay: 'refresh方式全量重载'
              // },
              // {
              //   value: 'roomTsModel',
              //   name: '交互下注特殊玩法赔率数据',
              //   description: '重新加载交互下注所有彩种的特殊玩法赔率数据',
              //   refreshWay: 'refresh方式全量重载'
              // }
            ]
          },
          {
            type: '厅配置数据',
            typeId: 1,
            elements: [
              {
                name: '厅自开彩自定义配置数据',
                value: 'selfLotteryCustom',
                description: '不同厅自开彩自定义配置数据',
                refreshWay: 'invalidate方式清空'
              },
              // {
              //   value: 'spLotteryType',
              //   name: '开户彩种类型配置数据',
              //   description: '不同厅开户时的彩种类型配置数据',
              //   refreshWay: 'refresh方式全量重载'
              // },
              {
                value: 'spLotteryConf',
                name: '厅彩种限额数据',
                description: '不同厅对指定彩种进行限额配置的数据(包含:彩种限额,暂停投注)',
                refreshWay: '缓存删除,业务被动加载'
              },
              {
                value: 'spTpl',
                name: '盘口详情数据',
                description: '不同厅的所有盘口详情列表数据',
                refreshWay: 'refresh方式全量重载'
              },
              // {
              //   value: 'spTplRebateSet',
              //   name: '盘口返点配置数据',
              //   description: '盘口中不同彩种类型的返点值配置数据',
              //   refreshWay: 'refresh方式全量重载'
              // },
              {
                value: 'spTplLotterySet',
                name: '盘口彩种配置数据',
                description: '盘口中不同彩种的开关及其它属性配置数据(包含热门彩种及首页推荐等配置)',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'spTplPlaySet',
                name: '盘口玩法配置数据',
                description: '盘口中根据彩种类型设置的通用玩法配置数据',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'spTplLotteryPlaySet',
                name: '盘口彩种玩法配置数据',
                description: '盘口中根据指定彩种设置的玩法配置数据',
                refreshWay: 'refresh方式全量重载'
              },
              {
                name: '代理会员数据',
                value: 'memberAgent',
                description: '不同厅的所有代理会员的详细数据',
                refreshWay: 'refresh方式全量重载'
              }
              // {
              //   value: 'lotteryIssueClosed',
              //   name: '彩期封盘数据'
              // },

              // {
              //   value: 'spMaintain',
              //   name: '厅维护计划数据'
              // },
            ]
          },
          {
            type: '公共配置',
            typeId: 2,
            elements: [
              // {
              //   value: 'selfLottery',
              //   name: '厅自开彩数据'
              // },
              // {
              //   value: 'memberRegConf',
              //   name: '会员开户配置数据',
              //   description: '所有会员的开户配置数据',
              //   refreshWay: '缓存删除,业务被动加载'
              // },
              // {
              //   value: 'rebateConfig',
              //   name: '会员开户配置数据(新)',
              //   description: '开户配置仓库中的所有开户配置数据',
              //   refreshWay: 'refresh方式全量重载'
              // },
              {
                value: 'sysConfig',
                name: '系统配置数据',
                description: '彩票平台的所有通用配置信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'languageConfig',
                name: '多语言配置数据',
                description: '彩票平台配置的多语言信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'accountTerm',
                name: '帐期数据',
                description: '通过平台获取的上年和今年的所有帐期数据',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'shardingDatasource',
                name: '厅分库源配置数据',
                description: '每个厅配置的分库数据源编号信息',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'whiteList',
                name: '黑白名单配置数据',
                description: '彩票平台设置的黑白名单配置数据',
                refreshWay: 'refresh方式全量重载'
              },
              {
                value: 'selfLottery',
                name: '厅自开彩配置数据',
                description: '将厅自开彩的相关配置信息同步到预结算模块中,包含系统配置中的厅自开彩随机算法百分比配置',
                refreshWay: 'API调用'
              },
              // {
              //   value: 'selfSysLottery',
              //   name: '全局自开彩配置数据',
              //   description: '将系统自开彩的相关配置信息同步到预结算模块中',
              //   refreshWay: 'API调用'
              // },
              // {
              //   value: 'currCreditOrderPlayGroup',
              //   name: '即时注单(信用)分组数据',
              //   description: '为信用玩法即时注单初始化配置的玩法分组数据',
              //   refreshWay: 'refresh方式全量重载'
              // },
              {
                value: 'loggerBusi',
                name: '业务日志配置数据刷新',
                description: '业务日志配置数据刷新',
                refreshWay: 'refresh方式全量重载'
              }
            ]
          },
          {
            type: '彩期配置',
            typeId: 3,
            elements: [
              {
                value: 'lotteryIssue',
                name: '彩期数据',
                description: '不同彩种的彩期详情列表数据，缓存近3天数据',
                refreshWay: 'refresh方式全量重载'
              }
            ]
          }
        ],
        listQuery: {
          spQurey: '',
          lotteryQuery: ''
        },
        loading: false
      }
    },
    computed: {
      spcodeWatch () {
        const str = !this.listQuery.spQurey ? { id: '', name: '' } : JSON.parse(this.listQuery.spQurey)
        console.log(str)
        return str
      },
      lotteryWatch () {
        const str = !this.listQuery.lotteryQuery ? {
          id: '', name: ''
        } : JSON.parse(this.listQuery.lotteryQuery)
        console.log(str)
        return str
      }
    },
    methods: {
      dealChange (op) {
        console.log(op)
        this.listQuery.spQurey = this.createObjString(op.id, op.name)
      },
      createObjString (id, name) {
        return JSON.stringify({
          id,
          name
        })
      },
      _RefreshCache (refreshType, typeId, name = '', refreshValue = '', spName = '') {
        const obj = {}
        let str = ''
        obj.refreshType = refreshType
        switch (typeId) {
          case 0 || 2:
            str = `${name}`
            break
          case 1:
            if (refreshType === 'all') {
              str = `所有厅的${name}`
            } else {
              str = `${spName}厅的${name}`
              obj.refreshValue = refreshValue
            }
            break
          case 3:
            if (refreshType === 'all') {
              str = `所有彩种的彩期数据`
            } else {
              str = `${name}的彩期数据`
              obj.refreshValue = refreshValue
            }
            break
          default:
            str = `${name}`
        }
        this.$confirm(`将刷新${str}， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postRefreshRedisCache(obj).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '缓存刷新成功!'
              })
            }
          })
        })
        this.loading = false
      }
    }
  }
</script>

<style lang='scss' scoped>
  .type_border_background {
    padding: 10px;
    border: 1px solid #b8afaf;
    background-color: #DCDFE6;
  }

  .spCode_color_border {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    color: red;
    padding: 10px;
  }
</style>
