<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select v-model="listQuery.spCode" placeholder="请选择厅主"-->
        <!--								           filterable-->
        <!--								           style="margin-right: 10px;"-->
        <!--								           clearable default-first-option>-->
        <!--										<el-option v-for="item in spCodes" :key="item.id" :label="item.id" :value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="searchBindList"
                   :disabled="hasPermission('roomLotteryBindSNList')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="showOpenLotteryDialog()"
                   :disabled="hasPermission('roomLotteryBindSN')">开通彩种
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="items" border fit
              v-loading="listLoading" style="width: 100%">
      <el-table-column align="right" label="厅主编码" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.spCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="自开类型" min-width="150">
        <template slot-scope="scope">
          <span :class="colorsType(scope.row.selfType)">{{ scope.row.selfType|selfTypeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="激活状态" min-width="200">
        <template slot-scope="scope">
          <el-switch
            @change="changeBindStatus(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            v-model="scope.row.status"
            :disabled="hasPermission('roomLotteryBindSNSwitch')"
            active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog :visible.sync="dialogVisible" title="彩种开通设置" width="350px">
      <open-lottery :entity="openLotterySetting"
                    @doWhenBindSuccess="_getList"
                    @closeForm="closeForm"></open-lottery>
    </el-dialog>
  </el-card>
</template>

<script>
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import { ERR_OK } from 'api/config'
import {
  getRoomLotteryBindSNList,
  postRoomLotteryBindSNSwitch
} from 'api/roomLottery/'
import OpenLottery from './OpenLottery'
// import { getAjaxData } from 'api/common'

export default {
  components: { OpenLottery, fuzzyQuerySearch },
  data () {
    return {
      dialogVisible: false,
      listLoading: false,
      // spCodes: [],
      total: 0,
      listQuery: {
        spCode: '',
        pageSize: 10,
        pageNo: 1
      },
      openLotterySetting: {
        spCode: '',
        lotteryId: '',
        status: 1
      },
      items: []
    }
  },
  created () {
    // this._getSpInfoList()
    this._getList()
  },
  methods: {
    colorsType (status) {
      const selfType = {
        0: '',
        1: 'green',
        2: 'red'
      }
      return selfType[status]
    },
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    closeForm () {
      this.dialogVisible = false
    },
    showOpenLotteryDialog () {
      this.dialogVisible = true
    },
    searchBindList () {
      this._getList()
    },
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spCodes = res.data.data.items
    //     }
    //   })
    // },
    _getList () {
      this.listLoading = true
      getRoomLotteryBindSNList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.elements.map((item) => {
            item.status = item.status === 1
            return item
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    changeBindStatus (row) {
      const str = row.status ? '激活' : '关闭'
      this.$confirm(`确定${str}该彩种吗？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          lotteryId: row.lotteryId,
          spCode: row.spCode,
          status: row.status ? 1 : 0
        }
        postRoomLotteryBindSNSwitch(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '操作成功！'
            })
            this._getList()
          } else {
            row.status = !row.status
          }
        })
      }).catch(() => {
        row.status = !row.status
      })
    }
  },
  filters: {
    selfTypeFilter (type) {
      const clientMap = {
        0: '正常彩种',
        1: '全局自开彩',
        2: '厅自开彩'
      }
      return clientMap[type]
    }
  }
}
</script>
