<template>
  <el-form class="small-space" :model="entity" label-position="left" :rules="rules"
           ref="bindForm"
           label-width="100px">
    <el-form-item label="所属厅主" prop="spCode" required>
      <!--						<el-select v-model="entity.spCode" placeholder="请选择厅主"-->
      <!--						           filterable-->
      <!--						           style="margin-right: 10px;"-->
      <!--						           clearable default-first-option>-->
      <!--								<el-option v-for="item in spCodes" :key="item.id" :label="item.id" :value="item.id">-->
      <!--								</el-option>-->
      <!--						</el-select>-->
      <fuzzy-query-search
        :options='{type:"spCode",placeholder:"请输入厅编码"}'
        @dealChange='dealChange'></fuzzy-query-search>
    </el-form-item>
    <el-form-item label="选择彩种" prop="lotteryId" required>
      <el-select v-model="entity.lotteryId" placeholder="请选择彩种"
                 filterable
                 style="margin-right: 10px;"
                 clearable default-first-option>
        <el-option v-for="item in lotterys" :key="item.lotteryId" :label="item.lotteryName"
                   :value="item.lotteryId">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="激活状态" prop="status" required>
      <el-radio-group v-model="entity.status">
        <el-radio class="radio" :label="1">激活</el-radio>
        <el-radio class="radio" :label="0">禁用</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="bindLottery">保存</el-button>
      <el-button @click="resetForm">取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { ERR_OK } from 'api/config'
import {
  postRoomLotteryBindSN,
  getRoomLotteryList
} from 'api/roomLottery/'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

export default {
  components: { fuzzyQuerySearch },
  props: {
    entity: {
      required: true,
      type: Object
    }
    // spCodes: {
    //   required: true,
    //   type: Object
    // }
  },
  data () {
    return {
      lotterys: [],
      rules: {
        spCode: [
          { required: true, message: '请选择厅主', trigger: 'change' }
        ],
        lotteryId: [
          { required: true, message: '请选择彩种', trigger: 'change' }
        ],
        status: [
          { required: true, message: '请选择是否激活', trigger: 'change' }
        ]
      }
    }
  },
  created () {
    this._getLotteryList()
  },
  methods: {
    dealChange (op) {
      this.entity = { ...this.entity, ...op }
    },
    _getLotteryList () {
      getRoomLotteryList().then((res) => {
        // console.log(res)
        if (res.data.code === ERR_OK) {
          this.lotterys = res.data.data.items
        }
      })
    },
    bindLottery () {
      this.$refs.bindForm.validate((valid) => {
        if (valid) {
          this.$confirm(`将进行彩种绑定操作， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            postRoomLotteryBindSN(this.entity).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: `绑定成功`
                })
                this.$emit('doWhenBindSuccess')
                this.resetForm()
              }
            })
          })
        }
      })
    },
    resetForm () {
      this.$refs.bindForm.resetFields()
      this.entity = {
        spCode: '',
        lotteryId: '',
        status: 1
      }
      this.$emit('closeForm')
    }
  }
}
</script>

<style scoped>

</style>
