<template>
  <div class='tableBox'>
    <el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              row-key="uid"
              default-expand-all
              element-loading-spinner="el-icon-loading"
              :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
              style="width: 100%">
      <el-table-column align="right" label="用户信息" v-if='searchType===1'>
        <el-table-column align="right" label="用户ID" prop="uid" min-width="110"></el-table-column>
        <el-table-column align="right" label="用户帐号" prop="loginId"></el-table-column>
        <el-table-column align="right" label="会员/代理" prop="agentType">
          <template slot-scope='scope'>
            <span>{{generateAgentType(scope.row.agentFlag, scope.row.agentDefault, scope.row.agentType)}}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="代理信息" v-else-if='searchType===2'>
        <el-table-column align="left" label="用户ID" prop="uid" min-width="170"></el-table-column>
        <el-table-column align="right" label="代理帐号" prop="loginId">
          <template slot-scope='scope'>
            <el-button type='text' @click='searchMemberList(scope.row)'>{{scope.row.loginId}}</el-button>
          </template>
        </el-table-column>
        <el-table-column align="right" label="代理类型" prop="agentType">
          <template slot-scope='scope'>
            <span>{{generateAgentType(scope.row.agentFlag, scope.row.agentDefault, scope.row.agentType)}}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="会员信息" v-else>
        <el-table-column align="right" label="用户ID" prop="uid"></el-table-column>
        <el-table-column align="right" label="用户帐号" prop="loginId"></el-table-column>
        <el-table-column align="right" label="所属代理" prop="parentId">
          <template>
            {{memberAgent}}
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="返点信息">
        <el-table-column align="right" label="配置编号" prop="rebateId" min-width='140'></el-table-column>
        <el-table-column align="right" :label="`${name}(%)`" v-for='(name,pop) in lotteryTypeConfig'
                         :key='pop'>
          <template slot-scope='scope'>
            <span v-if='searchType===1'>{{scope.row.rebateInfo[pop] | rebateFixed}}</span>
            <span v-else>
            <span
              :class='generateClass(scope.row.rebateInfo[pop],rebateQuery[pop])'>{{scope.row.rebateInfo[pop] | rebateFixed}}</span>
            <span class='split'>/</span>
            <span class='blue'>{{rebateQuery[pop] | rebateFixed}}</span>
          </span>
          </template>
        </el-table-column>
        <el-table-column align="right" label="操作" width='100px;' v-if='isHasControl'>
          <template slot-scope='scope'>
            <el-button type='text' @click='sendBindOptions(searchType,scope.row)'>重新绑定</el-button>
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
  import NP from 'number-precision'

  export default {
    name: 'CommonTable',
    components: {},
    props: {
      tableKey: {
        type: String,
        default: ''
      },
      elements: {
        type: Array,
        default () {
          return []
        }
      },
      listLoading: {
        type: Boolean,
        default: false
      },
      isHasControl: {
        type: Boolean,
        default: false
      },
      rebateQuery: {
        type: Object
      },
      searchType: {
        type: Number,
        default: 1
      },
      memberAgent: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        lotteryTypeConfig: {
          confSsc: '时时彩',
          conf11x5: '11选5',
          confK3: '快3',
          confKlsf: '快乐十分',
          confPk10: 'PK10',
          confPcdd: 'PC蛋蛋',
          confSsl: '时时乐',
          confFc3d: '福彩3D',
          confPl3: '排列3',
          confKl8: '快乐8',
          confLhc: '六合彩'
        }
      }
    },
    computed: {},
    watch: {},
    methods: {
      generateAgentType (agentFlag, agentDefault, agentType) {
        return agentFlag ? (agentDefault ? '直属代理' : (agentType ? '直属代理' : '层级代理')) : '会员'
      },
      searchMemberList (row) {
        this.$emit('searchMemberList', row)
      },
      sendBindOptions (searchType, row) {
        console.log('row', row)
        this.$emit('setBindingQuery', {
          searchType,
          spCode: row.spCode,
          uid: row.uid,
          loginId: row.loginId,
          originalRebateQuery: {
            ...row.rebateInfo
          }
        })
      },
      generateClass (o, n) {
        if (parseFloat(o) > parseFloat(n)) return 'red'
        return ''
      }
    },
    created () {},
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {
      rebateFixed (v) {
        return NP.divide(parseFloat(v), 100).toFixed(2)
      }
    }
  }
</script>

<style lang='scss' scoped>
  .tableBox {
    padding: 10px 0;
  }

  .red {
    color: #FF0000
  }

  .blue {
    color: #0099FF;
  }
</style>
