<template>
  <el-card>
    <el-tabs v-model="activeName" type="border-card">
      <el-tab-pane label="开户配置查询" name="RebateConfigList">
        <rebate-config-list :sp-codes='spCodes' />
      </el-tab-pane>
      <el-tab-pane label="开户配置绑定" name="RebateConfigPresetList">
        <rebate-config-preset-list :sp-codes='spCodes' />
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import RebateConfigPresetList from './RebateConfigPresetList'
  import RebateConfigList from './RebateConfigList'

  export default {
    name: 'Index',
    components: { RebateConfigPresetList, RebateConfigList },
    props: {},
    data () {
      return {
        activeName: 'RebateConfigList',
        spCodes: []
      }
    },
    computed: {},
    watch: {},
    methods: {
      _getSpList () {
        getAjaxData({ dataType: 21 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.spCodes = res.data.data.items
          }
        })
      }
    },
    created () {
      this._getSpList()
    },
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss' scoped>

</style>
