<template>
  <div class='containBox'>
    <el-card class='container'>
      <el-form :inline="true" :model="listQuery" style='margin-bottom: 10px'>
        <el-form-item label="请输入厅:">
          <!--										<el-select filterable style="width: 180px" placeholder="请选择厅"-->
          <!--										           clearable default-first-option-->
          <!--										           v-model="listQuery.spCode">-->
          <!--												<el-option-->
          <!--													v-for="item in spCodes"-->
          <!--													:key="item.id"-->
          <!--													:label="item.id"-->
          <!--													:value="item.id">-->
          <!--												</el-option>-->
          <!--										</el-select>-->
          <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
        </el-form-item>
        <el-form-item label="上级代理帐号:">
          <!--										<el-input v-model="listQuery.loginId" style="width: 180px"-->
          <!--										          clearable-->
          <!--										          placeholder="请输入上级代理帐号"></el-input>-->
          <fuzzy-query-search
            :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入上级代理帐号"}'
            @dealChange='dealChange'
            ref='mSearch'
            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
        </el-form-item>
        <el-form-item>
          <span style='color: red'>注：不支持默认代理查询</span>
        </el-form-item>
      </el-form>
      <el-form :inline="true" :model="rebateQuery" ref='rebateForm' label-width="75px">
        <el-form-item label="预配数据:" class='rebate'>
          <div class='rebateContainer'>
                  <span class='rebateBox' v-for='(name,pop) in lotteryTypeConfig' :key='pop'>
          <span class='name'>{{name}}:</span>
          <el-input v-model='rebateQuery[pop]' class='rebateControl error' :name='pop'
                    @blur='dFormatter(rebateQuery[pop],pop,$event)'></el-input>
          <span class='brand'>%</span>
        </span>
          </div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" style='margin-left: 30px;' :disabled='btnSearchDisabledStatus'
                     @click='searchPresetList'>查询
          </el-button>
          <el-button @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <common-table :rebate-query='rebateQueryForSave' :search-type='2'
                  :is-has-control='true'
                  :elements='items'
                  @searchMemberList='searchMemberList'
                  @setBindingQuery='setBindingQuery'
                  table-key='RebateConfigPresetList' />
    <h2><span v-if='memberAgent'>【<span class='red'>{{memberAgent}}</span>】</span>会员列表
    </h2>
    <common-table :rebate-query='rebateQueryForSave' :search-type='3'
                  :is-has-control='true'
                  :elements='elements'
                  :member-agent="memberAgent"
                  @setBindingQuery='setBindingQuery'
                  table-key='RebateConfigPresetListByMember' />
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width='770px'
      @close='clearDialog'
      append-to-body
      :visible.sync="dialogVisible">
      <el-dialog
        width="750px"
        :visible.sync="innerVisible"
        append-to-body>
        <span slot='title'>
        <span class='el-dialog__title'>修改平台邀请码开户配置</span>
        (邀请码ID：<span class='red'>{{innerForm.uid}}</span>   邀请码类型：
        <span class='red'>{{ parseInt(innerForm.regType)===1?'代理':'会员' }}</span>)
      </span>
        <fieldset class="rebate-body">
          <div class='rebate-config-box'>
          <span class='rebateBox' v-for='(name,pop) in lotteryTypeConfig' :key='pop'>
            <span class='name'>{{name}}:</span>
            <el-input v-model='innerForm.originalRebateQuery[pop]' class='rebateControl' :name='pop'
                      :class="generateQueryClass(innerForm.originalRebateQuery[pop],innerForm.rebateQuery[pop])"
                      style="width:100px;"></el-input>
            <span class='brand'>%</span>
            <span>预设值</span>
              (<span>{{innerForm.rebateQuery[pop]}}%</span>)
          </span>
          </div>
        </fieldset>
        <span slot="footer">
        <el-button @click="reset_SpRebateConfig">取 消</el-button>
        <el-button type="primary" @click="saveRebateConfigAgentCodeBind">确 定</el-button>
      </span>
      </el-dialog>
      <span slot='title'>
        <span class='el-dialog__title'>重新绑定开户配置</span>
        (用户ID：<span class='red'>{{bindObject.uid}}</span>   用户帐号：
        <span class='red'>{{bindObject.loginId}}</span>)
      </span>
      <fieldset class="rebate-body">
        <legend class="title">开户配置信息</legend>
        <div class='rebate-config-box'>
          <span class='rebateBox' v-for='(name,pop) in lotteryTypeConfig' :key='pop'>
            <span class='name'>{{name}}:</span>
            <el-input v-model='bindObject.originalRebateQuery[pop]' class='rebateControl' :name='pop'
                      :class="generateQueryClass(bindObject.originalRebateQuery[pop],bindObject.rebateQuery[pop])"></el-input>
            <span class='brand'>%</span>
             <span>预设值</span>
              (<span>{{bindObject.rebateQuery[pop]}}%</span>)
          </span>
          <span class='rebateBox'>
            <el-button style='width: 185px' type='primary' v-if="bindObject.searchType===2"
                       @click="searchRebateConfigPresetListByInvite">查询邀请码</el-button>
            <div style="width:185px;height: 28px" v-else></div>
          </span>
          <span style='margin-left: 18px' v-if="bindObject.searchType===2">
            <el-checkbox v-model="bindObject.changeNextLevelMember" :true-label='1'
                         :false-label='0'>同时修改下级会员</el-checkbox>
            <span class='red' style='font-size: 12px;'>注:勾选时会将所有大于该配置的下级会员配置重置,请慎重！</span>
          </span>
        </div>
      </fieldset>
      <fieldset class='rebate-body position_sp_detail' v-if="bindObject.searchType===2&&agentCodeList.length>0">
        <div class='tab-title'>平台邀请码信息
          <!--          <span class='red' style='font-size: 12px'>(默认不显示,仅点击上方查询按钮时才显示)</span>-->
        </div>
        <el-table
          :data="agentCodeList"
          border
          v-loading="listLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          style="width: 100%">
          <el-table-column align="right" prop="agentCode" label="邀请码">
          </el-table-column>
          <el-table-column align="right" prop="" label="类型">
            <template slot-scope="scope">
              {{ parseInt(scope.row.regType)===1?'代理':'会员' }}
            </template>
          </el-table-column>
          <el-table-column align="right" prop="" label="开户配置ID">
            <template slot-scope="scope">
              <span class='fover_color' @mouseenter="showOrderDetail(scope.row)"
                    @mouseleave="hiddenOrderDetail">{{scope.row.rebateId}}</span>
            </template>
          </el-table-column>
          <el-table-column align="right" label="操作">
            <template slot-scope="scope">
              <el-button type='text' @click="showInnerDialog(scope.row)">修改开户配置</el-button>
            </template>
          </el-table-column>
        </el-table>
        <transition name='fade'>
          <fieldset class='position_order_detail rebate-body' v-if='show_position_order_detail'>
          <span class='rebateBox' v-for='(name,pop) in lotteryTypeConfig' :key='pop'>
            <span class='name'>{{name}}:</span>
            <span class='rebateControl'
                  :class="{red:spDetail.originalRebateQuery[pop] > bindObject.rebateQuery[pop] * 100}"
            >{{(spDetail.originalRebateQuery[pop]/100).toFixed(2)}}</span>
            (<span class='rebateControl qing'>{{bindObject.rebateQuery[pop]}}%</span>)
            </span>
          </fieldset>
        </transition>
        <div class='red_margin' style='margin-top: 10px'>说明：</div>
        <div class='red_margin'>1.可以对代理或会员进行重新绑定开户配置操作；</div>
        <div class='red_margin'>2.如果当前用户中有下级代理,且下级代理的配置比预设配置高,则不允许进行设置；</div>
        <div class='red_margin'> 3.如果当前用户中有下级会员的配置比预设配置高,且没有选中"同时修改下级会员",则不允许进行设置；</div>
        <div class='red_margin'> 4.点击“查询邀请码”按钮,根据填写的预配值查询大于预配值的邀请码列表,并显示在"平台邀请码信息"栏；</div>
        <div class='red_margin'> 5.点击"开户配置ID"中的配置ID时,显示该配置的详细数据；</div>
        <div class='red_margin'> 6.当前用户是会员,或是代理且没有创建过推广连接时,该列表内容为空；</div>
        <div class='red_margin'> 7.可以点击邀请码列表后的操作栏进行邀请码开户配置重新绑定操作；</div>
        <div class='red_margin'> 8.如果邀请码列表中有数据,则表示有邀请码绑定的配置大于预配值,不允许修改；</div>
        <div class='red'> 9.邀请码列表中无数据时才可以提交,在提交之前,至少必须要进行一次"查询平台邀请码"。</div>
      </fieldset>
      <span slot="footer">
        <el-button @click="reset_RebateConfig">取 消</el-button>
        <el-button type="primary" @click="saveRebateConfigPresetBind">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import {
    getRebateConfigPresetList,
    getRebateConfigPresetListByMember,
    getRebateConfigPresetListByInvite,
    postRebateConfigPresetBind,
    postRebateConfigAgentCodeBind
  } from 'api/members'
  import NP from 'number-precision'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import commonTable from './commonTable'

  export default {
    name: 'RebateConfigPresetList',
    components: { commonTable, fuzzyQuerySearch },
    props: {
      spCodes: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        innerVisible: false,
        listLoading: false,
        show_position_order_detail: false,
        bindObject: {
          spCode: '',
          uid: '',
          changeNextLevelMember: 1,
          rebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          },
          originalRebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          }
        },
        agentCodeList: [],
        dialogVisible: false,
        listQuery: {
          loginId: '',
          spCode: ''
        },
        memberAgent: '',
        memberConfigQuery: {
          spCode: '',
          parentId: '',
          pageNo: 1,
          pageSize: 10
        },
        memberSearchQuery: {},
        items: [], // 存储开户配置数据
        elements: [], // 存储会员开户配置数据
        total: 0,
        inviteItems: [], // 存储代理的邀请码及开户配置数据
        rebateQuery: {
          confSsc: '8.00',
          conf11x5: '8.00',
          confK3: '8.00',
          confKlsf: '8.00',
          confPk10: '8.00',
          confPcdd: '8.00',
          confSsl: '8.00',
          confFc3d: '8.00',
          confPl3: '8.00',
          confKl8: '8.00',
          confLhc: '8.00'
        },
        rebateQueryForSave: {
          confSsc: '8.00',
          conf11x5: '8.00',
          confK3: '8.00',
          confKlsf: '8.00',
          confPk10: '8.00',
          confPcdd: '8.00',
          confSsl: '8.00',
          confFc3d: '8.00',
          confPl3: '8.00',
          confKl8: '8.00',
          confLhc: '8.00'
        },
        lotteryTypeConfig: {
          confSsc: '时时彩',
          conf11x5: '11选5',
          confK3: '快3',
          confKlsf: '快乐十分',
          confPk10: 'PK10',
          confPcdd: 'PC蛋蛋',
          confSsl: '时时乐',
          confFc3d: '福彩3D',
          confPl3: '排列3',
          confKl8: '快乐8',
          confLhc: '六合彩'
        },
        bindQuery: {},
        spDetail: {
          originalRebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          }
        },
        innerForm: {
          uid: '',
          spCode: '',
          regType: '',
          rebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          },
          originalRebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          }
        }
      }
    },
    computed: {
      btnSearchDisabledStatus () {
        return !this.listQuery.spCode || !this.listQuery.loginId
      }
    },
    watch: {},
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      generateQueryClass (o, r) {
        return (parseFloat(o) < 0 || parseFloat(o) > parseFloat(r)) ? 'error' : ''
      },
      generateClass (o, n) {
        if (parseFloat(o) > parseFloat(n)) return 'red'
        return ''
      },
      clearNoNum (v) {
        // 先把非数字的都替换掉，除了数字和.
        v = v.replace(/[^\d.]/g, '')
        // 保证只有出现一个.而没有多个.
        v = v.replace(/\.{2,}/g, '.')
        // 必须保证第一个为数字而不是.
        v = v.replace(/^\./g, '')
        // 保证.只出现一次，而不能出现两次以上
        v = v.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')
        // 只能输入2个小数
        return v.replace(/^(\d+\.\d{2}).+/, '$1')
      },
      dFormatter (val, pop, e, defaultVal = '8.00') {
        let v = this.clearNoNum(val)
        if (!val || parseFloat(v) < 0 || parseFloat(v) > 100) v = defaultVal
        this.rebateQuery[pop] = e.target.value = v
      },
      searchPresetList () {
        this._getRebateConfigPresetList()
        this.elements = []
      },
      parseObject (obj) {
        const t = {}
        for (const pop in obj) {
          t[pop] = parseInt(obj[pop] * 100)
        }
        return t
      },
      formatObject (obj) {
        const t = {}
        for (const pop in obj) {
          t[pop] = NP.divide(parseFloat(obj[pop]), 100).toFixed(2)
        }
        return t
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this.memberSearchQuery = {
          ...this.memberSearchQuery, pageNo: this.listQuery.pageNo, pageSize: this.listQuery.pageSize
        }
        this._getRebateConfigPresetListByMember({ ...this.memberSearchQuery, pageNo: 1 })
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this.memberSearchQuery = { ...this.memberSearchQuery, pageNo: this.listQuery.pageNo }
        this._getRebateConfigPresetListByMember(this.memberSearchQuery)
      },
      searchMemberList (row) {
        // console.log(row)
        this.memberAgent = row.loginId
        this.memberSearchQuery = {
          ...this.memberConfigQuery, spCode: row.spCode, parentId: row.uid, ...this.rebateQueryForSave
        }
        this._getRebateConfigPresetListByMember(this.memberSearchQuery)
      },
      _getRebateConfigPresetListByMember (object) {
        this.elements = []
        getRebateConfigPresetListByMember(object).then((r) => {
          if (r.data.code === ERR_OK) {
            this.elements = r.data.data.elements
            this.total = r.data.data.totalCount
          }
        })
      },
      translateDataToTree (data, parentId = 0) {
        const tree = []
        let temp
        for (let i = 0; i < data.length; i++) {
          if (data[i].parentId === parentId) {
            const obj = data[i]
            temp = this.translateDataToTree(data, data[i].uid)
            if (temp.length > 0) {
              obj.children = temp
            }
            tree.push(obj)
          }
        }
        return tree
      },
      _getRebateConfigPresetList () {
        this.rebateQueryForSave = { ...this.parseObject(this.rebateQuery) }
        this.items = []
        this.listLoading = true
        getRebateConfigPresetList({ ...this.listQuery, ...this.rebateQueryForSave }).then((r) => {
          if (r.data.code === ERR_OK) {
            this.items = this.translateDataToTree(r.data.data.items)
          }
        })
        this.listLoading = false
      },
      resetForm () {
        for (const pop in this.rebateQuery) {
          this.rebateQuery[pop] = '8.00'
        }
      },
      // dialog关闭的清空
      clearDialog () {
        this.reset_RebateConfig()
        this.reset_SpRebateConfig()
      },
      // 这里重置重新绑定开户配置数据
      reset_RebateConfig () {
        this.bindObject = {
          spCode: '',
          uid: '',
          changeNextLevelMember: 1,
          rebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          },
          originalRebateQuery: {
            confSsc: '',
            conf11x5: '',
            confK3: '',
            confKlsf: '',
            confPk10: '',
            confPcdd: '',
            confSsl: '',
            confFc3d: '',
            confPl3: '',
            confKl8: '',
            confLhc: ''
          }
        }
        this.agentCodeList = []
        this.dialogVisible = false
      },
      // 这里关闭平台邀请码开户配置
      reset_SpRebateConfig () {
        this.innerVisible = false
      },
      // 显示开户配置ID的定位显示
      showOrderDetail (obj) {
        this.spDetail.originalRebateQuery = { ...obj.rebateInfo }
        this.show_position_order_detail = true
      },
      // 隐藏开户配置ID的定位显示
      hiddenOrderDetail () {
        this.show_position_order_detail = false
      },
      setBindingQuery (obj) {
        // console.log('obj', obj)
        this.bindObject = { ...this.bindObject, ...obj }
        const o = this.formatObject(this.rebateQueryForSave)
        this.bindObject.rebateQuery = { ...o }
        const { originalRebateQuery } = obj
        for (const pop in this.lotteryTypeConfig) {
          originalRebateQuery[pop] = NP.divide(parseFloat(originalRebateQuery[pop]), 100).toFixed(2)
        }
        this.bindObject.originalRebateQuery = { ...originalRebateQuery }
        console.log('bindObject', this.bindObject)
        this.dialogVisible = true
      },
      async searchRebateConfigPresetListByInvite () {
        console.log(this.bindObject.rebateQuery)
        const o = await this.parseObject(this.bindObject.rebateQuery)
        const query = await ({ spCode: this.bindObject.spCode, uid: this.bindObject.uid, ...o })
        getRebateConfigPresetListByInvite(query).then((r) => {
          if (r.data.code === ERR_OK) {
            this.agentCodeList = r.data.data.items
          }
        })
      },
      compareQuery (o, r) {
        let flag = false
        const re = /^\d+(\.\d{0,2})?$/
        for (const pop in this.lotteryTypeConfig) {
          if (!re.test(o[pop])) flag = true
          if (parseFloat(o[pop]) < 0) flag = true
          if (parseFloat(o[pop]) > parseFloat(r[pop])) flag = true
        }
        return flag
      },
      async saveRebateConfigPresetBind () {
        const flag = await this.compareQuery(this.bindObject.originalRebateQuery, this.bindObject.rebateQuery)
        if (flag) {
          this.$notify.error({
            title: '错误',
            message: '所填数值不符合要求,所填写的数值必须大于等于0且小于等于预设值'
          })
          return
        }
        const query = {
          spCode: this.bindObject.spCode,
          uid: this.bindObject.uid,
          changeNextLevelMember: this.bindObject.changeNextLevelMember
        }
        const q = await this.parseObject(this.bindObject.originalRebateQuery)
        if (this.bindObject.searchType === 2) {
          const o = this.parseObject(this.bindObject.rebateQuery)
          const qry = { spCode: this.bindObject.spCode, uid: this.bindObject.uid, ...o }
          const res = await getRebateConfigPresetListByInvite(qry)
          if (res.data.code === ERR_OK) {
            this.agentCodeList = res.data.data.items
          }
          if (this.agentCodeList.length > 0) {
            console.log(this.agentCodeList)
            this.$message({
              type: 'error',
              message: '请先调整平台邀请码列表!'
            })
            return
          }
        }
        postRebateConfigPresetBind({ ...query, ...q }).then((r) => {
          if (r.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '保存成功!'
            })
            this.dialogVisible = false
            if (this.bindObject.searchType === 2) {
              this.searchPresetList()
            } else {
              this._getRebateConfigPresetListByMember(this.memberSearchQuery)
            }
          }
        })
      },
      async showInnerDialog (obj) {
        console.log(obj)
        this.innerForm.uid = obj.uid
        this.innerForm.spCode = obj.spCode
        this.innerForm.agentCode = obj.agentCode
        this.innerForm.regType = obj.regType
        this.innerForm.rebateQuery = { ...this.bindObject.rebateQuery }
        const rebateInfo = { ...obj.rebateInfo }
        for (const pop in this.lotteryTypeConfig) {
          rebateInfo[pop] = NP.divide(parseFloat(rebateInfo[pop]), 100).toFixed(2)
        }
        this.innerForm.originalRebateQuery = { ...rebateInfo }
        this.innerVisible = true
      },
      async saveRebateConfigAgentCodeBind () {
        const flag = await this.compareQuery(this.innerForm.originalRebateQuery, this.innerForm.rebateQuery)
        if (flag) {
          this.$notify.error({
            title: '错误',
            message: '所填数值不符合要求,所填写的数值必须大于等于0且小于等于预设值'
          })
          return
        }
        const query = {
          uid: this.innerForm.uid,
          spCode: this.innerForm.spCode,
          agentCode: this.innerForm.agentCode,
          regType: this.innerForm.regType
        }
        const q = this.parseObject(this.innerForm.originalRebateQuery)
        const r = await postRebateConfigAgentCodeBind({ ...query, ...q })
        if (r.data.code === ERR_OK) {
          this.$message({
            type: 'success',
            message: '保存成功!'
          })
          this.searchRebateConfigPresetListByInvite()
          this.innerVisible = false
        }
      }
    },
    created () {},
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {
      rebateFixed (v) {
        return NP.divide(parseFloat(v), 100).toFixed(2)
      }
    }
  }
</script>

<style lang='scss' scoped>
  .red {
    color: red
  }

  .red_margin {
    color: red;
    margin-bottom: 5px;
  }

  .qing {
    color: #00D6EB
  }

  .fover_color {
    color: #0d11e9;
    cursor: pointer;
  }

  .position_sp_detail {
    position: relative;
  }

  .position_order_detail {
    position: absolute;
    /*left: 39%;*/
    background: #F5F7FA;

    .rebateBox {
      display: inline-block;
      width: 50%;
      margin-bottom: 5px;
      float: left;

      .name {
        display: inline-block;
        width: 65px;
        text-align: right;
      }

      .rebateControl {
        width: 120px;

        &.error {
          ::v-deep input {
            border: 1px solid #f00;
          }
        }
      }

      .brand {
        width: 35px;
      }
    }
  }

  .rebate-body {
    padding: 20px 10px;
    border: 1px solid #ddd;
    margin: 10px 0;

    .title {
      color: black;
      font-weight: bold;
    }

    .tab-title {
      margin: 0 0 10px;
    }

    .rebate-config-box {
      width: 100%;
      height: auto;

      .rebateBox {
        display: inline-block;
        width: 50%;
        margin-bottom: 5px;
        float: left;

        .name {
          display: inline-block;
          width: 65px;
          text-align: right;
        }

        .rebateControl {
          width: 120px;

          &.error {
            ::v-deep input {
              border: 1px solid #f00;
            }
          }
        }

        .brand {
          width: 35px;
        }
      }
    }
  }

  ::v-deep .el-dialog__footer {
    text-align: center;
  }

  ::v-deep .el-dialog__body {
    padding: 15px 20px 30px;
  }

  .container {
    ::v-deep .el-form-item {
      margin-bottom: 0 !important;

      &.rebate {
        label {
          float: left;
        }

        .el-form-item__content {
          display: inline-block;
          width: calc(100% - 75px);
          float: right;

          .rebateContainer {
            .rebateBox {
              display: inline-block;
              width: 180px;
              margin-bottom: 5px;
              float: left;

              .name {
                display: inline-block;
                width: 65px;
                text-align: right;
              }

              .rebateControl {
                width: 80px;
              }

              .brand {
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
</style>
