<template>
  <el-card>
    <el-form :inline="true" :model="listQuery">
      <el-form-item label="请选择厅:">
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item label="用户账号:">
        <!--								<el-input v-model="listQuery.loginId" style="width: 180px"-->
        <!--								          clearable-->
        <!--								          placeholder="请输入用户账号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入用户账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="listQuery.searchType" true-label='1' false-label='0'
                     :disabled='!listQuery.loginId'>
          查询直属下级
        </el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="listLoading || (!listQuery.spCode)|| hasPermission('RebateConfigList')">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <common-table table-key='RebateConfigList' :elements='elements' />
    <div v-if="totalCount" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { getRebateConfigList } from 'api/members'
  import { ERR_OK } from 'api/config'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import commonTable from './commonTable'

  export default {
    name: 'RebateConfigList',
    components: { commonTable, fuzzyQuerySearch },
    props: {
      spCodes: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        listLoading: false,
        listQuery: {
          loginId: '',
          spCode: '',
          searchType: 0,
          pageSize: 10,
          pageNo: 1
        },
        elements: [],
        totalCount: 0
      }
    },
    computed: {},
    watch: {
      'listQuery.loginId': function (nv, ov) {
        if (nv.length === 0) this.listQuery.searchType = 0
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getRebateConfigList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getRebateConfigList()
      },
      _getRebateConfigList () {
        this.listLoading = true
        getRebateConfigList(this.listQuery).then((r) => {
          if (r.data.code === ERR_OK) {
            this.elements = r.data.data.elements
            this.totalCount = r.data.data.totalCount
          }
        })
        this.listLoading = false
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getRebateConfigList()
      }
    },
    created () {},
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss'>
  .el-form-item__label {
    font-weight: normal;
  }
</style>
<style lang='scss' scoped>

</style>
