<template>
  <div class="drawer-container">
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <h3 class="drawer-title">{{ $t('settings.title') }}</h3>
      <div class='drawer-item'>
        <div class="color-option">
          <div class="layout">
            <div class="color-item flex pa" :title='item' v-for='(item,index) in skins'
                 :key='index'
                 :class="{current:item===headerTheme}"
                 @click='setSkin(item)'>
              <input type="radio" name="color" :value="item">
              <span class="color-option bg">
                <span class="overlay">
                  <i class="el-icon-check"></i>
                </span>
                <span class="item" :class="item"></span>
                <span class="item" :class="item"></span>
                <span class="item white"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-item">
        <span>{{ $t('settings.sidebar') }}</span>
        <el-radio-group v-model="fixedSidebar" class="fr" size="mini">
          <el-radio-button label="dark">深色</el-radio-button>
          <el-radio-button label="light">浅色</el-radio-button>
        </el-radio-group>
      </div>
      <div class="drawer-item">
        <span>{{ $t('settings.theme') }}</span>
        <theme-picker style="float: right;height: 26px;margin: -3px 8px 0 0;" @change="themeChange" />
      </div>

      <div class="drawer-item">
        <span>{{ $t('settings.tagsView') }}</span>
        <el-switch v-model="tagsView" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>{{ $t('settings.fixedHeader') }}</span>
        <el-switch v-model="fixedHeader" class="drawer-switch" />
      </div>

      <!--      <div class="drawer-item">-->
      <!--        <span>{{ $t('settings.sidebarLogo') }}</span>-->
      <!--        <el-switch v-model="sidebarLogo" class="drawer-switch"/>-->
      <!--      </div>-->
    </el-scrollbar>
  </div>
</template>

<script>
  import ThemePicker from 'components/ThemePicker'
  import Cookies from 'js-cookie'
  import { mapGetters } from 'vuex'

  export default {
    components: { ThemePicker },
    data () {
      return {
        skins: ['blue', 'teal', 'red', 'orange', 'purple', 'indigo', 'cyan', 'pink', 'green']
      }
    },
    computed: {
      ...mapGetters([
        'headerTheme'
      ]),
      fixedSidebar: {
        get () {
          return this.$store.state.settings.sidebarTheme
        },
        set (val) {
          this.$store.dispatch('settings/changeSetting', {
            key: 'sidebarTheme',
            value: val
          })
        }
      },
      fixedHeader: {
        get () {
          return this.$store.state.settings.fixedHeader
        },
        set (val) {
          this.$store.dispatch('settings/changeSetting', {
            key: 'fixedHeader',
            value: val
          })
        }
      },
      tagsView: {
        get () {
          return this.$store.state.settings.tagsView
        },
        set (val) {
          this.$store.dispatch('settings/changeSetting', {
            key: 'tagsView',
            value: val
          })
        }
      },
      sidebarLogo: {
        get () {
          return this.$store.state.settings.sidebarLogo
        },
        set (val) {
          this.$store.dispatch('settings/changeSetting', {
            key: 'sidebarLogo',
            value: val
          })
        }
      }
    },
    methods: {
      setSkin (item) {
        this.$store.dispatch('settings/setHeaderTheme', item)
      },
      themeChange (val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'theme',
          value: val
        })
        Cookies.set('theme', val)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .drawer-container {
    padding: 0 15px 15px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    height: 100%;

    .drawer-title {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, .85);
      font-size: 14px;
      line-height: 22px;
    }

    .drawer-item {
      color: rgba(0, 0, 0, .65);
      font-size: 14px;
      padding: 12px 0;

      .layout {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        min-width: 0;

        .flex {
          flex: 1 1 auto;
          flex-basis: 50%;
          flex-grow: 0;
          max-width: 50%;
        }

        .pa {
          padding: 4px !important;
        }

        .color-item {
          position: relative;
          display: block;
          cursor: pointer;

          &.current {
            .overlay {
              display: block !important;
            }
          }

          input[type=radio] + span {
            position: relative;
          }

          input {
            display: none;
          }

          .bg {
            background-color: #f1f1f1;
          }

          .color-option {
            overflow: hidden;
            display: block;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1);
            margin-bottom: 15px;

            .overlay {
              display: none;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, .3);
              text-align: center;
              line-height: 30px;
              color: #fff;
            }

            .item {
              display: block;
              float: left;
              width: 50%;
              height: 20px;

              &.blue {
                background-color: #2196f3 !important;
                border-color: #2196f3 !important;
              }

              &.teal {
                background-color: #009688 !important;
                border-color: #009688 !important;
              }

              &.red {
                background-color: #f44336 !important;
                border-color: #f44336 !important;
              }

              &.orange {
                background-color: #ff9800 !important;
                border-color: #ff9800 !important;
              }

              &.purple {
                background-color: #9c27b0 !important;
                border-color: #9c27b0 !important;
              }

              &.indigo {
                background-color: #3f51b5 !important;
                border-color: #3f51b5 !important;
              }

              &.cyan {
                background-color: #00bcd4 !important;
                border-color: #00bcd4 !important;
              }

              &.pink {
                background-color: #e91e63 !important;
                border-color: #e91e63 !important;
              }

              &.green {
                background-color: #4caf50 !important;
                border-color: #4caf50 !important;
              }

              &.white {
                background-color: #fff !important;
                border-color: #fff !important;
              }
            }
          }
        }
      }
    }

    .drawer-switch {
      float: right
    }
  }
</style>
