<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-input v-model="listQuery.methodName" style="width: 180px" clearable
                  placeholder="请输入请求的方法名"></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.status" placeholder="执行状态" style="width:120px"
                   clearable>
          <el-option
            v-for="item in statusData"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :picker-options="pickerOptions"
          :default-time="['00:00:00', '23:59:59']"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_searchList"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：由API模块向核心业务模块请求的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" width="150">
      </el-table-column>
      <el-table-column align="right" label="执行BEAN的包名" prop="packageName" min-width="320">
      </el-table-column>
      <el-table-column align="right" label="执行BEAN的名称" prop="beanName" min-width="160">
      </el-table-column>
      <el-table-column align="right" label="执行方法的名称" prop="methodName" min-width="180">
      </el-table-column>
      <el-table-column align="right" label="操作描述" prop="optDesc" min-width="200">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.optDesc}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.optDesc}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="执行参数" prop="params" width="120">
        <template slot-scope="scope" v-if="scope.row.params">
          <el-button type="text" @click="showDetail(scope.row.params)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="执行状态" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.status === 1 ? '失败' : '成功'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="失败信息" prop="errorDesc" width="120">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.errorDesc}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.errorDesc}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="响应结果" prop="resResult" width="120">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.resResult}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.resResult}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="耗时/毫秒" prop="times" width="120">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="500"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { getLoggerServiceList } from 'api/logs/'
  import JsonEditor from 'components/JsonEditor'
  import Settime from 'utils/settime'

  export default {
    components: {
      JsonEditor
    },
    data () {
      return {
        value: '',
        dataValue: [],
        popover_visible: false,
        listLoading: false,
        dialogFormVisible: false,
        listQuery: {
          methodName: '',
          beginTime: '',
          endTime: '',
          status: '',
          pageNo: 1,
          pageSize: 10
        },
        statusData: [{
          value: 0,
          label: '成功'
        }, {
          value: 1,
          label: '失败'
        }],
        elements: [],
        total: 0,
        text: {},
        pickerOptions: EnUSPickerOptions
      }
    },
    methods: {
      showDetail (v) {
        if (v) {
          if (v.indexOf('{') === -1) {
            let t = ''
            if (v.indexOf('title') > -1) {
              t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
            } else {
              t = v
            }
            v = `{"result":"${t.replace('\"{', '{').replace('}\"', '}')}"}`
          }
          this.value = JSON.parse(v)
        }
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this._searchList()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._searchList()
      },
      _searchList () {
        // if (this.listQuery.beginTime && this.listQuery.endTime) {
        // const t = new Date(this.listQuery.beginTime)
        // const tt = new Date(this.listQuery.endTime)
        // this.listQuery.beginTime = parseTime(t)
        // this.listQuery.endTime = parseTime(tt)
        // } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        // this.$message({
        // type: 'error',
        // message: '开始时间和结束时间必须成对出现'
        // })
        // return
        // }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.getLogger()
      },
      getLogger () {
        this.listLoading = true
        getLoggerServiceList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items.map((r) =>
              // r.params = r.params.replace(/[\\\/\b\f\n\r\t]/g, '')
              r)
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this._searchList()
    }
  }
</script>
<style scoped lang="scss">
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .editor-container {
    position: relative;
    height: 100%;
  }

  ::v-deep .el-dialog__body {
    padding: 10px 20px;

    .components-container {
      margin: 10px;
    }

  }
</style>
