<template>
		<el-card>
				<el-form :inline='true'>
						<el-form-item>
								<!--								<el-select filterable style="width: 150px" placeholder="请选择厅主"-->
								<!--								           clearable default-first-option-->
								<!--								           v-model="listQuery.spCode">-->
								<!--										<el-option-->
								<!--											v-for="item in spList"-->
								<!--											:key="item.id"-->
								<!--											:label="item.id"-->
								<!--											:value="item.id">-->
								<!--										</el-option>-->
								<!--								</el-select>-->
								<fuzzy-query-search
									:options='{type:"spCode",placeholder:"请输入厅编码"}'
									@dealChange='dealChange'></fuzzy-query-search>
						</el-form-item>
						<el-form-item>
								<el-select v-model="lotteryTypeId" clearable filterable default-first-option placeholder="选择彩种类型"
								           style='width: 150px'
								           @change="handleChange">
										<el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.lotteryId" clearable filterable default-first-option placeholder="选择彩种"
								           style='width: 150px'>
										<el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-date-picker
									v-model="dataValue"
									type="daterange"
									clearable
									unlink-panels
									@change="dataTimeChangeGet"
									:picker-options="listQuery.timeZone ===1?pickerOptions:pickerOptions1"
									range-separator="至"
									:default-time="['00:00:00', '23:59:59']"
									start-placeholder="开始时间"
									end-placeholder="结束时间"
									align="right">
								</el-date-picker>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" @click.native="search"
								           icon="el-icon-search"
								           :disabled="hasPermission('ReportOptAnalysisList')"
								           :loading="listLoading">查询
								</el-button>
						</el-form-item>

				</el-form>
				<!--<el-alert-->
				<!--effect="dark"-->
				<!--title="温馨提醒：1、厅不选则查询所有厅，所有彩种的统计信息 2、选择厅不选彩种，则查询该厅下所有彩种的统计信息 3、选择厅选择彩种则查询该厅下指定彩种的统计信息"-->
				<!--type="warning"-->
				<!--style="margin-bottom: 5px"-->
				<!--show-icon>-->
				<!--</el-alert>-->
				<el-table
					:data="items"
					border
					:summary-method="getSummaries"
					show-summary
					v-loading="listLoading"
					element-loading-text="拼命加载中"
					element-loading-spinner="el-icon-loading"
					style="width: 100%">
						<el-table-column
							prop="spCode"
							align="right"
							label="所属厅主">
								<template slot-scope="scope">{{scope.row.spCode?scope.row.spCode:'--'}}</template>
						</el-table-column>
						<el-table-column
							prop="lotteryName"
							align="right"
							label="彩种名称">
						</el-table-column>
						<el-table-column
							prop="totalBetMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'totalBetMoney')"
							align="right"
							label="投注总额">
						</el-table-column>
						<el-table-column
							prop="betTotal"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'betTotal')"
							align="right"
							label="投注单量">
						</el-table-column>
						<el-table-column
							prop="revokeBetMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'revokeBetMoney')"
							align="right"
							label="撤单总额">
						</el-table-column>
						<el-table-column
							prop="revokeBetTotal"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'revokeBetTotal')"
							align="right"
							label="撤单单量">
						</el-table-column>
						<el-table-column
							prop="validBetMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'validBetMoney')"
							align="right"
							width='150'
							label="有效投注总额/元">
						</el-table-column>
						<!-- <el-table-column
							prop="agentRebateMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'agentRebateMoney')"
							align="right"
							label="代理返点/元">
						</el-table-column> -->
						<el-table-column
							prop="winningMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
							align="right"
							label="中奖总额/元">
						</el-table-column>
						<el-table-column
							prop="profitMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'profitMoney')"
							align="right"
							label="盈亏总额/元">
						</el-table-column>
						<el-table-column
							prop="validBetNum"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'validBetNum')"
							align="right"
							label="有效投注人数">
						</el-table-column>
						<el-table-column
							prop="validBetTotal"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'validBetTotal')"
							align="right"
							label="有效投注笔数">
						</el-table-column>
						<el-table-column
							align="right"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'slewRate')"
							label="杀率">
								<template slot-scope='scope'>
										<span>{{scope.row.slewRate}}%</span>
								</template>
						</el-table-column>
				</el-table>
				<div v-if="total" class="pagination-container fr">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						               :current-page.sync="listQuery.pageNo"
						               :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
						               layout="total, sizes, prev, pager, next, jumper" :total="total">
						</el-pagination>
				</div>
		</el-card>
</template>
<script>
import { getReportOptAnalysisList } from 'api/report'
import Settime from 'utils/settime'
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import {
  parseTime,
  EnUSPickerOptions,
  BGPickerOptions,
  check3Month
} from 'utils/index'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

export default {
  components: { fuzzyQuerySearch },
  name: 'index',
  data () {
    return {
      items: [],
      dataValue: [],
      pickerOptions: BGPickerOptions,
      pickerOptions1: EnUSPickerOptions,
      lotteryTypeId: '',
      total: 0,
      // spList: [],
      listQuery: {
        spCode: '',
        lotteryId: '',
        beginTime: '',
        endTime: '',
        // loginId: '',
        // timeZone: 2,
        // displaySort: 1,
        pageSize: 10,
        pageNo: 1
      },
      options: [],
      listLoading: false,
      loaded: false,
      lotteryTypeList: []
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    // 排序功能
    sortMethod (obj1, obj2, column) {
      const v1 = obj1[column]
      const v2 = obj2[column]
      return v1 - v2
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '总计'
          return
        }
        if (index === 1) {
          sums[index] = ''
          return
        }
        const values = data.map((item) => Number(item[column.property]))
        if (!values.every((value) => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            }
            return prev
          }, 0)
          if (index !== 0 && index !== 3 && index !== 5 && index !== 10 && index !== 11) sums[index] = sums[index].toFixed(2)
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    dataTimeChangeGet (v) {
      if (!v) this.dataValue = []
    },
    handleChange (val) {
      this.resetSelect()
      this._getLotteryInfoList()
    },
    resetSelect () {
      this.options = []
      this.listQuery.lotteryId = ''
    },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    // 获取彩种类型列表
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
        }
      })
    },
    // 获取彩种列表
    _getLotteryInfoList () {
      getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getReportOptAnalysisList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getReportOptAnalysisList()
    },
    _getReportOptAnalysisList () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getReportOptAnalysisList(this.listQuery).then((res) => {
        // 杀率=1-(中奖金额+投注返点额)/有效投注额
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items.map((v) => {
            // v.slewRate = (100 - 100 * ((Number(v.profitMoney)) / v.validBetMoney)).toFixed(2)
            if (v.validBetMoney === '0.00') {
              v.slewRate = '-'
            } else {
              v.slewRate = (100 * (parseFloat(v.profitMoney) / parseFloat(v.validBetMoney))).toFixed(2)
            }
            return v
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    search () {
      if (this.lotteryTypeId) {
        if (!this.listQuery.lotteryId) {
          this.$message({
            type: 'error',
            message: `请选择彩种`
          })
          return
        }
      }
      this.listQuery.pageNo = 1
      this._getReportOptAnalysisList()
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    // this._getSpInfoList()
    this._getLotteryTypeList()
  }
}
</script>

<style lang='scss' scoped>

</style>
