<template>
		<svg class="svg-icon" aria-hidden="true">
				<use :xlink:href="iconName"></use>
		</svg>
</template>

<script>
export default {
  name: 'icon-svg',
  props: {
    iconClass: {
      type: String,
      required: true
    }
  },
  computed: {
    iconName () {
      return `#icon-${this.iconClass}`
    }
  }
}
</script>
