<template>
  <div>
    <el-tabs
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        v-model="activeName" @tab-click="tabClick" style="margin-top: -15px">
      <el-tabs v-model="activeLottery" class="splTplTab" @tab-click="tabLotteryClick">
        <el-tab-pane v-for="item in spTplLotteryList" :label="item.name" :name="item.id"
                     :key="item.id"></el-tab-pane>
      </el-tabs>
      <el-tabs v-model="activePlayType" class="splTplTab" @tab-click="setPlayTabId">
        <el-tab-pane v-for="item in spTplPlayTypeList" :label="item.name" :name="item.id"
                     :key="item.id"></el-tab-pane>
      </el-tabs>
      <!--      <el-tabs v-model="playTabMode.mode" class="tab-play-mode" @tab-click="tabModeClick">-->
      <!--        <el-tab-pane v-for="item in playTabMode.value" :label="item.v" :name="item.k" :key="item.k">-->
      <!--          <el-button-group class="btn-group">-->
      <!--            <el-button type="text" size="mini" disabled v-if="!playTabList.length">暂无</el-button>-->
      <!--            <el-button type="text" size="mini" v-for="playTab in playTabList" :key="playTab.id"-->
      <!--                       @click.native="setPlayTabId(playTab.id)"-->
      <!--                       :class="{active: playTabId === playTab.id}">-->
      <!--              {{ playTab.name }}-->
      <!--            </el-button>-->
      <!--          </el-button-group>-->
      <!--        </el-tab-pane>-->
      <!--      </el-tabs>-->
      <br>
      <el-tab-pane v-for="item in lotteryGroupList" :label="item.name" :name="item.name"
                   :key="item.name">
      </el-tab-pane>
      <keep-alive>
        <el-table :data="allData" border fit style="width: 100%"
                  :key="tabHashKey"
                  max-height='600'
                  ref="listTable"
                  element-loading-text="拼命加载中"
                  element-loading-spinner="el-icon-loading"
                  :row-key="getRowKeys"
                  @cell-click="checkRowOrNot"
                  @selection-change="handleSelectionChange"
                  v-loading="!loaded">
          <el-table-column prop="status"
                           label="玩法开关"
                           align="right"
                           min-width="200">
            <template slot-scope="scope">
              <!--<el-switch-->
              <!--v-model="scope.row.status"-->
              <!--@change="sChangeStatus(scope.row)"-->
              <!--active-color="#13ce66"-->
              <!--inactive-color="#ff4949"-->
              <!--:disabled="scope.row.Disabled"-->
              <!--active-value="1"-->
              <!--inactive-value="0"-->
              <!--active-text="开"-->
              <!--inactive-text="关">-->
              <!--</el-switch>-->
              <el-radio-group v-model="scope.row.status" size="mini" @change="sChangeStatus(scope.row)">
                <el-radio-button :label="1">启用</el-radio-button>
                <el-radio-button :label="0">禁用</el-radio-button>
                <el-radio-button :label="99" v-if="activeLottery!=='0'">删除</el-radio-button>
              </el-radio-group>
            </template>
          </el-table-column>
          <el-table-column
              align="right"
              label="是否已编辑"
              v-if="activeLottery!=='0'"
              min-width="100">
            <template slot-scope="scope">
              <span :class="{'red':scope.row.isEdit===1}">{{ scope.row.isEdit ? '是' : '否' }}</span>
            </template>
          </el-table-column>
          <el-table-column
              align="right"
              prop="chk"
              label="赔率修改选择"
              min-width="120">
            <template slot-scope="scope">
              <el-checkbox v-model="scope.row.chk"
                           @change="ChkChange(scope.row)"></el-checkbox>
            </template>
          </el-table-column>
          <el-table-column prop="playTypeName" label="玩法分类" align="right" min-width="100"></el-table-column>
          <el-table-column prop="playName" label="玩法名称" align="right" min-width="100">
            <template slot-scope="scope">
              <span class="playTitle">{{ scope.row.playName }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="theoryPrize" label="理论赔率(元)" align="right" min-width="100">
          </el-table-column>
          <el-table-column prop="maxPrize" label="最高赔率(元)" align="right" min-width="120">
            <template slot-scope="scope">
              <el-tooltip v-if="scope.row.childList" class="item" effect="dark" content="编辑赔率" placement="top">
                <el-button icon="el-icon-edit" @click.native="checkEdit(scope.row)" size="mini" type="text"></el-button>
              </el-tooltip>
              <el-input v-else v-model="scope.row.maxPrize" type="text" step="0.01" @focus="cloneValue"
                        @blur="dFormatter(scope.row,scope.row.maxPrize,1,'maxPrize',$event)"></el-input>
            </template>
          </el-table-column>
          <!--          <el-table-column prop="minPrize" label="最低赔率(元)" align="right" min-width="100">-->
          <!--          </el-table-column>-->
          <el-table-column prop="creditMoney" label="信用额度(元)" align="right" min-width="120">
          </el-table-column>
          <el-table-column prop="eachMaxBet" label="单注最大(元)" align="right" min-width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.eachMaxBet" type="text" step="0.01" @focus="cloneValue"
                        @blur="dFormatter(scope.row,scope.row.eachMaxBet,2,'eachMaxBet',$event)"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="eachMinBet" label="单注最小(元)" align="right" min-width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.eachMinBet" type="text" step="0.01" @focus="cloneValue"
                        @blur="dFormatter(scope.row,scope.row.eachMinBet,3,'eachMinBet',$event)"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="itemMaxBet" label="单项最大(元)" align="right" min-width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.itemMaxBet" type="text" step="0.01"
                        @blur="dFormatter(scope.row,scope.row.itemMaxBet,2,'itemMaxBet',$event)"
                        @focus="cloneValue"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="itemMaxCount" label="单项选号数最大" align="right" min-width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.itemMaxCount" type="number"
                :disabled="!scope.row.isMaxCountSupported"
                onkeyup="value=value.replace(/[^\d.]/g,'')"
                @blur="dFormatter(scope.row,scope.row.itemMaxCount,2,'itemMaxCount',$event)"
                @focus="cloneValue"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="eachMaxCount" label="单注选号数最大" align="right" min-width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.eachMaxCount" type="number"
                :disabled="!scope.row.isMaxCountSupported"
                onkeyup="value=value.replace(/[^\d.]/g,'')"
                @blur="dFormatter(scope.row,scope.row.eachMaxCount,2,'eachMaxCount',$event)"
                @focus="cloneValue"></el-input>
            </template>
          </el-table-column>
        </el-table>
      </keep-alive>
      <div class="trader-b-toolbar" id="TraderFoot">
        <div class="tbt-in">
          <div class="tbt-slct">
            <span>增量</span>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===5?'btn-green':'' ]"
               @click="stepClick(5)">5</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===4?'btn-green':'' ]"
               @click="stepClick(4)">4</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===3?'btn-green':'' ]"
               @click="stepClick(3)">3</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===2?'btn-green':'' ]"
               @click="stepClick(2)">2</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===1?'btn-green':'' ]"
               @click="stepClick(1)">1</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.5?'btn-green':'' ]"
               @click="stepClick(0.5)">0.5</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.4?'btn-green':'' ]"
               @click="stepClick(0.4)">0.4</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.3?'btn-green':'' ]"
               @click="stepClick(0.3)">0.3</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.2?'btn-green':'' ]"
               @click="stepClick(0.2)">0.2</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.1?'btn-green':'' ]"
               @click="stepClick(0.1)">0.1</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.02?'btn-green':'' ]"
               @click="stepClick(0.02)">0.02</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.01?'btn-green':'' ]"
               @click="stepClick(0.01)">0.01</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.005?'btn-green':'' ]"
               @click="stepClick(0.005)">0.005</a>
            <a href="javascript:;" :class="[ 'btn', 'tbt-num',step===0.001?'btn-green':'' ]"
               @click="stepClick(0.001)">0.001</a>
            <a href="javascript:;" class="btn btn-green" @click="stepCancel">取消选择</a>
            <span>动作</span>
            <a href="javascript:;" class="btn btb-action" @click="stepDown">-</a>
            <a href="javascript:;" class="btn btb-action" @click="stepUp">+</a>
          </div>
          <div class="tbt-edit">
            <span>赔率</span>
            <input type="text" v-model="modifyRate" @blur='limitNumInput($event)'>
            <a href="javascript:;" class="btn btn-green" @click="subMitRateAll">修改</a>
            <a href="javascript:;" class="btn btn-green" @click="MitRateSelectAll">赔率修改-{{
                RateSelectAll ? '全选' : '全不选'
              }}</a>
          </div>
        </div>
      </div>
      <br>
      <el-dialog title="编辑" :visible.sync="dialogTableVisible" width='1000px'>
        <el-table :data="gridData.childList" border fit :key="tabHashKey" max-height='600'>
          <el-table-column prop="status" label="开通状态" align="right" min-width="100">
            <template slot-scope="scope">
              <el-radio-group v-model="scope.row.status" size="mini" @change="sChangeStatus2(scope.row)">
                <el-radio-button :label="1">启用</el-radio-button>
                <el-radio-button :label="0">禁用</el-radio-button>
                <el-radio-button :label="99" v-if="activeLottery!=='0'">删除</el-radio-button>
              </el-radio-group>
            </template>
          </el-table-column>
          <el-table-column
              align="right"
              label="是否已编辑"
              v-if="activeLottery!=='0'"
              width="100">
            <template slot-scope="scope">
              <span :class="{'red':scope.row.isEdit===1}">{{ scope.row.isEdit ? '是' : '否' }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="playTypeName" label="玩法分类" align="right" width="100"></el-table-column>
          <el-table-column prop="playName" label="玩法名称" align="right" min-width="150">
            <template slot-scope="scope">
              <span class="playTitle">{{ scope.row.playName }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="theoryPrize" label="理论赔率(元)" align="right" width="130">
          </el-table-column>
          <el-table-column prop="maxPrize" label="最高赔率(元)" align="right" width="180">
            <template slot-scope="scope">
              <el-input v-model="scope.row.maxPrize" type="text" step="0.01"
                        @blur="dFormatter2(scope.row,scope.row.maxPrize,$event)"
                        @focus="cloneValue"></el-input>
            </template>
          </el-table-column>
          <!--          <el-table-column prop="minPrize" label="最低赔率(元)" align="right" width="150">-->
          <!--          </el-table-column>-->
        </el-table>
        <span slot="footer" class="dialog-footer">
        <el-button @click.native="resetData">取 消</el-button>
        <el-button type="primary" @click.native="submitData">提 交</el-button>
      </span>
      </el-dialog>
    </el-tabs>
    <qr-code-dialog @transformSecond="transformSecond" :api-type='apiType' key='SpTplPlaySetUp'></qr-code-dialog>
  </div>
</template>

<script>
import { ERR_OK } from 'api/config'
import { mapState, mapActions } from 'vuex'
import { getAjaxData } from 'api/common'
import NP from 'number-precision'
import { getSpTplPlayList, getSpTplLotteryPlayList, postSpTplLotteryPlaySwitchUp } from 'api/spltpl/'
import QrCodeDialog from 'components/QrCodeDialog/index'

export default {
  // props: {
  //   lotteryGroupList: {
  //     type: Array,
  //     default: () => []
  //   }
  // },
  data () {
    return {
      apiType: ['sea_SpTplPlaySetUp', 'sea_SpTplLotteryPlaySetUp', 'sea_SpTplLotteryPlaySwitchUp'],
      activePlayType: '',
      lotteryGroupList: [],
      spTplLotteryList: [],
      spTplPlayTypeList: [],
      activeLottery: '0',
      getPlayFunction: null,
      switchStatusSelectALL: true,
      tabHashKey: 0,
      RateSelectAll: true,
      multipleSelection: [],
      gridData: {},
      step: 0,
      modifyRate: 0,
      dialogTableVisible: false,
      tabLoaded: true,
      loaded: true,
      timeMin: 200,
      activeName: '',
      // tabPos: 1,
      subTabPos: 0,
      query: {},
      total: 0,
      pageCon: {
        pageNo: 1,
        pageSize: 10
      },
      spTplLotteryTypeRebateRate: 0,
      spTplProfitRate: 0,
      sysSpProfitRate: 0,
      showPagination: false,
      cacheResData: [],
      tempValue: '',
      playTabMode: {
        mode: '1', // default
        value: [
          { k: '1', v: '官方玩法' },
          { k: '2', v: '信用玩法' }
        ]
      },
      playTabList: [] // 玩法类别列表,
    }
  },
  components: { QrCodeDialog },
  methods: {
    transformSecond () {
      this.resetData()
    },
    MitRateSelectAll () {
      this.RateSelectAll = !this.RateSelectAll
      if (!this.RateSelectAll) {
        console.log('进来了')
        this.allData.forEach((m) => {
          if (!m.childList) {
            console.log('进来了啊')
            m.chk = true
            this.multipleSelection.push({ ...m })
          }
        })
      } else {
        this.allData.forEach((m) => {
          m.chk = false
        })
        this.multipleSelection = []
      }
    },
    sChangeStatus (row) {
      row.isEditRow = true
      if (this.activeLottery !== '0') {
        const typeName = row.status === 1 ? '启用' : row.status === 0 ? '禁用' : '删除'
        let txt = `将${typeName}玩法类型为${row.playTypeName}中的${row.playName}及其下面的子玩法， 是否继续?`
        if (row.status === 99) txt = `点击${typeName}按钮，将使用该彩种类型下对应玩法的玩法信息， 是否继续?`
        this.$confirm(`${txt}`, '友情提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let playIds = row.playId
          if (row.childList) {
            row.childList.forEach((v) => {
              playIds += `,${v.playId}`
            })
          }
          postSpTplLotteryPlaySwitchUp({
            spTplId: this.rowId,
            spCode: this.spCode,
            lotteryId: this.activeLottery,
            playIds,
            status: row.status,
            playGroupId: this.playGroupId
          }).then((r) => {
            if (r.data.code === ERR_OK) this.getPlayList()
          })
        }).catch(() => {
          row.status = row.status_
        })
      } else if (row.childList) {
        row.childList.forEach((v) => {
          v.status = row.status
        })
      }
    },
    ChkChange (r) {
      this.multipleSelection = [].concat(this.allData.filter((ele) => ele.chk))
    },
    clearNoNum (v) {
      // 先把非数字的都替换掉，除了数字和.
      v = v.replace(/[^\d.]/g, '')
      // 保证只有出现一个.而没有多个.
      v = v.replace(/\.{2,}/g, '.')
      // 必须保证第一个为数字而不是.
      v = v.replace(/^\./g, '')
      // 保证.只出现一次，而不能出现两次以上
      v = v.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')
      // 只能输入三个小数
      return v.replace(/^(-)*(\d+)\.(\d\d\d).*$/, '$1$2.$3')
    },
    limitNumInput (e) {
      this.modifyRate = e.target.value = this.clearNoNum(e.target.value)
    },
    subMitRateAll () {
      if (!this.modifyRate || parseFloat(this.modifyRate) === 0 || this.modifyRate === 0) return
      if (!this.multipleSelection.length) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '请先勾选需要修改的玩法赔率',
          offset: 100,
          duration: 3000
        })
        return
      }
      const re = /^\d+(\.\d{0,3})?$/
      if (parseFloat(this.modifyRate) < 0) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '不能为负数',
          offset: 100,
          duration: 3000
        })
        return
      }
      if (!re.test(this.modifyRate)) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '输入的数值不正确，最高精确到三位小数',
          offset: 100,
          duration: 3000
        })
        return
      }
      const str = `此操作将所选的${this.multipleSelection.length}条玩法赔率批量修改为`
      this.$confirm(`${str} ${this.modifyRate}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.multipleSelection.forEach((v) => {
          // const minPrize = (Math.floor(Math.round(this.modifyRate * 1000) / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
          // const str = `${v.playTypeName}-${v.playName}`
          // if (minPrize < 0) {
          //   setTimeout(() => {
          //     this.$notify({
          //       type: 'error',
          //       title: '错误',
          //       message: `${str}的最低赔率不能为负`,
          //       offset: 100,
          //       duration: 3000
          //     })
          //   }, 100)
          //   v.isEditRow = false
          //   return
          // }
          // if (NP.minus(this.modifyRate, minPrize) < 0) {
          //   setTimeout(() => {
          //     this.$notify({
          //       type: 'error',
          //       title: '错误',
          //       message: `${str}的最高赔率不能低于最低赔率`,
          //       offset: 100,
          //       duration: 3000
          //     })
          //   }, 100)
          //   v.isEditRow = false
          //   return
          // }
          v.maxPrize = this.modifyRate
          // v.minPrize = minPrize
          v.isEditRow = true
        })
        this.resolveData()
      })
    },
    resolveData () {
      this.spTplSaveSet2(this.multipleSelection).then(() => {
        this.multipleSelection = []
        this.getPlayList()
      })
    },
    stepClick (v) {
      this.step = v
    },
    stepCancel () {
      this.step = 0
    },
    stepDown () {
      this.resolveDD(2, this.step)
    },
    resolveDD (type, v) {
      if (!this.step) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '请先选择增量',
          offset: 100,
          duration: 3000
        })
        return
      }
      if (!this.multipleSelection.length) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '请先勾选需要修改的玩法赔率',
          offset: 100,
          duration: 3000
        })
        return
      }
      let str = ''
      switch (type) {
        case 2:
          str = `此操作将所选的${this.multipleSelection.length}条玩法赔率减小`
          break
        default:
          str = `此操作将所选的${this.multipleSelection.length}条玩法赔率增加`
      }
      this.$confirm(`${str} ${v}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.multipleSelection.forEach((v) => {
          const maxPrize = type === 3 ? NP.plus(v.maxPrize, this.step).toFixed(3) : NP.minus(v.maxPrize, this.step).toFixed(3)
          // const minPrize = (Math.floor(Math.round(maxPrize * 1000) / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
          const str = `${v.playTypeName}-${v.playName}`
          if (parseFloat(maxPrize) < 0) {
            setTimeout(() => {
              this.$notify({
                type: 'error',
                title: '错误',
                message: `${str}的最高赔率不能为负数`,
                offset: 100,
                duration: 3000
              })
            }, 100)
            return
          }
          // if (minPrize < 0) {
          //   setTimeout(() => {
          //     this.$notify({
          //       type: 'error',
          //       title: '错误',
          //       message: `${str}的最低赔率不能为负`,
          //       offset: 100,
          //       duration: 3000
          //     })
          //   }, 100)
          //   v.isEditRow = false
          //   return
          // }
          // if (NP.minus(maxPrize, minPrize) < 0) {
          //   setTimeout(() => {
          //     this.$notify({
          //       type: 'error',
          //       title: '错误',
          //       message: `${str}的最高赔率不能低于最低赔率`,
          //       offset: 100,
          //       duration: 3000
          //     })
          //   }, 100)
          //   v.isEditRow = false
          //   return
          // }
          v.maxPrize = maxPrize
          // v.minPrize = minPrize
          v.isEditRow = true
        })
        this.resolveData()
      })
    },
    stepUp () {
      this.resolveDD(3, this.step)
    },
    handleSelectionChange (val) {
      this.multipleSelection = []
      val.forEach((m) => {
        this.multipleSelection.push({ ...m })
      })
    },
    checkRowOrNot (r, col, cell, e) {
      if (r.childList) return
      if (col.property === 'chk' && e.target.className === 'cell') {
        r.chk = !r.chk
      }
      this.ChkChange(r)
    },
    submitData () {
      const arr = []
      arr.push(this.gridData)
      this.$confirm('是否确认修改?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.spTplSaveSet2(arr).then(() => {
          this.dialogTableVisible = false
          this.resetData()
        })
      })
    },
    cloneValue (e) {
      this.tempValue = e.target.value
    },
    dFormatter2 (row, v, e) {
      if (parseFloat(this.tempValue) === parseFloat(v)) return
      this.gridData.isEditRow = true
      v = e.target.value = this.clearNoNum(v)
      // const minPrize = (Math.floor(Math.round(v * 1000) / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
      // if (minPrize < 0) {
      //   this.$notify({
      //     type: 'error',
      //     title: '错误',
      //     message: '最低赔率不能为负',
      //     offset: 100
      //   })
      //   e.target.value = row.maxPrize = row.maxPrize_
      //   this.gridData.isEditRow = false
      //   return
      // }
      // if (NP.minus(v, minPrize) < 0) {
      //   this.$notify({
      //     type: 'error',
      //     title: '错误',
      //     message: '最高赔率不能低于最低赔率',
      //     offset: 100
      //   })
      //   e.target.value = row.maxPrize = row.maxPrize_
      //   this.gridData.isEditRow = false
      //   return
      // }
      // row.minPrize = minPrize
      row.isEditRow = true
    },
    async sChangeStatus2 (row) {
      // this.gridData.status = row.status
      // for (let i = 0; i < this.gridData.childList.length; i++) {
      //   if (this.gridData.childList[i].status === '1') {
      //     this.gridData.status = '1'
      //     break
      //   }
      // }
      this.gridData.isEditRow = true
      if (this.activeLottery !== '0') {
        const typeName = row.status === 1 ? '启用' : row.status === 0 ? '禁用' : '删除'
        let txt = `将${typeName}玩法类型为${row.playTypeName}中的${row.playName}及其下面的子玩法， 是否继续?`
        if (row.status === 99) txt = `点击${typeName}按钮，将使用该彩种类型下对应玩法的玩法信息， 是否继续?`
        this.$confirm(`${txt}`, '友情提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let playIds = row.playId
          if (row.status === 1) playIds += `,${this.gridData.playId}`
          postSpTplLotteryPlaySwitchUp({
            spTplId: this.rowId,
            spCode: this.spCode,
            lotteryId: this.activeLottery,
            playIds,
            status: row.status
          }).then((r) => {
            if (r.data.code === ERR_OK) {
              if (row.status === 1) this.gridData.status = row.status
              row.isEdit = 1
              row.isEditRow = true
              this.$message(`${typeName}成功!`)
            }
          })
        }).catch(() => {
          row.status = row.status_
        })
      }
    },
    resetData () {
      this.getPlayList()
      this.dialogTableVisible = false
    },
    checkEdit (row) {
      this.gridData = row
      this.dialogTableVisible = true
    },
    getRowKeys (row) {
      return row.id
    },
    dFormatter (row, v, flag, pop, e) {
      const value = this.clearNoNum(v)
      e.target.value = row[pop] = value
      const _pop_ = `${pop}_`
      row.isEditRow = true
      const re = pop === 'maxPrize' ? /^\d+(\.\d{0,3})?$/ : /^\d+(\.\d{0,2})?$/
      const lenText = pop === 'maxPrize' ? '三' : '两'
      if (!re.test(v)) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: `输入的数值不正确，只允许${lenText}位小数`,
          offset: 100
        })
        e.target.value = row[pop] = row[_pop_]
        row.isEditRow = false
        return
      }
      // let minPrize
      switch (flag) {
        case 2:
          if (NP.minus(v, row.creditMoney) > 0) {
            this.$notify({
              type: 'error',
              title: '错误',
              message: '不能大于最大信用额度',
              offset: 100
            })
            e.target.value = row[pop] = row[_pop_]
            row.isEditRow = false
            return
          }
          row.isExtenalEdit = true
          this.spTplSetTableData({ cmd: this.cmd, data: this.tableData })
          break
        case 3:
          if (NP.minus(v, row.creditMoney) > 0) {
            this.$notify({
              type: 'error',
              title: '错误',
              message: '不能大于最大信用额度',
              offset: 100
            })
            e.target.value = row[pop] = row[_pop_]
            row.isEditRow = false
            return
          }
          if (NP.minus(v, row.eachMaxBet) > 0) {
            this.$notify({
              type: 'error',
              title: '错误',
              message: '不能大于单注最大下注额',
              offset: 100
            })
            e.target.value = row[pop] = row[_pop_]
            row.isEditRow = false
            return
          }
          row.isExtenalEdit = true
          this.spTplSetTableData({ cmd: this.cmd, data: this.tableData })
          break
        default:
          // minPrize = (Math.floor(Math.round(v * 1000) / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
          // if (minPrize < 0) {
          //   this.$notify({
          //     type: 'error',
          //     title: '错误',
          //     message: '最低赔率不能为负',
          //     offset: 100
          //   })
          //   e.target.value = row[pop] = row[_pop_]
          //   row.isEditRow = false
          //   return
          // }
          // if (NP.minus(v, minPrize) < 0) {
          //   this.$notify({
          //     type: 'error',
          //     title: '错误',
          //     message: '最高赔率不能低于最低赔率',
          //     offset: 100
          //   })
          //   e.target.value = row[pop] = row[_pop_]
          //   row.isEditRow = false
          //   return
          // }
          // row.minPrize = minPrize
          this.spTplSetTableData({ cmd: this.cmd, data: this.tableData })
      }
    },
    async getPlayList () {
      this.switchStatusSelectALL = true
      this.RateSelectAll = true
      this.multipleSelection = []
      let query = {
        spTplId: this.rowId,
        spCode: this.spCode,
        playTypeId: this.activePlayType
      }
      if (this.activeLottery !== '0') {
        query = { ...query, lotteryId: this.activeLottery }
      } else {
        query = {
          ...query,
          playGroupId: this.playGroupId
        }
      }
      const res = await this.getPlayFunction(query)
      if (res.data.code === ERR_OK) {
        // 转status为布尔值 v-model只识别为布尔值的变量
        this.spTplLotteryTypeRebateRate = res.data.data.spTplLotteryTypeRebateRate
        this.spTplProfitRate = res.data.data.spTplProfitRate
        this.sysSpProfitRate = res.data.data.sysSpProfitRate
        this.cacheResData = res.data.data.spTplPlayList.map((v) => {
          v.status = v.status.toString()
          v.status_ = v.status
          v.minPrize_ = v.minPrize // 记录到日志值
          v.maxPrize__ = v.maxPrize // 记录到日志值
          // v.minPrize = (Math.floor(v.maxPrize / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
          v.maxPrize = (v.maxPrize / 1000).toFixed(3)
          v.maxPrize_ = v.maxPrize
          v.eachMaxBet = (v.eachMaxBet / 100).toFixed(2)
          v.eachMaxBet_ = v.eachMaxBet
          v.eachMinBet = (v.eachMinBet / 100).toFixed(2)
          v.eachMinBet_ = v.eachMinBet
          v.itemMaxBet = (v.itemMaxBet / 100).toFixed(2)
          v.itemMaxBet_ = v.itemMaxBet
          v.itemMaxCount_ = v.itemMaxCount
          v.eachMaxCount_ = v.eachMaxCount
          v.theoryPrize = (v.theoryPrize / 1000).toFixed(3)
          v.creditMoney = (v.creditMoney / 100).toFixed(2)
          v.chk = false
          v.parentId = null
          v.isExtenalEdit = false
          v.isEditRow = false
          if (v.childList) {
            v.childList = v.childList.map((s) => {
              s.status = s.status.toString()
              s.status_ = s.status
              s.minPrize_ = s.minPrize // 记录到日志值
              // s.minPrize = (Math.floor(s.maxPrize / (10000 - this.spTplProfitRate) * (10000 - this.spTplProfitRate - this.spTplLotteryTypeRebateRate)) / 1000).toFixed(3)
              s.maxPrize__ = s.maxPrize // 记录到日志值
              s.maxPrize = (s.maxPrize / 1000).toFixed(3)
              s.maxPrize_ = s.maxPrize
              s.eachMaxBet = (s.eachMaxBet / 100).toFixed(2)
              s.chk = false
              s.eachMinBet = (s.eachMinBet / 100).toFixed(2)
              s.itemMaxBet = (s.itemMaxBet / 100).toFixed(2)
              s.theoryPrize = (s.theoryPrize / 1000).toFixed(3)
              s.creditMoney = (s.creditMoney / 100).toFixed(2)
              s.parentId = v.id
              s.isEditRow = false
              return s
            })
          }
          return v
        })
        this.spTplSetTableData({ cmd: this.cmd, data: this.cacheResData })
        this.spTplSetAllData(this.cacheResData)
        setTimeout(() => {
          this.loaded = true
        }, this.timeMin)
      } else {
        this.$message({
          type: 'error',
          message: `${res.data.reason}`
        })
        this.cacheResData = []
        this.spTplSetTableData({ cmd: this.cmd, data: this.cacheResData })
        this.spTplSetAllData(this.cacheResData)
      }
    },
    // 解构当前tab里 index 属性
    async setQuery ({ index }) {
      const item = this.lotteryGroupList[index]
      this.$store.dispatch('sptpl/spTplSetPlayGroupId', item.id)
      await this.getLotteryList(item.id)
      await this.getPlayTypeList(item.id)
      await this.getPlayList()
    },
    async tabClick (item) {
      this.activeLottery = '0'
      this.$store.dispatch('sptpl/spTplSetLotteryId', '0')
      this.getPlayFunction = getSpTplPlayList
      await this.setQuery(item)
    },
    // tabModeClick () {
    //   if (this.query.playTabMode === this.playTabMode.mode) return
    //   this.query.playTabMode = this.playTabMode.mode
    //   this.$store.dispatch('sptpl/spTplSetPlayTabMode', this.playTabMode.mode)
    // },
    setPlayTabId (item) {
      // if (this.playTabId === id) return
      // this.playTabId = id
      // 获取此玩法类别数据
      this.getPlayList()
    },
    ...mapActions('sptpl', [
      'spTplSetTableData',
      'spTplSetAllData',
      'spTplSaveSet',
      'spTplSaveSet2'
    ]),
    tabLotteryClick (item) {
      if (item.name === '0') {
        this.getPlayFunction = getSpTplPlayList
      } else {
        this.getPlayFunction = getSpTplLotteryPlayList
      }
      this.$store.dispatch('sptpl/spTplSetLotteryId', item.name)
      this.getPlayList()
    },
    async getLotteryList (pId) {
      const r = await getAjaxData({ dataType: 15, pId })
      if (r.data.code === ERR_OK) {
        this.spTplLotteryList = [{
          id: '0', name: '通用配置'
        }].concat(r.data.data.items.filter((v) => v.id !== '1561' && v.id !== '1562' && v.id !== '1563' && v.id !== '1564'))
      }
    },
    async getPlayTypeList (pId) {
      const r = await getAjaxData({ dataType: 12, pId })
      this.spTplPlayTypeList = r.data.data.items
      this.activePlayType = this.spTplPlayTypeList[0].id
    },
    async init () {
      const query = {
        pId: this.spCode,
        dataType: 11
      }
      const res = await getAjaxData(query)
      if (res.data.code === ERR_OK) {
        this.lotteryGroupList = res.data.data.items.map(n => {
          if (n.id === null) {
            n.id = '3'
            n.name = 'Keno_one'
            n.code = '3'
          }
          return n
        })
      }
      this.activeName = this.lotteryGroupList[this.subTabPos].name
      this.getPlayFunction = getSpTplPlayList
      await this.setQuery({ index: this.subTabPos })
      this.tabLoaded = false
    }
  },
  computed: {
    ...mapState({
      spCode: (state) => state.sptpl.spCode,
      rowId: (state) => state.sptpl.rowId,
      // lotteryGroupList: (state) => state.sptpl.lotteryGroupList,
      tableData: (state) => state.sptpl.tableData,
      playGroupId: state => state.sptpl.playGroupId,
      allData: (state) => state.sptpl.allData,
      cmd: (state) => state.sptpl.cmd
    })
  },
  created () {
    this.init()
  }
}
</script>

<style scoped lang='scss'>
::v-deep .el-tabs {
  .btn-group {
    padding: 0 15px 0 15px;

    button {
      padding: 3px 5px;
      margin: 0 2px;
      color: #000;
      border: 1px solid #eee;
      border-radius: 0;

      &.active {
        color: #6899dc;
        border: 1px solid #6899dc;
      }
    }
  }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped="scoped">
.splTplTab {
  margin-top: -10px;

  .el-tabs__item {
    &#tab-0 {
      text-indent: -0.5rem !important;
    }
  }
}

.tab-play-mode {
  margin-top: -10px;
}

.tab-play-mode.el-tabs .el-tabs__active-bar {
  height: 1px;
}

.el-table__expanded-cell {
  padding: 0;

  .el-table__body-wrapper {
    overflow-x: hidden;
  }
}
</style>
<style scoped lang="scss">
.red {
  color: red
}

.trader-b-toolbar {
  position: relative;
  /*bottom: 0px;*/
  /*left: 0;*/
  margin-top: 10px;
  width: 100%;
  background: #EEE;
  border-top: 1px #AAA solid;
  height: 36px;
  z-index: 99;

  .tbt-in {
    padding: 0 10px;
  }

  .tbt-slct {
    float: left;
  }

  .tbt-edit {
    float: left;
    margin-left: 25px;
  }

  a, span, input {
    float: left;
    margin: 7px 2px 0;
  }

  span {
    margin-top: 12px;
  }

  a {
    border: none;
    height: 23px;
    line-height: 23px;
    padding: 0 5px;

    &.btn {
      display: inline-block;
      padding: 0 12px;
      margin: 0 3px;
      margin-top: 5px;
      border: none;
      font-size: 12px;
      line-height: 23px;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      color: #333333;
      border-radius: 4px;
      background: url('~@/assets/btn_bg.jpg') repeat-x 0 -1px;
      box-shadow: 3px 3px 4px #C4C0C0;
      -moz-box-shadow: 3px 3px 4px #C4C0C0;
      -webkit-box-shadow: 3px 3px 4px #C4C0C0;

      &:hover {
        color: #000;
        background: #d7d7d7;
      }

      &.btn-green {
        color: #ffffff;
        background: #12A012;
        border-radius: 3px;

        &:hover {
          background: #12A012;
          color: #fff;
        }
      }
    }
  }

  input {
    width: 80px;
    height: 20px;
    border: 1px #bbb solid;
    padding: 0 3px;
  }

  a.btb-action {
    width: 22px;
    color: #0c7a0c;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    text-indent: -4px;
    height: 24px;
  }
}
</style>
