<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled='!listQuery.spCode'>
          查询
        </el-button>
      </el-form-item>

      <!--<el-button type="primary" icon="el-icon-plus" @click="showDialog({})"-->
      <!--:disabled="!listQuery.spCode || hasPermission('SpMaintainSave') || !tData">-->
      <!--添加-->
      <!--</el-button>-->
    </el-form>
    <el-table
      :data="tData"
      border
      fit
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      highlight-current-row
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" width="65" type="index">
      </el-table-column>
      <!--<el-table-column-->
      <!--align="right"-->
      <!--prop="id"-->
      <!--label="ID">-->
      <!--</el-table-column>-->
      <el-table-column
        align="right"
        label="厅主编码"
        prop="spCode"
        min-width="150">
      </el-table-column>
      <el-table-column
        align="right"
        prop="beginTime"
        label="开始时间"
        min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.beginTime === '' ? '- - -' : scope.row.beginTime}}</span>
        </template>
      </el-table-column>
      <!--<el-table-column-->
      <!--align="right"-->
      <!--prop="beginTimeAsEDT"-->
      <!--label="开始时间" min-width="150">-->
      <!--</el-table-column>-->
      <el-table-column
        align="right"
        prop="endTime"
        label="结束时间"
        min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.endTime === '' ? '- - -' : scope.row.endTime}}</span>
        </template>
      </el-table-column>
      <!--<el-table-column-->
      <!--align="right"-->
      <!--prop="endTimeAsEDT"-->
      <!--label="结束时间" min-width="150">-->
      <!--</el-table-column>-->
      <el-table-column
        align="right"
        label="状态">
        <template slot-scope="scope">
          <span
            :class="{active_green:!scope.row.show ,active_red:scope.row.show}">{{scope.row.status === 0 ? '运行正常' : scope.row.status === 1 ? '维护中' : '已删除'}}</span>
        </template>
      </el-table-column>
      <!--<el-table-column-->
      <!--label="操作"-->
      <!--align="right"-->
      <!--style="padding-left: 30px"-->
      <!--prop="status" width="220">-->
      <!--<template slot-scope="scope">-->
      <!--<el-button type="success" v-if="scope.row.status!==1"-->
      <!--:disabled="hasPermission('SpMaintainSatus')"-->
      <!--@click.native="_postSpMaintainSatus(scope.row,1)">启用-->
      <!--</el-button>-->
      <!--<el-button type="success" v-if="scope.row.status!==0"-->
      <!--:disabled="hasPermission('SpMaintainSatus')"-->
      <!--@click.native="_postSpMaintainSatus(scope.row,0)">禁用-->
      <!--</el-button>-->
      <!--<el-button type="success" v-if="scope.row.status!==99"-->
      <!--:disabled="hasPermission('SpMaintainSatus')"-->
      <!--@click.native="_postSpMaintainSatus(scope.row,99)">删除-->
      <!--</el-button>-->
      <!--&lt;!&ndash;<el-button type="success" v-if="scope.row.all"&ndash;&gt;-->
      <!--&lt;!&ndash;:disabled="hasPermission('SpMaintainSatus')"&ndash;&gt;-->
      <!--&lt;!&ndash;@click.native="showDialog(scope.row)">编辑&ndash;&gt;-->
      <!--&lt;!&ndash;</el-button>&ndash;&gt;-->
      <!--&lt;!&ndash;<el-button type="success" @click.native="showDialog(scope.row)"&ndash;&gt;-->
      <!--&lt;!&ndash;:disabled="hasPermission('SpMaintainSave')">编辑&ndash;&gt;-->
      <!--&lt;!&ndash;</el-button>&ndash;&gt;-->
      <!--</template>-->
      <!--</el-table-column>-->
    </el-table>
    <!--dialog start-->
    <el-dialog :title="temp.title" :visible.sync="dialogFormVisible" custom-class="dialogpadd">
      <el-alert
        effect="dark"
        style="margin-bottom: 5px"
        title="温馨提醒：维护计划如果存在,再次添加会覆盖掉之前的!"
        type="warning"
        show-icon>
      </el-alert>
      <el-form :model="temp" ref="maintainForm" :rules="rules" style="margin-top: 30px;">
        <el-form-item label="设置时间" :label-width="formLabelWidth" prop="dateValue">
          <!--<el-date-picker-->
          <!--style="width:100%"-->
          <!--v-model="temp.beginTime"-->
          <!--type="datetime"-->
          <!--:picker-options="pickerOptions"-->
          <!--name="beginTime"-->
          <!--placeholder="选择日期时间">-->
          <!--</el-date-picker>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="结束时间" :label-width="formLabelWidth" prop="endTime">-->
          <!--<el-date-picker-->
          <!--style="width:100%"-->
          <!--v-model="temp.endTime"-->
          <!--type="datetime"-->
          <!--name="endTime"-->
          <!--:picker-options="pickerOptions"-->
          <!--placeholder="选择日期时间">-->
          <!--</el-date-picker>-->
          <el-date-picker
            v-model="temp.dateValue"
            type="datetimerange"
            unlink-panels
            range-separator="至"
            :default-time="['00:00:00', '23:59:59']"
            start-placeholder="开始时间"
            end-placeholder="结束时间">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetF">取消</el-button>
        <el-button type="primary" @click="_postSpMaintainSave">保存</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime } from 'utils/index'
  // import { getAjaxData } from 'api/common'
  import { getSpMaintainList, postSpMaintainSave, postSpMaintainSatus } from 'api/spInfoList'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      const chkTime = (rule, value, callback) => {
        if (!value || !value.length) {
          callback(new Error('请设置开始和结束时间'))
        } else if (value.length === 2) {
          const t1 = new Date(value[0])
          const t2 = new Date(value[1])
          if (t1 >= t2) {
            callback(new Error('结束时间必须大于开始时间!'))
          } else {
            callback()
          }
        }
      }
      return {
        // spCodes: [],
        listLoading: false,
        tData: [],
        listQuery: {
          spCode: ''
        },
        temp: {
          id: '',
          spCode: '',
          dateValue: [],
          beginTime: '',
          endTime: ''
        },
        dialogFormVisible: false,
        formLabelWidth: '100px',
        pickerOptions: {
          shortcuts: [{
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          }, {
            text: '昨天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          }, {
            text: '一周前',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }]
        },
        rules: {
          dateValue: [
            {
              required: true,
              trigger: 'change',
              validator: chkTime,
              type: 'array'
            }
          ]
          // endTime: [
          //   {
          //     required: true,
          //     trigger: 'blur',
          //     validator: chkEndTime
          //   }
          // ]
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      resetF () {
        this.dialogFormVisible = false
        this.temp = {
          title: '',
          id: '',
          spCode: '',
          dateValue: '',
          beginTime: '',
          endTime: ''
        }
        this.$refs.maintainForm.resetFields()
      },
      // resetData() {
      //   if (!this.listQuery.spCode) return
      //   this._getList()
      // },
      _postSpMaintainSave () {
        this.$refs.maintainForm.validate((valid) => {
          if (valid) {
            this.$confirm('此操作将进行维护计划变更操作，需重新启用才能使用， 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.temp.beginTime = parseTime(this.temp.dateValue[0], '{y}-{m}-{d} {h}:{i}:{s}')
              this.temp.endTime = parseTime(this.temp.dateValue[1], '{y}-{m}-{d} {h}:{i}:{s}')
              const queryObj = {
                beginTime: this.temp.beginTime,
                endTime: this.temp.endTime,
                spCode: this.temp.spCode
              }
              console.log(queryObj)
              postSpMaintainSave(queryObj).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `${this.temp.title}成功!`
                  })
                  this.resetF()
                  this._getList()
                }
              })
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '取消操作!'
              })
            })
          }
        })
      },
      showDialog (row) {
        if (!row.id) {
          this.temp = {
            title: '添加计划',
            id: '',
            spCode: this.listQuery.spCode,
            beginTime: '',
            endTime: '',
            dateValue: []
          }
        } else {
          this.temp = {
            title: '计划变更',
            id: row.id,
            spCode: row.spCode,
            dateValue: [],
            beginTime: row.beginTime,
            endTime: row.endTime
          }
          this.temp.dateValue.push(row.beginTime)
          this.temp.dateValue.push(row.endTime)
        }
        this.dialogFormVisible = true
      },
      _postSpMaintainSatus (row, flag) {
        let flagText = ''
        switch (flag) {
          case 0:
            flagText = '禁用'
            break
          case 1:
            flagText = '启用'
            break
          default:
            flagText = '删除'
        }
        this.$confirm(`此操作将进行${flagText}操作， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            id: row.id,
            status: flag
          }
          postSpMaintainSatus(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${flagText}成功!`
              })
              row.status = flag
              this._getList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      // _getSpList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         const t = {
      //           value: v.id,
      //           label: v.name
      //         }
      //         return t
      //       })
      //       this.loaded = true
      //     }
      //   })
      // },
      _getList () {
        this.listLoading = true
        getSpMaintainList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tData = res.data.data.reverse().map((v) => {
              v.show = Boolean(v.status)
              v.all = Boolean(v.spCode === 'all' ? 1 : 0)
              return v
            })
            this.listLoading = false
          }
        })
      },
      _search () {
        this._getList()
      }
    },
    created () {
      // this._getSpList()
      // this._getList()
    }
  }
</script>

