<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <all-self-lottery-select v-model="listQuery.lotteryId"></all-self-lottery-select>
      </el-form-item>
      <el-form-item>
        <!--								<sp-code-select v-model="listQuery.spCode"></sp-code-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入期号" v-model="listQuery.issue"
                  clearable
                  :disabled="!listQuery.lotteryId">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="请选择开奖类型"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.openType">
          <el-option v-for="item in types" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <statis-date-picker @doWhenSelected="selectedDate"></statis-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   :disabled="!(listQuery.lotteryId && listQuery.beginTime && listQuery.endTime) || hasPermission('OrderReverseInfoList')"
                   icon="el-icon-search"
                   :loading="listLoading"
                   @click.native="_search">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="elements"
              v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="期号" min-width="100px">
        <template slot-scope="scope">
          <span>{{scope.row.issue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="所属厅主">
        <template slot-scope="scope">
          <span>{{scope.row.spCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种id">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryId}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖类型" min-width="100px">
        <template slot-scope="scope">
          <span>{{scope.row.openType | openTypeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖方式" min-width="150px">
        <el-table-column align="right" label="预设杀率/%">
          <template slot-scope="scope">
            <span v-if="scope.row.openType===1"> --- </span>
            <span v-else-if="scope.row.openType===3"> --- </span>
            <span v-else> {{ getTypeDetail(scope.row) }} </span>
          </template>
        </el-table-column>
        <el-table-column label="随机算法" align="right">
          <template slot-scope="scope">
            <span v-if="scope.row.openType===2"> --- </span>
            <span v-else-if="scope.row.openType===3"> --- </span>
            <span v-else>{{ getTypeDetail(scope.row) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="预设结果" align="right">
          <template slot-scope="scope">
            <span v-if="scope.row.openType===2"> --- </span>
            <span v-else-if="scope.row.openType===1"> --- </span>
            <span v-else>{{ getTypeDetail(scope.row) }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="开奖说明">
        <template slot-scope="scope">
          <el-tooltip :content="scope.row.description" placement="top" effect="light"
                      v-if="scope.row.description">
            <el-button type="text" icon="el-icon-info"></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="累计有效投注(元)" min-width="100px">
        <template slot-scope="scope">
          <span>{{scope.row.effectiveMoney}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="厅主赢钱(元)" min-width="100px">
        <template slot-scope="scope">
          <span>{{scope.row.winMoney}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="当期杀率/%" min-width="100px">
        <template slot-scope="scope">
          <span>{{scope.row.CurrentkillRate}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="开奖号码" min-width="120px">
        <template slot-scope="scope">
          <span>{{scope.row.openCode}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="创建时间" min-width="120px">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="elements.length" class="pagination-container" style="float: right;">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  // import SpCodeSelect from 'components/Select/SpCodeSelect'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import AllSelfLotterySelect from 'components/Select/AllSelfLotterySelect'
  import StatisDatePicker from 'components/DatePicker/StatisticsDatePicker'

  import {
    postIssueOrbitList
  } from 'api/SelfLottery'
  import {
    openTypes,
    openTypeFilter
  } from './IssueInfo'

  export default {
    components: {
      // SpCodeSelect,
      fuzzyQuerySearch,
      AllSelfLotterySelect,
      StatisDatePicker
    },
    data () {
      return {
        listLoading: false,
        dateValue: [],
        lotteryType: '',
        listQuery: {
          spCode: '',
          lotteryId: '',
          issue: '',
          openType: '',
          beginTime: '',
          endTime: '',
          pageSize: 10,
          pageNo: 1
        },
        elements: [],
        total: 0,
        types: openTypes
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      selectedDate (val) {
        this.listQuery.beginTime = val.beginTime
        this.listQuery.endTime = val.endTime
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      _getList () {
        this.listLoading = true
        postIssueOrbitList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.total = res.data.data.totalCount
            this.elements = res.data.data.elements.map(
              (item) => {
                item.effectiveMoney = parseFloat(item.effectiveMoney / 100).toFixed(2)
                item.winMoney = parseFloat(item.winMoney / 100).toFixed(2)
                if (Number(item.effectiveMoney) === 0) {
                  item.CurrentkillRate = ''
                } else {
                  item.CurrentkillRate = parseFloat(item.winMoney / item.effectiveMoney * 100).toFixed(2)
                }
                return item
              }
            )
          }
          this.listLoading = false
        })
      },
      getTypeDetail (row) {
        if (row.openType === 1) {
          const details = [
            {
              value: '1',
              name: '梅森旋转算法'
            },
            {
              value: '2',
              name: '真随机算法'
            },
            {
              value: '3',
              name: 'KISS算法'
            }
          ]
          const content = details.find((item) => item.value === row.openTypeResult)
          console.log(content)
          return content.name
        }
        if (row.openType === 2) {
          return `${row.openTypeResult}%`
        }
        return row.openTypeResult
      }
    },
    filters: {
      openTypeFilter
    }
  }
</script>

<style scoped>

</style>
