<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" placeholder="请选择彩种"
                   clearable default-first-option
                   v-model="listQuery.lotteryId" @clear="resetSelect" @change="handleChange">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.count" placeholder="查询期数"
                   clearable
                   :disabled="!listQuery.lotteryId">
          <el-option
              v-for="item in issueSelect"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading" :disabled="isType">
          搜索
        </el-button>
      </el-form-item>
    </el-form>

    <el-table
        border
        :data="items"
        v-loading="listLoading"
        max-height='700'
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        style="width: 100%">
      <el-table-column
          align="right"
          prop="lotteryId"
          min-width="80"
          label="彩种编号">
      </el-table-column>
      <el-table-column
          align="right"
          prop="lotteryName"
          min-width="120"
          label="彩种名称">
      </el-table-column>
      <el-table-column
          align="right"
          prop="issue"
          label="期号">
      </el-table-column>
      <el-table-column
          prop="openCode"
          align="right"
          min-width="180"
          label="开奖号码">
      </el-table-column>
      <!--<el-table-column-->
      <!--align="right"-->
      <!--prop="openTime"-->
      <!--label="开奖时间(北京时间)">-->
      <!--</el-table-column>-->
      <el-table-column
          align="right"
          prop="openTime"
          min-width="120"
          label="开奖时间/北京">
      </el-table-column>
    </el-table>
    <!--<div v-show="items.length" class="pagination-container">-->
    <!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
    <!--:current-page.sync="listQuery.pageNo"-->
    <!--:page-sizes="[10,20,30,50]" :page-size="listQuery.pageSize"-->
    <!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
    <!--</el-pagination>-->
    <!--</div>-->
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getLotteryResultList } from 'api/openCode'
import { getAjaxData } from 'api/common'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

export default {
  components: { fuzzyQuerySearch },
  data () {
    return {
      isType: false,
      listLoading: false,
      issueSelect: [
        {
          value: 10,
          label: '10期'
        },
        {
          value: 20,
          label: '20期'
        }, {
          value: 100,
          label: '100期'
        }
      ],
      items: [],
      options: [],
      // spList: [],
      listQuery: {
        count: '',
        spCode: '',
        lotteryId: '',
        pageNo: 1,
        pageSize: 10
      }
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
      if (this.listQuery.spCode !== '') {
        this.isType = false
      } else {
        this.isType = true
      }
    },
    handleChange (val) {
      this._getLotteryInfoList()
      let _isType = false
      for (const v of this.options) {
        if (v.id === val && v.type === 2) {
          _isType = true
          if (this.listQuery.spCode === '') {
            this.$message({
              message: '请输入厅编码',
              type: 'warning'
            })
            break
          }
        }
      }

      if (this.listQuery.spCode !== '') {
        this.isType = false
      } else {
        this.isType = _isType
      }
    },
    resetSelect () {
      this.listQuery.count = ''
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _getList () {
      this.listLoading = true
      getLotteryResultList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items
        }
        this.listLoading = false
      })
    },
    // 获取彩种列表
    async _getLotteryInfoList () {
      await getAjaxData({ dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    }
  },
  created () {
    // 获取彩票类型列表
    this._getLotteryInfoList()
    // this._getSpInfoList()
    this._getList()
  }
}
</script>
