<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId"
                   filterable
                   clearable
                   placeholder="请选择彩种">
          <el-option v-for="item in lotteryNames" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入期号" clearable
                  v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          @change="dataTimeChangeGet"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :key='tabKey'
              :data="elements"
              style="width: 100%"
              border fit highlight-current-row>
      <el-table-column label="所属厅主" prop="spCode" width="80px" align='right'></el-table-column>
      <el-table-column label="彩种名称" prop="lotteryName" width="120px" align='right'></el-table-column>
      <el-table-column label="彩期" prop="issue" width="120px" align='right'></el-table-column>
      <el-table-column label="开奖号码" prop="openCode" min-width="180px" align='right'></el-table-column>
      <el-table-column label="开奖方式" prop="openCodeType" width="120px" align='right'>
        <template slot-scope="scope">
          {{scope.row.openCodeType===1?'预设开奖':'手工开奖'}}
        </template>
      </el-table-column>
      <el-table-column label="开奖号码设置" min-width="180px" align='right'>
        <template slot-scope='scope'>
          <p class='ptext'>预设开奖:{{scope.row.prevResult?scope.row.prevResult:'- -'}}</p>
          <p class='ptext'>手工开奖:{{scope.row.pointResult?scope.row.pointResult:'- -'}}</p>
        </template>
      </el-table-column>
      <el-table-column label="操作人" width="140px" align='right'>
        <template slot-scope='scope'>
          <p class='ptext'>{{scope.row.presetLoginId?scope.row.presetLoginId:'- -'}}</p>
          <p class='ptext'>{{scope.row.manualLoginId?scope.row.manualLoginId:'- -'}}</p>
        </template>
      </el-table-column>
      <el-table-column label="操作时间(美东)" prop="pointResult" min-width="180px" align='right'>
        <template slot-scope='scope'>
          <p class='ptext'>{{scope.row.createTime?scope.row.createTime:'- -'}}</p>
          <p class='ptext'>{{scope.row.pointTime?scope.row.pointTime:'- -'}}</p>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="totalCount" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { ERR_OK } from 'api/config'
  import { getSelfLotteryDetailSearch } from 'api/SelfLottery'
  import { getAjaxData } from 'api/common'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    name: 'Index',
    components: { fuzzyQuerySearch },
    props: {},
    data () {
      return {
        // spList: [],
        lotteryNames: [],
        tabKey: 0,
        listQuery: {
          spCode: '',
          lotteryId: '',
          beginTime: '',
          endTime: '',
          issue: '',
          pageNo: 1,
          pageSize: 10
        },
        pickerOptions: EnUSPickerOptions,
        dataValue: [],
        elements: [],
        totalCount: 0
      }
    },
    computed: {},
    watch: {},
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型
      _getlotteryList () {
        getAjaxData({ dataType: 23 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryNames = res.data.data.items
          }
        })
      },
      dataTimeChangeGet (v) {
        if (!v) this.dataValue = []
      },
      _getSelfLotteryDetailSearch () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getSelfLotteryDetailSearch(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements
            this.totalCount = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getSelfLotteryDetailSearch()
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getSelfLotteryDetailSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getSelfLotteryDetailSearch()
      }

    },
    created () {
      // this._getSpInfoList()
      this._getlotteryList()
      this._search()
    },
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss' scoped>
  .ptext {
    height: 24px;
    line-height: 24px;
  }
</style>
