<!--金流管理-->
<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="请选择彩种" clearable>
          <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.name"
              :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" clearable placeholder="请输入期号"
                  v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker
            v-model="dataValue"
            type="datetimerange"
            unlink-panels
            range-separator="至"
            :default-time="['00:00:00', '23:59:59']"
            :picker-options="pickerOptions"
            clearable
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            @change="dataTimeChangeGet"
            align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
        style="margin-bottom: 5px"
        effect="dark"
        title="温馨提醒：排程管理中由管理员发起人工开奖时产生的日志，查询和展示时间均为北京时间!"
        type="warning"
        show-icon>
    </el-alert>
    <el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">

      <el-table-column align="right" label="彩种ID" width="110">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称" align="right" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}</span>
        </template>
      </el-table-column>

      <el-table-column algin="right" label="期号" min-width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.issue }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="操作类型" min-width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.openCodeType === 1 ? '手动开奖' : '重新结算' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖号码" min-width="150">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{ scope.row.openCode }}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{ scope.row.openCode }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作人帐号" min-width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.createUser }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作时间" min-width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="elements.length" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,30,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import { parseTime, BGPickerOptions, check3Month } from 'utils/'
import { getLoggerOpencodeList } from 'api/logs'

export default {
  data () {
    return {
      listLoading: false,
      tableKey: 0,
      dataValue: [],
      pickerOptions: BGPickerOptions,
      options: '',
      elements: [],
      listQuery: {
        lotteryId: '',
        issue: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10
      },
      total: 0
    }
  },
  created () {
    const date = new Date()
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(
        new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0)
    )
    this.dataValue.push(
        new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59)
    )
    this._getLotteryInfoList()
    this._search()
  },
  methods: {
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getLotteryInfoList () {
      getAjaxData({ dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    dataTimeChangeGet (v) {
      if (!v) this.dataValue = []
    },
    _getList () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getLoggerOpencodeList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.items
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    }
  }
}
</script>
<style scoped>
.pagination-container {
  text-align: right;
}

.red {
  color: #FF0000;
}

.blue {
  color: #0a760a;
}

.a1 {
  display: block;
  width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
</style>
