<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择账号类型"
                   clearable default-first-option
                   v-model="listQuery.accountType">
          <el-option
            v-for="item in accountTypeList"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择语言类型"
                   clearable default-first-option
                   v-model="listQuery.langType">
          <el-option
            v-for="item in langTypeList"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择报表类型"
                   clearable default-first-option
                   v-model="listQuery.type">
          <el-option
            v-for="item in typeArr"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择报表状态"
                   clearable default-first-option
                   v-model="listQuery.status">
          <el-option
            v-for="item in statusArr"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search" :loading="loaded"
                   icon="el-icon-search"
                   :disabled="hasPermission('ReportDownloadList')">查询报表
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="goBack">返回
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="items"
      border
      v-loading="loading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%">
      <el-table-column
        align="right"
        min-width="280"
        prop="name"
        label="报表名称">
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="type"
        label="报表类型">
        <template slot-scope="scope">
          <span>{{ scope.row.type | filterType }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="status"
        label="报表状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status | filterStatus }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="userName"
        label="操作人">
        <!--								<template slot-scope="scope">-->
        <!--										<span>{{ scope.row.status | filterStatus }}</span>-->
        <!--								</template>-->
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="sn"
        label="所属厅">
        <template slot-scope="scope">
          <span>{{ scope.row.sn === 'BG00' ? '总后台' : scope.row.sn }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width="80"
        prop="url"
        label="下载地址">
        <template slot-scope="scope">
          <el-tooltip v-if="scope.row.status===2" class="item" effect="dark" content="点击下载"
                      placement="top">
            <el-button icon="el-icon-download" @click.native="downLoad(scope.row)" size="mini"
                       type="text"></el-button>
          </el-tooltip>
          <span v-else>--</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="createTime"
        label="生成时间(北京)">
      </el-table-column>
      <el-table-column
        align="right"
        min-width="120"
        prop="finishTime"
        label="完成时间(北京)">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { mapState } from 'vuex'
  import { ERR_OK } from 'api/config'
  import { getReportDownloadList } from 'api/report'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        total: 0,
        typeArr: [
          { value: 1, label: '单期盈亏报表' },
          { value: 2, label: '用户投注额报表' },
          { value: 3, label: '彩种输赢报表' },
          { value: 4, label: '彩种投注额报表' },
          { value: 5, label: '汇总统计报表' },
          { value: 6, label: '注单列表' },
          { value: 7, label: '彩种分析报表' },
          { value: 8, label: '用户分析报表' },
          { value: 9, label: '厅主分析报表' }
        ],
        statusArr: [
          { value: 0, label: '等待生成' },
          { value: 1, label: '正在生成' },
          { value: 2, label: '生成成功' },
          { value: 3, label: '生成失败' }
        ],
        accountTypeList: [
          { value: 1, label: '平台账号' },
          { value: 2, label: '平台商账号' }
        ],
        langTypeList: [
          { value: 'zh', label: '中文' },
          { value: 'en', label: '英文' }
        ],
        listQuery: {
          spCode: '',
          accountType: '',
          langType: '',
          type: '',
          status: '',
          pageNo: 1,
          pageSize: 10
        },
        loaded: false,
        loading: false
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this.generateReports()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this.generateReports()
      },
      _search () {
        this.listQuery.pageNo = 1
        this.generateReports()
      },
      goBack () {
        this.$router.go(-1)
      },
      downLoad (row) {
        if (this.hasPermission('ReportExDownload')) {
          this.$message({
            type: 'error',
            message: '您没有报表下载的权限,请联系管理员!'
          })
          return
        }
        // console.log(window.location)
        // const url = window.location.protocol + '//' + window.location.host + window.API_F_PATH + '/apiGet?cmd=ReportExDownload&token=' + this.$store.state.user.token + '&id=' + row.id
        // const url = window.location.protocol + '//' + window.API_ADMINFRONT_PROD + window.API_F_PATH + '/apiGet?cmd=ReportExDownload&token=' + this.$store.state.user.token + '&id=' + row.id
        const url = `${window.API_ADMINFRONT_PROD + window.API_F_PATH}/apiGet?cmd=ReportExDownload&token=${this.$store.state.user.token}&id=${row.id}&ztsLang=zh&langType=zh&accountType=1`
        window.open(url)
      },
      generateReports () {
        this.loaded = true
        this.loading = true
        getReportDownloadList(this.listQuery).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setDownloadData', res.data.data.items)
            this.total = res.data.data.totalCount
          }
          this.loaded = false
          this.loading = false
        })
      }
    },
    computed: {
      ...mapState({
        items: (state) => state.reportDownload.downloadlist
      })
    },
    created () {
      this.listQuery.type = this.$store.state.reportDownload.type
      this.generateReports()
    },
    filters: {
      filterType (v) {
        const map = {
          1: '单期盈亏报表',
          2: '用户投注额报表',
          3: '彩种输赢报表',
          4: '彩种投注额报表',
          5: '汇总统计报表',
          6: '注单列表',
          7: '彩种分析报表',
          8: '用户分析报表',
          9: '厅主分析报表'
        }
        return map[v]
      },
      filterStatus (v) {
        const map = {
          0: '等待生成',
          1: '正在生成',
          2: '生成成功',
          3: '生成失败'
        }
        return map[v]
      }
    }
  }
</script>
