/* Created By fx on 2017/7/21. */
<template>
  <el-tabs v-loading="tabLoaded" v-model="activeName" @tab-click="tabClick" style="margin-top: -15px"
           element-loading-text="拼命加载中"
           element-loading-spinner="el-icon-loading">
    <!--<el-tab-pane v-for="item in lotteryTypeList" :label="item.name" :name="item.name"-->
    <!--:key="item.name">-->
    <keep-alive>
      <!--<el-table v-if="activeName === item.name" :data="tableData" border fit style="width: 100%"-->
      <el-table :data="tableData" border fit style="width: 100%"
                element-loading-text="拼命加载中"
                max-height='700'
                element-loading-spinner="el-icon-loading"
                v-loading="!loaded">
        <el-table-column prop="lotteryId" label="彩种编码" align='center'>
        </el-table-column>
        <el-table-column prop="lotteryName" label="彩种名称" align='center'>
        </el-table-column>
        <el-table-column prop="recSort" label="排序" align='center'>
          <template slot-scope="scope">
            <el-input v-model="scope.row.recSort" type="text" step="1"
                      @blur="checkBigNum(scope.row.recSort)" min="0"
                      max="10000"></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="recommend" label="是否推荐" align='center'>
          <template slot-scope="scope">
            <el-checkbox v-model="scope.row.recommend"></el-checkbox>
          </template>
        </el-table-column>
        <el-table-column prop="hotDesc" label="彩种描述" align='center'>
        </el-table-column>
      </el-table>
    </keep-alive>
    <!--</el-tab-pane>-->
    <br>
    <!--<el-pagination v-if="showPagination" align="right" @size-change="handleSizeChange"-->
    <!--@current-change="handleCurrentChange"-->
    <!--:current-page.sync="pageCon.pageNo"-->
    <!--:page-sizes="[5,10,20,30,50]" :page-size="pageCon.pageSize"-->
    <!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
    <!--</el-pagination>-->
  </el-tabs>

</template>

<script>
import { ERR_OK } from 'api/config'
import { mapState, mapActions } from 'vuex'
import { getSpTplLotteryRecommendList } from 'api/spltpl/'

export default {
  data () {
    return {
      tabLoaded: true,
      loaded: true,
      timeMin: 200,
      activeName: '',
      subTabPos: 0,
      query: {},
      cacheResData: []
    }
  },
  methods: {
    checkBigNum (v) {
      const re = /^\d+$/
      if (!re.test(v)) {
        this.$message({
          type: 'error',
          message: '只能为正整数'
        })
        return
      }
      if (v > 10000) {
        this.$message({
          type: 'error',
          message: '数值过大'
        })
      }
    },
    getList () {
      getSpTplLotteryRecommendList(this.query).then((res) => {
        if (res.data.code === ERR_OK) {
          // 转 recommend 为布尔值 v-model只识别为布尔值的变量
          this.cacheResData = res.data.data.spTplLotterySetList.map((v) => {
            v.recommend = Boolean(v.recommend)
            return v
          })
          // let _data = []
          // 	 if (this.cacheResData.length > this.pageCon.pageSize) {
          // 	 this.showPagination = true
          // 	 _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
          // 	 } else {
          // 	 this.showPagination = false
          // 	 _data = this.cacheResData
          // 	 }
          // this.spTplSetTableData({ index: this.tabPos, data: _data })
          this.spTplSetTableData({ cmd: this.cmd, data: this.cacheResData })
          // this.total = this.cacheResData.length
          setTimeout(() => {
            this.loaded = true
          }, this.timeMin)
        }
      }).catch((err) => {
        this.$message({
          type: 'error',
          message: `${err}`
        })
      })
    },
    // 解构当前tab里 index 属性
    setQuery ({ index }) {
      const item = this.lotteryTypeList[index]
      this.query = {
        spTplId: this.rowId,
        spCode: this.spCode,
        lotteryTypeId: item.id
      }
    },
    tabClick (item) {
      this.setQuery(item)
      this.getList()
    },
    // 分页
    // 	 handleSizeChange(val) {
    // 	 this.pageCon.pageSize = val
    // 	 const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
    // 	 this.spTplSetTableData({ index: this.tabPos, data: _data })
    // 	 },
    // 	 handleCurrentChange(val) {
    // 	 this.pageCon.pageNo = val
    // 	 const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
    // 	 this.spTplSetTableData({ index: this.tabPos, data: _data })
    // 	 },
    // 	 pagination(pageNo, pageSize, array) {
    // 	 const offset = (pageNo - 1) * pageSize
    // 	 return offset + pageSize >= array.length ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize)
    // 	 },
    ...mapActions('sptpl', [
      'spTplSetTableData'
    ])
  },
  computed: {
    ...mapState({
      spCode: (state) => state.sptpl.spCode,
      rowId: (state) => state.sptpl.rowId,
      lotteryTypeList: (state) => state.sptpl.lotteryTypeList,
      tableData: (state) => state.sptpl.tableData,
      cmd: (state) => state.sptpl.cmd
    })
  },
  created () {
    if (this.lotteryTypeList instanceof Array && this.lotteryTypeList.length) {
      this.activeName = this.lotteryTypeList[this.subTabPos].name
      this.setQuery({ index: this.subTabPos })
      this.getList()
      this.tabLoaded = false
    } else {
      this.tabLoaded = true
    }
  }
}
</script>
