<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主" clearable-->
        <!--								           default-first-option-->
        <!--								           @change="handChangeSpCode"-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.issue" placeholder="请输入查询期号" clearable style="width: 180px"
                  :disabled="!listQuery.lotteryId">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          clearable
          unlink-panels
          :picker-options="pickerOptions"
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :disabled="!listQuery.spCode || hasPermission('SelfLotteryOpenCodeList')"
        >查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="listQuery.lotteryId" class="radio">
          <el-radio :label="item.id" border v-for="item in SelfLotteryInfoList" :key="item.id">{{ item.name }}
          </el-radio>
        </el-radio-group>
      </el-form-item>

    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="所属厅主" prop="spCode" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="彩种ID" prop="lotteryId" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="彩期" prop="issue" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="开奖号码" prop="openCode" min-width="180">
      </el-table-column>
      <el-table-column align="right" label="开奖时间" prop="openTime" min-width="150">
      </el-table-column>
      <el-table-column align="right" label="开奖类型" prop="openType" min-width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.openType | typeFilter }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="杀率/%" prop="payoutRate" min-width="120">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{ scope.row.openType ===1?'&#45;&#45;':scope.row.payoutRate }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getSelfLotteryOpenCodeList } from 'api/SelfLottery/'
  // import selfLottery from '../config'
  import { getAjaxData } from 'api/common'
  import {
    parseTime,
    // EnUSPickerOptions,
    BGPickerOptions,
    check3Month
  } from 'utils/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import { typeFilter } from '../config'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        listLoading: false,
        // spList: [],
        dataValue: [],
        pickerOptions: BGPickerOptions,
        total: 0,
        SelfLotteryInfoList: [],
        elements: [],
        listQuery: {
          spCode: '',
          lotteryId: '',
          beginTime: '',
          endTime: '',
          issue: '',
          openType: '',
          pageNo: 1,
          pageSize: 10
        },
        openTypes: [
          {
            value: 1,
            label: '随机'
          },
          {
            value: 2,
            label: '杀率控制'
          },
          {
            value: 3,
            label: '混合'
          }
        ]
      }
    },
    created () {
      this.handChangeSpCode()
      // this._getSpInfoList()
      // this.LotteryInfoList = selfLottery
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handChangeSpCode (v) {
        getAjaxData({ dataType: 23, pId: v }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.SelfLotteryInfoList = res.data.data.items
            // console.log(this.SelfLotteryInfoList[0])
            this.listQuery.lotteryId = this.SelfLotteryInfoList[0].id
            // this._search()
          }
        })
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this.getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this.getList()
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      _search () {
        this.listQuery.pageNo = 1
        this.getList()
      },
      getList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d} {h}:{i}:{s}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d} {h}:{i}:{s}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getSelfLotteryOpenCodeList(this.listQuery).then((res) => {
          if (ERR_OK === res.data.code) {
            this.elements = res.data.data.elements.map((r) => {
              r.payoutRate = parseFloat(100 - r.payoutRate / 100).toFixed(2)
              r.openType = Number(r.openType)
              return r
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
    },
    filters: {
      typeFilter
    }
  }
</script>
<style lang='scss' scoped>
  .radio {
    ::v-deep label {
      margin-left: 0 !important;
      margin-right: 10px !important;
      margin-bottom: 10px !important;
    }
  }
</style>
