<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="lotteryTypeId" clearable filterable default-first-option placeholder="选择彩种类型"
                   @change="handleChange">
          <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" clearable filterable default-first-option placeholder="选择彩种">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <date-range ref="dateRange"
                    :options="dateRangeOption"></date-range>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" clearable placeholder="请输入期号"
                  v-model="listQuery.issue"
                  :disabled="!listQuery.lotteryId">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search"
                   :loading="listLoading"
                   :disabled="(!listQuery.spCode)||hasPermission('ReportIssueProfitLossSearch')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="exportExel" :loading="loaded"
                   :disabled="!(listQuery.spCode&&ReportList.length)||hasPermission('ReportIssueProfitLossExport')">
          报表导出
        </el-button>
      </el-form-item>

      <el-alert
        effect="dark"
        style="margin-bottom: 5px"
        title="温馨提醒：查询时间为美东时间,展示时间为北京时间!"
        type="warning"
        show-icon>
      </el-alert>
      <el-table
        :data="ReportList"
        border
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        :summary-method="getSummaries"
        show-summary
        style="width: 100%">
        <el-table-column
          width="130"
          prop="lotteryName"
          align="right"
          label="彩种名称">
        </el-table-column>
        <el-table-column
          min-width="140"
          prop="issueDate"
          align="right"
          label="彩期日期">
        </el-table-column>
        <el-table-column
          width="130"
          prop="issue"
          align="right"
          label="彩期">
        </el-table-column>
        <el-table-column
          min-width="160"
          prop="openCode"
          label="开奖号码"
          align="right">
          <template slot-scope="scope">
            <!--												{{ // isSelfLottery(scope.row.lotteryId)?'':scope.row.openCode }}-->
            {{scope.row.openCode }}
          </template>
        </el-table-column>
        <el-table-column
          min-width="135"
          prop="openTime"
          align="right"
          label="开奖时间/北京">
        </el-table-column>
        <el-table-column
          min-width="120"
          prop="validBetNum"
          align="right"
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'betNum')"
          label="有效投注人数">
        </el-table-column>
        <el-table-column
          min-width="160"
          prop="validBetMoney"
          align="right"
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'validBetMoney')"
          label="有效投注总额">
        </el-table-column>
        <el-table-column
          min-width="160"
          prop="winningMoney"
          align="right"
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
          label="中奖总额">
        </el-table-column>
        <!-- <el-table-column
          min-width="160"
          prop="betRebateMoney"
          align="right"
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'betRebateMoney')"
          label="投注返点总额">
        </el-table-column> -->
        <!-- <el-table-column
          min-width="160"
          prop="agentRebateMoney"
          align="right"
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'agentRebateMoney')"
          label="代理返点总额">
        </el-table-column> -->
        <el-table-column
          prop="spProfitMoney"
          align="right"
          width='130'
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'spProfitMoney')"
          label="盈亏金额[厅主]">
        </el-table-column>
        <el-table-column
          prop="userProfitMoney"
          align="right"
          width='130'
          sortable
          :sort-method="(a,b) => sortMethod(a ,b , 'userProfitMoney')"
          label="盈亏金额[用户]">
        </el-table-column>
        <el-table-column
          prop="slewRate"
          align="right"
          :sort-method="(a,b) => sortMethod(a ,b , 'slewRate')"
          label="杀率">
          <template slot-scope='scope'>
            {{scope.row.slewRate}}
          </template>
        </el-table-column>
      </el-table>
    </el-form>

    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData, postReportExport } from 'api/common'
  import { parseTime } from 'utils/index'
  import { getReportIssueProfitLossList } from 'api/report'
  import dateRange from 'components/dateRange/index'
  import tools from 'utils/tools'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { dateRange, fuzzyQuerySearch },
    data () {
      return {
        loaded: false,
        listLoading: false,
        lotteryTypeList: [],
        // spList: [],
        listQuery: {
          lotteryId: '',
          beginTime: '',
          spCode: '',
          endTime: '',
          issue: '',
          pageNo: 1,
          pageSize: 10
        },
        dataValue: [],
        totalMoney: 0.00,
        allMoney: 0.00,
        lotteryTypeId: '',
        options: [],
        ReportList: [],
        total: 0,
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      sortMethod (obj1, obj2, column) {
        const v1 = obj1[column]
        const v2 = obj2[column]
        return v1 - v2
      },
      isSelfLottery (v) {
        const arr = [1007, 1205, 1404, 2003]
        return arr.includes(v)
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport({ ...this.listQuery, cmd: 'ReportIssueProfitLossExport' }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 1)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      getSummaries (param) {
        const { columns, data } = param
        const sums = []
        const intColumn = ['betTotal', 'betNum', 'revokeBetTotal', 'revokeBetNum', 'validBetTotal', 'validBetNum', 'winningTotal', 'winningNum', 'betRebateTotal', 'betRebateNum', 'agentRebateTotal', 'agentRebateNum', 'drawTotal', 'drawNum']
        const floatColumn = ['betMoney', 'revokeBetMoney', 'lossWinningMoney', 'validBetMoney', 'winningMoney', 'betRebateMoney', 'agentRebateMoney', 'drawMoney', 'spProfitMoney', 'userProfitMoney']
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (!intColumn.includes(column.property) && !floatColumn.includes(column.property)) {
            sums[index] = ''
            return
          }
          const values = data.map((item) => Number(item[column.property]))
          if (!values.every((value) => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              }
              return prev
            }, 0)
            if (floatColumn.includes(column.property)) sums[index] = sums[index].toFixed(2)
          }
        })
        return sums
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getProfitLossReportList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getProfitLossReportList()
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      setDatetime () {
        this.dataValue = this.$refs.dateRange.date
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      _getProfitLossReportList () {
        if (this.lotteryTypeId && !this.listQuery.lotteryId) {
          this.$message({
            type: 'error',
            message: '请选择彩种'
          })
          return
        }
        this.setDatetime()
        this.listLoading = true
        getReportIssueProfitLossList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.ReportList = res.data.data.elements.map((v) => {
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getProfitLossReportList()
      }
    },
    created () {
      // this._getSpInfoList()
      this._getLotteryTypeList()
    }
  }
</script>
