<!--注单查询-->
<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           @change="resetLottery"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input style="width: 180px;" placeholder="请输入会员账号"-->
        <!--								          clearable-->
        <!--								          v-model="listQuery.loginId">-->
        <!--								</el-input>-->
        <fuzzy-query-search
          :options="{
                              spCode: listQuery.spCode,
                              type: 'memberSearch',
                              placeholder: '请输入会员账号',
                              defaultValue: listQuery.loginId
                            }"
          @dealChange="dealChange"
          ref="mSearch"
          :disabled="!Boolean(listQuery.spCode)"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 180px;" placeholder="投注额大于等于多少金额" clearable
                  v-model="orderMoney">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="!listQuery.spCode || !listQuery.lotteryId || hasPermission('SelfLotteryOrderInfoList')">
          查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="listQuery.lotteryId" class="radio">
          <el-radio :label="item.id" border v-for="item in SelfLotteryInfoList" :key="item.id">{{ item.name }}
          </el-radio>
        </el-radio-group>
      </el-form-item>

    </el-form>
    <el-table :key='tableKey'
              :data="elements" v-loading="listLoading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%"
              border fit highlight-current-row>
      <el-table-column align="right" label="订单号" min-width="180">
        <template slot-scope="scope">
          <span>{{scope.row.orderCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="厅主" prop="spCode">
      </el-table-column>
      <el-table-column align="right" label="会员" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.loginId}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="期号" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.issue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="玩法名称" min-width="160">
        <template slot-scope="scope">
          <span>{{scope.row.playName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="下注号码" min-width="160">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.buyCodeCase}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.buyCodeCase}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="订单状态" min-width="120">-->
      <!--<template slot-scope="scope">-->
      <!--<span style="color: #ccc">未开奖</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="投注总金额" min-width="100" prop="orderMoney">
        <template slot-scope="scope">
          <span>{{scope.row.orderMoney}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="投注时间" min-width="200">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config.js'
  import { getAjaxData } from 'api/common'
  import { getSelfLotteryOrderInfoList } from 'api/SelfLottery'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        listLoading: false,
        formLabelWidth: '130px',
        tableKey: 0,
        elements: [],
        currentRow: null,
        SelfLotteryInfoList: [],
        listQuery: {
          lotteryId: '',
          loginId: '',
          pageNo: 1,
          pageSize: 10,
          spCode: '',
          orderMoney: ''
        },
        orderMoney: '',
        // spList: [],
        total: 0,
        timerSyncRestTime: null,
        timerSyncRestTimeInterval: 5 * 1000 // 同步剩余时间间隔,10s
      }
    },
    created () {
      this.getLotteryList()
      // this._getSpInfoList()
    },
    beforeDestroy () {
      this.clearAllTimer()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleChangeLottery (v) {
        this._search()
      },
      getLotteryList (val) {
        // this.listQuery.lotteryId = ''
        // this.listQuery.loginId = ''
        getAjaxData({ dataType: 23, pId: val }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.SelfLotteryInfoList = res.data.data.items
            this.listQuery.lotteryId = this.SelfLotteryInfoList[0].id
            // this._search()
          }
        })
        // this._getLotteryInfoList(val)
        // this.listQuery.lotteryId = this.SelfLotteryInfoList[0].id
      },
      // 获取彩种列表
      // _getLotteryInfoList(val) {
      //   getAjaxData({ pId: val, dataType: 23 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.SelfLotteryInfoList = res.data.data.items
      //     }
      //   })
      // },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        if (this.orderMoney) {
          const reg = /^\d+(?:\.\d{0,2})?$/
          if (!reg.test(this.orderMoney)) {
            this.$message({
              type: 'error',
              message: '输入的金额为整数或2位小数'
            })
            return
          }
        }
        this.listQuery.orderMoney = Math.floor(this.orderMoney * 100)
        this._getList()
        this.clearAllTimer()
        this.timerSyncRestTime = setTimeout(this._getList, this.timerSyncRestTimeInterval)
      },
      clearAllTimer () {
        window.clearTimeout(this.timerSyncRestTime)
        this.timerSyncRestTime = null
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取订单列表
      _getList () {
        if (!this.listQuery.spCode) {
          this.$message({
            type: 'error',
            message: '请选择厅主'
          })
          return
        }
        this.listLoading = true
        getSelfLotteryOrderInfoList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v.orderMoney = parseFloat(v.orderMoney / 100).toFixed(2)
              v.status = 0
              return v
            })
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    filters: {
      statusFilter (type) {
        const statusMap = {
          0: '未结算',
          1: '用户撤单',
          2: '追号撤单',
          3: '系统撤单',
          4: '已结算_输',
          5: '已结算_平局',
          6: '已结算_赢',
          7: ''
        }
        return statusMap[type]
      }
    }
  }
</script>
<style lang="scss" scoped>

  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .a2 {
    overflow: hidden;
  }

  .active_red {
    color: #FF0000;
  }

  .active_blue {
    color: #0000ff;
  }

  .active_green {
    color: #0c7a0c;
  }

  .radio {
    ::v-deep label {
      margin-left: 0 !important;
      margin-right: 10px !important;
      margin-bottom: 10px !important;
    }
  }
</style>
