<template>
		<el-dialog
			title="验证二维码"
			:visible.sync="isClose"
			width="500px"
			append-to-body
			@open='beforeOpen'
			:before-close="closeDialog">
				<div class='text_center'>
						<qr-code ref="qrCode" @firestorm="firestorm" :key='hashKey'></qr-code>
				</div>
				<span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="closeDialog">关闭</el-button>
    </span>
		</el-dialog>
</template>
<script>
import { mapState } from 'vuex'
import QrCode from './QrCode'

export default {
  components: { QrCode },
  name: 'QrCodeDialog',
  data () {
    return {
      isClose: false,
      hashKey: 0
    }
  },
  methods: {
    beforeOpen () {
      this.hashKey = this.qrHashCom
    },
    firestorm () {
      console.log('第一次emit')
      this.$emit('transformSecond')
      this.$store.dispatch('lotteryQrCode/setIsOpen', false)
    },
    closeDialog () {
      const self = this
      this.$confirm('确认关闭？').then((_) => {
        self.$refs.qrCode.$destroy()
        self.$store.dispatch('lotteryQrCode/setIsOpen', false)
      }).catch((_) => {
        console.log('_', _)
      })
    }
  },
  beforeDestroy () {
    try {
      this.$refs.qrCode.$destroy()
      this.$store.dispatch('lotteryQrCode/setIsOpen', false)
    } catch (e) {
      console.log(e)
    }
  },
  watch: {
    isOpenQrDialog (n, o) {
      this.isClose = n
    }
  },
  mounted () {},
  computed: {
    ...mapState({
      isOpenQrDialog: (state) => state.lotteryQrCode.isOpenQrDialog,
      qrHash: (state) => state.app.qrHash
    }),
    qrHashCom () {
      return this.qrHash + 1
    }
  },
  created () {
    this.isClose = this.isOpenQrDialog
  }
}
</script>
<style scoped lang='less'>
		.text_center {
				text-align: center;

				.image {
						padding: 10px;
				}
		}
</style>
