<template>
		<div class="qr-code">
				<template v-if="isOpenQrDialog">
						<div class="qr-code-img" v-if='hiddenQrcode'>
								<img style="width: 100%" v-lazy="base64Src">
								<img src="../../assets/line.png" alt="" class="code_line">
								<div style='padding: 10px'>请扫描二维码验证</div>
						</div>
						<code v-else>
								<el-button type="primary" @click="resetCode" v-if='!hiddenQrcode' size="medium">重新扫码</el-button>
						</code>
						<br>
						<div class="red p-5" v-if="qrIdentity">校验码:[{{qrIdentity}}]</div>
						<div class="red p-5" v-if='!hiddenQrcode&&errReason'>失败原因:{{errReason}}</div>
						<div class="red p-5" v-if='!hiddenQrcode&&qrErrInfo'>错误信息:{{qrErrInfo}}</div>
				</template>
				<template v-else>
						<span style="font-size: 24px;color: #ff510c">扫码验证成功</span>
				</template>
		</div>
</template>

<script>
import { mapState } from 'vuex'
import { postScanQrCode, getQrCode } from 'api/common'
import {
  setQrInfo
} from 'utils/storage'
import { ERR_OK } from 'api/config'

export default {
  props: {
    flag: {
      type: Boolean,
      default: false
    }
    // hiddenQrcode: {
    //   type: Boolean,
    //   default: true
    // }
  },
  name: 'QrCode',
  data () {
    return {
      scanQrCodeTimer: null,
      hiddenQrcode: true,
      qrTimer: null,
      base64: '',
      qrText: '',
      errReason: ''
    }
  },
  computed: {
    ...mapState({
      callOptions: (state) => state.lotteryQrCode.callOptions,
      isOpenQrDialog: (state) => state.lotteryQrCode.isOpenQrDialog,
      qrIdentity: (state) => state.lotteryQrCode.qrIdentity,
      qrErrInfo: (state) => state.lotteryQrCode.qrErrInfo
    }),
    base64Src () {
      return `data:image/png;base64,${this.base64}`
    }
  },
  methods: {
    scanQrCode () {
      getQrCode().then((res) => {
        if (res.data.code === ERR_OK) {
          const obj = res.data.data
          this.base64 = obj.qrImgText
          this.qrText = obj.qrText
          clearTimeout(this.qrTimer)
          this.qrTimer = null
          const that = this
          this.qrTimer = setTimeout(() => that.scanQrCode(), 2 * 60 * 1000)
        }
      })
    },
    resetCode () {
      // this.$confirm(`此操作将重新扫码提交数据， 是否继续?`, '提示', {
      //   confirmButtonText: '确定',
      //   cancelButtonText: '取消',
      //   type: 'warning'
      // }).then(() => {
      this.hiddenQrcode = true
      this.scanQrCode()
      this._postScanQrCode()
      // })
    },
    transactionFrom () {
      this.$emit('firestorm')
    },
    _postScanQrCode (q) {
      const self = this
      postScanQrCode(q).then((ress) => {
        if (ress.data.code === ERR_OK) {
          clearTimeout(this.qrTimer)
          this.qrTimer = null
          clearTimeout(this.scanQrCodeTimer)
          this.scanQrCodeTimer = null
          setQrInfo({ qrImgText: this.base64, qrText: this.qrText })
          this.$store.dispatch('lotteryQrCode/getQrText', { qrImgText: this.base64, qrText: this.qrText })
          if (!this.flag) {
            this.$nextTick(() => {
              self.$store.dispatch('lotteryQrCode/postScanQuery', self.callOptions).then(() => {
                self.transactionFrom()
                // self.hiddenQrcode = false
                // self.$store.dispatch('lotteryQrCode/setIsOpen', true)
                console.log('self', self)
              }).catch((err) => {
                console.log(err)
                self.hiddenQrcode = false
                // this.$message({
                //   message: `${err.data.reason}，请点击重新扫码，再次提交数据`,
                //   type: 'error'
                // })
                self.errReason = err.data.reason
                // self.scanQrCode()
                // self._postScanQrCode()
              })
            })
          } else {
            self.$store.dispatch('lotteryQrCode/setIsOpen', false)
          }
        } else {
          clearTimeout(this.scanQrCodeTimer)
          this.scanQrCodeTimer = null
          this.scanQrCodeTimer = window.setTimeout(() => self._postScanQrCode(self.qrText), 3 * 1000)
        }
      })
    }
  },
  beforeCreate () {},
  created () {
    this.scanQrCode()
    this._postScanQrCode(this.qrText)
  },
  beforeMount () {},
  mounted () {},
  beforeDestroy () {
    clearTimeout(this.qrTimer)
    this.qrTimer = null
    clearTimeout(this.scanQrCodeTimer)
    this.scanQrCodeTimer = null
  },
  destroyed () {
    clearTimeout(this.qrTimer)
    this.qrTimer = null
    clearTimeout(this.scanQrCodeTimer)
    this.scanQrCodeTimer = null
  },
  filters: {}
}
</script>

<style lang='scss' scoped>
		.red {
				color: #f00
		}

		.p-5 {
				padding: 5px 0;
		}

		@-webkit-keyframes mainbarcode {
				0% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}

				50% {
						-webkit-transform: translate3d(0, 130px, 0);
						-moz-transform: translate3d(0, 130px, 0);
						-ms-transform: translate3d(0, 130px, 0);
						transform: translate3d(0, 130px, 0)
				}

				100% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}
		}

		@-moz-keyframes mainbarcode {
				0% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}

				50% {
						-webkit-transform: translate3d(0, 130px, 0);
						-moz-transform: translate3d(0, 130px, 0);
						-ms-transform: translate3d(0, 130px, 0);
						transform: translate3d(0, 130px, 0)
				}

				100% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}
		}

		@-o-keyframes mainbarcode {
				0% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}

				50% {
						-webkit-transform: translate3d(0, 130px, 0);
						-moz-transform: translate3d(0, 130px, 0);
						-ms-transform: translate3d(0, 130px, 0);
						transform: translate3d(0, 130px, 0)
				}

				100% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}
		}

		@-ms-keyframes mainbarcode {
				0% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}

				50% {
						-webkit-transform: translate3d(0, 130px, 0);
						-moz-transform: translate3d(0, 130px, 0);
						-ms-transform: translate3d(0, 130px, 0);
						transform: translate3d(0, 130px, 0)
				}

				100% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}
		}

		@keyframes mainbarcode {
				0% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}

				50% {
						-webkit-transform: translate3d(0, 130px, 0);
						-moz-transform: translate3d(0, 130px, 0);
						-ms-transform: translate3d(0, 130px, 0);
						transform: translate3d(0, 130px, 0)
				}

				100% {
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0)
				}
		}

		.qr-code {
				position: relative;
				left: 50%;
				/*width: 180px;*/
				/*height: 180px;*/
				margin-bottom: 20px;
				text-align: center;
				transform: translateX(-50%);
				/*border: 1px solid #00bcd4;*/
				/*border-radius: 4px;*/
				code {
						margin: 0;
						padding: 50px;
				}

				.qr-code-img {
						position: relative;
						left: 50%;
						width: 160px;
						height: 160px;
						background: #fff;
						vertical-align: middle;
						margin-bottom: 12px;
						border: 1px solid #bfbfbf;
						transform: translateX(-50%);

						.code_line {
								position: absolute;
								left: 8px;
								top: 6px;
								width: 142px;
								-webkit-animation: mainbarcode 4s linear infinite;
								-moz-animation: mainbarcode 4s linear infinite;
								-ms-animation: mainbarcode 4s linear infinite;
								animation: mainbarcode 4s linear infinite;
						}
				}
		}
</style>
