<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option placeholder="请选择模块类型" clearable
                   @change="_getmoduleSubIdList"
                   v-model="listQuery.moduleId">
          <el-option v-for="item in nameList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option placeholder="请选择所属功能" clearable
                   v-model="listQuery.moduleSubId">
          <el-option v-for="item in moduleSubIdList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :disabled="hasPermission('BusiLoggerActionList')"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="showDialog()" icon="el-icon-plus"
                   :disabled="hasPermission('BusiLoggerActionAdd')">
          添加
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="请求名称" prop="requestUri" min-width="150">
      </el-table-column>
      <el-table-column align="right" label="所属模块" prop="moduleAsString" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="所属功能" prop="moduleSubAsString" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="操作行为" min-width="100">
        <template v-slot="scope">
          <span>{{scope.row.actionType|actionTypeFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="行为描述" prop="actionDesc" min-width="130">
        <template v-slot="scope">
          <el-tooltip effect="light" placement="top">
            <div slot="content">{{scope.row.actionDesc}}</div>
            <span class="ellipsis">{{scope.row.actionDesc}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        min-width="150"
        label="状态"
        align="right">
        <template slot-scope="scope">
          <el-switch
            @change="changeStatus(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            v-model="scope.row.status"
            :disabled="hasPermission('BusiLoggerActionUp')"
            active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" min-width="220">
        <template slot-scope="scope">
          <el-button type="primary" @click="_postBusiLoggerActionDel(scope.row)"
                     :disabled="hasPermission('BusiLoggerActionDel')">删除
          </el-button>
          <el-button type="primary" @click="showDetailProperty(scope.row)"
                     :disabled="hasPermission('BusiLoggerPropertyUp')">设置属性
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <!--    添加日志行为-->
    <el-dialog title="添加日志行为" :visible.sync="dialogFormVisible" width="600px" @close="resetForm">
      <el-form :model="journalForm" label-width="120px" :rules="rules" ref="journalForm">
        <el-form-item label="请求名称" prop="requestUri">
          <el-input v-model="journalForm.requestUri" style="width:80%"></el-input>
        </el-form-item>
        <el-form-item label="模块类型" prop="moduleId">
          <el-select filterable default-first-option placeholder="请选择模块类型" style="width:80%"
                     @change="_getDialogmoduleSubIdList"
                     v-model="journalForm.moduleId">
            <el-option v-for="item in nameList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属功能" prop="moduleSubId">
          <el-select filterable default-first-option placeholder="请选择所属功能" style="width:80%"
                     v-model="journalForm.moduleSubId">
            <el-option v-for="item in moduledialogSubIdList" :key="item.id" :label="item.name"
                       :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="操作行为" prop="actionType">
          <el-select filterable default-first-option placeholder="请选择操作行为" style="width:80%"
                     v-model="journalForm.actionType">
            <el-option v-for="item in actionTypeList" :key="item.id" :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="行为描述" prop="actionDesc">
          <el-input v-model="journalForm.actionDesc" style="width:80%"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postBusiLoggerActionAdd(journalForm)">确 定</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>
    <!--    设置属性-->
    <el-dialog :title="dialogTitle" :visible.sync="dialogTableVisible">
      <div v-if='!PropertyList.length' style='margin-bottom: 5px'>
        <el-button type="primary" @click="addArray()">添加</el-button>
      </div>
      <el-table :data="PropertyList" border>
        <!--								<el-table-column label="请求名称" min-width="200">-->
        <!--										<template v-slot="scope">-->
        <!--												<el-input v-model="scope.row.requestUri"></el-input>-->
        <!--										</template>-->
        <!--								</el-table-column>-->

        <el-table-column label="属性名称" min-width="200">
          <template v-slot="scope">
            <el-input v-model="scope.row.propertyName"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="属性描述" min-width="200">
          <template v-slot="scope">
            <el-input v-model="scope.row.propertyDesc"></el-input>
          </template>
        </el-table-column>

        <el-table-column property="address" label="解析顺序" min-width="100">
          <template v-slot="scope">
            <el-input v-model="scope.row.propertySort"></el-input>
          </template>
        </el-table-column>
        <el-table-column align="right" label="操作" min-width="150">
          <template slot-scope="scope">
            <el-button type="primary" @click="addItem(scope.$index, PropertyList)">添加</el-button>
            <el-button type="primary" @click="_postBusiLoggerPropertyUp(scope.row)">保存</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import {
    validatNumber
  } from '@/utils/validate'
  import {
    getBusiLoggerActionList,
    getBusiLoggerModule,
    postBusiLoggerActionUp,
    postBusiLoggerActionDel,
    postBusiLoggerActionAdd,
    getBusiLoggerPropertyList,
    postBusiLoggerPropertyUp
  } from 'api/busiLogger/index'
  // import Settime from 'utils/settime'

  export default {
    data () {
      const requestUri = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入请求名称'))
        } else {
          if (value.length > 40) {
            callback(new Error('长度不能超过40个字符'))
          }
          callback()
        }
      }
      const actionDesc = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入行为描述'))
        } else {
          if (value.length > 40) {
            callback(new Error('长度不能超过40个字符'))
          }
          callback()
        }
      }
      return {
        // spList: [],
        nameList: [],
        moduleSubIdList: [],
        moduledialogSubIdList: [],
        PropertyList: [],
        actionTypeList: [
          {
            value: 1,
            label: '添加'
          },
          {
            value: 2,
            label: '修改'
          },
          {
            value: 3,
            label: '删除'
          },
          {
            value: 4,
            label: '查询'
          },
          {
            value: 5,
            label: '登录'
          },
          {
            value: 6,
            label: '登出'
          }
        ],
        rules: {
          requestUri:
            [
              {
                required: true,
                trigger: 'blur',
                validator: requestUri
              }
            ],
          moduleId:
            [
              { required: true, message: '请选择模块类型', trigger: 'change' }
            ],
          moduleSubId:
            [
              { required: true, message: '请选择所属功能', trigger: 'change' }
            ],
          actionType:
            [
              { required: true, message: '请选择操作行为', trigger: 'change' }
            ],
          actionDesc:
            [
              {
                required: true,
                trigger: 'blur',
                validator: actionDesc
              }
            ]
        },
        journalForm: {
          requestUri: '',
          moduleId: '',
          moduleSubId: '',
          actionType: '',
          actionDesc: ''
        },
        dialogFormVisible: false,
        dialogTableVisible: false,
        listLoading: false,
        listQuery: {
          pageNo: 1,
          pageSize: 10,
          moduleId: '',
          moduleSubId: ''
        },
        elements: [],
        total: 0,
        dialogTitle: '',
        requestUri: ''
      }
    },
    methods: {
      _getBusiLoggerModule () {
        getBusiLoggerModule({ pId: 0 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.nameList = res.data.data.items
          }
        })
      },
      // 获取功能模块列表
      _getmoduleSubIdList () {
        this.listQuery.moduleSubId = ''
        getBusiLoggerModule({ pId: this.listQuery.moduleId }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.moduleSubIdList = res.data.data.items
          }
        })
      },
      // 获取弹框中功能模块列表
      _getDialogmoduleSubIdList () {
        this.journalForm.moduleSubId = ''
        getBusiLoggerModule({ pId: this.journalForm.moduleId }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.moduledialogSubIdList = res.data.data.items
          }
        })
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this._getBusiLoggerActionList()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._getBusiLoggerActionList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getBusiLoggerActionList()
      },
      _getBusiLoggerActionList () {
        this.listLoading = true
        getBusiLoggerActionList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v.status = Boolean(v.status)
              return v
            })
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      },
      // 启用/禁用优惠活动状态
      changeStatus (row) {
        const str = row.status ? '启用' : '禁用'
        this.$confirm(`此操作将${str}, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            requestUri: row.requestUri,
            status: row.status ? 1 : 0
          }
          postBusiLoggerActionUp(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
              this._getBusiLoggerActionList()
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      },
      _postBusiLoggerActionDel (row) {
        this.$confirm(`此操作将删除该条日志, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            requestUri: row.requestUri
          }
          postBusiLoggerActionDel(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `删除成功!`
              })
            }
            this._getBusiLoggerActionList()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      showDialog () {
        this.dialogFormVisible = true
      },
      _postBusiLoggerActionAdd (row) {
        this.$refs.journalForm.validate((valid) => {
          if (valid) {
            this.$confirm(`此操作将添加新的日志行为， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                requestUri: row.requestUri,
                moduleId: row.moduleId,
                moduleSubId: row.moduleSubId,
                actionType: row.actionType,
                actionDesc: row.actionDesc
              }
              postBusiLoggerActionAdd(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `添加成功!`
                  })
                  this._search()
                  this.resetForm()
                }
              })
            })
          }
        })
      },
      // 添加行为后列表没有数据添加一组数据
      addArray () {
        this.PropertyList.push({
          id: 0,
          requestUri: this.requestUri,
          moduleId: '',
          moduleSubId: '',
          actionType: '',
          actionDesc: ''
        })
      },
      // 添加一行日志行为
      addItem (index, list) {
        list.splice(index + 1, 0, {
          id: 0,
          requestUri: this.requestUri,
          propertyName: '',
          propertyDesc: '',
          propertySort: ''
        })
      },
      _postBusiLoggerPropertyUp (row) {
        if (!validatNumber(row.propertySort)) {
          this.$message({
            type: 'error',
            message: `解析顺序只能为数字`
          })
          return
        }
        // if (!row.requestUri) {
        //   this.$message({
        //     type: 'error',
        //     message: `请输入请求名称`
        //   })
        //   return
        // }
        if (!row.propertyName) {
          this.$message({
            type: 'error',
            message: `请输入属性名称`
          })
          return
        }
        if (!row.propertyDesc) {
          this.$message({
            type: 'error',
            message: `请输入属性描述`
          })
          return
        }
        this.$confirm(`此操作将修改该日志行为， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            id: row.id,
            requestUri: this.requestUri,
            propertyName: row.propertyName,
            propertyDesc: row.propertyDesc,
            propertySort: row.propertySort
          }
          postBusiLoggerPropertyUp(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `修改成功!`
              })
              this._search()
              this.dialogTableVisible = false
            }
          })
        })
      },
      // 重置清空表单
      resetForm () {
        this.journalForm = {
          requestUri: '',
          moduleId: '',
          moduleSubId: '',
          actionType: '',
          actionDesc: ''
        }
        this.$refs.journalForm.resetFields()
        this.dialogFormVisible = false
      },
      // 获取设置属性弹框列表数据
      _getBusiLoggerPropertyList (row) {
        const query = {
          requestUri: row.requestUri
        }
        getBusiLoggerPropertyList(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.PropertyList = res.data.data.items
          }
        })
      },
      // 打开设置属性弹框
      async showDetailProperty (row) {
        await this._getBusiLoggerPropertyList(row)
        this.dialogTitle = `${row.requestUri}添加业务操作日志行为属性`
        this.requestUri = row.requestUri
        this.dialogTableVisible = true
      }
    },
    created () {
      this._getBusiLoggerModule()
      // const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      // this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      // this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      this._getBusiLoggerActionList()
    },
    filters: {
      actionTypeFilter (type) {
        const clientMap = {
          1: '添加',
          2: '修改',
          3: '删除',
          4: '查询',
          5: '登录',
          6: '登出'
        }
        return clientMap[type]
      },
      requestResultFilter (type) {
        const apiMap = {
          1: '成功',
          2: '失败',
          3: '异常'
        }
        return apiMap[type]
      }
    }
  }
</script>
<style scoped="scoped" lang="scss">

</style>
