<template>
  <div>
    <div class="playBox">
      <table class="main-table" border="1" style="border-collapse:collapse;border-color: #a0c6e5;width:100%;"
             v-loading="loading"
             element-loading-text="拼命加载中"
             element-loading-spinner="el-icon-loading">
        <tr align="right">
          <td style="padding: 10px; border-top: none">玩法</td>
          <td style="padding: 10px; border-top: none">细则</td>
          <td style="padding: 10px; border-top: none">基础赔率/倍</td>
          <td style="padding: 10px; border-top: none">机器人最大投注金额/元</td>
        </tr>
        <tbody v-for="item in basicPlayItems" :key="item.id">
        <tr v-if="item.plays.length === 0" align="right">
          <td>{{ item.classifyName }}</td>
          <td>暂无玩法数据</td>
          <td>暂无玩法数据</td>
        </tr>
        <tr v-else v-for="(play,index) in item.plays" :key="index" align="right">
          <td width="11%" colspan="1" v-if="index===0" :rowspan="item.plays.length">
            {{ index === 0 ? item.classifyName : '' }}
          </td>
          <td width="18%">{{ play.playName }}</td>
          <td width="20%">
            <el-input style="max-width: 200px;margin:2px;"
                      clearable
                      placeholder="请输入赔率"
                      size="mini"
                      @blur="dFormatter(play,0,$event)"
                      :maxlength="10"
                      v-model="play.prize"></el-input>
          </td>
          <td width="20%">
            <el-input placeholder="请输入金额..." size="mini"
                      style="max-width: 200px;margin:2px;"
                      v-model="play.robotMaxMoney"
                      :maxlength="10"
                      @blur="dFormatter(play,1,$event)"
                      clearable></el-input>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-container text-center">
      <el-button size="medium"
                 type="primary"
                 round
                 style="width:140px;"
                 @click="saveBasicPlaySetting"
                 :disabled="hasPermission('roomPlaySave')">
        保存
      </el-button>
    </div>
  </div>
</template>

<script>
import { ERR_OK } from 'api/config'
import {
  getRoomPlayList,
  postRoomPlaySave
} from 'api/roomLottery/'
import NP from 'number-precision'

export default {
  props: {
    roomLevel: {
      type: Object,
      required: true
    }
  },
  watch: {
    roomLevel () {
      this._getList()
    }
  },
  data () {
    return {
      loading: false,
      basicPlayItems: []
    }
  },
  created () {
    this._getList()
  },
  methods: {
    clearNoNum (v) {
      // 先把非数字的都替换掉，除了数字和.
      v = v.replace(/[^\d.]/g, '')
      // 保证只有出现一个.而没有多个.
      v = v.replace(/\.{2,}/g, '.')
      // 必须保证第一个为数字而不是.
      v = v.replace(/^\./g, '')
      // 保证.只出现一次，而不能出现两次以上
      v = v.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')
      // 只能输入两个小数
      return v.replace(/^(-)*(\d+)\.(\d\d\d).*$/, '$1$2.$3')
    },
    dFormatter (item, flag, e) {
      const value = this.clearNoNum(e.target.value)
      // console.log(value)
      let min = 0.001
      const max = 9999999.99
      let pop = 'prize'
      let textContent = '基础赔率'
      let lenText = '金额只允许正两位小数'
      let re = /^\d+(\.\d{0,3})?$/
      if (flag) {
        textContent = '机器人的最大投注金额'
        pop = 'robotMaxMoney'
        min = 0.01
        lenText = '基础赔率只允许正三位小数'
        re = /^\d+(\.\d{0,2})?$/
      }
      const tempPop = `temp_${pop}`
      // if (!item.prize) {
      //   this.$notify({
      //     type: 'error',
      //     title: '错误',
      //     message: `${item.playName}的${textContent}不能为空`,
      //     offset: 100
      //   })
      //   item.isEdit = false
      //   item.isErr = true
      //   return
      // }
      // if (!re.test(item.prize)) {
      //   this.$notify({
      //     type: 'error',
      //     title: '错误',
      //     message: `${item.playName}的基础赔率输入的数值不正确，只允许两位小数`,
      //     offset: 100
      //   })
      //   item.isEdit = false
      //   item.isErr = true
      //   return
      // }
      if (re.test(value)) {
        if (parseFloat(value) < min || parseFloat(value) > max) {
          this.$nextTick(() => {
            if (parseFloat(value) < min) {
              e.target.value = item[pop] = min
            }
            if (parseFloat(value) > max) {
              e.target.value = item[pop] = max
            }
            this.$notify({
              type: 'error',
              title: '错误',
              message: `${item.playName}的${textContent}输入的数值填写范围为:${min}~${max}`,
              offset: 100
            })
            item.isEdit = true
          })
        } else {
          console.log(item[pop], value)
          e.target.value = item[pop] = value
        }
      } else {
        e.target.value = item[pop] = min
        this.$notify({
          type: 'warning',
          title: '错误',
          offset: 100,
          message: `输入的数值不能为空或格式不正确,${lenText}`
        })
      }
      if (parseFloat(item[pop]) !== parseFloat(item[tempPop])) {
        item.isEdit = true
      }
      console.log(e.target.value)
    },
    _getList () {
      this.loading = true
      getRoomPlayList(this.roomLevel).then((res) => {
        if (res.data.code === ERR_OK) {
          this.basicPlayItems = res.data.data.items.map((m) => {
            m.isEdit = false
            m.plays.map((n) => {
              n.isEdit = false
              // n.isErr = false
              n.prize = (n.prize / 1000).toFixed(3)
              n.robotMaxMoney = (n.robotMaxMoney / 100).toFixed(2) || '0.00'
              n.temp_prize = n.prize
              n.temp_robotMaxMoney = n.robotMaxMoney
              return n
            })
            return m
          })
          console.log(this.basicPlayItems)
        }
        this.loading = false
      })
    },
    saveBasicPlaySetting () {
      const saveItems = []
      let count = 0
      this.basicPlayItems.forEach((m) => {
        m.plays.forEach((n) => {
          if (n.isEdit) {
            const i = {
              prize: NP.times(Number(n.prize), 1000),
              playId: n.playId,
              robotMaxMoney: NP.times(Number(n.robotMaxMoney), 100)
            }
            saveItems.push(i)
            ++count
          }
        })
      })
      console.log(saveItems)
      if (!count) {
        this.$message({
          type: 'warning',
          message: '没有修改任何玩法赔率!'
        })
        return
      }
      this.$confirm(`有${count}条基础玩法将被修改，是否继续？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true
        const query = {
          lotteryId: this.roomLevel.lotteryId,
          roomLevelId: this.roomLevel.roomLevelId,
          spCode: this.roomLevel.spCode,
          items: JSON.stringify(saveItems)
        }
        postRoomPlaySave(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '保存成功！'
            })
            this._getList()
          }
          this.loading = false
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .playBox {
    max-height: 466px;
    border-bottom: 1px solid #a0c6e5;
    border-top: 1px solid #a0c6e5;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.90, #a0c6e5), color-stop(0.80, #a0c6e5), color-stop(0.70, #a0c6e5));
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background-color: #fff;
    }

    .main-table {
      border: .2px;
      width: 100%;
      height: 100%;

      td {
        padding: 5px;

        &:nth-child(0) {
          padding: 10px;
        }

        /*.errFocus {*/
        /*border: 1px solid #f00;*/
        /*border-radius: 4px;*/
        /*.el-input__inner {*/
        /*&:hover, &:focus {*/
        /*border-color: #f00;*/
        /*}*/
        /*}*/
        /*}*/
      }
    }
  }
</style>
