<template>
  <div style="width: 100%" v-loading="loading">
    <div class="limit-content">
      <div v-for="(item, index) in entryItems" class="center" :key="index">
        <span class="form-label">{{ item.key | keyToText }}：</span>
        <el-input clearable class="prize-input"
                  placeholder="用户余额上限值"
                  size="mini"
                  :maxlength="7"
                  @blur="limitNumberRange('entryItems', [index, 'value'], $event)"
                  v-model="item.value">
        </el-input>
      </div>
    </div>
    <div class="pagination-container text-center">
      <el-button size="medium"
                 type="primary"
                 round
                 style="width:140px; margin:0 auto;"
                 @click="saveEntrySetting"
                 :disabled="hasPermission('roomConditionSave')">
        保存
      </el-button>
    </div>
  </div>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import {
    getRoomConditionList,
    postRoomConditionSave
  } from 'api/roomLottery/'
  import { _setModelKey, limitNumberRange } from './handleInputNumber'

  export default {
    data () {
      return {
        entryItems: [],
        loading: false
      }
    },
    props: {
      roomLevel: {
        type: Object,
        required: true
      }
    },
    watch: {
      roomLevel () {
        this._getList()
      }
    },
    created () {
      this._getList()
    },
    methods: {
      _setModelKey,
      limitNumberRange,
      _parseData (items) {
        this.entryItems = items.map((item) => item)
      },
      _parseSaveData () {
        const _entryItems = this.entryItems.map((item) =>
          // item.value *= 100
          item)
        return _entryItems
      },
      _getList () {
        this.loading = true
        getRoomConditionList(this.roomLevel).then((res) => {
          if (res.data.code === ERR_OK) {
            this._parseData(res.data.data.items)
            console.log(this.entryItems)
          }
          this.loading = false
        })
      },
      saveEntrySetting () {
        this.$confirm(`确定要修改进入条件的设置？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const items = this._parseSaveData()
          const query = {
            lotteryId: this.roomLevel.lotteryId,
            roomLevelId: this.roomLevel.roomLevelId,
            spCode: this.roomLevel.spCode,
            items: JSON.stringify(items)
          }
          this.loading = true
          postRoomConditionSave(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '保存成功！'
              })
              this._getList()
            }
            this.loading = false
          })
        })
      }
    },
    filters: {
      keyToText (val) {
        switch (val) {
          case 'COND_MIN_BALANCE':
            return '彩金限额'
          default:
            return ''
        }
      }
    }
  }
</script>

<style scoped>
  .prize-input {
    width: 160px;
    margin: 4px;
  }

  .form-label {
    font-size: 16px;
    color: #767a82;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .limit-content {
    margin: 20px 40px;
    min-height: 130px;
  }

</style>
