<template>
  <div>
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
      <el-tab-pane v-for="item in tabNav" :label="item.label" :name="item.name"
                   :disabled="hasPermission(item.cmd)"
                   :key="item.name">
        <span slot="label">
          <el-tooltip placement="top">
            <i class="el-icon-info"></i>
            <div slot="content" v-html="item.content"></div>
          </el-tooltip>
          <span>{{ item.label }}</span>
        </span>
      </el-tab-pane>
      <keep-alive>
        <component :is="com" :room-level="roomLevel"></component>
      </keep-alive>
    </el-tabs>
  </div>
</template>

<script>
  import BasicPlay from './BasicPlay'
  import SpecialPlay from './SpecialPlay'
  import LimitSetting from './LimitSetting'
  import EntryCondition from './EntryCondition'
  import { tabNav } from './tabNav'

  export default {
    components: {
      BasicPlay,
      SpecialPlay,
      LimitSetting,
      EntryCondition
    },
    props: {
      roomLevel: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        activeName: 'first',
        com: 'BasicPlay'
      }
    },
    computed: {
      tabNav () {
        return tabNav
      }
    },
    methods: {
      handleClick (tab) {
        switch (tab.name) {
          case 'special':
            this.com = 'SpecialPlay'
            break
          case 'limit':
            this.com = 'LimitSetting'
            break
          case 'condition':
            this.com = 'EntryCondition'
            break
          default:
            this.com = 'BasicPlay'
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
