<template>
  <div style="width: 75%;margin: 0 auto" v-loading="loading">
    <div class="header">
      <div class="flex-around">
        <span class="left-span">单注最低:</span>
        <div class="right-div">
          <div class="flex-between">
            <div>
              <el-checkbox v-model="limitInfo.minBet.checked"
                           v-if='limitInfo.minBet&&limitInfo.minBet.checked!==undefined'></el-checkbox>
              <span class="topM">单注最低</span>
            </div>
            <div style="display: inline;">
              <el-input clearable class="prize-input"
                        style="width: 124px;margin-left: 4px"
                        placeholder="请输入限额" :maxlength="7"
                        v-if='limitInfo.minBet&&limitInfo.minBet.val!==undefined'
                        size="mini"
                        @blur="handleSingleTotalInput('limitInfo', ['minBet', 'val'], $event, false, 0.01)"
                        v-model="limitInfo.minBet.val">
              </el-input>
              <span>元起</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle flex-around">
      <span class="left-span">单注封顶:</span>
      <div class="right-div">
        <div class="flex-between" v-for="(maxLimit,index) in limitInfo.maxBet" :key="index">
          <div>
            <el-checkbox v-model="maxLimit.checked"
                         v-if='maxLimit&&maxLimit.checked!==undefined'></el-checkbox>
            <span>{{ maxLimit.item | itemNameFilter }}</span>
          </div>
          <div class="inputBox">
            <el-input clearable class="prize-input"
                      style="width: 110px;margin-left: 4px"
                      placeholder="请输入限额"
                      size="mini" :maxlength="7"
                      v-if='maxLimit&&maxLimit.val!==undefined'
                      @blur="handleSingleTotalInput('limitInfo', ['maxBet',index, 'val'], $event)"
                      v-model="maxLimit.val">
            </el-input>
            <span>元封顶</span>
            <el-checkbox
              style="display: block;margin-left: 5px" size="small"
              v-if="maxLimit&&maxLimit.allDigit!==undefined&&maxLimit.item === 'digit'" :maxlength="7"
              v-model="maxLimit.allDigit">
              <font style="color: #da2723;margin-left: -9px;font-size:12px;">&nbsp;按单点数字总注数金额</font>
            </el-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom  flex-around">
      <span class="left-span">总注封顶:</span>
      <div class="right-div flex-between">
        <div style="display: inline;">
          <el-checkbox v-model="limitInfo.allMaxBet.checked"
                       v-if='limitInfo.allMaxBet&&limitInfo.allMaxBet.checked!==undefined'>
          </el-checkbox>
          <span>总注</span>
        </div>
        <div style="display: inline;">
          <el-input clearable class="prize-input"
                    placeholder="请输入限额"
                    size="mini"
                    style="width: 110px;margin-left: 4px"
                    :maxlength="7"
                    v-if='limitInfo.allMaxBet&&limitInfo.allMaxBet.val!==undefined'
                    @blur="handleSingleTotalInput('limitInfo', ['allMaxBet','val'], $event)"
                    v-model="limitInfo.allMaxBet.val">
          </el-input>
          <span>元封顶</span>
        </div>
      </div>
    </div>
    <div class="pagination-container text-center">
      <el-button size="medium"
                 type="primary"
                 round
                 style="width:140px;"
                 @click="saveLimitSetting"
                 :disabled="hasPermission('roomQuotaSave')">
        保存
      </el-button>
    </div>
  </div>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import {
    getRoomQuotaList,
    postRoomQuotaSave
  } from 'api/roomLottery/'
  import NP from 'number-precision'
  import { _setModelKey, limitNumberRange } from './handleInputNumber'

  export default {
    data () {
      return {
        limitInfo: {},
        loading: false
      }
    },
    props: {
      roomLevel: {
        type: Object,
        required: true
      }
    },
    watch: {
      roomLevel () {
        this._getList()
      }
    },
    created () {
      this._getList()
    },
    methods: {
      _setModelKey,
      limitNumberRange,
      handleSingleTotalInput (modelKey, props, e) {
        this.limitNumberRange(modelKey, props, e)
        console.log(modelKey)
        console.log(props)
        if (NP.minus(e.target.value, this.limitInfo.minBet.val) < 0) {
          let str = ''
          if (props[0] === 'maxBet') {
            str = '单注封顶的设置金额不能小于单注最低金额'
          }
          if (props[0] === 'allMaxBet') {
            str = '总注封顶的设置金额不能小于单注最低金额'
          }
          this.$message({
            type: 'warning',
            message: str
          })
          this._setModelKey(modelKey, props, this.limitInfo.minBet.val)
        }
        if (props[0] === 'minBet') {
          const infoList = [].concat(this.limitInfo.allMaxBet, this.limitInfo.maxBet)
          let min = infoList[0].val
          for (let i; i < infoList.length; i++) {
            if (NP.minus(min, infoList[i].val) < 0) min = infoList[i].val
          }
          if (NP.minus(min, e.target.value) < 0) {
            this.$message({
              type: 'warning',
              message: `单注最低不得低于单注封顶、总注封顶中的最小值，重置为${min}`
            })
            this._setModelKey(modelKey, props, min)
          }
        }
      },
      _parseData (items) {
        const _limitInfo = { ...items }
        _limitInfo.minBet.checked = _limitInfo.minBet.checked ? _limitInfo.minBet.checked === 1 : false
        _limitInfo.minBet.val = NP.divide(_limitInfo.minBet.val, 100)
        _limitInfo.maxBet = _limitInfo.maxBet.map((bet) => {
          bet.checked = bet.checked === 1
          if (bet.val) {
            bet.val = NP.divide(bet.val, 100)
          } else {
            bet.val = ''
          }
          if (bet.allDigit !== undefined) {
            bet.allDigit = bet.allDigit === 1
          }
          return bet
        })
        _limitInfo.allMaxBet.checked = _limitInfo.allMaxBet.checked ? _limitInfo.allMaxBet.checked === 1 : false
        _limitInfo.allMaxBet.val = NP.divide(_limitInfo.allMaxBet.val, 100)
        this.limitInfo = _limitInfo
      },
      _parseSaveData () {
        const _limitInfo = { ...this.limitInfo }
        _limitInfo.minBet.checked = _limitInfo.minBet.checked ? 1 : 0
        _limitInfo.minBet.val = NP.times(_limitInfo.minBet.val, 100)
        _limitInfo.maxBet = _limitInfo.maxBet.map((bet) => {
          bet.checked = bet.checked ? 1 : 0
          bet.val = NP.times(bet.val, 100)
          if (bet.allDigit !== undefined) {
            bet.allDigit = bet.allDigit ? 1 : 0
          }
          return bet
        })
        _limitInfo.allMaxBet.checked = _limitInfo.allMaxBet.checked ? 1 : 0
        _limitInfo.allMaxBet.val = NP.times(_limitInfo.allMaxBet.val, 100)
        return _limitInfo
      },
      _getList () {
        this.loading = true
        getRoomQuotaList(this.roomLevel).then((res) => {
          if (res.data.code === ERR_OK) {
            const items = JSON.parse(res.data.data.quotaContent)
            this._parseData(items)
          }
          this.loading = false
        })
      },
      saveLimitSetting () {
        this.$confirm('将修改限额设置数据，是否继续？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const quotaContent = { ...this._parseSaveData() }
          console.log(quotaContent)
          const query = {
            lotteryId: this.roomLevel.lotteryId,
            roomLevelId: this.roomLevel.roomLevelId,
            spCode: this.roomLevel.spCode,
            quotaContent: JSON.stringify(quotaContent)
          }
          this.loading = true
          postRoomQuotaSave(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '保存成功！'
              })
              this._getList()
            }
            this.loading = false
          })
        })
      }
    },
    filters: {
      itemNameFilter (val) {
        switch (val) {
          case 'digit':
            return '单点数字'
          case 'DXDS':
            return '大小单双'
          case 'ZH':
            return '组合'
          case 'JDJX':
            return '极大极小'
          case 'BAOZI':
            return '豹子'
          case 'DUIZI':
            return '对子'
          case 'SHUNZI':
            return '顺子'
          default:
            return ''
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .prize-input {
    margin: 4px;
  }

  .header, .middle {
    border-bottom: 1px solid #eee
  }

  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
  }

  .header, .middle, .bottom {
    padding: 10px 30px;
    font-size: 16px;

    .left-span {
      text-align: center;
      min-width: 100px;
    }

    .right-div {
      min-width: 344px;
    }
  }

  .text-center {
    text-align: center;
    /*padding: 15px 0;*/
  }
</style>
