<template>
  <div v-loading="loading">
    <div v-cloak>
      <fieldset class="play-body">
        <legend class="title">&nbsp;&nbsp;大小单双&nbsp;&nbsp;</legend>
        <div class="play-content">
          <div class="main-prize">
            <h4>当开奖为13、14时</h4>
            <div class="play-header">
              <el-checkbox v-model="DXDSInfo.defaultPrize.checked"
                           v-if='DXDSInfo.defaultPrize&&DXDSInfo.defaultPrize.checked!==undefined'></el-checkbox>
              <span>基础赔率:</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='DXDSInfo.defaultPrize&&DXDSInfo.defaultPrize.prize!==undefined'
                        v-model="DXDSInfo.defaultPrize.prize"
                        @blur="limitNumberRange('DXDSInfo',['defaultPrize','prize'], $event, 1)">
              </el-input>
              <span>倍</span>
            </div>
            <div v-for="(quotaChild, index) in DXDSInfo.quota" :key="index">
              <el-checkbox v-model="quotaChild.checked"
                           v-if='quotaChild&&quotaChild.checked!==undefined'></el-checkbox>
              <span>总注 ></span>
              <el-input clearable class="prize-input"
                        :maxlength="7"
                        size="small"
                        placeholder="请输入金额"
                        @focus="setDefaultValue"
                        v-if='quotaChild&&quotaChild.cond!==undefined'
                        @blur="handleSpecialTotalInput('DXDSInfo', ['quota',index,'cond'], $event)"
                        v-model="quotaChild.cond">
              </el-input>
              <span>元时，13、14</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='quotaChild&&quotaChild.prize!==undefined'
                        @blur="limitNumberRange('DXDSInfo', ['quota',index,'prize'], $event, 1)"
                        v-model="quotaChild.prize">
              </el-input>
              <span>倍</span>
            </div>
          </div>
          <div class="other">
            <h4>当开特殊玩法时</h4>
            <div v-for="(otherChild, index) in DXDSInfo.other" :key="index">
              <el-checkbox v-model="otherChild.checked"
                           v-if='otherChild&&otherChild.checked!==undefined'></el-checkbox>
              <span>出{{ otherChild.play | otherPlayFilter }}时，大小单双一律</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='otherChild&&otherChild.prize!==undefined'
                        @blur="limitNumberRange('DXDSInfo', ['other',index,'prize'], $event, 1)"
                        v-model="otherChild.prize">
              </el-input>
              <span>倍</span>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="play-body">
        <legend class="title">&nbsp;&nbsp;组合&nbsp;&nbsp;</legend>
        <!-- <div class="play-header">
          <div>
            <el-radio v-model="ZHInfo.alg" label="alg1" @change="rChange"
                      size="mini"
                      class="inline-radio">
              算法一
            </el-radio>
            <div style="padding: 15px;">
              <span>统一赔率：</span>
              <el-input clearable
                        class="prize-input"
                        placeholder="请输入赔率"
                        size="mini"
                        :maxlength="7"
                        @blur="limitNumberRange('ZHInfo', ['alg1','prize'], $event, 1)"
                        v-model="ZHInfo.alg1.prize">
              </el-input>
              <span>倍</span>
              <el-checkbox style="margin-left: 40px;" v-model="ZHInfo.alg1['1314checked']"
                           :disabled="ZHInfo.alg==='alg2'"></el-checkbox>
              <span>13、14：</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        size="mini"
                        :maxlength="7"
                        @blur="limitNumberRange('ZHInfo', ['alg1','1314prize'], $event, 1)"
                        v-model="ZHInfo.alg1['1314prize']">
              </el-input>
              <span>倍</span>
            </div>
          </div>
          <div>
            <el-radio v-model="ZHInfo.alg" label="alg2" class="fl inlineBlock" @change="rChange">算法二</el-radio>
            <div style="padding: 15px;">
              <span>大双、小单：</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        size="mini"
                        :maxlength="7"
                        @blur="limitNumberRange('ZHInfo', ['alg2','DSXD'], $event, 1)"
                        v-model="ZHInfo.alg2.DSXD">
              </el-input>
              <span>倍</span>
              <span style="margin-left: 40px;">小双、大单：</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        size="mini"
                        :maxlength="7"
                        @blur="limitNumberRange('ZHInfo', ['alg2','XSDD'], $event, 1)"
                        v-model="ZHInfo.alg2.XSDD">
              </el-input>
              <span>倍</span>
            </div>
          </div>
        </div> -->
        <div class="play-content">
          <div class="main-prize">
            <h4>当开奖为13、14时</h4>
            <div class="play-header">
              <el-checkbox v-model="ZHInfo.defaultPrize.checked"
                           v-if='ZHInfo.defaultPrize&&ZHInfo.defaultPrize.checked!==undefined'></el-checkbox>
              <span>基础赔率:</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='ZHInfo.defaultPrize&&ZHInfo.defaultPrize.prize!==undefined'
                        v-model="ZHInfo.defaultPrize.prize"
                        @blur="limitNumberRange('ZHInfo',['defaultPrize', 'prize'], $event, 1)">
              </el-input>
              <span>倍</span>
            </div>
            <div v-for="(quotaChild, index) in ZHInfo.quota" :key="index">
              <el-checkbox v-model="quotaChild.checked"
                           v-if='quotaChild&&quotaChild.checked!==undefined'></el-checkbox>
              <span>总注 ></span>
              <el-input clearable class="prize-input"
                        placeholder="请输入金额"
                        :maxlength="7"
                        size="small"
                        @focus="setDefaultValue"
                        v-if='quotaChild&&quotaChild.cond!==undefined'
                        @blur="handleSpecialTotalInput('ZHInfo', ['quota',index,'cond'], $event)"
                        v-model="quotaChild.cond">
              </el-input>
              <span>元时，13、14</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='quotaChild&&quotaChild.prize!==undefined'
                        @blur="limitNumberRange('ZHInfo', ['quota', index, 'prize'], $event, 1)"
                        v-model="quotaChild.prize">
              </el-input>
              <span>倍</span>
            </div>
          </div>
          <div class="other">
            <h4>当开特殊玩法时</h4>
            <div v-for="(otherChild, index) in ZHInfo.other" :key="index">
              <el-checkbox v-model="otherChild.checked"
                           v-if='otherChild&&otherChild.checked!==undefined'></el-checkbox>
              <span>出{{ otherChild.play | otherPlayFilter }}时，组合一律</span>
              <el-input clearable class="prize-input"
                        placeholder="请输入赔率"
                        :maxlength="7"
                        size="small"
                        v-if='otherChild&&otherChild.prize!==undefined'
                        @blur="limitNumberRange('ZHInfo', ['other', index, 'prize'], $event, 1)"
                        v-model="otherChild.prize">
              </el-input>
              <span>倍</span>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="pagination-container text-center">
        <el-button size="medium"
                   type="primary"
                   round
                   style="width:140px;"
                   @click="saveSpecialPlaySetting"
                   :disabled="hasPermission('roomPlaySave')">
          保存
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import {
    getRoomPlaySpecialList,
    postRoomPlaySpecialSave
  } from 'api/roomLottery/'
  import NP from 'number-precision'
  import { _setModelKey, limitNumberRange } from './handleInputNumber'

  export default {
    data () {
      return {
        DXDSInfo: {},
        ZHInfo: {},
        loading: false,
        value: 0
      }
    },
    props: {
      roomLevel: {
        type: Object,
        required: true
      }
    },
    watch: {
      roomLevel () {
        this._getList()
      }
    },
    created () {
      this.$nextTick(function () {
        this._getList()
      })
    },
    methods: {
      setDefaultValue (e) {
        this.value = e.target.value
      },
      handleSpecialTotalInput (modelKey, props, e) {
        this.limitNumberRange(modelKey, props, e)
        if (modelKey === 'DXDSInfo' || modelKey === 'ZHInfo') {
          const v = e.target.value
          console.log(v)
          const p = props[1]
          console.log(p)
          const equalItem = this[modelKey].quota.find((item, index) => {
            console.log(NP.minus(v, item.cond))
            console.log(index)
            return index !== p && NP.minus(v, item.cond) === 0
          })
          console.log(equalItem)
          if (equalItem) {
            const str = modelKey === 'DXDSInfo' ? '大小单双总注金额设置条件不能相等' : '组合总注金额设置条件不能相等'
            this.$message({
              type: 'warning',
              message: str
            })
            this._setModelKey(modelKey, props, this.value)
          }
        }
      },
      _setModelKey,
      limitNumberRange,
      async _parseData (items) {
        const _DXDSInfo = await ({ ...items.DXDS })
        console.log('_DXDSInfo.defaultPrize', _DXDSInfo.defaultPrize)
        if (_DXDSInfo.defaultPrize) {
          _DXDSInfo.defaultPrize.prize = _DXDSInfo.defaultPrize.prize ? NP.divide(_DXDSInfo.defaultPrize.prize, 1000).toFixed(3) : '0.000'
          _DXDSInfo.defaultPrize.checked = _DXDSInfo.defaultPrize.checked ? parseInt(_DXDSInfo.defaultPrize.checked) === 1 : false
        }
        _DXDSInfo.quota = await _DXDSInfo.quota.map((item) => {
          item.checked = item.checked ? parseInt(item.checked) === 1 : false
          if (item.cond) item.cond = item.cond !== 0 ? NP.divide(item.cond, 100).toFixed(2) : '0.00'
          if (item.prize) item.prize = item.prize !== 0 ? NP.divide(item.prize, 1000).toFixed(3) : '0.000'
          return item
        })
        _DXDSInfo.other = await _DXDSInfo.other.map((item) => {
          item.checked = item.checked ? parseInt(item.checked) === 1 : false
          if (item.prize) item.prize = item.prize !== 0 ? NP.divide(item.prize, 1000).toFixed(3) : '0.000'
          return item
        })
        this.DXDSInfo = await ({ ..._DXDSInfo })
        console.log('DXDSInfo:', this.DXDSInfo)
        const _ZHInfo = await ({ ...items.ZH })
        if (_ZHInfo.defaultPrize) {
          _ZHInfo.defaultPrize.prize = _ZHInfo.defaultPrize.prize ? NP.divide(_ZHInfo.defaultPrize.prize, 1000).toFixed(3) : '0.000'
          _ZHInfo.defaultPrize.checked = _ZHInfo.defaultPrize.checked ? parseInt(_ZHInfo.defaultPrize.checked) === 1 : false
        }
        _ZHInfo.quota = await _ZHInfo.quota.map((item) => {
          item.checked = item.checked ? parseInt(item.checked) === 1 : false
          if (item.cond) item.cond = item.cond !== 0 ? NP.divide(item.cond, 100).toFixed(2) : '0.00'
          if (item.prize) item.prize = item.prize !== 0 ? NP.divide(item.prize, 1000).toFixed(3) : '0.000'
          return item
        })
        _ZHInfo.other = await _ZHInfo.other.map((item) => {
          item.checked = item.checked ? parseInt(item.checked) === 1 : false
          item.prize = item.prize !== 0 ? NP.divide(item.prize, 1000).toFixed(3) : '0.000'
          return item
        })
        this.ZHInfo = _ZHInfo
      },
      _parseSaveData () {
        const _DXDSInfo = { ...this.DXDSInfo }
        if (_DXDSInfo.defaultPrize) {
          _DXDSInfo.defaultPrize.prize = NP.times(_DXDSInfo.defaultPrize.prize, 1000)
          _DXDSInfo.defaultPrize.checked = _DXDSInfo.defaultPrize.checked ? 1 : 0
        }
        console.log(_DXDSInfo)
        _DXDSInfo.quota = _DXDSInfo.quota.map((item) => {
          item.checked = item.checked ? 1 : 0
          item.cond = NP.times(item.cond, 100)
          item.prize = NP.times(item.prize, 1000)
          return item
        })
        _DXDSInfo.other = _DXDSInfo.other.map((item) => {
          item.checked = item.checked ? 1 : 0
          item.prize = NP.times(item.prize, 1000)
          return item
        })
        const _ZHInfo = { ...this.ZHInfo }
        console.log(_ZHInfo)
        if (_ZHInfo.defaultPrize) {
          _ZHInfo.defaultPrize.prize = NP.times(_ZHInfo.defaultPrize.prize, 1000)
          _ZHInfo.defaultPrize.checked = _ZHInfo.defaultPrize.checked ? 1 : 0
        }
        _ZHInfo.quota = _ZHInfo.quota.map((item) => {
          item.checked = item.checked ? 1 : 0
          item.cond = NP.times(item.cond, 100)
          item.prize = NP.times(item.prize, 1000)
          return item
        })
        _ZHInfo.other = _ZHInfo.other.map((item) => {
          item.checked = item.checked ? 1 : 0
          item.prize = NP.times(item.prize, 1000)
          return item
        })
        return {
          DXDS: _DXDSInfo,
          ZH: _ZHInfo
        }
      },
      _getRoomPlaySpecialList () {
        return getRoomPlaySpecialList(this.roomLevel)
      },
      async _getList () {
        this.loading = true
        const res = await this._getRoomPlaySpecialList()
        if (res.data.code === ERR_OK) {
          const items = JSON.parse(res.data.data.prizeContent)
          this._parseData(items)
          console.log(items)
        }
        this.loading = false
        // getRoomPlaySpecialList(this.roomLevel).then(res => {
        // })
      },
      saveSpecialPlaySetting () {
        this.$confirm(`确定要修改特殊玩法的赔率设置？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.loading = true
          const prizeContent = { ...this._parseSaveData() }
          console.log(prizeContent)
          const query = {
            lotteryId: this.roomLevel.lotteryId,
            roomLevelId: this.roomLevel.roomLevelId,
            spCode: this.roomLevel.spCode,
            prizeContent: JSON.stringify(prizeContent)
          }
          postRoomPlaySpecialSave(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '保存成功！'
              })
              this._getList()
            }
            this.loading = false
          })
        })
      }
    },
    filters: {
      otherPlayFilter (val) {
        switch (val) {
          case 'BAOZI':
            return '豹子'
          case 'DUIZI':
            return '对子'
          case 'SHUNZI':
            return '顺子'
          default:
            return ''
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  [v-cloak] {
    display: none;
  }

  .prize-input {
    width: 130px;
    margin: 4px;
  }

  .play-body {
    padding: 20px 10px;
    margin: 20px;
    border: 1px solid #ddd;

    .title {
      color: black;
      font-weight: bold;
    }

    .play-header {
      /*border-bottom: 1px solid #bae0e0;*/
      margin-bottom: 8px;
      padding: 4px;
      color: #353346;

      .inline-radio {
        display: block;
        float: left;
      }
    }

    .play-content {
      display: flex;
      justify-content: space-around;

      .other {
        min-width: 400px;
        background-color: #99ffcc;
        color: #42b058;

        h4 {
          color: #444444;
          padding: 0 10px 10px;
          border-bottom: 1px solid #bae0e0;
        }

        div {
          padding: 0 10px;
        }
      }

      .main-prize {
        padding: 0 0 10px;
        color: red;
        background-color: #99ffff;

        h4 {
          color: #444444;
          padding: 0 10px 10px;
          border-bottom: 1px solid #bae0e0;
        }

        div {
          padding: 0 10px;
        }
      }

    }
  }
</style>
