<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           @change="resetLotteryType"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options="{type: 'spCode',placeholder: '请输入厅编码',defaultValue: listQuery.spCode}"
          ref='sSearch'
          @dealChange="dealSpCodeChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input style="width: 170px;" placeholder="请输入会员账号"-->
        <!--								          clearable-->
        <!--								          v-model="listQuery.loginId">-->
        <!--								</el-input>-->
        <fuzzy-query-search
          :options="{spCode: listQuery.spCode,type: 'memberSearch',placeholder: '请输入用户账号',defaultValue: listQuery.loginId}"
          @dealChange="dealChange"
          ref="mSearch"
          :disabled="!Boolean(listQuery.spCode)"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入期号" clearable
                  v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入订单号" clearable
                  v-model="listQuery.orderCode">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" placeholder="请选择彩种类型"
                   clearable default-first-option
                   v-model="listQuery.lotteryTypeId" @change="handleChange" @clear="resetSelect">
          <el-option
            v-for="item in lotteryTypeList"
            @change="resetLotteryTypeId"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" placeholder="请选择彩种"
                   clearable default-first-option
                   v-model="listQuery.lotteryId" :disabled="!listQuery.lotteryTypeId">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="请选择订单状态"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.orderStatus">
          <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="是否已派彩"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.dealStatus">
          <el-option v-for="item in dealStatuses" :label="item.label" :value="item.value" :key="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="查询时间类型"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.timeType">
          <el-option v-for="item in timeTypes" :label="item.label" :value="item.value" :key="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <!--      <el-form-item>-->
      <!--        <el-select style="width: 150px" placeholder="是否为追号订单"-->
      <!--                   clearable-->
      <!--                   filterable-->
      <!--                   default-first-option-->
      <!--                   v-model="listQuery.orderType">-->
      <!--          <el-option v-for="item in orderTypes" :label="item.label" :value="item.value" :key="item.value">-->
      <!--          </el-option>-->
      <!--        </el-select>-->
      <!--      </el-form-item>-->
      <el-form-item>
        <el-select v-model="listQuery.betaOrder" placeholder="请选择版本" clearable>
          <el-option label="正式" :value="0"></el-option>
          <el-option label="体验" :value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          @change="dataTimeChangeGet"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="(!listQuery.spCode)||hasPermission('OrderInfoList')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-tooltip :disabled="hideShow" :content="tipContent" placement="top" effect="dark">
          <el-button @click="_postExportOrderList" type="success" icon="el-icon-download"
                     :loading="listLoading"
                     :disabled="!listQuery.spCode || !total || hasPermission('OrderInfoListExport') || !reportExportOrderNum">
            报表生成
          </el-button>
        </el-tooltip>
      </el-form-item>
    </el-form>
    <search-list :list-querys='listQuery' :is-search='searchQuestion' ref="searchList"
                 @getBtnInfo="getBtnInfos"></search-list>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import Settime from 'utils/settime'
  import { getAjaxData } from 'api/common'
  import { postExportOrderList } from 'api/orders'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import searchList from './search'

  export default {
    components: {
      searchList, fuzzyQuerySearch
    },
    data () {
      return {
        // spList: [],
        lotteryTypeList: [],
        options: [],
        dataValue: [],
        searchQuestion: false,
        listLoading: false,
        listQuery: {
          lotteryTypeId: '',
          betaOrder: '',
          lotteryId: '',
          issue: '', // 期号
          orderStatus: '', // 000(0)未结算 001(1)用户撤单 010(2)追号撤单 011(3)系统撤单 100(4)已结算_平局 101(5)已结算_输 110(6)已结算_赢
          beginTime: '', // 格式 yyyy-mm-dd
          endTime: '', // 格式 yyyy-mm-dd
          orderCode: '',
          userId: '',
          loginId: '',
          pageNo: 1,
          pageSize: 10,
          spCode: '',
          timeType: '',
          orderType: '',
          dealStatus: '',
          canChangePageNo: false
        },
        options3: [
          {
            value: 0,
            label: '等待开奖'
          },
          {
            value: 1,
            label: '用户撤单'
          },
          {
            value: 2,
            label: '追号撤单'
          },
          {
            value: 3,
            label: '系统撤单'
          },
          {
            value: 4,
            label: '输'
          },
          {
            value: 5,
            label: '平局'
          },
          {
            value: 6,
            label: '赢'
          }
        ],
        pickerOptions: EnUSPickerOptions,
        orderTypes: [
          {
            value: 0,
            label: '否'
          },
          {
            value: 1,
            label: '是'
          }
        ],
        dealStatuses: [
          {
            value: 0,
            label: '未派彩'
          },
          {
            value: 1,
            label: '已派彩'
          }
        ],
        timeTypes: [
          {
            value: 1,
            label: '按下注时间查询'
          },
          {
            value: 2,
            label: '按结算时间查询'
          }
        ],
        reportExportOrderNum: 0,
        hideShow: true,
        tipContent: '',
        total: 0
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      // 获取彩种类型列表
      this._getLotteryTypeList()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      dealSpCodeChange (op) {
        this.listQuery = { ...this.listQuery, ...op, loginId: '' }
        this.$refs.mSearch.value = ''
      },
      // 注单列表导出
      _postExportOrderList () {
        if (this.total > this.reportExportOrderNum) {
          this.$message({
            type: 'error',
            message: '导出数据过大，请缩小查询范围!'
          })
          return
        }
        postExportOrderList({ ...this.listQuery, cmd: 'OrderInfoListExport' }).then((r) => {
          if (r.data.code === ERR_OK) {
            this.$store.dispatch('reportDownload/setType', 6)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.listQuery.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      resetLotteryType (val) {
        this.listQuery.lotteryTypeId = ''
        this.listQuery.lotteryId = ''
        this.listQuery.loginId = ''
        this.listQuery.orderStatus = ''
        this.listQuery.timeType = ''
        this.listQuery.orderType = ''
        this._getLotteryTypeList()
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      dataTimeChangeGet (v) {
        if (!v) this.dataValue = []
      },
      resetLotteryTypeId (val) {
        this.listQuery.lotteryId = ''
      },
      getBtnInfos (info) {
        console.log(info)
        this.reportExportOrderNum = info.reportExportOrderNum
        this.total = info.total
        if (info === undefined) {
          this.hideShow = true
        } else {
          this.hideShow = false
          this.tipContent = `注单导出最大导出数量${info.reportExportOrderNum}条`
          if (this.total > info.reportExportOrderNum) {
            this.tipContent = '导出数据过大，请缩小查询范围'
          }
        }
      },
      _search () {
        this.$refs.searchList.changePageNo()
        this.searchQuestion = !this.searchQuestion
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      }
    },
    computed: {}
  }
</script>

<style>

</style>
