<template>
  <el-table :key='tabKey'
            :data="data"
            style="width: 100%"
            max-height='650'
            size="mini"
            border fit highlight-current-row
            ref="singleTable">
    <el-table-column align="right" label="订单号" min-width="180">
      <template slot-scope="scope">
        <el-button type="text" @click.native="postOrderDetail(scope.row)" v-if="scope.row.status!==7"
                   :disabled="hasPermission('OrderDetail')">
          {{scope.row.orderCode}}
        </el-button>
        <span v-else>{{scope.row.orderCode}}</span>
      </template>
    </el-table-column>
    <el-table-column label="用户名" min-width="120" align="right">
      <template slot-scope="scope">
        <span>{{scope.row.loginId}}</span>
      </template>
    </el-table-column>
    <el-table-column align="right" label="下注时间" min-width="150">
      <template slot-scope="scope">
        <span>{{scope.row.createTime | TimeFilter}}</span>
      </template>
    </el-table-column>
    <el-table-column align="right"
                     label="下注内容"
                     min-width="200">
      <template slot-scope="scope">
        <div v-if="scope.row.show" style="text-align: right;padding-right: 8px">
          <div>
            <span>{{scope.row.lotteryName}}</span> 第<span class="green">{{scope.row.issue}}</span>期
          </div>
          <div>{{scope.row.playName}}</div>
          <div v-if="scope.row.buyCodeCase !== '-1'" class="order-content">
            <el-tooltip placement="bottom">
              <div slot="content" class="fold">{{ scope.row.buyCodeCase }}</div>
              <div class="blue ellipsis">{{ scope.row.buyCodeCase }}</div>
            </el-tooltip>
            @<span class="red">{{ scope.row.prize | prizeFilter }}</span>
          </div>
          <div v-else>
            <el-button type="text" @click.native="postOrderDetail(scope.row)"
                       :disabled="hasPermission('OrderDetail')" style="padding: 0">
              查看详情
            </el-button>
          </div>
        </div>
      </template>
    </el-table-column>
    <el-table-column align="right" label="状态" min-width="100">
      <template slot-scope="scope">
        <div v-if="scope.row.show">
          <span :class="getStatusClass(scope.row.status)">
            {{scope.row.status | statusFilter}}
             <span v-if="scope.row.status > 3">-{{ scope.row.dealStatus | dealStatusFilter}}</span>
            <!--<span v-if="scope.row.status > 3">-{{ scope.row.dealStatus }}</span> -->
          </span>
        </div>
      </template>
    </el-table-column>
    <!-- <el-table-column align="right" label="代理返点状态" min-width="100">
      <template slot-scope="scope">
        <div v-if="scope.row.show">
          <span :class="getAgentStatusClass(scope.row)">
            {{ getAgentRebateStatus(scope.row) }}
          </span>
        </div>
      </template>
    </el-table-column> -->
    <el-table-column align="right"
                     min-width="120"
                     sortable
                     prop="orderMoney">
      <template slot="header">
        <span>下注总额</span>
        <el-tooltip class="item" effect="dark" placement="top">
          <div slot="content">下注总额 = 注数 * 单注金额 * 投注倍数</div>
          <i class="el-icon-info"></i>
        </el-tooltip>
      </template>
      <template slot-scope="scope">
        <span>{{scope.row.orderMoney|filterMoney}}</span>
      </template>
    </el-table-column>
    <el-table-column align="right"
                     sortable
                     label="有效投注额"
                     min-width="120" prop="markCount">
      <template slot="header">
        <span>有效投注额</span>
      </template>
      <template slot-scope="scope">
        <span>{{scope.row.markCount|filterMoney}}</span>
      </template>
    </el-table-column>
    <el-table-column align="right"
                     label="中奖金额"
                     sortable
                     min-width="100" prop="dealMoney">
      <template slot-scope="scope">
        <span>{{scope.row.dealMoney|filterMoney}}</span>
      </template>
    </el-table-column>
    <!-- <el-table-column align="right" label="投注返点" min-width="100" prop="rebateMoney" sortable>
      <template slot-scope="scope">
        <span>{{scope.row.rebateMoney|filterMoney}}</span>
      </template>
    </el-table-column> -->
    <el-table-column align="right"
                     min-width="100"
                     sortable
                     prop="profitMoney">
      <template slot="header">
        <span>盈利</span>
        <el-tooltip class="item" effect="dark" placement="top">
          <!-- <div slot="content">盈利 = 中奖金额 - 下注总额 + 投注返点</div> -->
          <div slot="content">盈利 = 中奖金额 - 下注总额</div>
          <i class="el-icon-info"></i>
        </el-tooltip>
      </template>
      <template slot-scope="scope">
        <span>{{scope.row.profitMoney|filterMoney}}</span>
      </template>
    </el-table-column>
    <el-table-column align="right"
                     label="操作"
                     fixed="right"
                     min-width="220">
      <template slot-scope="scope">
        <div class="cellControl">
          <el-tooltip content="人工撤单" placement="top">
            <el-button type="primary" v-if="scope.row.show"
                       size="mini"
                       :ref="`id_${scope.row.orderCode}`"
                       @click.native="postOrderCancel(scope.row)"
                       :disabled="scope.row.status !== 0 || hasPermission('LotteryUserBetCancel') || scope.row.spCode === 'DEMO' || scope.row.cancelDisabled">
              撤
            </el-button>
          </el-tooltip>
          <el-tooltip content="人工派彩" placement="top">
            <el-button type="primary" v-if="scope.row.show"
                       size="mini"
                       @click.native="postOrderDeal(scope.row)"
                       :disabled="scope.row.dealStatus===1 || scope.row.status < 4 || hasPermission('OrderDeal') || scope.row.dealDisabled">
              派
            </el-button>
          </el-tooltip>
          <el-tooltip content="人工结算" placement="top">
            <el-button type="primary" v-if="scope.row.show"
                       size="mini"
                       @click.native="postOrderSettle(scope.row)"
                       :disabled="scope.row.status!==0 || hasPermission('OrderSettlement') || scope.row.settleDisabled">
              结
            </el-button>
          </el-tooltip>
          <!-- <el-tooltip content="人工发放代理返点" placement="top">
            <el-button type="primary" v-if="scope.row.show"
                       size="mini"
                       @click.native="postOrderDealAgentRebate(scope.row)"
                       :disabled="getAgentRebateStatus(scope.row) !== '未发放' || hasPermission('OrderDealAgentRebate') || scope.row.agentDisabled">
              代
            </el-button>
          </el-tooltip> -->
        </div>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  import {
    statusFilter, dealStatusFilter, prizeFilter, rebateStatusFilter, TimeFilter
  } from '../common-filter'
  import {
    getAgentRebateStatus,
    getAgentStatusClass,
    getStatusClass
  } from './order'

  export default {
    props: {
      data: {
        type: Array,
        required: true
      },
      tabKey: {
        type: Number,
        default: 0,
        required: true
      }
    },
    data () {
      return {
        statusClass: ''
      }
    },
    filters: {
      TimeFilter,
      statusFilter,
      dealStatusFilter,
      prizeFilter,
      rebateStatusFilter,
      filterMoney (val) {
        return parseFloat(val / 100).toFixed(2)
      }
    },
    methods: {
      getAgentRebateStatus,
      getStatusClass,
      getAgentStatusClass,
      postOrderCancel (row) {
        this.$emit('cancelOrder', row)
        // console.log(this.$refs[`id_${o}`])
      },
      postOrderSettle (row) {
        this.$emit('settleOrder', row)
      },
      postOrderDeal (row) {
        this.$emit('dealOrder', row)
      },
      postOrderDetail (row) {
        this.$emit('orderDeail', row)
      },
      postOrderDealAgentRebate (row) {
        this.$emit('orderDealAgentRebate', row)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../color.css";

  .item {
    margin: 4px;
  }

  .render_label {
    margin-right: 8px;
  }

  /*.purple {*/
  /*color: #a90ce2;*/
  /*}*/

  /*.cyan {*/
  /*color: #41b7b7;*/
  /*}*/

  /*.yellow {*/
  /*color: #bfa81e;*/
  /*}*/

  /*.red-thick {*/
  /*color: #b0304a;*/

  /*}*/
  .order-content {
    display: flex;
    justify-content: flex-end;

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
      display: inline-block;
    }
  }

  .cellControl {
    .el-button + .el-button {
      margin-left: 4px;
    }
  }

  .fold {
    max-width: 400px;
  }

</style>
