<!--注单查询-->
<template>
  <div>
    <list-table v-loading="listLoading"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                :data="elements"
                @cancelOrder="_postLotteryUserBetCancel"
                @settleOrder="_postOrderSettlement"
                @dealOrder="_postOrderDeal"
                @orderDeail="handleCurrentChange"
                :tab-key="tableKey">
    </list-table>
    <el-card class='count' v-if="elements.length">
      <div><span style='width:100px'>小计:</span>
        <span>下注总额：{{ subtotal.orderMoney }}</span>
        <span>有效投注额：{{ subtotal.markCount }}</span>
        <span>中奖金额：{{ subtotal.dealMoney }}</span>
        <!-- <span>投注返点:{{subtotal.rebateMoney}}</span> -->
        <span>盈利:{{ subtotal.profitMoney }}</span>
      </div>
      <div><span style='width: 100px'>总计：</span>
        <span>下注总额：{{ totalMoney.orderMoney }}</span>
        <span>有效投注额：{{ totalMoney.markCount }}</span>
        <span>中奖金额：{{ totalMoney.dealMoney }}</span>
        <!-- <span>投注返点:{{totalMoney.rebateMoney}}</span> -->
        <span>盈利:{{ totalMoney.profitMoney }}</span>
      </div>
    </el-card>
    <div v-if="elements.length" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange2"
                     :current-page.sync="pages.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="pages.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <!-- <el-dialog
      title="代理层级返点金额"
      append-to-body
      class="parentpathmoney"
      width="50%"
      :visible.sync="dialogFormVisible7">
      <el-table :data="Jsonelements.rebateMoneyLevel" border fit highlight-current-row>
        <el-table-column align="right" label="序号" width="100" type="index">
        </el-table-column>
        <el-table-column align="right" label="代理名称" property="userName">
        </el-table-column>
        <el-table-column align="right" label="返点金额/元" property="agentRebateMoney">
        </el-table-column>
      </el-table>
    </el-dialog> -->
    <!-- <el-dialog
      title="代理层级返点率"
      class="parentpath"
      append-to-body
      width="50%"
      :visible.sync="dialogFormVisible8">
      <el-table :data="Jsonelements.rebateLevel" border fit highlight-current-row>
        <el-table-column align="right" label="序号" width="100" type="index">
        </el-table-column>
        <el-table-column align="right" label="代理名称" property="userName">
        </el-table-column>
        <el-table-column align="right" label="返点率/%" property="agentRate">
        </el-table-column>
      </el-table>
    </el-dialog> -->
    <!--弹窗-->
    <el-dialog :visible.sync="dialogFormVisible" width="1350" append-to-body>
      <span slot="title" class="el-dialog__title">
        <span style="font-size:18px;font-weight:bold;color:#606266">{{ Jsonelements.title }} (<span
            :class="getStatusClass(Jsonelements.status)">
            {{ Jsonelements.status | statusFilter }}<span
            v-if="Jsonelements.status > 3">-{{ Jsonelements.dealStatus | dealStatusFilter }}</span>
          </span>)</span>
      </span>
      <el-form class="small-space small-space1" label-position="left" :label-width="formLabelWidth">
        <h3 style="color: #f00">用户信息 <span style="color:#606266;">({{ Jsonelements.loginId }})</span></h3>
        <table class="main-table" border="1" style="border-collapse:collapse;border-color: #a0c6e5">
          <tr align="right" style="font-weight:bold;">
            <td>所属厅主</td>
            <td>IP地址</td>
            <!-- <td>所属上级代理账号</td> -->
            <!-- <td>代理层级路径</td> -->
            <!-- <td>上级代理返点级别</td> -->
          </tr>
          <tr align="right">
            <td>{{ Jsonelements.spCode }}</td>
            <td>{{ Jsonelements.ip }}</td>
            <!-- <td>{{ Jsonelements.superAgent }}</td> -->
            <!-- <td>{{ Jsonelements.parentPath }}</td> -->
            <!-- <td>
               <span @click="showDetail2()" style="color:#374eff;cursor: pointer"
                     v-if="Jsonelements.rebateLevelShow">查看详情</span>
              <span v-else>暂无数据</span>
            </td> -->
          </tr>
        </table>
        <h3 style="color: #f00">订单信息 <span style="color:#606266;">({{ Jsonelements.orderCode }})</span></h3>
        <table class="main-table" border="1" style="border-collapse:collapse;border-color: #a0c6e5">
          <tr align="right" style="font-weight:bold;">
            <td>彩种名称</td>
            <td>所属玩法</td>
            <td>期号</td>
            <td>来源终端类型</td>
            <td>所属渠道</td>
            <td>注单时间</td>
          </tr>
          <tr align="right">
            <td>{{ Jsonelements.lotteryName }}</td>
            <td>{{ Jsonelements.playName }}</td>
            <td>{{ Jsonelements.issue }}</td>
            <td>{{ Jsonelements.clientType | clientFilter }}</td>
            <td>{{ Jsonelements.channel }}</td>
            <td>{{ Jsonelements.createTime | TimeFilter }}</td>
          </tr>
        </table>
        <table class="main-table" border="1"
               style="border-collapse:collapse;border-color: #a0c6e5;margin-top:20px;">
          <tr align="right" style="font-weight:bold;">
            <td>是否为中奖限额注单</td>
            <!-- <td>代理返点是否需要发放</td> -->
            <!-- <td>代理返点状态</td> -->
            <td>结算时间</td>
            <td colspan="2">派彩时间</td>
          </tr>
          <tr align="right">
            <td>
              <span
                  :class="{ active_red:Jsonelements.winningLimit }">{{
                  Jsonelements.winningLimit === 0 ? '否' : '是'
                }}</span>
            </td>
            <!-- <td>
              <span style="color:red">{{ Jsonelements.agentRebateNeedGrant | filterGrantStatus }}</span>
            </td> -->
            <!-- <td>
														<span
                              :class="getAgentStatusClass(Jsonelements)">{{ getAgentRebateStatus(Jsonelements) }}</span>
            </td> -->
            <td>{{ Jsonelements.settleTime | TimeFilter }}</td>
            <td colspan="2">
              <span>{{ Jsonelements.dealTime | TimeFilter }}</span>
            </td>
          </tr>
        </table>
        <h3 style="color:#f00">下注信息
          <span style="color:#606266;" :class="{ active_red:Jsonelements.traceCode!=='0'}">(是否追号注单:
              {{ Jsonelements.traceCode === '0' ? '否' : '是' }}<span v-if="Jsonelements.traceCode!=='0'">(<span
                @click="_getOrderTraceDetail"
                style="color:#374eff;cursor: pointer">{{ Jsonelements.traceCode }}</span>)</span>)
           </span></h3>
        <table class="main-table" border="1" style="border-collapse:collapse;border-color: #a0c6e5">
          <tr align="right">
            <td>投注数量</td>
            <td>{{ Jsonelements.buyNumber }}</td>
            <td>中奖单数</td>
            <td>{{ Jsonelements.winCount === -1 ? '0' : Jsonelements.winCount }}</td>
            <td>理论中奖金额/元</td>
            <td>
              <el-tooltip class="item" effect="light" content="赔率*用户投注总额所得总金额" placement="top">
                <span>{{ Jsonelements.winMoney }}</span>
              </el-tooltip>
            </td>
          </tr>
          <tr align="right">
            <td>投注倍数</td>
            <td>{{ Jsonelements.buyDouble }}</td>
            <td>结算次数</td>
            <td>{{ Jsonelements.settleNum }}</td>
            <td>最大中奖限额</td>
            <td v-if="Jsonelements.winningLimit ===0">不限额</td>
            <td v-else>{{ parseFloat(Jsonelements.maxReward / 100).toFixed(2) }}</td>
          </tr>
          <tr align="right">
            <td>单注金额/元</td>
            <td>{{ Jsonelements.singleMoney }}</td>
            <td>投注赔率</td>
            <td>{{ Jsonelements.prize }}</td>
            <td>中奖金额/元</td>
            <td>{{ Jsonelements.dealMoney }}</td>
          </tr>
          <tr align="right">
            <td>总金额/元</td>
            <td>{{ Jsonelements.orderMoney }}</td>
            <td>打码量</td>
            <td>{{ Jsonelements.markCount }}</td>
            <td>盈亏金额/元</td>
            <td>{{ Jsonelements.profitMoney }}</td>
          </tr>
          <tr align="right">
            <!-- <td>投注返点率</td>
            <td>{{Jsonelements.rebateRate}}%</td> -->
            <!-- <td>返点金额/元</td>
          <td>{{Jsonelements.rebateMoney}}</td> -->
            <!-- <td>代理返点金额</td>
             <td><span @click="showDetail()" style="color:#374eff;cursor: pointer"
                       v-if="Jsonelements.rebateMoneyLevelShow">查看详情</span>
               <span v-else>暂无数据</span>
             </td> -->
          </tr>
          <tr align="right">
            <td>开奖号码</td>
            <td colspan="5">
              <el-tooltip class="item" effect="light" placement="top" v-if="Jsonelements.openCode">
                <div slot="content">{{ Jsonelements.openCode }}</div>
                <span class="a1"
                      style="color:#374eff;cursor: pointer">{{ Jsonelements.openCode }}</span>
              </el-tooltip>
              <span v-else>暂无开奖号码</span>
            </td>
          </tr>
          <tr align="right">
            <td>下注号码</td>
            <td colspan="5">
              <el-tooltip class="item" effect="light" placement="top"
                          v-if="Jsonelements.buyCodeCase && Jsonelements.buyCodeCase.length <200">
                <div slot="content">{{ Jsonelements.buyCodeCase }}</div>
                <span class="a1"
                      style="color:#374eff;cursor: pointer;">{{ Jsonelements.buyCodeCase }}</span>
              </el-tooltip>
              <span @click="OrderinnerVisible = true"
                    v-else-if="Jsonelements.buyCodeCase && Jsonelements.buyCodeCase.length>=200"
                    class="a1"
                    style="color:#374eff;cursor: pointer;">查看详情</span>
              <span v-else>无</span>
            </td>
          </tr>
        </table>
      </el-form>
      <el-dialog
          width="60%"
          title="下注号码详情"
          :visible.sync="OrderinnerVisible"
          append-to-body>
        <el-input v-model="Jsonelements.buyCode" type="textarea"
                  :rows="5"></el-input>
      </el-dialog>
      <el-dialog
          width="65%"
          title="追号方案"
          :visible.sync="OrderTraceDetailVisible"
          class="chasing-scheme-dialog"
          append-to-body>
        <div class="trace-detail-content">
          <div class="order-code">追号编号：<span>{{ orderTraceDetailInfo.traceCode }}</span></div>
          <div class="header-table-wrapper" style="position: relative; overflow: hidden;">
            <table class="detail-table top"
                   style="overflow: hidden scroll; height: 100%;">
              <thead>
              <tr style="font-weight: bold; background: #eaf0fd;">
                <td>彩种</td>
                <td>玩法</td>
                <td>投注内容</td>
                <td>单注金额</td>
                <td>单注倍数</td>
                <td>注数</td>
                <!-- <td>赔率/返点</td> -->
                <td>赔率</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ orderTraceDetailInfo.lotteryName }}</td>
                <td>{{ orderTraceDetailInfo.playName }}</td>
                <td>
                  <!--{{ orderTraceDetailInfo.buyCodeCase }}-->
                  <el-input v-model="orderTraceDetailInfo.buyCodeCase" type="textarea"
                            :rows="5"></el-input>
                </td>
                <td>{{ orderTraceDetailInfo.singleMoney }} 元</td>
                <td>{{ orderTraceDetailInfo.buyDouble }} 倍</td>
                <td>{{ orderTraceDetailInfo.buyNumber }} 注</td>
                <!-- <td>{{ orderTraceDetailInfo.prize }}元 / {{ orderTraceDetailInfo.rebateRate }}</td> -->
                <td>{{ orderTraceDetailInfo.prize }}元</td>
              </tr>
              </tbody>
            </table>
          </div>
          <table class="detail-table middle" style="margin: 20px 0;">
            <tbody>
            <tr>
              <td width="10%">起追时间</td>
              <td width="25%">{{ orderTraceDetailInfo.createTime|TimeFilter }}</td>
              <td width="15%">起追期号</td>
              <td width="15%">{{ orderTraceDetailInfo.beginIssue }}</td>
              <td width="15%">方案进度</td>
              <td width="20%">已追 {{ orderTraceDetailInfo.alreadyTraceNum }} 期/ 共 {{
                  orderTraceDetailInfo.totalTraceNum
                }} 期
              </td>
            </tr>
            <tr style="padding-top: 65px;">
              <td width="10%">方案投注</td>
              <td width="25%">已投 {{ orderTraceDetailInfo.alreadyBuyMoney }} 元/ 共 {{
                  orderTraceDetailInfo.totalBuyMoney
                }} 元
              </td>
              <td width="15%">已中奖金额</td>
              <td width="15%" class="win">{{ orderTraceDetailInfo.winMoneyTotal }} 元</td>
              <td width="15%">中奖停止追号</td>
              <td width="20%">{{ orderTraceDetailInfo.winningToStop === '1' ? '是' : '否' }}</td>
            </tr>
            </tbody>
          </table>
          <div class="detail-table-warp" style="position: relative; overflow: hidden;">
            <table class="detail-table bottom"
                   style="overflow: hidden scroll; height: 100%;">
              <thead>
              <tr style="font-weight: bold;background: #eaf0fd;">
                <td width="20%">订单编号</td>
                <td width="10%">期号</td>
                <td>倍数</td>
                <td>投注金额</td>
                <!-- <td>投注返点</td> -->
                <td width="20%">当期开奖结果</td>
                <td>状态</td>
                <td>中奖金额</td>
                <!--<td>已中奖总金额</td>-->
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item,index) in orderTraceDetailInfo.traceList" :key='index'>
                <td>{{ item.orderCode }}</td>
                <td>{{ item.issue }}</td>
                <td>{{ item.buyDouble }} 倍</td>
                <td>{{ item.buyMoney }} 元</td>
                <!-- <td>{{ item.rebateMoney }} 元</td> -->
                <td><span class="buy-code-base">{{ item.openCode }}</span></td>
                <td :class="getStatusClass(item.status)">{{ item.status | statusFilter }}</td>
                <td class="active_red">{{ item.winMoney }} 元</td>
                <!--<td>{{ item.totalWinMoney }} 元</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </el-dialog>
      <!--层级返点-->
      <div style="clear: both"></div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="resetForm">关 闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { ERR_OK } from 'api/config'
import {
  getOrderInfoList,
  getOrderDetail,
  postLotteryUserBetCancel,
  postOrderDeal,
  postOrderSettlement,
  postOrderDealAgentRebate,
  getOrderTraceDetail
} from 'api/orders'
import ListTable from './list'
import { statusFilter, dealStatusFilter, TimeFilter } from '../common-filter'
import {
  getAgentRebateStatus,
  getAgentStatusClass,
  getStatusClass
} from './order'

export default {
  components: {
    ListTable
  },
  props: {
    isSearch: {
      type: Boolean,
      required: true
    },
    listQuerys: {
      type: Object,
      required: true
    },
    createdSearch: {
      type: Boolean,
      default: false
    },
    isFromOther: {
      type: Boolean,
      default: false
    },
    keys: {
      type: Number,
      default: 0
    }
  },
  watch: {
    // 如果 `isSearch` 发生改变，这个函数就会运行
    isSearch (val) {
      this._getList()
    },
    keys (val) {
      this._getList()
    }
  },
  created () {
    if (this.createdSearch) {
      this._getList()
    }
  },
  data () {
    return {
      reportExportOrderNum: '0',
      OrderTraceDetailVisible: false,
      OrderinnerVisible: false,
      dataValue: [],
      subtotal: {},
      totalMoney: {},
      pages: {
        pageNo: 1,
        pageSize: 10
      },
      // listQuery: this.listQuerys,
      listLoading: false,
      dialogFormVisible: false,
      dialogFormVisible7: false,
      dialogFormVisible8: false,
      formLabelWidth: '160px',
      tableKey: 0,
      elements: [],
      currentRow: null,
      options: [],
      options3: [
        {
          value: 0,
          label: '等待开奖'
        },
        {
          value: 1,
          label: '用户撤单'
        },
        {
          value: 2,
          label: '追号撤单'
        },
        {
          value: 3,
          label: '系统撤单'
        },
        {
          value: 4,
          label: '输'
        },
        {
          value: 5,
          label: '平局'
        },
        {
          value: 6,
          label: '赢'
        }
      ],
      // pickerOptions: EnUSPickerOptions,
      orderTypes: [
        {
          value: 0,
          label: '否'
        },
        {
          value: 1,
          label: '是'
        }
      ],
      dealStatuses: [
        {
          value: 0,
          label: '未派彩'
        },
        {
          value: 1,
          label: '已派彩'
        }
      ],
      timeTypes: [
        {
          value: 1,
          label: '按下注时间查询'
        },
        {
          value: 2,
          label: '按结算时间查询'
        }
      ],
      spList: [],
      theoryMount: 0,
      total: 0,
      Jsonelements: {},
      playTypeId: '',
      lotteryTypeId: '',
      lotteryTypeList: [],
      LotteryPlayList: [],
      orderTraceDetailQuery: {},
      orderTraceDetailInfo: {}
    }
  },
  methods: {
    getAgentRebateStatus,
    getStatusClass,
    getAgentStatusClass,
    _getOrderTraceDetail () {
      if (this.hasPermission('OrderTraceDetail')) {
        this.$message({
          type: 'error',
          message: '暂无权限查看追号方案!'
        })
        return
      }
      this.orderTraceDetailQuery.traceCode = this.Jsonelements.traceCode
      this.orderTraceDetailQuery.spCode = this.Jsonelements.spCode
      getOrderTraceDetail(this.orderTraceDetailQuery).then((r) => {
        if (r.data.code === ERR_OK) {
          this.orderTraceDetailInfo = { ...r.data.data }
          this.OrderTraceDetailVisible = true
        }
      })
    },
    // 人工结算
    _postOrderSettlement (obj) {
      this.$confirm(
          `确认对订单号为${obj.orderCode}的订单进行结算操作， 是否继续?`,
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        const {
                spCode, issue, lotteryId, orderCode
              } = obj
        postOrderSettlement({
          spCode, issue, lotteryId, orderCode
        }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$message({
              type: 'success',
              message: res.data.desc
            })
            obj.settleDisabled = true
            // obj.cancelDisabled = true
            this._getList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    changePageNo () {
      this.pages.pageNo = 1
    },
    // 人工派彩
    _postOrderDeal (obj) {
      this.$confirm(
          `确认对订单号为${obj.orderCode}的订单进行派彩操作， 是否继续?`,
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        const { spCode, issue, lotteryId } = obj
        postOrderDeal({
          spCode,
          issue,
          lotteryId,
          orderCodes: obj.orderCode
        }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$message({
              type: 'success',
              message: res.data.desc
            })
            this._getList()
            obj.dealDisabled = true
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    // 人工撤单
    _postLotteryUserBetCancel (row) {
      this.$confirm(
          `确认对订单号为${row.orderCode}的订单进行撤单操作， 是否继续?`,
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        const query = {
          orderCode: row.orderCode,
          spCode: row.spCode,
          issue: row.issue,
          lotteryId: row.lotteryId
        }
        postLotteryUserBetCancel(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '撤单成功!'
            })
            row.cancelDisabled = true
            row.dealDisabled = true
            row.settleDisabled = true
            row.agentDisabled = true
            this._getList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    _postOrderDealAgentRebate (row) {
      this.$confirm(
          `确认对订单号为${row.orderCode}的订单进行人工发放代理返点操作， 是否继续?`,
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        const query = {
          orderCode: row.orderCode,
          spCode: row.spCode,
          issue: row.issue,
          lotteryId: row.lotteryId
        }
        postOrderDealAgentRebate(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '发放代理返点成功!'
            })
            row.agentDisabled = true
            // this._getList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    handleClose (done) {
      this.resetForm()
      done()
    },
    resetForm () {
      this.dialogFormVisible = false
      this.Jsonelements = {}
      this.currentRow = null
    },
    showDetail () {
      this.dialogFormVisible7 = true
    },
    showDetail2 () {
      this.dialogFormVisible8 = true
    },
    handleCurrentChange (row) {
      this.currentRow = row
      if (row.orderCode != null) {
        this._showDialog(row)
      }
    },
    _showDialog (row) {
      getOrderDetail({
        spCode: row.spCode,
        orderCode: row.orderCode
      }).then((res) => {
        if (res.data.code === ERR_OK) {
          const d = res.data.data.orderInfo
          if (d.status < 4) {
            d.settleTime = '暂无'
          }
          d.singleMoney = parseFloat(d.singleMoney / 100).toFixed(2)
          d.orderMoney = parseFloat(d.orderMoney / 100).toFixed(2)
          d.winMoney = parseFloat(d.winMoney / 100).toFixed(2)
          d.rebateMoney = parseFloat(d.rebateMoney / 100).toFixed(2)
          d.rebateRate = parseFloat(d.rebateRate / 100).toFixed(2)
          d.dealMoney = parseFloat(d.dealMoney / 100).toFixed(2)
          d.markCount = parseFloat(d.markCount / 100).toFixed(2)
          const prize = d.prize.split(',')
          const StringArr = prize.map((v) => {
            v = parseFloat(v / 1000).toFixed(3)
            return v
          })
          const buycodeArr = d.buyCodeCase.split(',')
          d.buyCodeCaseArr = buycodeArr
          d.show = d.buyCodeCase.length === 1 ? 1 : 0
          d.prize = StringArr.join(',')
          d.profitMoney = parseFloat(d.profitMoney / 100).toFixed(2)
          if (d.rebateMoneyLevel) {
            d.rebateMoneyLevel = this.detailList = JSON.parse(
                d.rebateMoneyLevel
            ).map((v) => {
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              return v
            })
            d.rebateMoneyLevelShow = true
          } else {
            d.rebateMoneyLevel = []
            d.rebateMoneyLevelShow = false
          }
          if (d.rebateLevel) {
            d.rebateLevel = JSON.parse(d.rebateLevel).map((v) => {
              v.agentRate = parseFloat(v.agentRate / 100).toFixed(2)
              return v
            })
            d.rebateLevelShow = true
          } else {
            d.rebateLevel = []
            d.rebateLevelShow = false
          }
          this.Jsonelements = d
          const _text = '订单详情'
          if (d.betaOrder !== undefined) this.Jsonelements.title = `${_text}-${!d.betaOrder ? '正式版本' : '体验版本'}`
          this.dialogFormVisible = true
        }
      })
    },
    show () {
      if (this.Jsonelements.buyCodeCaseArr.length <= 3) {
        this.Jsonelements.show = true
      } else {
        this.Jsonelements.show = false
        this.dialogFormVisible7 = true
      }
    },
    handleSizeChange (val) {
      this.pages.pageSize = val
      this.pages.pageNo = 1
      this._getList()
    },
    handleCurrentChange2 (val) {
      this.pages.pageNo = val
      this._getList()
    },

    // 获取订单列表
    _getList () {
      this.listLoading = true
      const q = { ...this.listQuerys, ...this.pages }
      getOrderInfoList(q).then((res) => {
        this.subtotal = {}
        if (res.data.code === ERR_OK) {
          if (res.data.data.subtotal) {
            this.subtotal = { ...res.data.data.subtotal }
            this.subtotal.buyDouble = null
            this.subtotal.singleMoney = null
            this.subtotal.profitMoney = (this.isSearch && this.isFromOther) ? -parseFloat(this.subtotal.profitMoney / 100).toFixed(2) : parseFloat(this.subtotal.profitMoney / 100).toFixed(2)
            this.subtotal.markCount = parseFloat(this.subtotal.markCount / 100).toFixed(2)
            this.subtotal.orderMoney = parseFloat(this.subtotal.orderMoney / 100).toFixed(2)
            this.subtotal.dealMoney = parseFloat(this.subtotal.dealMoney / 100).toFixed(2)
            this.subtotal.rebateMoney = parseFloat(this.subtotal.rebateMoney / 100).toFixed(2)
            this.subtotal.winMoney = parseFloat(this.subtotal.winMoney / 100).toFixed(2)
          }
          if (res.data.data.totalMoney !== undefined) {
            this.totalMoney = { ...res.data.data.totalMoney }
            this.totalMoney.buyDouble = null
            this.totalMoney.singleMoney = null
            this.totalMoney.profitMoney = (this.isSearch && this.isFromOther) ? -parseFloat(this.totalMoney.profitMoney / 100).toFixed(2) : parseFloat(this.totalMoney.profitMoney / 100).toFixed(2)
            this.totalMoney.markCount = parseFloat(this.totalMoney.markCount / 100).toFixed(2)
            this.totalMoney.orderMoney = parseFloat(this.totalMoney.orderMoney / 100).toFixed(2)
            this.totalMoney.dealMoney = parseFloat(this.totalMoney.dealMoney / 100).toFixed(2)
            this.totalMoney.rebateMoney = parseFloat(this.totalMoney.rebateMoney / 100).toFixed(2)
            this.totalMoney.winMoney = parseFloat(this.totalMoney.winMoney / 100).toFixed(2)
          }
          const items = res.data.data.items.elements
          this.elements = items.map((v) => {
            // v.markCount = parseFloat(v.markCount / 100).toFixed(2)
            v.markCount = parseFloat(v.markCount)
            // v.singleMoney = parseFloat(v.singleMoney / 100).toFixed(2)
            v.singleMoney = parseFloat(v.singleMoney)
            // v.orderMoney = parseFloat(v.orderMoney / 100).toFixed(2)
            v.orderMoney = parseFloat(v.orderMoney)
            // v.winMoney = parseFloat(v.winMoney / 100).toFixed(2)
            v.winMoney = parseFloat(v.winMoney)
            // v.dealMoney = parseFloat(v.dealMoney / 100).toFixed(2)
            v.dealMoney = parseFloat(v.dealMoney)
            // v.rebateMoney = parseFloat(v.rebateMoney / 100).toFixed(2)
            v.rebateMoney = parseFloat(v.rebateMoney)
            // const profitMoney = parseFloat(v.profitMoney / 100).toFixed(2)
            const profitMoney = parseFloat(v.profitMoney)
            v.profitMoney = (this.isSearch && this.isFromOther) ? -profitMoney : profitMoney
            v.show = true
            if (v.status < 4) {
              v.settleTime = ''
            }
            v.cancelDisabled = false
            v.dealDisabled = false
            v.settleDisabled = false
            v.agentDisabled = false
            return v
          })
          // if (this.elements.length) {
          //   this.subtotal.orderCode = '小计'
          //   this.subtotal.status = 7
          //   this.subtotal.show = false
          //   this.elements.push(this.subtotal)
          //   this.totalMoney.status = 7
          //   this.totalMoney.show = false
          //   this.totalMoney.orderCode = '总计'
          //   this.elements.push(Object.assign({}, this.totalMoney))
          // }
          this.total = res.data.data.items.totalCount
          this.reportExportOrderNum = res.data.data.reportExportOrderNum
          this.$emit('getBtnInfo', { reportExportOrderNum: this.reportExportOrderNum, total: this.total })
        }
        this.listLoading = false
      })
    }
  },
  filters: {
    filterTraceStatus (v) {
      const m = {
        0: '等待开奖', 1: '撤单', 2: '已中奖', 3: '未中奖'
      }
      return m[v]
    },
    traceFilter (type) {
      const typeMap = {
        1: '投注',
        2: '派彩',
        3: '金流转入',
        4: '金流转出'
      }
      return typeMap[type]
    },
    filterGrantStatus (v) {
      const tmap = {
        0: '不发放',
        1: '输赢发放',
        2: '输发放',
        3: '赢发放'
      }
      return tmap[v]
    },
    clientFilter (type) {
      const clientMap = {
        1: 'WEB',
        2: 'WAP(H5)',
        3: 'Android',
        4: 'iOS',
        5: 'IPAD'
      }
      if (!clientMap[type]) return '其他'
      return clientMap[type]
    },
    winningToStopList (type) {
      const winningToStoptMap = {
        0: '否',
        1: '是'
      }
      return winningToStoptMap[type]
    },
    statusFilter,
    dealStatusFilter,
    TimeFilter
  }
}
</script>
<style lang="scss">
@import "../color.css";

.render_label {
  margin-right: 8px;
}

.pagination-container {
  text-align: right;
}

.a1 {
  display: block;
  width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a2 {
  overflow: hidden;
}

.profitLoss {
  width: 100%;
  height: 40px;
  min-width: 0;
  border: 1px solid #dfe6ec;
  border-top: none;
  padding-right: 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  text-align: right;
  vertical-align: middle;
  line-height: 40px;
  white-space: normal;
  word-break: break-all;
}

.parentpathmoney,
.parentpath {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;

  .el-table::-webkit-scrollbar,
  .el-dialog::-webkit-scrollbar {
    display: none;
  }

  .el-dialog {
    min-height: 30%;
    max-height: 60%;
    overflow-y: scroll;
    width: 65%;

    .el-table {
      width: 100%;
      overflow-y: scroll;

      .el-table__header,
      .el-table__body {
        width: 100% !important;
      }
    }
  }
}

.cellControl {
  .el-button + .el-button {
    margin-left: 0;
    margin-top: 10px;
  }
}

.orderUl {
  list-style: none;
  -webkit-padding-start: 0;

  li {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 5px;
    border: 1px #ddd solid;
  }
}

.main-table {
  border: .2px;
  width: 100%;

  td {
    padding: 10px;
  }
}
</style>
<style lang="scss" scoped>
.count {
  margin: 10px 0;

  div {
    margin-bottom: 10px;

    span {
      margin-right: 20px;
      width: 180px;
      display: inline-block;
    }
  }
}

.chasing-scheme-dialog {
  .el-dialog__body {
    padding: 0 20px 30px;
  }
}

table.top tr:nth-child(2) td {
  border: 1px solid #eee;
}

.trace-detail-content {
  padding: 0 10px;
  text-align: center;
  /*margin-top: 50px;*/
  user-select: text;

  .order-code {
    height: 28px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 20px;

    span {
      font-weight: 600;
    }
  }

  .header-table-wrapper {
    min-height: 65px;
    /*padding: 20px 10px 10px;*/
    overflow-y: scroll;
    /*border: 1px solid #dcdfe6;*/
  }

  .detail-table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;

    tr td {
      border: 1px solid #c7c9ce;
    }

    tr:nth-child(2) {
      margin-top: 50px;
    }

    .win {
      color: #ff5151;
    }

    .buy-code-base {
      word-break: break-all;
      display: block;
      max-height: 100px;
      overflow: hidden;
    }

    &.top {
      word-break: break-all;
    }

    &.middle {
      td {
        text-align: left;
        padding-top: 10px;
      }
    }

    &.detail-table-warp {
      /*border: 1px solid #dcdfe6;*/
      /*height: 244px;*/
    }

    td {
      padding: 10px;
      text-align: center;
    }

    tbody {
      td {
        padding-bottom: 10px;
      }
    }
  }

  .detail-table-warp {
    /*border: 1px solid #ccc;*/
    /*height: 244px;*/
  }
}
</style>
