<!--彩种设置-->
<template>
  <el-card>
    <el-tabs
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        v-model="activeTab" @tab-click="handleClick" style="margin-top: -15px">
      <el-tabs v-model="activeRegionTab" @tab-click="selectRegionTab" class="splTplTab">
        <el-tab-pane v-for="typeTab in lotteryRegionList" :name="typeTab.id" :label="typeTab.name"
                     :key="typeTab.id">
        </el-tab-pane>
      </el-tabs>
      <el-tabs v-model="activeLottery" class="splTplTab" @tab-click="selectLottery">
        <el-tab-pane v-for="item in lotteryList" :label="item.name" :name="item.id"
                     :key="item.name">
        </el-tab-pane>
      </el-tabs>
      <el-table
          v-loading="listLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          :data="tableData"
          max-height='650'
          border
          style="width: 100%">
        <el-table-column
            align="right"
            label="玩法分类ID"
            min-width="120"
            prop="id">
        </el-table-column>
        <el-table-column label="玩法分类编码" prop="code" align="right" min-width="120">
        </el-table-column>
        <!--              <el-table-column label="所属玩法集" prop="playGroupName" align="right" min-width="120">-->
        <!--              </el-table-column>-->
        <el-table-column label="玩法分类名称" prop="name" align="right" min-width="120">
        </el-table-column>
        <el-table-column label="默认显示" align="right" min-width="120">
          <template v-slot='scope'>
            <span :class="{active_red:scope.row.type===1 }">{{ scope.row.type === 0 ? '否' : '是' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="right" min-width="120">
          <template slot-scope="scope">
            <el-button type="text" @click="_postSpTplPlaytypeDeafultUp(scope.row)">
              {{ scope.row.type === 0 ? '设置显示' : '取消设置' }}
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-tab-pane v-for="tab in tabList" :name="tab.id" :label="tab.name" :key="tab.name">
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>
<script>
// 接口543 彩种类型
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import { getSpTplPlaytypeSetList, postSpTplPlaytypeDeafultUp } from 'api/spltpl/'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      tabList: [],
      lotteryRegionList: [],
      lotteryList: [],
      listLoading: false,
      tableData: [],
      activeTab: '',
      activeRegionTab: '',
      activeLottery: '',
      listQuery: {
        lotteryTypeId: '',
        lotteryId: '',
        spCode: '',
        spTplId: '',
        lotteryRegionId: ''
      }
    }
  },
  async created () {
    await this._getInfoList()
    await this._getlotteryList()
    this.getTableData()
  },
  computed: {
    ...mapState({
      spCode: (state) => state.sptpl.spCode,
      rowId: (state) => state.sptpl.rowId
      // tableData: (state) => state.sptpl.tableData,
      // playGroupId: state => state.sptpl.playGroupId,
      // allData: (state) => state.sptpl.allData
    })
  },
  methods: {
    // 获取彩种 tab 列表
    async _getInfoList () {
      await getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          // this.tabList = res.data.data.items.slice(1, res.data.data.items.length)
          this.tabList = res.data.data.items.filter(m => m.id !== '21')
          if (this.tabList.length > 0) {
            this.activeTab = this.tabList[0].id // 默认显示第一个tab
          }
        }
      })
      this._getlotteryRegionIdList()
    },
    // 获取彩种区域
    async _getlotteryRegionIdList () {
      await getAjaxData({ dataType: 14, pId: this.activeTab }).then((res) => {
        if (res.data.code === ERR_OK) {
          if (res.data.data.items.length) {
            this.lotteryRegionList = [{ id: '0', name: '所有' }].concat(res.data.data.items)
            if (this.lotteryRegionList.length > 0) {
              this.activeTypeTab = this.lotteryRegionList[0].id // 默认显示第一个tab
            }
          } else {
            this.lotteryRegionList = []
          }
        }
      })
    },
    // 获取彩种 tab 列表'
    async _getlotteryList () {
      await getAjaxData({
        dataType: 13, pId: this.activeTab, expendVal: this.activeRegionTab
      }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = res.data.data.items
          if (this.lotteryList.length > 0) {
            this.activeLottery = this.lotteryList[0].id // 默认显示第一个tab
          }
        }
      })
    },
    async handleClick (tab, event) {
      if (this.listQuery.lotteryRegionId) {
        this.activeRegionTab = '0'
        this.listQuery.lotteryRegionId = ''
      }
      await this._getlotteryRegionIdList()
      await this._getlotteryList()
      this.getTableData()
    },
    async selectRegionTab () {
      await this._getlotteryList()
      this.getTableData()
    },
    selectLottery () {
      this.getTableData()
    },
    getTableData () {
      this.listQuery.spCode = this.spCode
      this.listQuery.spTplId = this.rowId
      this.listQuery.lotteryTypeId = this.activeTab
      this.listQuery.lotteryRegionId = this.activeRegionTab === '0' ? '' : this.activeRegionTab
      this.listQuery.lotteryId = this.activeLottery
      this.listLoading = true
      getSpTplPlaytypeSetList(this.listQuery).then((res) => {
        this.tableData = res.data.data.items
        this.listLoading = false
      })
    },
    // up (index, row) {
    //   const newData = [].concat(this.tableData)
    //   const i = index
    //   const j = i - 1
    //   const temp = newData[i]
    //   newData[i] = newData[j]
    //   newData[j] = temp
    //   this.tableData = [].concat(newData)
    //   const query = [
    //     {
    //       lotteryId: newData[i].id,
    //       lotteryTypeId: newData[i].lotteryTypeId,
    //       displaySort: newData[j].displaySort
    //     }, {
    //       lotteryId: newData[j].id,
    //       lotteryTypeId: newData[j].lotteryTypeId,
    //       displaySort: newData[i].displaySort
    //     }
    //   ]
    //   this.listLoading = true
    //   getLotteryUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
    //     if (res.data.code === ERR_OK) {
    //       this.getTableData()
    //     }
    //     this.listLoading = false
    //   })
    // },
    // down (index, row) {
    //   const newData = [].concat(this.tableData)
    //   const i = index
    //   const j = i + 1
    //   const temp = newData[i]
    //   newData[i] = newData[j]
    //   newData[j] = temp
    //   this.tableData = [].concat(newData)
    //   const query = [
    //     {
    //       lotteryId: newData[i].id,
    //       lotteryTypeId: newData[i].lotteryTypeId,
    //       displaySort: newData[j].displaySort
    //     }, {
    //       lotteryId: newData[j].id,
    //       lotteryTypeId: newData[j].lotteryTypeId,
    //       displaySort: newData[i].displaySort
    //     }
    //   ]
    //   this.listLoading = true
    //   getLotteryUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
    //     if (res.data.code === ERR_OK) {
    //       this.getTableData()
    //     }
    //     this.listLoading = false
    //   })
    // },
    // 设置默认显示
    _postSpTplPlaytypeDeafultUp (row) {
      this.$confirm(`此操作将修改默认显示设置， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // succ
        const query = {
          spCode: this.spCode,
          spTplId: this.rowId,
          lotteryId: this.listQuery.lotteryId,
          playTypeId: row.id,
          defaultView: row.type === 0 ? 1 : 0
        }
        postSpTplPlaytypeDeafultUp(query).then((res) => {
          // console.log(res)
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `修改成功!`
            })
          }
          this.getTableData()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    }
  }
}
</script>
<style lang='scss' scoped>
.red {
  color: red
}

.green {
  color: green
}

.splTplTab {
  margin-top: -10px;

  .el-tabs__item {
    &#tab-0 {
      text-indent: -0.5rem !important;
    }
  }
}

.tab-play-mode {
  margin-top: -10px;
}

.tab-play-mode.el-tabs .el-tabs__active-bar {
  height: 1px;
}

/*i {*/
/*  &.defaultimg {*/
/*    span {*/
/*      display: inline-block;*/
/*      width: 25px;*/
/*      height: 25px;*/
/*      background: url('../../../assets/up.png') no-repeat center;*/
/*      background-size: cover;*/

/*      &.down {*/
/*        background: url('../../../assets/down.png') no-repeat center;*/
/*        background-size: cover;*/

/*        &:hover {*/
/*          background: url('../../../assets/red_down.png') no-repeat center;*/
/*          background-size: cover;*/
/*        }*/
/*      }*/

/*      &:hover {*/
/*        cursor: pointer;*/
/*        background: url('../../../assets/red_up.png') no-repeat center;*/
/*        background-size: cover;*/
/*      }*/
/*    }*/
/*  }*/
/*}*/
</style>
