<template>
  <el-card>
    <el-tabs type="border-card" v-model='active'>
      <el-tab-pane v-for='item in languageTypeList' lazy
                   :name='item.name'
                   :key='item.name' :label='item.name'>
        <table-component :key='item.id' :lang-type='item.id' :input-type='item.type'></table-component>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
  import TableComponent from './TableComponent'

  export default {
    components: { TableComponent },
    data () {
      return {
        active: null,
        languageTypeList: [
          { name: '彩种分类名称', id: 10, format: '格式:类型编码_分类id', type: '' },
          { name: '彩种地区名称', id: 11, format: '格式:类型编码_地区id', type: '' },
          { name: '彩种名称', id: 12, format: '格式:类型编码_彩种id', type: '' },
          { name: '彩种描述', id: 13, format: '格式:类型编码_彩种id', type: 'textarea' },
          { name: '玩法分组名称', id: 20, format: '格式:类型编码_分组id', type: '' },
          { name: '玩法分类名称', id: 21, format: '格式:类型编码_分类id', type: '' },
          { name: '玩法名称', id: 22, format: '格式:类型编码_玩法id', type: '' },
          { name: '玩法描述', id: 23, format: '格式:类型编码_玩法id', type: 'textarea' },
          { name: '提示信息', id: 30, format: '格式:类型编码_提示编码', type: '' }
        ]
      }
    },
    methods: {},
    created () {
      this.active = this.languageTypeList[0].name
    }
  }
</script>
