<template>
  <el-table
    :data="items"
    v-loading="listLoading"
    border
    fit
    highlight-current-row
    element-loading-text="拼命加载中"
    max-height="700px"
    element-loading-spinner="el-icon-loading"
    style="width: 100%"
  >
    <el-table-column label="业务编码" prop="bizId" align="right" width="80"></el-table-column>
    <el-table-column label="中文(zh)" prop="zh" align="right"></el-table-column>
    <el-table-column
      v-for="it in header"
      :key="Object.keys(it)[0]"
      :label="Object.values(it)[0]+'('+Object.keys(it)[0]+')'"
      :prop="Object.keys(it)[0]"
      align="right"
    >
      <template slot-scope="scope">
        <template
          v-if="!scope.row.isEdit"
        >{{scope.row[Object.keys(it)[0]].langText===undefined?scope.row[Object.keys(it)[0]]:scope.row[Object.keys(it)[0]].langText}}</template>
        <template v-else>
          <template v-if="scope.row[Object.keys(it)[0]].langText===undefined">
            <el-input
              v-model="scope.row[Object.keys(it)[0]]"
              :type="inputType"
              rows="3"
              placeholder="请输入内容..."
            ></el-input>
          </template>
          <template v-else>
            <el-input
              v-model="scope.row[Object.keys(it)[0]].langText"
              :type="inputType"
              rows="3"
              placeholder="请输入内容..."
            ></el-input>
          </template>
        </template>
      </template>
    </el-table-column>
    <el-table-column align="right" label="操作">
      <template slot-scope="scope">
        <el-button
          type="primary"
          v-if="!scope.row.isEdit"
          :disabled="hasPermission('LangUp')"
          @click="scope.row.isEdit=true"
        >编辑</el-button>
        <el-button type="success" v-else @click="_postLangUp(scope.row)">保存</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!--    <div v-if="total" class="pagination-container">-->
  <!--      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
  <!--                     :current-page.sync="listQuery.pageNo"-->
  <!--                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"-->
  <!--                     layout="total, sizes, prev, pager, next, jumper" :total="total">-->
  <!--      </el-pagination>-->
  <!--    </div>-->
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getLangList, postLangUp } from 'api/system'

  export default {
    name: 'TableComponent',
    components: {},
    props: {
      langType: {
        type: [Number, String],
        required: true
      },
      inputType: {
        type: String,
        default: () => {
          return 'text'
        }
      }
    },
    data () {
      return {
        listLoading: false,
        items: [],
        total: 0,
        listQuery: {
          langType: null
        },
        header: []
        // i18n: {
        //   en: '英文',
        //   vn: '越南',
        //   th: '泰国',
        //   id: '印尼'
        // }
      }
    },
    computed: {},
    watch: {},
    methods: {
      _postLangUp (row) {
        this.$confirm(`此操作将保存修改， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const q = {
            bizId: row.bizId,
            langType: this.langType
          }
          const items = []
          this.header.forEach(m => {
            const key = Object.keys(m)[0]
            const query = {
              lang: key,
              langText: row[key].langText === undefined ? row[key] : row[key].langText,
              ...q
            }
            if (query.langText.trim()) items.push(query)
          })
          // todo 二次确认再提交
          postLangUp(JSON.stringify(items)).then(res => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `修改成功!`
              })
            }
            this._getList()
          })
        })
      },
      async _getList () {
        this.listLoading = true
        const res = await getLangList(this.listQuery)
        if (res.data.code === ERR_OK) {
          console.log(res)
          this.header = res.data.data.header.filter(n => Object.keys(n)[0] !== 'zh')
          const items = res.data.data.items
          items.forEach(n => {
            n.isEdit = false
            this.header.forEach(m => {
              const key = Object.keys(m)[0]
              n[key] = !n[key] ? '' : JSON.parse(n[key])
            })
          })
          this.items = items
        }
        this.listLoading = false
      }
    },
    created () {
    },
    beforeCreate () {},
    beforeMount () {},
    mounted () {
      this.listQuery.langType = this.langType
      this._getList()
    },
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss' scoped>
</style>
