<template>
  <div class="app-container-box">
    <div class="officalPlayStyle" v-for="(items,index) in elements" :key="index">
      <div class="dd">
        <div class="title">{{items.playTypeName}}</div>
        <offica-tabel :data-source="items"></offica-tabel>
      </div>
    </div>
  </div>
</template>
<script>
  import officaTabel from 'components/Table/officaTabel'

  export default {
    name: 'OfficePlay',
    props: {
      elements: {
        type: Array,
        required: true
      }
    },
    components: {
      officaTabel
    },
    computed: {},
    data () {
      return {}
    },
    filters: {},
    watch: {},
    methods: {}
  }
</script>

<style lang="scss" scoped>
  .app-container-box {
    height: 100%;
    width: 100%;

    .officalPlayStyle {
      display: inline-grid;
      padding: 5px;
    }

    .dd {
      float: left;
      display: inline;

      .title {
        background: url(~@/assets/table/th_bg.jpg) repeat-x;
        color: #fff;
        border-left: 1px solid #DFDFDF;
        text-align: center;
        padding: 6px 5px;
      }
    }
  }
</style>
