.green {
    color: #0c7a0c;;
}

.red {
    color: #ff0000;
}

.blue {
    color: #0000ff;
}

.yellow {
    color: #f49506;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.active_red {
    color: #ff0000;
}

.active_blue {
    color: #0000ff;
}

.active_green {
    color: #0c7a0c;
}
