<template>
  <div :class="className" :style="{height:height,width:width}"></div>
</template>

<script>
  // import echarts from 'echarts'
  // import echarts from 'echarts/lib/echarts'
  // echarts 主题
  import { debounce } from 'utils'

  const echarts = require('echarts/lib/echarts')
  // 引入柱状图
  require('echarts/lib/chart/bar')
  // 引入提示框和标题组件
  require('echarts/lib/component/tooltip')
  require('echarts/lib/component/title')
  require('echarts/theme/macarons')

  const animationDuration = 3000
  export default {
    props: {
      className: {
        type: String,
        default: 'chart'
      },
      width: {
        type: String,
        default: '100%'
      },
      height: {
        type: String,
        default: '300px'
      },
      autoResize: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        chart: null,
        timer: null
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.initChart()
        if (this.autoResize) {
          this.__resizeHanlder = debounce(() => {
            if (this.chart) {
              this.chart.resize()
            }
          }, 100)
          addEventListener('resize', this.__resizeHanlder)
        }
        // 监听侧边栏的变化
        const sidebarElm = document.getElementById('app')
        sidebarElm.addEventListener('transitionend', this.__resizeHanlder)
      })
    },
    beforeDestroy () {
      clearInterval(this.timer)
      if (!this.chart) {
        return
      }
      if (this.autoResize) {
        removeEventListener('resize', this.__resizeHanlder)
      }
      const sidebarElm = document.getElementById('app')
      sidebarElm.removeEventListener('transitionend', this.__resizeHanlder)
      this.chart.dispose()
      this.chart = null
    },
    methods: {
      initChart () {
        this.chart = echarts.init(this.$el, 'macarons')
        const options = {
          tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [{
            type: 'category',
            data: ['六合彩', '时时彩', '快3', '时时乐', '11选5', 'PK10', '排列三'],
            axisTick: {
              alignWithLabel: true
            }
          }],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '下注额',
              type: 'bar',
              barWidth: '60%',
              data: (function () {
                const res = []
                let len = 7
                while (len--) {
                  res.push(parseFloat(Math.round(Math.random() * 1000)).toFixed(2))
                }
                return res
              })(),
              animationDuration
            }
          ]
        }
        this.chart.setOption(options)
        this.timer = setInterval(() => {
          const { series } = options
          for (let i = 0; i < series.length; i++) {
            const res = []
            let len = 7
            while (len--) {
              res.push(parseFloat(Math.round(Math.random() * 1000)).toFixed(2))
            }
            options.series[i].data = res
          }
          this.chart.setOption(options)
        }, 21 * 100)
      }
    }
  }
</script>
