<template>
  <div class="dashboard-editor-container">
    <!--    <el-row>-->
    <!--      <el-col :span="12">-->
    <!--        <pie-chart></pie-chart>-->
    <!--      </el-col>-->
    <!--      <el-col :span="12">-->
    <!--        <bar-chart></bar-chart>-->
    <!--      </el-col>-->
    <!--    </el-row>-->
    <!--    <el-row>-->
    <!--      <el-col>-->
    <!--        <line-chart></line-chart>-->
    <!--      </el-col>-->
    <!--    </el-row>-->
  </div>
</template>

<script>
  // import pieChart from './pieChart'
  // import barChart from './barChart'
  // import lineChart from './lineChart'

  export default {
    name: 'DashboardEditor'
    // components: { pieChart, lineChart, barChart }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .dashboard-editor-container {
    height: 800px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: url("~@/assets/bank_bg.png") center;
    background-size: 609px 618px;
    background-repeat: no-repeat;
    /*margin: 30px;*/

    ::v-deep .btn-group {
      margin-bottom: 60px;
    }

    .box-card-header {
      position: relative;
      height: 160px;
    }

    .panThumb {
      z-index: 100;
      height: 150px;
      width: 150px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    .display_name {
      font-size: 30px;
      display: block;
    }

    .info-item {
      display: inline-block;
      margin-top: 10px;
      font-size: 14px;

      &:last-of-type {
        margin-left: 15px;
      }
    }
  }
</style>
