<template>
  <div :class="className" :style="{height:height,width:width}"></div>
</template>

<script>
// import echarts from 'echarts'
// import echarts from 'echarts/lib/echarts'
import Settime from 'utils/settime'
import { parseTime, debounce } from 'utils/'

const echarts = require('echarts/lib/echarts')
// 引入线形图
require('echarts/lib/chart/line')
// 引入提示框和标题组件
require('echarts/lib/component/tooltip')
require('echarts/lib/component/title')
require('echarts/theme/macarons') // echarts 主题

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      chart: null,
      timer: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initChart()
      if (this.autoResize) {
        this.__resizeHanlder = debounce(() => {
          if (this.chart) {
            this.chart.resize()
          }
        }, 100)
        addEventListener('resize', this.__resizeHanlder)
      }
      // 监听侧边栏的变化
      const sidebarElm = document.getElementById('app')
      sidebarElm.addEventListener('transitionend', this.__resizeHanlder)
    })
  },
  beforeDestroy () {
    clearInterval(this.timer)
    if (!this.chart) {
      return
    }
    if (this.autoResize) {
      removeEventListener('resize', this.__resizeHanlder)
    }
    const sidebarElm = document.getElementById('app')
    sidebarElm.removeEventListener('transitionend', this.__resizeHanlder)
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart () {
      this.chart = echarts.init(this.$el, 'macarons')
      const options = {
        xAxis: {
          data: (function () {
            // var now = new Date()
            let now = new Date(Settime.RefTime())
            const res = []
            let len = 30
            while (len--) {
              // res.unshift(now.toLocaleTimeString().replace(/^\D*/, ''))
              res.unshift(parseTime(now, '{h}:{i}:{s}'))
              now = new Date(now - 2000)
            }
            return res
          })(),
          boundaryGap: false
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          }
        },
        yAxis: {},
        series: [
          {
            name: '注单额',
            itemStyle: {
              normal: {
                areaStyle: {}
              }
            },
            smooth: true,
            type: 'line',
            data: (function () {
              const res = []
              let len = 30
              while (len--) {
                res.push(parseFloat(Math.round(Math.random() * 10000000)).toFixed(2))
              }
              return res
            })(),
            animationDuration: 2600,
            animationEasing: 'cubicInOut'
          },
          {
            name: '派彩额',
            smooth: true,
            type: 'line',
            itemStyle: {
              normal: {
                color: 'rgba(2, 197, 233, 0.2)',
                lineStyle: {
                  color: 'rgba(2, 197, 233, 0.2)'
                },
                areaStyle: {
                  color: 'rgba(99,194,255, 0.6)'
                }
              }
            },
            data: (function () {
              const res = []
              let len = 30
              while (len--) {
                res.push(parseFloat(Math.round(Math.random() * 1000)).toFixed(2))
              }
              return res
            })(),
            animationDuration: 2000,
            animationEasing: 'quadraticOut'
          }
        ]
      }
      this.chart.setOption(options)
      this.timer = setInterval(() => {
        // const axisData = (new Date()).toLocaleTimeString().replace(/^\D*/, '')
        const axisData = parseTime(new Date(Settime.RefTime()), '{h}:{i}:{s}')
        const { series } = options
        for (let i = 0; i < series.length; i++) {
          const { data } = series[i]
          data.shift()
          data.push(Math.round(Math.random() * 1000))
        }
        options.xAxis.data.shift()
        options.xAxis.data.push(axisData)
        this.chart.setOption(options)
      }, 21 * 100)
    }
  }
}
</script>
