<template>
  <div :class="className" :style="{height:height,width:width}"></div>
</template>

<script>
  // import echarts from 'echarts'
  // import echarts from 'echarts/lib/echarts'
  // echarts 主题
  import { debounce } from 'utils'
  const echarts = require('echarts/lib/echarts')
  // 引入线形图
  require('echarts/lib/chart/pie')
  // 引入提示框和标题组件
  require('echarts/lib/component/tooltip')
  require('echarts/lib/component/title')
  require('echarts/theme/macarons')

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    },
    autoResize: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      chart: null,
      timer: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initChart()
      if (this.autoResize) {
        this.__resizeHanlder = debounce(() => {
          if (this.chart) {
            this.chart.resize()
          }
        }, 100)
        addEventListener('resize', this.__resizeHanlder)
      }
      // 监听侧边栏的变化
      const sidebarElm = document.getElementById('app')
      sidebarElm.addEventListener('transitionend', this.__resizeHanlder)
    })
  },
  beforeDestroy () {
    this.$nextTick(() => {
      clearInterval(this.timer)
      if (!this.chart) {
        return
      }
      if (this.autoResize) {
        removeEventListener('resize', this.__resizeHanlder)
      }
      const sidebarElm = document.getElementById('app')
      sidebarElm.removeEventListener('transitionend', this.__resizeHanlder)
      this.chart.dispose()
      this.chart = null
    })
  },
  methods: {
    initChart () {
      this.chart = echarts.init(this.$el, 'macarons')
      const options = {
        title: {
          text: '收支分布',
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          type: 'scroll',
          orient: 'vertical',
          left: 10,
          top: 20,
          bottom: 20,
          data: ['六合彩', '时时彩', '快3', '时时乐', '11选5', 'PK10', '排列三']
        },
        calculable: true,
        series: [
          {
            name: '收支分布',
            type: 'pie',
            roseType: 'radius',
            data: [
              { value: 320, name: '六合彩' },
              { value: 240, name: '时时彩' },
              { value: 149, name: '快3' },
              { value: 100, name: '时时乐' },
              { value: 59, name: '11选5' },
              { value: 59, name: '排列三' },
              { value: 49, name: 'PK10' }
            ],
            animationEasing: 'cubicInOut',
            animationDuration: 2600
          }
        ]
      }
      this.chart.setOption(options)
      this.timer = setInterval(() => {
        const data = options.series[0].data.map((r) => {
          r.value = parseFloat(Math.round(Math.random() * 1000)).toFixed(2)
          return r
        })
        options.series[0].data = data
        this.chart.setOption(options)
      }, 10 * 1000)
    }
  }
}
</script>
