<template>
  <el-card v-loading="listLoading">
    <el-form :inline="true">
      <el-form-item>
        <fuzzy-query-search
          :options="{type:'spCode',placeholder:'请输入厅编码'}"
          @dealChange="dealChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select
          filterable
          style="width: 180px"
          placeholder="请选择数据源"
          clearable
          default-first-option
          v-model="listQuery.sourceCode"
        >
          <el-option
            v-for="item in sourceCodeList"
            :key="item.sourceCode"
            :label="item.sourceName"
            :value="item.sourceCode"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择厅状态" v-model="listQuery.status">
          <el-option label="全部" value></el-option>
          <el-option label="启用" :value="1"></el-option>
          <el-option label="禁用" :value="0"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          :loading="listLoading"
          @click.native="_search"
          type="primary"
          :disabled="hasPermission('SpRegList')"
        >查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button
          @click.native="addShowDialog"
          type="primary"
          :disabled="hasPermission('SpRegInsert')"
        >新建开厅</el-button>
      </el-form-item>
    </el-form>
    <el-table
      border
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      fit
      :data="SpRegList"
      style="width: 100%"
    >
      <!--      <el-table-column-->
      <!--        align="right"-->
      <!--        type='index'-->
      <!--        label="序号"-->
      <!--        min-width="100">-->
      <!--      </el-table-column>-->
      <el-table-column align="right" prop="spCode" label="厅编码" min-width="100"></el-table-column>
      <el-table-column align="right" prop="spName" label="厅名称" min-width="100"></el-table-column>
      <el-table-column align="right" prop="spStatus" label="厅状态" min-width="100">
        <template slot-scope="scope">
          <span
            :class="{'active_green':scope.row.status===1,red:scope.row.status===0}"
          >{{scope.row.status?'启用':'禁用'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" prop="sourceName" label="所属数据源" min-width="180"></el-table-column>
      <el-table-column align="right" prop="prizeRatio" label="开厅赔率比" min-width="120">
        <template v-slot="scope">
          <span>{{scope.row.prizeRatio}}%</span>
        </template>
      </el-table-column>
      <el-table-column align="right" prop="itemMaxBet" label="单项最大/元" min-width="120"></el-table-column>
      <el-table-column align="right" prop="eachMaxBet" label="单注最大/元" min-width="120"></el-table-column>
      <el-table-column align="right" prop="eachMinBet" label="单注最小/元" min-width="120"></el-table-column>
      <el-table-column align="right" prop="createUser" min-width="120" label="开厅人"></el-table-column>
      <el-table-column align="right" prop="createTime" label="开厅时间" min-width="150"></el-table-column>
      <el-table-column align="right" label="操作" min-width="100">
        <template slot-scope="scope">
          <el-button
            type="text"
            @click="_postSpRegClearTpl(scope.row)"
            :disabled="hasPermission('SpRegClearTpl')"
          >重置盘口</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.pageNo"
        :page-sizes="[10,20,50,100,200,500]"
        :page-size="listQuery.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <!-- 新建厅弹框 -->
    <el-dialog title="开厅" :visible.sync="dialogVisible" width="600px">
      <el-form :model="spAddForm" label-width="130px" ref="SpRegInsertForm" :rules="rules">
        <el-form-item label="可选厅主" prop="spCode">
          <el-select style="width: 280px" v-model="spAddForm.spCode" placeholder="请选择厅主" filterable>
            <el-option
              v-for="item in SpRegSpList"
              :key="item.spCode"
              :label="item.spCode"
              :value="item.spCode"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="开厅赔率比" prop="prizeRatio">
          <el-input
            v-model="spAddForm.prizeRatio"
            placeholder="请输入开厅赔率比"
            style="width:60%;margin-right:10px"
          >%</el-input>
          <span>取值范围：85%-100%</span>
        </el-form-item>
        <el-form-item label="单项最大" prop="itemMaxBet">
          <el-input v-model="spAddForm.itemMaxBet" placeholder="请输入单项最大" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="单注最大" prop="eachMaxBet">
          <el-input v-model="spAddForm.eachMaxBet" placeholder="请输入单注最大" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="单注最小" prop="eachMinBet">
          <el-input v-model="spAddForm.eachMinBet" placeholder="请输入单注最小" style="width:60%"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postSpRegInsert">保 存</el-button>
        <el-button @click="_clearForm">取 消</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import { getSpRegList, postSpRegClearTpl, getSpRegSpList, postSpRegInsert } from 'api/addSpManage'
  import { getShardingDBInit } from 'api/spInfoList'
  // import { parseTime } from 'utils/index'
  import {
    validateNum
  } from 'utils/validate'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import NP from 'number-precision'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      const prizeRatio = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入开厅赔率比'))
        } else if (value > 100 || value < 85) {
          callback(new Error('开厅赔率比只支持85-100'))
        } else if (!validateNum(value)) {
          callback(new Error('只支持数字'))
        } else {
          callback()
        }
      }
      const itemMaxBet = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入单项最大'))
        } else if (value.length > 10) {
          callback(new Error('单项最大最大长度不能超过10个字符'))
        } else if (!validateNum(value)) {
          callback(new Error('只支持数字'))
        } else {
          callback()
        }
      }
      const eachMaxBet = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入单注最大'))
        } else if (value.length > 10) {
          callback(new Error('单注最大最大长度不能超过10个字符'))
        } else if (!validateNum(value)) {
          callback(new Error('只支持数字'))
        } else {
          callback()
        }
      }
      const eachMinBet = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入单注最小'))
        } else if (value.length > 10) {
          callback(new Error('单注最小最大长度不能超过10个字符'))
        } else if (!validateNum(value)) {
          callback(new Error('只支持数字'))
        } else {
          callback()
        }
      }
      return {
        total: 0,
        SpRegList: [],
        effectiveSpCodes: [],
        SpRegSpList: [],
        dialogVisible: false,
        listLoading: false,
        listQuery: {
          sourceCode: '',
          spCode: '',
          pageSize: 10,
          pageNo: 1,
          status: ''
        },
        spAddForm: {
          spCode: '',
          prizeRatio: '',
          eachMinBet: '',
          eachMaxBet: '',
          itemMaxBet: ''
        },
        sourceCodeList: [],
        // spList: [],
        rules: {
          spCode: [
            { required: true, message: '请选择厅主', trigger: 'change' }
          ],
          itemMaxBet:
            [
              {
                required: true,
                trigger: 'blur',
                validator: itemMaxBet
              }
            ],
          eachMaxBet:
            [
              {
                required: true,
                trigger: 'blur',
                validator: eachMaxBet
              }
            ],
          eachMinBet:
            [
              {
                required: true,
                trigger: 'blur',
                validator: eachMinBet
              }
            ],
          prizeRatio:
            [
              {
                required: true,
                trigger: 'blur',
                validator: prizeRatio
              }
            ]
        }
      }
    },
    created () {
      this._getShardingDBAdd()
      this._search()
    },
    methods: {
      dealChange (op) {
        this.listQuery = Object.assign({}, this.listQuery, op)
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      async addShowDialog () {
        await this._getSpRegSpList()
        this.dialogVisible = true
      },
      // 重置dialog
      _clearForm () {
        this.$refs.SpRegInsertForm.resetFields()
        this.dialogVisible = false
        this.spAddForm = {
          spCode: '',
          prizeRatio: '',
          eachMinBet: '',
          eachMaxBet: '',
          itemMaxBet: ''
        }
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      // 查询
      _getList () {
        this.listLoading = true
        getSpRegList(this.listQuery).then(res => {
          if (res.data.code === ERR_OK) {
            this.SpRegList = res.data.data.elements.map(v => {
              v.status = Boolean(v.status)
              v.itemMaxBet = NP.divide(v.itemMaxBet, 100).toFixed(2)
              v.eachMaxBet = NP.divide(v.eachMaxBet, 100).toFixed(2)
              v.eachMinBet = NP.divide(v.eachMinBet, 100).toFixed(2)
              v.prizeRatio = NP.divide(v.prizeRatio, 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      // 开厅选择厅列表，已配过数据源
      _getSpRegSpList () {
        getSpRegSpList().then(res => {
          if (res.data.code === ERR_OK) {
            this.SpRegSpList = res.data.data.items
          }
        })
      },
      // 重置盘口
      _postSpRegClearTpl (row) {
        this.$confirm(`此操作将重置盘口的玩法赔率， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = { spCode: row.spCode }
          postSpRegClearTpl(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `重置成功!`
              })
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      _postSpRegInsert () {
        this.$refs.SpRegInsertForm.validate((valid) => {
          if (valid) {
            this.$confirm(`此操作将新建开厅${this.spAddForm.spCode}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.spAddForm.prizeRatio = NP.times(this.spAddForm.prizeRatio, 100)
              this.spAddForm.eachMinBet = NP.times(this.spAddForm.eachMinBet, 100)
              this.spAddForm.eachMaxBet = NP.times(this.spAddForm.eachMaxBet, 100)
              this.spAddForm.itemMaxBet = NP.times(this.spAddForm.itemMaxBet, 100)
              postSpRegInsert(this.spAddForm).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `操作成功！`
                  })
                  this._clearForm()
                  // this._getShardingDBAdd()
                  this._search()
                }
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '取消操作'
                })
              })
            })
          }
        })
      },
      //  获取数据源列表
      _getShardingDBAdd () {
        getShardingDBInit().then((res) => {
          this.sourceCodeList = res.data.data.datasourceList
          this.effectiveSpCodes = res.data.data.spCodeList.map((item) => {
            const spCode = {}
            spCode.label = item
            spCode.value = item
            return spCode
          })
        })
      }
    }
  }
</script>
