<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select style="width: 150px"
                   clearable
                   placeholder="请选择任务类型"
                   v-model="listQuery.taskType">
          <el-option v-for="item in taskTypeList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="lotteryTypeId" placeholder="选择彩种类型" @change="handleChange"
                   clearable style="width: 150px"
                   @clear="resetSelect">
          <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable
                   style="width: 150px"
                   :disabled="!lotteryTypeId">
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.issue" style="width: 150px"
                  placeholder="请输入彩期" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" clearable
                   placeholder="请选择任务状态"
                   v-model="listQuery.status">
          <el-option v-for="item in statusList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
            v-model="dataValue"
            type="datetimerange"
            range-separator="至"
            :picker-options="pickerOptions"
            :default-time="['00:00:00', '23:59:59']"
            clearable
            unlink-panels
            style="width: 350px"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            @change="dataTimeChangeGet"
            align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.isFT" placeholder="请选择版本" clearable style="width: 150px">
          <el-option label="正式版本" :value="0"></el-option>
          <el-option label="体验版本" :value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.numType" placeholder="请选择有效数据项" clearable
                   style="width: 150px">
          <el-option :label="item.label" :value="item.value" v-for="item in numTypes"
                     :key="item.value"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_search"
                   :loading="listLoading"
                   :disabled="hasPermission('taskInfoList')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
        :data="taskList"
        border
        show-summary
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        style="width: 100%">
      <el-table-column align="right" label="任务类型" min-width="120" prop='taskType'>
        <template slot-scope="scope">
          <span>{{ scope.row.taskType | taskFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="120" prop='lotteryName'>
      </el-table-column>
      <el-table-column align="right" label="期号" min-width="150">
        <template slot-scope='scope'>{{ scope.row.issue }}</template>
      </el-table-column>
      <el-table-column
          min-width="100"
          align="right"
          label="任务状态">
        <template slot-scope="scope">
          <span :class="switchColor(scope.row.status)">{{ scope.row.status | statusFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="80"
          label="版本"
          align="right">
        <template slot-scope="scope">
          <span :class="switchColor(scope.row.isFT)">{{ !scope.row.isFT ? '正式版本' : '体验版本' }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="createTime"
          align="right"
          label="开始时间">
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="endTime"
          align="right"
          label="结束时间">
      </el-table-column>
      <el-table-column
          min-width="100"
          label="耗时(秒)"
          prop='seconds'
          align="right">
        <template slot-scope="scope">
          <span v-if="scope.row.endTime===''">{{ '-' }}</span>
          <span v-else>{{ scope.row.seconds }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="100"
          label="注单总条数"
          prop='totalNum'
          align="right">
      </el-table-column>
      <el-table-column
          min-width="100"
          label="执行总条数"
          prop='execNum'
          align="right">
      </el-table-column>
      <el-table-column
          min-width="120"
          label="执行失败数"
          prop='failNum'
          align="right">
        <template slot-scope="scope">
          <span v-if="scope.row.failNum > 0" :class="switchColor(3)">{{ scope.row.failNum }}</span>
          <span v-else>{{ scope.row.failNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="120"
          label="执行忽略数"
          prop='ignoreNum'
          align="right">
        <template slot-scope="scope">
          <span v-if="scope.row.ignoreNum > 0" :class="switchColor(1)">{{ scope.row.ignoreNum }}</span>
          <span v-else>{{ scope.row.ignoreNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="120"
          label="执行成功数"
          prop='succNum'
          align="right">
        <template slot-scope="scope">
          <span :class="switchColor(2)" v-if="scope.row.succNum > 0">{{ scope.row.succNum }}</span>
          <span v-else>{{ scope.row.succNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="150"
          label="IP地址"
          prop='ip'
          align="right">
      </el-table-column>
      <el-table-column
          min-width="160"
          align="right"
          label="任务备注">
        <template slot-scope="scope">
          <el-button type="text" v-if="scope.row.memo" @click="showDetail(scope.row.memo)">查询详情</el-button>
        </template>
      </el-table-column>
      <el-table-column
          min-width="160"
          align="right"
          label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="_showDialog(scope.row)"
                     v-if="scope.row.status>1 && (scope.row.failNum>0 || scope.row.ignoreNum > 0)"
                     :disabled="hasPermission('taskSubInfoList')">查看详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
        width="50%"
        title="备注详情"
        :visible.sync="innerVisible" append-to-body>
      <span style='word-break: break-all'>{{ descDetail }}</span>
    </el-dialog>
    <el-dialog :visible.sync="dialogTableVisible" width="80%" title="详情列表" append-to-body>
      <el-form :inline='true'>
        <el-form-item>
          <el-select filterable style="width: 150px"
                     placeholder="请选择任务类型" default-first-option
                     v-model="failQuery.taskType">
            <el-option v-for="item in taskTypeList" :key="item.id" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-select style="width: 150px" clearable
                     placeholder="请选择失败类型"
                     v-model="failQuery.failType">
            <el-option v-for="item in failTypeList" :key="item.id" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-input v-model="failQuery.targetVal" style="width: 150px"
                    placeholder="请输入注单号" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-select style="width: 150px" clearable
                     placeholder="请选择处理结果"
                     v-model="failQuery.results">
            <el-option v-for="item in resultsList" :key="item.id" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-date-picker
              v-model="dataValue1"
              type="datetimerange"
              range-separator="至"
              :picker-options="pickerOptions"
              :default-time="['00:00:00', '23:59:59']"
              clearable
              unlink-panels
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              @change="dataTimeChangeGet"
              align="right">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="_search1">查询
          </el-button>
        </el-form-item>
      </el-form>

      <el-table
          :data="SubInfoList"
          border
          v-loading="sublistLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          style="width: 100%">
        <el-table-column align="right" label="厅编号" prop="spCode" width="80">
        </el-table-column>
        <el-table-column
            min-width="150"
            label="注单号"
            align="right">
          <template slot-scope="scope">
            <span>{{ scope.row.targetVal }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="150"
            label="失败类型"
            align="right">
          <template slot-scope="scope">
            <span>{{ scope.row.failType === 1 ? '忽略' : '失败' }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            label="失败原因"
            align="right">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="light" placement="top" v-if="scope.row.failReason">
              <div slot="content">{{ scope.row.failReason }}</div>
              <span class="a1"
                    style="color:#374eff;cursor: pointer">{{ scope.row.failReason }}</span>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            align="right"
            prop="status"
            label="处理结果">
          <template slot-scope="scope">
            <span>{{ scope.row.results | resultFilter }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            prop="try_body"
            align="right"
            label="重试报文">
        </el-table-column>
        <el-table-column
            min-width="160"
            prop="results_user"
            align="right"
            label="处理人">
        </el-table-column>
        <el-table-column
            min-width="160"
            prop="results_time"
            align="right"
            label="处理时间">
        </el-table-column>
      </el-table>
      <div v-if="subtotal" class="pagination-container fr">
        <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
                       :current-page.sync="failQuery.pageNo"
                       :page-sizes="[10,20,50,100,200,500]" :page-size="failQuery.pageSize"
                       layout="total, sizes, prev, pager, next, jumper" :total="subtotal">
        </el-pagination>
      </div>
      <div style="clear: both"></div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/index'
import { getAjaxData } from 'api/common'
import { getTaskInfoList, getTaskSubInfoList } from 'api/logs'
import Settime from 'utils/settime'

export default {
  data () {
    return {
      innerVisible: false,
      descDetail: '',
      numTypes: [
        { value: 1, label: '执行总条数' },
        { value: 2, label: '失败总条数' },
        { value: 3, label: '忽略总条数' },
        {
          value: 4, label: '成功总条数'
        }
      ],
      listQuery: {
        isFT: '',
        numType: '',
        taskType: '',
        taskName: '',
        lotteryId: '',
        issue: '',
        status: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10
      },
      failQuery: {
        taskId: '',
        taskType: '',
        taskName: '',
        failType: '',
        targetVal: '',
        results: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10
      },
      listLoading: false,
      sublistLoading: false,
      lotteryTypeId: '',
      dialogTableVisible: false,
      taskTypeList: [
        {
          value: 1,
          label: '结算'
        },
        {
          value: 2,
          label: '重新结算'
        },
        {
          value: 3,
          label: '发放奖金'
        },
        {
          value: 4,
          label: '发放代理返点'
        },
        {
          value: 5,
          label: '结算代理返点'
        },
        {
          value: 6,
          label: '重新结算发放奖金'
        },
        {
          value: 7,
          label: '重新结算代理返点'
        },
        {
          value: 8,
          label: '重新结算发放代理返点'
        }
      ],
      statusList: [
        {
          value: 0,
          label: '未开始'
        },
        {
          value: 1,
          label: '执行中'
        },
        {
          value: 2,
          label: '已结束'
        },
        {
          value: 3,
          label: '执行异常'
        }
      ],
      resultsList: [
        {
          value: 0,
          label: '未处理'
        },
        {
          value: 1,
          label: '处理中'
        },
        {
          value: 2,
          label: '处理成功'
        },
        {
          value: 3,
          label: '处理失败'
        }
      ],
      pickerOptions: EnUSPickerOptions,
      failTypeList: [
        {
          value: 1,
          label: '忽略'
        },
        {
          value: 2,
          label: '失败'
        }
      ],
      typeList: [],
      lotteryList: [],
      dataValue: [],
      dataValue1: [],
      taskList: [],
      SubInfoList: [],
      total: 0,
      subtotal: 0,
      taskId: ''
    }
  },
  created () {
    const Today = new Date(Settime.RefTime())
    this.dataValue.push(new Date(Today.getFullYear(), Today.getMonth(), Today.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(Today.getFullYear(), Today.getMonth(), Today.getDate(), 23, 59, 59))
    this._getLotteryTypeList()
    // this._getList()
  },
  methods: {
    showDetail (text) {
      this.descDetail = text
      this.innerVisible = true
    },
    dataTimeChangeGet (v) {
      if (!v) this.dataValue = []
    },
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.typeList = res.data.data.items
        }
      })
    },
    handleChange (val) {
      this.resetSelect()
      getAjaxData({ dataType: 13, pId: val }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = res.data.data.items
        }
      })
    },
    resetSelect () {
      this.lotteryList = []
      this.listQuery.lotteryId = ''
    },
    handleSizeChange (val) {
      this.listQuery.pageNo = 1
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getList () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getTaskInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.taskList = res.data.data.elements.map((m) => {
            m.seconds = !m.endTime ? 0 : ((new Date(m.endTime).getTime() - new Date(m.createTime).getTime()) / 1000)
            return m
          })
          this.total = res.data.data.totalCount
        }
      })
      this.listLoading = false
    },
    // 弹框
    _showDialog (row) {
      this.dialogTableVisible = true
      this._getTaskSubInfoList(row)
    },
    // 获取弹框列表
    _getTaskSubInfoList (row) {
      if (!this.dataValue1) this.dataValue1 = []
      for (let i = 0; i < this.dataValue1.length; i++) {
        if (this.dataValue1[i] === null || this.dataValue1[i] === '') {
          this.dataValue1 = []
          break
        }
      }
      if (this.dataValue1.length) {
        const tmin = new Date(this.dataValue1[0])
        const tmax = new Date(this.dataValue1[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.failQuery.beginTime = parseTime(tmin)
        this.failQuery.endTime = parseTime(tmax)
      } else {
        this.failQuery.beginTime = this.failQuery.endTime = ''
      }
      this.taskId = row ? row.id : this.taskId
      this.failQuery.taskId = this.taskId
      this.sublistLoading = true
      getTaskSubInfoList(this.failQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.SubInfoList = res.data.data.elements
          this.subtotal = res.data.data.totalCount
        }
      })
      this.sublistLoading = false
    },
    handleSizeChange1 (val) {
      this.failQuery.pageNo = 1
      this.failQuery.pageSize = val
      this._getTaskSubInfoList()
    },
    handleCurrentChange1 (val) {
      this.failQuery.pageNo = val
      this._getTaskSubInfoList()
    },
    _search1 () {
      this.failQuery.pageNo = 1
      this._getTaskSubInfoList()
    },
    switchColor (s) {
      let co
      switch (s) {
        case 1:
          co = 'warning'
          break
        case 2:
          co = 'success'
          break
        case 3:
          co = 'danger'
          break
        default:
      }
      return co
    }
  },
  filters: {
    taskFilter (type) {
      const typeMap = {
        1: '结算',
        2: '重新结算',
        3: '发放奖金',
        4: '发放代理返点',
        5: '结算代理返点',
        6: '重新结算发放奖金',
        7: '重新结算代理返点',
        8: '重新结算发放代理返点'
      }
      return typeMap[type]
    },
    statusFilter (type) {
      const typeMap = {
        0: '未开始',
        1: '执行中',
        2: '已结束',
        3: '执行异常'
      }
      return typeMap[type]
    },
    resultFilter (type) {
      const typeMap = {
        0: '未处理',
        1: '处理中',
        2: '处理成功',
        3: '处理失败'
      }
      return typeMap[type]
    }
  }
}
</script>
<style scoped>
.success {
  color: #60da24;
}

.warning {
  color: #E6A23C;
}

.danger {
  color: #f00
}
</style>
