<template>
  <div class="agentList">
    <el-table :data="elements" v-loading.body="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" width="70" type="index">
      </el-table-column>
      <!--<el-table-column align="right" label="用户ID" width="90" prop="uid">-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="一级代理商" width="150" prop="loginId">
      </el-table-column>
      <el-table-column align="right" label="代理商类型" prop="agentType" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.agentDefault === 1 ? '直属代理' : scope.row.agentType === 1 ? '直属代理' : '层级代理' }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="用户账号" width="120" prop="loginId">-->
      <!--</el-table-column>-->
      <!--<el-table-column align="right" label="所属盘口" width="90" prop="spTplId">-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="所属盘口" width="120" prop="spTplName">
      </el-table-column>
      <el-table-column align="right" label="团队状态" width="120" prop="groupStatus">
        <template slot-scope="scope">
          <span>{{ scope.row.groupStatus === 1 ? '启用' : scope.row.groupStatus === 4 ? '禁用' : '冻结' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="用户状态" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.status | filterStatus }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="注册IP" prop="ip">
      </el-table-column>
      <el-table-column align="right" label="注册时间" prop="regTime">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </div>
</template>
<script>
import { ERR_OK } from 'api/config.js'
import { getBandingAgentInfoList } from 'api/spltpl'

export default {
  data () {
    return {
      elements: [],
      listLoading: false,
      listQuery: {
        spCode: '',
        spTplId: '',
        status: '',
        groupStatus: '',
        loginId: '',
        parentId: '',
        pageNo: 1,
        pageSize: 10
      },
      total: 0,
      status: [
        {
          value: 1,
          label: '启用'
        }, {
          value: 4,
          label: '禁用'
        },
        {
          value: 5,
          label: '冻结'
        },
        {
          value: 6,
          label: '停权'
        }
      ]
    }
  },
  methods: {
    handleCurrentChange (v) {
      this.listQuery.pageNo = v
      this._getAgentInfoList()
    },
    handleSizeChange (v) {
      this.listQuery.pageSize = v
      this._getAgentInfoList()
    },
    _getAgentInfoList () {
      this.listLoading = true
      getBandingAgentInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.elements
          this.total = res.data.data.totalCount
        }
      })
      this.listLoading = false
    }
  },
  filters: {
    filterStatus (status) {
      const statusMap = {
        1: '启用',
        4: '停用',
        5: '冻结',
        6: '停权'
      }
      return statusMap[status]
    }
  },
  created () {
    this.listQuery.spCode = this.$store.state.sptpl.spCode
    this.listQuery.spTplId = this.$store.state.sptpl.rowId
    this._getAgentInfoList()
  }
}
</script>
