<template>
  <el-card v-loading="!loaded" element-loading-text="拼命加载中"
           element-loading-spinner="el-icon-loading">
    <template v-if="showPreview && !showAgent">
      <el-form :inline="true">
        <el-form-item>
          <!--										<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
          <!--										           clearable default-first-option-->
          <!--										           v-model="spCodeInput">-->
          <!--												<el-option-->
          <!--													v-for="(item, index) in spCodes"-->
          <!--													:key="index"-->
          <!--													:label="item.value"-->
          <!--													:value="item.value">-->
          <!--												</el-option>-->
          <!--										</el-select>-->
          <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click.native="getSpTplInfo"
                     :loading="getStatu" icon="el-icon-search"
                     :disabled="!spCodeInput || hasPermission('SpTplInfoList')">
            查询
          </el-button>
        </el-form-item>
      </el-form>
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="id" label="盘口编号" align="right"></el-table-column>
        <el-table-column prop="tplName" label="盘口名称" align="right">
          <template slot-scope="scope">
            <el-input v-show="scope.row.edit" v-model="scope.row.tplName"></el-input>
            <span v-show="!scope.row.edit">{{ scope.row.tplName }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="tplType" label="盘口类型" align="right">
          <template slot-scope="scope">
            {{ scope.row.tplType === 1 ? '默认盘口' : '普通盘口' }}
          </template>
        </el-table-column>
        <el-table-column prop="status" label="盘口状态" align="right">
          <template slot-scope="scope">
            <span :class="{active_blue:scope.row.show ,active_red:!scope.row.show}">
              {{ scope.row.status ? '已启用' : '已禁用' }}
            </span>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="right">
          <template slot-scope="scope">
            <el-button type="text" @click.native.prevent="spTplInfoCopy(scope.row, tableData)"
                       :disabled="hasPermission('SpTplInfoCopy')">复制
            </el-button>
            <el-button type="text" @click.native.prevent="spTplSetList(scope.row)"
                       :disabled="hasPermission('SpTplRebateSetList') && hasPermission('SpTplLotterySetList') && hasPermission('SpTplPlayList') && hasPermission('SpTplLotteryHotList') && hasPermission('SpTplLotteryRecommendList')">
              设置
            </el-button>
            <el-button type="text" @click.native.prevent="spTplAgentList(scope.row)">已绑代理商</el-button>
            <el-button type="text" v-if="scope.row.tplType !== 1" v-show='!scope.row.edit'
                       :disabled="hasPermission('SpTplInfoUpName')"
                       @click='spTplReName(scope.row, true)'>修改
            </el-button>
            <el-button v-if='scope.row.edit' type="success" @click='spTplReName(scope.row, false)'
                       icon="check">完成
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <br>
      <el-pagination v-if="showPagination" align="right" @size-change="handleSizeChange"
                     @current-change="handleCurrentChange"
                     :current-page.sync="query.pageNo"
                     :page-sizes="[10,20,30,50,100,200,500]" :page-size="query.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </template>
    <template v-else-if="!showPreview && !showAgent">
      <set-list></set-list>
    </template>
    <template v-else>
      <code class="code-part">
        <el-button @click.native="spTplHideAgent">返回</el-button>
      </code>
      <agent-list></agent-list>
    </template>
  </el-card>
</template>

<script>
  import ed from './previewed.js'

  export default ed
</script>
<!--<style rel="stylesheet/scss" lang="scss" scoped>-->
<!--  @import 'src/styles/index.scss';-->
<!--</style>-->
