<template>
  <div>
    <el-tabs
        v-model="activeName"
        type="border-card"
        @tab-click="switchTab"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading">
      <el-tab-pane
          v-for="item in tabNavigation"
          :label="item.label"
          lazy
          :key='item.key'
          :name="item.key"
          v-if="isAuth(item.cmd)">
        <el-alert
            effect="dark"
            style="margin-bottom: 5px"
            title="温馨提醒：请及时保存当前数据，页面切换会清空原有的数据，暂无法分页保存!"
            type="warning"
            show-icon>
        </el-alert>
        <el-alert
            effect="dark"
            v-if="item.cmd==='SpTplPlayList'"
            title="温馨提醒：1. 彩种设置优先于通用设置2.彩种对玩法禁用时,该玩法将禁止投注, 3.彩种对玩法删除时,使用通用设置"
            type="warning"
            color='#000'
            show-icon>
        </el-alert>
        <code class="code-part" v-if='item.cmd!=="SpTplPlaytypeSetList"'>
          <el-button
              @click.native="spTplSaveSetData">保存设置
          </el-button>
          <el-button @click.native="spTplShowPreview">返回</el-button>
          <el-button v-if="item.cmd==='SpTplPlayList' && !isEdit" @click.native="batchModify">批量修改下注额度</el-button>
          <el-input
              placeholder="请输入数值"
              v-model="modifyValue"
              v-if="item.cmd==='SpTplPlayList' && isEdit">
            <el-select v-model="typeModify" slot="prepend" placeholder="请选择">
              <el-option label="单注最大" value="0"></el-option>
              <el-option label="单注最小" value="1"></el-option>
              <el-option label="单项最大" value="2"></el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-check" type="success" @click.native="sbModify">提交
            </el-button>
            <el-button slot="append" type="danger" icon="el-icon-close" @click.native="modifyCancel">取消
            </el-button>
          </el-input>
        </code>
      </el-tab-pane>
      <tab-pane-table :tab-name="activeName" ref='pane'></tab-pane-table>
    </el-tabs>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import { getAjaxData } from 'api/common'
// import { ERR_OK } from 'api/config'
import { tabNav } from './tabNav'
import TabPaneTable from './TabPaneTable'

export default {
  data () {
    return {
      loaded: true,
      activeName: '',
      modifyValue: 0,
      isEdit: false,
      typeModify: '0',
      tabNavigation: []
    }
  },
  components: { TabPaneTable },
  methods: {
    ...mapActions('sptpl', [
      'spTplSaveSet',
      'spTplSaveSet2',
      'spTplShowPreview',
      'spTplSetTableData'
      // 'spTplSetLotteryTypeList'
    ]),
    spTplSaveSetData () {
      this.spTplSaveSet().then(() => {
        if (this.cmd === 'SpTplPlayList') this.$refs.pane.$refs.component.getPlayList()
      })
    },
    sbModify () {
      let mFiled = ''
      switch (this.typeModify) {
        case '0':
          mFiled = 'eachMaxBet'
          break
        case '1':
          mFiled = 'eachMinBet'
          break
        default:
          mFiled = 'itemMaxBet'
      }
      if (!this.allData.length) return
      const { creditMoney } = this.allData[0]
      const v = this.modifyValue
      const re = /^\d+(\.\d{0,2})?$/
      if (Number(v) === 0) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '输入的数值不能为0',
          offset: 100
        })
        return
      }
      if (!re.test(v)) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '输入的数值不正确，只允许两位小数',
          offset: 100
        })
        return
      }
      if (parseFloat(v) > parseFloat(creditMoney)) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '不能大于最大信用额度',
          offset: 100
        })
        return
      }
      const tempData = this.allData.map((m) => {
        m[mFiled] = v
        m.isEditRow = true
        m.isExtenalEdit = true
        // if (m.childList !== null) {
        //   m.childList = m.childList.map((n) => {
        //     n[mFiled] = v
        //     return n
        //   })
        // }
        return m
      })
      this.spTplSaveSet2(tempData).then(() => {
        if (this.cmd === 'SpTplPlayList') this.$refs.pane.$refs.component.getPlayList()
        this.isEdit = false
      })
    },
    batchModify () {
      // this.spTplSaveSetData()
      this.isEdit = true
    },
    modifyCancel () {
      this.modifyValue = 0
      this.typeModify = '0'
      this.isEdit = false
    },
    switchTab (item) {
      // 屏蔽当前页再次点击
      if (this.cmd === item.name) return
      // this.loaded = true
      // this.getSpLotteryTypeOpenList()
      // 重置store的tableData
      this.spTplSetTableData({ cmd: item.name, data: [] })
    }
  },
  computed: {
    // tabNavigation () {
    //   return tabNav.filter(m => {
    //     return !this.hasPermission(m.cmd)
    //   })
    // },
    ...mapState({
      // lotteryTypeList: (state) => state.sptpl.lotteryTypeList,
      allData: (state) => state.sptpl.allData,
      cmd: (state) => state.sptpl.cmd,
      spCode: (state) => state.sptpl.spCode
    })
  },
  created () {
    this.tabNavigation = tabNav.filter(m => {
      return this.isAuth(m.cmd)
    })
    if (this.tabNavigation.length > 0) {
      this.activeName = this.tabNavigation[0].key
      this.spTplSetTableData({ cmd: this.activeName, data: [] })
    }
    // this.getSpLotteryTypeOpenList()
  }
}
</script>

<style scoped lang="scss">
code {
  margin-bottom: 10px;
  margin-top: 10px;

  ::v-deep .el-input-group {
    width: 450px;
    margin-left: 10px;
  }

  ::v-deep .el-select .el-input {
    width: 130px;
  }

}
</style>
