<template>
  <div class="tab-panel-table">
    <!--<rebate v-if="tabName === tabNavKey(0)"></rebate>-->
    <!--<dataBase-set v-if="tabName === tabNavKey(1)"></dataBase-set>-->
    <!--<play-set v-if="tabName === tabNavKey(2)"></play-set>-->
    <!--<hot-dataBase v-if="tabName === tabNavKey(3)"></hot-dataBase>-->
    <!--<recmd-dataBase v-if="tabName === tabNavKey(4)"></recmd-dataBase>-->
    <component :is='com' ref='component' @subChangePlayTabId='subChangePlayTabId'></component>
  </div>

</template>
<script>
// import Rebate from '../rebate'
import LotterySet from '../lotteryset'
import PlaySet from '../playset'
import HotLottery from '../hotlottery'
import PlayTypeSet from '../playTypeSet'
import { mapState } from 'vuex'
// import RecmdLottery from '../recmdlottery'
// import DwdSet from '../DwdSet'
// import { tabNav } from './tabNav'

export default {
  props: {
    // item: {
    //   type: Object,
    //   required: false
    // },
    tabName: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      tabData: {}
      // com: LotterySet
    }
  },
  components: {
    // Rebate,
    LotterySet,
    PlaySet,
    HotLottery,
    PlayTypeSet
    // RecmdLottery,
    // DwdSet
  },
  // methods: {
  //   tabNavKey(index) {
  //     return tabNav[index].key
  //   }
  // },
  methods: {
    subChangePlayTabId (opt) {
      this.$emit('subChangePlayTabId', opt)
    }
  },
  created () {
    // switch (this.tabName) {
    //   case 'lotteryset':
    //     this.com = LotterySet
    //     break
    //   case 'playset':
    //     this.com = PlaySet
    //     break
    //   case 'hotlottery':
    //     this.com = HotLottery
    //     break
    //   // case 'recmdlottery':
    //   //   this.com = RecmdLottery
    //   //   break
    //   // case 'dwdSetting':
    //   //   this.com = DwdSet
    //   //   break
    //   default:
    //     this.com = LotterySet
    // }
  },
  computed: {
    ...mapState({
      cmd: (state) => state.sptpl.cmd
    }),
    com () {
      switch (this.cmd) {
        case 'SpTplLotterySetList':
          return LotterySet
        case 'SpTplPlayList':
          return PlaySet
        case 'SpTplLotteryHotList':
          return HotLottery
        case 'SpTplPlaytypeSetList':
          return PlayTypeSet
          // case 'recmdlottery':
          //   this.com = RecmdLottery
          //   break
          // case 'dwdSetting':
          //   this.com = DwdSet
          //   break
        default:
          return LotterySet
      }
    }
  },
  watch: {
    // tabName: function (v) {
    //   // if (v === 'SpTplLotterySetList') {
    //   //   this.com = LotterySet
    //   // } else if (v === 'SpTplPlayList') {
    //   //   this.com = PlaySet
    //   // } else if (v === 'SpTplLotteryHotList') {
    //   //   this.com = HotLottery
    //   // } else {
    //   //   this.com = PlayTypeSet
    //   // }
    //   // switch (v) {
    //   //   case 'SpTplLotterySetList':
    //   //     this.com = LotterySet
    //   //     break
    //   //   case 'SpTplPlayList':
    //   //     this.com = PlaySet
    //   //     break
    //   //   case 'SpTplLotteryHotList':
    //   //     this.com = HotLottery
    //   //     break
    //   //   case 'SpTplPlaytypeSetList':
    //   //     this.com = PlayTypeSet
    //   //     break
    //   //     // case 'recmdlottery':
    //   //     //   this.com = RecmdLottery
    //   //     //   break
    //   //     // case 'dwdSetting':
    //   //     //   this.com = DwdSet
    //   //     //   break
    //   //   default:
    //   //     this.com = LotterySet
    //   // }
    // }
  }
}
</script>

<style scoped>
.tab-panel-table {
  margin: 0;
  padding: 0;
}
</style>
