<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading" :disabled="hasPermission('OpenCodeCollectList')">
          查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-plus" @click="showDialog({},1)"
                   :disabled="hasPermission('OpenCodeCollectSave')">
          添加
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：该功能是为不同的商户开启厅自开彩的开奖结果采集配置，请慎重选择限制频率及限制次数!"
      type="warning"
      show-icon>
    </el-alert>
    <el-table
      :data="elements"
      border
      fit
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      highlight-current-row
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" width="65" type="index">
      </el-table-column>
      <el-table-column
        align="right"
        label="厅主编码"
        prop="spCode"
        min-width="120">
      </el-table-column>
      <el-table-column
        align="right"
        prop="moduleId"
        label="应用ID"
        min-width="120">
      </el-table-column>
      <el-table-column
        align="right"
        label="签名列表"
        min-width="120">
        <template slot-scope="scope">
          <span style="color:#00bcd4;cursor: pointer" @click='showSignList(scope.row)'>查看</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="publicKey"
        label="公钥"
        min-width="120">
        <template slot-scope="scope">
          <span style="color:#00bcd4;cursor: pointer" @click='showDialogKey(scope.row,1)'>查看</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="privateKey"
        label="私钥"
        min-width="120">
        <template slot-scope="scope">
          <span style="color:#00bcd4;cursor: pointer" @click='showDialogKey(scope.row,2)'>查看</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="randomKey"
        label="随机因子"
        min-width="220">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.randomKey}}</div>
            <span class='ellipsis'>{{scope.row.randomKey}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="status"
        min-width="150"
        label="状态">
        <template slot-scope="scope">
          <el-switch
            @change="_postOpenCodeCollectSwitch(scope.row)"
            :disabled="hasPermission('OpenCodeCollectSwitch')"
            active-text="开通"
            inactive-text="停用"
            active-value="1"
            inactive-value="0"
            v-model="scope.row.status"
            active-color="#13ce66"
            inactive-color="#ff4949">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column align="right" label="采集频率" min-width="120">
        <template slot-scope='scope'>
          <span>{{scope.row.limitCount}}次/{{ scope.row.limitFreq }}秒</span>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="限制次数" prop="limitCount" min-width="120"></el-table-column>-->
      <el-table-column align="right" label="创建时间" min-width="150" prop="createTime"></el-table-column>
      <el-table-column
        label="操作"
        align="right"
        min-width="200">
        <template slot-scope="scope">
          <el-button type="primary"
                     :disabled="hasPermission('OpenCodeCollectUp')"
                     @click.native="showDialog(scope.row,2)">调整频率
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog :title="title" :visible.sync="dialogFormVisible" @close='resetF' width='800px'>
      <el-form :model="temp" ref="collectForm" :rules="rules">
        <el-form-item label="厅主编码" :label-width="formLabelWidth" prop="spCode">
          <!--										<el-select placeholder="请选择厅主"-->
          <!--										           style='width: 80%'-->
          <!--										           clearable-->
          <!--										           default-first-option filterable-->
          <!--										           :disabled='readonly'-->
          <!--										           v-model="temp.spCode">-->
          <!--												<el-option-->
          <!--													v-for="item in spCodes"-->
          <!--													:key="item.value"-->
          <!--													:label="item.value"-->
          <!--													:value="item.value">-->
          <!--												</el-option>-->
          <!--										</el-select>-->
          <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange2'></fuzzy-query-search>
        </el-form-item>
        <el-form-item label="限制次数" :label-width="formLabelWidth" prop="limitCount">
          <el-input v-model="temp.limitCount" style='width: 80%'></el-input>
        </el-form-item>
        <el-form-item label="限制频率" :label-width="formLabelWidth" prop="limitFreq">
          <el-input v-model="temp.limitFreq" style='width: 80%'>
            <template slot="append">秒</template>
          </el-input>
        </el-form-item>
        <el-form-item label="状态" :label-width="formLabelWidth" prop="status" v-if='!readonly'>
          <el-switch
            active-text="开通"
            :disabled='readonly'
            inactive-text="停用"
            v-model="temp.status"
            active-value="1"
            inactive-value="0"
            active-color="#13ce66">
          </el-switch>
        </el-form-item>
        <el-form-item label="是否修改签名" :label-width="formLabelWidth" prop="isEditSign" v-if='readonly'>
          <el-switch
            active-text="是"
            inactive-text="否"
            v-model="temp.isEditSign"
            active-value="1"
            inactive-value="0"
            active-color="#13ce66">
          </el-switch>
        </el-form-item>
        <el-form-item label="重要说明" :label-width="formLabelWidth" v-if='readonly'>
          <div style='color: red'>1.限制频率及次数：0表示不限制</div>
          <div style='color: red'>2.是否修改签名：请慎重选择,一旦修改,该商户所有开奖源采集签名均需调整</div>
          <div style='color: red'>3.签名修改后，需将新签名告知客户</div>
        </el-form-item>
        <el-form-item label="重要说明" :label-width="formLabelWidth" v-else>
          <div style='color: red'>1.每个厅只能添加一条采集配置数据</div>
          <div style='color: red'>2.限制频率及次数为同一厅主同一彩种采集的最大频率,即N次/N秒</div>
          <div style='color: red'>3.限制频率及次数设置为0时,表示无限制,请慎重选择</div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetF">取消</el-button>
        <el-button type="primary" @click="_postOpenCodeCollectSave()">保存</el-button>
      </div>
    </el-dialog>
    <el-dialog :title="keyTitle" :visible.sync="dialogVisible" width='650px'>
      <!--<el-input-->
      <!--type="textarea"-->
      <!--width='100%'-->
      <!--&gt;-->
      <!--</el-input>-->
      <span>{{ keyList}}</span>
    </el-dialog>
    <el-dialog title="签名列表" :visible.sync="dialogTableVisible" width='1500px'>
      <el-table :data="signList" border max-height='600'>
        <el-table-column property="lotteryName" label="彩种名称" width="120" align='center'></el-table-column>
        <el-table-column property="lotteryId" label="彩种ID" width="100" align='center'></el-table-column>
        <el-table-column property="sign" label="签名" align='left'></el-table-column>
      </el-table>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import {
    getOpenCodeCollectList,
    postOpenCodeCollectSave,
    postOpenCodeCollectSwitch,
    postOpenCodeCollectUp
  } from 'api/issue'
  import { validatNumber } from 'utils/validate'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      const validatorlimitFreq = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入限制频率'))
        } else if (!validatNumber(value)) {
          callback(new Error('限制频率只支持正整数!'))
        } else {
          callback()
        }
      }
      const validatorlimitCount = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入限制次数'))
        } else if (!validatNumber(value)) {
          callback(new Error('限制次数只支持正整数!'))
        } else {
          callback()
        }
      }
      return {
        // spCodes: [],
        listLoading: false,
        elements: [],
        signList: [],
        total: 0,
        listQuery: {
          spCode: '',
          pageNo: 1,
          pageSize: 10
        },
        keyList: '',
        keyTitle: '',
        dialogFormVisible: false,
        dialogTableVisible: false,
        dialogVisible: false,
        formLabelWidth: '100px',
        title: '',
        temp: {
          spCode: '',
          limitFreq: '',
          limitCount: '',
          status: '',
          isEditSign: ''
        },
        fc: null,
        readonly: false,
        rules: {
          spCode: [
            { required: true, message: '请选择厅主', trigger: 'change' }
          ],
          limitFreq: [
            {
              required: true,
              trigger: 'blur',
              validator: validatorlimitFreq
            }
          ],
          limitCount: [
            {
              required: true,
              trigger: 'blur',
              validator: validatorlimitCount
            }
          ]
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      dealChange2 (op) {
        this.temp = { ...this.temp, ...op }
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._search()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      resetF () {
        this.dialogFormVisible = false
        // this.temp = {
        //   spCode: '',
        //   limitFreq: '',
        //   limitCount: '',
        //   status: ''
        // }
        this.$refs.collectForm.resetFields()
      },
      // 新增开奖采集结果
      _postOpenCodeCollectSave () {
        console.log(this.$refs.collectForm)
        this.$refs.collectForm.validate((valid) => {
          if (valid) {
            this.$confirm(`此操作将${this.title}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const queryObj = {
                spCode: this.temp.spCode,
                limitFreq: this.temp.limitFreq,
                limitCount: this.temp.limitCount,
                status: this.temp.status,
                isEditSign: this.temp.isEditSign
              }
              this.fc(queryObj).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `${this.title}成功!`
                  })
                  this.dialogFormVisible = false
                  this._getList()
                }
              })
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '取消操作!'
              })
            })
          }
        })
      },
      // 开奖采集结果弹框
      showDialog (row, type) {
        if (type === 1) {
          // this.type = type
          this.title = '新增采集配置'
          this.temp.spCode = ''
          this.temp.limitFreq = ''
          this.temp.limitCount = ''
          this.temp.status = '0'
          this.readonly = false
          this.fc = postOpenCodeCollectSave
        } else {
          // this.type = type
          this.fc = postOpenCodeCollectUp
          this.readonly = true
          this.title = '编辑采集配置'
          this.temp = { ...row }
        }
        this.dialogFormVisible = true
      },
      // 显示公钥还是私钥
      showDialogKey (row, flag) {
        if (flag === 1) {
          this.keyTitle = '公钥'
          this.keyList = row.publicKey
        } else {
          this.keyTitle = '私钥'
          this.keyList = row.privateKey
        }
        this.dialogVisible = true
      },
      // 显示签名列表
      showSignList (row) {
        this.signList = row.signList
        this.dialogTableVisible = true
      },
      // 状态更改
      _postOpenCodeCollectSwitch (row) {
        const str = row.status === '1' ? '开通' : '停用'
        this.$confirm(`此操作将${str}该采集配置， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = { spCode: row.spCode, status: row.status }
          postOpenCodeCollectSwitch(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
              this._search()
            } else {
              row.status = row.status === '1' ? '0' : '1'
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = row.status === '1' ? '0' : '1'
        })
      },
      // _getSpList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         return {
      //           value: v.id,
      //           label: v.name
      //         }
      //       })
      //     }
      //   })
      // },
      // 获取开奖采集结果列表
      _getList () {
        this.listLoading = true
        getOpenCodeCollectList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v.status = String(v.status)
              return v
            })
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      }
    },
    created () {
      // this._getSpList()
      this._search()
    }
  }
</script>
