<template>
  <el-card>
    <common-component :items='ReportAnalysisUserSearch' :list-loading='listLoading' @changeSort='changeSort'>
      <template slot='filter'>
        <el-form :inline='true'>
          <el-form-item>
            <!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
            <!--												           clearable default-first-option-->
            <!--												           v-model="listQuery.spCode">-->
            <!--														<el-option-->
            <!--															v-for="item in spList"-->
            <!--															:key="item.id"-->
            <!--															:label="item.id"-->
            <!--															:value="item.id">-->
            <!--														</el-option>-->
            <!--												</el-select>-->
            <fuzzy-query-search
              :options="{type: 'spCode',placeholder: '请输入厅编码',defaultValue: listQuery.spCode}"
              ref='sSearch'
              @dealChange="dealSpCodeChange"
            ></fuzzy-query-search>
          </el-form-item>
          <!--										<el-form-item>-->
          <!--												<el-input style="width: 170px;" placeholder="请输入登录账号" clearable-->
          <!--												          v-model="listQuery.loginId">-->
          <!--												</el-input>-->
          <!--										</el-form-item>-->
          <fuzzy-query-search
            :options="{
                              spCode: listQuery.spCode,
                              type: 'memberSearch',
                              placeholder: '请输入用户账号',
                              defaultValue: listQuery.loginId
                            }"
            @dealChange="dealChange"
            ref="mSearch"
            :disabled="!Boolean(listQuery.spCode)"
          ></fuzzy-query-search>
          <el-form-item>
            <el-select v-model="listQuery.timeZone" default-first-option
                       placeholder="请选择时区">
              <el-option label="北京时间" :value="1"></el-option>
              <el-option label="美东时间" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <date-range v-show="listQuery.timeZone === 2" ref="dateRange"
                        :options="dateRangeOption"></date-range>
            <date-range v-show="listQuery.timeZone === 1" ref="dateRangeCn"
                        :options="dateRangeOptionCn"></date-range>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="search"
                       icon="el-icon-search"
                       :disabled="hasPermission('ReportAnalysisUserSearch')||!(listQuery.spCode&&listQuery.loginId)"
                       :loading="listLoading">查询
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="exportExel" :loading="loaded"
                       :disabled="!ReportAnalysisUserSearch.length||hasPermission('ReportAnalysisUserExport')">报表导出
            </el-button>
          </el-form-item>
        </el-form>
      </template>
      <template slot='otherColumn'>
        <el-table-column
          prop="lotteryName"
          align="right"
          min-width="100"
          label="彩种名称">
        </el-table-column>
        <el-table-column
          prop="loginId"
          align="right"
          min-width="100"
          label="登录账号">
        </el-table-column>
      </template>
      <template slot='page'>
        <div v-if="total" class="pagination-container fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page.sync="listQuery.pageNo"
                         :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                         layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </template>
    </common-component>
  </el-card>
</template>
<script>
  import { getReportAnalysisUserSearch } from 'api/report'
  import { ERR_OK } from 'api/config'
  import {
    // getAjaxData,
    postReportExport
  } from 'api/common'
  import {
    parseTime
  } from 'utils/index'
  import dateRange from 'components/dateRange/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import tools from 'utils/tools'
  import commonComponent from '../commonComponent'

  export default {
    name: 'Index',
    components: { commonComponent, dateRange, fuzzyQuerySearch },
    props: {},
    data () {
      return {
        ReportAnalysisUserSearch: [],
        dataValue: [],
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: (new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)),
          dateEnd: (new Date())
        },
        total: 0,
        spList: [],
        listQuery: {
          spCode: '',
          beginTime: '',
          endTime: '',
          loginId: '',
          timeZone: 2,
          orderField: '',
          orderSort: 'DESC',
          pageSize: 10,
          pageNo: 1
        },
        options: [],
        listLoading: false,
        loaded: false
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      dealSpCodeChange (op) {
        this.listQuery = { ...this.listQuery, ...op, loginId: '' }
        this.$refs.mSearch.value = ''
      },
      setDatetime () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport({ ...this.listQuery, cmd: 'ReportAnalysisUserExport' }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 8)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      dataTimeChangeGet (v) {
        if (!v) this.dataValue = []
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getReportAnalysisUserSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getReportAnalysisUserSearch()
      },
      changeSort (v) {
        if (this.listQuery.spCode && this.listQuery.loginId) {
          this.listQuery.orderField = v.prop
          if (v.order === 'ascending') {
            this.listQuery.orderSort = 'ASC'
          } else {
            this.listQuery.orderSort = 'DESC'
          }
          this._getReportAnalysisUserSearch()
        } else {
          this.$message({
            type: 'error',
            message: '请选择厅和填写用户账号'
          })
        }
      },
      _getReportAnalysisUserSearch () {
        this.setDatetime()
        this.listLoading = true
        getReportAnalysisUserSearch(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.ReportAnalysisUserSearch = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      search () {
        this.listQuery.pageNo = 1
        this._getReportAnalysisUserSearch()
      }
    },
    created () {
      // this._getSpInfoList()
    }
  }
</script>

<style lang='scss' scoped>

</style>
