<template>
  <div :class="{'has-logo':showLogo}">
    <logo v-if="showLogo" :collapse="isCollapse" />
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :background-color="currentSkin.activeBg"
        :text-color="currentSkin.textColor"
        :active-text-color="currentHeaderSkin.activeTextColor"
        :collapse-transition="false"
        unique-opened
        mode="vertical"
      >
        <sidebar-item v-for="route in permission_routers" :key="route.path" :item="route"
                      :base-path="route.path" />
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import defaultSettings from '@/settings'
import Logo from './Logo'
import SidebarItem from './SidebarItem'

const { sidebarSkins, headerSkin } = defaultSettings

export default {
  components: { SidebarItem, Logo },
  computed: {
    ...mapGetters([
      'permission_routers',
      'sidebar',
      'sidebarTheme',
      'headerTheme'
    ]),
    currentHeaderSkin () {
      return headerSkin[this.headerTheme]
    },
    currentSkin () {
      // console.log(sidebarSkins)
      return sidebarSkins[this.sidebarTheme]
    },
    activeMenu () {
      const route = this.$route
      const { meta, path } = route
      // console.log('meta', meta)
      if (meta.noActive) return false
      // if set path, the sidebar will highlight the path you set
      if (meta.activeMenu) {
        return meta.activeMenu
      }
      return path
    },
    showLogo () {
      return this.$store.state.settings.sidebarLogo
    },
    isCollapse () {
      return !this.sidebar.opened
    }
  }
}
</script>
