<template>
		<!-- eslint-disable vue/require-component-is -->
		<component v-bind="linkProps(to,target)">
				<slot />
		</component>
</template>

<script>
import { isExternal } from 'utils/validate'

export default {
  props: {
    to: {
      type: String,
      required: true
    },
    target: {
      type: Boolean
    }
  },
  methods: {
    linkProps (url, target) {
      if (target) {
        return {
          is: 'a',
          href: `#${url}`,
          target: '_blank',
          rel: 'noopener'
        }
      }
      if (isExternal(url)) {
        return {
          is: 'a',
          href: url,
          target: '_blank',
          rel: 'noopener'
        }
      }
      return {
        is: 'router-link',
        to: url
      }
    }
  }
}
</script>
