<template>
  <div class="sidebar-logo-container" :class="[collapse?'collapse':'']" :style="styleObj">
    <transition name="sidebarLogoFade">
      <!--      <router-link v-if="collapse" key="collapse" class="sidebar-logo-link" to="/">-->
      <!--        <img v-if="logo" :src="logo" class="sidebar-logo">-->
      <!--        <h1 v-else class="sidebar-title">{{ title }} </h1>-->
      <!--      </router-link>-->
      <router-link key="expand" class="sidebar-logo-link" to="/">
        <!--        <img v-if="logo" :src="logo" class="sidebar-logo">-->
        <h1 v-if="!collapse" class="sidebar-title">{{ title }} </h1>
      </router-link>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import defaultSettings from '@/settings'

const { headerSkin } = defaultSettings

export default {
  name: 'SidebarLogo',
  props: {
    collapse: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    ...mapGetters([
      'headerTheme'
    ]),
    styleObj () {
      console.log(headerSkin)
      return {
        background: headerSkin[this.headerTheme].logoBg
      }
    }
  },
  data () {
    return {
      title: '东南亚彩管理平台'
      // logo: require('../../../assets/logo.png')
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;

  & .sidebar-logo-link {
    height: 100%;
    width: 100%;

    /*& .sidebar-logo {*/
    /*  !*width: 32px;*!*/
    /*  !*height: 32px;*!*/
    /*  vertical-align: middle;*/
    /*  margin-right: 12px;*/
    /*}*/

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      /*font-size: 14px;*/
      font-size: 24px;
      font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
      vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
