<!--金流管理-->
<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="请选择彩种" clearable>
          <el-option
            v-for="item in options"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" clearable placeholder="请输入期号"
                  v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          @change="dataTimeChangeGet"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：采集模块接收到开奖结果时产生的日志，查询和展示时间均为北京时间!"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">

      <el-table-column align="right" label="彩种ID" width="110">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryId}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称" align="right" width="200">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>

      <el-table-column algin="right" label="期号" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.issue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖号码" min-width="150">
        <template slot-scope="scope">
          <div v-if="getSelfControl(scope.row.lotteryId)">
            <span class="a1" style="color:#374eff;cursor: pointer"
                  @click="showDialog(scope.row)">{{scope.row.openCode}}</span>
          </div>
          <el-tooltip class="item" effect="light" placement="top" v-else>
            <div slot="content">{{scope.row.openCode}}</div>
            <span class="a1" style="color:#374eff">{{scope.row.openCode}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="采集时间/北京" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.gatherTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="采集类型" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.gatherType === 1 ? 'API方式采集' : '按规则采集'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="来源名称" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.source}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="结果报文" min-width="120">
        <template slot-scope="scope" v-if="scope.row.gatherResult">
          <el-button type="text" @click="showDetail(scope.row.gatherResult)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="elements.length" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,30,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="800"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
    <el-dialog
      @close="clearTagquery"
      width="1580px"
      title="开奖号码详情"
      :visible.sync="tags_visible">
      <div>
        <el-form :inline="true">
          <el-form-item>
            <fuzzy-query-search
              :options="{type: 'spCode',placeholder: '请输入厅编码',defaultValue: tagQuery.spCode}"
              ref='sSearch'
              @dealChange="dealSpCodeChange"
            ></fuzzy-query-search>
          </el-form-item>
        </el-form>
        <div v-if="tagQuery.spCode">
          <el-tag v-for='item in openCodeList' :key='generateTag(item).spCode'
                  v-if="generateTag(item).spCode===tagQuery.spCode"
                  :type="generateClass(generateTag(item).openType)"
                  style="margin-left: 10px;margin-top:5px;width: 220px">
            <span>{{generateTag(item).openType|statusFilter}}</span>
            (<span>{{generateTag(item).text}}</span>)
          </el-tag>
        </div>
        <div v-else>
          <el-scrollbar class="scroll-container">
            <el-tag v-for='item in openCodeList' :key='generateTag(item).spCode'
                    :type="generateClass(generateTag(item).openType)"
                    style="margin-left: 10px;margin-top:5px;width: 245px">
              <span>{{generateTag(item).openType|statusFilter}}</span>
              (<span>{{generateTag(item).text}}</span>)
            </el-tag>
          </el-scrollbar>

        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import { parseTime, BGPickerOptions, check3Month } from 'utils/'
import { getLoggerGatherList } from 'api/system'
import JsonEditor from 'components/JsonEditor'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
//  import { getMemberInfoList } from 'api/members'

export default {
  components: {
    JsonEditor,
    fuzzyQuerySearch
  },
  data () {
    return {
      value: '',
      popover_visible: false,
      tags_visible: false,
      listLoading: false,
      tableKey: 0,
      pickerOptions: BGPickerOptions,
      options: '',
      elements: [],
      listQuery: {
        lotteryId: '',
        issue: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10
      },
      tagQuery: {
        spCode: ''
      },
      dataValue: [],
      sysSelfLottery: [],
      selfLotterys: [],
      openCodeList: [], // 开奖号码详情
      total: 0
    }
  },
  created () {
    // this.getSysLottery()
    this.getSelfLottery()
    const date = new Date()
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(
      new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0)
    )
    this.dataValue.push(
      new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59)
    )
    this._getLotteryInfoList()
    // this._search()
  },
  methods: {
    // 获取自开彩，24获取的是全局自开彩，23获取的是厅自开彩
    // getSysLottery () {
    //   getAjaxData({ dataType: 24 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       res.data.data.items.forEach(m => {
    //         this.sysSelfLottery.push(Number(m.id))
    //       })
    //     }
    //   })
    // },
    getSelfLottery () {
      getAjaxData({ dataType: 23 }).then((res) => {
        if (res.data.code === ERR_OK) {
          res.data.data.items.forEach((m) => {
            this.selfLotterys.push(Number(m.id))
          })
        }
      })
    },
    // 验证当前彩种是不是在自开彩里面
    getSelfControl (v) {
      // console.log(this.selfLotterys, v, this.selfLotterys.indexOf(v) > -1)
      return this.selfLotterys.includes(v)
    },
    // getSelfGlobalControl (v) {
    //   return this.sysSelfLottery.indexOf(v) > -1
    // },
    // 开奖号码弹框
    async showDialog (row) {
      this.openCodeList = await row.openCode.split('-')
      this.tags_visible = true
    },
    clearTagquery () {
      this.tags_visible = false
      this.$refs.sSearch.value = ''
      this.tagQuery.spCode = ''
    },
    generateTag (item) {
      const its = item.split('|')
      const spCode = its[0]
      const openType = its[2]
      const text = `${its[0]}:${its[1]}`
      return { spCode, text, openType }
    },
    dealChange (op) {
      this.tagQuery = { ...this.tagQuery, ...op }
    },
    dealSpCodeChange (op) {
      this.tagQuery = { ...this.tagQuery, ...op }
      // this.$refs.mSearch.value = ''
    },
    generateClass (val) {
      let type = ''
      switch (val) {
        case '1':
          type = ''
          break
        case '2':
          type = 'warning'
          break
        case '3':
          type = 'danger'
          break
        default:
          type = ''
      }
      return type
    },
    showDetail (v) {
      if (v) this.value = JSON.parse(v)
      this.popover_visible = true
    },
    _cashClear () {
      this.listQuery.accountType = ''
      this.options2 = []
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    dataTimeChangeGet (v) {
      if (!v) this.dataValue = []
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getLotteryInfoList () {
      getAjaxData({ dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    _getList () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      return new Promise((resolve, reject) => {
        getLoggerGatherList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items
            this.total = res.data.data.totalCount
            resolve()
          }
        }).catch((err) => {
          this.listLoading = false
          reject(err)
        })
      }).then(() => {
        this.listLoading = false
      })
    }
  },
  filters: {
    statusFilter (type) {
      const statusMap = {
        1: '随机',
        2: '杀率',
        3: '预设'
      }
      return statusMap[type]
    }
  }
}
</script>
<style scoped lang="scss">
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .scroll-container {
    /*white-space: nowrap;*/
    position: relative;
    overflow: hidden;
    height: 550px;
    width: 100%;

     ::v-deep .el-scrollbar__wrap {
      overflow-x: hidden !important;
    }
  }
</style>
