<template>
  <div>
    <div :id="id" />
    <input style="display: none" ref="files" @change="uploadFile" type="file" accept="image/*">
  </div>
</template>

<script>
  // import $ from 'jquery'
  // deps for editor
  import Editor from 'tui-editor'
  import defaultOptions from './defaultOptions'

  import('codemirror/lib/codemirror.css')
  import('tui-editor/dist/tui-editor.css')
  import('tui-editor/dist/tui-editor-contents.css')

  import('tui-color-picker/dist/tui-color-picker')
  import('tui-editor/dist/tui-editor-extColorSyntax')
  import('tui-color-picker/dist/tui-color-picker.min.css')
  import('tui-editor/dist/tui-editor-extTable.min')
  import('tui-editor/dist/tui-editor-extChart')
  import('tui-chart/dist/tui-chart.min.css')
  import('tui-editor/dist/tui-editor-extUML')
  import('tui-editor/dist/tui-editor-extScrollSync.min')
  import('highlight.js/styles/github.css')

  export default {
    name: 'MarkdownEditor',
    props: {
      value: {
        type: String,
        default: ''
      },
      id: {
        type: String,
        required: false,
        default () {
          return `markdown-editor-${+new Date()}${(Math.random() * 1000).toFixed(0)}`
        }
      },
      options: {
        type: Object,
        default () {
          return defaultOptions
        }
      },
      mode: {
        type: String,
        default: 'markdown'
      },
      height: {
        type: String,
        required: false,
        default: '300px'
      },
      language: {
        type: String,
        required: false,
        default: 'zh' // https://github.com/nhnent/tui.editor/tree/master/src/js/langs
      }
    },
    data () {
      return {
        editor: null
      }
    },
    computed: {
      editorOptions () {
        const options = { ...defaultOptions, ...this.options }
        options.initialEditType = this.mode
        options.height = this.height
        options.language = this.language
        return options
      }
    },
    watch: {
      value (newValue, preValue) {
        if (newValue !== preValue && newValue !== this.editor.getValue()) {
          this.setValue(newValue)
        }
      },
      language (val) {
        this.destroyEditor()
        this.initEditor()
      },
      height (newValue) {
        this.editor.height(newValue)
      },
      mode (newValue) {
        this.editor.changeMode(newValue)
      }
    },
    mounted () {
      this.initEditor()
    },
    destroyed () {
      this.destroyEditor()
    },
    methods: {
      initEditor () {
        this.editor = new Editor({
          el: document.getElementById(this.id),
          ...this.editorOptions
        })
        if (this.value) {
          this.editor.setValue(this.value)
        }
        this.editor.on('change', () => {
          this.$emit('input', this.editor.getValue())
        })
        this.editor.on('stateChange', () => {
          this.$emit('input', this.editor.getValue())
        })
        /*
         * 添加自定义按钮
         **/
        // 获取编辑器上的功能条
        // const toolbar = this.editor.getUI().getToolbar()
        // const fileDom = this.$refs.files
        // // 添加事件
        // this.editor.eventManager.addEventType('uploadEvent')
        // this.editor.eventManager.listen('uploadEvent', () => {
        //   fileDom.click()
        // })
        // const template = `<button class="tui-image tui-toolbar-icons" type="button"></button>`
        // // 添加自定义按钮 第二个参数代表位置，不传默认放在最后
        // toolbar.addButton({
        //   name: 'customize',
        //   className: 'upload-img',
        //   event: 'openPopupAddImage',
        //   tooltip: '插入图片',
        //   $el: $(template)
        // }, 13)
      },
      destroyEditor () {
        if (!this.editor) return
        this.editor.off('change')
        this.editor.off('stateChange')
        this.editor.remove()
      },
      setValue (value) {
        this.editor.setValue(value)
      },
      getValue () {
        return this.editor.getValue()
      },
      setHtml (value) {
        this.editor.setHtml(value)
      },
      getHtml () {
        return this.editor.getHtml()
      },
      // 上传图片
      uploadFile () {}
    }
  }
</script>
<style lang='scss' scoped>
  ::v-deep .tui-editor .te-md-splitter {
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 100%;
    border-left: 1px solid #e5e5e5;
  }
</style>
