<template>
		<el-card>
				<el-tabs v-model="activeName" type="border-card">
						<el-tab-pane label="redis缓存管理" name="first" v-if="!hasPermission('RefreshRedisCache')">
								<redis-cache :lotter-list="items"></redis-cache>
						</el-tab-pane>
						<el-tab-pane label="本地缓存管理" name="second" v-if="!hasPermission('/refreshLocalCache')">
								<local-cache :lotter-list="items"></local-cache>
						</el-tab-pane>
				</el-tabs>
		</el-card>
</template>
<script>
import { getAjaxData } from 'api/common'
import { ERR_OK } from 'api/config'
import { mapState } from 'vuex'
import RedisCache from './redis/index'
import LocalCache from './local/index'

export default {
  components: {
    LocalCache,
    RedisCache
  },
  data () {
    return {
      items: [],
      activeName: 'first'
      // spList: []
    }
  },
  computed: {
    ...mapState({
      role: (state) => state.user.role || ''
    })
  },
  created () {
    this.getLotteryInfoList()
    // this._getSpInfoList()
  },
  methods: {
    getLotteryInfoList () {
      getAjaxData({ dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items
        }
      })
    }
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // }
  }
}
</script>
<style scoped lang="scss">
		.cacheRadioGroup {
				padding: 10px 0;
		}
</style>
