<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主" clearable-->
        <!--								           default-first-option-->
        <!--								           @change="handChangeSpCode"-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options="{type:'spCode',placeholder:'请输入厅编码'}"
          @dealChange="dealChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="_search"
          :loading="listLoading"
          :disabled="(!listQuery.spCode)|| hasPermission('SelfLotteryInfoList')"
        >查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="showDialogSelfLotteryRandomGet"
          :disabled="hasPermission('SelfLotteryRandomGet')"
        >全局设置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :key="tableKey"
      max-height="700"
      :data="SelfLotteryInfoList"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%"
      border
      fit
      highlight-current-row
      ref="singleTable"
    >
      <el-table-column label="序号" type="index" align="right" width="80"></el-table-column>
      <el-table-column align="right" label="厅主" prop="spCode"></el-table-column>
      <el-table-column algin="right" label="彩种ID" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryId}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="彩种" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="开奖类型" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.openType | typeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="混合百分比/%" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.openType === 3 ? scope.row.randomType===2 ? scope.row.mixRandomRate : scope.row.overallRandom : '—'}}</span>
          <span
            class="red"
          >{{scope.row.openType === 3 ? scope.row.randomType===2 ? '(取厅设置)' : '(取全局设置)' : ''}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="杀率/%" min-width="80">
        <template slot-scope="scope">
          <span>{{scope.row.openType === 1 ? '—' : scope.row.payoutRate }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="随机算法百分比">-->
      <!--<el-table-column align="right" label="梅森旋转算法" prop="mt">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{!scope.row.algorithmSwitch ? '—' : scope.row.mt }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--<el-table-column align="right" label="真随机算法" prop="real">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{!scope.row.algorithmSwitch ? '—' : scope.row.real }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--<el-table-column align="right" label="KISS算法" prop="linear">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{!scope.row.algorithmSwitch ? '—' : scope.row.linear }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--</el-table-column>-->
      <el-table-column label="实际数据" align="right">
        <el-table-column min-width="120" prop="preEffectiveMoney" align="right" label="预统计总投注额(元)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.preEffectiveMoney }}</span>
            <br />
          </template>
        </el-table-column>
        <el-table-column min-width="130" prop="preWinMoney" align="right" label="预统计厅总盈利额(元)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.preWinMoney }}</span>
            <br />
          </template>
        </el-table-column>
        <el-table-column min-width="120" prop="preWinMoney" align="right" label="预统计中奖率(%)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.prePayoutRate }}</span>
            <br />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="防刷单设置条件">
        <el-table-column align="right" label="投注人数" prop="conditionMemberNum">
          <template slot-scope="scope">
            <span>{{!scope.row.conditionSwitch ? '—' : scope.row.conditionMemberNum }}</span>
          </template>
        </el-table-column>
        <el-table-column align="right" label="投注总金额/元" prop="conditionTotalMoney" width="120">
          <template slot-scope="scope">
            <span>{{!scope.row.conditionSwitch ? '—' : scope.row.conditionTotalMoney }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column align="right" label="最后清零时间" prop="preCleanTime" width="120"></el-table-column>
      <el-table-column align="right" label="操作" min-width="200">
        <template slot-scope="scope">
          <el-button
            type="primary"
            @click.native="_postSelfLotteryClean(scope.row)"
            :disabled="hasPermission('SelfLotteryClean')"
          >重置数据</el-button>
          <el-button
            type="primary"
            @click.native="_showDialog(scope.row)"
            :disabled="hasPermission('SelfLotteryInfo')"
          >编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--弹框设置-->
    <el-dialog
      :visible.sync="dialogFormVisible"
      title="自开彩彩种配置"
      append-to-body
      width="800px"
      :before-close="beforeClose"
    >
      <el-form
        class="small-space"
        :model="temp"
        label-position="left"
        ref="SelfLotteryInfoUpForm"
        :rules="upInfoRules"
        label-width="100px"
      >
        <el-form-item label="彩种名称" label-width="140px">
          <!--<el-input v-model="temp.lotteryName" type="text" name="lotteryName" :disabled='true'></el-input>-->
          <span>{{temp.lotteryName}}</span>
        </el-form-item>
        <el-form-item label="开奖类型" prop="openType" label-width="140px">
          <el-radio-group v-model="temp.openType">
            <el-radio :label="1">随机</el-radio>
            <!--<el-radio :label="2">杀率控制</el-radio>-->
            <el-radio :label="3">混合</el-radio>
          </el-radio-group>
        </el-form-item>
        <template v-if="temp.openType !== 1">
          <el-form-item
            label="随机算法百分比"
            prop="mixRandomRate"
            v-if="temp.openType===3"
            label-width="140px"
          >
            <el-radio-group v-model="temp.randomType">
              <el-radio :label="1">
                取全局设置({{ temp.overallRandom||SelfLotteryRandomGetData.randomValue
                }}%)
              </el-radio>
              <!-- <el-radio :label="1">取全局设置({{ SelfLotteryRandomGetData.randomValue }}%)</el-radio> -->
              <!--<el-radio :label="2">杀率控制</el-radio>-->
              <el-radio :label="2">
                取厅设置
                <el-input
                  v-model="temp.mixRandomRate"
                  type="text"
                  name="mixRandomRate"
                  class="v_align_middle"
                  :disabled="temp.randomType!==2"
                >
                  <template slot="append">%</template>
                </el-input>
              </el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="预设杀率" prop="payoutRate" label-width="140px">
            <el-input v-model="temp.payoutRate" type="text" name="payoutRate" style="width:200px;">
              <template slot="append">%</template>
            </el-input>
          </el-form-item>
        </template>
        <el-form-item label="杀率" prop="payoutRate" v-if="temp.openType===2" label-width="140px">
          <el-input v-model="temp.payoutRate" type="text" name="payoutRate" style="width:200px;">
            <template slot="append">%</template>
          </el-input>
        </el-form-item>
        <span
          style="color: #e89c0f"
          v-if="temp.openType===2"
        >杀率指的是厅主的盈利百分比,不得大于100，该值小于0，表示厅主输钱；该值大于0，表示厅主赢钱。</span>
        <el-form-item
          label="防刷单设置"
          v-if="temp.openType===2 || temp.openType === 3 "
          prop="conditionSwitch"
          label-width="140px"
        >
          <el-switch
            active-text="启用"
            inactive-text="禁用"
            v-model="temp.conditionSwitch"
            @change="changeSwitchStatus"
            inactive-color="#ff4949"
            active-color="#13ce66"
          ></el-switch>
        </el-form-item>
        <!--<el-form-item label="随机算法" v-if="temp.openType===1"-->
        <!--prop="algorithmSwitch"-->
        <!--label-width="140px">-->
        <!--<el-switch-->
        <!--v-if="temp.openType===1"-->
        <!--active-text="启用"-->
        <!--inactive-text="禁用"-->
        <!--v-model="temp.algorithmSwitch"-->
        <!--@change="changeAlgorithmSwitchStatus"-->
        <!--inactive-color="#ff4949"-->
        <!--active-color="#13ce66">-->
        <!--</el-switch>-->
        <!--</el-form-item>-->
        <hr v-if="isKillRateSwitchOpen || isRandomSwitchOpen" style="border-color: #f00" />
        <!--<template v-if="isRandomSwitchOpen">-->
        <!--<p style="color: #f00">设置算法时，下面三个算法之和需等于100</p>-->
        <!--<el-form-item prop="mt"-->
        <!--label-width="150px">-->
        <!--<span slot="label">梅森旋转算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--<el-input v-model="temp.mt" type="text"-->
        <!--@blur="algoChecked($event,'real', 'mt')" style="width:200px;"-->
        <!--name="mt">-->
        <!--<template slot="append">%</template>-->
        <!--</el-input>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--<el-form-item prop="real"-->
        <!--label-width="150px">-->
        <!--<span slot="label">真随机算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--<el-input v-model="temp.real" type="text"-->
        <!--@blur="algoChecked($event,'mt', 'real')"-->
        <!--name="real" style="width:200px;">-->
        <!--<template slot="append">%</template>-->
        <!--</el-input>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--<el-form-item prop="linear"-->
        <!--label-width="150px">-->
        <!--<span slot="label">KISS算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--&lt;!&ndash;<el-input v-model="temp.linear" type="text"&ndash;&gt;-->
        <!--&lt;!&ndash;readonly&ndash;&gt;-->
        <!--&lt;!&ndash;name="linear"></el-input>&ndash;&gt;-->
        <!--<span>{{ temp.linear }}%</span>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--</template>-->
        <template v-if="isKillRateSwitchOpen">
          <p style="color: #f00">达到以下条件时，按随机概率开奖(设定值为0时不生效, 即按杀率开奖)</p>
          <el-form-item prop="conditionMemberNum" label-width="170px">
            <span slot="label">
              投注人数
              <span style="color:green">(单期)</span>&lt;=
            </span>
            <el-input
              v-model="temp.conditionMemberNum"
              type="text"
              name="conditionMemberNum"
              maxlength="7"
            ></el-input>
          </el-form-item>
          <p class="orLimit">
            <span class="or">或</span>
          </p>
          <el-form-item prop="conditionTotalMoney" label-width="170px">
            <span slot="label">
              投注总额
              <span style="color:green">(单期)</span> &lt;=
            </span>
            <el-input
              v-model="temp.conditionTotalMoney"
              type="text"
              name="conditionTotalMoney"
              maxlength="7"
            ></el-input>
          </el-form-item>
        </template>
      </el-form>
      <span style="color: #f00" v-if="temp.openType === 1">随机开奖指纯随机开奖，无杀率控制。</span>
      <div slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click.native="_postSelfLotteryInfoUp"
          :disabled="hasPermission('SelfLotteryInfoUp')"
        >提 交</el-button>
        <el-button type="primary" @click.native="resetForm">关 闭</el-button>
      </div>
    </el-dialog>
    <!--全局设置弹框-->
    <el-dialog
      title="全局设置"
      :visible.sync="dialogSelfLotteryRandomGetVisible"
      @close="closeForm"
      append-to-body
      width="500px"
    >
      <el-form :model="SelfLotteryRandomGetData" ref="SelfLotteryRandomGetData" label-width="130px">
        <el-form-item label="随机算法百分比" prop="randomValue">
          <el-input v-model="SelfLotteryRandomGetData.randomValue" autocomplete="off">
            <template slot="append">%</template>
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogSelfLotteryRandomGetVisible = false">取 消</el-button>
        <el-button type="primary" @click="_postSelfLotteryRandomUp">确 定</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  // import { vChineseOrEnglish } from 'utils/validate'
  import {
    getSelfLotteryInfoList,
    getSelfLotteryInfo,
    postSelfLotteryInfoUp,
    postSelfLotteryRandomGet,
    postSelfLotteryRandomUp,
    postSelfLotteryClean
  } from 'api/SelfLottery'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      const payoutRate = (rule, value, callback) => {
        if (value.length === 0) {
          return callback(new Error('输入的杀率不能是空'))
        }
        const res = /^-?\d+$/
        if (!res.test(value)) {
          callback(new Error('输入的杀率为整数'))
        }
        if (parseFloat(value) >= 100) {
          callback(new Error('输入的杀率不能大于等于100'))
        }
        callback()
      }
      const conditionMemberNum = (rule, value, callback) => {
        const res = /^\d+$/
        if (res.test(value)) {
          const v = Number(value)
          if (v < 0) return callback(new Error('输入的投注人数不能为负数'))
          callback()
        } else {
          return callback(new Error('输入的投注人数必须为整数'))
        }
      }
      const conditionTotalMoney = (rule, value, callback) => {
        const re = /^\d+(?:\.\d{0,2})?$/
        if (re.test(value)) {
          const v = parseFloat(value)
          if (v < 0) return callback(new Error('输入的投注总金额不能为负数'))
          callback()
        } else {
          return callback(new Error('输入的投注总金额为正整数或2位小数'))
        }
      }
      const validOpenType = (rule, value, callback) => {
        if (value.length === 0) {
          return callback(new Error('请选择开奖类型'))
        }
        callback()
      }
      // const lotteryName = (rule, value, callback) => {
      //   if (value.length === 0) {
      //     return callback(new Error('请输入彩种名称'))
      //   }
      //   if (!vChineseOrEnglish(value)) {
      //     callback(new Error('请输入正确的彩种名称'))
      //   } else {
      //     if (value.length > 7) {
      //       callback(new Error('彩种名称长度不能超过7位'))
      //     } else {
      //       callback()
      //     }
      //   }
      // }
      const validAlgorithm = (rule, value, callback) => {
        if (Math.floor(value) < 0 && Math.floor(value) >= 100) {
          return callback(new Error('请输入0-100之间的数值'))
        }
        const res = /^\d+$/
        if (!res.test(value)) {
          callback(new Error('请输入正确的格式,只允许整数值'))
        }
        callback()
      }
      // const mixRandomRate = (rule, value, callback) => {
      //   console.log(value, this.temp.openType)
      //   if (this.temp.openType !== 3) {
      //     callback()
      //   }
      //   if (parseFloat(value) > 100) {
      //     return callback(new Error('请输入0-100之间的数值'))
      //   }
      //   const res = /^\d+$/
      //   if (!res.test(value)) {
      //     callback(new Error('请输入不大于100的正整数'))
      //   }
      //   callback()
      // }
      return {
        // spList: [],
        options: [],
        temp: {
          spCode: '',
          lotteryId: '',
          lotteryName: '',
          openType: '',
          payoutRate: '',
          conditionMemberNum: '',
          conditionTotalMoney: '',
          conditionSwitch: false,
          algorithmSwitch: false,
          randomRatio: null,
          mt: 0,
          real: 0,
          linear: 0,
          mixRandomRate: 0
        },
        tableKey: 0,
        conditionSwitch: false,
        SelfLotteryInfoList: [],
        listLoading: false,
        dialogFormVisible: false,
        dialogSelfLotteryRandomGetVisible: false,
        listQuery: {
          spCode: '',
          lotteryId: '',
          openType: ''
        },
        SelfLotteryRandomGetData: {
          randomValue: ''
        },
        upInfoRules: {
          // lotteryName: [
          //   {
          //     required: true,
          //     trigger: 'blur',
          //     validator: lotteryName
          //   }
          // ],
          payoutRate: [
            {
              required: true,
              trigger: 'blur',
              validator: payoutRate
            }
          ],
          openType: [
            {
              required: true,
              trigger: 'blur',
              validator: validOpenType
            }
          ],
          conditionMemberNum: [
            {
              trigger: 'blur',
              validator: conditionMemberNum
            }
          ],
          conditionTotalMoney: [
            {
              trigger: 'blur',
              validator: conditionTotalMoney
            }
          ],
          mt: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ],
          real: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ],
          linear: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ]
          // mixRandomRate: [
          //   {
          //     required: true,
          //     trigger: 'blur',
          //     validator: mixRandomRate
          //   }
          // ]
        }
      }
    },
    computed: {
      isRandomSwitchOpen () {
        return this.temp.openType === 1 && this.temp.algorithmSwitch
      },
      isKillRateSwitchOpen () {
        return (this.temp.openType === 2 || this.temp.openType === 3) && this.temp.conditionSwitch
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      _mapItemData (data) {
        data.openType = data.openType === 2 ? 3 : data.openType
        data.conditionSwitch = data && data.openType !== 1 && (data.conditionMemberNum > 0 || data.conditionTotalMoney > 0)
        data.payoutRate = !data.payoutRate ? 4 : parseFloat(100 - data.payoutRate / 100)
        // data.mixRandomRate = data.mixRandomRate || 40
        data.conditionMemberNum = data.conditionMemberNum || 0
        data.conditionTotalMoney = parseFloat(data.conditionTotalMoney / 100) < 0 ? 300 : parseFloat(data.conditionTotalMoney / 100)
        if (data.randomRatio) {
          [data.mt, data.real, data.linear] = data.randomRatio.split('|')
        }
        data.algorithmSwitch = !!(data.openType === 1 && data.randomRatio && (parseInt(data.mt) !== 0 || parseInt(data.real) !== 0 || parseInt(data.linear) !== 0))
        return data
      },
      handChangeSpCode (v) {
        if (!v) {
          this.listQuery.lotteryId = ''
          this.options = []
          return
        }
        getAjaxData({ dataType: 23, pId: v }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.listQuery.spCode, dataType: 23 }).then(
          (res) => {
            if (res.data.code === ERR_OK) {
              this.options = res.data.data.items
            }
          }
        )
      },
      // 保证三个算法之和等于100
      algoChecked (event, otherKey, key) {
        const value = Math.floor(event.target.value)
        event.target.value = this.temp[key] = value
        if (Math.floor(this.temp[otherKey]) + value > 100) {
          this.$message({
            type: 'warning',
            message: '算法之和不能超过100'
          })
          this.$nextTick(() => {
            event.target.value = this.temp[key] = 100 - Math.floor(this.temp[otherKey])
          })
        }
        this.$nextTick(() => {
          this.temp.linear = 100 - Math.floor(this.temp[otherKey]) - Math.floor(this.temp[key])
          console.log(this.temp)
        })
      },
      // 改变随机算法设置开关状态
      // changeAlgorithmSwitchStatus(e) {
      //   if (e) {
      //     this.temp.mt = 50
      //     this.temp.real = 50
      //     this.temp.linear = 0
      //   } else {
      //     this.temp.mt = 0
      //     this.temp.real = 0
      //     this.temp.linear = 0
      //   }
      // },
      // 改变防刷单设置开关状态
      changeSwitchStatus (e) {
        if (e) {
          this.temp.conditionMemberNum = 0
          this.temp.conditionTotalMoney = 300
        } else {
          this.temp.conditionMemberNum = 0
          this.temp.conditionTotalMoney = 0
        }
      },
      //  查询
      _search () {
        this._getSelfLotteryInfoList()
      },
      // 获取平台商列表
      // _getSpList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 重置数据
      _postSelfLotteryClean (row) {
        const tips = row.openType === 3 ? row.randomType === 2 ? '厅' : '全局' : '随机'
        this.$confirm(`此操作将对自开彩redis缓存中的预统计数据进行清零设置， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            spCode: row.spCode,
            lotteryId: row.lotteryId
          }
          postSelfLotteryClean(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `重置${tips}设置数据成功`
              })
              this._search()
            }
          })
        })
      },
      // 自开彩彩种配置信息
      _getSelfLotteryInfoList () {
        getSelfLotteryInfoList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.SelfLotteryInfoList = res.data.data.items.map((r) =>
              // r.conditionPayoutRate = parseFloat(r.conditionPayoutRate / 100).toFixed(2)
              this._mapItemData(r))
          }
        })
      },
      // 打开全局设置弹框
      showDialogSelfLotteryRandomGet () {
        this.dialogSelfLotteryRandomGetVisible = true
        this._postSelfLotteryRandomGet()
      },
      // 获取自开彩全局设置
      async _postSelfLotteryRandomGet () {
        const res = await postSelfLotteryRandomGet()
        if (res.data.code === ERR_OK) {
          this.SelfLotteryRandomGetData.randomValue = res.data.data || 0
        }
        return this.SelfLotteryRandomGetData.randomValue
      },
      // 更新自开彩全局设置
      _postSelfLotteryRandomUp () {
        const reg = /^[1-9]\d*$/
        if (!this.SelfLotteryRandomGetData.randomValue) {
          this.$message({
            type: 'error',
            message: '请设置全局设置'
          })
          return
        }
        if (this.SelfLotteryRandomGetData.randomValue > 100) {
          this.$message({
            type: 'error',
            message: '全局设置不能超过100'
          })
          return
        }
        if (!reg.test(this.SelfLotteryRandomGetData.randomValue)) {
          this.$message({
            type: 'error',
            message: '全局设置只支持正整数'
          })
          return
        }
        const query = {
          randomValue: this.SelfLotteryRandomGetData.randomValue
        }
        postSelfLotteryRandomUp(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '全局设置成功'
            })
            this.closeForm()
          }
        })
      },
      closeForm () {
        this.$refs.SelfLotteryRandomGetData.resetFields()
        this.dialogSelfLotteryRandomGetVisible = false
      },
      _postSelfLotteryInfoUp () {
        this.$refs.SelfLotteryInfoUpForm.validate((valid) => {
          if (valid) {
            if (this.temp.openType !== 1 && this.temp.randomType === 2) {
              if (this.temp.mixRandomRate.length === 0) {
                this.$message({
                  type: 'error',
                  message: '输入的随机百分比不能是空!'
                })
                return
              }
              const res = /^-?\d+$/
              if (!res.test(this.temp.mixRandomRate)) {
                this.$message({
                  type: 'error',
                  message: '输入的随机百分比为整数!'
                })
                return
              }
              if (parseFloat(this.temp.mixRandomRate) >= 100) {
                this.$message({
                  type: 'error',
                  message: '输入的随机百分比不能大于100!'
                })
                return
              }
            }
            const str = '自开彩彩种配置'
            this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                spCode: this.temp.spCode,
                lotteryId: this.temp.lotteryId,
                lotteryName: this.temp.lotteryName,
                randomType: this.temp.openType === 1 ? 1 : this.temp.randomType,
                openType: this.temp.openType === 2 ? 3 : this.temp.openType,
                payoutRate: (this.temp.openType === 2 || this.temp.openType === 3) ? Math.floor((100 - parseFloat(this.temp.payoutRate)) * 100) : '',
                conditionMemberNum: (this.temp.openType === 2 || this.temp.openType === 3) ? this.temp.conditionMemberNum : 0,
                conditionTotalMoney: (this.temp.openType === 2 || this.temp.openType === 3) ? Math.floor(this.temp.conditionTotalMoney * 100) : 0,
                mt: !this.temp.algorithmSwitch ? 0 : this.temp.mt,
                real: !this.temp.algorithmSwitch ? 0 : this.temp.real,
                linear: !this.temp.algorithmSwitch ? 0 : this.temp.linear,
                mixRandomRate: this.temp.mixRandomRate || 0
              }
              postSelfLotteryInfoUp(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '配置成功!'
                  })
                  this.resetForm()
                  this._search()
                }
              })
            })
          }
        })
      },
      async _showDialog (row) {
        console.log(row)
        // getSelfLotteryInfo({ spCode: this.listQuery.spCode, lotteryId: row.lotteryId }).then(res => {
        //   if (res.data.code === ERR_OK) {
        const overallRandom = await this._postSelfLotteryRandomGet()
        console.log(overallRandom)
        const ele = await this._getSelfLotteryInfo(row)
        console.log(ele)
        if (ele) {
          this.temp = await this._mapItemData({ overallRandom, ...ele })
        } else {
          this.temp = await ({ ...this.temp, ...row, overallRandom })
          this.temp.randomType = 1
          console.log(row, this.temp)
        }
        if (!this.temp.randomType) this.temp.randomType = 1
        // this.temp.conditionPayoutRate = parseFloat(this.temp.conditionPayoutRate / 100).toFixed(2)
        //   }
        // })
        this.dialogFormVisible = true
      },
      async _getSelfLotteryInfo (row) {
        const res = await getSelfLotteryInfo({ spCode: this.listQuery.spCode, lotteryId: row.lotteryId })
        if (res.data.code === ERR_OK) {
          return res.data.data
        }
      },
      beforeClose (done) {
        this.$refs.SelfLotteryInfoUpForm.resetFields()
        this.temp = {
          spCode: '',
          lotteryId: '',
          lotteryName: '',
          openType: '',
          payoutRate: '',
          conditionMemberNum: '',
          conditionTotalMoney: '',
          conditionSwitch: false,
          algorithmSwitch: false,
          randomRatio: null,
          mt: 0,
          real: 0,
          linear: 0
        }
        done()
      },
      resetForm () {
        this.dialogFormVisible = false
        this.$refs.SelfLotteryInfoUpForm.resetFields()
        this.temp = {
          spCode: '',
          lotteryId: '',
          lotteryName: '',
          openType: '',
          payoutRate: '',
          conditionMemberNum: '',
          conditionTotalMoney: '',
          conditionSwitch: false,
          algorithmSwitch: false,
          randomRatio: null,
          mt: 0,
          real: 0,
          linear: 0
        }
      }
    },
    created () {
      // this._getSpList()
    },
    filters: {
      typeFilter (type) {
        const typeMap = {
          1: '随机',
          // 2: '杀率控制',
          2: '混合',
          3: '混合'
        }
        return typeMap[type]
      }
    }
  }
</script>

<style scoped lang='scss'>
.red {
  color: red;
}

.or {
  display: block;
  width: 80px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: hsla(0, 87%, 69%, 0.1);
  border-color: hsla(0, 87%, 69%, 0.2);
  color: #f56c6c;
}

.v_align_middle {
  vertical-align: middle !important;
  width: 200px;
  margin-left: 10px;
}
</style>
