<template>
  <el-date-picker
    :editable="params.editable"
    :disabled="params.disabled"
    @click.native="click"
    v-model="date"
    :type="params.type"
    :align="params.align"
    :range-separator="params.range_separator"
    :start-placeholder="params.start_placeholder"
    :end-placeholder="params.end_placeholder"
    :default-value="dateDefaultValue"
    unlink-panels
    style="width: 355px"
    :placeholder="params.font"
    @change="change"
    :picker-options="pickerOptions">
  </el-date-picker>
</template>

<script>
  import { isNil, merge } from 'lodash'
  import tools from 'utils/tools'
  // 参数
  // 所有时间参数，时间戳采用时间戳，这里会帮你做美东时间转换！！！
  // shortcuts, max，min为时间戳毫秒
  // align
  // dateStart dateEnd开始默认时间和结束时间
  export default {
    props: {
      options: {
        type: Object
      },
      render: {
        type: Function
      }
    },
    created () {
      if (!isNil(this.options)) {
        if (!isNil(this.options.max)) {
          // 查是否有options外面的max传进来，因为每次点击触发disabledDate时，如果Max默认是Date.now()的话，需要每次点击的时候更新这个值
          this.isPassMax = true
        }
      }
      Object.assign(this.params, this.defaultParams, this.options)
      this.turnSingle()
      this.setDefalutDate()
    },
    computed: {
      // eslint-disable-next-line vue/return-in-computed-property
      dateDefaultValue () {
        if (this.params.type === 'date') {
          // 赋默认值，在单选日期的情况下，如果点击关闭，今天位置在北京时间而不是在美东时间的问题
          return this.transferAmerica(this.getUTCTime2China(), this.params.defaultConvert)
        }
      },
      pickerOptions () {
        const _this = this
        return {
          disabledDate (time) {
            _this.changeToday2Us()
            _this.$emit('render')
            let isDisabled = false
            // eslint-disable-next-line no-self-assign
            _this.timeStamp = _this.timeStamp // 请勿删除，这是每次点击触发重新渲染disabledDate关键！！
            // console.log(_this.timeStamp) // 请勿删除，这是每次点击触发重新渲染disabledDate关键！！
            if (!_this.isPassMax && _this.params.max !== 'infinite') {
              _this.params.max = _this.getUTCTime2China()
            }
            _this.params.min = _this.getUTCTime2China() - 3600 * 1000 * 24 * 90
            console.log(_this.params.max)
            if (time.getTime() > _this.transferAmerica(_this.params.max, _this.params.defaultConvert)) {
              isDisabled = true
            } else isDisabled = time.getTime() < _this.transferAmerica(_this.params.min, _this.params.defaultConvert)
            return isDisabled
          },
          shortcuts: _this.leftOptions()
        }
      }
    },
    data () {
      return {
        timeStamp: '',
        params: {},
        defaultParams: {
          changeToday: true,
          max: this.getUTCTime2China(),
          isPassMax: false, // 不作为参数传递
          min: 'infinite',
          font: '选择日期范围',
          align: 'left',
          defaultConvert: true, // 默认时间是否转换为美东时间
          dateStart: '', // 设置默认开始时间，
          dateEnd: '', // 设置默认结束时间
          type: 'daterange',
          range_separator: '至',
          start_placeholder: '开始日期',
          end_placeholder: '结束日期',
          editable: true, // 默认时间控件input可以输入
          disabled: false // 默认时间控件input禁止选择
        },
        date: ['', '']
      }
    },
    methods: {
      changeToday2Us () {
        if (!this.params.changeToday) return false
        this.$nextTick(() => {
          let activePickerTime = ''
          if (this.params.defaultConvert) {
            try {
              // 如果一个页面存在多个时间插件会有问题，这里要获取当前活动的组件
              activePickerTime = document.querySelectorAll('.el-picker-panel')
              let hasActive = false
              for (let i = 0; i < activePickerTime.length; i++) {
                if (activePickerTime[i].style.display !== 'none') {
                  activePickerTime = activePickerTime[i]
                  hasActive = true
                  break
                }
              }
              activePickerTime.onmouseover = function ($event) {
                setTimeout(() => {
                  this.changeToday2Us()
                }, 0)
              }.bind(this)
              activePickerTime.onmouseout = function ($event) {
                setTimeout(() => {
                  this.changeToday2Us()
                }, 0)
              }.bind(this)
              if (!hasActive) return false
              const ele = activePickerTime.querySelectorAll('.el-date-table .today')
              const usDate = new Date(this.transferAmerica(this.getUTCTime2China(new Date())))
              const usYear = usDate.getFullYear()
              const usMonth = usDate.getMonth() + 1
              const usDay = +usDate.getDate()
              if (ele.length === 1) {
                const eleClass = ele[0].getAttribute('class')
                ele[0].setAttribute('class', String.trim(eleClass.replace(/today/, '')))
              } else if (ele.length > 1) {
                for (let i = 0; i < ele.length; i++) {
                  ele[i].classList.remove('today')
                }
              }
              let domDate = activePickerTime.querySelectorAll('.el-date-picker__header-label')
              let domYear = ''
              let domMonth = ''
              let currentMonthEle = ''
              if (this.params.type === 'date' || this.params.type === 'datetime') {
                // type date, datetime 日历的年月
                domYear = domDate[0].textContent.substring(0, 4)
                domMonth = domDate[1].textContent.replace(/ 月/, '')
              } else {
                // daterange datetimerange 日历的年月
                domDate = activePickerTime.querySelectorAll('.el-date-range-picker__header div')
                domYear = domDate[0].innerHTML.substring(0, 4)
                domMonth = (domDate[0].innerHTML.substring(7)).replace(/ 月/, '')
              }
              if (+domYear === +usYear && +domMonth === +usMonth) {
                // type date, datetime， 是否当前月
                currentMonthEle = activePickerTime.querySelectorAll('.el-date-table td')
              } else {
                // daterange datetimerange， 是否当前月
                domYear = domDate[1].innerHTML.substring(0, 4)
                domMonth = (domDate[1].innerHTML.substring(7)).replace(/ 月/, '')
                if (+domYear === +usYear && +domMonth === +usMonth) {
                  currentMonthEle = activePickerTime.querySelectorAll('.el-picker-panel__content.is-right .el-date-table td')
                }
              }
              for (let i = 0; i < currentMonthEle.length; i++) {
                if (+String.trim(currentMonthEle[i].textContent) === usDay) {
                  if (currentMonthEle[i].classList.contains('next-month') || currentMonthEle[i].classList.contains('prev-month')) {
                    continue
                  }
                  currentMonthEle[i].classList.add('today')
                  break
                }
              }
            } catch (error) {
              console.log(error)
            }
          }
        })
      },
      click () {
        this.timeStamp = Date.now()
      },
      getUTCTime2China (val) {
        // 获取utc时间+8小时转北京时间
        return tools.getUTCTime2China(val)
      },
      transferAmerica (val, isConvert = true) {
        // 转美东时间当前时间-12h
        if (isConvert) {
          // 转美东时间
          return tools.transferAmerica(val)
        }
        // 不转美东时间
        return val
      },
      turnSingle () {
        if (this.existOptions(1, 'type') && this.params.type === 'date') {
          this.date = ''
        }
      },
      isInteger (val) {
        return Number.isInteger(val / 100000)
      },
      update (time) {
        // 外部修改时间
        if (this.params.type === 'date') {
          this.$set(this.$data, 'date', time)
        } else if (this.params.type === 'daterange' || this.params.type === 'datetimerange') {
          this.$set(this.$data.date, 0, time[0])
          this.$set(this.$data.date, 1, time[1])
        }
      },
      setDefalutDate () {
        // 不自动转美东时间， 传入什么显示什么
        if (this.existOptions(1, 'dateStart')) {
          if (/\S/.test(this.params.dateStart)) {
            if (this.params.type === 'date') {
              this.date = this.params.dateStart
            } else if (this.params.type === 'daterange') {
              this.date[0] = this.params.dateStart
            } else if (this.params.type === 'datetimerange') {
              this.date[0] = this.params.dateStart
              if (this.isInteger(this.date[0])) {
                // this.date[0] = new Date(this.date[0]).setHours(0, 0, 0, 0)
              }
            } else if (this.params.type === 'datetime') {
              // datetime带时分秒必须要new Date(), 因为element没帮你处理
              this.date = new Date(this.params.dateStart)
            }
          }
        }
        if (this.existOptions(1, 'dateEnd')) {
          if (/\S/.test(this.params.dateEnd)) {
            if (this.params.type === 'daterange') {
              this.date[1] = this.params.dateEnd
            } else if (this.params.type === 'datetimerange') {
              this.date[1] = this.params.dateEnd
              if (this.isInteger(this.date[1])) {
                // this.date[1] = new Date(this.date[1]).setHours(23, 59, 59, 0)
              }
            }
          }
        }
      },
      change (val) {
        if (this.existOptions(1, 'type')) {
          // 单个选择
          if (isNil(val) && this.params.type === 'date') {
            this.$set(this.$data, 'date', '')
          }
        }
        // 区间选择
        if (!isNil(val) && this.params.type === 'daterange' || !isNil(val) && this.params.type === 'datetimerange') {
          if (this.date[0] === null || this.date[1] === null) {
            this.date[0] = ''
            this.date[1] = ''
          }
        } else if (this.params.type === 'daterange' || this.params.type === 'datetimerange') {
          this.$set(this.$data, 'date', ['', ''])
        }
      },
      leftOptions () {
        // 左边快捷键处理, 返回数组
        const defaultShortcuts = [
          {
            text: '今天',
            onClick: (picker) => {
              const start = this.getUTCTime2China()
              const end = this.getUTCTime2China()
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          },
          {
            text: '昨天',
            onClick: (picker) => {
              const start = this.getUTCTime2China() - 3600 * 1000 * 24 * 1
              const end = this.getUTCTime2China() - 3600 * 1000 * 24 * 1
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          },
          {
            text: '前天',
            onClick: (picker) => {
              const start = this.getUTCTime2China() - 3600 * 1000 * 24 * 2
              const end = this.getUTCTime2China() - 3600 * 1000 * 24 * 2
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          },
          {
            text: '最近七天',
            onClick: (picker) => {
              const start = this.getUTCTime2China() - 3600 * 1000 * 24 * 6
              const end = start + 3600 * 1000 * 24 * 6
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          },
          {
            text: '最近一个月',
            onClick: (picker) => {
              const start = this.getUTCTime2China() - 3600 * 1000 * 24 * 30
              const end = start + 3600 * 1000 * 24 * 30
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          },
          {
            text: '最近三个月',
            onClick: (picker) => {
              const start = this.getUTCTime2China() - 3600 * 1000 * 24 * 90
              const end = start + 3600 * 1000 * 24 * 90
              if (this.existOptions(1, 'type') && this.params.type === 'date') {
                picker.$emit('pick', this.transferAmerica(start, this.params.defaultConvert))
              } else if (this.params.type === 'daterange') {
                picker.$emit('pick', [this.transferAmerica(start, this.params.defaultConvert), this.transferAmerica(end, this.params.defaultConvert)])
              } else if (this.params.type === 'datetimerange') {
                picker.$emit('pick', [new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0), new Date(this.transferAmerica(end, this.params.defaultConvert)).setHours(23, 59, 59, 0)])
              } else if (this.existOptions(1, 'type') && this.params.type === 'datetime') {
                picker.$emit('pick', new Date(this.transferAmerica(start, this.params.defaultConvert)).setHours(0, 0, 0, 0))
              }
            }
          }
        ]
        const params = merge({}, this.options || {}) // 为了获取参数options
        let newArray = defaultShortcuts
        if (!isNil(params.shortcuts)) {
          newArray = []
          params.shortcuts.forEach((items) => {
            defaultShortcuts.map((sitems) => {
              if (items === sitems.text) {
                newArray.push(sitems)
              }
            })
          })
        }
        if (newArray.length === 0) {
          return ''
        }
        return newArray
      },
      existOptions (type = 0, name) {
        // type 0 只检查options
        let pass = false
        if (!isNil(this.params) && type === 0) {
          pass = true
        }
        if (!isNil(this.params) && type === 1) {
          if (!isNil(this.params[name])) {
            pass = true
          }
        }
        return pass
      }
    }
  }
</script>

<style lang="less">
</style>
