{{#if template}}
		<template>
				<div />
		</template>
{{/if}}

{{#if script}}
		<script>
				export default {
						name: '{{ properCase name }}',
						components: {},
						props: {},
						data () {
								return {}
						},
						computed: {},
						watch: {},
						methods: {},
						beforeCreate () {},
						created () {},
						beforeMount () {},
						mounted () {},
						beforeUpdate () {},
						updated () {},
						activated () {},
						deactivated () {},
						beforeDestroy () {},
						destroyed () {},
						filters: {}
				}
		</script>
{{/if}}

{{#if style}}
		<style lang="scss" scoped>

		</style>
{{/if}}
