<template>
  <div class="form-contaner">
    <table :data="object" border="1" bordercolor="#ebeef5" cellspacing="0" cellpadding="0"
           style="border-collapse: collapse;border-width:0;"
           :ref="object.configKey"
           width="100%">
      <tr>
        <td style="width:30%;text-align:right;padding-right:10px;">{{object.name}}<br />{{object.configKey}}
        </td>
        <td style="width:70%;">
          <el-radio-group v-model="object.configValue" @change="deal(object)" style='width:45%'
                          v-if="object.type==='radio'">
            <el-radio :label="o.value" v-for="o in object.array" :key="o.value">{{o.label}}</el-radio>
          </el-radio-group>
          <el-switch v-else-if="object.type==='switch'"
                     @change="deal(object)"
                     v-model="object.configValue"
                     active-color="#13ce66"
                     inactive-color="#ff4949"
                     :active-value="object.array.on.value"
                     :inactive-value="object.array.off.value"
                     :active-text="object.array.on.label"
                     :inactive-text="object.array.off.label">
          </el-switch>
          <el-time-picker
            v-else-if="object.type==='timerange'"
            is-range
            v-model="object.configValue"
            range-separator="-"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            placeholder="选择时间范围"
            value-format="HH-mm-ss">
          </el-time-picker>
          <el-date-picker
            v-model="object.configValue"
            v-else-if="object.type==='date'"
            type="date"
            placeholder="选择日期"
            format="yyyy年MM月dd日"
            value-format="yyyy-MM-dd">
          </el-date-picker>
          <el-input v-else-if="object.type==='textarea'" :placeholder="object.configDesc" type="textarea"
                    rows="3"
                    v-model="object.configValue"
                    class="mini"></el-input>
          <el-input v-model="object.configValue" :placeholder="object.configDesc" v-else></el-input>
          <span v-if="object.configKey" style="padding-left:10px;">{{object.unit}}</span>
          <i style="color:red;font-style:normal; padding-left:10px;">{{object.mission}}</i>
          <span style="float:right"
                v-if="object.type==='input' || object.type==='textarea' || object.type==='date' || object.type==='timerange'">
        <el-button type="primary" @click="deal(object,object.type)">保存</el-button></span>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: 'ComponentConfig',
  data () {
    return {}
  },
  computed: {
    object () {
      // console.log(this.obj)
      return this.obj
    }
  },
  props: {
    obj: {
      type: Object,
      require: true
    },
    configValueDefault: {
      type: Array,
      require: true
    }
  },
  methods: {
    deal (object, type) {
      let { configValue } = object
      // const _configValue = object._configValue
      if (type === 'timerange') configValue = object.configValue.join('|')
      object.configValue = configValue
      // this.$emit('deal', Object.assign({}, object, { configValue, _configValue }))
      this.$emit('deal', object)
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
  .form-contaner table tr td {
    padding: 10px 10px;
  }

  .el-input {
    width: 45%;

    &.mini {
      width: 20%;
      margin-right: 20px;
    }
  }

  .el-textarea {
    width: 45%;
  }

  .el-textarea__inner {
    min-height: 120px;
  }

  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
</style>
