<template>
  <el-tabs type="border-card" tab-position='top'>
    <el-tab-pane :label="item.type_config" v-for='(item,index) in config' :key='index' v-if='item.isShow'>
      <div class='panel-box'>
        <component-config v-for="(c,indexElem) in item.elements"
                          :key="indexElem" :obj="c"
                          @deal="_postSysConfigUpdate">
        </component-config>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>
<script>
  import { getSysConfigList, postSysConfigUpdate } from 'api/system'
  import { ERR_OK } from 'api/config'
  import config from './config'
  import ComponentConfig from './component'

  export default {
    components: {
      ComponentConfig
    },
    data () {
      return {
        radio11: 1,
        config
      }
    },
    methods: {
      async _getSysConfigList () {
        this.listLoading = true
        const res = await getSysConfigList()
        if (ERR_OK === res.data.code) {
          for (let i = 0; i < config.length; i++) {
            for (let k = 0; k < config[i].elements.length; k++) {
              const { items } = res.data.data
              for (let j = 0; j < items.length; j++) {
                if (config[i].elements[k].configKey === items[j].configKey) {
                  config[i].elements[k].configValue = items[j].configValue
                  config[i].elements[k]._configValue = config[i].elements[k].configValue
                  if (config[i].elements[k].type === 'timerange') {
                    config[i].elements[k].configValue = config[i].elements[k].configValue.split('|')
                    config[i].elements[k]._configValue = config[i].elements[k].configValue
                  }
                  if (config[i].elements[k].configKey === 'WINRANKING_LATEST_WINNER_CACHE_TIME') {
                    config[i].elements[k].configValue = items[j].configValue.replace('n', '')
                    config[i].elements[k]._configValue = config[i].elements[k].configValue
                  }
                  break
                }
              }
            }
          }
          console.log(config)
        }
        this.listLoading = false
      },
      _postSysConfigUpdate (object) {
        if (object.configValue === '') {
          this.$message({
            type: 'error',
            message: '值不能为空'
          })
          object.configValue = object._configValue
          return
        }
        if (object.configKey === 'ORDER_EXPORT_LIMIT_TIME') {
          const arr = object.configValue.split('|')
          if (arr[0] > arr[1]) {
            this.$message({
              type: 'error',
              message: '起始时间不得大于结束时间！'
            })
            object.configValue = object._configValue
            return
          }
        }
        this.$confirm('将更改原配置值， 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postSysConfigUpdate({
            configKey: object.configKey, configValue: object.configValue, configDesc: object.configDesc
          }).then((res) => {
            if (res.data.code === ERR_OK) {
              if (object.type === 'timerange') {
                object._configValue = object.configValue.split('|')
                object.configValue = object._configValue
              }
              this.$message({
                type: 'success',
                message: '更新成功!'
              })
              this._getSysConfigList()
            } else {
              object.configValue = object._configValue
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          object.configValue = object._configValue
        })
      }
    },
    created () {
      this._getSysConfigList()
    }
  }
</script>
<style lang='scss' scoped>
  .fieldset_style_css {
    padding: 20px 10px;
    margin: 20px;
    border: 1px solid #0f8ad9;
  }

  .legend_style_css {
    color: #2f2020;
    padding: 0 10px;
  }

  .panel-box {
    max-height: 500px;
    overflow-y: auto;
  }
</style>
