<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input v-model="listQuery.loginId" style="width: 180px"-->
        <!--								          clearable-->
        <!--								          placeholder="请输入会员账号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 180px" clearable placeholder="启用状态"
                   v-model="listQuery.status">
          <el-option
              v-for="item in options2"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="listLoading || (!listQuery.spCode)||hasPermission('MemberInfoList')">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="用户ID" min-width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.uid }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="厅主" min-width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.spCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="用户账号" min-width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.loginId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="代理类型" min-width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.agentFlag === 0 ? '非代理' : scope.row.agentType === 0 ? '层级代理' : '直属代理' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="所属上级" min-width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.parentAccount }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="注册IP" min-width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.regIp }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="注册时间" min-width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.regTime }}</span>
        </template>
      </el-table-column>
      <el-table-column label="代理/会员" align="right">
        <template slot-scope="scope">
          <span>{{ scope.row.agentFlag === 1 ? '代理' : '会员' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="默认代理" align="right">
        <template slot-scope="scope">
          <span>{{ scope.row.agentDefault === 1 ? '默认代理' : '非默认代理' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="团队状态" align="right" min-width="100">
        <template slot-scope="scope">
            <span
                :class="{active_blue:scope.row.groupStatus ===1? true:false,active_red:scope.row.groupStatus ===1? false:true }">{{ scope.row.groupStatus | filterStatus }}</span>
        </template>
      </el-table-column>
      <el-table-column label="自身状态" align="right" min-width="100">
        <template slot-scope="scope">
            <span
                :class="{active_blue:scope.row.status ===1? true:false,active_red:scope.row.status ===1? false:true }">{{ scope.row.status | filterStatus }}</span>
        </template>
      </el-table-column>

      <el-table-column align="right" label="操作" min-width="100">
        <template slot-scope="scope">
          <el-dropdown>
            <el-button type="primary">
              更多菜单<i class="el-icon-caret-bottom el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" class="dropdown_menu">
              <!--<el-dropdown-item :disabled="scope.row.status===1" @click.native="_postMemberStatus(scope.row,1)">启用-->
              <!--</el-dropdown-item>-->
              <!--<el-dropdown-item :disabled="scope.row.status ===4"-->
              <!--@click.native="_postMemberStatus(scope.row,4)">停用-->
              <!--</el-dropdown-item>-->
              <!--<el-dropdown-item :disabled="scope.row.status ===5"-->
              <!--@click.native="_postMemberStatus(scope.row,5)">冻结-->
              <!--</el-dropdown-item>-->
              <!--<el-dropdown-item @click.native="_postMemberStatus(scope.row,6)" :disabled="scope.row.status===6">-->
              <!--停权-->
              <!--</el-dropdown-item>-->
              <el-dropdown-item @click.native="_showDialog(scope.row,1)"
                                :disabled="hasPermission('MemberQuotaLimitList')">限额配置
              </el-dropdown-item>
              <!--              <el-dropdown-item @click.native="_showDialog(scope.row,2)"-->
              <!--              :disabled="fiterDisable(scope.row.agentFlag,scope.row.spTplId)">-->
              <!--              盘口绑定-->
              <!--              </el-dropdown-item>-->
              <el-dropdown-item @click.native="seeCashFlow(scope.row)"
                                :disabled="hasPermission('MemberCashflowList')">
                查看金流
              </el-dropdown-item>
              <el-dropdown-item @click.native="_showDialog(scope.row,3)"
                                :disabled="hasPermission('MemberDetail')">会员详情
              </el-dropdown-item>
              <el-dropdown-item @click.native="_showDialog(scope.row,4)"
                                :disabled="hasPermission('MemberLoggerMembeList')">登录日志
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

    <!--弹框-->
    <!--<template>-->
    <div class="dialog30">
      <el-dialog title="登录日志" :visible.sync="dialogTableVisible" width="50%" append-to-body>
        <logger :value="value"></logger>
      </el-dialog>
    </div>
    <!--限额弹框-->
    <div class="dialog180">
      <el-dialog :visible.sync="dialogFormVisible4" title="限额设置" :before-close="resetForm2" append-to-body>
        <el-alert
            effect="dark"
            v-if="dialogFormVisible "
            style="margin-bottom: 15px"
            title="温馨提醒：限额放大时，请填写大于1数字，限额缩小时请填写0--1之间的数字,0不限额（至多两位小数）!"
            type="warning"
            show-icon>
        </el-alert>
        <el-form class="small-space" :model="temp" label-position="left" :label-width="formLabelWidth"
                 style='width: 400px; margin-left:50px;'
                 ref="multipleForm"
                 :rules="multipleRules">
          <el-form-item label="限额配置" :label-width="formLabelWidth">
            <el-input v-model="qutavalList.qutoVal"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="_postMemberQuotaLimitCreate">提 交</el-button>
          <el-button type="primary" @click="resetForm(2)">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <!--限额配置-->
    <div class="dialog4" style="padding:0px 40px 10px 40px">
      <el-dialog :visible.sync="dialogFormVisible" title="限额设置" :before-close="resetTable" append-to-body>
        <code class="code-part">
          <el-button @click.native="spTplSaveSet">设置限额</el-button>
        </code>
        <div class="dataList">
          <el-table
              ref="multipleTable"
              :data="elements2"
              max-height='600'
              border
              tooltip-effect="dark"
              style="width: 100%"
              @selection-change="handleSelectionChange">
            <el-table-column
                type="selection"
                align="right"
                width="65">
            </el-table-column>
            <!--<el-table-column-->
            <!--label="彩种ID"-->
            <!--width="120">-->
            <!--<template slot-scope="scope">{{ scope.row.lotteryId }}</template>-->
            <!--</el-table-column>-->
            <el-table-column
                prop="lotteryName"
                min-width="120"
                align="right"
                label="彩种名称">
            </el-table-column>
            <!--<el-table-column-->
            <!--prop="lotteryTypeId"-->
            <!--label="所属彩种类型"-->
            <!--width="180"-->
            <!--show-overflow-tooltip>-->
            <!--</el-table-column>-->
            <el-table-column
                prop="lotteryTypeName"
                min-width="120"
                align="right"
                label="彩种类型名称"
                show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                prop="qutaVal"
                label="限额倍数"
                min-width="120"
                align="right"
                show-overflow-tooltip>
              <template slot-scope="scope">
                <span>{{ scope.row.quotaVal === '0.00' ? '不限额' : scope.row.quotaVal }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="resetForm(1)">关 闭</el-button>
        </div>
      </el-dialog>
    </div>

    <!--会员详情-->
    <el-dialog :visible.sync="dialogFormVisible3" title="会员详情" width="50%" custom-class='member_Detail'
               append-to-body>
      <div class='member_Detail_button'>会员详情</div>
      <div :model="MemberDetail" class='member_Detail_flex'>
        <div class='member_Detail_flex_father'>用户ID
          <span class='member_Detail_flex_son'>{{ MemberDetail.uid }}</span>
        </div>
        <div class='member_Detail_flex_father'>所属厅主
          <span class='member_Detail_flex_son'>{{ MemberDetail.spCode }}</span>
        </div>
        <div class='member_Detail_flex_father'>用户账号
          <span class='member_Detail_flex_son'>{{ MemberDetail.loginId }}</span>
        </div>
        <!--<div class='member_Detail_flex_father'> 用户名称-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.realName}}</span>-->
        <!--</div>-->
        <!--<div class='member_Detail_flex_father'>用户昵称-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.nickName}}</span>-->
        <!--</div>-->
        <!--<div class='member_Detail_flex_father'> 现金余额(分)-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.balance}}</span>-->
        <!--</div>-->
        <div class='member_Detail_flex_father'>团队状态
          <span class='member_Detail_flex_son'>{{ MemberDetail.groupStatus|filterStatus }}</span>
        </div>
        <div class='member_Detail_flex_father'>用户状态
          <span class='member_Detail_flex_son'>{{ MemberDetail.status|filterStatus }}</span>
        </div>
        <div class='member_Detail_flex_father'>注册时间
          <span class='member_Detail_flex_son'>{{ MemberDetail.regTime }}</span>
        </div>
        <div class='member_Detail_flex_father'>上级帐号
          <span class='member_Detail_flex_son' v-if='MemberDetail.parentId ===0'>一级代理</span>
          <span class='member_Detail_flex_son' v-else>{{ MemberDetail.parentAccount }}</span>
        </div>
        <div class='member_Detail_flex_father'>代理状态
          <span class='member_Detail_flex_son'>{{ MemberDetail.agentFlag === 0 ? '会员' : '代理' }}</span>
        </div>
        <div class='member_Detail_flex_father' v-if='MemberDetail.agentFlag ===1'>默认代理
          <span class='member_Detail_flex_son'>{{ MemberDetail.agentDefault === 0 ? '非默认代理' : '默认代理' }}</span>
        </div>
        <div class='member_Detail_flex_father' v-if='MemberDetail.agentFlag ===1'> 代理类型
          <span class='member_Detail_flex_son'>{{ MemberDetail.agentType === 0 ? '层级代理' : '直属代理' }}</span>
        </div>
        <div class='member_Detail_flex_father'>所属盘口
          <span class='member_Detail_flex_son'>{{ MemberDetail.spTplName }}</span>
        </div>
        <div class='member_Detail_flex_father'>金流方式
          <span class='member_Detail_flex_son'>{{ MemberDetail.cashMode === 1 ? '单一钱包' : '额度转换' }}</span>
        </div>
        <!--        <div class='member_Detail_flex_father'>返水配置-->
        <!--          <span style="color: #2d8ac7; cursor: pointer" @click="showdetail" class='member_Detail_flex_son'> 查看详情</span>-->
        <!--        </div>-->
        <div class='member_Detail_flex_father' style='width: 100%'>注册IP
          <span class='member_Detail_flex_son'>{{ MemberDetail.regIp }}</span>
        </div>
        <div class='member_Detail_flex_father'>所属层级
          <span class='member_Detail_flex_son'>{{ MemberDetail.parentPath }}</span>
        </div>
      </div>
      <div slot=" footer" class="dialog-footer" style="clear:both">
        <el-button type="primary" @click="resetForm(3)">关 闭</el-button>
      </div>
    </el-dialog>

    <!--返点配置详情-->
    <div class="dialog5">
      <el-dialog :visible.sync="dialogFormVisible5" title="返点配置详情" append-to-body>
        <div style="background: gainsboro; height:10%;width: 100%;"></div>
        <el-table :key='tableKey' :data="MemberData" v-loading="listLoading" border fit highlight-current-row
                  element-loading-text="拼命加载中"
                  element-loading-spinner="el-icon-loading"
                  style="width: 100%">
          <el-table-column align="right" label="序号" type="index" width="70">
          </el-table-column>
          <el-table-column align="right" label="彩种类型名称">
            <template slot-scope="scope">
              <span>{{ scope.row.lotteryTypeName }}</span>
            </template>
          </el-table-column>

          <el-table-column align="right" label="当前返点">
            <template slot-scope="scope">
              <span>{{ scope.row.maxRebate }}%</span>
            </template>
          </el-table-column>
          <el-table-column align="right" label="直属代理返点">
            <template slot-scope="scope">
              <span>{{ scope.row.originalRebate }}%</span>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="resetForm(5)">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
  </el-card>
</template>
<script>
import { mapActions } from 'vuex'
import { ERR_OK } from 'api/config'
// import { getAjaxData } from 'api/common'
import { parseTime } from 'utils'
import { getSpTplInfoList } from 'api/spltpl'
import * as memberApi from 'api/members'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import Logger from '../Logger/logger'

export default {
  data () {
    const validateMultiple = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('输入的倍数不能是空'))
      }
      if (value < 0) {
        return callback(new Error('输入的倍数不能为负数'))
      }
      const res = /^\d+(?:\.\d{0,2})?$/
      if (!res.test(value)) {
        callback(new Error('输入倍数为整数或2位小数'))
      } else if (value === '0') {
        callback(new Error('倍数最小值为0.01'))
      } else {
        callback()
      }
    }
    return {
      listLoading: false,
      tableKey: 0,
      elements: [],
      elements2: [],
      qutavalList: {
        qutoVal: ''
      },
      value1: '',
      value: '',
      listQuery: {
        spCode: '',
        status: '',
        loginId: '',
        pageNo: 1,
        pageSize: 10
      },
      multipleSelection: [],
      options2: [
        {
          value: 1,
          label: '启用'
        },
        {
          value: 4,
          label: '禁用'
        },
        {
          value: 5,
          label: '冻结'
        },
        {
          value: 6,
          label: '停权'
        }
      ],
      MemberDetail: {},
      // spList: [],
      lotteryArr: [],
      MemberData: [],
      dialogTableVisible: false,
      dialogFormVisible: false,
      dialogFormVisible2: false,
      dialogFormVisible3: false,
      dialogFormVisible4: false,
      dialogFormVisible5: false,
      temp: {
        uid: '',
        multiple: 0,
        spCode: '',
        elements: [],
        quotaType: '',
        loginId: '',
        quotaTarget: 0,
        quotaValue: []
      },
      query: {
        uid: '',
        loginId: ''
      },
      multipleRules: {
        multiple: [
          {
            require: true,
            tigger: blur,
            validator: validateMultiple
          }
        ]
      },
      formLabelWidth: '150px',
      total: 0
    }
  },
  components: {
    Logger, fuzzyQuerySearch
  },
  created () {
    // this._getSpList()
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    ...mapActions([
      'setHide'
    ]),
    spTplSaveSet () {
      console.log(this.multipleSelection)
      const s = Boolean(this.multipleSelection.length === 0 ? 1 : 0)
      if (s) {
        this.$message({
          type: 'error',
          message: '至少选择一项'
        })
      } else {
        this.dialogFormVisible4 = true
      }
    },
    seeCashFlow (obj) {
      this.$store.state.member.loginId = obj.loginId
      this.$store.state.member.spCode = obj.spCode
      this.$router.push({ path: '/orders/fund' })
    },
    showdetail () {
      this.dialogFormVisible5 = true
    },
    // _postMemberTplBind() {
    //   const str = this.temp.loginId
    //   this.$confirm(`此操作将对用户为"${str}"进行盘口绑定， 是否继续?`, '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     if (this.temp.spTplId === '') {
    //       this.$message({
    //         type: 'error',
    //         message: '请选择盘口!'
    //       })
    //       return
    //     }
    //     members.postMemberTplBind(this.temp.uid, this.temp.spTplId).then(res => {
    //       if (res.data.code === ERR_OK) {
    //         this.$message({
    //           type: 'success',
    //           message: '盘口绑定成功!'
    //         })
    //         this.dialogFormVisible2 = false
    //         this._search()
    //       } else {
    //         this.$message({
    //           type: 'error',
    //           message: res.data.desc
    //         })
    //       }
    //     })
    //   }).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '取消操作!'
    //     })
    //   })
    // },
    _getSpTplInfoList (spCode) {
      getSpTplInfoList({ spCode }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.temp.elements = res.data.data.spTplInfoList
        }
      })
    },
    _getMemberLotteryQuotaList () {
      memberApi.getMemberLotteryQuotaList(this.query).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements2 = res.data.data.elements.map((v) => {
            v.quotaVal = parseFloat(v.quotaVal / 100).toFixed(2)
            return v
          })
          this.total2 = res.data.data.totalCount
        }
      })
    },
    resetForm (flag) {
      switch (flag) {
        case 1:
          this.dialogFormVisible = false
          this._getMemberList()
          break
        case 2:
          this.$refs.multipleTable.clearSelection()
          this.multipleSelection = ''
          this.qutavalList.qutoVal = ''
          this.dialogFormVisible4 = false
          break
        case 3:
          this.dialogFormVisible3 = false
          this.temp = {
            uid: ''
          }
          this.MemberDetail = {}
          break
        default:
          this.dialogFormVisible5 = false
          this._getMemberList()
      }
    },
    _postMemberQuotaLimitCreate () {
      this.$refs.multipleForm.validate((valid) => {
        if (valid) {
          const str = this.query.loginId
          const str2 = this.query.uid
          this.$confirm(`此操作将对用户"${str}"进行限额配置， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            if (!this.qutavalList.qutoVal) {
              this.$message({
                type: 'error',
                message: '输入的倍数不能是空!'
              })
              return
            }
            if (this.qutavalList.qutoVal < 0) {
              this.$message({
                type: 'error',
                message: '输入的倍数不能为负数!'
              })
              return
            }
            if (this.qutavalList.qutoVal > 100) {
              this.$message({
                type: 'error',
                message: '限额的倍数不能超过100!'
              })
              return
            }
            const res = /^\d+(?:\.\d{0,2})?$/
            if (!res.test(this.qutavalList.qutoVal)) {
              this.$message({
                type: 'error',
                message: '输入倍数为整数或2位小数!'
              })
              return
            }
            console.log(`绑定限额${this.qutavalList.qutoVal}`)
            const newArr = []
            for (let i = 0; i < this.multipleSelection.length; i++) {
              newArr.push(this.multipleSelection[i].lotteryId)
              this.lotteryArr = newArr.toString()
            }
            const query = {
              uid: str2,
              spCode: this.listQuery.spCode,
              quotaVal: Math.round(this.qutavalList.qutoVal * 100),
              lotteryIds: this.lotteryArr
            }
            memberApi.postMemberQuotaLimitCreate(query).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: '限额配置成功!'
                })
                this.dialogFormVisible4 = false
                this._getMemberLotteryQuotaList()
                this.resetForm2()
              }
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      })
    },
    // handleSelect(val) {
    //   if (val === 0) {
    //     this.temp.elements = []
    //     this.temp.quotaTarget = 0
    //     this.temp.quotaValue = []
    //   } else {
    //     const query = {}
    //     switch (val) {
    //       case 1:
    //         query.dataType = 20
    //         break
    //       default:
    //         query.dataType = 13
    //     }
    //     query.pId = this.listQuery.spCode
    //     getAjaxData(query).then(res => {
    //       if (res.data.code === ERR_OK) {
    //         this.temp.elements = []
    //         this.temp.quotaValue = []
    //         this.temp.elements = res.data.data.items
    //       }
    //     })
    //   }
    // },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    _showDialog (row, flag) {
      switch (flag) {
        case 1:
          this.query.uid = row.uid
          this.query.loginId = row.loginId
          this._getMemberLotteryQuotaList()
          this.dialogFormVisible = true
          break
        case 3:
          this.dialogFormVisible3 = true
          this.temp = {
            uid: row.uid
          }
          this._getMemberDetail(this.temp.uid)
          break
        case 4:
          this.dialogTableVisible = true
          this.value = row.loginId
          break
        default:
          this.dialogFormVisible2 = true
          this.temp = {
            uid: row.uid,
            spCode: row.spCode,
            spTplId: '',
            elements: []
          }
          this._getSpTplInfoList(row.spCode)
      }
    },
    resetForm2 () {
      this.$refs.multipleTable.clearSelection()
      this.multipleSelection = ''
      this.qutavalList.qutoVal = ''
      this.dialogFormVisible4 = false
    },
    resetTable () {
      this.dialogFormVisible = false
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getMemberList()
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getMemberList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getMemberList()
    },
    // _getSpList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    _getMemberList () {
      memberApi.getMemberInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.elements.map((v) => {
            v.parentId = parseInt(v.parentId)
            return v
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    _getMemberDetail (a) {
      memberApi.getMemberDetail(a).then((res) => {
        if (res.data.code === ERR_OK) {
          this.MemberDetail = res.data.data
          console.log(this.MemberDetail)
          this.MemberData = JSON.parse(this.MemberDetail.rebateRateRule).map((v) => {
            v.originalRebate = parseFloat(v.originalRebate / 100).toFixed(2)
            v.maxRebate = parseFloat(v.maxRebate / 100).toFixed(2)
            return v
          })
        }
      })
    }
    // fiterDisable(x, y) {
    //   if (x) {
    //     if (y) return true
    //     return false
    //   }
    //   return true
    // },
    // 会员状态变更
    // _postMemberStatus(row, status) {
    //   let flagText = ''
    //   switch (status) {
    //     case 1:
    //       flagText = '启用'
    //       break
    //     case 4 :
    //       flagText = '停用'
    //       break
    //     case 6 :
    //       flagText = '停权'
    //       break
    //     default:
    //       flagText = '冻结'
    //   }
    //   const str = row.loginId
    //   this.$confirm(`此操作将对用户为${str}进行${flagText}操作， 是否继续?`, '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     members.postMemberStatus(row.uid, row.spCode, status).then(res => {
    //       if (res.data.code === ERR_OK) {
    //         this.$message({
    //           type: 'success',
    //           message: `${flagText}成功!`
    //         })
    //         row.status = status
    //       } else {
    //         this.$message({
    //           type: 'error',
    //           message: res.data.desc
    //         })
    //       }
    //     })
    //   }).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '取消操作!'
    //     })
    //   })
    // }
  },
  filters: {
    filterStatus (status) {
      const statusMap = {
        1: '启用',
        4: '停用',
        5: '冻结',
        6: '停权'
      }
      return statusMap[status]
    },
    fundFilter (type) {
      const fundMap = {
        0: '额度转换',
        1: '信用转换'
      }
      return fundMap[type]
    },
    timeFormat (str) {
      return parseTime(str)
    }
  },
  computed: {
    show () {
      return this.$store.state.Member.show
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
html, body {
  width: 100%;
  height: 100%;
}

.el-dialog--small {
  width: 65% !important;
}

.code {
  margin-bottom: 15px;
}

.pagination-container {
  text-align: right;
}

.dialog30 {
  width: 100%;
  overflow: hidden;
}

.dialog30 {
  width: 100%;

  .el-dialog {
    width: 65%;
  }
}

.dialog180 {
  width: 100%;
  overflow: hidden;

  .el-dialog {
    min-width: 45%;
    max-width: 45%;
  }
}

.dialog4 {
  width: 100%;
  overflow: hidden;
}

.dialog4 {
  width: 100%;

  .el-dialog {
    min-width: 60%;
    max-width: 65%;

    .el-table {
      height: 350px;
      overflow-y: scroll;
    }
  }
}

.dialog5 {
  .el-dialog__body {
    padding: 30px 20px 0;
  }

  .el-dialog__footer {
    padding: 0 20px 20px;
  }
}

.member_Detail {
  .member_Detail_button {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #00bcd4;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .member_Detail_flex {
    border-top: 1px solid #e6eaf0;
    border-left: 1px solid #e6eaf0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .member_Detail_flex_father {
      width: 50%;
      height: 45px;
      line-height: 45px;
      text-align: left;
      font-size: 14px;
      color: #999999;
      padding-left: 10px;
      border-bottom: 1px solid #e6eaf0;
      border-right: 1px solid #e6eaf0;

      &:last-child {
        width: 100%;
      }

      .member_Detail_flex_son {
        width: 80%;
        text-align: center;
        display: inline-block;
        color: rgb(96, 98, 102);
        /*margin-left: 20%;*/
      }
    }
  }
}

.el-table .cell {
  font-size: 12px;
  padding: 0 6px;
  line-height: 25px;
}

.a1 {
  overflow: hidden;
}

.a2 {
  overflow: hidden;
}

.sp2 {
  width: 100%;
  border: none;
  display: inline-block;
  white-space: pre-wrap;
}

</style>
