<!--玩法维护-->
<template>
  <el-card>
    <el-tabs v-model="activeTab" type="border-card" @tab-click="handleClick">
      <el-tab-pane v-for="tab in tabList" :name="tab.id" :label="tab.name" :key="tab.name">
        <el-tabs v-model="activeTypeTab" type="border-card" @tab-click="_search">
          <el-tab-pane v-for="typeTab in playTypes" :name="typeTab.id" :label="typeTab.name" :key="typeTab.name">
            <el-table
                v-loading="listLoading"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                :data="elements"
                border
                style="width: 100%">
              <el-table-column
                  label="玩法ID"
                  prop="id"
                  align="right"
                  min-width="120">
              </el-table-column>
              <el-table-column
                  label="玩法编码"
                  prop="id"
                  align="right"
                  min-width="120">
              </el-table-column>
              <el-table-column
                  label="玩法名称"
                  prop="playName"
                  align="right"
                  min-width="120">
              </el-table-column>
              <el-table-column
                  min-width="100"
                  prop="playTypeName"
                  label="玩法分类"
                  align="right"
                  show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                  min-width="130"
                  align="right"
                  label="单项最大(元)">
                <template slot-scope="scope">
                  <el-input v-show="scope.row.edit" v-model="scope.row.itemMaxBet" type="text" step="0.01"
                            @blur="dFormatter(scope.row,scope.row.itemMaxBet)"
                            min="0" max="1000000"></el-input>
                  <span v-show="!scope.row.edit">{{ parseFloat(scope.row.itemMaxBet).toFixed(2) }}</span>
                </template>
              </el-table-column>
              <el-table-column
                  min-width="130"
                  align="right"
                  label="单注最大(元)">
                <template slot-scope="scope">
                  <el-input v-show="scope.row.edit" v-model="scope.row.eachMaxBet" type="text" step="0.01"
                            @blur="dFormatter(scope.row,scope.row.eachMaxBet)"
                            min="0.01" max="1000000"></el-input>
                  <span v-show="!scope.row.edit">{{ parseFloat(scope.row.eachMaxBet).toFixed(2) }}</span>
                </template>
              </el-table-column>
              <el-table-column
                  min-width="130"
                  align="right"
                  label="单注最小(元)">
                <template slot-scope="scope">
                  <el-input v-show="scope.row.edit" v-model="scope.row.eachMinBet" type="text" step="0.01"
                            @blur="dFormatter(scope.row,scope.row.eachMinBet)"
                            min="0.01" max="1000000"></el-input>
                  <span v-show="!scope.row.edit">{{ parseFloat(scope.row.eachMinBet).toFixed(2) }}</span>
                </template>
              </el-table-column>
              <el-table-column
                  min-width="130"
                  align="right"
                  label="单项选号数最大">
                <template slot-scope="scope">
                  <el-input v-show="scope.row.edit" v-model="scope.row.itemMaxCount" type="number"
                    :disabled="!scope.row.isMaxCountSupported"
                    onkeyup="value=value.replace(/[^\d.]/g,'')"
                    @blur="dFormatter(scope.row,scope.row.itemMaxCount)"
                    min="0" max="1000000"></el-input>
                  <span v-show="!scope.row.edit">{{ parseFloat(scope.row.itemMaxCount) }}</span>
                </template>
              </el-table-column>
              <el-table-column
                  min-width="130"
                  align="right"
                  label="单注选号数最大">
                <template slot-scope="scope">
                  <el-input v-show="scope.row.edit" v-model="scope.row.eachMaxCount" type="number"
                    :disabled="!scope.row.isMaxCountSupported"
                    onkeyup="value=value.replace(/[^\d.]/g,'')"
                    @blur="dFormatter(scope.row,scope.row.eachMaxCount)"
                    min="0" max="1000000"></el-input>
                  <span v-show="!scope.row.edit">{{ parseFloat(scope.row.eachMaxCount) }}</span>
                </template>
              </el-table-column>
              <el-table-column
                  v-if="elements.length>1"
                  align="right"
                  label="调整顺序"
                  min-width="120"
                  prop="displaySort">
                <template slot-scope="scope">
                  <div>
                    <i style="cursor:pointer;" @click="up(scope.$index,scope.row)" v-if="scope.$index!==0"
                       class="defaultimg">
                      <span></span>
                    </i>
                    <i style="cursor:pointer;" @click="down(scope.$index,scope.row)"
                       v-if='scope.$index!==elements.length-1'
                       class="defaultimg">
                      <span class="down"></span>
                    </i>
                  </div>
                </template>
              </el-table-column>
              <el-table-column
                  width="180"
                  label="开通情况"
                  align="right"
                  prop="status">
                <template slot-scope="scope">
                  <el-switch
                      @change="showDialog(scope.row)"
                      active-text="启用"
                      inactive-text="禁用"
                      :disabled="hasPermission('LotteryPlayUpStatus')"
                      v-model="scope.row.status"
                      active-color="#13ce66">
                  </el-switch>
                </template>
              </el-table-column>
              <el-table-column align="right" label="编辑" width="150">
                <template slot-scope="scope">
                  <el-button v-if='!scope.row.edit' type="primary"
                             @click='scope.row.edit=true, scope.row.saveBoolean = false'
                             icon="el-icon-edit"
                             :disabled="hasPermission('LotteryPlayUpBet')">
                    编辑
                  </el-button>
                  <el-button v-if='scope.row.edit' type="success" icon="check" @click='_upBet(scope.row,1)'
                             :disabled="scope.row.saveBoolean ">
                    完成
                  </el-button>
                  <el-button v-show='scope.row.edit' type="success" icon="check" @click='_upBet(scope.row)'
                             :disabled="scope.row.isEdit">
                    取消
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
            <div v-if="total" class="pagination-container fr">
              <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                             :current-page.sync="listQuery.pageNo"
                             :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                             layout="total, sizes, prev, pager, next, jumper" :total="total">
              </el-pagination>
            </div>
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>
<script>
// 接口5411玩法列表显示接口【LotteryPlayList】
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import {
  getLotteryPlayList,
  postLotteryPlayUpStatus,
  getLotteryPlayUpDisplaySort,
  postLotteryPlayUpBet
} from 'api/dataBase/index'

export default {
  data () {
    return {
      listLoading: false,
      tabList: [],
      activeTab: '',
      activeTypeTab: '',
      playTypes: [],
      status: [{
        value: '1',
        label: '启用'
      }, {
        value: '0',
        label: '禁用'
      }],
      elements: [],
      listQuery: {
        playGroupId: '',
        playTypeId: '',
        status: '',
        pageNo: 1,
        pageSize: 10
      },
      total: 0
    }
  },
  async created () {
    await this._getInfoList()
    this._search()
  },
  methods: {
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    async _getInfoList () {
      const res = await getAjaxData({ dataType: 11 })
      if (res.data.code === ERR_OK) {
        this.tabList = res.data.data.items.map(m => {
          if (m.id === null) {
            m.id = '3'
            m.name = 'Keno_one'
          }
          return m
        })
        if (this.tabList.length > 0) {
          this.activeTab = this.tabList[0].id // 默认显示第一个tab
        }
      }
      this._getPlayTypeList()
    },
    // 玩法分类
    _getPlayTypeList () {
      this.listQuery.playGroupId = this.activeTab
      getAjaxData({ dataType: 12, pId: this.listQuery.playGroupId }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.playTypes = [{ id: '0', name: '所有' }].concat(res.data.data.items)
          if (this.playTypes.length > 0) {
            this.activeTypeTab = this.playTypes[0].id // 默认显示第一个tab
          }
        }
      })
    },
    async handleClick (tab, event) {
      if (this.listQuery.playTypeId) {
        this.activeTypeTab = '0'
        this.listQuery.playTypeId = ''
      }
      await this._getPlayTypeList()
      this._getList()
    },
    dFormatter (row, v) {
      if (parseFloat(v) <= 0) {
        this.$message({
          type: 'error',
          message: '必须为正数'
        })
        row.saveBoolean = true
        return
      }
      if (row.itemMaxBet > 1000000 || row.eachMaxBet > 1000000 || row.eachMinBet > 1000000) {
        this.$message({
          type: 'error',
          message: '数值过大，最大不能超过100万'
        })
        row.saveBoolean = true
        return
      }
      row.saveBoolean = false
    },

    _getList () {
      this.listQuery.playGroupId = this.activeTab
      this.listQuery.playTypeId = this.activeTypeTab === '0' ? '' : this.activeTypeTab
      this.listLoading = true
      getLotteryPlayList(this.listQuery).then((response) => {
        if (response.data.code === ERR_OK) {
          this.elements = response.data.data.elements.map((v) => {
            v.edit = false
            v.itemMaxBet = parseFloat(v.itemMaxBet / 100).toFixed(2)
            v.eachMaxBet = parseFloat(v.eachMaxBet / 100).toFixed(2)
            v.eachMinBet = parseFloat(v.eachMinBet / 100).toFixed(2)
            v.itemMaxCount = parseFloat(v.itemMaxCount)
            v.eachMaxCount = parseFloat(v.eachMaxCount)
            v.status = Boolean(v.status)
            v.saveBoolean = true
            v.itemMaxBet2 = v.itemMaxBet
            v.eachMaxBet2 = v.eachMaxBet
            v.eachMinBet2 = v.eachMinBet
            v.itemMaxCount2 = v.itemMaxCount
            v.eachMaxCount2 = v.eachMaxCount
            return v
          })
          console.log('elements', this.elements)
          this.listLoading = false
          this.total = response.data.data.totalCount
        }
      })
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _upBet (e, flag) {
      if (flag === 1) {
        const re = /^\d+(?:\.\d{1,2})?$/
        if (!re.test(e.eachMinBet)) {
          this.$message({
            type: 'error',
            message: '输入的数值不正确，只允许两位小数'
          })
          return
        }
        this.$confirm('此操作将修改该玩法的下注限额， 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            id: e.id,
            itemMaxBet: parseInt(parseFloat(e.itemMaxBet) * 100),
            eachMaxBet: parseInt(parseFloat(e.eachMaxBet) * 100),
            eachMinBet: parseInt(parseFloat(e.eachMinBet) * 100),
            itemMaxCount: parseInt(e.itemMaxCount),
            eachMaxCount: parseInt(e.eachMaxCount)
          }
          if (query.itemMaxBet < query.eachMaxBet) {
            this.$message({
              type: 'error',
              message: '单项最大值不能小于单注最大值'
            })
          } else if (query.eachMaxBet < query.eachMinBet) {
            this.$message({
              type: 'error',
              message: '单注最大值不能小于单注最小值'
            })
          } else {
            postLotteryPlayUpBet(query).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: '修改成功!'
                })
                this._getList()
                e.edit = false
              }
            })
          }
          // this._getList()
          // e.edit = false
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      } else {
        e.itemMaxBet = e.itemMaxBet2
        e.eachMaxBet = e.eachMaxBet2
        e.eachMinBet = e.eachMinBet2
        e.itemMaxCount = e.itemMaxCount2
        e.eachMaxCount = e.eachMaxCount2
        e.edit = false
      }
    },
    up (index, row) {
      const newData = [].concat(this.elements)
      const i = index
      const j = i - 1
      const temp = newData[i]
      newData[i] = newData[j]
      newData[j] = temp
      this.elements = [].concat(newData)
      const query = [
        {
          playGroupId: this.listQuery.playGroupId,
          playId: newData[i].id,
          displaySort: newData[j].displaySort
        }, {
          playGroupId: this.listQuery.playGroupId,
          playId: newData[j].id,
          displaySort: newData[i].displaySort
        }
      ]
      this.listLoading = true
      getLotteryPlayUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
        if (res.data.code === ERR_OK) {
          this._getList()
        }
        this.listLoading = false
      })
    },
    down (index, row) {
      const newData = [].concat(this.elements)
      const i = index
      const j = i + 1
      const temp = newData[i]
      newData[i] = newData[j]
      newData[j] = temp
      this.elements = [].concat(newData)
      const query = [
        {
          playGroupId: this.listQuery.playGroupId,
          playId: newData[i].id,
          displaySort: newData[j].displaySort
        }, {
          playGroupId: this.listQuery.playGroupId,
          playId: newData[j].id,
          displaySort: newData[i].displaySort
        }
      ]
      this.listLoading = true
      getLotteryPlayUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
        if (res.data.code === ERR_OK) {
          this._getList()
        }
        this.listLoading = false
      })
    },
    // 弹出提示消息
    showDialog (row) {
      const str = row.status ? '启动' : '禁用'
      this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { id: row.id, status: row.status ? 1 : 0 }
        postLotteryPlayUpStatus(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
            this._getList()
          } else {
            row.status = !row.status
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        row.status = !row.status
      })
    }
  }
}
</script>
<style lang='scss' scoped>
i {
  &.defaultimg {
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url('../../../assets/up.png') no-repeat center;
      background-size: cover;

      &.down {
        background: url('../../../assets/down.png') no-repeat center;
        background-size: cover;

        &:hover {
          background: url('../../../assets/red_down.png') no-repeat center;
          background-size: cover;
        }
      }

      &:hover {
        cursor: pointer;
        background: url('../../../assets/red_up.png') no-repeat center;
        background-size: cover;
      }
    }
  }
}
</style>
