<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select v-model="lotteryTypeId" placeholder="选择彩种类型" @change="handleChange"
                   clearable filterable default-first-option
                   @clear="resetSelect">
          <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable filterable
                   default-first-option>
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入彩期号"
                  clearable
                  v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 180px" placeholder="请选择环境"
                   clearable
                   v-model="listQuery.betaOrder">
          <el-option
            v-for="item in betaOrderList"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :disabled="hasPermission('SettleUserblockList')">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="SettleUserblockList" v-loading="listLoading"
              border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="版本" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.betaOrder ===0?'正式':'灰度'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种ID" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryId}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="120">
        <template slot-scope="scope">
          <span style='cursor: pointer;color: #0d11e9' @click='showDetail(scope.row)'>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种期号" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.issue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="冻结处理状态" min-width="100">
        <template slot-scope="scope">
          <span
            :class="scope.row.status ===1 ? 'active_red' : 'active_green'">{{scope.row.status === 1 ? '冻结' : '解除冻结'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="创建时间" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理时间" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.processTime}}</span>
        </template>
      </el-table-column>

      <!--<el-table-column align="right" label="操作" min-width="120">-->
      <!--<template slot-scope="scope">-->
      <!--<el-button type='primary' @click='showDetail(scope.row)'>查看详情</el-button>-->
      <!--</template>-->
      <!--</el-table-column>-->
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <div style='clear: both;'></div>
    <el-table :data="userIds" v-loading="listLoading"
              border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%;margin-top: 20px;">
      <el-table-column label="厅主" width='200px'>
        <template slot-scope="scope">
          <span>{{scope.row.spCode}}</span>
        </template>
      </el-table-column>
      <el-table-column label="用户ID集合">
        <template slot-scope="scope">
          <div>
            <template v-if="scope.row.spCode!=='DEMO'&&scope.row.spCode!=='pw00'">
                    <span @click='showDialog(item)' v-for="item in scope.row.userIds" :key="item"
                          class="sp_detail sp"> {{ item }}</span>
            </template>
            <template v-else>
              <span v-for="item in scope.row.userIds" :key="item"
                    class="sp_detail"> {{ item }}</span>
            </template>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <!--会员详情-->
    <el-dialog :visible.sync="dialogTableVisible" title="会员详情" width="750px" custom-class='member_Detail'
               append-to-body>
      <div :model="MemberDetail" class='member_Detail_flex'>
        <div class='member_Detail_flex_father'>用户ID
          <span class='member_Detail_flex_son'>{{MemberDetail.uid}}</span>
        </div>
        <div class='member_Detail_flex_father'>所属厅主
          <span class='member_Detail_flex_son'>{{MemberDetail.spCode}}</span>
        </div>
        <div class='member_Detail_flex_father'>用户账号
          <span class='member_Detail_flex_son'>{{MemberDetail.loginId}}</span>
        </div>
        <!--<div class='member_Detail_flex_father'> 用户名称-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.realName}}</span>-->
        <!--</div>-->
        <!--<div class='member_Detail_flex_father'>用户昵称-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.nickName}}</span>-->
        <!--</div>-->
        <!--<div class='member_Detail_flex_father'> 现金余额(分)-->
        <!--<span class='member_Detail_flex_son'>{{MemberDetail.balance}}</span>-->
        <!--</div>-->
        <div class='member_Detail_flex_father'>团队状态
          <span class='member_Detail_flex_son'>{{MemberDetail.groupStatus|filterStatus}}</span>
        </div>
        <div class='member_Detail_flex_father'>用户状态
          <span class='member_Detail_flex_son'>{{MemberDetail.status|filterStatus}}</span>
        </div>
        <div class='member_Detail_flex_father'>注册IP
          <span class='member_Detail_flex_son'>{{MemberDetail.regIp}}</span>
        </div>
        <div class='member_Detail_flex_father'>注册时间
          <span class='member_Detail_flex_son'>{{MemberDetail.regTime}}</span>
        </div>
        <div class='member_Detail_flex_father'>上级帐号
          <span class='member_Detail_flex_son' v-if='MemberDetail.parentId ===0'>一级代理</span>
          <span class='member_Detail_flex_son' v-else>{{MemberDetail.parentAccount}}</span>
        </div>
        <div class='member_Detail_flex_father'>代理状态
          <span class='member_Detail_flex_son'>{{MemberDetail.agentFlag ===0?'会员':'代理'}}</span>
        </div>
        <div class='member_Detail_flex_father' v-if='MemberDetail.agentFlag ===1'>默认代理
          <span class='member_Detail_flex_son'>{{MemberDetail.agentDefault ===0?'非默认代理':'默认代理'}}</span>
        </div>
        <div class='member_Detail_flex_father' v-if='MemberDetail.agentFlag ===1'> 代理类型
          <span class='member_Detail_flex_son'>{{MemberDetail.agentType ===0?'层级代理':'直属代理'}}</span>
        </div>
        <div class='member_Detail_flex_father'>所属盘口
          <span class='member_Detail_flex_son'>{{MemberDetail.spTplName}}</span>
        </div>
        <div class='member_Detail_flex_father'>金流方式
          <span class='member_Detail_flex_son'>{{MemberDetail.cashMode===1?'单一钱包':'额度转换'}}</span>
        </div>
        <!--<div class='member_Detail_flex_father'>返水配置-->
        <!--<span style="color: #2d8ac7; cursor: pointer" @click="showdetail" class='member_Detail_flex_son'> 查看详情</span>-->
        <!--</div>-->
        <div class='member_Detail_flex_father'>VIP等级
          <span class='member_Detail_flex_son'> {{MemberDetail.vipLevel}}</span>
        </div>
        <div class='member_Detail_flex_father'>所属层级
          <span class='member_Detail_flex_son'>{{MemberDetail.parentPath}}</span>
        </div>
      </div>
    </el-dialog>
    <!--<el-dialog title="会员详情" :visible.sync="dialogTableVisible">-->
    <!--<div>-->

    <!--&lt;!&ndash;<json-editor v-model="userIds"></json-editor>&ndash;&gt;-->
    <!--</div>-->
    <!--</el-dialog>-->

  </el-card>
</template>
<script>
  import { getAjaxData } from 'api/common'
  import { ERR_OK } from 'api/config'
  // import JsonEditor from 'components/JsonEditor'
  // import {
  //   getAjaxData
  // } from 'api/common'
  import {
    getSettleUserblockList,
    postSettleUserblockUserIds
  } from 'api/settlement'
  import {
    getMemberDetail
  } from 'api/members'

  export default {
    components: {
      // JsonEditor
    },
    data () {
      return {
        SettleUserblockList: [],
        lotteryTypeList: [],
        lotteryList: [],
        lotteryTypeId: '',
        listLoading: false,
        dialogTableVisible: false,
        listQuery: {
          lotteryId: '',
          issue: '',
          betaOrder: '',
          pageNo: 1,
          pageSize: 10
        },
        betaOrderList: [
          {
            value: 0,
            label: '正式'
          },
          {
            value: 1,
            label: '灰度'
          }
        ],
        total: 0,
        userIds: [],
        MemberDetail: {}
      }
    },
    methods: {
      showDialog (value) {
        this.dialogTableVisible = true
        this._getMemberDetail(value)
      },
      _getMemberDetail (a) {
        getMemberDetail(a).then((res) => {
          if (res.data.code === ERR_OK) {
            this.MemberDetail = res.data.data
          }
        })
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._getSettleUserblockList()
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this._getSettleUserblockList()
      },
      // 获取彩种类型
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = [].concat(res.data.data.items)
          }
        })
      },
      resetSelect () {
        this.lotteryList = []
        this.listQuery.lotteryId = ''
      },
      handleChange (val) {
        this.resetSelect()
        getAjaxData({ dataType: 13, pId: val }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryList = res.data.data.items
          }
        })
      },
      // 获取详情数据
      showDetail (row) {
        this.postSettleUserblockUserIds(row)
      },
      postSettleUserblockUserIds (row) {
        const query = {
          lotteryId: row.lotteryId,
          issue: row.issue,
          betaOrder: row.betaOrder
        }
        this.userIds = []
        postSettleUserblockUserIds(query).then((res) => {
          if (res.data.code === ERR_OK) {
            if (res.data.data.userIds) {
              const u = JSON.parse(res.data.data.userIds)
              if (Object.keys(u).length) {
                for (const pop in u) {
                  this.userIds.push({
                    spCode: pop,
                    userIds: u[pop]
                  })
                }
              }
            }
          }
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getSettleUserblockList()
      },
      _getSettleUserblockList () {
        this.listLoading = true
        getSettleUserblockList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.SettleUserblockList = res.data.data.elements
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
    },
    created () {
      this._search()
      this._getLotteryTypeList()
    },
    filters: {
      filterStatus (status) {
        const statusMap = {
          1: '启用',
          4: '停用',
          5: '冻结',
          6: '停权'
        }
        return statusMap[status]
      }
    },
    computed: {}
  }
</script>

<style lang='scss' scoped>
  .sp_detail {
    margin-right: 10px;

    &.sp {
      color: #0d11e9;
      cursor: pointer;
    }
  }

  .member_Detail {
    .member_Detail_button {
      width: 100%;
      height: 42px;
      line-height: 42px;
      background: #00bcd4;
      border: 1px solid #00bcd4;
      border-radius: 5px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .member_Detail_flex {
      border-top: 1px solid #e6eaf0;
      border-left: 1px solid #e6eaf0;
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      .member_Detail_flex_father {
        width: 50%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        font-size: 14px;
        color: #999999;
        padding-left: 10px;
        border-bottom: 1px solid #e6eaf0;
        border-right: 1px solid #e6eaf0;

        &:last-child {
          width: 100%;
        }

        .member_Detail_flex_son {
          width: 80%;
          text-align: center;
          display: inline-block;
          color: rgb(96, 98, 102);
          /*margin-left: 20%;*/
        }
      }
    }
  }
</style>
