<template>
  <el-tabs v-model="activeName" @tab-click="tabClick"
           style="margin-top: -15px">
    <el-tab-pane v-for="(item, index) in playTypeList" :label="item.name"
                 :name="item.name"
                 :key="index">
    </el-tab-pane>
    <keep-alive>
      <el-table :data="tableData" border fit style="width: 100%"
                element-loading-text="拼命加载中"
                max-height='600'
                element-loading-spinner="el-icon-loading"
                v-loading="listLoading">
        <el-table-column align="right" prop="lotterName" label="彩种名称">
        </el-table-column>
        <el-table-column align="right" prop="playTypeName" label="玩法名称">
        </el-table-column>
        <el-table-column align="right" prop="maxLimit" label="最大球数">
        </el-table-column>
        <el-table-column align="right" prop="limitNum" label="限制球数">
          <template slot-scope="scope">
            <el-input v-if="scope.row.isEdit"
                      clearable
                      placeholder='请输入限制球数'
                      maxlength="7"
                      v-model="scope.row.limitNum"></el-input>
            <span v-else>{{ scope.row.limitNum || '不限制'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="right" min-width="150">
          <template slot-scope="scope">
            <template v-if='scope.row.isEdit'>
              <el-button size="mini" type="primary" @click='updateLotterySet(scope.row)'>保存</el-button>
              <el-button size="mini" type="primary" @click="cancelEditMode(scope)">取消</el-button>
            </template>
            <el-button v-else @click="showEditMode(scope.row)" size="mini" type="primary"
                       :disabled="hasPermission('DwdLimitSet')">编辑
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </keep-alive>
  </el-tabs>
</template>

<script>
  import { ERR_OK } from 'api/config.js'
  import { mapState } from 'vuex'
  import {
    getDwdLimitList,
    postDwdLimitSetSave
  } from 'api/spltpl/'

  export default {
    data () {
      return {
        playTypeList: [
          {
            name: '官方玩法',
            playMode: 1
          },
          {
            name: '信用玩法',
            playMode: 2
          }
        ],
        tableData: [],
        listLoading: false,
        activeName: '官方玩法',
        originPlaySet: {}
      }
    },
    methods: {
      tabClick (val) {
        this._getList()
      },
      showEditMode (row) {
        this.originPlaySet = { ...row }
        row.isEdit = true
      },
      cancelEditMode (scope) {
        this.tableData.splice(scope.$index, 1, this.originPlaySet)
      },
      updateLotterySet (row) {
        const re = /^\d+$/
        if (!re.test(row.limitNum)) {
          this.$message({
            type: 'warning',
            message: '限制球数目只能为非负整数'
          })
          return
        }
        if (row.limitNum > row.maxLimit) {
          this.$message({
            type: 'warning',
            message: `限制球数目不得超过此彩种最大限制球数${row.maxLimit}!`
          })
          return
        }
        this.$confirm('确定保存?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then((res) => {
          this._updateLotterySetting(row)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      },
      // 获取定位胆设置列表数据
      _getList () {
        const query = {
          spCode: this.spCode,
          tplId: this.tplId,
          playMode: this.activePlayMode
        }
        this.listLoading = true
        getDwdLimitList(query).then((res) => {
          if (res.data.code === ERR_OK && res.data.data && res.data.data.items) {
            this.tableData = res.data.data.items.map((item) => {
              item.isEdit = false
              return item
            })
          }
          this.listLoading = false
        })
      },
      // 定位胆彩种设置更新
      _updateLotterySetting (row) {
        const query = {
          spCode: this.spCode,
          lotterName: row.lotterName,
          tplId: this.tplId,
          id: row.id,
          limitNum: row.limitNum
        }
        this.listLoading = true
        postDwdLimitSetSave(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '保存成功！'
            })
            this._getList()
          }
          this.listLoading = false
        })
      }
    },
    computed: {
      ...mapState({
        spCode: (state) => state.sptpl.spCode,
        tplId: (state) => state.sptpl.rowId
      }),
      activePlayMode () {
        const playType = this.playTypeList.find((item) => item.name === this.activeName)
        return playType ? playType.playMode : ''
      }
    },
    mounted () {
      this._getList()
    }
  }
</script>
