<template>
		<el-card>
				<template v-if="!show">
						<el-form :inline="true">
								<el-button icon="el-icon-plus" type="success" @click.native="showDialog(0,{})">添加分组
								</el-button>
						</el-form>
						<el-table :data="items" v-loading.body="listLoading" border fit highlight-current-row
						          style="width: 100%"
						          element-loading-text="拼命加载中"
						          element-loading-spinner="el-icon-loading">
								<el-table-column
									width="65"
									align="right" label="序号" type="index">
								</el-table-column>

								<el-table-column align="right" label="分组名称">
										<template slot-scope="scope">
												<span>{{ scope.row.groupName}}</span>
										</template>
								</el-table-column>
								<el-table-column align="right" label="显示排序">
										<template slot-scope="scope">
												<span>{{ scope.row.sort}}</span>
										</template>
								</el-table-column>

								<el-table-column align="right" label="操作">
										<template slot-scope="scope">
												<!--<el-button type="success" @click.native="_postLotteryGroupUpdate(scope.row)"-->
												<!--v-if="scope.row.isEdit" icon="check" :disabled="scope.row.changeOrNot">更新-->
												<!--</el-button>-->
												<el-button type="danger" @click.native="showDialog(1, scope.row)">编辑</el-button>
												<el-button type="danger" @click.native="_postLotteryGroupDel(scope.row)">删除</el-button>
												<el-button type="success" @click.native="seeGroupInfo(scope.row)">分组信息</el-button>
										</template>
								</el-table-column>
						</el-table>
						<!--dialog start-->
						<el-dialog :title="syncTitle" :visible.sync="dialogFormVisible" custom-class="dialogpadd" append-to-body>
								<el-form :rules="rules"
								         ref="addGroupForm" :model="addGroupForm">
										<el-form-item label="分组名称" :label-width="formLabelWidth" prop="groupName">
												<el-input v-model="addGroupForm.groupName" auto-complete="off" type="text"
												          name="groupName"></el-input>
										</el-form-item>
										<el-form-item label="排序" :label-width="formLabelWidth" prop="sort">
												<el-input v-model="addGroupForm.sort" auto-complete="off" type="text" name="sort"></el-input>
										</el-form-item>
								</el-form>
								<div slot="footer" class="dialog-footer">
										<el-button @click.native="resetF">取消</el-button>
										<el-button type="primary" @click.native.prevent="_postLotteryGroupRelAdd">保存</el-button>
								</div>
						</el-dialog>
				</template>
				<template v-else>
						<el-form :inline="true">
								<el-button @click.native="setHide">返回</el-button>
						</el-form>
						<lottery-group></lottery-group>
				</template>
		</el-card>
</template>
<script>
import { mapActions } from 'vuex'
import { ERR_OK } from 'api/config'
import { validatNumber, stripScript } from 'utils/validate'
import {
  getLotteryGroupList,
  postLotteryGroupUpdate,
  postLotteryGroupDel
} from 'api/dataBase'
import LotteryGroup from './lotterygroup'

export default {
  data () {
    const validateName = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请输入分组名称'))
      } else if (value.length > 25) {
        callback(new Error('分组名称不能超过25个字符'))
      } else if (!stripScript(value)) {
        callback(new Error('分组名称，仅支持中文，字母和数字'))
      } else {
        callback()
      }
    }
    const validateSort = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请输入排序号'))
      } else if (value.length > 4) {
        callback(new Error('输入的序号过大，请重新输入'))
      } else if (!validatNumber(value)) {
        callback(new Error('请输入有效数字'))
      } else {
        callback()
      }
    }
    return {
      dialogFormVisible: false,
      formLabelWidth: '30%',
      listLoading: false,
      items: [],
      addGroupForm: {
        id: 0,
        groupName: '',
        sort: 0
      },
      syncTitle: '添加分组',
      rules: {
        groupName: [
          {
            required: true,
            trigger: 'blur',
            validator: validateName
          }
        ],
        sort: [
          {
            required: true,
            trigger: 'blur',
            validator: validateSort
          }
        ]
      }
    }
  },
  components: { LotteryGroup },
  methods: {
    ...mapActions([
      'setHide'
    ]),
    _postLotteryGroupDel (obj) {
      this.$confirm('将该分组信息，分组删除后，其下的所有已绑定彩种均删除，是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          groupId: obj.groupId
        }
        postLotteryGroupDel(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '删除成功!'
            })
            this._getLotteryGroupList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    showDialog (n, obj) {
      if (n) {
        this.addGroupForm = {
          id: obj.groupId,
          groupName: obj.groupName,
          sort: obj.sort
        }
        this.syncTitle = '更新分组'
      }
      this.dialogFormVisible = true
    },
    resetF () {
      this.dialogFormVisible = false
      this.addGroupForm = {
        id: 0,
        groupName: '',
        sort: 0
      }
      this.$refs.addGroupForm.resetFields()
    },
    _postLotteryGroupRelAdd () {
      this.$refs.addGroupForm.validate((valid) => {
        if (valid) {
          this.$confirm(`此操作将进行${this.syncTitle}， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            postLotteryGroupUpdate(this.addGroupForm).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: `${this.syncTitle}`
                })
                this.resetF()
                this._getLotteryGroupList()
              }
            })
          })
        } else {
          return false
        }
      })
    },
    seeGroupInfo (obj) {
      this.$store.state.Lottery.group = obj
      this.$store.state.Lottery.show = true
    },
    _getLotteryGroupList () {
      this.listLoading = true
      getLotteryGroupList().then((res) => {
        if (ERR_OK === res.data.code) {
          this.items = res.data.data.items.map((v) => {
            v.isEdit = false
            v.changeOrNot = false
            return v
          })
        }
        this.listLoading = false
      })
    }
  },
  created () {
    this._getLotteryGroupList()
  },
  computed: {
    show () {
      return this.$store.state.Lottery.show
    }
  }
}
</script>

