<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<sp-code-select v-model="listQuery.spCode"></sp-code-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <lottery-cascader v-model="lottery"></lottery-cascader>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入期号" v-model="listQuery.issue"
                  clearable>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 220px;" placeholder="请输入注单号" v-model="listQuery.orderCode"
                  clearable>
        </el-input>
      </el-form-item>
      <!--      <el-form-item>-->
      <!--        <el-select style="width: 150px" placeholder="请选择补差类型"-->
      <!--                   clearable-->
      <!--                   filterable-->
      <!--                   default-first-option-->
      <!--                   v-model="listQuery.revsType">-->
      <!--          <el-option v-for="item in types" :key="item.value" :label="item.label" :value="item.value">-->
      <!--          </el-option>-->
      <!--        </el-select>-->
      <!--      </el-form-item>-->
      <el-form-item>
        <el-select style="width: 150px" placeholder="请选择补差发放状态"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.status">
          <el-option v-for="item in statuses" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="请选择结算次数"
                   filterable
                   v-model="listQuery.settleNum">
          <el-option v-for="item in settleNums" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   :disabled="hasPermission('OrderReverseInfoList')"
                   icon="el-icon-search"
                   :loading="listLoading"
                   @click.native="_search">
          查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   :disabled="hasPermission('OrderReverseInfoList')"
                   @click.native="handleAll">
          处理所有
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="elements"
              v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="所属厅主">
        <template slot-scope="scope">
          <span>{{ scope.row.spCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="用户账号">
        <template slot-scope="scope">
          <span>{{ scope.row.loginId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种id">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="期号" min-width="120px">
        <template slot-scope="scope">
          <span>{{ scope.row.issue }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="订单号" min-width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.orderCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="补差类型" min-width="120px">
        <template slot-scope="scope">
          <span>{{ scope.row.revsType | revsTypeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="发放状态" min-width="100px">
        <template slot-scope="scope">
          <span>{{ scope.row.status | revsStatusFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="原金额(元)">
        <template slot-scope="scope">
          <span>{{ scope.row.oldMoney }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="新金额(元)">
        <template slot-scope="scope">
          <span>{{ scope.row.newMoney }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="补差金额(元)" min-width="100px">
        <template slot-scope="scope">
          <span>{{ scope.row.payMoney }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="结算次数">
        <template slot-scope="scope">
          <span>{{ scope.row.settleNum }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right"
                       label="操作"
                       fixed="right"
                       min-width="80">
        <template slot-scope="scope">
          <el-button type="primary"
                     size="mini"
                     @click.native="handleRevesOrder(scope.row)"
                     :disabled="scope.row.status === 1 || hasPermission('UpOrderReverseInfo')">
            发放补差
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="elements.length" class="pagination-container" style="float: right;">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>

<script>
import { ERR_OK } from 'api/config.js'
// import SpCodeSelect from 'components/Select/SpCodeSelect'
import LotteryCascader from 'components/Select/LotteryCascader'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import {
  postOrderReverseInfoList,
  postUpOrderReverseInfo
} from 'api/orders/'
import {
  // revsTypes,
  revsStatuses,
  revsTypeFilter,
  revsStatusFilter,
  setteleNums
} from './ReverseOrder'

export default {
  components: {
    // SpCodeSelect,
    fuzzyQuerySearch,
    LotteryCascader
  },
  data () {
    return {
      listLoading: false,
      lottery: [],
      listQuery: {
        spCode: '',
        lotteryId: '',
        orderCode: '',
        issue: '',
        revsType: 1,
        status: '',
        settleNum: '-1',
        pageSize: 10,
        pageNo: 1
      },
      // types: revsTypes,
      statuses: revsStatuses,
      settleNums: setteleNums,
      elements: [],
      total: 0
    }
  },
  created () {
    this._getList()
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getList () {
      this.listLoading = true
      this.listQuery.lotteryId = this.lottery[this.lottery.length - 1]
      // console.log(this.listQuery)
      postOrderReverseInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.total = res.data.data.totalCount
          this.elements = res.data.data.elements.map(
              (ele) => {
                ele.oldMoney = parseFloat(ele.oldMoney / 100).toFixed(2)
                ele.newMoney = parseFloat(ele.newMoney / 100).toFixed(2)
                ele.payMoney = parseFloat(ele.payMoney / 100).toFixed(2)
                return ele
              }
          )
        }
        this.listLoading = false
      })
    },
    handleAll () {
      this.$confirm(
          '将对所有订单进行发放补差操作， 是否继续?',
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        postUpOrderReverseInfo(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '操作成功!'
            })
            this._getList()
          }
        })
      })
    },
    handleRevesOrder (row) {
      // console.log(row)
      this.$confirm(
          '将对此订单进行发放补差操作， 是否继续?',
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
      ).then(() => {
        const query = {
          id: row.uuid
        }
        // console.log(query)
        postUpOrderReverseInfo(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '操作成功!'
            })
            this._getList()
          }
        })
      })
    }
  },
  filters: {
    revsTypeFilter,
    revsStatusFilter
  }
}
</script>

<style scoped>

</style>
