<script>
import Emitter from './emitter'

export default {
  name: 'XwCheckboxGroup',
  componentName: 'XwCheckboxGroup',
  mixins: [Emitter],
  inject: {
    elFormItem: {
      default: ''
    }
  },
  props: {
    value: {},
    disabled: Boolean,
    min: Number,
    max: Number,
    size: String,
    fill: String,
    textColor: String
  },
  computed: {
    _elFormItemSize () {
      return (this.elFormItem || {}).elFormItemSize
    },
    checkboxGroupSize () {
      return this.size || this._elFormItemSize || this.$store.state.app.size
    }
  },
  watch: {
    value (value) {
      this.dispatch('ElFormItem', 'el.form.change', [value])
    }
  }
}
</script>

<template>
  <div class="el-checkbox-group" role="group" aria-label="checkbox-group">
    <slot></slot>
  </div>
</template>
