<template>
  <label
    class="el-checkbox-button"
    :class="[
        size ? 'el-checkbox-button--' + size : '',
        { 'is-disabled': isDisabled },
        { 'is-checked': isChecked },
        { 'is-focus': focus },
      ]"
    role="checkbox"
    :aria-checked="isChecked"
    :aria-disabled="isDisabled"
  >
    <input
      v-if="trueLabel || falseLabel"
      class="el-checkbox-button__original"
      type="checkbox"
      :name="name"
      :disabled="isDisabled"
      :true-value="trueLabel"
      :false-value="falseLabel"
      v-model="model"
      @change="handleChange"
      @focus="focus = true"
      @blur="focus = false">
    <input
      v-else
      class="el-checkbox-button__original"
      type="checkbox"
      :name="name"
      :disabled="isDisabled"
      :value="label"
      v-model="model"
      @change="handleChange"
      @focus="focus = true"
      @blur="focus = false">

    <span class="el-checkbox-button__inner"
          v-if="$slots.default || label"
          :style="isChecked ? activeStyle : null">
      <slot>{{label}}</slot>
    </span>

  </label>
</template>
<script>
import Emitter from 'element-ui/src/mixins/emitter'

export default {
  name: 'XwCheckboxButton',

  mixins: [Emitter],

  inject: {
    elForm: {
      default: ''
    },
    elFormItem: {
      default: ''
    }
  },

  data () {
    return {
      selfModel: false,
      focus: false
    }
  },

  props: {
    index: Number,
    value: {},
    label: {},
    disabled: Boolean,
    checked: Boolean,
    name: String,
    trueLabel: [String, Number],
    falseLabel: [String, Number]
  },
  computed: {
    model: {
      get () {
        return this._checkboxGroup
          ? this.store : this.value !== undefined
            ? this.value : this.selfModel
      },
      set (val) {
        console.log('val', val)
        if (this._checkboxGroup) {
          console.log(111)
          this.dispatch('XwCheckboxGroup', 'change', [val])
          this.$emit('input', val)
        } else if (this.value !== undefined) {
          console.log(222)
          this.$emit('input', val)
        } else {
          console.log(333)
          this.selfModel = val
        }
      }
    },
    isChecked () {
      console.log('this.model', this.model)
      if ({}.toString.call(this.model) === '[object Boolean]') {
        return this.model
      } if (Array.isArray(this.model)) {
        return this.model[this.index] === this.trueLabel
      } if (this.model !== null && this.model !== undefined) {
        return this.model === this.trueLabel
      }
    },

    _checkboxGroup () {
      let parent = this.$parent
      while (parent) {
        if (parent.$options.componentName !== 'XwCheckboxGroup') {
          parent = parent.$parent
        } else {
          return parent
        }
      }
      return false
    },

    store () {
      return this._checkboxGroup ? this._checkboxGroup.value : this.value
    },

    activeStyle () {
      return {
        backgroundColor: this._checkboxGroup.fill || '',
        borderColor: this._checkboxGroup.fill || '',
        color: this._checkboxGroup.textColor || '',
        'box-shadow': `-1px 0 0 0 ${this._checkboxGroup.fill}`
      }
    },

    _elFormItemSize () {
      return (this.elFormItem || {}).elFormItemSize
    },

    size () {
      return this._checkboxGroup.checkboxGroupSize || this._elFormItemSize || this.$store.state.app.size
    },
    isDisabled () {
      return this._checkboxGroup
        ? this._checkboxGroup.disabled || this.disabled || (this.elForm || {}).disabled
        : this.disabled || (this.elForm || {}).disabled
    }
  },
  methods: {
    handleChange (ev) {
      let value
      if (ev.target.checked) {
        value = this.trueLabel === undefined ? true : this.trueLabel
      } else {
        value = this.falseLabel === undefined ? false : this.falseLabel
      }
      const v = [].concat(this._checkboxGroup.value)
      v[this.index] = value
      console.log('v', v)
      this.$emit('change', value, ev)
      this.$nextTick(() => {
        if (this._checkboxGroup) {
          // this.dispatch('XwCheckboxGroup', 'change', [this._checkboxGroup.value])
          this.dispatch('XwCheckboxGroup', 'change', [v])
        }
      })
    }
  }
}
</script>
