<template>
  <el-card>
    <common-component
      :items="ReportGeneralSearch"
      :list-loading="listLoading"
      @changeSort="changeSort"
    >
      <template slot="filter">
        <el-form :inline="true">
          <el-form-item>
            <!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
            <!--												           @change="clearLogin"-->
            <!--												           clearable default-first-option-->
            <!--												           v-model="listQuery.spCode">-->
            <!--														<el-option-->
            <!--															v-for="item in spList"-->
            <!--															:key="item.id"-->
            <!--															:label="item.id"-->
            <!--															:value="item.id">-->
            <!--														</el-option>-->
            <!--												</el-select>-->
            <fuzzy-query-search
              :options="{type: 'spCode',placeholder: '请输入厅编码',defaultValue: listQuery.spCode}"
              ref='sSearch'
              @dealChange="dealSpCodeChange"
            ></fuzzy-query-search>
          </el-form-item>
          <el-form-item>
            <el-select
              style="width: 150px"
              placeholder="是否是厅自开彩"
              v-model="listQuery.selfType"
            >
              <el-option label="所有彩种" value="-1"></el-option>
              <el-option label="官方彩种" value="0"></el-option>
              <el-option label="全局自开彩" value="1"></el-option>
              <el-option label="厅自开彩" value="2"></el-option>
              <el-option label="所有自开彩" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <!--												<el-input style="width: 170px;" clearable placeholder="请输入代理账号"-->
            <!--												          v-model="listQuery.loginId"-->
            <!--												          :disabled="!listQuery.spCode">-->
            <!--												</el-input>-->
            <fuzzy-query-search
              :options="{spCode: listQuery.spCode,type: 'memberSearch',placeholder: '请输入代理账号',defaultValue: listQuery.loginId}"
              @dealChange="dealChange"
              ref="mSearch"
              :disabled="!Boolean(listQuery.spCode)"
            ></fuzzy-query-search>
          </el-form-item>

          <el-form-item>
            <el-tooltip
              placement="top"
              effect="light"
              popper-class="t-container"
            >
              <div slot="content">测试厅包含有:<br />{{ excludeSpCodes }}</div>
              <el-select
                v-model="listQuery.excludeTestSN"
                clearable
                filterable
                default-first-option
                placeholder="是否排除测试厅"
              >
                <el-option label="不排除测试厅" :value="1"></el-option>
                <el-option label="排除测试厅" :value="2"></el-option>
              </el-select>
            </el-tooltip>
          </el-form-item>
          <el-form-item>
            <el-select
              v-model="listQuery.timeZone"
              default-first-option
              placeholder="请选择时区"
            >
              <el-option label="北京时间" :value="1"></el-option>
              <el-option label="美东时间" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <date-range
              v-show="listQuery.timeZone === 2"
              ref="dateRange"
              :options="dateRangeOption"
            ></date-range>
            <date-range
              v-show="listQuery.timeZone === 1"
              ref="dateRangeCn"
              :options="dateRangeOptionCn"
            ></date-range>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click.native="_search"
              :loading="listLoading"
              :disabled="hasPermission('ReportGeneralSearch')"
            >查询
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click.native="exportExel"
              :loading="loaded"
              :disabled="hasPermission('ReportGeneralExport')">报表导出
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-tooltip placement="top">
              <div slot="content">
                根据指定的时间段进行预统计报表的重新跑批统计操作<br />
                建议选择时间段不超过一个月
              </div>
              <el-button
                type="danger"
                @click="showDialog"
                :disabled="hasPermission('ReStatistics')"
              >
                人工预统计
              </el-button>
            </el-tooltip>
          </el-form-item>
        </el-form>
      </template>
      <template slot="otherColumn">
        <el-table-column
          align="right"
          min-width="100"
          prop="spCode"
          label="所属厅主"
        >
          <template slot-scope="scope">
            <span
              style="color:#374eff;cursor: pointer"
              @click="SpcodeSearch(scope.row)"
            >{{ scope.row.spCode }}</span
            >
          </template>
        </el-table-column>
        <el-table-column align="right" min-width="100" label="代理账号">
          <template slot-scope="scope">
            <span v-if="!listQuery.spCode && !searchQuery.spCode">--</span>
            <span
              style="color:#374eff;cursor: pointer"
              v-else
              @click="LoginIdSearch(scope.row)"
            >{{ scope.row.agentLogin }}</span
            >
          </template>
        </el-table-column>
      </template>
      <template slot="page">
        <div v-if="total" class="pagination-container fr">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="listQuery.pageNo"
            :page-sizes="[10, 20, 50, 100, 200, 500]"
            :page-size="listQuery.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </template>
    </common-component>
    <el-dialog
      title="人工预统计"
      :visible.sync="dialogVisible"
      width="600px"
      @close="closeReset"
      append-to-body
    >
      <el-form
        :model="form"
        ref="pForm"
        :rules="rules"
        label-position="left"
        label-width="120px"
      >
        <el-form-item prop="type" label="人工统计类型">
          <el-select
            placeholder="请选择人工统计类型"
            @change="resetTime"
            v-model="form.type"
          >
            <el-option label="时报人工统计" value="1"></el-option>
            <!--            <el-option label="月报人工统计" value="2"></el-option>-->
          </el-select>
        </el-form-item>
        <el-form-item prop="pValue" label="预统计时间" v-if="form.type === '1'">
          <el-date-picker
            v-model="form.pValue"
            type="datetimerange"
            :picker-options="pickerOption"
            range-separator="至"
            start-placeholder="起始时间"
            end-placeholder="结束时间"
            :default-time="['00:00:00', '23:59:59']"
            value-format="yyyy-MM-dd HH:mm:ss"
            style="width: 100%"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item prop="accountTerm" label="预统计时间" v-else>
          <el-select
            placeholder="请选择月份"
            clearable
            default-first-option
            v-model="form.accountTerm">
            <el-option
              v-for="item in accountTermList"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer text-center">
        <el-button @click="closeReset">取 消</el-button>
        <el-button type="primary" @click="_postReStatistics">保 存</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, getBetweenMonth } from 'utils/index'
  import Settime from 'utils/settime'
  import {
    // getAjaxData,
    postReportExport,
    getReportSpcodeExclude
  } from 'api/common'
  import { getReportGeneralSearch, postReStatistics } from 'api/report'
  import dateRange from 'components/dateRange/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import tools from 'utils/tools'
  import commonComponent from '../commonComponent'

  // const validateTime = (rule, value, callback) => {
  //   if (!value) value = []
  //   if (value.length === 0) {
  //     callback(new Error('请选择时间'))
  //   } else {
  //     if (new Date(value[1]).getTime() - new Date(value[0]).getTime() > 3600 * 24 * 1000 * 40) {
  //       callback(new Error('最大不允许超过40天，建议统计时间段不超过7天'))
  //     } else {
  //       callback()
  //     }
  //   }
  // }
  export default {
    components: { commonComponent, dateRange, fuzzyQuerySearch },
    data () {
      return {
        checked3: false,
        listLoading: false,
        loaded: false,
        listQuery: {
          spCode: '',
          beginTime: '',
          endTime: '',
          userId: '',
          loginId: '',
          timeZone: 2,
          orderField: '',
          orderSort: 'DESC',
          pageSize: 10,
          pageNo: 1,
          selfType: '-1',
          excludeTestSN: 1
        },
        form: {
          pValue: [],
          type: '1',
          accountTerm: ''
        },
        rules: {
          pValue: [
            {
              type: 'array',
              required: true,
              message: '请选择起始时间和结束时间',
              trigger: 'change'
            }
          ],
          type: [
            { required: true, message: '请选择预统计类型', trigger: 'change' }
          ],
          accountTerm: [
            { required: true, message: '请选择预统计月份', trigger: 'change' }
          ]
        },
        searchQuery: {},
        // spList: [],
        accountTermList: [],
        ReportGeneralSearch: [],
        total: 0,
        dataValue: [],
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: new Date(
            tools.transferAmerica(
              tools.getUTCTime2China(
                new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)
              )
            )
          ),
          dateEnd: new Date(
            tools.transferAmerica(tools.getUTCTime2China(new Date()))
          )
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: new Date(new Date().getTime() - 3600 * 1000 * 24 * 6),
          dateEnd: new Date()
        },
        pickerOption: {
          disabledDate: (time) => {
            const nowTime = new Date(Settime.RefTime())
            return (
              time.getTime() >
              new Date(
                nowTime.getFullYear(),
                nowTime.getMonth(),
                nowTime.getDate(),
                23,
                59,
                59
              ).getTime()
            )
          },
          shortcuts: [
            {
              text: '最近一周',
              onClick (picker) {
                const end = new Date(Settime.RefTime())
                const start = new Date(Settime.RefTime())
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
                picker.$emit('pick', [start, end])
              }
            },
            {
              text: '最近一个月',
              onClick (picker) {
                const end = new Date(Settime.RefTime())
                const start = new Date(Settime.RefTime())
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
                picker.$emit('pick', [start, end])
              }
            }
          ]
        },
        dialogVisible: false,
        titleText: '',
        hashKey: 0,
        excludeSpCodes: ''
      }
    },
    filters: {
      filterMoney (val) {
        return parseFloat(val / 100).toFixed(2)
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      dealSpCodeChange (op) {
        this.listQuery = { ...this.listQuery, ...op, loginId: '', userId: '' }
        this.$refs.mSearch.value = ''
      },
      getSpCodeExclude () {
        getReportSpcodeExclude().then((r) => {
          if (ERR_OK === r.data.code) this.excludeSpCodes = r.data.data.items.join(',')
        })
      },
      dataTimeChangeGet (v) {
        if (!v) this.dataValue = []
      },
      resetTime () {
        this.form.pValue = []
        this.form.accountTerm = ''
      },
      // 获取北京时间
      getMMtime () {
        const d = parseTime(new Date(), '{y}{m}')
        this.accountTermList = []
        for (let i = 1; i <= 6; i++) {
          this.accountTermList.push(getBetweenMonth(d, i))
        }
        return this.accountTermList
      },
      // 打开人工预统计弹框
      async showDialog () {
        await this.getMMtime()
        this.dialogVisible = true
      },
      _postReStatistics () {
        this.$refs.pForm.validate((valid) => {
          if (valid) {
            const query = {
              beginTime: this.form.pValue[0],
              endTime: this.form.pValue[1],
              accountTerm: this.form.accountTerm,
              type: this.form.type
            }
            const nowTime = Settime.RefTime()
            if (query.beginTime) {
              this.titleText = `此操作将对${query.beginTime}至${query.endTime}之间的数据进行时报人工统计操作， 是否继续?`
            } else {
              this.titleText = `此操作将对${query.accountTerm}的数据进行月报人工统计操作， 是否继续?`
            }

            if (new Date(nowTime).getTime() < new Date(query.endTime)) {
              this.titleText = `所选结束时间${query.endTime}超出当前结算时间${nowTime},确认对${query.beginTime}至${nowTime}之间的数据进行预统计操作?`
              query.endTime = nowTime
            }
            this.$confirm(`${this.titleText}`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              postReStatistics(query).then((res) => {
                if (ERR_OK === res.data.code) {
                  this.$message({
                    type: 'success',
                    message: '操作成功!'
                  })
                  this.closeReset()
                } else {
                  this.$message({
                    type: 'error',
                    message: '取消操作!'
                  })
                }
              })
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '取消操作!'
              })
            })
          }
        })
      },
      closeReset () {
        this.dialogVisible = false
        this.form = {
          type: '1',
          accountTerm: '',
          pValue: []
        }
        this.$refs.pForm.resetFields()
      },
      // clearLogin () {
      //   this.listQuery.loginId = ''
      // },
      setDatetime () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport(
          { ...this.listQuery, cmd: 'ReportGeneralExport' }
        ).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 5)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h(
                  'i',
                  {
                    style: 'color: teal;cursor:pointer',
                    on: {
                      click: () => {
                        this.$router.push({
                          path: '/reports/ReportDownloadList'
                        })
                        this.$msgbox.close()
                      }
                    }
                  },
                  '点击前往下载'
                )
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      changeSort (v) {
        this.listQuery.orderField = v.prop
        if (v.order === 'ascending') {
          this.listQuery.orderSort = 'ASC'
        } else {
          this.listQuery.orderSort = 'DESC'
        }
        this._getReportGeneralSearch()
      },
      // 通过spcode查找
      SpcodeSearch (row) {
        this.listQuery.spCode = row.spCode
        this.$refs.sSearch.value = row.spCode
        this.listQuery.loginId = ''
        this.$refs.mSearch.value = ''
        this.listQuery.pageNo = 1
        this._getReportGeneralSearch()
      },
      // 通过loginId查找
      LoginIdSearch (row) {
        this.listQuery.userId = row.agentId
        this.$refs.mSearch.value = row.agentLogin
        this.listQuery.spCode = row.spCode
        this.$refs.sSearch.value = row.spCode
        this.listQuery.pageNo = 1
        this._getReportGeneralSearch()
      },
      _getReportGeneralSearch () {
        this.setDatetime()
        this.listLoading = true
        this.searchQuery = { ...this.listQuery }
        getReportGeneralSearch(this.searchQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.ReportGeneralSearch = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(
                2
              )
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(
                2
              )
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getReportGeneralSearch()
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getReportGeneralSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getReportGeneralSearch()
      }
    },
    created () {
      // this._getSpInfoList()
      this.getSpCodeExclude()
    }
  }
</script>
<style lang="scss">
  .el-tooltip__popper {
    &.t-container {
      max-width: 350px;
    }
  }
</style>
