<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select
          v-model="lotteryTypeId"
          placeholder="选择彩种类型"
          @change="handleChange"
          clearable
          filterable
          default-first-option
          @clear="resetSelect"
        >
          <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select
          v-model="listQuery.lotteryId"
          placeholder="选择彩种"
          clearable
          filterable
          default-first-option
        >
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          @click="getRuleList"
          type="primary"
          :disabled="(!!lotteryTypeId&&!listQuery.lotteryId) || hasPermission('IssueProduceRuleList')"
        >查询</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :key="tableKey"
      :data="items"
      v-loading="listLoading"
      border
      fit
      highlight-current-row
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%"
    >
      <el-table-column align="center" width="70">
        <template slot-scope="scope">
          <el-tooltip placement="top" effect="light">
            <div slot="content">点击查看排除规则</div>
            <el-button
              type="text"
              icon="el-icon-arrow-down"
              @click="showExcludeList(scope.row)"
              v-if="scope.row.excludeList.length>0"
            ></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column prop="lotteryName" label="彩种名称" align="right"></el-table-column>
      <el-table-column prop="issueType" label="彩期类型" align="right">
        <template slot-scope="scope">{{scope.row.issueType|issueType}}</template>
      </el-table-column>
      <el-table-column prop="freqType" label="频率类型" align="right">
        <template slot-scope="scope">{{scope.row.freqType|freqTypes}}</template>
      </el-table-column>
      <el-table-column prop="issueLength" label="彩期名称的长度" align="right"></el-table-column>
      <el-table-column prop="issueCount" label="每天的总期数" align="right"></el-table-column>
      <el-table-column prop="initIssue" label="初始期号" align="right">
        <template slot-scope="scope">{{scope.row.initIssue}}</template>
        <!--								<template slot-scope='scope'>{{scope.row.issueType===3?scope.row.issueType:'&#45;&#45;'}}</template>-->
      </el-table-column>
      <el-table-column prop="initIssueDate" label="初始期号所处日期" align="right">
        <template slot-scope="scope">{{scope.row.issueType===3?scope.row.initIssueDate:'--'}}</template>
      </el-table-column>
      <el-table-column prop="beginTime" label="彩期销售开始时间" align="right"></el-table-column>
      <el-table-column prop="endTime" label="彩期销售结束时间" align="right"></el-table-column>
      <el-table-column prop="spanDay" label="彩期是否跨天" align="right">
        <template slot-scope="scope">{{scope.row.spanDay|spanDay}}</template>
      </el-table-column>
      <el-table-column prop="step" label="彩期频率" align="right"></el-table-column>
      <el-table-column prop="status" label="规则状态" align="right">
        <template slot-scope="scope">
          <!--										<el-switch-->
          <!--											v-model="scope.row.status"-->
          <!--											active-color="#13ce66"-->
          <!--											inactive-color="#ff4949"-->
          <!--											:active-value="1"-->
          <!--											:inactive-value="0">-->
          <!--										</el-switch>-->
          <span
            :class="{red:!Boolean(scope.row.status),active_green:Boolean(scope.row.status)}"
          >{{scope.row.status?'启用':'禁用'}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="right">
        <template slot-scope="scope">
          <el-button
            type="text"
            :disabled="Boolean(scope.row.status)||hasPermission('IssueProduceRuleEnabled')"
            @click="IssueProduceOrExcludeRuleControl(scope.row)"
          >启用</el-button>
          <el-button
            type="text"
            :disabled="!Boolean(scope.row.status)||hasPermission('IssueProduceRuleDisabled')"
            @click="IssueProduceOrExcludeRuleControl(scope.row,2)"
          >禁用</el-button>
          <el-button
            type="text"
            :disabled="hasPermission('IssueResetByProduceRule')"
            @click="IssueProduceOrExcludeRuleControl(scope.row,3)"
          >重置</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-drawer
      :title="title"
      :visible.sync="drawer"
      direction="btt"
      custom-class="drawer"
      size="470"
    >
      <el-table :data="excludeList" style="width: 100%">
        <el-table-column align="right" prop="excludeType" label="排除类型">
          <template slot-scope="scope">{{scope.row.excludeType|excludeType}}</template>
        </el-table-column>
        <el-table-column align="right" prop="excludeBeginTime" label="排除开始时间/日期"></el-table-column>
        <el-table-column align="right" prop="excludeEndTime" label="排除结束时间/日期"></el-table-column>
        <el-table-column align="right" prop="excludeSort" label="排除顺序"></el-table-column>
        <el-table-column align="right" prop="status" label="规则状态">
          <template slot-scope="scope">
            <!--																<el-switch-->
            <!--																	v-model="scope.row.status"-->
            <!--																	active-color="#13ce66"-->
            <!--																	inactive-color="#ff4949"-->
            <!--																	:active-value="1"-->
            <!--																	:inactive-value="0">-->
            <!--																</el-switch>-->
            <span
              :class="{red:!Boolean(scope.row.status),active_green:Boolean(scope.row.status)}"
            >{{scope.row.status?'启用':'禁用'}}</span>
          </template>
        </el-table-column>
        <!--												<el-table-column label='操作' align='right'>-->
        <!--														<template slot-scope='scope'>-->
        <!--																<el-button type='text'-->
        <!--																           @click='IssueProduceOrExcludeRuleControl(scope.row,4,props.row)'-->
        <!--																           :disabled='Boolean(scope.row.status)||hasPermission("IssueProduceExcludeRuleEnabled")'>-->
        <!--																		启用-->
        <!--																</el-button>-->
        <!--																<el-button type='text'-->
        <!--																           @click='IssueProduceOrExcludeRuleControl(scope.row,5,props.row)'-->
        <!--																           :disabled='!Boolean(scope.row.status)||hasPermission("IssueProduceExcludeRuleDisabled")'>-->
        <!--																		禁用-->
        <!--																</el-button>-->
        <!--														</template>-->
        <!--												</el-table-column>-->
      </el-table>
    </el-drawer>
  </el-card>
</template>
<script>
  import {
    getIssueProduceRuleList,
    postIssueProduceRuleDisabled,
    postIssueProduceRuleEnabled,
    postIssueProduceExcludeRuleDisabled,
    postIssueProduceExcludeRuleEnabled,
    postIssueResetByProduceRule
  } from 'api/issue/index'
  import { getAjaxData } from 'api/common'
  import { ERR_OK } from 'api/config'

  export default {
    name: 'Index',
    components: {},
    props: {},
    data () {
      return {
        lotteryTypeId: '',
        typeList: [],
        lotteryList: [],
        listQuery: { lotteryId: '' },
        tableKey: 0,
        items: [],
        listLoading: false,
        excludeList: [],
        drawer: false,
        title: ''
      }
    },
    computed: {},
    watch: {},
    methods: {
      showExcludeList (row) {
        this.title = `${row.lotteryName}的排除规则列表`
        this.drawer = true
        setTimeout(() => {
          this.excludeList = [].concat(row.excludeList)
        }, 300)
      },
      IssueProduceOrExcludeRuleControl (row, type = 1, props = {}) {
        let fn
        let id
        let text
        console.log(type)
        switch (type) {
          case 2:
            text = `对彩种为${row.lotteryName}的排程产生规则进行禁用，禁用后，${row.lotteryName}的彩种将不会继续产生排程，对已产生过的排程不受影响。是否继续？`
            fn = postIssueProduceRuleDisabled
            id = row.lotteryId
            break
          case 3:
            text = `根据${row.lotteryName}的规则对当前期以后的彩期进行批量重置更新。是否继续？`
            fn = postIssueResetByProduceRule
            id = row.lotteryId
            break
          case 4:
            text = `对彩种为${props.lotteryName}的彩期排除规则进行启用，启用后,${props.lotteryName}的彩种产生排程时,该条排除规则将会生效。注: 要启用的排除规则请确保规则内容正确,否会则产生意外风险！是否继续？`
            fn = postIssueProduceExcludeRuleEnabled
            id = row.id
            break
          case 5:
            text = `对彩种为${props.lotteryName}的彩期排除规则进行禁用,禁用后,${props.lotteryName}的彩种产生排程时,该条排除规则将会不生效。是否继续？`
            fn = postIssueProduceExcludeRuleDisabled
            id = row.id
            break
          default:
            text = `对彩种为${row.lotteryName}的排程产生规则进行启用,启用后,${row.lotteryName}的彩种将会根据规则继续产生排程。注: 要启用的排程请确保规则内容正确,否会则产生意外风险！是否继续？`
            fn = postIssueProduceRuleEnabled
            id = row.lotteryId
        }
        this.$confirm(text, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          fn(id).then((r) => {
            if (r.data.code === ERR_OK) {
              this.commonMessage()
            }
          })
        })
      },
      commonMessage () {
        this.$message({
          message: '操作成功！',
          type: 'success',
          duration: 5 * 1000
        })
        this.getRuleList()
      },
      getRuleList () {
        getIssueProduceRuleList(this.listQuery).then((res) => {
          if (ERR_OK === res.data.code) {
            this.items = res.data.data.items
          }
        })
      },
      // 获取彩种类型
      getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.typeList = res.data.data.items
          }
        })
      },
      // 获取彩种
      handleChange (val) {
        this.resetSelect()
        getAjaxData({ dataType: 13, pId: val }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryList = res.data.data.items
          }
        })
      },
      // 删除彩种类型时清空彩种
      resetSelect () {
        this.lotteryList = []
        this.listQuery.lotteryId = ''
      }
    },
    beforeCreate () {},
    created () {
      this.getLotteryTypeList()
      this.getRuleList()
    },
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {
      issueType (v) {
        const map = {
          1: '年月日+序号',
          2: '年份+序号',
          3: '连续值',
          4: '年月+开奖日期'
        }
        return map[v]
      },
      freqTypes (v) {
        const map = {
          1: '按分钟',
          2: '按天',
          3: '按周',
          4: '按月'
        }
        return map[v]
      },
      spanDay (v) {
        const map = {
          '-1': '开始时间向前跨天',
          0: '不跨天',
          1: '结束时间向后跨天'
        }
        return map[v.toString()]
      },
      excludeType (v) {
        const m = {
          1: '按时间段排除',
          2: '按日期段排除'
        }
        return m[v]
      }
    }
  }
</script>

<style lang='scss' scoped>
::v-deep .drawer {
  font-size: 24px;

  .el-drawer__header {
    margin-bottom: 10px;
  }

  .el-drawer__body {
    padding: 10px;
  }
}
</style>
