<template>
  <el-card v-loading='listLoading'>
    <el-form :inline='true'>
      <el-form-item>
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryTypeId" @clear="resetSelect" @change="handleChange"
                   placeholder="请选择彩种类型"
                   clearable>
          <el-option
            v-for="item in typeList"
            :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="请选择彩种" clearable filterable
                   default-first-option>
          <el-option
            v-for="item in lotteryNames"
            :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" v-model="listQuery.issue" placeholder="请输入期号" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" v-model="listQuery.orderCode" placeholder="请输入注单号" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.errorCode" placeholder="请选择错误码" clearable>
          <el-option
            v-for="(val,prop) in errorCodes"
            :key="prop"
            :label="prop"
            :value="prop">
            <span style="float: left">{{ prop }}</span>
            <span
              style="float: right; color: #8492a6; font-size: 13px;width:100px;    box-sizing: border-box;overflow: hidden; text-overflow: ellipsis; white-space: normal; word-break: break-all;"
              :title='val'>{{ val }}</span>
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.errorType" placeholder="请选择异常类型" clearable>
          <el-option
            v-for="item in errorTypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.errorSubType" placeholder="请选择异常子类型" clearable>
          <el-option
            v-for="item in errorSubTypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          range-separator="至"
          :picker-options="pickerOptions"
          clearable
          :default-time="['00:00:00', '23:59:59']"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          format="yyyy-MM-dd HH:mm:ss"
          unlink-panels
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search" icon="el-icon-search"
                   :disabled="(listQuery.lotteryTypeId && !listQuery.lotteryId)||hasPermission('OrderDoubtList')"
        >查询
        </el-button>
      </el-form-item>
    </el-form>
    <!-- 表格内容 -->
    <el-table
      :data="tableData"
      ref="multipleTable"
      border
      style="width: 100%">
      <el-table-column
        align="right"
        min-width='100'
        prop="spCode"
        label="厅主">
      </el-table-column>
      <el-table-column
        align="right"
        prop="orderCode"
        min-width='150'
        label="注单号">
        <template slot-scope="scope">
          <el-tooltip content="点击复制注单号" placement="top">
            <el-button type="text" @click="handleCopy(scope.row.orderCode,$event,'注单号')">
              {{scope.row.orderCode}}
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        prop="lotteryId"
        align="right"
        label="彩种ID">
      </el-table-column>
      <el-table-column
        align="right"
        prop="issue"
        min-width='150'
        label="期号">
        <template slot-scope="scope">
          <el-tooltip content="点击复制期号" placement="top">
            <el-button type="text" @click="handleCopy(scope.row.issue,$event,'期号')">
              {{scope.row.issue}}
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="loginId"
        min-width='100'
        label="用户名">
      </el-table-column>
      <el-table-column
        align="right"
        prop="userId"
        min-width='150'
        label="用户ID">
      </el-table-column>
      <el-table-column
        align="right"
        min-width='200'
        label="错误码">
        <template slot-scope="scope">
          <!--          <el-tooltip placement="top" effect="light">-->
          <!--            <div slot="content">{{errorCodes[scope.row.errorCode]}}</div>-->
          <span>{{scope.row.errorCode}}<br />[{{errorCodes[scope.row.errorCode]}}]</span>
          <!--          </el-tooltip>-->
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width='200'
        label="异常类型">
        <template slot-scope="scope">
          <span>{{scope.row.errorType|_errorType}}</span>
          /
          <el-tooltip placement="top" effect="light">
            <div slot="content">{{scope.row.errorDesc}}</div>
            <span>{{scope.row.errorSubType|_errorSubType}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="createTime"
        min-width='140'
        label="创建时间">
      </el-table-column>
      <el-table-column align="right" fixed="right" min-width="260">
        <template slot-scope="scope">
          <el-button @click="showDetail(scope.row)" size="mini" type="text">查看详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total">
      <div class="pagination-container fr">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page.sync="listQuery.pageNo"
                       :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                       layout="total, sizes, prev, pager, next, jumper" :total="total">
        </el-pagination>
      </div>
    </div>
    <!-- 查看弹框 -->
    <el-dialog
      class="detail-dialog"
      width="1260px"
      :visible.sync="popover_visible">
      <span slot="title" class="el-dialog__title">
        异常详情-订单号：{{orderCode}}
      </span>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import Settime from 'utils/settime'
  import JsonEditor from 'components/JsonEditor'
  import {
    getOrderDoubtList
  } from 'api/monitor'
  import clip from 'utils/clipboard'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { JsonEditor, fuzzyQuerySearch },
    data () {
      return {
        value: '',
        popover_visible: false,
        dataValue: [],
        errorTypes: [
          {
            value: 10,
            label: '下注异常'
          },
          {
            value: 20,
            label: '撤单异常'
          },
          {
            value: 30,
            label: '结算异常'
          },
          {
            value: 40,
            label: '奖金发放异常'
          }
          // {
          //   value: 50,
          //   label: '投注返点发放异常'
          // },
          // {
          //   value: 60,
          //   label: '代理返点发放异常'
          // }
        ],
        errorCodes: {
          2407: '批量资金流水入库操作中,前后金额不一致',
          2408: '批量资金流水入库操作中,提交记录数与操作成功记录数不一致',
          2417: '资金存款申请金额需要为正数',
          2474: '金流操作,bizId已存在',
          2504: '余额不足',
          2512: '注单已存在(注单ID已存在)',
          1109082: '平台未知异常'
          // 408: '由彩票定义的超时响应错误码,该错误码需要异常收集,不会记录到可疑注单中'
        },
        errorSubTypes: [
          { value: 1, label: '调用接口异常' },
          { value: 2, label: '入库异常' },
          { value: 3, label: '金流异常' }
        ],
        total: 0,
        listLoading: false,
        lotteryNames: [],
        typeList: [],
        lotteryList: [],
        orderCode: '',
        pickerOptions: EnUSPickerOptions,
        listQuery: {
          spCode: '',
          lotteryId: '',
          issue: '',
          beginTime: '',
          endTime: '',
          errorType: '',
          errorSubType: '',
          errorCode: '',
          orderCode: '',
          pageSize: 10,
          pageNo: 1
        },
        tableData: [],
        LogData: []
      }
    },
    filters: {
      _errorType (status) {
        const errorType = {
          10: '下注异常',
          20: '撤单异常',
          30: '结算异常',
          40: '奖金发放异常'
          // 50: '投注返点发放异常',
          // 60: '代理返点发放异常'
        }
        return errorType[status]
      },
      _errorSubType (v) {
        const typeMaps = {
          1: '调用接口异常',
          2: '入库异常',
          3: '金流异常'
        }
        return typeMaps[v]
      }
    },
    created () {
      this._getLotteryTypeList()
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this._getOrderErrorList()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleCopy (text, event, type) {
        clip(text, event, type)
      },
      // 获取全部列表数据
      _search () {
        this.listQuery.pageNo = 1
        this._getOrderErrorList()
      },
      // 获取列表数据
      _getOrderErrorList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getOrderDoubtList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tableData = res.data.data.elements
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      // 操作 查看
      async showDetail (row) {
        this.orderCode = row.orderCode
        this.value = await ({ ...JSON.parse(row.errorContext), orderCode: row.orderCode })
        console.log(this.value)
        this.popover_visible = true
      },
      // 获取彩种类型
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.typeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.listQuery.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryNames = res.data.data.items
          }
        })
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getOrderErrorList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getOrderErrorList()
      }
    }
  }
</script>

<style lang='scss' scoped>

</style>
