<template>
  <!--  <el-tabs v-model="activeName">-->
  <!--    <el-tab-pane label="即时注单" name="first"-->
  <!--                 v-if='!hasPermission("OrderCreditCurrReportList")||!hasPermission("OrderCurrReportList")'>-->
  <order-curr-report-list></order-curr-report-list>
  <!--    </el-tab-pane>-->
  <!--    <el-tab-pane label="即时注单(全厅)" name="second" v-if='!hasPermission("OrderAllSnCreditCurrReportList")'>-->
  <!--      <order-all-sn-credit-curr-report-list></order-all-sn-credit-curr-report-list>-->
  <!--    </el-tab-pane>-->
  <!--  </el-tabs>-->
</template>
<script>
  // import OrderAllSnCreditCurrReportList from './OrderAllSnCreditCurrReportList'
  import OrderCurrReportList from './OrderCurrReportList'

  export default {
    components: {
      OrderCurrReportList
      // OrderAllSnCreditCurrReportList
    },
    data () {
      return {
        activeName: 'first'
      }
    }
  }
</script>
