<template>
  <div
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    v-loading='listLoading'>
    <el-form :inline='true'>
      <el-form-item>
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          :clearable='false'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
    </el-form>
    <el-form :inline='true' v-if='lotteryTypeList.length>0'>
      <el-form-item>
        <el-radio-group v-model="lotteryTypeId" size="mini" class="radio"
                        @change="handleChangeLotteryInfo">
          <el-radio v-for="item in lotteryTypeList" :key="item.id" :label="item.id" border>{{ item.name }}
          </el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-form :inline='true' v-if="LotteryInfoList.length>0">
      <el-form-item>
        <el-radio-group v-model="listQuery.lotteryId" size="mini" class="radio mb10"
                        @change="handleChangeIssueList">
          <el-radio v-for="item in LotteryInfoList" :key="item.id" :label="item.id" border>{{ item.name }}
          </el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-form :inline="true" v-if="issueInfoList.length>0">
      <!--      <el-form-item :label='activeTabName'></el-form-item>-->
      <el-form-item>第<span class='red'>{{ listQuery.issue }}</span>期</el-form-item>
      <el-form-item label='选择期数：'>
        <el-select v-model="listQuery.issue" @change="handleSelectIssue">
          <el-option
            v-for="item in issueInfoList"
            :key="item.name"
            :label="`第${item.name}期`"
            :value="item.name">
            第{{ item.name }}期
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click='handleChangeIssueList(listQuery.lotteryId)'>刷新</el-button>
      </el-form-item>
      <el-form-item label='北京时间：'><span class="red">{{ currentTimeEnUS }}</span>
      </el-form-item>
      <el-form-item label='数据刷新频率：'>
        <el-select v-model="sel_time" style="width: 100px;margin-right: 10px;"
                   @change="handChange"
                   :disabled="!listQuery.lotteryId"
                   placeholder="刷新频率">
          <el-option v-for="item in settimeList" :key="item.value" :value="item.value"
                     :label='item.label'>
            {{item.label}}
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click="setInit"
                   :disabled="!listQuery.lotteryId">
          <span v-if="Boolean(counter)" style="color: red">({{counter}})</span>手动刷新
        </el-button>
      </el-form-item>
    </el-form>
    <div style="clear: both" class='app_scroll_Y'></div>
    <!--    <el-tabs v-model="activeName" @tab-click="handleClick" type="border-card" class='container_fixed_y'>-->
    <!--      <el-tab-pane v-for='play in allPlayList' :label="play.label" :disabled="play.disabled"-->
    <!--                   class='app_body_margin'-->
    <!--                   :name="play.name"-->
    <!--                   :key='play.id'>-->
    <!--      </el-tab-pane>-->
    <template v-if="!hasData">
      <el-alert
        effect="dark"
        style="margin-bottom: 5px"
        title="温馨提醒：暂无即时注单数据!"
        type="warning"
        show-icon>
      </el-alert>
    </template>
    <template v-else>
      <component :is='com' :elements='elements' :lottery-type-id='lotteryTypeId' :active-name='activeName'
                 :s-code="SCode"
                 :key="componentKey"
                 :is-all-sn='false'
                 :is-show-s-code="isShowSCode"
                 :issue-open-code="issueOpenCode"></component>
    </template>
    <!--    </el-tabs>-->
  </div>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import Settime from 'utils/settime'
  import {
    parseTime
  } from 'utils/index'
  import { getAjaxData } from 'api/common'
  import {
    getOrderCurrReportList
    // getOrderCreditCurrReportList
  } from 'api/orders'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import OfficePlay from './officalPlay/officalPlay'
  import creditPlay from './creditPlay/index.vue'
  import { tabMode } from './pre'

  export default {
    name: 'OrderCurrReportList',
    components: {
      OfficePlay,
      creditPlay,
      fuzzyQuerySearch
    },
    data () {
      return {
        componentKey: 0,
        LotteryInfoList: [],
        lotteryTypeId: '',
        playTypeIds: '',
        listLoading: false,
        elements: [],
        sel_time: 0,
        counter: 0,
        activeName: 'OfficePlay',
        activeTabName: '官方玩法',
        SCode: '',
        settimeList: [
          {
            value: 0,
            label: '不刷新'
          },
          {
            value: 5,
            label: '5秒'
          },
          {
            value: 10,
            label: '10秒'
          },
          {
            value: 20,
            label: '20秒'
          },
          {
            value: 30,
            label: '30秒'
          }
        ],
        currentTimeEnUS: '2017-01-01 00:00:00',
        ClockTimer: null,
        // spList: [],
        lotteryTypeList: [],
        listQuery: {
          issue: '',
          spCode: '',
          lotteryId: ''
        },
        issueInfoList: [],
        allPlayList: [],
        timer: null,
        counterTimer: null,
        activePlayId: 0,
        fn: null,
        com: '',
        issueOpenCode: [],
        isShowSCode: false
      }
    },
    created () {
      // this._getSpInfoList()
      this.currentTimeEnUSHandle()
    },
    watch: {
      activeName (v) {
        // console.log(v)
        this.handleFunc()
        // console.log('com=>', this.com)
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
        this.resetLotteryType()
      },
      currentTimeEnUSHandle () {
        const that = this
        this.ClockTimer = setInterval(() => {
          const eTimes = new Date(Settime.RefTime())
          that.currentTimeEnUS = parseTime(new Date(eTimes.getTime() + 12 * 3600 * 1000))
        })
      },
      getData () {
        if (!this.listQuery.spCode) return
        ++this.componentKey
        const query = this.listQuery
        if (this.activeName !== 'OfficePlay') {
          query.playTypeIds = this.playTypeIds
        }
        this.listLoading = true
        this.fn(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements
            // console.log('res.data.data.issueOpenCode', res.data.data.issueOpenCode)
            if (res.data.data.issueOpenCode) {
              this.issueOpenCode = res.data.data.issueOpenCode.split(',')
            } else {
              this.issueOpenCode = []
            }
            if (this.issueOpenCode) {
              const len = this.issueOpenCode.length
              this.SCode = this.issueOpenCode[len - 1]
            }
            // console.log(this.issueOpenCode)
            this.setClock(this.sel_time)
          }
          this.listLoading = false
        })
      },
      handleSelectIssue (item) {
        this.search()
      },
      handleChangeIssueList (v) {
        this._getIssueInfoTopTenList(v)
      },
      // 获取当前彩种前十期彩期
      _getIssueInfoTopTenList (pId) {
        getAjaxData({ dataType: 22, pId, expendVal: -1 }).then((res) => {
          this.issueInfoList = []
          if (res.data.code === ERR_OK) {
            this.issueInfoList = res.data.data.items
            this.listQuery.issue = this.issueInfoList[0] && this.issueInfoList[0].name ? this.issueInfoList[0].name : this.listQuery.issue
            if (this.issueInfoList.length > 0 && this.issueInfoList[0] && this.issueInfoList[0].name) {
              this.search()
            } else {
              this.$message({
                type: 'warning',
                message: '当前彩期暂无彩期'
              })
              this.elements = []
            }
          }
        })
      },
      handleClick (item, event) {
        this.activeTabName = item.label
        // console.log('item=>', item)
        // console.log('event=>', event)
        // console.log('allPlayList=>', this.allPlayList)
        if (item.name !== 'OfficePlay') {
          this.playTypeIds = this.allPlayList[item.index].playList.join(',')
          this.isShowSCode = this.allPlayList[item.index].isShowSCode
          // console.log('playTypeIds=>', this.playTypeIds)
        }
        this.handleFunc()
        this.setInit()
      },
      hiddenTab () {
        this.status = false
      },
      search () {
        if (!this.listQuery.lotteryId) {
          this.$message({
            type: 'error',
            message: '请选择彩种'
          })
          return
        }
        this.setInit()
      },
      handChange (val) {
        this.sel_time = val
        this.setClock(val)
      },
      setInit () {
        window.clearInterval(this.timer)
        this.timer = null
        this.getData()
      },
      setClock (v) {
        this.clearTimer()
        const that = this
        if (v > 0) {
          this.counter = v
          this.counterTimer = setInterval(() => {
            --that.counter
            if (that.counter === 0) that.counter = v
          }, 1000)
          this.timer = setInterval(() => {
            that.setInit()
          }, v * 1000)
        } else {
          this.counter = 0
        }
      },
      clearTimer () {
        window.clearInterval(this.timer)
        this.timer = null
        window.clearInterval(this.counterTimer)
        this.counterTimer = null
      },
      async handleChangeLotteryInfo () {
        const value = this.lotteryTypeId
        // console.log('value=>', value)
        this.resetSelect()
        this.counter = 0
        this.clearTimer()
        const item = tabMode.find((play) => play.id === Number(value))
        // console.log('item=>', item)
        this.allPlayList = item ? item.childList : []
        const res = await getAjaxData({ pId: this.lotteryTypeId, dataType: 13 })
        if (res.data.code === ERR_OK) {
          this.LotteryInfoList = res.data.data.items
          this.listQuery.lotteryId = this.LotteryInfoList[0].id
          this.handleChangeIssueList(this.listQuery.lotteryId)
        }
        this.activeName = await this.allPlayList[0].name
        this.activeTabName = await this.allPlayList[0].label
        this.isShowSCode = await this.allPlayList[0].isShowSCode
        this.playTypeIds = await this.allPlayList[0].playList.join(',')
        this.handleFunc()
        // console.log('allPlayList=>', this.allPlayList)
      },
      handleFunc () {
        // if (this.activeName === 'OfficePlay') {
        this.fn = getOrderCurrReportList
        this.com = 'OfficePlay'
        // } else {
        //   this.fn = getOrderCreditCurrReportList
        //   this.com = 'creditPlay'
        // }
      },
      async resetLotteryType () {
        this.lotteryTypeId = ''
        this.listQuery.lotteryId = ''
        if (!this.listQuery.spCode) return
        const res = await getAjaxData({ dataType: 10 })
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
          this.lotteryTypeId = this.lotteryTypeList[0].id
          this.handleChangeLotteryInfo()
        }
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      }
    },
    beforeDestroy () {
      this.clearTimer()
      window.clearInterval(this.ClockTimer)
      this.ClockTimer = null
    },
    computed: {
      hasData () {
        return this.elements && this.elements.length > 0
      }
    }
  }
</script>
<style lang="scss" scoped>
  .red {
    color: #f00
  }

  .app_scroll_Y {
    position: relative;
  }

  .container_fixed_y {
    &::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: #636363;
    }

    &::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background: #ededed;
    }

    overflow-y: scroll;
    max-height: 600px;

    ::v-deep .el-tabs__header {
      position: absolute;
      width: 96.6%;
      z-index: 99;
    }
  }

  .app_body_margin {
    margin-top: 35px;
  }

  .radio {
    ::v-deep label {
      margin-left: 0 !important;
      margin-right: 10px !important;
    }

    &.mb10 {
      ::v-deep label {
        margin-bottom: 10px;
      }
    }
  }
</style>
