<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主" clearable-->
        <!--								           default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option v-for="item in spList" :key="item.id" :label="item.id" :value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-date-picker clearable v-model="dataValue" type="datetimerange"
                        style="width: 380px"
                        :picker-options="pickerOptions" range-separator="至" start-placeholder="开始时间"
                        :default-time="['00:00:00','23:59:59']"
                        end-placeholder="结束时间" align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="hasPermission('SelfSysLotteryReport')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="items" border v-loading="listLoading" style="width: 100%" class="selfTable"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading">
      <el-table-column min-width="70" prop="lotteryName" align="right" label="彩种名称">
      </el-table-column>
      <el-table-column label="理论数据" align="right">
        <el-table-column min-width="90" prop="effectiveMoney" align="right">
          <template slot="header">
            <span>投注总额(元)</span>
            <el-tooltip class="item" effect="dark" placement="top">
              <div slot="content">只包含输、赢的注单</div>
              <i class="el-icon-info"></i>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column min-width="80" prop="winMoney" align="right" label="理论中奖总额(元)">
        </el-table-column>
        <el-table-column min-width="80" prop="dealMoney" align="right" label="实际中奖总额(元)">
        </el-table-column>
        <el-table-column min-width="70" prop="minus" align="right" label="差额(元)">
        </el-table-column>
        <el-table-column min-width="70" prop="winRate" align="right" label="中奖率(%)">
        </el-table-column>
      </el-table-column>
      <el-table-column label="实际数据" align="right">
        <el-table-column min-width="90" prop="preEffectiveMoney" align="right" label="预统计总投注(元)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.preEffectiveMoney }}</span><br>
            <span class="blue">{{ scope.row.firstSpPreEffectiveMoney }}</span>
          </template>
        </el-table-column>
        <el-table-column min-width="90" prop="preWinMoney" align="right" label="预统计厅总盈利(元)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.preWinMoney }}</span><br>
            <span class="blue">{{ scope.row.firstSpPreWinMoney }}</span>
          </template>
        </el-table-column>
        <el-table-column min-width="90" prop="preWinMoney" align="right" label="预统计中奖率(%)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.prePayoutRate }}</span><br>
            <span class="blue">{{ scope.row.firstSpPrePayoutRate }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="设定值" align="right">
        <el-table-column min-width="70" prop="openType" align="right" label="开奖类型">
          <template slot-scope="scope">
            <el-tooltip placement="top" v-if="scope.row.openType===1" effect="light">
              <div slot="content">{{ teansformContent(scope.row.randomRatio) }}</div>
              <span class="red">随机</span>
            </el-tooltip>
            <!--<span v-else-if="scope.row.openType===2">杀率控制</span>-->
            <span v-else-if="scope.row.openType===3 || scope.row.openType===2">混合</span>
            <span v-else>-</span>
          </template>
        </el-table-column>
        <el-table-column min-width="70" prop="payoutRate" align="right" label="预设杀率(%)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.openType===1?'--':scope.row.payoutRate }}</span>
          </template>
        </el-table-column>
        <el-table-column min-width="100" prop="preCleanTime" align="right" label="最后清零时间(美东)">
          <template slot-scope="scope">
            <span class="red">{{ scope.row.preCleanTime }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column min-width="120" align="right" label="操作" v-if="role==='master'">
        <template slot-scope="scope">
          <el-button type="text" @click="clearData(scope.row)"
                     :disabled="hasPermission('SelfSysLotteryClean')">清 零
          </el-button>
          <el-button type="text" @click='_showDialog(scope.row)'
                     :disabled="hasPermission('SelfSysLotterySettingInfo') || hasPermission('SelfSysLotterySettingSave')">
            设 置
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="dialogFormVisible" append-to-body width="800px"
               element-loading-text="拼命加载中"
               element-loading-spinner="el-icon-loading"
               v-loading="loaded"
               :before-close="beforeClose">
      <span class="el-dialog__title" slot="title">系统自开彩预设</span>
      <el-form class="small-space" :model="temp" label-position="left" ref="SelfLotteryInfoUpForm"
               :rules="upInfoRules"
               label-width="100px">
        <el-form-item label="彩种名称" prop="lotteryName" label-width="140px"><span>{{ temp.lotteryName }}</span>
        </el-form-item>
        <el-form-item label="开奖类型" prop="openType" label-width="140px">
          <el-radio-group v-model="temp.openType" @change="checkRiskType">
            <el-radio :label="1">随机</el-radio>
            <!--<el-radio :label="2">杀率控制</el-radio>-->
            <el-radio :label="3">混合</el-radio>
          </el-radio-group>
        </el-form-item>

        <template v-if="temp.openType === 3">
          <el-form-item label="随机算法百分比" prop="mixRandomRate" v-if="temp.openType===3" label-width="140px">
            <template>
              <el-input v-model="temp.mixRandomRate" type="text" name="mixRandomRate"
                        style="width:200px;">
                <template slot="append">%</template>
              </el-input>
            </template>
          </el-form-item>
          <el-form-item label="预设杀率" prop="payoutRate" label-width="140px">
            <template>
              <el-input v-model="temp.payoutRate" type="text" name="payoutRate" style="width:200px;">
                <template slot="append">%</template>
              </el-input>
            </template>
          </el-form-item>
          <el-form-item label="防刷单设置"
                        prop="conditionSwitch"
                        label-width="140px">
            <el-switch
              active-text="启用"
              inactive-text="禁用"
              v-model="temp.conditionSwitch"
              @change="changeSwitchStatus"
              inactive-color="#ff4949"
              active-color="#13ce66">
            </el-switch>
          </el-form-item>
          <template v-if="isMixKillRateSwitchOpen">
            <self-component :risk-info="temp.riskInfo" :is-mixed="true"></self-component>
          </template>
        </template>
        <template v-if="temp.openType===2 ">
          <el-form-item label="杀率" prop="payoutRate" label-width="140px">
            <template>
              <el-input v-model="temp.payoutRate" type="text" name="payoutRate" style="width:200px;">
                <template slot="append">%</template>
              </el-input>
            </template>
          </el-form-item>
          <span style="color: #e89c0f">杀率指的是厅主的盈利百分比,不得大于100，该值小于0，表示厅主输钱；该值大于0，表示厅主赢钱。</span>
          <el-form-item label="防刷单设置"
                        prop="conditionSwitch"
                        label-width="140px">
            <el-switch
              active-text="启用"
              inactive-text="禁用"
              v-model="temp.conditionSwitch"
              inactive-color="#ff4949"
              active-color="#13ce66">
            </el-switch>
          </el-form-item>
          <template v-if="isKillRateSwitchOpen">
            <self-component :risk-info="temp.riskInfo"></self-component>
          </template>
        </template>
        <!--<template v-if="temp.openType===1">-->
        <!--<el-form-item label="随机算法"-->
        <!--prop="algorithmSwitch"-->
        <!--label-width="140px">-->
        <!--<el-switch-->
        <!--v-if="temp.openType===1 || temp.openType===3"-->
        <!--active-text="启用"-->
        <!--inactive-text="禁用"-->
        <!--v-model="temp.algorithmSwitch"-->
        <!--inactive-color="#ff4949"-->
        <!--active-color="#13ce66">-->
        <!--</el-switch>-->
        <!--</el-form-item>-->
        <!--<hr v-if="isKillRateSwitchOpen || isRandomSwitchOpen" style="border-color: #f00">-->
        <!--<template v-if="isRandomSwitchOpen">-->
        <!--<p style="color: #f00">设置算法时，下面三个算法之和需等于100</p>-->
        <!--<el-form-item prop="mt"-->
        <!--label-width="140px">-->
        <!--<span slot="label">梅森旋转算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--<el-input v-model="temp.mt" type="text"-->
        <!--@blur="algoChecked($event,'real', 'mt')"-->
        <!--name="mt" style="width:200px;">-->
        <!--<template slot="append">%</template>-->
        <!--</el-input>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--<el-form-item prop="real"-->
        <!--label-width="140px">-->
        <!--<span slot="label">真随机算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--<el-input v-model="temp.real" type="text"-->
        <!--@blur="algoChecked($event,'mt', 'real')"-->
        <!--name="real" style="width:200px;">-->
        <!--<template slot="append">%</template>-->
        <!--</el-input>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--<el-form-item prop="linear"-->
        <!--label-width="140px">-->
        <!--<span slot="label">KISS算法:</span>-->
        <!--<template slot-scope="scope">-->
        <!--<span>{{ temp.linear }}%</span>-->
        <!--</template>-->
        <!--</el-form-item>-->
        <!--</template>-->
        <!--<hr v-if="isKillRateSwitchOpen && isRandomSwitchOpen" style="border-color: #f00">-->
        <!--</template>-->
      </el-form>
      <span style="color: #f00" v-if="temp.openType === 1 ">随机开奖指纯随机开奖，无杀率控制。</span>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="_postSelfSysLotterySettingSave"
                   :disabled="hasPermission('SelfSysLotterySettingSave')">提 交
        </el-button>
        <el-button type="primary" @click.native="resetForm">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  // import { getAjaxData } from 'api/common'
  import {
    getSelfSysLotteryReport,
    getSelfSysLotterySettingInfo,
    postSelfSysLotteryClean,
    postSelfSysLotterySettingSave
  } from 'api/SelfLottery'
  import Settime from 'utils/settime'
  import NP from 'number-precision'
  import { mapState } from 'vuex'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import selfComponent from './selfComponent'

  export default {
    components: { selfComponent, fuzzyQuerySearch },
    data () {
      const payoutRate = (rule, value, callback) => {
        if (value.length === 0) {
          return callback(new Error('输入的杀率不能是空'))
        }
        const res = /^-?\d+$/
        if (!res.test(value)) {
          callback(new Error('输入的杀率为整数'))
        }
        if (parseFloat(value) > 100) {
          callback(new Error('输入的杀率不能大于100'))
        }
        callback()
      }
      const validAlgorithm = (rule, value, callback) => {
        if (parseFloat(value) > 100) {
          return callback(new Error('请输入0-100之间的数值'))
        }
        const res = /^\d+$/
        if (!res.test(value)) {
          callback(new Error('请输入不大于100的正整数'))
        }
        callback()
      }
      const mixRandomRate = (rule, value, callback) => {
        console.log(value, this.temp.openType)
        if (this.temp.openType !== 3) {
          callback()
        }
        if (parseFloat(value) > 100) {
          return callback(new Error('请输入0-100之间的数值'))
        }
        const res = /^\d+$/
        if (!res.test(value)) {
          callback(new Error('请输入不大于100的正整数'))
        }
        callback()
      }
      return {
        visible: false,
        dialogFormVisible: false,
        pickerOptions: EnUSPickerOptions,
        listLoading: false,
        dataValue: [],
        listQuery: {
          spCode: '',
          beginTime: '',
          endTime: ''
        },
        // spList: [],
        items: [],
        temp: {
          lotteryId: '',
          openType: '',
          payoutRate: '',
          mixRandomRate: 0,
          algorithmSwitch: false,
          conditionSwitch: false,
          riskInfo: {},
          mt: 50,
          real: 50,
          linear: 0
        },
        loaded: false,
        upInfoRules: {
          payoutRate: [
            {
              required: true,
              trigger: 'blur',
              validator: payoutRate
            }
          ],
          mixRandomRate: [
            {
              required: true,
              trigger: 'blur',
              validator: mixRandomRate
            }
          ],
          mt: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ],
          real: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ],
          linear: [
            {
              trigger: 'blur',
              validator: validAlgorithm
            }
          ]
        }
      }
    },
    computed: {
      isRandomSwitchOpen () {
        return (this.temp.openType === 1) && this.temp.algorithmSwitch
      },
      isKillRateSwitchOpen () {
        return this.temp.openType === 2 && this.temp.conditionSwitch
      },
      isMixKillRateSwitchOpen () {
        return this.temp.openType === 3 && this.temp.conditionSwitch
      },
      ...mapState({
        role: (state) => state.user.role || ''
      })
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      checkRiskType (e) {
      },
      // 改变防刷单设置开关状态
      changeSwitchStatus (e) {
        if (e && this.temp.openType === 3) {
          this.temp.riskInfo.totalMoney = 300
        }
      },
      teansformContent (content) {
        let text = '暂无信息'
        if (content) {
          const c = content.split('|')
          console.log(c)
          text = `梅森旋转算法:${c[0]},真随机算法:${c[1]},先行同余算法:${c[2]}`
        }
        return text
      },
      _showDialog (obj) {
        this.dialogFormVisible = true
        // this.temp = Object.assign({}, this.temp, obj)
        this._getSelfSysLotterySettingInfo(obj.lotteryId)
      },
      _getSelfSysLotterySettingInfo (id) {
        this.loaded = true
        getSelfSysLotterySettingInfo(id).then((res) => {
          if (res.data.code === ERR_OK) {
            this.temp = { ...this.temp, ...res.data.data }
            console.log(this.temp)
            this.temp.openType = this.temp.openType === 2 ? 3 : this.temp.openType
            this.temp.payoutRate = this.temp.payoutRate === 0 ? 10 : NP.minus(100, this.temp.payoutRate)
            // this.temp.mixRandomRate = this.temp.riskInfo.mixRandomRate || 40
            this.temp.mixRandomRate = this.temp.riskInfo.mixRandomRate
            this.temp.riskInfo.totalMoney = this.temp.riskInfo.totalMoney || 300
            if (this.temp.randomRatio === '0|0|0' || !this.temp.randomRatio) {
              this.temp.mt = 50
              this.temp.real = 50
              this.temp.linear = 0
              this.temp.algorithmSwitch = false
            } else {
              const r = this.temp.randomRatio.split('|')
              this.temp.mt = r[0]
              this.temp.real = r[1]
              this.temp.linear = r[2]
              this.temp.algorithmSwitch = true
            }
            if (this.temp.riskInfo.type !== 0) {
              this.temp.conditionSwitch = true
            }
            if (this.temp.openType === 3) {
              // this.temp.mixRandomRate = this.temp.riskInfo.mixRandomRate || 40
              this.temp.mixRandomRate = this.temp.riskInfo.mixRandomRate
            }
          }
        })
        this.loaded = false
      },
      beforeClose (done) {
        this.resetData()
        done()
      },
      resetData () {
        this.$refs.SelfLotteryInfoUpForm.resetFields()
        this.temp = {
          lotteryId: '',
          openType: '',
          payoutRate: '',
          mixRandomRate: 0,
          algorithmSwitch: false,
          conditionSwitch: false,
          riskInfo: {},
          mt: 50,
          real: 50,
          linear: 0
        }
      },
      resetForm () {
        this.dialogFormVisible = false
        this.resetData()
      },
      // 保证三个算法之和等于100
      algoChecked (event, otherKey, key) {
        const value = Math.floor(event.target.value)
        event.target.value = this.temp[key] = value
        if (Math.floor(this.temp[otherKey]) + value > 100) {
          this.$message({
            type: 'warning',
            message: '算法之和不能超过100'
          })
          this.$nextTick(() => {
            event.target.value = this.temp[key] = 100 - Math.floor(this.temp[otherKey])
          })
        }
        this.$nextTick(() => {
          this.temp.linear = 100 - Math.floor(this.temp[otherKey]) - Math.floor(this.temp[key])
          console.log(this.temp)
        })
      },
      // 改变随机算法设置开关状态
      // changeAlgorithmSwitchStatus(e) {
      //   console.log(e && !this.temp.randomRatio)
      //   if (e && !this.temp.randomRatio && this.temp.randomRatio === '0|0|0') {
      //     this.temp.mt = 50
      //     this.temp.real = 50
      //     this.temp.linear = 0
      //     this.temp.algorithmSwitch = false
      //   }
      //   return !e
      // },
      _postSelfSysLotterySettingSave () {
        console.log(this.temp)
        if (this.temp.conditionSwitch && this.temp.openType === 2 && Number(this.temp.riskInfo.type) === 2) {
          if (!this.temp.riskInfo.firstSpCode) {
            this.$message({
              type: 'error',
              message: '请输入优先厅编码!!!'
            })
            return
          }
        }
        this.$refs.SelfLotteryInfoUpForm.validate((valid) => {
          if (valid) {
            const str = '系统自开彩配置'
            this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                lotteryId: this.temp.lotteryId,
                openType: this.temp.openType === 2 ? 3 : this.temp.openType,
                payoutRate: (this.temp.openType === 2 || this.temp.openType === 3) ? Math.floor((100 - parseFloat(this.temp.payoutRate)) * 100) : 0,
                mixRandomRate: this.temp.mixRandomRate,
                type: this.temp.conditionSwitch ? this.temp.riskInfo.type : 0,
                randomRatio: (this.temp.openType === 2) ? '0|0|0' : this.temp.algorithmSwitch ? [this.temp.mt, this.temp.real, this.temp.linear].join('|') : '0|0|0',
                firstSpCode: this.temp.riskInfo.type === 2 ? this.temp.riskInfo.firstSpCode : '',
                spNum: this.temp.riskInfo.type === 3 ? this.temp.riskInfo.spNum : 0,
                userNum: this.temp.riskInfo.type === 3 ? this.temp.riskInfo.userNum : 0,
                orderNum: this.temp.riskInfo.type === 3 ? this.temp.riskInfo.orderNum : 0,
                totalMoney: this.temp.riskInfo.totalMoney
              }
              if (this.temp.openType === 3 && this.temp.conditionSwitch) {
                query.type = 3
              }
              postSelfSysLotterySettingSave(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '配置成功!'
                  })
                  this.resetForm()
                  this._search()
                }
              })
            })
          }
        })
      },
      dFormatter (row, v) {
        if (parseFloat(v) < 0) {
          this.$message({
            type: 'error',
            message: '不能为负数'
          })
          return
        }
        if (parseFloat(v) === parseFloat(row.payoutRate2)) {
          row.saveBoolean = false
          return
        }
        const re = /^\d+(?:\.\d{1,2})?$/
        if (!re.test(v)) {
          this.$message({
            type: 'error',
            message: '输入的数值不正确，只允许两位小数'
          })
          row.saveBoolean = false
          return
        }
        if (parseFloat(row.payoutRate) > 100) {
          this.$message({
            type: 'error',
            message: '杀率不能超过100%'
          })
          row.saveBoolean = false
          return
        }
        row.saveBoolean = true
      },
      clearData (row) {
        this.$confirm(`该操作将清零预统计数值状态， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postSelfSysLotteryClean(row.lotteryId).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `清零成功!`
              })
              this._getList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      _getList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getSelfSysLotteryReport(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.items = res.data.data.items.map((r) => {
              r.minus = NP.minus(r.effectiveMoney, r.winMoney).toFixed(2)
              r.payoutRate = NP.minus(100, r.payoutRate)
              r.payoutRate2 = r.payoutRate
              r.openType = Number(r.openType)
              return r
            })
          }
          this.listLoading = false
        })
      },
      _search () {
        this._getList()
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      this._getList()
    },
    filters: {
      LotterNmaeFilter (v) {
        const m = {
          1005: '分分时时彩',
          1204: '分分快3',
          1403: '分分PK10',
          2002: '三分六合彩'
        }
        return m[v]
      }
    }
  }
</script>
<style lang="scss" scoped>
  .red {
    color: #f00;
  }

  .blue {
    color: #00bcd4;
  }

  .grid-content {
    margin-top: 20px;
    /*padding: 20px 10px;*/
    /*border: 1px solid #f00;*/
    /*border-radius: 2px;*/
  }

</style>
