<template>
  <div>
    <p class="title">
      风控条件
    </p>
    <p>
      <span>投注厅数<=</span>
      <el-input style="width:80px;" v-model="obj.spNum" ref="value1" placeholder="0--99999"
                @blur="intFormatter(obj.spNum,$event)"
                maxlength="5"></el-input>
      <span>个厅时启用该风控模式</span>
    </p>
    <p class="orLimit">
      <span class="or">OR</span>
    </p>
    <p>
      <span>投注人数<=</span>
      <el-input style="width:80px;" v-model="obj.userNum" ref="value2" placeholder="0--99999"
                @blur="intFormatter(obj.userNum,$event)"
                maxlength="5"></el-input>
      <span>个用户时启用该风控模式</span>
    </p>
    <p class="orLimit">
      <span class="or">OR</span>
    </p>
    <p>
      <span>投注单数<=</span>
      <el-input style="width:80px;" v-model="obj.orderNum" ref="value3" placeholder="0--99999"
                @blur="intFormatter(obj.orderNum,$event)"
                maxlength="5"></el-input>
      <span>个注单时启用该风控模式</span>
    </p>
    <p class="orLimit">
      <span class="or">OR</span>
    </p>
    <p>
      <span>投注总额<=</span>
      <el-input style="width:80px;" v-model="obj.totalMoney" ref="value3" placeholder="0--9999999"
                @blur="amountFormatter(obj.totalMoney ,$event)"
                maxlength="7"></el-input>
      <span>元时启用该风控模式</span>
    </p>
    <p class="title">
      风控结果(满足以上任一条件时，启用随机开奖)
    </p>
    <!--<p>-->
    <!--<span><span style="color: #f00;">*</span>输钱概率：</span>-->
    <!--<el-input style="width:80px;" v-model="obj.loseMoney" ref="value4" size="mini" placeholder="0&#45;&#45;100"></el-input>-->
    <!--<span>%  输钱概率,需填写0~100之间的整数值</span>-->
    <!--</p>-->
    <p style="color: #f00;font-size: 14px;margin: 20px 0;">
      说明：<br>
      1. 设置风控结果时，必须至少设置一个风控条件才可以保存成功并生效；<br>
      2. 各项值为空，或设置为0时，设置不生效；<br>
      3. 设置完成后需要点击保存按钮，并保存成功后才可生效<br>
    </p>
  </div>
</template>
<script>
  export default {
    props: {
      obj: Object,
      required: true
    },
    data () {
      return {
        value1: '',
        value2: '',
        value3: '',
        value4: ''
      }
    },
    methods: {
      intFormatter (v, e) {
        if (!e.target.value) return
        const value = parseInt(e.target.value.replace(/[^\d]/g, ''))
        e.target.value = v = value
      },
      amountFormatter (v, e) {
        if (!e.target.value) return
        const re = /^\d+(?:\.\d{0,2})?$/
        if (re.test(v)) {
          const v = parseFloat(v)
          if (v < 0) {
            this.$message({
              type: 'warning',
              message: '输入的投注总金额不能为负数'
            })
            e.target.value = Math.abs(v)
          }
        } else {
          this.$message({
            type: 'warning',
            message: '输入的投注总金额应为正整数或2位小数'
          })
          e.target.value = Math.abs(v) || 300
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .title {
    font-size: 14px;
    color: #f00;
    padding-bottom: 5px;
  }

  p {
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;

    &.orLimit {
      padding: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;

      span {
        &.or {
          display: block;
          width: 80px;
          text-align: center;
          height: 24px;
          line-height: 24px;
          font-size: 16px;
          border-radius: 4px;
          box-sizing: border-box;
          white-space: nowrap;
          background-color: hsla(0, 87%, 69%, .1);
          border-color: hsla(0, 87%, 69%, .2);
          color: #f56c6c;
        }
      }
    }
  }
</style>
