<template>
  <div class="contain">
    <template v-if="isMixed">
      <div class="paneType">
        <span class="title">防刷单设置类型:</span>
        <span>随机开奖设置</span>
      </div>
      <div class="componentContain">
        <p-r-control :obj="riskInfo"></p-r-control>
      </div>
    </template>
    <template v-else>
      <div class="paneType">
        <span class="title">防刷单设置类型:</span>
        <el-radio-group v-model="riskInfo.type" @change="TypeChange">
          <el-radio :label="1">不设置</el-radio>
          <el-radio :label="2">优先厅</el-radio>
          <el-radio :label="3">随机开奖设置</el-radio>
        </el-radio-group>
      </div>
      <div class="componentContain">
        <component :is="currentComponent" :obj="riskInfo"></component>
      </div>
    </template>
  </div>
</template>
<script>
  import spControl from './spControl'
  import PRControl from './PRControl'

  export default {
    components: {
      spControl,
      PRControl
    },
    props: {
      riskInfo: {
        type: Object
      },
      isMixed: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        controlType: 1,
        currentComponent: null
      }
    },
    mounted () {
      console.log(0)
      this.TypeChange(this.riskInfo.type)
    },
    methods: {
      TypeChange (v) {
        switch (v) {
          case 2:
            this.currentComponent = spControl
            break
          case 3:
            this.currentComponent = PRControl
            break
          default:
            this.currentComponent = null
        }
      }
    },
    watch: {
      controlType (o, n) {
        console.log(o)
        this.TypeChange(o)
      }
    }
  }
</script>
<style lang="scss" scoped>
  .contain {
    border: 1px solid #00bcd4;
  }

  .paneType {
    padding: 20px;
  }

  .title {
    width: 80px;
    padding-right: 30px;
  }

  .actionControl {
    padding-left: 155px;
  }

  .componentContain {
    padding-left: 155px;
    font-size: 14px;
  }
</style>
