<template>
  <div>
    <p>
      <span>优先使用</span>
      <el-autocomplete style="width:80px;" v-model="obj.firstSpCode" ref="firstSpCode"
                       :fetch-suggestions="querySearch"
                       default-first-option
                       @select="handleSelect"
                       placeholder="请输入厅编码"></el-autocomplete>
      <span>厅计算派奖率并设置开奖结果</span>
    </p>
    <p style="color: #f00;font-size: 14px;margin: 20px 0;">
      说明：<br>
      1. 如果需要按指定的厅优先设置派奖的开奖结果，请在输入框中填写相应的厅编码；<br>
      2. 设置指定厅后，系统自开彩将优先按指定的厅计算赢利并计算开奖结果；<br>
      3. 优先厅只能输入一个厅已存在的正确厅编码，否则设置将会无效；<br>
    </p>
  </div>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'

  export default {
    props: {
      obj: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        spCode: '',
        spCodes: []
      }
    },
    mounted () {
      this.getSpInfo()
    },
    methods: {
      getSpInfo () {
        getAjaxData({ dataType: 21 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.spCodes = res.data.data.items.map((v) => ({
              value: v.id,
              label: v.name
            }))
            this.loaded = true
          }
        })
      },
      querySearch (queryString, cb) {
        const { spCodes } = this
        const res = queryString ? spCodes.filter(this.createFilter(queryString)) : spCodes
        // 返回建议列表的数据
        cb(res)
      },
      createFilter (queryString) {
        // filter第一个形参为funtion function里第一个形参为current value
        return function (currentValue) {
          return currentValue.value.toLowerCase().indexOf(queryString.toLowerCase()) > -1
        }
      },
      handleSelect (item) {
        console.log(item)
        this.obj.spCode = item.value
      }
    }
  }
</script>
