<template>
  <el-tabs v-loading="loaded" v-model="activeName" type="border-card"
           element-loading-text="拼命加载中"
           element-loading-spinner="el-icon-loading">
    <el-tab-pane v-for="item in sysSelfLottery" :label="item.name" :key='item.id' :name="item.id">
    </el-tab-pane>
    <self-component :lotteryId="activeName" ref="selfCom" @hideDialog="closeDialog"></self-component>
  </el-tabs>
</template>
<script>
  import selfComponent from './selfComponent'

  export default {
    components: { selfComponent },
    // comments: {
    //   selfComponent
    // },
    data () {
      return {
        activeName: 1005,
        loaded: false,
        sysSelfLottery: [
          {
            id: 1005,
            name: '分分时时彩'
          },
          {
            id: 1204,
            name: '分分快3'
          },
          {
            id: 1403,
            name: '分分PK10'
          },
          {
            id: 2002,
            name: '三分六合彩'
          }
        ]
      }
    },
    methods: {
      closeDialog () {
        // console.log(2222)
        // this.$emit('hideDialog3')
      }
      // switchTab(item) {
      //   console.log(item)
      //   this.activeName = item.name
      //   this.$refs.selfCom._getRiskControlSysSelfLottery()
      // }
    }
  }
</script>
