<template>
  <el-card>
    <el-alert
        style="margin-bottom:10px;"
        title="如彩种未做结算配置,则使用默认配置,默认配置为: [结算并发数:10,派彩并发数5,结算最小并发条件:1000条,派彩最小并发条件:500条,结算批次大小100条,派彩批次大小100条]."
        type="warning"
        show-icon
        effect="dark">
    </el-alert>
    <el-form :inline="true">
      <el-form-item>
        <el-button @click.native="showDialog({},1)" type="primary" icon="el-icon-plus"
                   :disabled="hasPermission('SettleSettingAdd')">新增
        </el-button>
      </el-form-item>
      <el-form-item>
        <span style="color:#00bcd4;font-weight:bold;padding-right:10px;line-height:30px;">结算维护开关</span>
        <el-switch
            @change="changeState"
            v-model="hungmant"
            active-color="#13ce66"
            inactive-color="#ff4949"
            active-text="开启"
            inactive-text="关闭">
        </el-switch>
      </el-form-item>
    </el-form>
    <el-table
        :data="tableData"
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        border
        fit
        max-height='750'
        style="width: 100%">
      <el-table-column
          label="序号"
          type="index" align="right" width="80">
      </el-table-column>
      <el-table-column
          label="彩种ID"
          min-width="120"
          align="right"
          prop="lotteryId">
      </el-table-column>
      <el-table-column
          label="彩种名称"
          min-width="120"
          align="right"
          prop="lotteryName">
      </el-table-column>
      <el-table-column
          align="right"
          label="结算并发数"
          min-width="120"
          prop="settleParallelism">
      </el-table-column>
      <el-table-column
          label="结算批次大小"
          min-width="100"
          align="right"
          prop="settleBatchNum">
        <template slot-scope="scope">
          <span>{{ scope.row.settleBatchNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="派彩并发数"
          min-width="100"
          align="right"
          prop="payoutParallelism">
        <template slot-scope="scope">
          <span>{{ scope.row.payoutParallelism }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="派彩批次大小"
          align="right"
          min-width="100"
          prop="payoutBatchNum">
        <template slot-scope="scope">
          <span>{{ scope.row.payoutBatchNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="结算并发最小条件"
          min-width="100"
          align="right"
          prop="settleParallelismMinCondition">
        <template slot-scope="scope">
          <span>{{ scope.row.settleParallelismMinCondition }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="派彩并发最小条件"
          align="right"
          min-width="100"
          prop="payoutParallelismMinCondition">
        <template slot-scope="scope">
          <span>{{ scope.row.payoutParallelismMinCondition }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="操作人"
          align="right"
          min-width="100"
          prop="createUser">
        <template slot-scope="scope">
          <span>{{ scope.row.createUser }}</span>
        </template>
      </el-table-column>
      <el-table-column
          label="操作时间"
          align="right"
          min-width="120"
          prop="createTime">
      </el-table-column>
      <el-table-column
          label="操作"
          min-width="120"
          align="right"
          prop="status">
        <template slot-scope="scope">
          <el-button @click='showDialog(scope.row, 2)' type="primary" :disabled="hasPermission('SettleSettingSave')">
            编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="Aotitle" :visible.sync="dialogFormVisible" width='600px'>
      <el-form :model="settleDetail" :rules="rules" ref='settleDetail' label-width="150px" label-position="left">
        <el-form-item label="彩种类型:" prop="lotteryTypeId" v-if="isAdd">
          <el-select v-model="settleDetail.lotteryTypeId" placeholder="选择彩种类型" @change="handleChange"
                     style="width: 60%"
                     :disabled="readonly"
          >
            <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="彩种名称:" prop="lotteryId">
          <el-select v-model="settleDetail.lotteryId" placeholder="选择彩种"
                     style="width: 60%"
                     :disabled="!settleDetail.lotteryTypeId||readonly">
            <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="结算并发数:" prop='settleParallelism'>
          <el-input v-model="settleDetail.settleParallelism" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="结算批次大小:" prop='settleBatchNum'>
          <el-input v-model="settleDetail.settleBatchNum" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="派彩并发数:" prop='payoutParallelism'>
          <el-input v-model="settleDetail.payoutParallelism" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="派彩批次大小:" prop='payoutBatchNum'>
          <el-input v-model="settleDetail.payoutBatchNum" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="结算最小并发条件:" prop='settleParallelismMinCondition'>
          <el-input v-model="settleDetail.settleParallelismMinCondition" style="width:60%"></el-input>
        </el-form-item>
        <el-form-item label="派彩最小并发条件:" prop='payoutParallelismMinCondition'>
          <el-input v-model="settleDetail.payoutParallelismMinCondition" style="width:60%"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postSettleSettingSave">确 定</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import {
  getSettleSettingList,
  getSettleSettingDetail,
  postSettleSettingSave,
  postSettleSettingAdd,
  getSettleHungmantGet,
  getSettleHungmant
} from 'api/system'
import { getAjaxData } from 'api/common'

export default {
  data () {
    const validatasettleParallelism = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      if (parseFloat(value) > 100 || parseFloat(value) < 1) {
        callback(new Error('输入的数值不能超过100或者小于1'))
      }
      callback()
    }
    const validatasettleBatchNum = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      if (parseFloat(value) < 1) {
        callback(new Error('输入的数值不能小于1'))
      }
      callback()
    }
    const validatapayoutBatchNum = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      if (parseFloat(value) < 1) {
        callback(new Error('输入的数值不能超过100或者小于1'))
      }
      callback()
    }
    const validatapayoutParallelism = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      if (parseFloat(value) > 100 || parseFloat(value) < 1) {
        callback(new Error('输入的数值不能超过100或者小于1'))
      }
      callback()
    }
    const validatasettleParallelismMinCondition = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      if (parseFloat(value) < 1) {
        callback(new Error('输入的数值不能小于1'))
      }
      // if (parseFloat(value) < 100) {
      //   callback(new Error('输入的数值不能小于100'))
      // }
      callback()
    }
    const validatapayoutParallelismMinCondition = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error('输入的数值不能是空'))
      }
      if (parseFloat(value) < 1) {
        callback(new Error('输入的数值不能小于1'))
      }
      const res = /^-?\d+$/
      if (!res.test(value)) {
        callback(new Error('输入的数值应为整数'))
      }
      // if (parseFloat(value) < 50) {
      //   callback(new Error('输入的数值不能小于50'))
      // }
      callback()
    }
    return {
      hungmant: false,
      listLoading: true,
      tableData: [],
      lotteryList: [],
      typeList: [],
      Aotitle: '',
      readonly: false,
      settleDetail: {
        lotteryTypeId: '',
        lotteryId: '',
        settleParallelism: '',
        settleBatchNum: '',
        payoutParallelism: '',
        payoutBatchNum: '',
        settleParallelismMinCondition: '',
        payoutParallelismMinCondition: ''
      },
      isAdd: true,
      tempLotteryId: '',
      dialogFormVisible: false,
      // formLabelWidth: '150px',
      rules: {
        lotteryTypeId: [
          {
            required: true,
            trigger: 'change',
            message: '请选择彩种类型'
          }
        ],
        lotteryId: [
          {
            required: true,
            message: '请选择彩种',
            trigger: 'change'
          }
        ],
        settleParallelism: [
          {
            required: true,
            trigger: 'blur',
            validator: validatasettleParallelism
          }
        ],
        settleBatchNum: [
          {
            required: true,
            trigger: 'blur',
            validator: validatasettleBatchNum
          }
        ],
        payoutParallelism: [
          {
            required: true,
            trigger: 'blur',
            validator: validatapayoutParallelism
          }
        ],
        payoutBatchNum: [
          {
            required: true,
            trigger: 'blur',
            validator: validatapayoutBatchNum
          }
        ],
        settleParallelismMinCondition: [
          {
            required: true,
            trigger: 'blur',
            validator: validatasettleParallelismMinCondition
          }
        ],
        payoutParallelismMinCondition: [
          {
            required: true,
            trigger: 'blur',
            validator: validatapayoutParallelismMinCondition
          }
        ]
      }
    }
  },
  created () {
    this._getSettleHungmantGet()
    this._getList()
    this._getLotteryTypeList()
  },
  methods: {
    async _getLotteryTypeList () {
      await getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.typeList = res.data.data.items
          // this.typeList.forEach(t => { t.id = parseInt(t.id) })
        }
      })
    },
    async handleChange (val) {
      // this.resetSelect()
      await getAjaxData({ dataType: 13, pId: val }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = []
          this.settleDetail.lotteryId = ''
          this.lotteryList = res.data.data.items
          // this.lotteryList.forEach(t => { t.id = parseInt(t.id) })
        }
      })
    },
    resetSelect () {
      this.lotteryList = []
      this.settleDetail.lotteryId = ''
      // this.settleDetail.lotteryId = ''
    },
    _getSettleHungmantGet () {
      getSettleHungmantGet().then((res) => {
        if (res.data.code === ERR_OK) {
          this.hungmant = Boolean(Number(res.data.data.hungmant))
        }
      })
    },
    changeState (v) {
      const str = v ? '开启' : '关闭'
      this.$confirm(`此操作将${str}, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          hungmant: String(Number(v))
        }
        getSettleHungmant(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
          }
          this._getSettleHungmantGet()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        this.hungmant = !v
      })
    },
    _getList () {
      this.listLoading = true
      getSettleSettingList().then((res) => {
        if (res.data.code === ERR_OK) {
          this.tableData = res.data.data.items
          this.listLoading = false
        }
      })
    },
    showDialog (row, flag) {
      this.dialogFormVisible = true
      if (flag === 1) {
        this.readonly = false
        this.isAdd = true
        this.Aotitle = '新增结算配置'
        this.settleDetail.lotteryTypeId = ''
        this.tempLotteryId = ''
        this.settleDetail.lotteryId = ''
        this.settleDetail.settleParallelism = 10
        this.settleDetail.settleBatchNum = 100
        this.settleDetail.payoutParallelism = 5
        this.settleDetail.payoutBatchNum = 100
        this.settleDetail.settleParallelismMinCondition = 1000
        this.settleDetail.payoutParallelismMinCondition = 500
      } else {
        this.Aotitle = '编辑结算配置'
        this.readonly = true
        this.isAdd = false
        this.settleDetail.lotteryTypeId = ''
        this.tempLotteryId = row.lotteryId
        this.settleDetail.lotteryId = row.lotteryName
        this.settleDetail.settleParallelism = row.settleParallelism
        this.settleDetail.settleBatchNum = row.settleBatchNum
        this.settleDetail.payoutParallelism = row.payoutParallelism
        this.settleDetail.payoutBatchNum = row.payoutBatchNum
        this.settleDetail.settleParallelismMinCondition = row.settleParallelismMinCondition
        this.settleDetail.payoutParallelismMinCondition = row.payoutParallelismMinCondition
      }
    },
    _getSettleSettingDetail (row) {
      this.dialogFormVisible = true
      const query = {
        lotteryId: row.lotteryId
      }
      getSettleSettingDetail(query).then((res) => {
        if (res.data.code === ERR_OK) {
          this.settleDetail = res.data.data
        }
      })
    },
    // // 弹出提示消息
    // showDialog(row) {
    //   console.log(row)
    //   this._getSettleSettingDetail(row)
    //   console.log(this.settleDetail)
    // },
    _postSettleSettingSave () {
      if (this.tempLotteryId) {
        this.settleDetail.lotteryId = this.tempLotteryId
      }
      this.$refs.settleDetail.validate((valid) => {
        if (valid) {
          let _fn = null
          let flagText = ''
          if (!this.readonly) {
            _fn = postSettleSettingAdd
            flagText = '新增'
          } else {
            _fn = postSettleSettingSave
            flagText = '编辑'
          }
          this.$confirm(`将${flagText}此结算配置， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const query = {
              lotteryId: this.settleDetail.lotteryId,
              settleParallelism: this.settleDetail.settleParallelism,
              settleBatchNum: this.settleDetail.settleBatchNum,
              payoutParallelism: this.settleDetail.payoutParallelism,
              payoutBatchNum: this.settleDetail.payoutBatchNum,
              settleParallelismMinCondition: this.settleDetail.settleParallelismMinCondition,
              payoutParallelismMinCondition: this.settleDetail.payoutParallelismMinCondition
            }
            _fn(query).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: `保存成功!`
                })
                this.dialogFormVisible = false
                this._getList()
              }
            })
          })
        }
      })
    },
    closeForm () {
      this.$refs.settleDetail.resetFields()
      // this.settleDetail = {}
    }
  }
}
</script>
