.site-skin--blue {
  $bgColor: #6188c9;
  .el-table--border td, .el-table--border th {
    border-right: 1px solid #dfe6ec;
  }
  .el-select-dropdown__item.selected {
    background: $bgColor;
  }
  .el-select-dropdown__item.selected.hover {
    background: $bgColor;
  }

  .site-topbar {
    background: #6899dc url('~@/assets/topbar_bg.jpg') repeat-x;
  }
  .site-topbar__header {
    border-right: 0;
  }
  .site-logo {
    width: 200px;
  }
  .site-topbar__body {
    background: url('~@/assets/topbar_body_bg01.png') no-repeat 180px center, url('~@/assets/topbar_body_bg02.png') no-repeat top right;
  }

  .site-topSider {
    background: #6899dc url('~@/assets/topbar_bg.jpg') repeat-x;
  }
  .el-menu.site-topbar__menu {
    > li + li {
      &:after {
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: -1px;
        width: 1px;
        height: 26px;
        margin-top: -13px;
        content: '';
        background-color: #fff;
      }
      border-left-color: transparent;
    }
    .el-menu-item,
    .el-submenu .el-submenu__title,
    .el-submenu.is-opened,
    .el-submenu.is-opened .el-submenu__title {
      &:hover {
        background-color: transparent;
      }
    }
    > .el-menu-item.is-active,
    .el-submenu.is-active,
    .el-submenu.is-active .el-submenu__title {
      background-color: transparent;
    }
    .el-submenu > .el-menu {
      border-color: #bfcbd9;
      border-radius: 0;
      box-shadow: none;
      background-color: #f0f0f0;
    }
    .el-submenu .el-menu-item {
      background-color: #f0f0f0;
      &:hover {
        background-color: #d3e4f9;
      }
    }
  }
  .site-sidebar {
    box-shadow: 1px 0 3px #d6d6d6;
    background-color: #ebeef3;
  }
  .site-sidebar__switch {
    width: 200px;
    background-color: #e0e9f8;
  }
  .el-menu.site-sidebar__menu {
    background-color: #ebeef3;
    .el-menu-item,
    .el-submenu .el-submenu__title {
      color: #535557;
      &:hover {
        color: #fff;
        background-color: $bgColor;
      }
    }
    .el-submenu .el-menu {
      background-color: #e0e9f8;
    }
    .el-submenu.is-opened > .el-submenu__title {
      background-color: #ebeef3;
      &:hover {
        color: #fff;
        background-color: $bgColor;
      }
    }
    > .el-menu-item.is-active,
    .el-submenu .el-menu-item.is-active {
      color: #fff;
      background-color: $bgColor;
    }
  }
  .el-autocomplete-suggestion li.highlighted,
  .el-autocomplete-suggestion li:active {
    background: $bgColor;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: rgba(11, 100, 254, 0);
  }
}
