/* common style */
$fontSizeNormal: 12px;

.app-container {
  padding: $fontSizeNormal;
}

.el-table .cell {
  font-size: $fontSizeNormal;
  padding: 0 6px;
  line-height: 24px;
}

.el-tabs__item {
  font-size: $fontSizeNormal;
}

.el-table, .el-button, .el-textarea__inner, .el-input {
  font-size: $fontSizeNormal;
}

.el-row {
  font-size: $fontSizeNormal;
}

.el-table__empty-block {
  min-height: 40px;
}

.app-container {
  min-width: 500px;
}

.el-pagination {
  padding-right: 0;
}
