@font-face {
  font-family: "crfont";
  src: url('./fonts/iconfont.eot?t=1528965753595'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1528965753595#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/iconfont.ttf?t=1528965753595') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./fonts/iconfont.svg?t=1528965753595#crfont') format('svg'); /* iOS 4.1- */
}

.crfont {
  font-family: "crfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-dianhuajianpan:before {
  content: "\e61d";
}

.icon-huchudianhua:before {
  content: "\e61e";
}

.icon-laidianxianshi:before {
  content: "\e61f";
}

.icon-mima:before {
  content: "\e620";
}

.icon-chuzuche:before {
  content: "\e621";
}

.icon-dengpaotishi:before {
  content: "\e622";
}

.icon-feijichang:before {
  content: "\e623";
}

.icon-hujiaozhuanyi:before {
  content: "\e624";
}

.icon-huangguan:before {
  content: "\e625";
}

.icon-huochezhan:before {
  content: "\e626";
}

.icon-qichezhan:before {
  content: "\e627";
}

.icon-qunzu:before {
  content: "\e628";
}

.icon-shanchu:before {
  content: "\e629";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-shengyin:before {
  content: "\e62b";
}

.icon-shizhong:before {
  content: "\e62c";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-tianjiayonghu:before {
  content: "\e630";
}

.icon-tongxunlu:before {
  content: "\e631";
}

.icon-xiugai:before {
  content: "\e632";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-zan:before {
  content: "\e634";
}

.icon-dianhuaqiaguzhang:before {
  content: "\e638";
}

.icon-duihuaxinxi:before {
  content: "\e639";
}

.icon-rili:before {
  content: "\e63a";
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-tianjiadianhuaqia:before {
  content: "\e63d";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-wuliu:before {
  content: "\e63f";
}

.icon-xinfeng:before {
  content: "\e640";
}

.icon-yiyuan:before {
  content: "\e641";
}

.icon-yinle:before {
  content: "\e642";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-zuanshi:before {
  content: "\e644";
}

.icon-zuoji:before {
  content: "\e645";
}

.icon-ktv:before {
  content: "\e646";
}

.icon-simqia:before {
  content: "\e647";
}

.icon-wifi:before {
  content: "\e648";
}

.icon-anquan:before {
  content: "\e649";
}

.icon-bangzhu:before {
  content: "\e64a";
}

.icon-bukaixin:before {
  content: "\e64b";
}

.icon-dibiao:before {
  content: "\e64d";
}

.icon-fenleiorguangchangorqita:before {
  content: "\e64f";
}

.icon-fenxiang:before {
  content: "\e650";
}

.icon-jiaxingshoucang:before {
  content: "\e651";
}

.icon-jinzhitishi:before {
  content: "\e652";
}

.icon-kaixin:before {
  content: "\e653";
}

.icon-liwu:before {
  content: "\e654";
}

.icon-qian:before {
  content: "\e655";
}

.icon-qingdan:before {
  content: "\e656";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-xiai:before {
  content: "\e658";
}

.icon-zhengquetishi:before {
  content: "\e65a";
}

.icon-biaoqian:before {
  content: "\e65b";
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-duigou:before {
  content: "\e65d";
}

.icon-duihuan:before {
  content: "\e65e";
}

.icon-erweima:before {
  content: "\e65f";
}

.icon-gengduo:before {
  content: "\e660";
}

.icon-guanbi:before {
  content: "\e661";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-jinbiduihuan:before {
  content: "\e663";
}

.icon-saoyisao:before {
  content: "\e664";
}

.icon-shangchuan:before {
  content: "\e665";
}

.icon-shuaxin:before {
  content: "\e666";
}

.icon-tiquliuliang:before {
  content: "\e667";
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-youhuiquan:before {
  content: "\e669";
}

.icon-zhuanzengliuliang:before {
  content: "\e66a";
}

.icon-zhuanqugengduoliuliang:before {
  content: "\e66b";
}

.icon-cuowutishi:before {
  content: "\e66c";
}

.icon-simqiaguzhang:before {
  content: "\e66f";
}

.icon-anquantianchong:before {
  content: "\e670";
}

.icon-bangzhutianchong:before {
  content: "\e671";
}

.icon-bukaixintianchong:before {
  content: "\e673";
}

.icon-chuzuchetianchong:before {
  content: "\e674";
}

.icon-cuowutishitianchong:before {
  content: "\e675";
}

.icon-dibiaotianchong:before {
  content: "\e676";
}

.icon-dengdaitianchong:before {
  content: "\e677";
}

.icon-dianhuatianchong:before {
  content: "\e678";
}

.icon-dianhuajianpantianchong:before {
  content: "\e679";
}

.icon-duihuaxinxitianchong:before {
  content: "\e67a";
}

.icon-faxiantianchong:before {
  content: "\e67b";
}

.icon-feijichangtianchong:before {
  content: "\e67c";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-fenxiangtianchong:before {
  content: "\e67e";
}

.icon-gengduotianchong:before {
  content: "\e67f";
}

.icon-huchudianhuatianchong:before {
  content: "\e680";
}

.icon-hujiaozhuanyitianchong:before {
  content: "\e681";
}

.icon-jiaxingshoucangtianchong:before {
  content: "\e683";
}

.icon-kaixintianchong:before {
  content: "\e684";
}

.icon-laidianxianshitianchong:before {
  content: "\e685";
}

.icon-lipintianchong:before {
  content: "\e686";
}

.icon-qichezhantianchong:before {
  content: "\e687";
}

.icon-qiantianchong:before {
  content: "\e688";
}

.icon-qunzutianchong:before {
  content: "\e68a";
}

.icon-shanchutianchong:before {
  content: "\e68c";
}

.icon-shezhitianchong:before {
  content: "\e68d";
}

.icon-shizhongtianchong:before {
  content: "\e68f";
}

.icon-shipintianchong:before {
  content: "\e690";
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-tixingtianchong:before {
  content: "\e695";
}

.icon-tianjiatianchong:before {
  content: "\e696";
}

.icon-tianjiayonghutianchong:before {
  content: "\e697";
}

.icon-tianjiasimqiatianchong:before {
  content: "\e698";
}

.icon-tongxunlutianchong:before {
  content: "\e699";
}

.icon-wuliutianchong:before {
  content: "\e69c";
}

.icon-xiaitianchong:before {
  content: "\e69d";
}

.icon-xinfengtianchong:before {
  content: "\e69e";
}

.icon-xiugaitianchong:before {
  content: "\e69f";
}

.icon-yiyuantianchong:before {
  content: "\e6a0";
}

.icon-yinletianchong:before {
  content: "\e6a1";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-zantianchong:before {
  content: "\e6a4";
}

.icon-zhengquetishitianchong:before {
  content: "\e6a5";
}

.icon-zuanshitianchong:before {
  content: "\e6a6";
}

.icon-zuojitianchong:before {
  content: "\e6a7";
}

.icon-wifitianchong:before {
  content: "\e6ab";
}

.icon-qingdantianchong:before {
  content: "\e6ad";
}

.icon-rilitianchong:before {
  content: "\e6ae";
}

.icon-huochezhantianchong:before {
  content: "\e6b0";
}

.icon-tupiantianchong:before {
  content: "\e6b2";
}

.icon-shengyintianchong:before {
  content: "\e6b3";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-shoujitianchong:before {
  content: "\e6b9";
}

.icon-wangtingtianchong:before {
  content: "\e6bb";
}

.icon-kuandaitianchong:before {
  content: "\e6c0";
}

.icon-chongliuliangtianchong:before {
  content: "\e6c2";
}

.icon-shoujitianchong1:before {
  content: "\e6c4";
}

.icon-shoujichongzhitianchong:before {
  content: "\e6c5";
}

.icon-bangzhuzhongxin:before {
  content: "\e606";
}

.icon-shurutianchong:before {
  content: "\e6ca";
}

.icon-chahuafeitianchong:before {
  content: "\e6d1";
}

.icon-fasongxinxitianchong:before {
  content: "\e6d2";
}

.icon-wenbenbianjitianchong:before {
  content: "\e6d4";
}

.icon-wenbenbianji:before {
  content: "\e6d5";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-fuzhi:before {
  content: "\e68e";
}

.icon-yuyinspeech66:before {
  content: "\e75c";
}

.icon-icon2:before {
  content: "\e636";
}

.icon-key:before {
  content: "\e68b";
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-icon-import:before {
  content: "\e691";
}

.icon-edm:before {
  content: "\e609";
}

.icon-qq:before {
  content: "\e7c3";
}

.icon-guojiyinsi:before {
  content: "\e659";
}

.icon-baohusan:before {
  content: "\e719";
}

.icon-duanxin1:before {
  content: "\e71a";
}

.icon-jilu:before {
  content: "\e71c";
}

.icon-shirenrenzheng:before {
  content: "\e71f";
}

.icon-shezhi1:before {
  content: "\e720";
}

.icon-shouji:before {
  content: "\e721";
}

.icon-suo:before {
  content: "\e722";
}

.icon-tongji1:before {
  content: "\e723";
}

.icon-tupian1:before {
  content: "\e725";
}

.icon-tongxunlu1:before {
  content: "\e726";
}

.icon-wenjianjia:before {
  content: "\e727";
}

.icon-wendangxiugai:before {
  content: "\e728";
}

.icon-xiazai1:before {
  content: "\e729";
}

.icon-wodetongxin:before {
  content: "\e72a";
}

.icon-xinxi1:before {
  content: "\e72b";
}

.icon-yibantishi:before {
  content: "\e72c";
}

.icon-yonghu1:before {
  content: "\e72d";
}

.icon-01:before {
  content: "\e610";
}

.icon-bangding:before {
  content: "\e72e";
}

.icon-fapiao:before {
  content: "\e72f";
}

.icon-jiechubangding:before {
  content: "\e730";
}

.icon-duanxin:before {
  content: "\e608";
}

.icon-mms:before {
  content: "\e69a";
}

.icon-wendang:before {
  content: "\e66e";
}

.icon-zhangdan:before {
  content: "\e731";
}

.icon-huafeiquan:before {
  content: "\e732";
}

.icon-kaifazhezhongxin:before {
  content: "\e7c2";
}

.icon-yanzhengma:before {
  content: "\e672";
}

.icon-shoujichongzhi:before {
  content: "\e733";
}

.icon-goumai:before {
  content: "\e73b";
}

.icon-icon_kaifazhebanbenfabuguanli:before {
  content: "\e890";
}

.icon-kongzhitai:before {
  content: "\e62e";
}

.icon-icon-test:before {
  content: "\e689";
}

.icon-kaifazheID:before {
  content: "\e60b";
}

.icon-tongji:before {
  content: "\e66d";
}

.icon-yuyin:before {
  content: "\e682";
}

.icon-tongji3:before {
  content: "\e615";
}

.icon-guojidianhua:before {
  content: "\e637";
}

.icon-securityCode-b:before {
  content: "\e60f";
}

.icon-icon-eye-open:before {
  content: "\e60c";
}

.icon-icon-eye-close:before {
  content: "\e60e";
}

.icon-icon-:before {
  content: "\e601";
}

.icon-rizhi:before {
  content: "\e600";
}

.icon-moban:before {
  content: "\e60a";
}

.icon-world:before {
  content: "\e635";
}

.icon-xinxi:before {
  content: "\e60d";
}
