/*
  2021/07/13 整入flexbox sass library
*/

@import './variables.scss';
@import './mixin.scss';
@import "./_easing.scss";
@import "./_flexbox.scss";
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './selfLottey';
@import './common';
@import './btn.scss';
@import './_dataAttribute';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
  height: 100%;
  width: 100%;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.no-marginLeft {
  .el-checkbox {
    margin: 0 20px 15px 0;
  }

  .el-checkbox + .el-checkbox {
    margin-left: 0px;
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  margin: 12px;
  padding: 0;
  border: 1px solid #d1dbe5;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04) !important;

   ::v-deep .el-card__body {
    padding: 15px;
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin: 15px 0;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

code {
  background: #eef1f6;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.navbar {
  .el-menu.el-menu--horizontal {
    border: none;
  }

  .el-menu--horizontal > .el-submenu .el-submenu__title {
    height: 50px;
    line-height: 50px;
    color: #fff
  }

  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    color: #fff;
    border-bottom: 2px solid #fff
  }

  .el-menu--horizontal > .el-submenu:focus .el-submenu__title, .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
    color: #fff
  }

  .el-menu--horizontal > .el-menu-item {
    color: #fff !important;

    &:hover {
      background: transparent !important;
    }
  }

  .el-menu--horizontal > .el-submenu:hover, .el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background: transparent !important;
    color: #fff !important;
  }

  .el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
    color: #fff
  }
}

// jsoneditor
.el-dialog__wrapper {
  .components-container {
    margin: 30px 50px;
    position: relative;
  }

  .editor-container .CodeMirror {
    height: 500px;
  }

  &.JSONDialog {
    .el-dialog__body {
      padding: 0;
      padding-bottom: 10px;

      .components-container {
        margin: 10px 20px;
      }
    }
  }

  &.orderDetailInfo {
    .el-dialog__body {
      padding: 10px 20px;

      .components-container {
        margin: 0;

        .editor-container {
          position: relative;
          height: 100%;
        }
      }
    }
  }

  &.orderDetail {
    .el-dialog__body {
      padding-top: 0;
    }
  }
}

.editorClass {
  .el-dialog__body {
    max-height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 1px;
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.30, #162940), color-stop(0.60, #3067A9), color-stop(0.90, #3B87E2));
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background-color: #f7f7f7;
    }
  }
}

.text-center {
  text-align: center
}

.active_green {
  color: #13ce66;
}

.active_red {
  color: red;
}

.active_blue {
  color: #0d11e9;
}

.errFocus {
  .el-input__inner {
    border: 1px solid #f00;
    border-radius: 4px;

    &:hover, &:focus {
      border-color: #f00;
    }
  }
}

// cache页面group-radio样式重置
.cacheRadioGroup {
  padding: 10px 0;
  border: 1px solid #00bcd4;

  .el-radio {
    width: 180px;
    padding: 10px;
    margin-right: 30px;
  }

  .el-radio + .el-radio {
    margin-left: 0px;
  }
}

// 系统自开彩表格
.el-table {
  border: 1px solid #dfe6ec !important;

  &.selfTable {
    td, th {
      padding: 0;
    }
  }

  th {
    border-right: 1px solid #dfe6ec !important;
    background-color: #eef1f6 !important;
  }
}

.el-dialog__header {
  padding-left: 0;
}

.el-dialog__title {
  border-bottom: 2px solid #00bcd4;
  padding: 15px;
  padding-bottom: 11px;
}

.el-tree, .el-tabs__content,
  //.el-table__body-wrapper,
html {
  /* 滚动条整体样式 */
  &::-webkit-scrollbar {
    /* 高宽分别对应横竖滚动条的尺寸 */
    width: 10px;
    height: 10px;
  }

  /* 滚动条里面小方块 */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.90, #eef0f6), color-stop(0.80, #d1d7e5), color-stop(0.70, #d1d7e5));
  }

  /* 滚动条里面轨道 */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
    background-color: #f7f7f7;
  }
}

.red {
  color: #f00;
}

// 抽屉组件头部outline
.el-drawer__header > :first-child {
  outline: none
}

.tui-tooltip {
  z-index: 999999 !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; //超出部分以省略号显示
  white-space: nowrap;
  width: 100px;
  color: #00bcd4;
  cursor: pointer;
}
