@import "var.scss";

@font-face {
  font-family: "time-font";
  src: url('~@/styles/fonts/Altitude.otf'), url('~@/styles/fonts/Altitude.eot'), url('~@/styles/fonts/altitude.ttf');
  font-weight: 600;
}

.lt-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Microsoft YaHei", Arial, sans-serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: $fontSize;
  color: $textColor;
  background: $bgcolor;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:focus {
    outline: none;
  }

  img {
    border: none;
  }

  .redFont {
    color: $hover-color;
  }

  .greenFont {
    color: #259B24;
  }

  .blueFont {
    color: #0788F7;
  }

  .yellowFont {
    color: #ffd800;
  }

  .grayFont {
    color: rgba(16, 16, 16, 0.35);
  }
}

.lt-room-wrapper {
  color: $textColor;
  //width: 1136px;
}

.room-title {
  height: 50px;
  line-height: 50px;
  margin-bottom: 4px;

  span {
    font-size: 19px;
    font-weight: 600;
    position: relative;
  }

  span::after {
    content: "";
    display: block;
    height: 3px;
    width: 114px;
    background-color: $hover-color;
    position: absolute;
    top: 28px;
    left: 0;
  }
}

.lt-room-item {
  display: inline-block;
  width: 370px;
  height: 295px;
  margin: 0 13px 13px 0;
  border: $border;
  border-radius: 4px;
  overflow: hidden;

  .box {
    width: 100%;
    height: 100%;

    .box-top {
      position: relative;
      top: 0;
      height: 130px;
      padding-top: 17px;
      width: 362px;
      margin: 0 auto;
      border-bottom: 2px dotted $border-color;

      .lottery-icon {
        width: 90px;
        height: 90px;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        left: 21px;
        top: 21px;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .box-top-right {
        padding-left: 116px;

        h3 {
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          width: 246px;
          text-align: center;
          text-overflow: clip;
          white-space: nowrap;
          overflow: hidden;
        }

        p {
          margin: 7px 0 0;
          width: 246px;
          text-align: center;
          font-size: 17px;

          span {
            color: $hover-color;
          }
        }

        .f-time {
          width: 246px;
          margin-top: 12px;
        }

        .time {
          background: $part-bgcolor;
          height: 34px;
          line-height: 34px;
          text-align: center;
          border-radius: 4px;
          font-size: 16px;
          width: 140px;
          text-overflow: clip;
          white-space: nowrap;
          overflow: hidden;
          margin: 0 auto;

          img {
            vertical-align: text-bottom;
          }
        }
      }
    }

    .box-mid {
      height: 60px;
      position: relative;

      .put-box {
        text-align: center;

        .lt-input-box {
          position: relative;

          .plus {
            font-size: 20px;
          }

          .animal {
            position: absolute;
            bottom: -20px;
            left: 8px;
          }
        }

        .lt-input {
          width: 35px;
          height: 35px;
          outline: 0;
          font-size: 20px;
          border: $border;
          text-align: center;
          margin-right: 1px;
          color: red;

          &.six {
            width: 30px;
            height: 30px;
            font-size: 18px;
          }
        }

        .num-dot {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #ff5151;
          font-size: 20px;
          line-height: 35px;
          text-align: center;
          color: #f6f6f6;
          margin-right: 3px;
          margin-left: 3px;
          transition: all .2s linear;

          &.six {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
          }
        }

        .dataExt {
          display: inline-block;
          //width: 20px;
          //height: 20px;

          span {
            color: red;
          }
        }
      }

      .box-mid-left {
        width: 98px;
        line-height: 60px;
        font-size: 16px;
        text-align: center;
        float: left;
      }

      .box-mid-right {
        float: left;
        width: 270px;
        text-align: center;

        span {
          span:last-child {
            .lhc-circle {
              margin-left: 25px;
              position: relative;
            }

            span.lhc-circle::before {
              content: '+';
              position: absolute;
              left: -21px;
              top: -1px;
              color: rgb(81, 81, 81);
              font-size: 18px;
            }
          }
        }

        .circle {
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          text-align: center;
          background-color: $hover-color;
          color: #fff;
          font-size: 16px;
          display: inline-block;
          margin-right: 10px;
        }

        .circle-small, .lhc-circle {
          width: 22px;
          height: 22px;
          line-height: 22px;
          font-size: 13px;
          border-radius: 50%;
          display: inline-block;
          color: #fff;
          margin-right: 5px;
        }

        // 六合彩样式
        .red-ball {
          background-color: $hover-color;
        }

        .blue-ball {
          background-color: #2299d5;
        }

        .green-ball {
          background-color: #3fa93f;
        }

        // 快三样式
        .die {
          background-size: 24px 24px;
          background-repeat: no-repeat;
          margin-right: 26px;
          height: 24px;
          width: 24px;
          display: inline-block;
          color: transparent;
          position: relative;
          top: 5px;
        }

        .k3-plus {
          position: absolute;
          left: 30px;
          top: -20px;
          color: #515151;
          font-size: 18px;
        }

        .k3-sum {
          position: absolute;
          color: #515151;
          left: 52px;
          top: -20px;

          &:before {
            content: '=';
            color: #515151;
            font-size: 18px;
            position: absolute;
            left: -18px;
          }
        }

        .die1 {
          background-image: url('~@/assets/die111.png');
        }

        .die2 {
          background-image: url('~@/assets/die222.png');
        }

        .die3 {
          background-image: url('~@/assets/die333.png');
        }

        .die4 {
          background-image: url('~@/assets/die444.png');
        }

        .die5 {
          background-image: url('~@/assets/die555.png');
        }

        .die6 {
          background-image: url('~@/assets/die666.png');
        }

        // PK10样式
        .pk10-numbs {
          display: inline-block;
          height: 22px;
          width: 22px;
          line-height: 22px;
          margin-right: 5px;
          border-radius: 4px;
          color: white;
        }

        .num01 {
          background-color: #e5b800;
        }

        .num02 {
          background-color: #0278d7;
        }

        .num03 {
          background-color: #474c50;
        }

        .num04 {
          background-color: #f17403;
        }

        .num05 {
          background-color: #25b5cb;
        }

        .num06 {
          background-color: #003e92;
        }

        .num07 {
          background-color: #aa9e9e;
        }

        .num08 {
          background-color: #ea075f;
        }

        .num09 {
          background-color: #7e0209;
        }

        .num10 {
          background-color: #288c06;
        }

        // PC蛋蛋样式
        .pc-circle {
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          text-align: center;
          background-color: $hover-color;
          color: #fff;
          font-size: 16px;
          display: inline-block;
          margin-right: 25px;
          position: relative;

          &::before {
            content: '';
          }
        }

        .blue {
          background-color: #2299d5;
        }

        .red {
          background-color: $hover-color;
        }

        .green {
          background-color: #3fa93f;
        }

        .gray {
          background-color: #7f7c77;
        }

        .sum {
          position: absolute;
          left: 55px;

          &::before {
            content: "=";
            color: rgb(81, 81, 81);
            position: absolute;
            left: -18px;
            top: -1px;
          }
        }

        .plus {
          font-size: 18px;
          position: absolute;
          left: 36px;
          top: -2px;
          color: rgb(81, 81, 81);
        }

        .box-mid-right-text {
          font-size: 16px;
          line-height: 60px;
        }
      }

      .max-height {
        line-height: 60px;
      }

      .min-height {
        line-height: 30px;
      }
    }

    .box-bot {
      width: 100%;
      height: 43px;
      line-height: 43px;
      border-top: 1px solid $border-color;

      > .item {
        width: 33.33%;
        float: left;
        margin: 0;
        background-color: #f1f1f1;
        text-align: center;
        font-size: 17px;
        position: relative;
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
        }

        &:not(last-child) {
          &::after {
            content: "|";
            font-size: 24px;
            position: absolute;
            left: 120px;
            color: $border-color;
            margin-top: -2px;
            z-index: 99;
          }
        }

        &:nth-child(2n) {
          &::after {
            left: 116px;
          }
        }
      }

      a.bg-primary {
        background-color: $hover-color;
        color: #fff;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
