// 全局文字尺寸
$fontSize: 15px;
// 全局文字颜色
$textColor: #515151;
//全局背景色
$bgcolor: #fff;
//全局边框颜色
$border-color: #dadada;
//全局小球渐变背景
$background: linear-gradient(#fff, #fefefe, #fcfcfc, #fafafa, #f9f9f9, #f7f7f7, #f5f5f5, #f3f3f3, #f1f1f1, #f0f0f0, #ededeb);
//全局底部框
$border-bottom: 1px solid #dadada;
//全局边框阴影
$box-shadow: 0 1px 1px 1px #e7e7e7;
//全局边框
$border: 1px solid #dadada;
//局部背景色
$part-bgcolor: #f5f5f5;
//悬浮字体颜色
$hover-color: #ff5151;
//背景字体颜色
$bg-color: #fff;
//play.vue字体颜色
$play-color: #888;
//全5中1未选中字体颜色
$q5z1-color: #888;
//全5中1标注颜色：
$mark-color: #afafaf;
//全5中1边框
$q5z1-border: 1px solid #b8b8b8;
//所有弹窗字体颜色
$pop-up-color: #909090;
//六合彩字体
$lhc-color: #9b9b9b;
