<template>
  <el-card>
    <common-component :items='ReportLotteryBetAmountSearch' :list-loading='listLoading'
                      @changeSort='changeSort'>
      <template slot='filter'>
        <el-form :inline='true'>
          <el-form-item>
            <!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
            <!--												           clearable default-first-option-->
            <!--												           v-model="listQuery.spCode">-->
            <!--														<el-option-->
            <!--															v-for="item in spList"-->
            <!--															:key="item.id"-->
            <!--															:label="item.id"-->
            <!--															:value="item.id">-->
            <!--														</el-option>-->
            <!--												</el-select>-->
            <fuzzy-query-search
              :options='{type:"spCode",placeholder:"请输入厅编码"}'
              @dealChange='dealChange'></fuzzy-query-search>
          </el-form-item>
          <el-form-item>
            <el-select v-model="lotteryTypeId" clearable filterable default-first-option
                       placeholder="选择彩种类型"
                       @change="handleChange">
              <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name"
                         :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.lotteryId" clearable filterable default-first-option
                       placeholder="选择彩种"
            >
              <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.timeZone" default-first-option
                       placeholder="请选择时区"
            >
              <el-option label="北京时间" :value="1"></el-option>
              <el-option label="美东时间" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <date-range v-show="listQuery.timeZone === 2" ref="dateRange"
                        :options="dateRangeOption"></date-range>
            <date-range v-show="listQuery.timeZone === 1" ref="dateRangeCn"
                        :options="dateRangeOptionCn"></date-range>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="search"
                       icon="el-icon-search"
                       :disabled="hasPermission('ReportLotteryBetAmountSearch')"
                       :loading="listLoading">查询
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="exportExel" :loading="loaded"
                       :disabled="!ReportLotteryBetAmountSearch.length||hasPermission('ReportLotteryBetAmountExport')">
              报表导出
            </el-button>
          </el-form-item>
        </el-form>
      </template>
      <template slot='otherColumn'>
        <el-table-column
          prop="lotteryName"
          align="right"
          min-width="100"
          label="彩种名称">
        </el-table-column>
        <el-table-column
          prop="lotteryId"
          align="right"
          min-width="100"
          label="彩种ID">
        </el-table-column>
      </template>
      <template slot='page'>
        <div v-if="total" class="pagination-container fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page.sync="listQuery.pageNo"
                         :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                         layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </template>
    </common-component>
  </el-card>
</template>
<script>
  import { getReportLotteryBetAmountSearch } from 'api/report'
  import { ERR_OK } from 'api/config'
  import { getAjaxData, postReportExport } from 'api/common'
  import { parseTime } from 'utils/index'
  import dateRange from 'components/dateRange/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import tools from 'utils/tools'
  import commonComponent from '../commonComponent'

  export default {
    name: 'Index',
    components: { commonComponent, dateRange, fuzzyQuerySearch },
    data () {
      return {
        ReportLotteryBetAmountSearch: [],
        dataValue: [],
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: (new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)),
          dateEnd: (new Date())
        },
        lotteryTypeId: '',
        // spList: [],
        // stausArr: [
        //   {
        //     value: 0,
        //     label: '未结算'
        //   },
        //   {
        //     value: 1,
        //     label: '用户撤单'
        //   },
        //   {
        //     value: 2,
        //     label: '追号撤单'
        //   },
        //   {
        //     value: 3,
        //     label: '系统撤单'
        //   },
        //   {
        //     value: 4,
        //     label: '已结算_输'
        //   },
        //   {
        //     value: 5,
        //     label: '已结算_平局'
        //   },
        //   {
        //     value: 6,
        //     label: '已结算_赢'
        //   }
        // ],
        listQuery: {
          spCode: '',
          lotteryId: '',
          timeZone: 2,
          beginTime: '',
          endTime: '',
          // batchStatus: '',
          // loginId: '',
          issue: '',
          // searchType: 1,
          orderField: '',
          orderSort: 'DESC',
          pageNo: 1,
          pageSize: 10
        },
        options: [],
        total: 0,
        loaded: false,
        listLoading: false,
        lotteryTypeList: []
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      setDatetime () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport({ ...this.listQuery, cmd: 'ReportLotteryBetAmountExport' }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 4)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      changeSort (v) {
        this.listQuery.orderField = v.prop
        if (v.order === 'ascending') {
          this.listQuery.orderSort = 'ASC'
        } else {
          this.listQuery.orderSort = 'DESC'
        }
        this._getReportLotteryBetAmountSearch()
      },
      getSummaries (param) {
        const { columns, data } = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 1 || index === 26) {
            sums[index] = ''
            return
          }
          const values = data.map((item) => Number(item[column.property]))
          if (!values.every((value) => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              }
              return prev
            }, 0)
            if (index === 3 || index === 6 || index === 8 || index === 10 || index === 13 || index === 16 || index === 19 || index === 22 || index === 24 || index === 25) {
              sums[index] = sums[index].toFixed(2)
            }
          } else {
            sums[index] = ''
          }
        })
        return sums
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getReportLotteryBetAmountSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getReportLotteryBetAmountSearch()
      },
      _getReportLotteryBetAmountSearch () {
        if (this.listQuery.searchType === 2) {
          if (!this.listQuery.lotteryId) {
            this.$message({
              type: 'error',
              message: '请选择彩种'
            })
            return
          }
          if (!this.listQuery.issue) {
            this.$message({
              type: 'error',
              message: '请输入彩期'
            })
            return
          }
        }
        if (this.lotteryTypeId && !this.listQuery.lotteryId) {
          this.$notify({
            type: 'error',
            title: '错误',
            message: '请选择彩种',
            offset: 200
          })
          return
        }
        this.setDatetime()
        this.listLoading = true
        const {
                spCode, lotteryId, beginTime, endTime, searchType, issue, timeZone, orderField, orderSort, pageNo, pageSize
              } = this.listQuery
        getReportLotteryBetAmountSearch({
          spCode,
          lotteryId,
          beginTime: searchType === 2 ? '' : beginTime,
          issue: searchType === 2 ? issue : '',
          endTime: searchType === 2 ? '' : endTime,
          searchType,
          timeZone,
          orderField,
          orderSort,
          pageNo,
          pageSize
          // batchStatus: batchStatus.join(',')
        }).then((res) => {
          // 杀率=1-(中奖金额+投注返点额)/有效投注额
          if (res.data.code === ERR_OK) {
            this.ReportLotteryBetAmountSearch = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      search () {
        this.listQuery.pageNo = 1
        this._getReportLotteryBetAmountSearch()
      }
    },
    created () {
      // this._getSpInfoList()
      this._getLotteryTypeList()
    }
  }
</script>

<style lang='scss' scoped>

</style>
