<template>
  <el-card v-loading='listLoading'>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择数据源"
                   clearable default-first-option
                   v-model="listQuery.sourceCode">
          <el-option
            v-for="item in sourceCodeList"
            :key="item.sourceCode"
            :label="item.sourceName"
            :value="item.sourceCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择厅状态"
                   v-model="listQuery.spStatus">
          <el-option
            label="全部"
            value="">
          </el-option>
          <el-option
            label="启用"
            :value="1">
          </el-option>
          <el-option
            label="禁用"
            :value="0">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button :loading="listLoading" @click.native="_search" type="primary"
                   :disabled="hasPermission('ShardingDBList')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button @click.native="_add" type="primary"
                   :disabled="hasPermission('ShardingDBSave')">添加
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      border
      :data="tableData"
      style="width: 100%">
      <el-table-column
        align="right"
        type='index'
        label="序号"
        min-width="100">
      </el-table-column>
      <el-table-column
        align="right"
        prop="spCode"
        label="厅编码"
        min-width="100"
      >
      </el-table-column>
      <el-table-column
        align="right"
        prop="spName"
        label="厅名称"
        min-width="100"
      >
      </el-table-column>
      <el-table-column
        align="right"
        prop="spStatus"
        label="厅状态"
        min-width="100"
      >
        <template slot-scope="scope">
          <span :class="{'active_green':scope.row.spStatus===1,red:scope.row.spStatus===0}">{{scope.row.spStatus?'启用':'禁用'}}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="sourceName"
        label="数据源名称"
        min-width="180">
      </el-table-column>
      <el-table-column
        align="right"
        prop="sourceCode"
        label="数据源编码"
        min-width='120'
        sortable>
      </el-table-column>
      <el-table-column
        align="right"
        prop="createUser"
        min-width='120'
        label="创建人">
      </el-table-column>
      <el-table-column
        align="right"
        prop="createTime"
        label="创建时间"
        min-width='150'>
      </el-table-column>
    </el-table>
    <!-- 弹框 -->
    <el-dialog
      title="数据源绑定"
      :visible.sync="dialogVisible"
      width="500px"
      :before-close="handleClose">
      <el-alert
        effect="dark"
        style="margin-bottom: 15px"
        title="温馨提示：数据源一经绑定不能修改与删除，请谨慎操作!"
        type="warning"
        show-icon>
      </el-alert>
      <el-form :model="shareDB"
               label-width="100px"
               ref="addShareDBForm"
               :rules="rules">
        <el-form-item label='可选厅主' prop='spCode'>
          <el-select style="width: 280px" v-model="shareDB.spCode" placeholder="请选择厅主" filterable>
            <el-option
              v-for="item in effectiveSpCodes"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <!-- <el-input size="max" v-model="spcode" placeholder="请选择厅主"></el-input> -->
        <el-form-item label='数据源' prop='sourceCode'>
          <el-select style="width: 280px" v-model="shareDB.sourceCode" placeholder="请选择数据源">
            <el-option
              v-for="item in sourceCodeList"
              :key="item.sourceCode"
              :label="item.sourceName"
              :value="item.sourceCode">
            </el-option>
          </el-select>
          <!-- <el-input size="max" v-model="sourceCode" placeholder="请选择数据源"></el-input> -->
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer text-center">
        <el-button @click="_clearForm">取 消</el-button>
        <el-button type="primary" @click="_saveData">保 存</el-button>
      </div>
    </el-dialog>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import { getShardingDBList, getShardingDBInit, getShardingDBSave } from 'api/spInfoList'
  import { parseTime } from 'utils/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        total: 0,
        effectiveSpCodes: [],
        sourceCode: '',
        dialogVisible: false,
        tableData: [],
        listLoading: false,
        listQuery: {
          sourceCode: '',
          spCode: '',
          pageSize: 10,
          pageNo: 1,
          spStatus: ''
        },
        shareDB: {
          spCode: '',
          sourceCode: ''
        },
        sourceCodeList: [],
        // spList: [],
        rules: {
          spCode: [
            { required: true, message: '请选择厅主', trigger: 'change' }
          ],
          sourceCode: [
            { required: true, message: '请选择数据源', trigger: 'change' }
          ]
        }
      }
    },
    created () {
      // this._getSpInfoList()
      this._getShardingDBAdd()
      this._search()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _add () {
        this.dialogVisible = true
      },
      handleClose (done) {
        this._clearForm()
        done()
      },
      // 重置dialog
      _clearForm () {
        this.$refs.addShareDBForm.resetFields()
        this.dialogVisible = false
        this.shareDB = {
          spCode: '',
          sourceCode: ''
        }
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      // 查询
      _getList () {
        this.listLoading = true
        getShardingDBList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tableData = res.data.data.elements
            this.tableData = this.tableData.map((item) => {
              item.createTime = parseTime(new Date(item.createTime))
              return item
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      _saveData () {
        this.$refs.addShareDBForm.validate((valid) => {
          if (valid) {
            this.$confirm(`将进行分库数据源绑定操作， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.listLoading = true
              getShardingDBSave(this.shareDB).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `操作成功！`
                  })
                  this._search()
                  this._getShardingDBAdd()
                  this.dialogVisible = false
                }
                this.listLoading = false
                this._clearForm()
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '取消操作'
                })
              })
            })
          }
        })
      },
      //  获取数据源列表
      _getShardingDBAdd () {
        getShardingDBInit().then((res) => {
          this.sourceCodeList = res.data.data.datasourceList
          this.effectiveSpCodes = res.data.data.spCodeList.map((item) => {
            const spCode = {}
            spCode.label = item
            spCode.value = item
            return spCode
          })
        })
      }
      // 获取厅主列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   }).catch(err => {
      //     console.log(err)
      //   })
      // }
    }
  }
</script>
