<template>
  <div class="dashboard-container">
    <component :is="currentRole"></component>
  </div>
</template>

<script>
  import Dashboard from './default/index'

  export default {
    // name: 'Dashboard',
    components: { Dashboard },
    data () {
      return {
        currentRole: 'Dashboard'
      }
    }
  }
</script>
<!--<style lang="scss">-->
<!--.dashboard-container{-->
<!--background: rgb(255,255,255);-->
<!--/*position: absolute;*/-->
<!--/*top: 50px;*/-->
<!--/*right: 0;*/-->
<!--/*width: 100%;*/-->
<!--/*height: 100%;*/-->
<!--/*.dashboard-editor-container{*/-->
<!--/*position: absolute;*/-->
<!--/*top: 0;*/-->
<!--/*right: 0;*/-->
<!--/*width:85%;*/-->
<!--/*}*/-->
<!--}-->
<!--</style>-->
