<template>
  <el-select filterable clearable
             style="width: 180px"
             placeholder="请选择自开彩彩种"
             :value="value"
             @input=" $emit('input', $event)">
    <el-option
      v-for="item in lotteryes"
      :key="item.id"
      :label="item.name"
      :value="item.id">
    </el-option>
  </el-select>
</template>

<script>
  import { getAjaxData } from 'api/common'
  import { ERR_OK } from 'api/config'

  export default {
    data () {
      return {
        lotteryes: []
      }
    },
    props: {
      value: {
        type: String,
        required: true
      }
    },
    mounted () {
      this._getLotteryList()
      console.log(this.lotteryes)
    },
    methods: {
      async _getLotteryList () {
        const r = await getAjaxData({ dataType: 25 })
        console.log(this)
        if (r.data.code === ERR_OK) this.lotteryes = [].concat(r.data.data.items)
      }
    }
  }
</script>

<style scoped>

</style>
