<template>
  <el-cascader filterable clearable
               :options="lotteryTypeList"
               placeholder="请选择彩种"
               @active-item-change="handleItemChange"
               @change="handleSelectedChange"
               :props="props"
               :value="value"
               @input=" $emit('input', $event)">
  </el-cascader>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'

  export default {
    data () {
      return {
        lotteryTypeList: [],
        props: {
          label: 'name',
          value: 'id',
          children: 'list'
        }
      }
    },
    props: {
      value: {
        type: Array,
        required: true
      }
    },
    created () {
      this._getLotteryTypeList()
    },
    methods: {
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items.map(
              (item) => {
                item.list = []
                return item
              }
            )
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList (lotteryTypeId, index) {
        getAjaxData({ pId: lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList[index].list = res.data.data.items
          }
        })
      },
      handleItemChange (val) {
        console.log('active item:', val)
        const selectedIndex = this.lotteryTypeList.findIndex((item) => item.id === val[0])
        if (selectedIndex > -1 && !this.lotteryTypeList[selectedIndex].list.length) {
          this._getLotteryInfoList(val[0], selectedIndex)
        }
      },
      handleSelectedChange (val) {
        console.log(val)
        this.$emit('doWhenSelected', val)
      }
    }
  }
</script>

<style scoped>

</style>
