<template>
		<el-select filterable clearable
		           style="width: 180px"
		           placeholder="请选择自开彩彩种类型"
		           :value="value"
		           @input=" $emit('input', $event)">
				<el-option
					v-for="item in lotteryTypes"
					:key="item.id"
					:label="item.name"
					:value="item.id">
				</el-option>
		</el-select>
</template>

<script>
import { getAjaxData } from 'api/common'
import { ERR_OK } from 'api/config'

export default {
  data () {
    return {
      lotteryTypes: []
    }
  },
  props: {
    value: {
      required: true
    }
  },
  created () {
    this._getSelfLotteryTypes()
  },
  methods: {
    _getSelfLotteryTypes () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryTypes = res.data.data.items
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
