<template>
		<el-select filterable clearable
		           style="width: 180px"
		           placeholder="请选择自开彩彩种"
		           :value="value"
		           @input=" $emit('input', $event)">
				<el-option
					v-for="item in lotteryes"
					:key="item.id"
					:label="item.name"
					:value="item.id">
				</el-option>
		</el-select>
</template>

<script>
import { getAjaxData } from 'api/common'
import { ERR_OK } from 'api/config'

export default {
  data () {
    return {
      lotteryes: []
    }
  },
  props: {
    value: {
      required: true
    },
    pid: {
      type: Number,
      required: true
    }
  },
  watch: {
    pid (val) {
      this._getSelfLotteryTypes()
    }
  },
  methods: {
    _getSelfLotteryTypes () {
      getAjaxData({ pId: this.pid, dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryes = res.data.data.items
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
