<template>
		<el-select filterable clearable
		           style="width: 180px"
		           placeholder="请选择厅主"
		           :value="value"
		           @input=" $emit('input', $event)">
				<el-option
					v-for="item in spCodes"
					:key="item.value"
					:label="item.value"
					:value="item.value">
				</el-option>
		</el-select>
</template>

<script>
import { getAjaxData } from 'api/common'
import { ERR_OK } from 'api/config'

export default {
  data () {
    return {
      spCodes: []
    }
  },
  props: {
    value: {
      required: true
    }
  },
  created () {
    this._getSpCodes()
  },
  methods: {
    _getSpCodes () {
      getAjaxData({ dataType: 21 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.spCodes = res.data.data.items.map((v) => {
            const t = {
              value: v.id,
              label: v.name
            }
            return t
          })
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
