<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :picker-options="pickerOptions"
          :default-time="['00:00:00', '23:59:59']"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.reqMethod" clearable style="width: 180px"
                  placeholder="请输入请求接口的名称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px"
                   v-model="listQuery.status" placeholder="请选择执行状态">
          <el-option label="成功" :value="0"></el-option>
          <el-option label="失败" :value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px"
                   v-model="listQuery.procResult" placeholder="请选择处理结果类型">
          <el-option label="待处理" :value="0"></el-option>
          <el-option label="已处理" :value="1"></el-option>
          <el-option label="处理异常" :value="2"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：由彩票平台调用第三方平台出错时产生的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" min- width="150">
      </el-table-column>
      <el-table-column align="right" label="日志类型" prop="loggerType" min-width="180">
        <template slot-scope="scope">
          <span>{{scope.row.loggerType === 1 ? '平台->彩票' : '彩票->平台'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="接口名称" prop="reqMethod" min-width="180">
      </el-table-column>
      <el-table-column align="right" label="请求地址" prop="reqUrl" min-width="400">
      </el-table-column>
      <el-table-column align="right" label="请求参数" prop="reqParams" min-width="150">
        <template slot-scope="scope" v-if="scope.row.reqParams">
          <el-button type="text" @click="showDetail(scope.row.reqParams)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="响应参数" prop="reqResult" min-width="150">
        <template slot-scope="scope" v-if="scope.row.reqResult">
          <el-button type="text" @click="showDetail(scope.row.reqResult)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="执行状态" prop="status" min-width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.status===0?'成功':'失败' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理结果" prop="procResult" min-width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.procResult===0?'待处理':scope.row.procResult===1?'已处理':'处理异常' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理结果描述" prop="procDesc" min-width="150">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top" v-if="scope.row.procDesc">
            <div slot="content">{{scope.row.procDesc}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.procDesc}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理时间" prop="procTime" min- width="150">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="500"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { getLoggerTrdErrorList } from 'api/logs/'
  import JsonEditor from 'components/JsonEditor'
  import Settime from 'utils/settime'

  export default {
    components: {
      JsonEditor
    },
    data () {
      return {
        dataValue: [],
        value: '',
        popover_visible: false,
        listLoading: false,
        listQuery: {
          beginTime: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10,
          reqMethod: '',
          status: '',
          procResult: ''
        },
        elements: [],
        total: 0,
        pickerOptions: EnUSPickerOptions
      }
    },
    methods: {
      showDetail (v) {
        if (v) {
          if (v.indexOf('{') === -1) {
            let t = ''
            if (v.indexOf('title') > -1) {
              t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
            } else {
              t = v
            }
            v = `{"result":"${t.replace('\"{', '{').replace('}\"', '}')}"}`
          }
          this.value = JSON.parse(v)
        }
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this.getLogger()
      },
      _search () {
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      getLogger () {
        // /* if (this.listQuery.beginTime && this.listQuery.endTime) {
        //  const t = new Date(this.listQuery.beginTime)
        //  const tt = new Date(this.listQuery.endTime)
        //  this.listQuery.beginTime = parseTime(t)
        //  this.listQuery.endTime = parseTime(tt)
        //  } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        //  this.$message({
        //  type: 'error',
        //  message: '开始时间和结束时间必须成对出现'
        //  })
        //  return
        //  }*/
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getLoggerTrdErrorList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items.map((r) =>
              // r.reqParams = r.reqParams.replace(/[\\\/\b\f\n\r\t]/g, '')
              // r.reqResult = r.reqResult.replace(/[\\\/\b\f\n\r\t]/g, '')
              r)
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this.getLogger()
    }
  }
</script>
<style scoped="scoped" lang="scss">
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .editor-container {
    position: relative;
    height: 100%;
  }

  .el-dialog__body {
    padding: 10px 20px;

    .components-container {
      margin: 10px;
    }

  }
</style>
