<template>
		<el-card>
				<el-table
					:data="elements"
					v-loading="listLoading"
					element-loading-text="拼命加载中"
					element-loading-spinner="el-icon-loading"
					border
					tooltip-effect="dark"
					style="width: 100%">
						<el-table-column
							prop="id"
							label="ID"
							align="right"
							show-overflow-tooltip>
						</el-table-column>
						<el-table-column
							prop="platformName"
							label="平台名称"
							align="right"
							show-overflow-tooltip>
						</el-table-column>
				</el-table>
		</el-card>
</template>
<script>
import { getPlatformList } from 'api/spInfoList/index'
import { ERR_OK } from 'api/config'

export default {
  data () {
    return {
      elements: []
    }
  },
  methods: {
    _getPlatformList () {
      this.listLoading = true
      getPlatformList().then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.items
        }
        this.listLoading = false
      })
    }
  },
  created () {
    this._getPlatformList()
  }
}
</script>
