<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select v-model="listQuery.lotteryTypeId" placeholder="选择彩种类型" @change="handleChange"
                   clearable filterable default-first-option
                   @clear="resetSelect">
          <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable filterable
                   default-first-option>
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" clearable placeholder="请输入彩期" v-model="listQuery.issue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_search" v-if='listQuery.lotteryTypeId'
                   :loading="listLoading"
                   :disabled="hasPermission('RiskBeforeOpenList')|| !listQuery.lotteryId">查询
        </el-button>
        <el-button type="primary" @click="_search" v-else
                   :loading="listLoading"
                   :disabled="hasPermission('RiskBeforeOpenList')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="RiskBeforeOpenList" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column min-width='130' align="right" label="采集源名称	">
        <template slot-scope="scope">
          <span>{{ scope.row.sourceName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩期号" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.issue }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖号码" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.openCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开奖时间/北京" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.openTime }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩期封盘时间/北京" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.endTime }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="风控状态" min-width='130'>
        <template slot-scope="scope">
          <span :class="generateStatusClass(scope.row)">{{ generateStatusCode(scope.row) }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="170">
        <template slot-scope="scope">
          <el-button type="primary" @click="_postRiskBeforeOpenRecovery(scope.row)"
                     :disabled="hasPermission('RiskBeforeOpenRecovery')||generateBtnStatus(scope.row)">解除风控
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getRiskBeforeOpenList, postRiskBeforeOpenRecovery } from 'api/riskcontrol'
  import { getAjaxData } from 'api/common'
  import { parseTime } from 'utils'

  export default {
    data () {
      return {
        lotteryTypeList: [],
        lotteryList: [],
        RiskBeforeOpenList: [],
        total: 0,
        listQuery: {
          lotteryTypeId: '',
          lotteryId: '',
          issue: '',
          pageNo: 1,
          pageSize: 10
        },
        serviceTime: '2017-01-01 00:00:00',
        serviceTimeZone: 2,
        listLoading: false
      }
    },
    created () {
      this._getLotteryTypeList()
    },
    methods: {
      generateBtnStatus (r) {
        if (new Date(this.serviceTime).getTime() > new Date(r.endTime).getTime()) return true
        return r.status === 0
      },
      generateStatusClass (r) {
        if (new Date(this.serviceTime).getTime() > new Date(r.endTime).getTime()) return 'red'
        return r.status === 1 ? 'red' : 'active_green'
      },
      generateStatusCode (r) {
        if (new Date(this.serviceTime).getTime() > new Date(r.endTime).getTime()) return '已过期'
        return r.status === 1 ? '风控封盘中' : '已解除风控封盘'
      },
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = [].concat(res.data.data.items)
          }
        })
      },
      resetSelect () {
        this.lotteryList = []
        this.listQuery.lotteryId = ''
      },
      handleChange (val) {
        this.resetSelect()
        getAjaxData({ dataType: 13, pId: val }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryList = res.data.data.items
          }
        })
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this._getList()
      },
      async _getList () {
        this.listLoading = true
        const res = await getRiskBeforeOpenList(this.listQuery)
        if (res.data.code === ERR_OK) {
          this.RiskBeforeOpenList = res.data.data.elements
          this.total = res.data.data.totalCount
          this.serviceTimeZone = res.data.serviceTimeZone
          this.serviceTime = this.serviceTimeZone === 1 ? res.data.serviceTime : parseTime(new Date(new Date(res.data.serviceTime).getTime() + 12 * 3600 * 1000))
        }
        this.listLoading = false
      },
      _postRiskBeforeOpenRecovery (row) {
        this.$confirm(`此操作将解除${row.lotteryName}风控， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: row.lotteryId,
            issue: row.issue
          }
          postRiskBeforeOpenRecovery(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `解除${row.lotteryName}成功!`
              })
              this._getList()
            }
          })
        })
      }
    }
  }
</script>

