<template>
  <el-card>
    <el-table
      :data="items"
      border
      max-height="700"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%"
    >
      <el-table-column label="序列" align="center" type="index"></el-table-column>
      <el-table-column label="语言" align="right">
        <template slot-scope="scope">{{scope.row.langName}}</template>
      </el-table-column>
      <el-table-column label="语言编码" align="right">
        <template slot-scope="scope">{{scope.row.lang }}</template>
      </el-table-column>
      <el-table-column prop="createUser" label="创建人" align="right"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" align="right"></el-table-column>
      <el-table-column prop="lastTime" label="最后修改时间" align="right"></el-table-column>
      <el-table-column label="操作" align="right">
        <template slot-scope="scope">
          <el-button type="text" @click="viewRule(scope.row)">预览</el-button>
          <el-button type="text" @click="editGameRule(1,scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      :visible.sync="visible"
      :title="temp.title"
      :before-close="closeDialog"
      custom-class="editorClass"
      width="80%"
      append-to-body
    >
      <el-collapse v-model="temp.activeNames">
        <el-collapse-item title="开奖说明" name="gameDesc">
          <markdown-editor max-height="600px" v-model="temp.gameDesc"></markdown-editor>
        </el-collapse-item>
      </el-collapse>
      <div slot="footer" class="dialog-footer" style="margin-top: 30px;">
        <el-button type="primary" @click.native="postAction">提 交</el-button>
        <el-button type="primary" @click.native="resetF">关 闭</el-button>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="view_visible"
      :title="temp.title"
      :before-close="closeDialog"
      custom-class="editorClass"
      width="80%"
      append-to-body
    >
      <el-tabs v-model="viewActive" type="border-card">
        <el-tab-pane label="开奖说明" name="gameDesc">
          <div class="rules" v-html="temp.gameDesc"></div>
        </el-tab-pane>
        <!--        <el-tab-pane label="官方玩法说明" name="generalDesc">-->
        <!--          <div class="rules" v-html="temp.generalDesc"></div>-->
        <!--        </el-tab-pane>-->
        <!--        <el-tab-pane label="信用玩法说明" name="creditDesc">-->
        <!--          <div class="rules" v-html="temp.creditDesc"></div>-->
        <!--        </el-tab-pane>-->
        <!--        <el-tab-pane label="其它说明" name="otherDesc">-->
        <!--          <div class="rules" v-html="temp.otherDesc"></div>-->
        <!--        </el-tab-pane>-->
      </el-tabs>
      <div slot="footer" class="dialog-footer" style="margin-top: 30px;">
        <el-button type="primary" @click.native="resetF">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import {
    getGameRuleList,
    getGameRuleDetail,
    postGameRuleSave
  } from 'api/dataBase'
  import MarkdownEditor from 'components/MarkdownEditor'
  import marked from 'marked'

  export default {
    name: 'GameRuleList',
    components: { MarkdownEditor },
    data () {
      return {
        lotteryList: [],
        items: [],
        lotteryTypeList: [],
        visible: false,
        view_visible: false,
        temp: {
          title: '编辑',
          activeNames: ['gameDesc'],
          editType: 0,
          lang: '',
          gameDesc: ''
        },
        viewActive: 'gameDesc',
        // searchTypes: [
        //   {
        //     value: 0,
        //     name: '通用'
        //   },
        //   {
        //     value: 1,
        //     name: 'PC'
        //   },
        //   {
        //     value: 2,
        //     name: 'H5'
        //   },
        //   {
        //     value: 3,
        //     name: 'APP'
        //   }
        // ],
        listLoading: false
      }
    },
    methods: {
      closeDialog () {
        this.$confirm('确认关闭？').then((_) => {
          this.resetF()
        }).catch((_) => {
          console.log('_', _)
        })
      },
      async viewRule (row) {
        const { lang, langName } = row
        const res = await getGameRuleDetail({ lang })
        if (res.data.code === ERR_OK) this.temp = { ...this.temp, ...res.data.data }
        this.temp.title = await `${langName}开奖说明预览`
        console.log(this.temp)
        marked.setOptions({
          renderer: new marked.Renderer(),
          highlight (code) {
            return require('highlight.js').highlightAuto(code).value
          },
          pedantic: false,
          gfm: true,
          tables: true,
          breaks: false,
          sanitize: false,
          smartLists: true,
          smartypants: false,
          xhtml: false
        })
        this.temp.gameDesc = await this.temp.gameDesc ? marked(this.temp.gameDesc) : ''
        this.view_visible = true
      },
      async editGameRule (type, row) {
        const { lang } = row
        this.temp.editType = type
        let res
        if (type) {
          res = await getGameRuleDetail({ lang })
          if (res.data.code === ERR_OK) {
            const { lang, gameDesc } = res.data.data
            this.temp = {
              ...this.temp, ...{ lang, gameDesc }
            }
          }
        }
        switch (type) {
          case 1:
            this.temp.title = '编辑'
            this.temp.lang = lang
            break
          case 2:
            this.temp.title = '查看'
            break
          default:
            this.temp.title = '新增'
            this.temp.lang = lang
        }
        this.visible = true
      },
      postAction () {
        const {
                lang, gameDesc
              } = this.temp
        if (!gameDesc) {
          this.$message('请填写开奖说明！')
          return
        }
        this.$confirm(`此操作将编辑该语言开奖说明， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postGameRuleSave({
            lang, gameDesc
          }).then((r) => {
            if (r.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '编辑成功!'
              })
              this.resetF()
              this._search()
            }
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        })
      },
      resetF () {
        this.temp = {
          title: '编辑',
          activeNames: ['gameDesc'],
          editType: 0,
          lang: '',
          gameDesc: ''
        }
        this.viewActive = 'gameDesc'
        this.visible = false
        this.view_visible = false
      },
      async _search () {
        this.listLoading = true
        const res = await getGameRuleList()
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items
        }
        console.log(this.items)
        this.listLoading = false
      }
    },
    created () {
      this._search()
    },
    filters: {}
  }
</script>

<style lang='scss' scoped>
::v-deep .rules {
  font-size: 14px;
  font-weight: normal;
  color: #5c5c5c;
  padding: 1em;
  counter-reset: chapter;

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    counter-reset: section;
    font-size: 1em;
  }

  h2:before {
    counter-increment: chapter;
    content: counter(chapter) ". ";
  }

  h3 {
    font-size: 1em;
    margin: 0;
    padding-left: 10px;
    font-weight: 600;
  }

  h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 0.75px 0;
    padding: 0 0.75em;
    font-size: 1em;
    line-height: 180%;
    text-align: justify;
    word-break: break-all;
  }

  table {
    margin: 2px 0 14px;
    color: #555;
    min-width: 38%;
    margin: 0 auto;
    border-collapse: collapse;
    box-sizing: border-box;
  }
  p img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  table th {
    border: 1px solid #72777b;
    border-top: 0;
    background-color: #7b8184;
    font-weight: 300;
    color: #fff;
    padding: 6px;
  }

  table td {
    border: 1px solid #72777b;
    height: 32px;
    text-align: center;
    padding: 5px 14px 5px 12px;
  }

  p span {
    padding: 0 3px;
  }

  ol,
  ul {
    padding-right: 0.75em;
  }

  ol li,
  ul li {
    margin-bottom: 0.75em;
  }
}

::v-deep .el-dialog__body {
  padding-top: 10px !important;
}
</style>
