<template>
  <control-table :object="object" :is-draw-color="isDrowColor" :issue-open-code="issueOpenCode"
                 :is-show-s-code="isShowSCode"
                 :play-type-id="playTypeId"
                 :is-all-sn='isAllSn'
                 :s-code="SCode"></control-table>
</template>

<script>
  import ControlTable from 'components/Table/ControlTable'

  export default {
    name: 'CommonTable',
    components: { ControlTable },
    props: {
      object: {
        type: Object
      },
      playTypeId: {
        type: Number
      },
      isShowSCode: {
        type: Boolean,
        default: false
      },
      isAllSn: {
        type: Boolean,
        default: false
      },
      SCode: {
        type: String,
        default: ''
      },
      typeName: {
        type: String
      },
      lotteryTypeId: {
        type: String
      },
      issueOpenCode: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {}
    },
    computed: {
      isDrowColor (v) {
        return Number(this.lotteryTypeId) === 20
      }
    },
    methods: {},
    beforeCreate () {},
    created () {
    },
    beforeMount () {},
    mounted () {},
    beforeDestroy () {},
    destroyed () {}
  }
</script>

<style lang='scss' scoped>
</style>
