<template>
  <div>
    <div v-for="(items,index) in elements" :key='index'>
      <div class="shadow fl clearfix">
        <div class="il-dl" v-for="(item,lIndex) in items.playList" :key='lIndex'>
          <common-table :object="item" :type-name="items.playTypeName" :key="hashKey"
                        :issue-open-code="issueOpenCode"
                        :is-show-s-code="isShowSCode"
                        :play-type-id="Number(items.playTypeId)"
                        :s-code="SCode"
                        :is-all-sn='isAllSn'
                        :lottery-type-id="lotteryTypeId"></common-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import commonTable from './commonTable'

  export default {
    props: {
      elements: {
        type: Array,
        default () {
          return []
        }
      },
      issueOpenCode: {
        type: Array,
        default () {
          return []
        }
      },
      isAllSn: {
        type: Boolean,
        default: false
      },
      isShowSCode: {
        type: Boolean,
        default: false
      },
      SCode: {
        type: String,
        default: ''
      },
      lotteryTypeId: { type: String, default: '' }
    },
    components: {
      commonTable
    },
    data () {
      return {
        hashKey: 0
      }
    },
    created () {
      // console.log('elements=>', this.elements)
    },
    watch: {
      elements (v) {
        ++this.hashKey
      }
    }
  }
</script>

<style lang="scss" scoped>
  .shadow {
    padding: 5px;
    box-shadow: 4px 4px 4px #cdcbc5;
    margin-bottom: 10px;
    margin-right: 30px;

    .il-dl {
      position: relative;
      float: left;
      /*width: 232px;*/
      margin-bottom: 10px;
    }
  }
</style>
