<template>
  <transition name="fade" mode='out-in'>
    <div class='tbody'>
      <div class='instant-list'>
        <credit-play-table :elements='elements' :lottery-type-id="lotteryTypeId"
                           :is-show-s-code="isShowSCode"
                           :s-code="SCode"
                           :is-all-sn='isAllSn'
                           :issue-open-code="issueOpenCode"></credit-play-table>
      </div>
    </div>
  </transition>
</template>

<script>
  import creditPlayTable from './creditPlayTable'

  export default {
    props: {
      elements: {
        type: Array,
        default () {
          return []
        }
      },
      issueOpenCode: {
        type: Array,
        default () {
          return []
        }
      },
      isAllSn: {
        type: Boolean,
        default: false
      },
      isShowSCode: {
        type: Boolean,
        default: false
      },
      SCode: {
        type: String,
        default: ''
      },
      lotteryTypeId: { type: String }
    },
    components: { creditPlayTable },
    data () {
      return {}
    }
  }
</script>

<style lang='scss' scoped>
  .tbody {
    overflow: auto;
    position: relative;
    height: auto;

    .instant-list {
      margin: 5px 0 0 0;
      position: relative;
    }
  }
</style>
