<!--平台商入驻-->
<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主" clearable-->
        <!--								           default-first-option-->
        <!--								           v-model="query.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="请选择状态" clearable
                   v-model="query.status">
          <el-option
              v-for="item in statusList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :loading="listLoading"
                   :disabled="hasPermission('SpInfoList')">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
        :data="elements"
        border
        fit
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        highlight-current-row
        tooltip-effect="dark"
        style="width: 100%">
      <el-table-column align="right" label="序号" min-width="60" type="index">
      </el-table-column>
      <el-table-column
          align="right"
          min-width='90'
          prop="spCode"
          label="编码">
      </el-table-column>
      <el-table-column
          min-width="110"
          align="right"
          label="厅主名称">
        <template slot-scope="scope">
          <!--<span style="color:#374eff;cursor: pointer" @click="showForm(scope.row)">-->
          <!--{{scope.row.spName}}-->
          <!--</span>-->
          <el-button type="text" @click="showForm(scope.row)" :disabled="hasPermission('SpInfoDetail')">
            {{ scope.row.spName }}
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
          min-width="100"
          align="right"
          prop="creditMoney"
          label="最高信用额度">
      </el-table-column>
      <!-- <el-table-column
        min-width="120"
        align="right"
        prop="abonusLevel"
        label="代理返点设置">
        <template slot-scope="scope">
          <span v-if="!scope.row.lEdit">{{scope.row.abonusLevel | fundFilter}}</span>
          <el-select v-model="scope.row.abonusLevel" v-else>
            <el-option v-for="item in options2"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column> -->
      <!-- <el-table-column
        min-width="130"
        align="right"
        prop="rebateShow"
        label="赔率显示设置">
        <template slot-scope="scope">
          <span
            align="right"
            v-if="!scope.row.rEdit">{{scope.row.rebateShow === 0 ? '显示并可调' : scope.row.rebateShow === 1 ? '显示不可调' : '仅显示赔率'}}</span>
          <el-select v-model="scope.row.rebateShow" v-else>
            <el-option v-for="item in options"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column> -->
      <el-table-column
          min-width="90"
          align="right"
          prop="cashMode"
          label="金流方式">
        <template slot-scope="scope">
          <span>{{ scope.row.cashMode === 1 ? '单一钱包' : '额度转换' }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="135"
          prop="createTime"
          align="right"
          label="创建时间">
        <template slot-scope="scope"> {{ scope.row.createTime }}</template>
      </el-table-column>
      <el-table-column
        label="币别"
        min-width="150"
      >
        <template slot-scope="scope">
          <el-select v-model="scope.row.currencyCode" @change="handleCurrencyChange(scope.row)">
            <el-option
              v-for="(item, i) in currencyList"
              :key="i"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </template>
      </el-table-column>
      <!--<el-table-column-->
      <!--prop="description"-->
      <!--align="right"-->
      <!--label="描述">-->
      <!--</el-table-column>-->
      <el-table-column prop="ModeGroup" label="下注模式" min-width="160" align="right">
        <template slot-scope="scope">
          <el-radio-group v-model="scope.row.moneyUitNew"
                          :disabled="hasPermission('SpInfoUpMoneyUnit')"
                          @change="_postSpInfoUpMoneyUnit(scope.row.moneyUitNew,scope.row)">
            <el-radio-button v-for="Mode in ModeOptions" :label="Mode" :key="Mode">{{ Mode }}
            </el-radio-button>
          </el-radio-group>
        </template>
      </el-table-column>
      <el-table-column
          label="厅用户撤单功能"
          align="right"
          min-width="140"
          prop="isCancelStatus">
        <template slot-scope="scope">
          <el-switch
              @change="changeCancelStatus(scope.row)"
              :disabled="hasPermission('SpInfoUpCancelStatus')"
              active-text="启用"
              inactive-text="禁用"
              v-model="scope.row.isCancelStatus"
              active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
      <!--      <el-table-column-->
      <!--        label="虚拟数据开关"-->
      <!--        align="right"-->
      <!--        min-width="300"-->
      <!--        prop="virtualDataSwitch">-->
      <!--        <template slot="header">-->
      <!--          <span>虚拟数据开关</span>-->
      <!--          <el-tooltip class="item" effect="dark" placement="top">-->
      <!--            <div slot="content">关闭则表示使用真实厅数据，数据不全则用虚拟数据补全；开启则表示使用陪玩厅数据，若没有则返回空数据！</div>-->
      <!--            <i class="el-icon-info"></i>-->
      <!--          </el-tooltip>-->
      <!--        </template>-->
      <!--        <template slot-scope="scope">-->
      <!--          <el-checkbox v-model='scope.row.virtualDataSwitch[0]' true-label='1' false-label='0' border>中奖榜-->
      <!--          </el-checkbox>-->
      <!--          <el-checkbox v-model="scope.row.virtualDataSwitch[1]" true-label='1' false-label='0' border>快讯-->
      <!--          </el-checkbox>-->
      <!--          <el-button type="primary" @click="_getvirtualData(scope.row)" style='margin-left: 10px'>修改</el-button>-->
      <!--          &lt;!&ndash;<el-switch&ndash;&gt;-->
      <!--          &lt;!&ndash;@change="changeVirtualDataSwitch(scope.row)"&ndash;&gt;-->
      <!--          &lt;!&ndash;:disabled="hasPermission('SpInfoUpVrtualDataSwitch')"&ndash;&gt;-->
      <!--          &lt;!&ndash;active-text="启用"&ndash;&gt;-->
      <!--          &lt;!&ndash;inactive-text="禁用"&ndash;&gt;-->
      <!--          &lt;!&ndash;v-model="scope.row.virtualDataSwitch"&ndash;&gt;-->
      <!--          &lt;!&ndash;active-color="#13ce66">&ndash;&gt;-->
      <!--          &lt;!&ndash;</el-switch>&ndash;&gt;-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <el-table-column
          label="状态"
          align="right"
          min-width="140"
          prop="status">
        <template slot-scope="scope">
          <el-switch
              @change="showDialog(scope.row)"
              :disabled="hasPermission('SpInfoUpStatus')"
              active-text="启用"
              inactive-text="禁用"
              v-model="scope.row.status"
              active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
      <!-- <el-table-column
        label="操作"
        align="right"
        min-width="260">
        <template slot-scope="scope">
          <el-button type="primary" @click="scope.row.lEdit=true;scope.row.flag=true"
                     v-if="!scope.row.lEdit"
                     :disabled="scope.row.rEdit || hasPermission('SpInfoUpAbonusLevel')">
            代理返点设置
          </el-button>
          <el-button type="primary" @click="scope.row.rEdit=true;scope.row.flag=false"
                     v-if="!scope.row.rEdit"
                     :disabled="scope.row.lEdit || hasPermission('SpInfoUpRebateShow')">
            设置赔率显示
          </el-button>
          <el-button type="primary" @click="editSave(scope.row,scope.row.flag)"
                     v-if="scope.row.rEdit || scope.row.lEdit">
            保存
          </el-button>
        </template>
      </el-table-column> -->
    </el-table>

    <!--弹窗-->
    <el-dialog :visible.sync="dialogFormVisible" title="平台商详情" width="50%" class='dialog200'>
      <el-form class="small-space small-space1" label-position="left" :label-width="formLabelWidth"
               style="margin: 0;padding: 0;border-left: 1px darkgray  solid;border-top: 1px darkgray  solid; ">
        <el-form-item label="Id">
          <span>{{ Jsonelements.id }}</span>
        </el-form-item>
        <el-form-item label="平台商名称" :label-width="formLabelWidth">
          <span>{{ Jsonelements.spName }}</span>
        </el-form-item>
        <el-form-item label="最高信用额度(元)" :label-width="formLabelWidth">
          <span>{{ Jsonelements.creditMoney }}</span>
        </el-form-item>
        <el-form-item label="会员金流方式" :label-width="formLabelWidth">
          <span>{{ Jsonelements.cashMode === 1 ? '单一钱包' : '额度转换' }}</span>
        </el-form-item>
        <el-form-item label="上级ID" :label-width="formLabelWidth">
          <span>{{ Jsonelements.parentId === 0 ? '' : Jsonelements.parentId }}</span>
        </el-form-item>
        <el-form-item label="上级名称" :label-width="formLabelWidth">
          <span>{{ Jsonelements.parentName }}</span>
        </el-form-item>
        <el-form-item label="状态" :label-width="formLabelWidth">
          <span>{{ Jsonelements.status | typeFilter }}</span>
        </el-form-item>
        <el-form-item label="创建时间" :label-width="formLabelWidth">
          <span>{{ Jsonelements.createTime }}</span>
        </el-form-item>
        <el-form-item label="是否允许厅用户撤单" :label-width="formLabelWidth">
          <span>{{ Jsonelements.isCancelStatus | cancelStatusFilter }}</span>
        </el-form-item>
        <el-form-item label="描述信息" :label-width="formLabelWidth">
          <span>{{ Jsonelements.description }}</span>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" style="clear:both">
        <el-button type="primary" @click="resetForm">关 闭</el-button>
      </div>
    </el-dialog>
    <div class="pagination-container" v-if="total">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="query.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="query.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
// import { getAjaxData } from 'api/common'
import {
  getSpInfoList,
  postSpInfoUpStatus,
  getSpInfoDetail,
  psotSpInfoUpRebateShow,
  psotSpInfoUpAbonusLevel,
  postSpInfoUpMoneyUnit,
  postSpInfoUpCancelStatus,
  postSpInfoUpVrtualDataSwitch,
  spInfoUpCurrencyCode
} from 'api/spInfoList/'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import { currencyList } from 'utils/currency'
export default {
  components: { fuzzyQuerySearch },
  data () {
    return {
      // spCodes: [],
      moneyUitNum: '',
      ModeOptions: ['元', '角', '分'],
      currencyList: [...currencyList],
      listLoading: false,
      loaded: false,
      items: [],
      elements: [],
      virtualDataList: [],
      statusList: [
        {
          value: 0,
          label: '禁用'
        },
        {
          value: 1,
          label: '启用'
        }],
      temp: {
        id: '',
        spCode: ''
      },
      value: '',
      options: [
        {
          value: 0,
          label: '显示并可调'
        },
        {
          value: 1,
          label: '显示不可调'
        },
        {
          value: 2,
          label: '仅显示赔率'
        }
      ],
      options2: [
        {
          value: 0,
          label: '不分红'
        },
        {
          value: 1,
          label: '输赢分红'
        },
        {
          value: 2,
          label: '输分红'
        },
        {
          value: 3,
          label: '赢分红'
        }
      ],
      query: {
        status: '',
        spCode: '',
        spName: '',
        cashMode: 1,
        pageNo: 1,
        pageSize: 10
      },
      Jsonelements: {},
      total: 0,
      formLabelWidth: '140px',
      dialogFormVisible: false
    }
  },
  created () {
    // this.getSpInfo()
    this._getSpInfoList()
  },
  methods: {
    dealChange (op) {
      this.query = { ...this.query, ...op }
    },
    // 虚拟数据开关的提交
    _getvirtualData (row) {
      console.log(row.virtualDataSwitch)
      let num
      if (row.virtualDataSwitch) {
        num = parseInt(row.virtualDataSwitch.join(''), 2)
      } else {
        num = 0
      }
      this.$confirm(`此操作将修改虚拟数据开关， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { id: row.id, spCode: row.spCode, virtualDataSwitch: num }
        postSpInfoUpVrtualDataSwitch(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `修改成功!`
            })
            this._getSpInfoList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        // row.virtualDataSwitch = row.virtualDataSwitch
        this._getSpInfoList()
      })
    },
    //   改变下注模式
    _postSpInfoUpMoneyUnit (v, row) {
      this.$confirm(`此操作将下注最小单位改为${v}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let moneyUnit
        switch (v) {
          case '元':
            moneyUnit = 1
            break
          case '角':
            moneyUnit = 2
            break
          default:
            moneyUnit = 3
        }
        const query = {
          id: row.id, spCode: row.spCode, moneyUnit
        }
        // console.log(query)
        postSpInfoUpMoneyUnit(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '切换成功!'
            })
            this._getSpInfoList()
          } else {
            row.moneyUitNew = row.uitDesc
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        row.moneyUitNew = row.uitDesc
      })
    },
    // getSpInfo () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spCodes = res.data.data.items.map(v => {
    //         const t = {
    //           value: v.id,
    //           label: v.name
    //         }
    //         return t
    //       })
    //     }
    //   })
    // },
    editSave (row, flag) {
      let _fn = null
      let str = ''
      const query = {
        id: row.id,
        spCode: row.spCode
      }
      if (flag) {
        _fn = psotSpInfoUpAbonusLevel
        // str = '设置赔率的显示方式'
        str = '代理返点设置'
        query.abonusLevel = row.abonusLevel
      } else {
        _fn = psotSpInfoUpRebateShow
        // str = '设置代理返点'
        str = '赔率显示设置'
        query.rebateShow = row.rebateShow
      }
      this.$confirm(`确定要重新${str}`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        _fn(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
            this._getSpInfoList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    _getSpInfoList () {
      this.listLoading = true
      getSpInfoList(this.query).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.elements.map((v) => {
            v.status = Boolean(v.status)
            if (v.virtualDataSwitch === 0) {
              v.virtualDataSwitch = ['0', '0']
            } else if (v.virtualDataSwitch === 1) {
              v.virtualDataSwitch = ['0', '1']
            } else {
              v.virtualDataSwitch = v.virtualDataSwitch.toString(2).split('')
            }
            v.isCancelStatus = v.isCancelStatus === 0
            v.creditMoney = (v.creditMoney / 100).toFixed(2)
            v.lEdit = false
            v.rEdit = false
            v.flag = true
            switch (v.moneyUnit) {
              case 1:
                v.moneyUitNew = '元'
                break
              case 2:
                v.moneyUitNew = '角'
                break
              default:
                v.moneyUitNew = '分'
            }
            v.uitDesc = v.moneyUitNew
            return v
          })
          this.listLoading = false
          this.total = res.data.data.totalCount
        }
      })
    },
    resetForm () {
      this.dialogFormVisible = false
      this.Jsonelements = {}
      this.currentRow = null
    },
    handleSizeChange (val) {
      this.query.pageSize = val
      this.query.pageNo = 1
      this._getSpInfoList()
    },
    handleCurrentChange (val) {
      this.query.pageNo = val
      this._getSpInfoList()
    },
    showForm (row) {
      this.dialogFormVisible = true
      getSpInfoDetail(row.spCode).then((res) => {
        if (res.data.code === ERR_OK) {
          this.Jsonelements = res.data.data
          this.Jsonelements.creditMoney = parseFloat(this.Jsonelements.creditMoney / 100).toFixed(2)
        }
      })
    },
    // 弹出提示消息
    showDialog (row) {
      const str = row.status ? '启动' : '禁用'
      this.$confirm(`此操作将${str}${row.spCode}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { id: row.id, spCode: row.spCode, status: row.status ? 1 : 0 }
        postSpInfoUpStatus(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
          } else {
            row.status = !row.status
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        row.status = !row.status
      })
    },
    // 修改厅主是否允许用户撤单状态
    changeCancelStatus (row) {
      const str = row.isCancelStatus ? '启用' : '禁用'
      this.$confirm(`此操作将${str}厅用户撤单功能， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { spCode: row.spCode, status: row.isCancelStatus ? 0 : 1 }
        postSpInfoUpCancelStatus(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
            this._getSpInfoList()
          } else {
            row.isCancelStatus = !row.isCancelStatus
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        row.isCancelStatus = !row.isCancelStatus
      })
    },
    // 幣別更換
    handleCurrencyChange (obj) {
      this.$confirm(`此操作将修改币别， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { id: obj.id, currencyCode: obj.currencyCode }
        console.log('####confirm: ', query)
        spInfoUpCurrencyCode(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `修改成功!`
            })
            this._getSpInfoList()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        this._getSpInfoList()
      })
    },

    // changeVirtualDataSwitch (row) {
    //   console.log(row.virtualDataSwitch)
    //   const str = row.virtualDataSwitch ? '启用' : '禁用'
    //   this.$confirm(`此操作将${str}虚拟数据开关， 是否继续?`, '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     const query = { id: row.id, virtualDataSwitch: row.virtualDataSwitch ? 1 : 0 }
    //     postSpInfoUpVrtualDataSwitch(query).then(res => {
    //       if (res.data.code === ERR_OK) {
    //         this.$message({
    //           type: 'success',
    //           message: `${str}成功!`
    //         })
    //         this._getSpInfoList()
    //       } else {
    //         row.virtualDataSwitch = !row.virtualDataSwitch
    //       }
    //     })
    //   }).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '取消操作!'
    //     })
    //     row.virtualDataSwitch = !row.virtualDataSwitch
    //   })
    // },
    _search () {
      this.query.pageNo = 1
      this._getSpInfoList()
    }
  },
  filters: {
    typeFilter (status) {
      const funMap = {
        0: '禁用',
        1: '启用'
      }
      return funMap[status]
    },
    cancelStatusFilter (status) {
      const funMap = {
        0: '允许',
        1: '不允许'
      }
      return funMap[status]
    },
    partentID (type) {
      const parentMap = {
        0: '一级平台商'
      }
      return parentMap[type]
    },
    fundFilter (type) {
      let str = ''
      switch (type) {
        case 1:
          str = '输赢分红'
          break
        case 2:
          str = '输分红'
          break
        case 3:
          str = '赢分红'
          break
        default:
          str = '不分红'
      }
      return str
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .el-button--mini, .el-button--small:first-child {
  margin-bottom: 10px;
}

::v-deep .el-row {
  position: relative;
  margin-bottom: 15px;
}

.pagination-container {
  text-align: right;
}

.dialog200 {
  .small-space1 {
    ::v-deep .el-form-item {
      margin-bottom: 0;
      padding-left: 20px;
      padding-top: 7px;
      border-right: 1px darkgray solid;
      border-bottom: 1px darkgray solid;
      height: 50px;
      width: 33.33%;
      float: left;
      background: rgba(134, 173, 227, .3);

      span {
        display: inline-block;
        height: 49px;
        line-height: 49px;
        width: 100%;
        margin: -7px 0 0 0;
        background: white;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

.el-table .cell {
  font-size: 12px;
  padding: 0 6px;
  line-height: 25px;
}

.a1 {
  overflow: hidden;
}

.a2 {
  overflow: hidden;
}

.sp2 {
  width: 100%;
  border: none;
  display: inline-block;
  white-space: pre-wrap;
}

</style>
