<template>
		<el-card>
				<common-component :items='ReportList' :list-loading='listLoading' v-on:changeSort='changeSort'>
						<template slot='filter'>
								<el-form :inline='true'>
										<el-form-item>
												<!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
												<!--												           clearable default-first-option-->
												<!--												           v-model="listQuery.spCode">-->
												<!--														<el-option-->
												<!--															v-for="item in spList"-->
												<!--															:key="item.id"-->
												<!--															:label="item.id"-->
												<!--															:value="item.id">-->
												<!--														</el-option>-->
												<!--												</el-select>-->
												<fuzzy-query-search
													:options='{type:"spCode",placeholder:"请输入厅编码"}'
													@dealChange='dealChange'></fuzzy-query-search>
										</el-form-item>
										<el-form-item>
												<el-select v-model="lotteryTypeId" clearable filterable default-first-option
												           placeholder="选择彩种类型"
												           @change="handleChange">
														<el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name"
														           :value="item.id">
														</el-option>
												</el-select>
										</el-form-item>
										<el-form-item>
												<el-select v-model="listQuery.lotteryId" clearable filterable default-first-option
												           placeholder="选择彩种"
												>
														<el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
														</el-option>
												</el-select>
										</el-form-item>
										<el-form-item>
												<el-date-picker
													v-model="dataValue"
													type="daterange"
													style="width: 380px"
													clearable
													unlink-panels
													:picker-options="pickerOptions"
													range-separator="至"
													start-placeholder="开始日期"
													end-placeholder="结束日期"
													align="right">
												</el-date-picker>
										</el-form-item>
										<el-form-item>
												<el-input style="width: 170px;" clearable placeholder="请输入期号"
												          v-model="listQuery.issue"
												          :disabled="!listQuery.lotteryId">
												</el-input>
										</el-form-item>
										<el-form-item>
												<el-button type="primary" @click.native="_search"
												           :loading="listLoading"
												           :disabled="(!listQuery.spCode)||hasPermission('ReportIssueProfitLossList')">查询
												</el-button>
										</el-form-item>
										<el-form-item>
												<el-button type="primary" @click.native="exportExel" :loading="loaded"
												           :disabled="!(listQuery.spCode&&ReportList.length)||hasPermission('ReportIssueProfitLossExport')">
														报表导出
												</el-button>
										</el-form-item>
										<el-alert
											effect="dark"
											style="margin-bottom: 5px"
											title="温馨提醒：查询时间为美东时间,展示时间为北京时间!"
											type="warning"
											show-icon>
										</el-alert>
								</el-form>
						</template>
						<template slot='otherColumn'>
								<el-table-column
									prop="lotteryName"
									align="right"
									min-width="100"
									label="彩种名称">
								</el-table-column>
								<el-table-column
									prop="issue"
									align="right"
									min-width="100"
									label="彩期号">
								</el-table-column>
								<el-table-column
									prop="issueDate"
									align="right"
									min-width="100"
									label="彩期时间">
								</el-table-column>
								<el-table-column
									prop="openCode"
									align="right"
									min-width="150"
									label="开奖号码">
								</el-table-column>
								<el-table-column
									prop="openTime"
									align="right"
									min-width="140"
									label="开奖时间">
								</el-table-column>
						</template>
						<template slot='page'>
								<div v-if="total" class="pagination-container fr">
										<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
										               :current-page.sync="listQuery.pageNo"
										               :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
										               layout="total, sizes, prev, pager, next, jumper" :total="total">
										</el-pagination>
								</div>
						</template>
				</common-component>
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import { getAjaxData, postReportExport } from 'api/common'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/index'
import Settime from 'utils/settime'
import { getReportIssueProfitLossList } from 'api/report'
import commonComponent from '../commonComponent'

export default {
  components: { commonComponent, fuzzyQuerySearch },
  data () {
    return {
      loaded: false,
      listLoading: false,
      lotteryTypeList: [],
      // spList: [],
      listQuery: {
        lotteryId: '',
        beginTime: '',
        spCode: '',
        endTime: '',
        issue: '',
        orderField: '',
        orderSort: 'DESC',
        pageNo: 1,
        pageSize: 10
      },
      dataValue: [],
      totalMoney: 0.00,
      allMoney: 0.00,
      lotteryTypeId: '',
      options: [],
      ReportList: [],
      total: 0,
      pickerOptions: EnUSPickerOptions
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    changeSort (v) {
      if (this.listQuery.spCode) {
        this.listQuery.orderField = v.prop
        if (v.order === 'ascending') {
          this.listQuery.orderSort = 'ASC'
        } else {
          this.listQuery.orderSort = 'DESC'
        }
        this._getProfitLossReportList()
      }
    },
    isSelfLottery (v) {
      const arr = [1007, 1205, 1404, 2003]
      return arr.indexOf(v) > -1
    },
    exportExel () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.loaded = true
      postReportExport({ ...this.listQuery, cmd: 'ReportIssueProfitLossExport' }).then((res) => {
        if (ERR_OK === res.data.code) {
          this.$store.dispatch('reportDownload/setType', 1)
          const h = this.$createElement
          this.$msgbox({
            title: '提示信息',
            message: h('p', null, [
              h('span', null, '报表正在生成， '),
              h('i', {
                style: 'color: teal;cursor:pointer',
                on: {
                  click: () => {
                    this.$router.push({ path: '/reports/ReportDownloadList' })
                    this.$msgbox.close()
                  }
                }
              }, '点击前往下载')
            ]),
            showCancelButton: true,
            confirmButtonText: '前往下载',
            cancelButtonText: '取消',
            beforeClose: (action, instance, done) => {
              if (action === 'confirm') {
                this.$router.push({ path: '/reports/ReportDownloadList' })
                done()
              } else {
                done()
              }
            }
          })
        }
      })
      this.loaded = false
    },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getProfitLossReportList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getProfitLossReportList()
    },
    handleChange (val) {
      this.resetSelect()
      this._getLotteryInfoList()
    },
    resetSelect () {
      this.options = []
      this.listQuery.lotteryId = ''
    },
    // 获取彩种类型列表
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
        }
      })
    },
    // 获取彩种列表
    _getLotteryInfoList () {
      getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    _getProfitLossReportList () {
      if (this.lotteryTypeId && !this.listQuery.lotteryId) {
        this.$message({
          type: 'error',
          message: '请选择彩种'
        })
        return
      }
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      }
      this.listLoading = true
      getReportIssueProfitLossList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.ReportList = res.data.data.elements.map((v) => {
            v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
            v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
            v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
            v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
            v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
            v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
            v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
            v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
            v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
            v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
            return v
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getProfitLossReportList()
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    // this._getSpInfoList()
    this._getLotteryTypeList()
  }
}
</script>

<style lang='scss' scoped>

</style>
