<template>
		<el-card>
				<el-form :inline="true">
						<el-form-item>
								<el-select v-model="listQuery.accountType" placeholder="账号类型"
								           clearable
								           @change="handleChange">
										<el-option
											v-for="item in splList"
											:key="item.id"
											:label="item.lable"
											:value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-input style="width: 170px;" clearable placeholder="请输入用户ID"
								          v-model="listQuery.userId">
								</el-input>
						</el-form-item>
						<el-form-item>
								<el-input style="width: 170px;" clearable placeholder="请输入访问人帐号"
								          v-model="listQuery.account">
								</el-input>
						</el-form-item>
						<el-form-item>
								<el-input style="width: 170px;" clearable placeholder="请输入搜索内容"
								          v-model="listQuery.description">
								</el-input>
						</el-form-item>
						<el-form-item>
								<el-date-picker
									v-model="dataValue"
									type="datetimerange"
									unlink-panels
									range-separator="至"
									:picker-options="pickerOptions"
									clearable
									start-placeholder="开始时间"
									:default-time="['00:00:00', '23:59:59']"
									end-placeholder="结束时间"
									align="right">
								</el-date-picker>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" icon="el-icon-search" @click="_search"
								>查询
								</el-button>
						</el-form-item>

				</el-form>
				<el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
				          element-loading-text="拼命加载中"
				          element-loading-spinner="el-icon-loading"
				          style="width: 100%">

						<el-table-column align="right" label="类型" width="110">
								<template slot-scope="scope">
										<span>{{ scope.row.accountType === 1 ? '平台账号' : '平台商账号' }}</span>
								</template>
						</el-table-column>
						<el-table-column algin="right" label="访问人帐号">
								<template slot-scope="scope">
										<span>{{ scope.row.userAccount }}</span>
								</template>
						</el-table-column>

						<el-table-column align="right" label="用户ID">
								<template slot-scope="scope">
										<span>{{ scope.row.userId }}</span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="访问人名称">
								<template slot-scope="scope">
										<span>{{ scope.row.userName }}</span>
								</template>
						</el-table-column>
						<!--<el-table-column align="right" label="用户token" min-width="80">-->
						<!--<template slot-scope="scope">-->
						<!--<el-tooltip class="item" effect="light" placement="top">-->
						<!--<div slot="content">{{scope.row.token}}</div>-->
						<!--<span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.token}}</span>-->
						<!--</el-tooltip>-->
						<!--</template>-->
						<!--</el-table-column>-->
						<el-table-column align="right" label="手机号码" min-width="120">
								<template slot-scope="scope">
										<span>{{ scope.row.mobile }}</span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="访问IP地址" min-width="120">
								<template slot-scope="scope">
										<span>{{scope.row.optIp}}</span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="访问模块" min-width="120">
								<template slot-scope="scope">
										<span>{{scope.row.module}}</span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="访问描述" width="200">
								<template slot-scope="scope">
										<el-tooltip class="item" effect="light" placement="top">
												<div slot="content">{{scope.row.description}}</div>
												<span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.description}}</span>
										</el-tooltip>
								</template>
						</el-table-column>
						<el-table-column align="right" label="访问类型">
								<template slot-scope="scope">
										<span>{{scope.row.optType}}</span>
								</template>
						</el-table-column>
						<!--<el-table-column align="right" label="参数" min-width="80">-->
						<!--<template slot-scope="scope">-->
						<!--<span style="color:#374eff;cursor: pointer" @click="showDetail(scope.row.content)">查看详情</span>-->
						<!--</template>-->
						<!--</el-table-column>-->
						<el-table-column align="right" label="访问时间" min-width="120">
								<template slot-scope="scope">
										<span>{{scope.row.createTime}}</span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="响应时间" min-width="100">
								<template slot-scope="scope">
										<span>{{scope.row.responseTime}}</span>
								</template>
						</el-table-column>
						<el-table-column label="响应结果" align="right" min-width="100">
								<template slot-scope="scope">
										<span>{{scope.row.responseResult}}</span>
								</template>
						</el-table-column>
				</el-table>
				<div v-show="elements.length" class="pagination-container">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						               :current-page.sync="listQuery.pageNo"
						               :page-sizes="[10,20,30,50,200,500]" :page-size="listQuery.pageSize"
						               layout="total, sizes, prev, pager, next, jumper" :total="total">
						</el-pagination>
				</div>
				<!--<el-dialog-->
				<!--class="detail-dialog"-->
				<!--width="98%"-->
				<!--title="查看详情"-->
				<!--:visible.sync="popover_visible">-->
				<!--<div class="components-container">-->
				<!--<div class="editor-container">-->
				<!--<json-editor v-model="value"></json-editor>-->
				<!--</div>-->
				<!--</div>-->
				<!--</el-dialog>-->
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
import { getLoggerBusiList } from 'api/logs'
import Settime from 'utils/settime'
import JsonEditor from 'components/JsonEditor'

export default {
  components: { JsonEditor },
  data () {
    return {
      popover_visible: false,
      splList: [
        {
          id: 1,
          lable: '平台账号'
        },
        {
          id: 2,
          lable: '平台商账号'
        }
      ],
      listLoading: false,
      tableKey: 0,
      options: [
        {
          value: 1,
          label: '单一钱包'
        },
        {
          value: 2,
          label: '额度转换'
        }
      ],
      dataValue: [],
      pickerOptions: EnUSPickerOptions,
      elements: [],
      value: {},
      listQuery: {
        accountType: '',
        userId: '',
        userToken: '',
        account: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10,
        description: ''
      },
      total: 0
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    this._getList()
  },
  methods: {
    // showDetail(v) {
    //   if (v) {
    //     //   if (v.indexOf('{') === -1) {
    //     //     let t = ''
    //     //     if (v.indexOf('title') > -1) {
    //     //       t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
    //     //     } else {
    //     //       t = v
    //     //     }
    //     //     v = '{"result":"' + t.replace('\"{', '{').replace('}\"', '}') + '"}'
    //     //   }
    //     this.value = JSON.parse(v)
    //   }
    //   this.popover_visible = true
    // },
    handleChange () {
      // this._getMemberList()
    },
    _cashClear () {
      this.listQuery.accountType = ''
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this.listQuery.pageNo = 1
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getList () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getLoggerBusiList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.items.map((v) => {
            v.responseTime = `${v.responseTime} ` + `ms`
            return v
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    }
  }
}
</script>
<style lang="scss" scoped>
		.pagination-container {
				text-align: right;
		}

		.red {
				color: #FF0000;
		}

		.blue {
				color: #0a760a;
		}

		.a1 {
				display: block;
				width: 98%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap
		}

		.cell-content {
				text-align: left;

				p {
						-webkit-margin-before: .5em;
						-webkit-margin-after: .5em;
				}
		}

		.editor-container {
				position: relative;
				height: 100%;
		}

		.el-dialog__body {
				padding: 10px 20px;

				.components-container {
						margin: 10px;
				}
		}
</style>
