<template>
  <el-autocomplete
      :disabled="disabled"
      v-model="value"
      :debounce='300'
      :clearable='clearable'
      @clear='clearVal'
      @focus='clearVal'
      @input.native='clearVal'
      select-when-unmatched
      :fetch-suggestions="getData"
      :placeholder="options.placeholder"
      highlight-first-item
      @select="handleSelect"
  />
</template>

<script>
import { getMemberFuzzyQuery, getSpCodeFuzzyQuery } from 'api/common'

export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    options: {
      type: Object,
      default () {
        return {}
      }
    },
    clearable: {
      type: Boolean,
      default: true
    }
  },
  computed: {},
  data () {
    return {
      value: '',
      query: {},
      fn: null
    }
  },
  watch: {
    // value: function (val) {
    //   let query = {}
    //   switch (this.options.type) {
    //     case 'memberSearch':
    //       query = {
    //         loginId: val
    //       }
    //       break
    //     case 'spCode':
    //       query = {
    //         spCode: val
    //       }
    //       break
    //     case 'spCodeAtCache':
    //       query = {
    //         id: val,
    //         name: val
    //       }
    //       break
    //     default:
    //       query = {}
    //   }
    //   console.log(query)
    //   this.$emit('dealChange', query)
    // }
  },
  created () {
    if (this.options.defaultValue) {
      this.value = this.options.defaultValue
    }
  },
  methods: {
    clearVal (e) {
      console.log(e)
      if (!e) this.value = ''
      this.dealReduceCode()
    },
    dealReduceCode () {
      let query = {}
      switch (this.options.type) {
        case 'memberSearch':
          query = {
            loginId: '',
            userId: !this.value ? '' : 9999999
          }
          break
        case 'spCode':
          query = {
            spCode: ''
          }
          break
        case 'spCodeAtCache':
          query = {
            id: '',
            name: ''
          }
          break
        default:
          query = {}
      }
      this.$emit('dealChange', query)
    },
    switchTypeSearch (op, queryString) {
      switch (op.type) {
        case 'spCode':
          this.fn = getSpCodeFuzzyQuery
          return {
            prefix: queryString
          }
        case 'spCodeAtCache':
          this.fn = getSpCodeFuzzyQuery
          return {
            prefix: queryString
          }
        case 'memberSearch':
          this.fn = getMemberFuzzyQuery
          return {
            spCode: op.spCode,
            loginId: queryString.toLowerCase()
          }
        default:
          return {}
      }
    },
    handleSelect (val) {
      this.value = val.value
      this.commonDeal(val)
    },
    commonDeal (val) {
      let query = {}
      switch (this.options.type) {
        case 'memberSearch':
          query = {
            loginId: val.value,
            userId: val.uid
          }
          break
        case 'spCode':
          query = {
            spCode: this.value
          }
          break
        case 'spCodeAtCache':
          query = {
            id: val.id,
            name: val.value
          }
          break
        default:
          query = {}
      }
      this.$emit('dealChange', query)
    },
    handleData (type, data) {
      switch (type) {
        case 'memberSearch':
          return data.map((m) => ({
            value: m.loginId,
            uid: m.uid
          }))
        case 'spCode':
          return data.map((m) => ({
            value: m
          }))
        case 'spCodeAtCache':
          return [{ value: '全部', name: '全部', id: 'all' }].concat(data.map((m) => ({
            value: m,
            name: m,
            id: m
          })))
        default:
          return []
      }
    },
    async getData (queryString, cb) {
      // this.dealReduceCode()
      const reg = /^[^`~!@#$%^&*()+=|\\\][\]\{\}:;'\,.<>/?]{1}[^`~!@$%^&()+=|\\\][\]\{\}:;'\,.<>?]{0,19}$/
      // const reg = /\S/
      if (!reg.test(queryString)) {
        cb([])
        return
      }
      const query = await this.switchTypeSearch(this.options, queryString)
      const r = await this.fn({ ...query })
      const result = await this.handleData(this.options.type, r.data.data)
      // let typeString
      // switch (this.options.type) {
      //   case 'memberSearch':
      //     typeString = '暂未获取到相关用户数据'
      //     break
      //   case 'spCode':
      //     typeString = '暂未获取到相关厅数据'
      //     break
      //   default:
      //     typeString = '暂未获取到相关数据'
      // }
      if (result.length > 0) {
        this.commonDeal(result[0])
        // } else {
        //   this.$message({
        //     type: 'warning',
        //     message: `${typeString}!!!`
        //   })
      }
      cb(result)
    }
  }
}
</script>
