<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-cascader
          expand-trigger="hover"
          :options="options3"
          :props='props'
          @change="handleChange">
        </el-cascader>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          @change="clearType"
          unlink-panels
          :picker-options="pickerOptions"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          :default-time="['00:00:00', '23:59:59']"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button :loading="listLoading" @click.native="_search" :disabled="(!listQuery.lotteryId)"
                   type="primary">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="timeType" @change="timeTypeChange"
                        :disabled="(!listQuery.lotteryId)">
          <el-radio-button :label="0">本周</el-radio-button>
          <el-radio-button :label="1">上周</el-radio-button>
          <el-radio-button :label="2">上上周</el-radio-button>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="listLoading"
      :data="reportList"
      border
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%">
      <el-table-column
        align="right"
        prop="spCode"
        label="厅主编号"
        width="180">
      </el-table-column>
      <el-table-column
        align="right"
        prop="lotteryName"
        label="彩种名称"
        width="180">
      </el-table-column>
      <el-table-column
        align="right"
        prop="typeLottery"
        label="类型"
        width="180">
      </el-table-column>
      <el-table-column
        sortable
        :sort-method="(a,b) => sortMethod(a ,b , 'betMoney')"
        align="right"
        prop="betMoney"
        label="有效投注/元"
        width="180">
      </el-table-column>
      <!-- <el-table-column
        align="right"
        sortable
        :sort-method="(a,b) => sortMethod(a ,b , 'betRebateMoney')"
        prop="betRebateMoney"
        label="投注返点/元">
      </el-table-column> -->
      <el-table-column
        prop="winningMoney"
        sortable
        :sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
        align="right"
        label="中奖金额/元">
      </el-table-column>
      <el-table-column
        sortable
        :sort-method="(a,b) => sortMethod(a ,b , 'winRate')"
        align="right"
        prop="winRate"
        label="杀率">
        <template slot-scope='scope'>
          <span>{{scope.row.winRate}}%</span>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
  // 1007	2分时时彩
  // 1008	5分时时彩
  // 1205	2分快3
  // 1213	5分快3
  // 1404	2分PK10
  // 1405	5分PK10
  // 2003	5分六合彩
  // 1005	分分时时彩
  // 1204	分分快3
  // 1403	分分PK10
  // 2002	3分六合彩
  import { ERR_OK } from 'api/config'
  import Settime from 'utils/settime'
  import { getAjaxData } from 'api/common'
  import { parseTime } from 'utils/index'
  import { getReportSelfLotteryWinLoseList } from 'api/report'
  // import { getSysSelfLottery, getSpSelfLottery } from '@/views/selfLottery/config'

  export default {
    data () {
      return {
        typeLottery: '',
        lotteryId: '',
        dataValue: [],
        reportList: [],
        timeType: '',
        options3: [{
          name: '系统',
          id: 0,
          children: []
        }, {
          name: '厅',
          id: 1,
          children: []
        }],
        props: {
          value: 'id',
          label: 'name'
        },
        listLoading: false,
        listQuery: {
          lotteryId: '',
          beginTime: '',
          endTime: ''
        },
        pickerOptions: {
          disabledDate: (time) => {
            const nowTime = new Date(Settime.RefTime())
            return time.getTime() > new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 23, 59, 59).getTime() || time.getTime() < new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 0, 0, 0).getTime() - 3600 * 1000 * 24 * 90
          }
        }
      }
    },
    mounted () {
      this._getLotteryList()
      // this.options3[0].children = [].concat(getSysSelfLottery(false))
      // this.options3[1].children = [].concat(getSpSelfLottery(false))
      console.log(this.options3)
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    },
    methods: {
      // 排序功能
      sortMethod (obj1, obj2, column) {
        const v1 = obj1[column]
        const v2 = obj2[column]
        return v1 - v2
      },
      async _getLotteryList () {
        const r1 = await getAjaxData({ dataType: 23 })
        const r2 = await getAjaxData({ dataType: 24 })
        console.log(this)
        if (r2.data.code === ERR_OK) this.options3[0].children = [].concat(r2.data.data.items)
        if (r1.data.code === ERR_OK) this.options3[1].children = [].concat(r1.data.data.items)
        console.log(this.options3)
      },
      handleChange (val) {
        console.log(val)
        this.clearType()
        this.listQuery.lotteryId = val[1]
        if (val[0] === 0) {
          this.typeLottery = '系统'
        } else {
          this.typeLottery = '厅'
        }
      },
      timeTypeChange (picker) {
        const nowTime = new Date(Settime.RefTime())
        // const nowTime = new Date(2018, 9, 7, 12, 0, 0)
        const _data = {
          start: nowTime,
          end: new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 23, 59, 59),
          step: nowTime.getDay() > 0 ? nowTime.getDay() - 1 : 6
        }
        console.log(_data.step)
        const tstart = new Date(nowTime.getTime() - 24 * 3600 * 1000 * (_data.step + picker * 7))
        const tend = new Date(tstart.getTime() + 6 * 24 * 3600 * 1000)
        switch (picker) {
          case 0:
            _data.start = new Date(tstart.getFullYear(), tstart.getMonth(), tstart.getDate(), 0, 0, 0)
            break
          default:
            _data.start = new Date(tstart.getFullYear(), tstart.getMonth(), tstart.getDate(), 0, 0, 0)
            _data.end = new Date(tend.getFullYear(), tend.getMonth(), tend.getDate(), 23, 59, 59)
        }
        this.dataValue = [_data.start, _data.end]
        this._getTotalBetReportList()
      },
      clearType () {
        this.timeType = ''
      },
      // 获取列表数据
      _getTotalBetReportList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d} {h}:{i}:{s}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d} {h}:{i}:{s}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getReportSelfLotteryWinLoseList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.reportList = res.data.data.elements.map((v) => {
              v.winRate = (v.winRate * 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney).toFixed(2)
              v.betMoney = parseFloat(v.betMoney).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney).toFixed(2)
              v.typeLottery = this.typeLottery
              return v
            })
          }
          this.listLoading = false
        }).catch((err) => {
          console.log(err)
        })
      },
      _search () {
        this._getTotalBetReportList()
      }
    }
  }
</script>

