<template>
  <el-card>
    <common-component :items='ReportLotteryWinLoseSearch' :list-loading='listLoading' @changeSort='changeSort'>
      <template slot='filter'>
        <el-form :inline='true'>
          <el-form-item>
            <!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
            <!--												           clearable default-first-option-->
            <!--												           v-model="listQuery.spCode">-->
            <!--														<el-option-->
            <!--															v-for="item in spList"-->
            <!--															:key="item.id"-->
            <!--															:label="item.id"-->
            <!--															:value="item.id">-->
            <!--														</el-option>-->
            <!--												</el-select>-->
            <fuzzy-query-search
              :options='{type:"spCode",placeholder:"请输入厅编码"}'
              ref='sSearch'
              @dealChange='dealSpCodeChange'></fuzzy-query-search>
          </el-form-item>
          <el-form-item>
            <!--												<el-input style="width: 170px;" placeholder="请输入登录账号" clearable-->
            <!--												          v-model="listQuery.loginId">-->
            <!--												</el-input>-->
            <fuzzy-query-search
              :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入登录账号"}'
              @dealChange='dealChange'
              ref='mSearch'
              :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
          </el-form-item>
          <el-form-item>
            <el-select v-model="lotteryTypeId" clearable filterable default-first-option
                       placeholder="选择彩种类型"
                       @change="handleChange">
              <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name"
                         :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.lotteryId" clearable filterable default-first-option
                       placeholder="选择彩种">
              <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.timeZone" default-first-option
                       placeholder="请选择时区">
              <el-option label="北京时间" :value="1"></el-option>
              <el-option label="美东时间" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <date-range v-show="listQuery.timeZone === 2" ref="dateRange"
                        :options="dateRangeOption"></date-range>
            <date-range v-show="listQuery.timeZone === 1" ref="dateRangeCn"
                        :options="dateRangeOptionCn"></date-range>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="search"
                       icon="el-icon-search"
                       :disabled="hasPermission('ReportLotteryWinLoseSearch') || !listQuery.spCode"
                       :loading="listLoading">查询
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="exportExel" :loading="loaded"
                       :disabled="!(listQuery.spCode&&ReportLotteryWinLoseSearch.length)||hasPermission('ReportLotteryWinLoseExport')">
              报表导出
            </el-button>
          </el-form-item>
        </el-form>
      </template>
      <template slot='otherColumn'>
        <el-table-column
          prop="loginId"
          align="right"
          min-width="100"
          label="登录账号">
          <template slot-scope='scope'>
            <el-button type='text'
                       @click='openDrawer(scope.row)'
                       v-if="!hasPermission('ReportAnalysisUserSearch')">{{scope.row.loginId}}
            </el-button>
            <span v-else>{{scope.row.loginId}}</span>
          </template>
        </el-table-column>
        <!--								<el-table-column-->
        <!--									prop="userId"-->
        <!--									align="right"-->
        <!--									min-width="100"-->
        <!--									label="用户id">-->
        <!--								</el-table-column>-->
      </template>
      <template slot='page'>
        <div v-if="total" class="pagination-container fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page.sync="listQuery.pageNo"
                         :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                         layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </template>
    </common-component>
    <el-drawer
      :title="drawerTitle"
      :visible.sync="drawer"
      direction="btt"
      custom-class="drawer"
      size='470'>
      <search-query
        :key='drawerKey'
        :lottery-type-id='lotteryTypeId'
        :emit-loading='emitLoading'
        :lottery-type-list='lotteryTypeList'
        :total='emitTotal'
        ref='searchQuery'
        :report-analysis-user-search='ReportAnalysisUserSearch'
        @search='searchUserBetAmount'
        :list-query='emitQuery'></search-query>
    </el-drawer>
  </el-card>
</template>
<script>
  import {
    getReportLotteryWinLoseSearch,
    getReportAnalysisUserSearch
  } from 'api/report'
  import { ERR_OK } from 'api/config'
  import { getAjaxData, postReportExport } from 'api/common'
  import dateRange from 'components/dateRange/index'
  import {
    parseTime
  } from 'utils/index'
  import tools from 'utils/tools'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import commonComponent from '../commonComponent'
  import searchQuery from './searchQuery'

  export default {
    components: {
      commonComponent, searchQuery, dateRange, fuzzyQuerySearch
    },
    name: 'Index',
    props: {},
    data () {
      return {
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: (new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)),
          dateEnd: (new Date())
        },
        ReportLotteryWinLoseSearch: [],
        dataValue: [],
        lotteryTypeId: '',
        total: 0,
        // spList: [],
        listQuery: {
          spCode: '',
          lotteryId: '',
          beginTime: '',
          endTime: '',
          loginId: '',
          timeZone: 2,
          orderField: '',
          orderSort: 'DESC',
          pageSize: 10,
          pageNo: 1
        },
        options: [],
        listLoading: false,
        loaded: false,
        lotteryTypeList: [],
        ReportAnalysisUserSearch: [],
        emitTotal: 0,
        drawer: false,
        emitLoading: false,
        emitQuery: {},
        drawerTitle: '',
        drawerKey: 0
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      dealSpCodeChange (op) {
        this.listQuery = { ...this.listQuery, ...op, loginId: '' }
        this.$refs.mSearch.value = ''
      },
      openDrawer (obj) {
        ++this.drawerKey
        const { spCode, loginId, userId } = obj
        this.drawerTitle = `${loginId}用户分析`
        const {
                lotteryId, beginTime, endTime, timeZone
              } = this.listQuery
        this.emitQuery = {
          spCode, loginId, userId, lotteryId, beginTime, endTime, timeZone
        }
        this.searchUserBet({
          spCode,
          loginId,
          userId,
          lotteryId,
          beginTime,
          endTime,
          timeZone,
          pageNo: 1,
          pageSize: 10
        })
        this.drawer = true
        setTimeout(() => {
          this.$set(this.$refs.searchQuery.$data.emitQuery, 'timeZone', timeZone)
          if (this.listQuery.timeZone === 2) {
            this.$set(this.$refs.searchQuery.$refs.dateRange.$data.date, 0, beginTime)
            this.$set(this.$refs.searchQuery.$refs.dateRange.$data.date, 1, endTime)
          } else {
            this.$set(this.$refs.searchQuery.$refs.dateRangeCn.$data.date, 0, beginTime)
            this.$set(this.$refs.searchQuery.$refs.dateRangeCn.$data.date, 1, endTime)
          }
        }, 300)
      },
      searchUserBet (obj) {
        this.emitLoading = true
        getReportAnalysisUserSearch(obj).then((res) => {
          if (res.data.code === ERR_OK) {
            this.ReportAnalysisUserSearch = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.emitTotal = res.data.data.totalCount
          }
          this.emitLoading = false
        })
      },
      searchUserBetAmount (obj) {
        this.searchUserBet(obj)
      },
      dataTimeChangeGet (v) {
        if (!v) this.dataValue = []
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getReportLotteryWinLoseSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getReportLotteryWinLoseSearch()
      },
      changeSort (v) {
        if (this.listQuery.spCode) {
          this.listQuery.orderField = v.prop
          if (v.order === 'ascending') {
            this.listQuery.orderSort = 'ASC'
          } else {
            this.listQuery.orderSort = 'DESC'
          }
          this._getReportLotteryWinLoseSearch()
        }
      },
      setDatetime () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      _getReportLotteryWinLoseSearch () {
        this.setDatetime()
        this.listLoading = true
        getReportLotteryWinLoseSearch(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.ReportLotteryWinLoseSearch = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport({ ...this.listQuery, cmd: 'ReportLotteryWinLoseExport' }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 3)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      search () {
        if (this.lotteryTypeId) {
          if (!this.listQuery.lotteryId) {
            this.$message({
              type: 'error',
              message: `请选择彩种`
            })
            return
          }
        }
        this.listQuery.pageNo = 1
        this._getReportLotteryWinLoseSearch()
      }
    },
    created () {
      // this._getSpInfoList()
      this._getLotteryTypeList()
    }
  }
</script>

<style lang='scss' scoped>
  ::v-deep .drawer {
    font-size: 24px;

    .el-drawer__header {
      margin-bottom: 10px;
    }

    .el-drawer__body {
      padding: 10px;
    }
  }
</style>
