<template>
  <common-component :items='ReportAnalysisUserSearch' :list-loading='emitLoading' @changeSort='changeSort'>
    <template slot='filter'>
      <el-form :inline='true'>
        <el-form-item>
          <el-select v-model="emitQuery.timeZone" default-first-option
                     placeholder="请选择时区"
          >
            <el-option label="北京时间" :value="1"></el-option>
            <el-option label="美东时间" :value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <date-range v-show="emitQuery.timeZone === 2" ref="dateRange"
                      :options="dateRangeOption"></date-range>
          <date-range v-show="emitQuery.timeZone === 1" ref="dateRangeCn"
                      :options="dateRangeOptionCn"></date-range>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click.native="search"
                     icon="el-icon-search"
                     :loading="emitLoading">查询
          </el-button>
        </el-form-item>

      </el-form>
    </template>
    <template slot='otherColumn'>
      <el-table-column
        prop="lotteryName"
        align="right"
        min-width="100"
        label="彩种名称">
      </el-table-column>
    </template>
    <template slot='page'>
      <div v-if="total" class="pagination-container fr">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page.sync="emitQuery.pageNo"
                       :page-sizes="[10,20,50,100,200,500]" :page-size="emitQuery.pageSize"
                       layout="total, prev, pager, next" :total="total">
        </el-pagination>
      </div>
    </template>
  </common-component>
</template>
<script>
  import { parseTime } from 'utils/index'
  import dateRange from 'components/dateRange/index'
  import tools from 'utils/tools'
  import commonComponent from '../commonComponent'

  export default {
    name: 'SearchQuery',
    components: { commonComponent, dateRange },
    props: {
      listQuery: {
        type: Object,
        required: true
      },
      lotteryTypeList: Array,
      lotteryTypeId: String,
      emitLoading: {
        type: Boolean,
        default: false
      },
      ReportAnalysisUserSearch: Array,
      total: {
        type: Number,
        default: 0
      }
    },
    data () {
      return {
        dataValue: [],
        ReportUserBetAmountSearch: [],
        options: [],
        emitQuery: {
          spCode: '',
          lotteryId: '',
          beginTime: '',
          endTime: '',
          loginId: '',
          timeZone: 2,
          orderField: '',
          orderSort: 'DESC',
          pageSize: 10,
          pageNo: 1
        },
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: (new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)),
          dateEnd: (new Date())
        }
      }
    },
    computed: {},
    watch: {},
    methods: {
      // dataTimeChangeGet (v) {
      //   if (!v) this.dataValue = []
      // },
      handleSizeChange (val) {
        this.emitQuery.pageSize = val
        this.emitQuery.pageNo = 1
        this._getReportAnalysisUserSearch()
      },
      handleCurrentChange (val) {
        this.emitQuery.pageNo = val
        this._getReportAnalysisUserSearch()
      },
      changeSort (v) {
        this.emitQuery.orderField = v.prop
        if (v.order === 'ascending') {
          this.emitQuery.orderSort = 'ASC'
        } else {
          this.emitQuery.orderSort = 'DESC'
        }
        this._getReportAnalysisUserSearch()
      },
      _getReportAnalysisUserSearch () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        console.log(this.emitQuery)
        this.$emit('search', this.emitQuery)
      },
      search () {
        this.emitQuery.pageNo = 1
        this._getReportAnalysisUserSearch()
      }
    },
    beforeCreate () {},
    created () {
      const {
              spCode, beginTime, endTime, loginId, timeZone, userId
            } = this.listQuery
      this.emitQuery = {
        ...this.emitQuery, spCode, beginTime, endTime, loginId, timeZone, userId
      }
    },
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss' scoped>

</style>
