<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select v-model="lotteryTypeId" placeholder="选择彩种类型" @change="handleChange"
                   clearable style="width: 150px"
                   @clear="resetSelect">
          <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable
                   style="width: 150px"
                   :disabled="!lotteryTypeId">
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.issue" style="width: 150px"
                  placeholder="请输入彩期" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_search"
                   :loading="listLoading"
                   :disabled="hasPermission('TaskRefundList')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
        :data="TaskRefundList"
        border
        show-summary
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        style="width: 100%">
      <el-table-column align="right" label="ID" min-width="60" prop='id'>
      </el-table-column>
      <el-table-column align="right" label="操作人帐号" min-width="100" prop='loginId'>
      </el-table-column>
      <el-table-column align="right" label="彩种ID" min-width="80">
        <template slot-scope='scope'>{{ scope.row.lotteryId }}</template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="100" prop='lotteryName'>
      </el-table-column>
      <el-table-column align="right" label="期号" min-width="150">
        <template slot-scope='scope'>{{ scope.row.issue }}</template>
      </el-table-column>
      <el-table-column align="right" label="彩期开盘时间" min-width="150">
        <template slot-scope='scope'>{{ scope.row.beginTime }}</template>
      </el-table-column>
      <el-table-column align="right" label="彩期封盘时间" min-width="150">
        <template slot-scope='scope'>{{ scope.row.endTime }}</template>
      </el-table-column>
      <el-table-column
          min-width="100"
          align="right"
          label="任务状态">
        <template slot-scope="scope">
          <span :class="switchColor(scope.row.status)">{{ scope.row.status | statusFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="90"
          prop="totalNum"
          label="总数"
          align="right">
        <template slot-scope="scope">
          <span>{{ scope.row.totalNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="120"
          prop="succNum"
          align="right"
          label="成功数">
      </el-table-column>
      <el-table-column
          min-width="120"
          prop="ignoreNum"
          align="right"
          label="忽略数">
      </el-table-column>
      <el-table-column
          min-width="120"
          prop="failNum"
          align="right"
          label="失败数">
        <template slot-scope="scope">
          <span v-if="scope.row.failNum > 0" :class="switchColor(3)" @click='_showDialog(scope.row)'
                style='cursor: pointer'>{{ scope.row.failNum }}</span>
          <span v-else>{{ scope.row.failNum }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="160"
          label="处理描述"
          align="right">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{ scope.row.description }}</div>
            <span class="a1"
                  style="color:#374eff;cursor: pointer">{{ scope.row.description }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="createTime"
          align="right"
          label="创建时间">
      </el-table-column>
      <el-table-column
          min-width="150"
          label="完成时间"
          prop='finishTime'
          align="right">
      </el-table-column>
      <!--      <el-table-column-->
      <!--          label="操作"-->
      <!--          min-width="120"-->
      <!--          align="right"-->
      <!--          prop="status">-->
      <!--        <template slot-scope="scope" v-if='scope.row.status===2'>-->
      <!--          <el-button @click='_postOrderCancelByTask(scope.row)' type="primary"-->
      <!--                     :disabled="hasPermission('OrderCancelByTask')">-->
      <!--            重新撤单-->
      <!--          </el-button>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog :visible.sync="dialogTableVisible" width="1300px" title="撤单任务失败列表" append-to-body>
      <el-button @click='_postTaskRefundFailedProcess' type="primary"
                 :disabled="hasPermission('TaskRefundFailedProcess')">
        批量处理
      </el-button>
      <el-table
          :data="TaskRefundFailedList"
          border
          v-loading="sublistLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          style="width: 100%">
        <el-table-column align="right" label="彩种ID" prop="lotteryId" width="80">
        </el-table-column>
        <el-table-column align="right" label="厅编号" prop="spCode" width="80">
        </el-table-column>
        <el-table-column
            min-width="150"
            label="彩期号"
            align="right">
          <template slot-scope="scope">
            <span>{{ scope.row.issue }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="150"
            label="注单号"
            align="right">
          <template slot-scope="scope">
            <span>{{ scope.row.orderCode }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="150"
            label="下注人用户帐号"
            align="right">
          <template slot-scope="scope">
            <span>{{ scope.row.loginId }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            label="错误原因"
            align="right">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="light" placement="top" v-if="scope.row.errorReason">
              <div slot="content">{{ scope.row.errorReason }}</div>
              <span class="a1"
                    style="color:#374eff;cursor: pointer">{{ scope.row.errorReason }}</span>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            align="right"
            label="处理状态">
          <template slot-scope="scope">
            <span>{{ scope.row.processStatus | processStatusFilter }}</span>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            label="处理描述"
            align="right">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="light" placement="top" v-if="scope.row.processDesc">
              <div slot="content">{{ scope.row.processDesc }}</div>
              <span class="a1"
                    style="color:#374eff;cursor: pointer">{{ scope.row.processDesc }}</span>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column
            min-width="160"
            prop="processTime"
            align="right"
            label="处理时间">
        </el-table-column>
        <el-table-column
            label="操作"
            min-width="120"
            align="right"
            prop="status">
          <template slot-scope="scope">
            <el-button @click='_postTaskRefundFailedForceProcess(scope.row)' type="primary"
                       :disabled="hasPermission('TaskRefundFailedProcess')">
              强制处理
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div v-if="subtotal" class="pagination-container fr">
        <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
                       :current-page.sync="failQuery.pageNo"
                       :page-sizes="[10,20,50,100,200,500]" :page-size="failQuery.pageSize"
                       layout="total, sizes, prev, pager, next, jumper" :total="subtotal">
        </el-pagination>
      </div>
      <div style="clear: both"></div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import {
  getTaskRefundList,
  postTaskRefundFailedList,
  postTaskRefundFailedProcess,
  postTaskRefundFailedForceProcess
  // postOrderCancelByTask
} from 'api/settlement'

export default {
  data () {
    return {
      numTypes: [
        { value: 1, label: '执行总条数' },
        { value: 2, label: '失败总条数' },
        { value: 3, label: '忽略总条数' },
        {
          value: 4, label: '成功总条数'
        }
      ],
      listQuery: {
        lotteryId: '',
        issue: '',
        pageNo: 1,
        pageSize: 10
      },
      failQuery: {
        taskId: '',
        pageNo: 1,
        pageSize: 10
      },
      listLoading: false,
      sublistLoading: false,
      lotteryTypeId: '',
      dialogTableVisible: false,
      statusList: [
        {
          value: 0,
          label: '未开始'
        },
        {
          value: 1,
          label: '执行中'
        },
        {
          value: 2,
          label: '已结束'
        },
        {
          value: 3,
          label: '执行异常'
        }
      ],
      resultsList: [
        {
          value: 0,
          label: '未处理'
        },
        {
          value: 1,
          label: '处理中'
        },
        {
          value: 2,
          label: '处理成功'
        },
        {
          value: 3,
          label: '处理失败'
        }
      ],
      typeList: [],
      lotteryList: [],
      TaskRefundList: [],
      TaskRefundFailedList: [],
      total: 0,
      subtotal: 0,
      taskId: '',
      lotteryId: '',
      issue: ''
    }
  },
  created () {
    this._getLotteryTypeList()
    this._getList()
  },
  methods: {
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.typeList = res.data.data.items
        }
      })
    },
    handleChange (val) {
      this.resetSelect()
      getAjaxData({ dataType: 13, pId: val }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = res.data.data.items
        }
      })
    },
    resetSelect () {
      this.lotteryList = []
      this.listQuery.lotteryId = ''
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getList () {
      this.listLoading = true
      getTaskRefundList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.TaskRefundList = res.data.data.elements
          this.total = res.data.data.totalCount
        }
      })
      this.listLoading = false
    },
    // 弹框
    async _showDialog (row) {
      await this._postTaskRefundFailedList(row)
      this.dialogTableVisible = true
    },
    // 获取弹框列表
    _postTaskRefundFailedList (row) {
      this.taskId = row ? row.id : this.taskId
      this.lotteryId = row ? row.lotteryId : this.lotteryId
      this.issue = row ? row.issue : this.issue
      this.failQuery.taskId = this.taskId
      this.sublistLoading = true
      postTaskRefundFailedList(this.failQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.TaskRefundFailedList = res.data.data.elements
          this.subtotal = res.data.data.totalCount
        }
      })
      this.sublistLoading = false
    },
    handleSizeChange1 (val) {
      this.failQuery.pageSize = val
      this._postTaskRefundFailedList()
    },
    handleCurrentChange1 (val) {
      this.failQuery.pageNo = val
      this._postTaskRefundFailedList()
    },
    // 批量处理数据
    _postTaskRefundFailedProcess () {
      this.$confirm(`此操作将批量处理异常失败数据, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          lotteryId: this.lotteryId,
          issue: this.issue
        }
        postTaskRefundFailedProcess(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `处理成功!`
            })
          }
          this._postTaskRefundFailedList()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    // 强制处理单组数据
    _postTaskRefundFailedForceProcess (row) {
      this.$confirm(`此操作将强制处理该组异常失败数据, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          lotteryId: row.lotteryId,
          issue: row.issue,
          orderCode: row.orderCode
        }
        postTaskRefundFailedForceProcess(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `处理成功!`
            })
          }
          this._postTaskRefundFailedList()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    // 任务撤单接口
    // _postOrderCancelByTask (row) {
    //   this.$confirm(`此操作将进行任务撤单, 是否继续?`, '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     const query = {
    //       lotteryId: row.lotteryId,
    //       issue: row.issue
    //     }
    //     postOrderCancelByTask(query).then((res) => {
    //       if (res.data.code === ERR_OK) {
    //         this.$message({
    //           type: 'success',
    //           message: `撤单成功!`
    //         })
    //       }
    //       this._getList()
    //     })
    //   }).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '取消操作!'
    //     })
    //   })
    // },
    switchColor (s) {
      let co
      switch (s) {
        case 1:
          co = 'warning'
          break
        case 2:
          co = 'success'
          break
        case 3:
          co = 'danger'
          break
        default:
      }
      return co
    }
  },
  filters: {
    statusFilter (type) {
      const typeMap = {
        0: '未开始',
        1: '执行中',
        2: '已结束',
        3: '执行异常'
      }
      return typeMap[type]
    },
    resultFilter (type) {
      const typeMap = {
        0: '未处理',
        1: '处理中',
        2: '处理成功',
        3: '处理失败'
      }
      return typeMap[type]
    },
    processStatusFilter (type) {
      const typeMap = {
        0: '未处理',
        1: '处理完成',
        3: '处理异常'
      }
      return typeMap[type]
    }
  }
}
</script>
<style scoped>
.success {
  color: #60da24;
}

.warning {
  color: #E6A23C;
}

.danger {
  color: #f00
}
</style>
