<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select clearable filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input v-model="listQuery.loginId" style="width: 180px"-->
        <!--								          placeholder="请输入代理用户账号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入代理用户账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 180px" placeholder="请选择团队状态"
                   clearable
                   v-model="listQuery.groupStatus"
                   :disabled="hasPermission('AgentInfoList')">
          <el-option
            :disabled="hasPermission('AgentInfoList')"
            v-for="item in status"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 180px" placeholder="请选择自身状态"
                   clearable
                   v-model="listQuery.status" :disabled="hasPermission('AgentInfoList')">
          <el-option
            v-for="item in status"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.spTplId" style="width: 180px"
                  placeholder="请输盘口编号"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :disabled="listLoading || !listQuery.spCode">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              row-key="uid"
              lazy
              max-height='700'
              :load="load"
              style="width: 100%">
      <el-table-column align="left" label="代理账号" min-width="180" prop="loginId">
        <template slot-scope="scope">
          <span>{{scope.row.loginId}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="代理类型" prop="agentType" min-width="80">
        <template slot-scope="scope">
          <span>{{scope.row.agentType === 0 ? '层级代理' : '直属代理'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="默认代理" prop="agentDefault" min-width="80">
        <template slot-scope="scope">
          <span>{{scope.row.agentDefault ? '是' : '否'}}</span>
        </template>
      </el-table-column>

      <el-table-column align="right" label="代理是否允许返点" prop="allowRebate" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.allowRebate === 0 ? '不允许' : '允许'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="所属盘口" min-width="80" prop="spTplName">
      </el-table-column>
      <el-table-column align="right" label="团队状态" min-width="80" prop="groupStatus">
        <template slot-scope="scope">
          <span>{{scope.row.groupStatus |filterStatus}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="自身状态" min-width="80">
        <template slot-scope="scope">
          <span>{{scope.row.status | filterStatus}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="注册IP" prop="ip" min-width="100">
      </el-table-column>
      <el-table-column align="right" label="注册时间" prop="regTime" min-width="120">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import {
  //   getAjaxData
  // } from 'api/common'
  import { getAgentInfoList } from 'api/members'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        // spList: [],
        treeData: [],
        defaultProps: {
          children: 'children',
          label: 'name',
          isLeaf: 'leaf'
        },
        elements: [],
        listLoading: false,
        listQuery: {
          spCode: '',
          status: '',
          groupStatus: '',
          loginId: '',
          spTplId: '',
          pageNo: 1,
          pageSize: 10
        },
        total: 0,
        filterText: '',
        status: [
          {
            value: 1,
            label: '启用'
          }, {
            value: 4,
            label: '禁用'
          },
          {
            value: 5,
            label: '冻结'
          },
          {
            value: 6,
            label: '停权'
          }
        ]
      }
    },
    watch: {
      filterText (val) {
        this.$refs.tree2.filter(val)
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._getAgentInfoList()
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this._getAgentInfoList()
      },
      // 这里找到挂载节点懒挂载
      async load (tree, treeNode, resolve) {
        const query = {
          spCode: tree.spCode,
          parentId: tree.uid,
          pageSize: 500
        }
        await getAgentInfoList(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.treeData = res.data.data.elements.map((v) => {
              v = { ...v, hasChildren: true }
              return v
            })
          }
        })
        resolve(this.treeData)
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getAgentInfoList()
      },
      _getAgentInfoList () {
        this.elements = []
        this.listLoading = true
        getAgentInfoList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v = { ...v, hasChildren: true }
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
      // _getSpList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // }
    },
    filters: {
      filterStatus (status) {
        const statusMap = {
          1: '启用',
          4: '禁用',
          5: '冻结',
          6: '停权'
        }
        return statusMap[status]
      }
    },
    created () {
      // this._getSpList()
    }
  }
</script>
<style scoped lang="scss">
  ::v-deep .el-tree {
    height: 570px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>
