<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-button type="primary" icon="el-icon-plus" @click="showDialog({},1)"
                   :disabled="hasPermission('AuthRoleCreate')">新增
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="角色ID" width="250">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="250" align="right" label="角色名称">
        <template slot-scope="scope">
          <span>{{ scope.row.roleName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="角色描述" min-width="300">
        <template slot-scope="scope">
          <span>{{ scope.row.roleDesc }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" min-width="300">
        <template slot-scope="scope">
          <el-button type="success" @click="showDialog(scope.row,2)"
                     :disabled="Boolean(scope.row.id===1? 1:0)||hasPermission('AuthRoleUpdate')">编辑
          </el-button>
          <el-button type="success" @click="_limitBind(scope.row)"
                     :disabled="Boolean(scope.row.id===1? 1:0)||hasPermission('AuthPermissionBind') || hasPermission('AuthPermissionList')">
            权限绑定
          </el-button>
          <!--<el-button type="success" @click="_limitBind(scope.row.id)" width="100px">删除</el-button>-->
        </template>
      </el-table-column>
    </el-table>
    <!--弹窗-->
    <el-dialog :visible.sync="dialogFormVisibleForDefine" :title="temp.title" class="newrole-dialog" width='50%'>
      <el-form class="small-space" :model="temp" label-position="left"
               label-width="100px" :rules="rules" ref="CreateForm">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="temp.roleName" type="text" name="roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="temp.roleDesc" type="test" name="roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postAuthRoleCreate(temp)">提 交
        </el-button>
        <el-button type="primary" @click="resetF">关 闭</el-button>
      </div>
    </el-dialog><!--新增弹窗-->

    <!--弹框2-->
    <el-dialog :visible.sync="dialogFormVisibleForDefine2" title="编辑权限" width='80%'>
      <div class="bindContent">
        <div v-for="(item,index) in items" :key='index' style="margin-bottom: 15px"
             v-if="role==='master' && (item.id!=='1009'||item.id!=='1012')">
          <!--             v-if="(role==='master'|| (role!=='master' && item.id!=='1015')) && item.id!=='1009'">-->
          <div class="authroleBinds">
            <el-checkbox v-model="item.checked" @change="handleCheckAllChange(item)">{{item.name}}
            </el-checkbox>
          </div>
          <div style="width: 100%;height:auto">
            <template v-for="(it,indexs) in item.children">
              <fieldset v-if='it.children' class='field-box' :key='indexs'>
                <legend>
                  <el-checkbox style='margin-left: 10px'
                               v-model="it.checked"
                               @change="handleCheckAllBtnsChange(it,item)">
                    {{it.name}}
                  </el-checkbox>
                </legend>
                <el-checkbox
                  style="width: 30%;padding: 8px 0 2px 10px;margin: 0"
                  v-for='i in it.children'
                  v-model="i.checked"
                  :label="i.name"
                  :key='i.id'
                  @change="handleCheckedBindbtnsChange(it,i,item)">
                </el-checkbox>
              </fieldset>
              <el-checkbox style="width: 30%;padding: 8px 0 2px 10px;margin: 0;margin-left: 15px"
                           v-else
                           :key='indexs'
                           v-model="it.checked"
                           :label="it.name"
                           @change="handleCheckedBindChange(item,it,false)">
              </el-checkbox>
            </template>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer" width="1200">
        <el-button @click="limitResetF">关闭</el-button>
        <el-button type="primary" @click="_postAuthPermissionBind">提交</el-button>
      </div>
    </el-dialog><!--权限弹框-->
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { vChineseOrEnglish } from 'utils/validate'
  import {
    getAuthRoleList,
    postAuthRoleCreate,
    postAuthRoleUpdate,
    postAuthPermissionBind,
    getAuthPermissionList
  } from 'api/system/index'
  import { mapGetters } from 'vuex'

  export default {
    data () {
      const validataRoleName = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('输入不能为空'))
        } else if (!vChineseOrEnglish(value)) {
          callback(new Error('角色名称仅仅支持汉字，字母和数字字符'))
        } else if (value.length > 10) {
          callback(new Error('角色名称不能超过10个汉字或字符'))
        } else {
          callback()
        }
      }
      return {
        rules: {
          roleName: [
            {
              required: true,
              trigger: 'blur',
              validator: validataRoleName
            }
          ]
        },
        items: [],
        listLoading: false,
        elements: [],
        query: {
          roleId: '',
          perIds: ''
        },
        temp: {
          title: '',
          id: '',
          roleName: '',
          roleDesc: ''
        },
        dialogFormVisibleForDefine: false,
        dialogFormVisibleForDefine2: false
      }
    },
    created () {
      this._getAuthRoleList()
    },
    computed: {
      ...mapGetters([
        'role'
      ])
    },
    methods: {
      _getAuthRoleList () {
        this.listLoading = true
        getAuthRoleList().then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items
          }
          this.listLoading = false
        })
      },
      translateDataToTree (data, parentId = '0') {
        const tree = []
        let temp
        for (let i = 0; i < data.length; i++) {
          if (data[i].parentId === parentId) {
            const obj = data[i]
            // if (obj.parentId === '0' && obj.name === '自开彩管理' || obj.id === '1009') continue
            if (obj.parentId === '0' && (obj.id === '1009' || obj.id === '1012')) continue
            obj.checked = Boolean(obj.checked === 'true')
            temp = this.translateDataToTree(data, data[i].id)
            if (temp.length > 0) {
              obj.children = temp
            }
            tree.push(obj)
          }
        }
        return tree
      },
      _getAuthPermissionList (a) {
        this.query.roleId = a.id
        getAuthPermissionList({ roleId: this.query.roleId }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.items = []
            const temp = res.data.data.items
            // for (let i = 0; i < temp.length; i++) {
            //   if (temp[i].parentId === '0') {
            //     if (temp[i].name === '自开彩管理') continue
            //     let node = {}
            //     temp[i].checked = Boolean(temp[i].checked === 'true')
            //     node = temp[i]
            //     const child = []
            //     for (let j = 0; j < temp.length; j++) {
            //       if (node.id === temp[j].parentId) {
            //         temp[j].checked = Boolean(temp[j].checked === 'true')
            //         child.push(temp[j])
            //         for (let m = 0; m < temp.length; m++) {
            //           if (temp[j].id === temp[m].parentId) {
            //             temp[m].checked = Boolean(temp[m].checked === 'true')
            //             temp[m].name = temp[j].name + '/' + temp[m].name
            //             child.push(temp[m])
            //           }
            //         }
            //       }
            //     }
            //     node.children = child
            //     this.items.push(node)
            //   }
            // }
            // console.log('this.items', this.items)
            this.items = this.translateDataToTree(temp)
            console.log('this.items', this.items)
          }
        })
      },
      handleCheckAllBtnsChange (item, parentItem) {
        console.log(2222)
        if (!item.checked) this.handleCheckAllChange(item)
        this.handleCheckedBindChange(parentItem, item)
      },
      handleCheckAllChange (items) {
        if (!items.children) return
        for (let i = 0; i < items.children.length; i++) {
          items.children[i].checked = items.checked
          if (items.children[i].children) {
            items.children[i].children.forEach((v) => {
              v.checked = items.checked
            })
          }
        }
      },
      handleCheckedBindbtnsChange (it, i, item) {
        this.handleCheckedBindChange(it, i, true)
        console.log(1111)
        let flag = false
        const child = item.children
        for (let i = 0; i < child.length; i++) {
          if (child[i].checked) {
            flag = true
            break
          }
        }
        item.checked = flag
      },
      handleCheckedBindChange (items, item, tag = false) {
        console.log(tag)
        let flag = (tag && !item.checked) || false
        items.children.forEach((el) => {
          if (el.checked) flag = true
        })
        items.checked = flag
      },
      _postAuthRoleCreate (temp) {
        let fn = postAuthRoleCreate
        const query = {}
        let text = ''
        if (temp.id) {
          if (temp.id === 1) {
            this.$message({
              type: 'error',
              message: '超级管理员不允许更改'
            })
            return false
          }
          fn = postAuthRoleUpdate
          query.id = temp.id
          query.roleName = temp.roleName
          query.roleDesc = temp.roleDesc
          text = `更新原‘${temp.tempRoleName}’的角色名`
        } else {
          query.roleName = temp.roleName
          query.roleDesc = temp.roleDesc
          text = '添加新的角色名'
        }
        this.$refs.CreateForm.validate((valid) => {
          if (valid) {
            this.$confirm(`将${text}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              fn(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `${temp.title}!`
                  })
                  this.resetF()
                  this._getAuthRoleList()
                }
              })
            })
          }
        })
      },
      _postAuthPermissionBind () {
        const roleArr = []
        this.items.forEach((item) => {
          if (item.checked) roleArr.push(item.id)
          if (item.children) {
            item.children.forEach((el) => {
              if (el.checked) roleArr.push(el.id)
              if (el.children) {
                el.children.forEach((e) => {
                  if (e.checked) roleArr.push(e.id)
                })
              }
            })
          }
        })
        this.query.perIds = roleArr.join(',')
        const str = this.member.roleName
        this.$confirm(`此操作将对用户为${str}进行权限绑定绑定， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postAuthPermissionBind(this.query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '绑定成功'
              })
              this.limitResetF()
              this.dialogFormVisibleForDefine2 = false
              this._getAuthRoleList()
            }
          })
        })
      },
      resetF () {
        this.dialogFormVisibleForDefine = false
        this.$refs.CreateForm.resetFields()
        this.temp = {
          title: '',
          id: '',
          roleName: '',
          roleDesc: ''
        }
      },
      limitResetF () {
        this.dialogFormVisibleForDefine2 = false
        this.items = []
      },
      showDialog (obj, flag) {
        if (flag === 1) {
          this.temp.title = '新增角色'
          this.temp.roleName = ''
          this.temp.roleDesc = ''
        } else {
          this.temp.title = '编辑角色'
          this.temp.roleName = obj.roleName
          this.temp.tempRoleName = obj.roleName
          this.temp.id = obj.id
          this.temp.roleDesc = obj.roleDesc
          this.dialogFormVisibleForDefine = false
        }
        this.dialogFormVisibleForDefine = true
      },
      _limitBind (a) {
        this.limitResetF()
        this.member = a
        this.dialogFormVisibleForDefine2 = true
        this.listLoading = false
        this._getAuthPermissionList(a)
      }
    }
  }
</script>
<style lang="scss" scoped>
  ::v-deep .el-dialog {
    .el-checkbox {
      padding-right: 10px;
      margin-top: 5px;
    }

    .bindContent {
      border: 1px gainsboro solid;
      -webkit-border-radius: .3em;
      -moz-border-radius: .3em;
      border-radius: .3em;
      height: auto;
      padding: 30px 20px;
      -webkit-box-shadow: 3px 3px 3px rgba(223, 230, 236, .5);
      -moz-box-shadow: 3px 3px 3px rgba(223, 230, 236, .5);
      box-shadow: 3px 3px 3px rgba(223, 230, 236, .5);

      .authroleBinds {
        background: rgba(238, 241, 246, 1);
        line-height: 25px;
        padding: 10px;
        border: 1px gainsboro solid;
        -webkit-box-shadow: -3px 1px 1px rgba(223, 230, 236, .5);
        -moz-box-shadow: -3px 1px 1px rgba(223, 230, 236, .5);
        box-shadow: -3px 1px 1px rgba(223, 230, 236, .5);
      }

      .field-box {
        border: 1px solid #ddd;
      }
    }
  }
</style>
