<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 120px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input style="width: 150px;" placeholder="请输入会员账号"-->
        <!--								          clearable-->
        <!--								          v-model="listQuery.loginId">-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
        <!--        </el-input>-->
      </el-form-item>
      <el-form-item>
        <el-input style="width: 140px;" placeholder="请输入起始期号" clearable
                  v-model="listQuery.beginIssue">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入追号方案编号" clearable
                  v-model="listQuery.traceCode">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" placeholder="请选择彩种类型"
                   clearable default-first-option
                   v-model="lotteryTypeId" @change="handleChange" @clear="resetSelect">
          <el-option
            v-for="item in lotteryTypeList"
            @change="resetLotteryTypeId"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" placeholder="请选择彩种"
                   clearable default-first-option
                   v-model="listQuery.lotteryId" :disabled="!lotteryTypeId">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="请选择方案状态"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.traceStatus">
          <el-option v-for="item in options8" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="hasPermission('OrderTraceList')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="OrderTraceList"
      style="width: 100%"
      max-height='650'
      size="mini"
      border fit highlight-current-row>
      <!--<el-table-column align="right" label="厅主" min-width="100">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.spCode}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <!--<el-table-column align="right" label="用户ID" min-width="100">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.userId}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="厅主编码" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.spCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="用户账号" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.loginId}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="玩法名称" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.playName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="追号方案编号" min-width="150">
        <template slot-scope="scope">
          <span class='color_cursor' @click='showTraceCodeDetail(scope.row)'>{{scope.row.traceCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="起始期号" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.beginIssue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="已追/总期数" min-width="100">
        <template slot-scope="scope">
          <span class='active_red'>{{scope.row.alreadyTraceNum}}</span>期 /
          <span class='active_red'>{{scope.row.totalTraceNum}}</span>期
        </template>
      </el-table-column>
      <el-table-column align="right" label="已投/总金额" min-width="150">
        <template slot-scope="scope">
          <span class='active_red'>{{scope.row.alreadyBuyMoney}}</span>元 /
          <span class='active_red'>{{scope.row.totalBuyMonery}}</span>元
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="总金额" min-width="100">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.totalBuyMonery}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="中奖总金额" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.totalWinMoney}}</span>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="总期数" min-width="100">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.totalTraceNum}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="追号状态" min-width="100">
        <template slot-scope="scope">
          <span>{{scope.row.traceStatus===0?'未开始':scope.row.traceStatus ===1?'已开始':'已结束'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="追号订单时间" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="OrderTraceList.length" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="65%"
      title="追号方案"
      :visible.sync="OrderTraceDetailVisible"
      class="chasing-scheme-dialog"
      append-to-body>
      <div class="trace-detail-content">
        <div class="order-code">追号方案编号：<span>{{ orderTraceDetailInfo.traceCode }}</span></div>
        <div class="header-table-wrapper" style="position: relative; overflow: hidden;">
          <table class="detail-table top"
                 style="overflow: hidden scroll; height: 100%;">
            <thead>
            <tr style="font-weight: bold; background: #eaf0fd;">
              <td>彩种</td>
              <td>玩法</td>
              <td>投注内容</td>
              <td>单注金额</td>
              <td>单注倍数</td>
              <td>注数</td>
              <td>赔率</td>
              <!-- <td>赔率/返点</td> -->
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ orderTraceDetailInfo.lotteryName }}</td>
              <td>{{ orderTraceDetailInfo.playName }}</td>
              <td>
                <!--{{ orderTraceDetailInfo.buyCodeCase }}-->
                <el-input v-model="orderTraceDetailInfo.buyCodeCase" type="textarea"
                          :rows="5"></el-input>
              </td>
              <td>{{ orderTraceDetailInfo.singleMoney }} 元</td>
              <td>{{ orderTraceDetailInfo.buyDouble }} 倍</td>
              <td>{{ orderTraceDetailInfo.buyNumber }} 注</td>
              <td>{{ orderTraceDetailInfo.prize }}元</td>
              <!-- <td>{{ orderTraceDetailInfo.prize }}元 / {{ orderTraceDetailInfo.rebateRate }}</td> -->
            </tr>
            </tbody>
          </table>
        </div>
        <table class="detail-table middle" style="margin: 20px 0;">
          <tbody>
          <tr>
            <td width="10%">起追时间</td>
            <td width="25%">{{ orderTraceDetailInfo.createTime }}</td>
            <td width="15%">起追期号</td>
            <td width="15%">{{ orderTraceDetailInfo.beginIssue }}</td>
            <td width="15%">方案进度</td>
            <td width="20%">已追 {{ orderTraceDetailInfo.alreadyTraceNum }} 期/ 共 {{
              orderTraceDetailInfo.totalTraceNum
              }} 期
            </td>
          </tr>
          <tr style="padding-top: 65px;">
            <td width="10%">方案投注</td>
            <td width="25%">已投 {{ orderTraceDetailInfo.alreadyBuyMoney }} 元/ 共 {{
              orderTraceDetailInfo.totalBuyMoney
              }} 元
            </td>
            <td width="15%">已中奖金额</td>
            <td width="15%" class="win">{{ orderTraceDetailInfo.winMoneyTotal }} 元</td>
            <td width="15%">中奖停止追号</td>
            <td width="20%">{{ orderTraceDetailInfo.winningToStop === '1' ? '是' : '否' }}</td>
          </tr>
          </tbody>
        </table>
        <div class="detail-table-warp" style="position: relative; overflow: hidden;">
          <table class="detail-table bottom"
                 style="overflow: hidden scroll; height: 100%;">
            <thead>
            <tr style="font-weight: bold;background: #eaf0fd;">
              <td width="20%">订单编号</td>
              <td width="10%">期号</td>
              <td>倍数</td>
              <td>投注金额</td>
              <!-- <td>投注返点</td> -->
              <td width="20%">当期开奖结果</td>
              <td>状态</td>
              <td>中奖金额</td>
              <!--<td>已中奖总金额</td>-->
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in orderTraceDetailInfo.traceList" :key='index'>
              <td>{{ item.orderCode }}</td>
              <td>{{ item.issue }}</td>
              <td>{{ item.buyDouble }} 倍</td>
              <td>{{ item.buyMoney }} 元</td>
              <td>{{ item.rebateMoney }} 元</td>
              <td><span class="buy-code-base">{{ item.openCode }}</span></td>
              <td :class="getStatusClass(item.status)">{{ item.status | statusFilter }}</td>
              <td class="active_red">{{ item.winMoney }} 元</td>
              <!--<td>{{ item.totalWinMoney }} 元</td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import Settime from 'utils/settime'
  import { getAjaxData } from 'api/common'
  import { getOrderTraceList, getOrderTraceDetail } from 'api/orders'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import { statusFilter } from '../common-filter'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        // spList: [],
        lotteryTypeList: [],
        options: [],
        OrderTraceList: [],
        dataValue: [],
        lotteryTypeId: '',
        listLoading: false,
        OrderTraceDetailVisible: false,
        orderTraceDetailInfo: {},
        pickerOptions: EnUSPickerOptions,
        listQuery: {
          pageNo: 1,
          pageSize: 10,
          spCode: '',
          beginTime: '',
          endTime: '',
          // userId: '',
          loginId: '',
          traceStatus: '',
          traceCode: '',
          // searchChannel: '',
          lotteryId: '',
          beginIssue: ''
        },
        options8: [
          {
            value: 0,
            label: '未开始'
          },
          {
            value: 1,
            label: '已开始'
          },
          {
            value: 8,
            label: '已结束'
          }
        ],
        total: 0
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      // 获取彩种类型列表
      this._getLotteryTypeList()
    },
    filters: {
      statusFilter
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      resetLotteryTypeId (val) {
        this.listQuery.lotteryId = ''
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      // 展示追号详情
      showTraceCodeDetail (row) {
        const query = {
          traceCode: row.traceCode,
          spCode: row.spCode
        }
        getOrderTraceDetail(query).then((r) => {
          if (r.data.code === ERR_OK) {
            this.orderTraceDetailInfo = { ...r.data.data }
            this.OrderTraceDetailVisible = true
          }
        })
      },
      getStatusClass (status) {
        switch (status) {
          case 0:
            return 'yellow'
          case 4:
            return 'red'
          case 5:
            return 'blue'
          case 6:
            return 'green'
          default:
            return 'black'
        }
      },
      _getList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        getOrderTraceList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.OrderTraceList = res.data.data.elements
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
    }
  }
</script>

<style lang='scss' scoped>
  @import "../color.css";

  .color_cursor {
    color: #0d11e9;
    cursor: pointer;
  }

  .chasing-scheme-dialog {
    .el-dialog__body {
      padding: 0 20px 30px;
    }
  }

  table.top tr:nth-child(2) td {
    border: 1px solid #eee;
  }

  .trace-detail-content {
    padding: 0 10px;
    text-align: center;
    /*margin-top: 50px;*/
    user-select: text;

    .order-code {
      height: 28px;
      width: 100%;
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 20px;

      span {
        font-weight: 600;
      }
    }

    .header-table-wrapper {
      min-height: 65px;
      /*padding: 20px 10px 10px;*/
      overflow-y: scroll;
      /*border: 1px solid #dcdfe6;*/
    }

    .detail-table {
      width: 100%;
      border-collapse: collapse;
      padding: 10px;

      tr td {
        border: 1px solid #c7c9ce;
      }

      tr:nth-child(2) {
        margin-top: 50px;
      }

      .win {
        color: #ff5151;
      }

      .buy-code-base {
        word-break: break-all;
        display: block;
        max-height: 100px;
        overflow: hidden;
      }

      &.top {
        word-break: break-all;
      }

      &.middle {
        td {
          text-align: left;
          padding-top: 10px;
        }
      }

      td {
        padding: 10px;
        text-align: center;
      }

      tbody {
        td {
          padding-bottom: 10px;
        }
      }
    }

  }
</style>
