/* Created By fx on 2017/7/21. */
<template>
  <div style="margin: 0; padding: 0">
    <el-table :data="tableData" border element-loading-spinner="el-icon-loading" element-loading-text="拼命加载中" fit
              style="width: 100%"
              v-loading="!loaded">
      <el-table-column prop="lotteryTypeName" label="彩种类型">
      </el-table-column>
      <el-table-column prop="lotteryTypeRate" label="最大返点">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryTypeRate }}%</span>
        </template>
      </el-table-column>
      <el-table-column prop="rebateRate" label="当前返点">
        <template slot-scope="scope">
          <el-input v-model="scope.row.rebateRate" @blur="updateRebate(scope.row,$event)"
                    type="text" min="0" step="0.01"></el-input>
          <!--<template slot-scope="scope">-->
          <!--<span>{{scope.row.rebateRate}}%</span>-->
          <!--</template>-->
        </template>
      </el-table-column>
    </el-table>
    <br>
    <el-pagination v-if="showPagination" align="right" @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page.sync="pageCon.pageNo"
                   :page-sizes="[10,20,30,50,100,200,500]" :page-size="pageCon.pageSize"
                   layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { ERR_OK } from 'api/config'
import { getSpTplRebateSetList } from 'api/spltpl/'

export default {
  data () {
    return {
      loaded: false,
      timeMin: 200,
      total: 0,
      pageCon: {
        pageNo: 1,
        pageSize: 10
      },
      showPagination: false,
      cacheResData: []
    }
  },
  methods: {
    ...mapActions('sptpl', [
      'spTplSetTableData'
    ]),
    getList () {
      const query = { spTplId: this.$store.state.sptpl.rowId, spCode: this.$store.state.sptpl.spCode }
      getSpTplRebateSetList(query).then((res) => {
        if (res.data.code === ERR_OK) {
          // 转status为布尔值 v-model只识别为布尔值的变量
          this.cacheResData = res.data.data.spTplRebateSetList.map((v) => {
            v.lotteryTypeRate = (parseFloat(v.lotteryTypeRate) / 100).toFixed(2)
            v.rebateRate = (parseFloat(v.rebateRate) / 100).toFixed(2)
            v.rebateRate_ = v.rebateRate
            return v
          })
          let _data = []
          if (this.cacheResData.length > this.pageCon.pageSize) {
            this.showPagination = true
            _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
          } else {
            this.showPagination = false
            _data = this.cacheResData
          }

          this.spTplSetTableData({ cmd: this.cmd, data: _data })
          this.total = this.cacheResData.length
          setTimeout(() => {
            this.loaded = true
          }, this.timeMin)
        }
      }).catch((err) => {
        this.$message({
          type: 'error',
          message: `${err}`
        })
      })
    },
    updateRebate (row, e) {
      const re = /^\d+(\.\d{2})?$/
      if (parseFloat(row.rebateRate) < 0) {
        this.$message({
          type: 'error',
          message: '不能为负数'
        })
        e.target.value = row.rebateRate = row.rebateRate_
        return
      }
      if (!re.test(row.rebateRate)) {
        this.$message({
          type: 'error',
          message: '输入的数值不正确，只允许两位小数'
        })
        e.target.value = row.rebateRate = row.rebateRate_
      }
    },
    // 分页
    handleSizeChange (val) {
      // return new Promise((resolve, reject) => {
      //   this.$store.dispatch('spTplSaveSet')
      //   resolve()
      // }).catch(err => {
      //   console.log(err)
      //   // reject(err)
      // }).then(() => {
      this.pageCon.pageSize = val
      const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
      this.spTplSetTableData({ cmd: this.cmd, data: _data })
      // })
    },
    handleCurrentChange (val) {
      // return new Promise((resolve, reject) => {
      //   this.$store.dispatch('spTplSaveSet')
      //   resolve()
      // }).catch(err => {
      //   console.log(err)
      //   // reject(err)
      // }).then(() => {
      this.pageCon.pageNo = val
      const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
      this.spTplSetTableData({ cmd: this.cmd, data: _data })
      // })
    },
    pagination (pageNo, pageSize, array) {
      const offset = (pageNo - 1) * pageSize
      return offset + pageSize >= array.length ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize)
    }
  },
  computed: {
    ...mapState({
      tableData: (state) => state.sptpl.tableData,
      cmd: (state) => state.sptpl.cmd
    })
    // 必须写成函数 疑惑中
    //      rowId() {
    //        return this.$store.state.spTpl.rowId;
    //      }
  },
  created () {
    this.getList()
  }
}
</script>
