<template>
		<el-table-column
			:render-header="renderHeader"
			:minWidth="minWidth"
			:width="width">
				<template slot-scope="scope">
						<slot :scope="scope"></slot>
				</template>
		</el-table-column>
</template>

<script>
export default {
  props: {
    width: {
      default: () => '120px'
    },
    minWidth: {
      default: () => '120px'
    }
  },
  methods: {
    renderHeader (h) {
      return this.$slots.header
    }
  }
}
</script>

