<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option
                   v-model="listQuery.userType" placeholder="请选择账号类型">
          <el-option v-for="item in userTypeList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.userAccount" clearable style="width: 150px"
                  placeholder="请输入操作人"></el-input>
        <!--        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'-->
        <!--                            @dealChange='dealChange'-->
        <!--                            ref='mSearch'-->
        <!--                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>-->
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.description" clearable style="width: 150px"
                  placeholder="请输入操作详情"></el-input>
        <!--        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'-->
        <!--                            @dealChange='dealChange'-->
        <!--                            ref='mSearch'-->
        <!--                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>-->
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option placeholder="请选择模块类型" clearable
                   @change="_getmoduleSubIdList"
                   v-model="listQuery.moduleId">
          <el-option v-for="item in nameList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option placeholder="请选择所属功能" clearable
                   v-model="listQuery.moduleSubId">
          <el-option v-for="item in moduleSubIdList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="用户类型" prop="userType" min-width="110">
        <template v-slot="scope">
          <span>{{scope.row.userType===1?'平台账号':'平台商账号'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="所属厅" prop="spCode" min-width="110">
      </el-table-column>
      <el-table-column align="right" label="访问人帐号" prop="userAccount" min-width="110">
      </el-table-column>
      <el-table-column align="right" label="所属模块" prop="moduleAsString" min-width="150">
        <template v-slot="scope">
          <span>{{scope.row.moduleAsString}}</span>-<span>{{scope.row.moduleSubAsString}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="访问描述" min-width="160">
        <template v-slot="scope">
          <el-tooltip effect="light" placement="top">
            <!--            <div slot="content">{{scope.row.description}}</div>-->
            <!--            <span class="ellipsis">{{scope.row.description}}</span>-->
            <div slot="content">{{scope.row.actionDesc}}</div>
            <span class="ellipsis">{{scope.row.actionDesc}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作详情" prop="actionDesc" min-width="110">
        <template v-slot="scope">
          <el-tooltip effect="light" placement="top">
            <!--            <div slot="content">{{scope.row.actionDesc}}</div>-->
            <!--            <span class="ellipsis">{{scope.row.actionDesc}}</span>-->
            <div slot="content">{{scope.row.description}}</div>
            <span class="ellipsis">{{scope.row.description}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="访问类型" min-width="110">
        <template v-slot="scope">
          <span>{{scope.row.actionType|actionTypeFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="访问IP" prop="requestIp" min-width="117">
      </el-table-column>
      <el-table-column align="right" label="访问时间" prop="createTime" min-width="140">
      </el-table-column>
      <el-table-column align="right" label="响应时间" prop="responseTime" min-width="100">
      </el-table-column>

      <el-table-column align="right" label="响应结果" prop="requestResult" min-width="105">
        <template v-slot="scope">
          <span>{{scope.row.requestResult|requestResultFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="请求报文" min-width="105">
        <template slot-scope="scope" v-if="scope.row.requestBody">
          <el-button type="text" @click="showDetail(scope.row.requestBody)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="800"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import {
    getBusiLoggerList,
    getBusiLoggerModule
  } from 'api/busiLogger/index'
  import JsonEditor from 'components/JsonEditor'
  import Settime from 'utils/settime'
  // import { getAjaxData } from 'api/common'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: {
      JsonEditor, fuzzyQuerySearch
    },
    data () {
      return {
        spList: [],
        nameList: [],
        moduleSubIdList: [],
        popover_visible: false,
        listLoading: false,
        listQuery: {
          spCode: '',
          moduleSubId: '',
          userType: '',
          userAccount: '',
          description: '',
          moduleId: '',
          beginTime: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10
        },
        elements: [],
        total: 0,
        value: '',
        dataValue: [],
        userTypeList: [
          {
            value: 1,
            label: '平台账号'
          },
          {
            value: 2,
            label: '平台商账号'
          }
        ],
        pickerOptions: EnUSPickerOptions
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      _getBusiLoggerModule () {
        getBusiLoggerModule({ pId: 0 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.nameList = res.data.data.items
          }
        })
      },
      // 获取功能模块列表
      _getmoduleSubIdList () {
        this.listQuery.moduleSubId = ''
        getBusiLoggerModule({ pId: this.listQuery.moduleId }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.moduleSubIdList = res.data.data.items
          }
        })
      },
      showDetail (v) {
        if (v) {
          if (v.indexOf('{') === -1) {
            let t = ''
            if (v.indexOf('title') > -1) {
              t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
            } else {
              t = v
            }
            v = `{"result":"${t.replace('\"{', '{').replace('}\"', '}')}"}`
          }
          this.value = JSON.parse(v)
        }
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this._getBusiLoggerList()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._getBusiLoggerList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getBusiLoggerList()
      },
      _getBusiLoggerList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getBusiLoggerList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      this._getBusiLoggerModule()
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this._getBusiLoggerList()
    },
    filters: {
      actionTypeFilter (type) {
        const clientMap = {
          1: '添加',
          2: '修改',
          3: '删除',
          4: '查询',
          5: '登录',
          6: '登出'
        }
        return clientMap[type]
      },
      requestResultFilter (type) {
        const apiMap = {
          1: '成功',
          2: '失败',
          3: '异常'
        }
        return apiMap[type]
      }
    }
  }
</script>
<style scoped="scoped" lang="scss">

</style>
