<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-cascader
          clearable
          expand-trigger="hover"
          :options="options3"
          :props='props'
          @change="handleChange">
        </el-cascader>
      </el-form-item>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          @change="clearType"
          :picker-options="pickerOptions"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          :default-time="['00:00:00', '23:59:59']"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search"
                   :loading="listLoading"
                   :disabled="(!listQuery.lotteryId)||hasPermission('ReportSelfLotteryRatio')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="timeType" @change="timeTypeChange"
                        :disabled="(!listQuery.lotteryId)">
          <el-radio-button :label="0">本周</el-radio-button>
          <el-radio-button :label="1">上周</el-radio-button>
          <el-radio-button :label="2">上上周</el-radio-button>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-table
      class="main-table" element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading" v-loading="listLoading"
      :data="reportList"
      style="width: 100%">
      <el-table-column
        align="right"
        prop="lotteryName"
        label="彩种名称"
        width="180">
      </el-table-column>
      <el-table-column
        align="right"
        prop="typeLottery"
        label="类型"
        width="180">
      </el-table-column>
      <el-table-column
        sortable
        align="right"
        prop="betMoney"
        label="有效投注/元"
        :sort-method="(a,b) => sortMethod(a ,b , 'betMoney')"
        width="180">
      </el-table-column>
      <!-- <el-table-column
        sortable
        align="right"
        prop="betRebateMoney"
        :sort-method="(a,b) => sortMethod(a ,b , 'betRebateMoney')"
        label="投注返点/元">
      </el-table-column> -->
      <el-table-column
        sortable
        align="right"
        prop="winningMoney"
        :sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
        label="中奖金额/元">
      </el-table-column>
      <el-table-column
        sortable
        align="right"
        prop="winRate"
        :sort-method="(a,b) => sortMethod(a ,b , 'winRate')"
        label="杀率">
        <template slot-scope='scope'>
          {{scope.row.winRate}}%
        </template>
      </el-table-column>
    </el-table>
    <!-- <table class="main-table" element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading" v-loading="listLoading" style="width:100%;border-collapse:collapse;margin-top:20px;">
      <tr>
        <th>彩种名称</th>
        <th>有效投注</th>
        <th>投注返点(元)</th>
        <th>中奖金额(元)</th>
        <th>杀率/%</th>
      </tr>
      <tr align="right" v-if="show" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
        <td>{{reportList.lotteryName}}</td>
        <td>{{reportList.betMoney}}</td>
        <td>{{reportList.betRebateMoney}}</td>
        <td>{{reportList.winningMoney}}</td>
        <td>{{reportList.winRate|toWinRate}}</td>
      </tr>
      <tr v-else style="border:1px solid #dcdfe6;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"><td colspan="5" style="text-align:center;color:#909399;padding:20px;">暂无数据</td></tr>
    </table> -->
  </el-card>
</template>

<script>
  // 1007	2分时时彩
  // 1008	5分时时彩
  // 1205	2分快3
  // 1213	5分快3
  // 1404	2分PK10
  // 1405	5分PK10
  // 2003	5分六合彩
  // 1005	分分时时彩
  // 1204	分分快3
  // 1403	分分PK10
  // 2002	3分六合彩
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import Settime from 'utils/settime'
  import { parseTime } from 'utils/index'
  import { getReportSelfLotteryRatio } from 'api/report'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  // import { spSelfLottery, sysSelfLottery } from '@/views/selfLottery/config'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        // spList: [],
        typeLottery: '',
        options3: [{
          name: '系统',
          id: 0,
          children: []
        }, {
          name: '厅',
          id: 1,
          children: []
        }],
        props: {
          value: 'id',
          label: 'name'
        },
        lotteryId: '',
        dataValue: [],
        reportList: [],
        timeType: '',
        listLoading: false,
        listQuery: {
          lotteryId: '',
          spCode: '',
          beginTime: '',
          endTime: ''
        },
        pickerOptions: {
          disabledDate: (time) => {
            const nowTime = new Date(Settime.RefTime())
            return time.getTime() > new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 23, 59, 59).getTime() || time.getTime() < new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 0, 0, 0).getTime() - 3600 * 1000 * 24 * 90
          }
        }
      }
    },
    mounted () {
      this._getLotteryList()
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // 排序功能
      sortMethod (obj1, obj2, column) {
        const v1 = obj1[column]
        const v2 = obj2[column]
        return v1 - v2
      },
      async _getLotteryList () {
        const r1 = await getAjaxData({ dataType: 23 })
        const r2 = await getAjaxData({ dataType: 24 })
        console.log(this)
        if (r2.data.code === ERR_OK) this.options3[0].children = [].concat(r2.data.data.items)
        if (r1.data.code === ERR_OK) this.options3[1].children = [].concat(r1.data.data.items)
        console.log(this.options3)
      },
      handleChange (val) {
        console.log(val)
        this.clearType()
        this.listQuery.lotteryId = val[1]
        if (val[0] === 0) {
          this.typeLottery = '系统'
        } else {
          this.typeLottery = '厅'
        }
      },
      timeTypeChange (picker) {
        const nowTime = new Date(Settime.RefTime())
        // const nowTime = new Date(2018, 9, 7, 12, 0, 0)
        const _data = {
          start: nowTime,
          end: new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 23, 59, 59),
          step: nowTime.getDay() > 0 ? nowTime.getDay() - 1 : 6
        }
        console.log(_data.step)
        const tstart = new Date(nowTime.getTime() - 24 * 3600 * 1000 * (_data.step + picker * 7))
        const tend = new Date(tstart.getTime() + 6 * 24 * 3600 * 1000)
        switch (picker) {
          case 0:
            _data.start = new Date(tstart.getFullYear(), tstart.getMonth(), tstart.getDate(), 0, 0, 0)
            break
          default:
            _data.start = new Date(tstart.getFullYear(), tstart.getMonth(), tstart.getDate(), 0, 0, 0)
            _data.end = new Date(tend.getFullYear(), tend.getMonth(), tend.getDate(), 23, 59, 59)
        }
        this.dataValue = [_data.start, _data.end]
        this._getTotalBetReportList()
      },
      clearType () {
        this.timeType = ''
      },
      // 获取列表数据
      _getTotalBetReportList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d} {h}:{i}:{s}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d} {h}:{i}:{s}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getReportSelfLotteryRatio(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            const datas = [res.data.data]
            this.reportList = datas.map((v) => {
              v.winRate = (v.winRate * 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney).toFixed(2)
              v.betMoney = parseFloat(v.betMoney).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney).toFixed(2)
              v.typeLottery = this.typeLottery
              return v
            })
            console.log(this.reportList)
          }
          this.listLoading = false
        })
      },
      // 获取厅主列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   }).catch(err => {
      //     console.log(err)
      //   })
      // },
      _search () {
        this._getTotalBetReportList()
        this.show = true
      }
    }
    // filters: {
    //   toWinRate(num) {
    //     return (num * 100).toFixed() + '%'
    //   }
    // }
  }
</script>
<style lang="scss" scoped>
  table.main-table tr th {
    border: 1px solid #dcdfe6;
    font-weight: normal;
    padding: 15px;
    color: #909399;
    background: #f5f5f5;
  }

  table.main-table tr td {
    border: 1px solid #dcdfe6;
    padding: 15px;
  }
</style>

