<template>
		<el-card>
				<el-input type="textarea" placeholder="请输入公告内容......" :autosize="{ minRows: 10}"></el-input>
		</el-card>
</template>
<script>
export default {
  data () {
    return {}
  }
}
</script>
<style lang="scss" scoped>
		 ::v-deep .el-textarea__inner {
				background: #ebebff1c
		}
</style>

