<template>
		<el-date-picker
			v-model="dateValue"
			type="datetimerange"
			range-separator="至"
			clearable
			:picker-options="pickerOptions"
			:default-time="['00:00:00', '23:59:59']"
			start-placeholder="开始时间"
			end-placeholder="结束时间"
			align="right">
		</el-date-picker>
</template>

<script>
import Settime from 'utils/settime'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/index'

export default {
  data () {
    return {
      dateValue: [],
      pickerOptions: EnUSPickerOptions
    }
  },
  watch: {
    dateValue (val) {
      if (!val) val = []
      for (let i = 0; i < val.length; i++) {
        if (val[i] === null || val[i] === '') {
          val = []
          break
        }
      }
      const formatDate = {}
      if (val.length) {
        const tmin = new Date(val[0])
        const tmax = new Date(val[1])
        if (!check3Month(tmin, tmax)) return
        formatDate.beginTime = parseTime(tmin)
        formatDate.endTime = parseTime(tmax)
      } else {
        formatDate.beginTime = formatDate.endTime = ''
      }
      this.$emit('doWhenSelected', formatDate)
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    this.dateValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dateValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
  },
  methods: {}
}
</script>

<style scoped>

</style>
