<template>
  <el-card>
    <qr-code-dialog></qr-code-dialog>
    <el-form :inline='true'>
      <el-form-item>
        <el-select v-model="value" placeholder="选择彩种类型" @change="handleChange"
                   clearable filterable default-first-option
                   @clear="resetSelect">
          <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable filterable
                   default-first-option>
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.issue" style="width: 150px" placeholder="请输入期号"
                  clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="是否开奖"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.isOpen">
          <el-option key="0" label="未开奖" :value="0"></el-option>
          <el-option key="1" label="已开奖" :value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
            clearable
            v-model="dataValue"
            type="daterange"
            style="width: 380px"
            :picker-options="BGPickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_search"
                   :loading="listLoading"
                   :disabled="!listQuery.lotteryId || hasPermission('IssueInfoList')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <!--        <el-button type="primary" @click.native="showDialogSpecial({},0)"-->
        <!--                   :disabled="!listQuery.lotteryId || hasPermission('IssueRuleSpecialAdd')"-->
        <!--                   v-if="lotteryLimitArray.includes(listQuery.lotteryId)">-->
        <!--          添加-->
        <!--        </el-button>-->
        <el-button type="primary" @click.native="showDialogSpecial({},0)"
                   :disabled="!listQuery.lotteryId || hasPermission('IssueRuleSpecialAdd')">
          添加
        </el-button>
      </el-form-item>

      <el-alert
          effect="dark"
          style="margin-bottom: 5px"
          title="温馨提醒：排程管理查询和展示时间均为北京时间!"
          type="warning"
          show-icon>
      </el-alert>
      <!--<el-button type="primary" @click="batchReset" :disabled="!listQuery.lotteryId">批量重置</el-button>-->

      <!--<el-button type="primary" @click="_showDialog(row)" :disabled="!listQuery.lotteryId">批量重置</el-button>-->

      <!--<el-button type="primary" @click="showDialog({lotteryId:listQuery.lotteryId},4)"-->
      <!--:disabled="!listQuery.lotteryId">批量重置-->
      <!--</el-button>-->

      <!--<el-button type="primary" @click="dialogFormVisible = true" :disabled="!listQuery.lotteryId">-->
      <!--统一微调-->
      <!--</el-button>-->
    </el-form>

    <el-table
        :data="issueList"
        border
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        style="width: 100%">
      <el-table-column
          width="70"
          prop="issueNum"
          align="right"
          label="期数">
      </el-table-column>
      <el-table-column align="right" prop="isCurrIssue" label="是否当前期" min-width="120">
        <template slot-scope="scope">
										<span
                        :class="{isCurrent:scope.row.isCurrIssue}">{{
                        scope.row.isCurrIssue === 1 ? '当前期' : '非当前期'
                      }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="120"
          prop="issueDate"
          align="right"
          label="所属日期/北京">
      </el-table-column>
      <el-table-column
          min-width="120"
          align="right"
          label="当天期号">
        <template slot-scope="scope">
										<span style="color:#374eff;cursor: pointer"
                          @click="_showDialog(scope.row)">{{ scope.row.issue }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="100"
          label="彩期状态"
          align="right">
        <template slot-scope="scope">
          <span>{{ scope.row.status == 1 ? '开盘' : scope.row.status == 99 ? '已删除' : '已封盘' }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="100"
          el-table-column
          label="是否开奖"
          align="right">
        <template slot-scope="scope">
          <span>{{ scope.row.isOpen == 1 ? '已开奖' : '未开奖' }}</span>
        </template>
      </el-table-column>
      <el-table-column
          min-width="120"
          el-table-column
          label="开奖号码"
          align="right">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{ scope.row.openCode }}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{ scope.row.openCode }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="beginTime"
          align="right"
          label="开盘时间/北京">
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="endTime"
          align="right"
          label="封盘时间/北京">
      </el-table-column>
      <el-table-column
          min-width="160"
          prop="openTime"
          align="right"
          label="开奖时间/北京">
      </el-table-column>
      <el-table-column align="right" label="操作" width="150" fixed="right">
        <template slot-scope="scope">
          <el-dropdown>
            <el-button type="primary">
              更多菜单<i class="el-icon-caret-bottom el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" class="dropdown_menu">
              <!--              <el-dropdown-item type="success" @click.native="showDialogSpecial(scope.row,1)"-->
              <!--                                v-if="lotteryLimitArray.includes(listQuery.lotteryId)"-->
              <!--                                :disabled="hasPermission('IssueRuleSpecialAdd')">-->
              <!--                编辑-->
              <!--              </el-dropdown-item>-->
              <el-dropdown-item type="success" @click.native="showDialogSpecial(scope.row,1)"
                                :disabled="hasPermission('IssueRuleSpecialAdd')">
                编辑
              </el-dropdown-item>
              <!--              <el-dropdown-item type="success" @click.native="_postIssueRuleSpecialDel(scope.row)"-->
              <!--                                :disabled="scope.row.status===99 || hasPermission('IssueRuleSpecialDel')"-->
              <!--                                v-if="lotteryLimitArray.includes(listQuery.lotteryId)">删除-->
              <!--              </el-dropdown-item>-->
              <el-dropdown-item type="success" @click.native="_postIssueRuleSpecialDel(scope.row)"
                                :disabled="scope.row.status===99 || hasPermission('IssueRuleSpecialDel')">删除
              </el-dropdown-item>
              <el-dropdown-item type="success" @click.native="showDialog(scope.row,3)"
                                :disabled="Boolean(scope.row.isOpen) || hasPermission('OrderCancelByIssue')">
                系统撤单
              </el-dropdown-item>
              <el-dropdown-item type="success" @click.native="defineCode(scope.row,1)"
                                :disabled="!Boolean(scope.row.isOpen) || hasPermission('ReSettlement') || getSelfGlobalControl(scope.row.lotteryId) || getSelfControl(scope.row.lotteryId)">
                重新结算
              </el-dropdown-item>
              <!--<el-dropdown-item type="success" @click.native="defineCode(scope.row,1)">-->
              <!--重新结算-->
              <!--</el-dropdown-item>-->
              <el-dropdown-item type="success" @click.native="defineCode(scope.row,2)"
                                :disabled="Boolean(scope.row.isOpen) || hasPermission('ManualDraw')">
                {{ getSelfControl(scope.row.lotteryId) ? '处理异常' : '手动开奖' }}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="issueList.length" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <!--dialog start-->
    <!--<el-dialog title="统一微调" :visible.sync="dialogFormVisible" custom-class="dialogpadding">-->
    <!--<el-form :model="form">-->
    <!--<el-form-item label="微调属性" :label-width="formLabelWidth">-->
    <!--<el-radio-group v-model="form.fineTuneTime">-->
    <!--<el-radio :label="1">开盘时间</el-radio>-->
    <!--<el-radio :label="2">封盘时间</el-radio>-->
    <!--</el-radio-group>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="微调值[秒]" :label-width="formLabelWidth">-->
    <!--<el-input v-model="form.fineTuneValue" placeholder="请输入内容" type="text" min="0"></el-input>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="增减标识" :label-width="formLabelWidth">-->
    <!--<el-radio-group v-model="form.fineTuneSign">-->
    <!--<el-radio :label="1">增加N秒</el-radio>-->
    <!--<el-radio :label="2">减少N秒</el-radio>-->
    <!--</el-radio-group>-->
    <!--</el-form-item>-->
    <!--</el-form>-->
    <!--<div slot="footer" class="dialog-footer">-->
    <!--<el-button @click="dialogFormVisible = false">取 消</el-button>-->
    <!--<el-button type="primary" @click="_postIssueRuleFineTune">确 定</el-button>-->
    <!--</div>-->
    <!--</el-dialog>-->

    <!--手动开奖/重新结算弹窗-->
    <div class="dialog6">
      <el-dialog :visible.sync="dialogFormVisibleForDefine" :title="temp.title" width="900px" append-to-body>
        <el-form class="small-space" :model="temp" label-position="left" :rules="rules" ref="openCodeForm"
                 label-width="100px">
          <el-form-item label="期号">
            <el-input v-model="temp.issue" disabled></el-input>
          </el-form-item>
          <el-form-item label="是否原号码" v-show="temp.show && !getSelfGlobalControl(temp.lotteryId)">
            <el-radio-group v-model="temp.isSave" @change="sChange">
              <el-radio :label="1">保留</el-radio>
              <el-radio :label="2">不保留</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="开奖号码" prop="openCode">
            <el-input v-model="temp.openCode"
                      :disabled="temp.isDisabled || getSelfControl(temp.lotteryId) || getSelfGlobalControl(temp.lotteryId)"
                      name="openCode"></el-input>
          </el-form-item>
        </el-form>
        <span class="active_red">{{ openCodeText }}</span>
        <div slot="footer" class="dialog-footer" style="margin-top: 30px;">
          <el-button type="primary" @click.native="postAction">提 交</el-button>
          <el-button type="primary" @click.native="resetF">关 闭</el-button>
        </div>
      </el-dialog>
    </div>

    <el-dialog :title="title" :visible.sync="dialogFormVisibleSpecial" custom-class="dialogpadd"
               :before-close="before_close" append-to-body>
      <el-form :model="temp2" ref="addIssueForm" :rules="rulesSpecial">
        <el-form-item label="期号" :label-width="formLabelWidth" prop="issue">
          <el-input v-model="temp2.issue" auto-complete="off" type="text" name="issue"
                    :readonly="temp2.id!==0" :disabled="temp2.id!==0"></el-input>
        </el-form-item>
        <el-form-item label="开盘时间/北京" :label-width="formLabelWidth" prop="beginTime">
          <el-date-picker
              style="width:100%"
              v-model="temp2.beginTime"
              type="datetime"
              :picker-options="pickerOptions"
              name="beginTime"
              placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="封盘时间/北京" :label-width="formLabelWidth" prop="endTime">
          <el-date-picker
              style="width:100%"
              v-model="temp2.endTime"
              type="datetime"
              name="endTime"
              :picker-options="pickerOptions"
              placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="resetFSpecial">取消</el-button>
        <el-button type="primary" @click.native="_postIssueRuleSpecialAdd">保存</el-button>
      </div>
    </el-dialog>

    <!--期号详情-->
    <el-dialog :visible.sync="dialogFormVisibleForDefine2" title="期号详情" :before-close="handleClose" width="900px"
               append-to-body>
      <el-form class="small-space small-space1 issue-detail-dialog" label-position="left"
               :label-width="formLabelWidth"
               style="margin: 0;padding: 0;border-left: 1px #dcdfe6  solid;border-top: 1px #dcdfe6  solid; ">
        <!--<el-form-item label="彩期ID" :label-width="formLabelWidth">-->
        <!--<span>{{ this.detailList.id }}</span>-->
        <!--</el-form-item>-->
        <el-form-item label="期号" :label-width="formLabelWidth">
          <span>{{ detailList.issue }}</span>
        </el-form-item>
        <el-form-item label="期数" :label-width="formLabelWidth">
          <span>{{ detailList.issueNum }}</span>
        </el-form-item>
        <el-form-item label="彩种ID" :label-width="formLabelWidth">
          <span>{{ detailList.lotteryId }}</span>
        </el-form-item>
        <el-form-item label="开始时间/北京" :label-width="formLabelWidth">
          <span>{{ detailList.beginTime }}</span>
        </el-form-item>
        <el-form-item label="结束时间/北京" :label-width="formLabelWidth">
          <span>{{ detailList.endTime }}</span>
        </el-form-item>
        <el-form-item label="彩期日期/北京" :label-width="formLabelWidth">
          <span>{{ detailList.issueDate }}</span>
        </el-form-item>
        <el-form-item label="是否开奖" :label-width="formLabelWidth">
          <span>{{ detailList.isOpen == 1 ? '已开奖' : '未开奖' }}</span>
        </el-form-item>
        <el-form-item label="开奖号码" :label-width="formLabelWidth">
          <el-tooltip class="item" effect="light" placement="top" v-if="detailList.openCode ">
            <div slot="content">{{ detailList.openCode }}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{ detailList.openCode }}</span>
          </el-tooltip>
          <span v-else>暂无</span>
        </el-form-item>
        <el-form-item label="彩期状态" :label-width="formLabelWidth">
          <span>{{ detailList.status === 1 ? '开盘' : '封盘' }}</span>
        </el-form-item>
        <el-form-item label="是否为当前期" :label-width="formLabelWidth">
          <span>{{ detailList.isCurrIssue === 1 ? '是' : '否' }}</span>
        </el-form-item>
        <el-form-item label="距封盘结束时间" :label-width="formLabelWidth">
          <span>{{ detailList.times }}秒</span>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="resetForm">关 闭</el-button>
      </div>
    </el-dialog>
    <!--dialog end-->
    <qr-code-dialog @transformSecond="transformSecond"></qr-code-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
// import { getAllSelfLotteryControl } from 'views/selfLottery/config'
import {
  parseTime,
  // BGPickerOptions,
  check3Month
} from 'utils/index'
import { vOpenCode, validateNum } from 'utils/validate'
import { getAjaxData } from 'api/common'
import * as issue from 'api/issue'
import QrCodeDialog from 'components/QrCodeDialog'
import { LotteryText } from '@/LotteryConfig'

export default {
  data () {
    const chkBeginTime = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请选择开始时间'))
      } else {
        callback()
      }
    }
    const chkEndTime = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请选择结束时间'))
      } else {
        const t1 = new Date(value)
        const t2 = new Date(this.temp2.beginTime)
        if (t1 <= t2) {
          callback(new Error('结束时间必须大于开始时间!'))
        } else {
          callback()
        }
      }
    }
    const validateIssue = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请输入期号'))
      } else if (value.length > 16) {
        callback(new Error('期号最大长度不能超过16个字符'))
      } else if (!validateNum(value)) {
        callback(new Error('只支持数字'))
      } else {
        callback()
      }
    }
    const vOpenCodes = (rule, value, callback) => {
      if (this.getSelfControl(this.temp.lotteryId) || this.getSelfGlobalControl(this.temp.lotteryId)) {
        callback()
      }
      if (!value) {
        callback(new Error('请输入开奖号码'))
      } else if (!vOpenCode(value)) {
        callback(new Error('号码格式不正确，请输入数字'))
      } else {
        // const len = value.split(',').length
        // if (len >= 3) {
        callback()
        // } else {
        //   callback(new Error('请根据对应彩种输入开奖号码，并用","隔开'))
        // }
      }
    }
    return {
      lotteryLimitArray: ['2001', '2032'],
      dataValue: [],
      openCodeText: '',
      // dialogFormVisible: false,
      dialogFormVisibleForDefine: false,
      dialogFormVisibleSpecial: false,
      form: {
        fineTuneTime: 1,
        fineTuneValue: 0,
        fineTuneSign: 1
      },
      listLoading: false,
      temp: {
        title: '',
        lotteryId: '',
        issue: '',
        openCode: '',
        show: false,
        isSave: 2,
        isDisabled: false,
        flagControl: ''
      },
      rules: {
        openCode: [
          {
            required: true,
            trigger: 'blur',
            validator: vOpenCodes
          }
        ]
      },
      rulesSpecial: {
        issue: [
          {
            required: true,
            trigger: 'blur',
            validator: validateIssue
          }
        ],
        beginTime: [
          {
            required: true,
            trigger: 'blur',
            validator: chkBeginTime
          }
        ],
        endTime: [
          {
            required: true,
            trigger: 'blur',
            validator: chkEndTime
          }
        ]
      },
      BGPickerOptions: {
        disabledDate: (time) => {
          const nowTime = new Date()
          return time.getTime() < new Date(nowTime.getFullYear(), nowTime.getMonth(), nowTime.getDate(), 0, 0, 0).getTime() - 3600 * 1000 * 24 * 90
        },
        shortcuts: [
          {
            text: '最近一周',
            onClick (picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近一个月',
            onClick (picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近三个月',
            onClick (picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }
        ]
      },
      pickerOptions: {
        shortcuts: [{
          text: '今天',
          onClick (picker) {
            picker.$emit('pick', new Date())
          }
        }, {
          text: '昨天',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24)
            picker.$emit('pick', date)
          }
        }, {
          text: '一周前',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', date)
          }
        }]
      },
      title: '',
      temp2: {
        id: '',
        lotteryId: '',
        issue: '',
        beginTime: '',
        endTime: ''
      },
      dialogFormVisibleForDefine2: false,
      listQuery: {
        chPlace: '',
        lotteryId: '',
        issue: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10,
        isOpen: ''
      },
      detailList: [],
      total: 0,
      formLabelWidth: '120px',
      typeList: [],
      lotteryList: [],
      value: '',
      input: '',
      radio1: 3,
      radio2: 2,
      issueList: [],
      issueText: '',
      selfLotterys: [],
      sysSelfLottery: []
    }
  },
  components: { QrCodeDialog },
  methods: {
    transformSecond () {
      this.resetF()
      this._getList()
    },
    getSelfControl (v) {
      console.log(this.selfLotterys, v, this.selfLotterys.includes(v))
      return this.selfLotterys.includes(v)
    },
    getSelfGlobalControl (v) {
      return this.sysSelfLottery.includes(v)
    },
    async getSysLottery () {
      const res = await getAjaxData({ dataType: 24 })
      if (res.data.code === ERR_OK) {
        res.data.data.items.forEach((m) => {
          this.sysSelfLottery.push(Number(m.id))
        })
      }
    },
    async getSelfLottery () {
      const res = await getAjaxData({ dataType: 23 })
      if (res.data.code === ERR_OK) {
        res.data.data.items.forEach((m) => {
          this.selfLotterys.push(Number(m.id))
        })
      }
    },
    before_close (done) {
      this.resetFSpecial()
      done()
    },
    // /* _postIssueRuleFineTune() {
    //  const str1 = this.form.fineTuneTime === 1 ? '开盘时间' : '封盘时间'
    //  const str2 = this.form.fineTuneSign === 1 ? '增加' : '减少'
    //  const flagText = '此操作将对彩种为' + this.listQuery.lotteryId + '的' + str1 + '统一微调' + this.form.fineTuneValue + '秒（' + str2 + '）'
    //  this.$confirm(`${flagText}， 是否继续?`, '提示', {
    //  confirmButtonText: '确定',
    //  cancelButtonText: '取消',
    //  type: 'warning'
    //  }).then(() => {
    //  const query = {
    //  lotteryId: this.listQuery.lotteryId,
    //  fineTuneTime: this.form.fineTuneTime,
    //  fineTuneValue: this.form.fineTuneValue,
    //  fineTuneSign: this.form.fineTuneSign
    //  }
    //  issue.postIssueRuleFineTune(query).then(res => {
    //  if (res.data.code === ERR_OK) {
    //  this.$message({
    //  type: 'success',
    //  message: '统一微调成功!'
    //  })
    //  this.dialogFormVisible = false
    //  this.form = {
    //  fineTuneTime: 1,
    //  fineTuneValue: 0,
    //  fineTuneSign: 1
    //  }
    //  } else {
    //  this.$message({
    //  type: 'error',
    //  message: res.data.desc
    //  })
    //  }
    //  })
    //  }).catch(() => {
    //  this.$message({
    //  type: 'info',
    //  message: '取消操作!'
    //  })
    //  })
    //  },*/
    _postIssueRuleSpecialDel (row) {
      const flagText = `将删除期号为${row.issue}的彩期`
      this.$confirm(`${flagText}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        issue.postIssueRuleSpecialDel({ lotteryId: row.lotteryId, issue: row.issue }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '删除成功!'
            })
            this._search()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    _postIssueRuleSpecialAdd () {
      this.$refs.addIssueForm.validate((valid) => {
        if (valid) {
          const str = this.title
          let flagText = ''
          let lotteryName = ''
          for (let i = 0; i < this.lotteryList.length; i++) {
            if (this.listQuery.lotteryId === this.lotteryList[i].id) {
              lotteryName = this.lotteryList[i].name
              break
            }
          }
          switch (this.temp2.id) {
            case 0:
              flagText = `此操作将为彩种为${lotteryName}增加一条彩期`
              break
            default:
              flagText = `此操作将为彩种为${lotteryName}中原彩期号为${this.issueText}进行修改`
          }
          this.$confirm(`${flagText}， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.temp2.beginTime = parseTime(this.temp2.beginTime, '{y}-{m}-{d} {h}:{i}:{s}')
            this.temp2.endTime = parseTime(this.temp2.endTime, '{y}-{m}-{d} {h}:{i}:{s}')
            issue.postIssueRuleSpecialAdd(this.temp2).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: `${str}成功!`
                })
                this.resetFSpecial()
                this._search()
              }
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      })
    },
    showDialogSpecial (obj, flag) {
      this.temp2.lotteryId = this.listQuery.lotteryId
      if (flag === 0) {
        this.temp2.id = 0
        this.temp2.issue = ''
        this.temp2.beginTime = ''
        this.temp2.endTime = ''
        this.title = '添加彩期'
      } else {
        this.temp2.id = obj.id
        this.temp2.issue = obj.issue
        this.temp2.beginTime = obj.beginTime
        this.temp2.endTime = obj.endTime
        this.title = '编辑彩期'
        this.issueText = obj.issue
      }
      this.dialogFormVisibleSpecial = true
    },
    showDialog (row, flag) {
      let flagText = ''
      const query = {
        lotteryId: row.lotteryId
      }
      const str = row.issue
      let _fn = null
      switch (flag) {
        case 1:
          flagText = `此操作将对期号为${str}进行开盘操作`
          query.issue = row.issue
          _fn = issue.postIssueEnabled
          break
        case 2:
          flagText = `此操作将对期号为${str}进行封盘操作`
          query.issue = row.issue
          _fn = issue.postIssueDisabled
          break
          // /* case 4:
          //  flagText = '批量重置'
          //  flagText = '此操作将对彩种为' + this.listQuery.lotteryId + '的所有彩期进行批量重置操作'
          //  _fn = issue.postIssueRuleReset
          //  break */
        default:
          flagText = `此操作将对期号为${str}进行系统撤单操作`
          query.issue = row.issue
          _fn = issue.postOrderCancelByIssue
      }
      this.$confirm(`${flagText}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        _fn(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${flagText}成功!`
            })
            if (flag === 1 || flag === 2) {
              row.status = !row.status
            }
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
      })
    },
    async defineCode (row, flag) {
      let flagText = ''
      switch (flag) {
        case 1:
          flagText = '重新结算'
          this.temp.show = true
          if (this.getSelfGlobalControl(row.lotteryId)) this.temp.isSave = 1
          break
        default:
          this.temp.show = false
          flagText = this.getSelfControl(row.lotteryId) ? '处理异常' : '手动开奖'
      }
      this.temp.flagControl = flag
      this.temp.title = flagText
      this.temp.lotteryId = row.lotteryId
      this.temp.issue = row.issue
      this.temp.openCode = row.openCode
      const remainder = Number(row.lotteryId) % 1000
      const typeNum = Math.floor(Number(row.lotteryId) / 1000)
      const textObj = await this.getNumbers(typeNum)
      this.openCodeText = textObj.text[0]
      if (typeNum === 84 && remainder > textObj.splitNumber) {
        this.openCodeText = textObj.text[1]
      }
      this.dialogFormVisibleForDefine = true
    },
    getNumbers (v) {
      if (LotteryText[v] === undefined) {
        throw new Error('暂无此彩种开奖号码相关配置...')
      }
      return LotteryText[v]
    },
    postAction () {
      this.$refs.openCodeForm.validate((valid) => {
        if (valid) {
          let tm = ''
          if (this.temp.flagControl === 1) {
            if (this.temp.isSave === 2) {
              if (this.temp.openCode === '') {
                this.$message('请手动输入开奖号码，请输入数字！')
                return false
              }
            }
          } else if (this.temp.openCode === '' && !this.getSelfControl(this.temp.lotteryId)) {
            this.$message('请手动输入开奖号码，请输入数字！')
            return false
          }
          tm = this.temp.openCode
          const str = this.temp.issue
          let _fn = null
          let flagText = ''
          switch (this.temp.flagControl) {
            case 1:
              flagText = '重新结算'
              _fn = issue.postReSettlement
              break
            default:
              _fn = issue.postManualDraw
              flagText = this.getSelfControl(this.temp.lotteryId) ? '处理异常' : '手动开奖'
          }
          this.$confirm(`此操作将对期号为${str}进行${flagText}操作， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const query = {
              lotteryId: this.temp.lotteryId,
              issue: this.temp.issue,
              openCode: tm
            }
            _fn(query).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: `${flagText}成功!`
                })
                this.resetF()
                this._getList()
              }
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      })
    },
    // /* toHaveComma(obj) {
    //  let val = obj.value.toString()
    //  const leng = val.length
    //  for (let i = 1; i < leng / 3; i++) {
    //  const temp = val.slice(0, -4 * i + 1)
    //  val = val.replace(temp, temp + ',')
    //  }
    //  obj.value = val
    //  },*/
    resetF () {
      this.temp = {
        title: '',
        lotteryId: '',
        issue: '',
        openCode: '',
        show: false,
        isSave: 2,
        isDisabled: false,
        flagControl: ''
      }
      this.$refs.openCodeForm.resetFields()
      this.dialogFormVisibleForDefine = false
    },
    handleClose (done) {
      this.resetForm()
      done()
    },
    _showDialog (row) {
      this.dialogFormVisibleForDefine2 = true
      issue.getIssueInfoDetail({ lotteryId: row.lotteryId, issue: row.issue }).then((res) => {
        this.detailList = res.data.data
      })
    },
    resetForm () {
      this.dialogFormVisibleForDefine2 = false
      this.currentRow = null
    },
    sChange (val) {
      this.temp.isDisabled = false
      if (val === 1) {
        this.temp.isDisabled = true
      }
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    _search () {
      this.listQuery.pageNo = 1
      this._getList()
    },
    _getList () {
      // if (this.listQuery.beginTime && this.listQuery.endTime) {
      //   const t = new Date(this.listQuery.beginTime)
      //   const tt = new Date(this.listQuery.endTime)
      //   this.listQuery.beginTime = parseTime(t, '{y}-{m}-{d}')
      //   this.listQuery.endTime = parseTime(tt, '{y}-{m}-{d}')
      // } else if (this.listQuery.beginTime || this.listQuery.endTime) {
      //   this.$message({
      //     type: 'error',
      //     message: '开始时间和结束时间必须成对出现'
      //   })
      //   return
      // }
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      issue.getIssueInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.issueList = res.data.data.elements
          console.log(this.issueList)
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.typeList = res.data.data.items
        }
      })
    },
    handleChange (val) {
      this.resetSelect()
      getAjaxData({ dataType: 13, pId: val }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = res.data.data.items
        }
      })
    },
    resetFSpecial () {
      this.dialogFormVisibleSpecial = false
      this.temp2 = {
        id: '',
        issue: '',
        spCode: '',
        beginTime: '',
        endTime: ''
      }
      this.$refs.addIssueForm.resetFields()
    },
    resetSelect () {
      this.lotteryList = []
      this.listQuery.lotteryId = ''
    }
  },
  created () {
    this.getSysLottery()
    this.getSelfLottery()
    const end = new Date()
    const start = new Date(end.getTime() - 3600 * 1000 * 24)
    this.dataValue.push(new Date(start.getFullYear(), start.getMonth(), start.getDate(), start.getHours(), start.getMinutes(), start.getSeconds()))
    this.dataValue.push(end)
    this._getLotteryTypeList()
  },
  filters: {
    filterTime (v) {
      return `${v.hh}:${v.mm}:${v.ss}`
    }
  }
}
</script>
<style lang="scss" scoped>
i.boldfont {
  font-weight: bold;
}

.el-table {
  margin-bottom: 30px;
}

.dialogpadding > .el-dialog__body {
  padding: 30px 20px 0;
}

.pagination-container {
  text-align: right
}

.el-table .cell {
  font-size: 12px;
  padding: 0 6px;
  line-height: 25px;
}

.dropdown_menu {
  font-size: 12px;
  border-radius: 3px;
  color: rgba(97, 136, 201, 1);
  position: relative;

  .el-dropdown-menu__item {
    line-height: 24px;
  }

}

.dropdown_menu:before {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #cccccc;
  position: absolute;
  left: 68%;
  bottom: 100%;
  margin-top: -15px;
}

.dropdown_menu:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #FFFFFF;
  position: absolute;
  left: 68%;
  bottom: 100%;
  margin-top: -10px;
}

.isCurrent {
  color: red
}

.pagination-container {
  text-align: right;
}

.small-space1 {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.issue-detail-dialog {
  .el-form-item {
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 7px;
    border-right: 1px darkgray solid;
    border-bottom: 1px darkgray solid;
    height: 50px;
    width: 33.33%;
    float: left;
    background: rgba(134, 173, 227, .3);

    span {
      display: inline-block;
      height: 49px;
      line-height: 49px;
      width: 100%;
      margin: -7px 0 0 0;
      background: white;
      overflow: hidden;
      text-align: center;
    }
  }
}

.dialog6 {
  width: 100%;
  overflow: hidden;

  .el-dialog {
    width: 45%;
    overflow: hidden;
  }
}

.el-table .cell {
  font-size: 12px;
  padding: 0 6px;
  line-height: 25px;
}

.a1 {
  display: block;
  width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.a2 {
  overflow: hidden;
}

.active_red {
  color: #FF0000;
}

.sp2 {
  width: 100%;
  border: none;
  display: inline-block;
  white-space: pre-wrap;
}
</style>
