<!--平台商设置-->
<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.id"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.status" placeholder="开通状态" clearable>
          <el-option v-for="item in status" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search"
                   @click.native="querySpLotteryTypeList"
                   :loading="loaded"
                   :disabled="!listQuery.spCode || hasPermission('SpLotteryTypeList')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-edit" v-if="options.length && !editBoolean"
                   :disabled="hasPermission('SpLotteryTypeUp')"
                   @click.native="editBoolean=true">编辑
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="check" v-if="editBoolean && options.length"
                   @click.native="showDialog" :disabled="saveBoolean">保存
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      v-if="!editBoolean && isEdit"
      style="margin-bottom: 5px"
      title="温馨提醒：请慎重修改各项配置，返点设置一旦保存后，将不可再修改!首次编辑时间会较长，请耐心等待！"
      type="warning"
      show-icon>
    </el-alert>
    <el-table
      :data="options"
      v-loading="loaded"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      border
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" width="65" type="index">
      </el-table-column>
      <el-table-column
        label="配置ID"
        align="right"
        width="80">
        <template slot-scope="scope">{{ scope.row.id }}</template>
      </el-table-column>
      <el-table-column
        prop="lotteryTypeName"
        label="类型名称"
        align="right"
        width="120">
      </el-table-column>
      <el-table-column
        prop="rebateRate"
        label="初始返点/%"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span>{{scope.row.rebateRate}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="rebateRate"
        label="最低利润点/%"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span>{{scope.row.profitRate}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="spRebateRate"
        align="right"
        label="当前返点/%">
        <template slot-scope="scope">
          <!--<el-input v-if="editBoolean" step="0.01"-->
          <!--v-model="scope.row.spRebateRate" @blur="dFormatter(scope.row)" type="text" min="0"></el-input>-->
          <el-input v-if="editBoolean && isEdit" step="0.01"
                    v-model="scope.row.spRebateRate" @blur="dFormatter(scope.row,$event)" type="text"
                    min="0"></el-input>
          <span v-else>{{ scope.row.spRebateRate }}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="spProfitRate/%"
        label="当前利润点"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span>{{ scope.row.spProfitRate}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="sort"
        label="排序"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-input v-if="editBoolean" v-model="scope.row.sort" type="text" step="1"
                    @blur="checkSort(scope.row.sort)" min="0"
                    max="10000"></el-input>
          <span v-if="!editBoolean">{{ scope.row.sort }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="开通情况" align="right">
        <template slot-scope="scope" :chk="scope.row.status">
          <el-checkbox v-model="scope.row.status" :disabled="!editBoolean"
                       @change="statusChange"></el-checkbox>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import { getSpLotteryTypeList, postSpLotteryTypeUp } from 'api/spInfoList'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        loaded: false,
        getStatu: false,
        // spCodes: [],
        options: [],
        multipleSelection: [],
        isEdit: false,
        editBoolean: false,
        status: [
          {
            value: 0,
            label: '禁用'
          },
          {
            value: 1,
            label: '启用'
          }
        ],
        saveBoolean: true,
        listQuery: {
          spCode: '',
          status: ''
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      statusChange () {
        this.saveBoolean = false
      },
      // 输入提示
      dFormatter (row, e) {
        if (!row.spRebateRate || parseFloat(row.spRebateRate) === 0) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '请输入返点，只能为正数'
          })
          e.target.value = row.spRebateRate = (parseFloat(row.rebateRate) + parseFloat(row.profitRate) - parseFloat(row.spProfitRate)).toFixed(2)
          this.saveBoolean = true
          return
        }
        const re = /^\d+(\.\d{2})?$/
        if (parseFloat(row.spRebateRate) < 0) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '不能为负数'
          })
          e.target.value = row.spRebateRate = (parseFloat(row.rebateRate) + parseFloat(row.profitRate) - parseFloat(row.spProfitRate)).toFixed(2)
          this.saveBoolean = true
          return
        }
        if (!re.test(row.spRebateRate)) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '输入的数值不正确，只允许两位小数'
          })
          e.target.value = row.spRebateRate = (parseFloat(row.rebateRate) + parseFloat(row.profitRate) - parseFloat(row.spProfitRate)).toFixed(2)
          this.saveBoolean = true
          return
        }
        if (parseFloat(row.spRebateRate) > parseFloat(row.rebateRate) + parseFloat(row.profitRate)) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '设置的返点不能大于初始返点加最低利润点之和'
          })
          e.target.value = row.spRebateRate = (parseFloat(row.rebateRate) + parseFloat(row.profitRate) - parseFloat(row.spProfitRate)).toFixed(2)
          this.saveBoolean = true
          return
        }
        this.saveBoolean = false
        row.spProfitRate = (parseFloat(row.rebateRate) + parseFloat(row.profitRate) - parseFloat(row.spRebateRate)).toFixed(2)
      },
      testKey (v) {
        if (!v || parseFloat(v) === 0) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '请输入返点，只能为正整数'
          })
          this.saveBoolean = true
          return
        }
        const re = /^\d+$/
        if (!re.test(v)) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '只能为正整数'
          })
          this.saveBoolean = true
          return
        }
        this.saveBoolean = false
      },
      checkSort (v) {
        if (!v || parseFloat(v) === 0) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '请输入排序值，只能为正整数'
          })
          this.saveBoolean = true
          return
        }
        const re = /^\d+$/
        if (!re.test(v)) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '只能为正整数'
          })
          this.saveBoolean = true
          return
        }
        this.saveBoolean = false
      },
      checkBigNum (v) {
        if (v > 10000) {
          this.$notify({
            type: 'error',
            title: '错误',
            offset: 100,
            message: '数值过大'
          })
          this.saveBoolean = true
          return
        }
        this.saveBoolean = false
      },
      showDialog () {
        if (!this.saveBoolean) {
          const str = '此操作将彩种类型配置重置'
          this.$confirm(`${str}， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.loaded = true
            const tempList = []
            for (let i = 0; i < this.options.length; i++) {
              const node = {
                id: this.options[i].id,
                spProfitRate: parseInt(parseFloat(this.options[i].spProfitRate) * 100),
                spRebateRate: parseInt(parseFloat(this.options[i].spRebateRate) * 100),
                status: this.options[i].status ? 1 : 0,
                sort: parseInt(this.options[i].sort)
              }
              tempList.push(node)
            }
            const { spCode } = this.options[0]
            postSpLotteryTypeUp(spCode, tempList).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: '操作成功!'
                })
                this.editBoolean = false
                this.listQuery.spCode = spCode
                this.querySpLotteryTypeList()
              }
              this.loaded = false
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      },
      // getSpInfo () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         return {
      //           value: v.id,
      //           label: v.name
      //         }
      //       })
      //     }
      //   })
      // },
      querySpLotteryTypeList () {
        this.editBoolean = false
        this.loaded = true
        getSpLotteryTypeList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.isEdit = Boolean(res.data.data.isEdit)
            // this.isEdit = false
            this.options = res.data.data.spLoteryTypeList.map((v) => {
              v.status = Boolean(v.status)
              v.rebateRate = (v.rebateRate / 100).toFixed(2)// 初始反水率
              v.profitRate = (v.profitRate / 100).toFixed(2) // 初始利润点
              v.spRebateRate = parseFloat(v.spRebateRate / 100).toFixed(2)// 反水率
              v.spProfitRate = parseFloat(v.spProfitRate / 100).toFixed(2)// 利润点
              if (this.isEdit) v.status = true
              return v
            })
          }
        })
        this.loaded = false
      }
    },
    created () {
      // this.getSpInfo()
    }
  }
</script>
