<template>
  <el-card>
    <common-component :items='elements' :list-loading='listLoading' @changeSort='changeSort'>
      <template slot='filter'>
        <el-form :inline='true'>
          <el-form-item>
            <!--												<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
            <!--												           clearable default-first-option-->
            <!--												           v-model="listQuery.spCode">-->
            <!--														<el-option-->
            <!--															v-for="item in spList"-->
            <!--															:key="item.id"-->
            <!--															:label="item.id"-->
            <!--															:value="item.id">-->
            <!--														</el-option>-->
            <!--												</el-select>-->
            <fuzzy-query-search
              :options='{type:"spCode",placeholder:"请输入厅编码"}'
              @dealChange='dealChange'></fuzzy-query-search>
          </el-form-item>
          <el-form-item>
            <el-select v-model="lotteryTypeId" clearable filterable default-first-option
                       placeholder="选择彩种类型"
                       @change="handleChange">
              <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name"
                         :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.lotteryId" clearable filterable default-first-option
                       placeholder="选择彩种"
            >
              <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-tooltip placement="top" effect="light" popper-class='t-container'>
              <div slot="content">测试厅包含有:<br />{{excludeSpCodes}}</div>
              <el-select v-model="listQuery.excludeTestSN" clearable filterable default-first-option
                         placeholder="是否排除测试厅"
              >
                <el-option label="不排除测试厅" :value="1"></el-option>
                <el-option label="排除测试厅" :value="2"></el-option>
              </el-select>
            </el-tooltip>
          </el-form-item>
          <el-form-item>
            <el-select v-model="listQuery.timeZone" default-first-option
                       placeholder="请选择时区"
            >
              <el-option label="北京时间" :value="1"></el-option>
              <el-option label="美东时间" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <date-range v-show="listQuery.timeZone === 2" ref="dateRange"
                        :options="dateRangeOption"></date-range>
            <date-range v-show="listQuery.timeZone === 1" ref="dateRangeCn"
                        :options="dateRangeOptionCn"></date-range>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="_search"
                       :loading="listLoading"
                       :disabled="hasPermission('ReportAnalysisSnSearch')">查询
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click.native="exportExel" :loading="loaded"
                       :disabled="elements.length===0||hasPermission('ReportAnalysisSnExport')">报表导出
            </el-button>
          </el-form-item>
        </el-form>
      </template>
      <template slot='otherColumn'>
        <el-table-column
          align="right"
          min-width="100"
          prop="spCode"
          label="所属厅主">
        </el-table-column>
        <el-table-column
          align="right"
          min-width="100"
          prop="lotteryName"
          label="彩种名称">
          <template slot-scope='scope'>
            {{scope.row.lotteryName||'--'}}
          </template>
        </el-table-column>
      </template>
      <template slot='page'>
        <div v-if="total" class="pagination-container fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page.sync="listQuery.pageNo"
                         :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                         layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </template>
    </common-component>
  </el-card>
</template>
<script>
  import dateRange from 'components/dateRange/index'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
  import tools from 'utils/tools'
  import { ERR_OK } from 'api/config'
  import { parseTime } from 'utils/index'
  import { getAjaxData, postReportExport, getReportSpcodeExclude } from 'api/common'
  import { getReportAnalysisSnSearch } from 'api/report'
  import commonComponent from '../commonComponent'

  export default {
    name: 'ReportAnalysisSnSearch',
    components: { commonComponent, dateRange, fuzzyQuerySearch },
    props: {},
    data () {
      return {
        elements: [],
        // spList: [],
        total: 0,
        dataValue: [],
        listLoading: false,
        loaded: false,
        listQuery: {
          spCode: '',
          beginTime: '',
          endTime: '',
          timeZone: 2,
          lotteryId: '',
          orderField: '',
          orderSort: 'DESC',
          pageSize: 10,
          pageNo: 1,
          excludeTestSN: 1
        },
        dateRangeOption: {
          changeToday: true,
          defaultConvert: true,
          dateStart: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date(new Date().getTime() - 3600 * 1000 * 24 * 6))))),
          dateEnd: (new Date(tools.transferAmerica(tools.getUTCTime2China(new Date()))))
        },
        dateRangeOptionCn: {
          changeToday: true,
          defaultConvert: false,
          dateStart: (new Date(new Date().getTime() - 3600 * 1000 * 24 * 6)),
          dateEnd: (new Date())
        },
        excludeSpCodes: '',
        options: [],
        lotteryTypeList: [],
        lotteryTypeId: ''
      }
    },
    computed: {},
    watch: {},
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      changeSort (v) {
        this.listQuery.orderField = v.prop
        if (v.order === 'ascending') {
          this.listQuery.orderSort = 'ASC'
        } else {
          this.listQuery.orderSort = 'DESC'
        }
        this.getReportListSearch()
      },
      setDatetime () {
        if (this.listQuery.timeZone === 2) {
          this.dataValue = this.$refs.dateRange.date
        } else if (this.listQuery.timeZone === 1) {
          this.dataValue = this.$refs.dateRangeCn.date
        }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
          this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型列表
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      exportExel () {
        this.setDatetime()
        this.loaded = true
        postReportExport({ ...this.listQuery, cmd: 'ReportAnalysisSnExport' }).then((res) => {
          if (ERR_OK === res.data.code) {
            this.$store.dispatch('reportDownload/setType', 9)
            const h = this.$createElement
            this.$msgbox({
              title: '提示信息',
              message: h('p', null, [
                h('span', null, '报表正在生成， '),
                h('i', {
                  style: 'color: teal;cursor:pointer',
                  on: {
                    click: () => {
                      this.$router.push({ path: '/reports/ReportDownloadList' })
                      this.$msgbox.close()
                    }
                  }
                }, '点击前往下载')
              ]),
              showCancelButton: true,
              confirmButtonText: '前往下载',
              cancelButtonText: '取消',
              beforeClose: (action, instance, done) => {
                if (action === 'confirm') {
                  this.$router.push({ path: '/reports/ReportDownloadList' })
                  done()
                } else {
                  done()
                }
              }
            })
          }
        })
        this.loaded = false
      },
      getSpCodeExclude () {
        getReportSpcodeExclude().then((r) => {
          if (ERR_OK === r.data.code) this.excludeSpCodes = r.data.data.items.join(',')
        })
      },
      getReportListSearch () {
        this.setDatetime()
        if (this.lotteryTypeId && !this.listQuery.lotteryId) {
          this.$message({
            type: 'error',
            message: `请选择彩种`
          })
          return
        }
        this.listLoading = true
        getReportAnalysisSnSearch(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v.betMoney = parseFloat(v.betMoney / 100).toFixed(2)
              v.revokeBetMoney = parseFloat(v.revokeBetMoney / 100).toFixed(2)
              v.lossWinningMoney = parseFloat(v.lossWinningMoney / 100).toFixed(2)
              v.validBetMoney = parseFloat(v.validBetMoney / 100).toFixed(2)
              v.winningMoney = parseFloat(v.winningMoney / 100).toFixed(2)
              v.betRebateMoney = parseFloat(v.betRebateMoney / 100).toFixed(2)
              v.agentRebateMoney = parseFloat(v.agentRebateMoney / 100).toFixed(2)
              v.drawMoney = parseFloat(v.drawMoney / 100).toFixed(2)
              v.spProfitMoney = parseFloat(v.spProfitMoney / 100).toFixed(2)
              v.userProfitMoney = parseFloat(v.userProfitMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this.getReportListSearch()
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this.getReportListSearch()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this.getReportListSearch()
      }
    },
    beforeCreate () {},
    created () {
      // this._getSpInfoList()
      this.getSpCodeExclude()
      this._getLotteryTypeList()
    },
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss'>
  .el-tooltip__popper {
    &.t-container {
      max-width: 350px;
    }
  }
</style>
