<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px"-->
        <!--								           placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="search"
                   icon="el-icon-search"
                   :disabled="hasPermission('LongdragonConfList')||!listQuery.spCode"
                   :loading="listLoading">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="items"
      border
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%">
      <el-table-column
        prop="spCode"
        align="right"
        min-width='100'
        label="厅编码">
      </el-table-column>
      <el-table-column
        prop="tplName"
        min-width='100'
        align="right"
        label="盘口名称">
      </el-table-column>
      <el-table-column
        prop="tplType"
        min-width='100'
        align="right"
        label="盘口类型">
        <template slot-scope='scope'>
          <span>
            {{scope.row.tplType ===1?'默认盘口':'普通盘口'}}
          </span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        label="状态">
        <template slot-scope='scope'>
          <el-switch
            v-model="scope.row.status"
            @change="changStatus(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
            :disabled="hasPermission('LongdragonConfSave')"
            active-text="开启"
            inactive-text="关闭">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        prop="createTime"
        align="right"
        min-width='120'
        label="创建时间">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { getLongdragonConfList, postLongdragonConfSave } from 'api/dataBase'
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    name: 'Index',
    data () {
      return {
        items: [],
        total: 0,
        spList: [],
        listQuery: {
          spCode: '',
          pageSize: 10,
          pageNo: 1
        },
        listLoading: false
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getLongdragonConfList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getLongdragonConfList()
      },
      _getLongdragonConfList () {
        this.listLoading = true
        getLongdragonConfList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            console.log(res)
            this.items = res.data.data.items.map((v) => {
              v.status = Boolean(v.status)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      changStatus (row) {
        const str = row.status ? '开启' : '关闭'
        this.$confirm(`此操作将${str}长龙设置， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = { tplId: row.tplId, spCode: row.spCode, status: row.status ? 1 : 0 }
          postLongdragonConfSave(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
              this._getLongdragonConfList()
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      },
      search () {
        this.listQuery.pageNo = 1
        this._getLongdragonConfList()
      }
    },
    created () {
      // this._getSpInfoList()
    }
  }
</script>

