<template>
  <el-card>
    <el-table :data="items" v-loading="loaded" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="所属厅主" prop="spCode" min-width="100">
      </el-table-column>
      <el-table-column align="right" label="用户账号" prop="loginId" min-width="100">
      </el-table-column>
      <el-table-column align="right" label="token值" prop="token" min-width="180">
      </el-table-column>
      <el-table-column align="right" label="创建时间(美东)" prop="createTime" min-width="120">
      </el-table-column>
      <el-table-column align="right" label="登录IP" prop="loginIp" min-width="120">
      </el-table-column>
    </el-table>
    <div v-if="totalCount" class="pagination-container fr">
      <el-pagination @size-change="handlePageSizeChange" @current-change="handleCurrentPageChange"
                     :current-page.sync="query.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="query.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
      </el-pagination>
    </div>
    <div style='clear: both'></div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getMemberLoggerMembeList } from 'api/members/index'

  export default {
    props: {
      value: {
        type: String,
        default: ''
      }
    },
    created () {
      this.query.loginId = this.value
      this.getLogger()
    },
    watch: {
      value (v) {
        this.query.loginId = v
        this.getLogger()
      }
    },
    data () {
      return {
        loaded: false,
        query: {
          loginId: '',
          pageNo: 1,
          pageSize: 10
        },
        items: [],
        totalCount: 0
      }
    },
    methods: {
      handlePageSizeChange (v) {
        this.query.pageSize = v
        this.getLogger()
      },
      handleCurrentPageChange (v) {
        this.query.pageNo = v
        this.getLogger()
      },
      getLogger () {
        this.loaded = true
        getMemberLoggerMembeList(this.query).then((res) => {
          if (res.data.code === ERR_OK) {
            console.log(2222)
            this.items = res.data.data.elements
            this.totalCount = res.data.data.totalCount
          }
          this.loaded = false
        })
      }
    }
  }
</script>
