<!--彩种类型维护-->
<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select v-model="listQuery.freqType" placeholder="频率类型" style="width:120px" clearable>
          <el-option
            v-for="item in freqTypeData"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.status" placeholder="开通状态" style="width:120px" clearable>
          <el-option
            v-for="item in statusData"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="_getTableData"
          :disabled="hasPermission('LotteryTypeList')"
        >查询</el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：配置更新后，请到系统管理模块的缓存管理页面，刷新本地缓存，才能即时生效!"
      type="warning"
      show-icon
    ></el-alert>
    <el-table
      :data="tableData"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      border
      fit
      style="width: 100%"
    >
      <el-table-column label="分组ID" min-width="120" align="right" prop="id"></el-table-column>
      <el-table-column align="right" label="分组编码" min-width="120" prop="typeName"></el-table-column>
      <el-table-column align="right" label="分组名称" min-width="120" prop="typeName"></el-table-column>
      <el-table-column label="初始利润点" min-width="100" align="right" prop="profitRate">
        <template slot-scope="scope">
          <span>{{scope.row.profitRate | profitFilter}}%</span>
        </template>
      </el-table-column>
      <el-table-column label="初始返点" min-width="100" align="right" prop="rebateRate">
        <template slot-scope="scope">
          <span>{{scope.row.rebateRate | profitFilter}}%</span>
        </template>
      </el-table-column>
      <el-table-column label="频率类型" align="right" min-width="100" prop="freqType">
        <template slot-scope="scope">
          <span>{{scope.row.freqType | freqFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column label="初始化标志" align="right" min-width="100" prop="initFlag">
        <template slot-scope="scope">
          <span>{{scope.row.initFlag | initFilters }}</span>
        </template>
      </el-table-column>
      <el-table-column label="分组描述" align="right" min-width="120" prop="description"></el-table-column>
      <el-table-column
        v-if="tableData.length>1"
        align="right"
        label="调整顺序"
        min-width="120"
        prop="displaySort"
      >
        <template slot-scope="scope">
          <div>
            <i
              style="cursor:pointer;"
              @click="up(scope.$index,scope.row)"
              v-if="scope.$index!==0"
              class="defaultimg"
            >
              <span></span>
            </i>
            <i
              style="cursor:pointer;"
              @click="down(scope.$index,scope.row)"
              v-if="scope.$index!==tableData.length-1"
              class="defaultimg"
            >
              <span class="down"></span>
            </i>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="操作" min-width="160" align="right" prop="status">
        <template slot-scope="scope">
          <el-switch
            @change="showDialog(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            v-model="scope.row.status"
            :disabled="hasPermission('LotteryTypeUpStatus')"
            inactive-color="#ff4949"
            active-color="#13ce66"
          ></el-switch>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config.js'
  import { getLotteryTypeList, postLotteryTypeUpStatus, getLotteryTypeUpDisplaySort } from 'api/dataBase/index'

  export default {
    data () {
      return {
        listLoading: true,
        tableData: [],
        loaded: false,
        cheched: false,
        listQuery: {
          freqType: '',
          status: ''
        },
        freqTypeData: [{
          value: 1,
          label: '高频彩'
        }, {
          value: 2,
          label: '低频彩'
        }],
        statusData: [{
          value: '1',
          label: '启用'
        }, {
          value: '0',
          label: '禁用'
        }]
      }
    },
    filters: {
      freqFilter (type) {
        const typeMap = {
          1: '高频彩',
          2: '低频彩'
        }
        return typeMap[type]
      },
      profitFilter (num) {
        return (num / 100).toFixed(2)
      },
      initFilters (init) {
        const initMap = {
          0: '非系统初始化',
          1: '系统初始化'
        }
        return initMap[init]
      }
    },
    created () {
      this._getTableData()
    },
    methods: {
      _getTableData () {
        this.listLoading = true
        getLotteryTypeList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tableData = res.data.data.lotteryTypeList.map((v) => {
              v.status = Boolean(v.status)
              return v
            })
            this.listLoading = false
          }
        })
      },
      up (index, row) {
        const newData = [].concat(this.tableData)
        const i = index
        const j = i - 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.tableData = [].concat(newData)
        const query = [
          {
            lotteryTypeId: newData[i].id,
            displaySort: newData[j].sort
          }, {
            lotteryTypeId: newData[j].id,
            displaySort: newData[i].sort
          }
        ]
        this.listLoading = true
        getLotteryTypeUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this._getTableData()
          }
          this.listLoading = false
        })
      },
      down (index, row) {
        const newData = [].concat(this.tableData)
        const i = index
        const j = i + 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.tableData = [].concat(newData)
        const query = [
          {
            lotteryTypeId: newData[i].id,
            displaySort: newData[j].sort
          }, {
            lotteryTypeId: newData[j].id,
            displaySort: newData[i].sort
          }
        ]
        this.listLoading = true
        getLotteryTypeUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this._getTableData()
          }
          this.listLoading = false
        })
      },
      // 弹出提示消息
      showDialog (row) {
        const str = row.status ? '启用' : '禁用'
        this.$confirm(`此操作将对"${row.typeName}"进行"${str}"操作， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = { id: row.id, status: row.status ? 1 : 0 }
          postLotteryTypeUpStatus(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      }
    }
  }
</script>
<style lang='scss' scoped>
i {
  &.defaultimg {
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("../../../assets/up.png") no-repeat center;
      background-size: cover;

      &.down {
        background: url("../../../assets/down.png") no-repeat center;
        background-size: cover;

        &:hover {
          background: url("../../../assets/red_down.png") no-repeat center;
          background-size: cover;
        }
      }

      &:hover {
        cursor: pointer;
        background: url("../../../assets/red_up.png") no-repeat center;
        background-size: cover;
      }
    }
  }
}
</style>
