<template>
  <el-card v-loading='listLoading'>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select v-model="listQuery.spCode" filterable default-first-option placeholder="请选择厅主" clearable>-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryTypeId" @clear="resetSelect" @change="handleChange"
                   placeholder="请选择彩种类型"
                   clearable>
          <el-option
            v-for="item in typeList"
            :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="请选择彩种" clearable filterable
                   default-first-option>
          <el-option
            v-for="item in lotteryNames"
            :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" v-model="listQuery.issue" placeholder="请输入期号" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" v-model="listQuery.orderCode" placeholder="请输入注单号" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.errorType" placeholder="请选择异常类型" clearable>
          <el-option
            v-for="item in errorTypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.errorSubType" placeholder="请选择异常子类型" clearable>
          <el-option
            v-for="item in errorSubTypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.handleType" placeholder="请选择处理类型" clearable>
          <el-option
            v-for="item in handleTypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.handleStatus" placeholder="请选择处理结果" clearable>
          <el-option
            v-for="item in handleStatusList"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          range-separator="至"
          :picker-options="pickerOptions"
          clearable
          :default-time="['00:00:00', '23:59:59']"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          format="yyyy-MM-dd HH:mm:ss"
          unlink-panels
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search" icon="el-icon-search"
                   :disabled="(listQuery.lotteryTypeId && !listQuery.lotteryId)||hasPermission('OrderErrorList')"
        >查询
        </el-button>
      </el-form-item>
      <!--			<el-form-item>-->
      <!--				<el-button type="primary" @click.native="handleAllError"-->
      <!--				           :disabled="multipleSelection.length===0||hasPermission('OrderErrorHandleProcessor')"-->
      <!--				>批量处理-->
      <!--				</el-button>-->
      <!--			</el-form-item>-->
      <el-form-item>
        <el-button type="primary" @click.native="handleAllDialog"
                   :disabled="hasPermission('OrderErrorHandleAllProcessor')"
        >批量处理
        </el-button>
      </el-form-item>
    </el-form>
    <!-- 表格内容 -->
    <el-table
      :data="tableData"
      ref="multipleTable"
      border
      style="width: 100%">
      <!--			<el-table-column-->
      <!--					align='center'-->
      <!--					width="55">-->
      <!--				<template slot-scope="scope">-->
      <!--					<el-checkbox v-model="scope.row.chk" :disabled="scope.row.disabled"-->
      <!--					             @change="ChkChange(scope.row)"></el-checkbox>-->
      <!--				</template>-->
      <!--			</el-table-column>-->
      <el-table-column
        align="right"
        min-width='100'
        prop="spCode"
        label="厅主">
      </el-table-column>
      <el-table-column
        align="right"
        prop="orderCode"
        min-width='150'
        label="注单号">
        <template slot-scope="scope">
          <el-tooltip content="点击复制注单号" placement="top">
            <el-button type="text" @click="handleCopy(scope.row.orderCode,$event,'注单号')">
              {{scope.row.orderCode}}
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <!--<el-table-column-->
      <!--prop="lotteryId"-->
      <!--align="right"-->
      <!--label="彩种ID">-->
      <!--</el-table-column>-->
      <el-table-column
        align="right"
        prop="issue"
        min-width='100'
        label="期号">
        <template slot-scope="scope">
          <el-tooltip content="点击复制期号" placement="top">
            <el-button type="text" @click="handleCopy(scope.row.issue,$event,'期号')">
              {{scope.row.issue}}
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="loginId"
        min-width='150'
        label="用户名">
        <template slot-scope='scope'>
          <!-- <span v-if='scope.row.errorSubType===3 && scope.row.errorType===60'>上级代理(<font class='red'>{{scope.row.loginId}}</font>)</span> -->
          <!-- <span v-else>下注用户(<font class='active_green'>{{scope.row.loginId}}</font>)</span> -->
          <span>下注用户(<font class='active_green'>{{scope.row.loginId}}</font>)</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        min-width='300'
        label="异常类型">
        <template slot-scope="scope">
          <span>{{scope.row.errorType|_errorType}}</span>
          /
          <el-tooltip placement="top" effect="light">
            <div slot="content">{{scope.row.errorDesc}}</div>
            <span>{{scope.row.errorSubType|_errorSubType}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <!--      <el-table-column-->
      <!--        align="right"-->
      <!--        min-width='150'-->
      <!--        label="异常子类型">-->
      <!--        <template slot-scope="scope">-->
      <!--          <el-tooltip placement="top" effect="light">-->
      <!--            <div slot="content">{{scope.row.errorDesc}}</div>-->
      <!--            <span>{{scope.row.errorSubType|_errorSubType}}</span>-->
      <!--          </el-tooltip>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <!--            <el-table-column-->
      <!--                    align="right"-->
      <!--                    min-width='100'-->
      <!--                    label="处理类型">-->
      <!--                <template slot-scope="scope">-->
      <!--                    <span>{{scope.row.handleType|_handleType}}</span>-->
      <!--                </template>-->
      <!--            </el-table-column>-->
      <el-table-column
        align="right"
        min-width='200'
        label="处理结果">
        <template slot-scope="scope">
          <span>{{scope.row.handleType|_handleType}}</span>
          /
          <span
            :class="{active_green:scope.row.handleStatus===1,
            active_red:scope.row.handleStatus ===2,
            active_blue:scope.row.handleStatus ===3 }">
            {{scope.row.handleStatus|_handleStatusList}}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="right"
        prop="createTime"
        min-width='140'
        label="创建时间">
      </el-table-column>
      <el-table-column
        align="right"
        prop="handleTime"
        min-width='140'
        label="最后处理时间">
      </el-table-column>
      <el-table-column label="操作" align="right" min-width="260">
        <template slot-scope="scope">
          <el-button @click="showDetail(scope.row)" size="mini" type="primary"
                     :disabled="hasPermission('OrderErrorDetail')">查看
          </el-button>
          <el-button v-if="(scope.row.handleType ===1) &&scope.row.handleStatus=== (2||0)" size="mini"
                     type="primary" @click="_handleStatus(scope.row.id)"
                     :disabled="hasPermission('OrderErrorHandleProcessor')">处理
          </el-button>
          <el-button v-else-if="(scope.row.handleType===2) && scope.row.handleStatus=== (0||2)" size="mini"
                     type="primary" @click="_handleStatus(scope.row.id)"
                     :disabled="hasPermission('OrderErrorHandleProcessor')">处理
          </el-button>
          <el-button v-else size="mini" type="primary" disabled>处理</el-button>
          <el-button @click="_handleStatusLog(scope.row)" size="mini" type="primary"
                     :disabled="hasPermission('OrderErrorHandleSearch')">处理流程
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div v-if="total">
      <!--			<div class='fl' style='margin: 15px 0;'>-->
      <!--				<el-button @click="toggleSelection(true)">全选</el-button>-->
      <!--				<el-button @click="toggleSelection(false)">全取消</el-button>-->
      <!--			</div>-->
      <div class="pagination-container fr">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page.sync="listQuery.pageNo"
                       :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                       layout="total, sizes, prev, pager, next, jumper" :total="total">
        </el-pagination>
      </div>
    </div>
    <!-- 查看弹框 -->
    <el-dialog
      class="detail-dialog"
      width="1260px"
      :visible.sync="popover_visible">
      <span slot="title" class="el-dialog__title">
        异常详情-订单号：{{orderCode}}
      </span>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
    <!-- 日志弹框 -->
    <el-dialog :visible.sync="dialogTableVisible" width='60%'>
      <span slot="title" class="el-dialog__title">
        异常处理日志-订单号:{{ orderCode }}
      </span>
      <el-table :data="LogData" border>
        <el-table-column type="index" label="序号" align="right" width='60'></el-table-column>
        <el-table-column property="handleType" label="处理类型" align="right" width='90'>
          <template slot-scope="scope">
            <span>{{scope.row.handleType|_handleType}}</span>
          </template>
        </el-table-column>
        <el-table-column label="处理结果" align="right" width='90'>
          <template slot-scope="scope">
            <span>{{scope.row.handleStatus|_handleStatusList}}</span>
          </template>
        </el-table-column>
        <el-table-column property="handleTime" label="处理时间" align="right" width='140'></el-table-column>
        <el-table-column property="handelDesc" label="处理结果描述" align="right"></el-table-column>
      </el-table>
    </el-dialog>
    <!-- 批量处理 -->
    <el-dialog
      title="批量处理"
      :visible.sync="dialogVisible"
      width="600px"
      @close="closeReset"
      append-to-body
    >
      <el-form
        :model="form"
        ref="pForm"
        :rules="rules"
        label-position="left"
        label-width="120px"
      >
        <el-form-item prop="pValue" label="处理时间段">
          <el-date-picker
            v-model="form.pValue"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="起始时间"
            end-placeholder="结束时间"
            :default-time="['00:00:00', '23:59:59']"
            value-format="yyyy-MM-dd HH:mm:ss"
            style="width: 100%"
          >
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer text-center">
        <el-button @click="closeReset">取 消</el-button>
        <el-button type="primary" @click="postOrderErrorHandleAll">提 交</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import Settime from 'utils/settime'
  import JsonEditor from 'components/JsonEditor'
  import {
    getOrderErrorList,
    getOrderErrorDetail,
    getOrderErrorHandleProcessor,
    getOrderErrorHandleSearch,
    postOrderErrorHandleAllProcessor
  } from 'api/monitor'
  import clip from 'utils/clipboard'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { JsonEditor, fuzzyQuerySearch },
    data () {
      return {
        form: {
          pValue: []
        },
        rules: {
          pValue: [
            {
              type: 'array',
              required: true,
              message: '请选择起始时间和结束时间',
              trigger: 'change'
            }
          ]
        },
        value: '',
        dialogTableVisible: false,
        popover_visible: false,
        dialogVisible: false,
        dataValue: [],
        errorTypes: [
          {
            value: 10,
            label: '下注异常'
          },
          {
            value: 20,
            label: '撤单异常'
          },
          {
            value: 30,
            label: '结算异常'
          },
          {
            value: 40,
            label: '奖金发放异常'
          }
          // {
          //   value: 50,
          //   label: '投注返点发放异常'
          // },
          // {
          //   value: 60,
          //   label: '代理返点发放异常'
          // }
        ],
        handleTypes: [
          {
            value: 0,
            label: '待处理'
          },
          {
            value: 1,
            label: '自动处理'
          },
          {
            value: 2,
            label: '人工处理'
          }
        ],
        handleStatusList: [
          {
            value: 0,
            label: '未处理'
          },
          {
            value: 1,
            label: '处理成功'
          },
          {
            value: 2,
            label: '处理失败'
          },
          {
            value: 3,
            label: '废弃'
          }
        ],
        errorSubTypes: [
          { value: 1, label: '调用接口异常' },
          { value: 2, label: '入库异常' },
          { value: 3, label: '金流异常' }
        ],
        total: 0,
        listLoading: false,
        // spList: [],
        lotteryNames: [],
        typeList: [],
        lotteryList: [],
        listErrorId: {
          errorIds: ''
        },
        orderCode: '',
        pickerOptions: EnUSPickerOptions,
        listQuery: {
          spCode: '',
          lotteryId: '',
          issue: '',
          beginTime: '',
          endTime: '',
          errorType: '',
          errorSubType: '',
          orderCode: '',
          handleType: '',
          handleStatus: '',
          pageSize: 10,
          pageNo: 1
        },
        tableData: [],
        LogData: [],
        multipleSelection: []
      }
    },
    filters: {
      _handleType (status) {
        const handleType = {
          0: '待处理',
          1: '自动处理',
          2: '人工处理'
        }
        return handleType[status]
      },
      _handleStatusList (status) {
        const handleStatusList = {
          0: '未处理',
          1: '处理成功',
          2: '处理失败',
          3: '废弃'
        }
        return handleStatusList[status]
      },
      _errorType (status) {
        const errorType = {
          10: '下注异常',
          20: '撤单异常',
          30: '结算异常',
          40: '奖金发放异常'
          // 50: '投注返点发放异常',
          // 60: '代理返点发放异常'
        }
        return errorType[status]
      },
      _errorSubType (v) {
        const typeMaps = {
          1: '调用接口异常',
          2: '入库异常',
          3: '金流异常'
        }
        return typeMaps[v]
      }
    },
    created () {
      // this._getSpInfoList()
      this._getLotteryTypeList()
      const date = new Date(Settime.RefTime())
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this._getOrderErrorList()
    },
    methods: {
      handleAllDialog () {
        this.dialogVisible = true
      },
      closeReset () {
        this.dialogVisible = false
        this.form = {
          pValue: []
        }
        this.$refs.pForm.resetFields()
      },
      postOrderErrorHandleAll () {
        this.$refs.pForm.validate((valid) => {
          if (valid) {
            const query = {
              beginTime: this.form.pValue[0],
              endTime: this.form.pValue[1]
            }
            this.$confirm(`此操作将对${query.beginTime}至${query.endTime}之间的失败数据进行批量处理操作， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              postOrderErrorHandleAllProcessor(query).then((r) => {
                if (r.data.code === ERR_OK) {
                  const num = r.data.data.processorNum || 0
                  this.$notify({
                    title: '提示',
                    type: 'success',
                    message: `成功处理${num}条失败数据!`,
                    offset: 100
                  })
                  setTimeout(() => {
                    this.dialogVisible = false
                    this._getOrderErrorList()
                  }, 500)
                }
              })
            })
          }
        })
      },
      ChkChange (row) {
        console.log(row)
        this.multipleSelection = this.tableData.filter((v) => v.chk)
      },
      toggleSelection (flag = true) {
        this.tableData.forEach((m) => {
          if (m.handleStatus === 2) m.chk = flag
        })
        this.ChkChange()
      },
      handleAllError () {
        const ids = []
        this.multipleSelection.forEach((m) => {
          ids.push(m.id)
        })
        this._handleStatus(ids.join(','))
        this.multipleSelection = []
      },
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleCopy (text, event, type) {
        clip(text, event, type)
      },
      // 获取全部列表数据
      _search () {
        this.listQuery.pageNo = 1
        this._getOrderErrorList()
      },
      // 获取列表数据
      _getOrderErrorList () {
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getOrderErrorList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tableData = res.data.data.elements.map((r) => {
              r.disabled = true
              r.chk = false
              if (r.handleStatus === 2) {
                r.disabled = false
              }
              return r
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      // 操作 处理
      _handleStatus (ids) {
        this.$confirm('是否确定处理异常?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then((res) => {
          // const query = {
          //   errorId: row.id
          // }
          this.listErrorId.errorIds = ids
          getOrderErrorHandleProcessor(this.listErrorId).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '处理成功!'
              })
              this._getOrderErrorList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作'
          })
        })
      },
      // 操作 处理日志
      _handleStatusLog (row) {
        this.listErrorId.errorId = row.id
        this.orderCode = row.orderCode
        getOrderErrorHandleSearch(this.listErrorId).then((res) => {
          if (res.data.code === ERR_OK) {
            this.LogData = res.data.data
          }
          this.dialogTableVisible = true
        })
      },
      // 操作 查看
      showDetail (row) {
        this.listErrorId.errorId = row.id
        this.orderCode = row.orderCode
        getOrderErrorDetail(this.listErrorId).then((res) => {
          if (res.data.code === ERR_OK) {
            const v = JSON.parse(res.data.data)
            this.value = { ...v, orderCode: row.orderCode }
            console.log(this.value)
          }
        })
        this.popover_visible = true
      },
      // 获取厅主列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取彩种类型
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.typeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.listQuery.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryNames = res.data.data.items
          }
        })
      },
      handleChange (val) {
        this.resetSelect()
        this._getLotteryInfoList()
      },
      resetSelect () {
        this.options = []
        this.listQuery.lotteryId = ''
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getOrderErrorList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getOrderErrorList()
      }
    }
  }
</script>

<style>

</style>

