<!--局数据查询-->
<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options="{type:'spCode',placeholder:'请输入厅编码'}"
          @dealChange="dealChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select
          filterable
          clearable
          style="width: 150px"
          placeholder="请选择彩种类型"
          default-first-option
          v-model="lotteryTypeId"
          @change="handleChange"
        >
          <el-option
            v-for="item in lotteryTypeList"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select
          filterable
          style="width: 150px"
          placeholder="请选择彩种"
          clearable
          v-model="listQuery.lotteryId"
          :disabled="!lotteryTypeId"
        >
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input
          style="width: 170px;"
          placeholder="请输入期号"
          v-model="listQuery.issue"
          clearable
          :disabled="!listQuery.lotteryId"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="_search"
          :loading="listLoading"
          :disabled="!(listQuery.spCode||listQuery.lotteryId)||hasPermission('OrderGameReportList')"
        >查询</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :key="tableKey"
      :data="elements"
      v-loading="listLoading"
      border
      fit
      highlight-current-row
      element-loading-text="拼命加载中"
      max-height="700"
      element-loading-spinner="el-icon-loading"
      style="width: 100%"
    >
      <el-table-column align="right" label="厅主" min-width="90">
        <template slot-scope="scope">
          <span>{{scope.row.spCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种类型" min-width="90">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryTypeName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种名称" min-width="130">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="期号" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.issue}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开盘时间/北京" min-width="160">
        <template slot-scope="scope">
          <span>{{scope.row.beginTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="封盘时间/北京" min-width="160">
        <template slot-scope="scope">
          <span>{{scope.row.endTime}}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="90" align="right" label="投注人数" sortable prop="partakeNum">
        <template slot-scope="scope">
          <span class="order">{{scope.row.partakeNum}}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="90" align="right" label="注单笔数" sortable prop="buyNumber">
        <template slot-scope="scope">
          <span class="order">{{scope.row.buyNumber}}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="90" align="right" label="撤单笔数" sortable prop="cancelBuyNumber">
        <template slot-scope="scope">
          <span class="cancelOrder">{{scope.row.cancelBuyNumber}}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="90" align="right" label="注单总额" sortable prop="orderMoney">
        <template slot-scope="scope">
          <span class="order">{{scope.row.orderMoney.toFixed(2)}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column min-width="90" align="right" label="返点总额" sortable prop='rebateMoney'>
        <template slot-scope="scope">
          <span class="order">{{scope.row.rebateMoney.toFixed(2)}}</span>
        </template>
      </el-table-column>-->
      <el-table-column min-width="90" align="right" label="撤单总额" sortable prop="cancelOrderMoney">
        <template slot-scope="scope">
          <span class="cancelOrder">{{scope.row.cancelOrderMoney.toFixed(2)}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column min-width="150" align="right" label="撤单总返点" sortable prop='cancelRebateMoney'>
        <template slot-scope="scope">
          <span class="cancelOrder">{{scope.row.cancelRebateMoney.toFixed(2)}}</span>
        </template>
      </el-table-column>-->
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import { getOrderGameReportList } from 'api/orders'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        listLoading: false,
        tableKey: 0,
        elements: [],
        listQuery: {
          spCode: '',
          lotteryId: '',
          issue: ''
        },
        lotteryTypeList: [],
        // spList: [],
        options: [],
        lotteryTypeId: ''
      }
    },
    created () {
      // this._getSpInfoList()
      this._getLotteryTypeList()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // resetLottery() {
      //   this.lotteryTypeId = ''
      //   this.listQuery.lotteryId = ''
      //   this.listQuery.issue = ''
      //   this._getLotteryTypeList()
      // },
      handleChange (val) {
        this.listQuery.lotteryId = ''
        this.listQuery.issue = ''
        this.options = []
        if (val) this._getLotteryInfoList()
      },
      resetSelect () {
        this.listQuery.issue = ''
      },
      _search () {
        if (this.lotteryTypeId && !this.listQuery.lotteryId) {
          this.$message({
            type: 'error',
            message: '请选择彩种...'
          })
          return
        }
        // if (this.listQuery.lotteryId && this.listQuery.issue === '') {
        //  this.$message({
        //  type: 'error',
        //  message: '请填入期号...'
        //  })
        //  return
        //  }
        this._getList()
      },
      _getLotteryTypeList () {
        // getAjaxData({ dataType: 20, pId: this.listQuery.spCode }).then(res => {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = res.data.data.items
          }
        })
      },
      // 获取彩种列表
      _getLotteryInfoList () {
        getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.options = res.data.data.items
          }
        })
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      // 获取数据列表
      _getList () {
        this.listLoading = true
        getOrderGameReportList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items.map((v) => {
              v.orderMoney = parseFloat(v.orderMoney / 100)
              v.rebateMoney = parseFloat(v.rebateMoney / 100)
              v.cancelOrderMoney = parseFloat(v.cancelOrderMoney / 100)
              v.cancelRebateMoney = parseFloat(v.cancelRebateMoney / 100)
              return v
            })
          }
          this.listLoading = false
        })
      }
    }
  }
</script>
<style scoped>
.order {
  color: #00bcd4;
}

.cancelOrder {
  color: #f00;
}
</style>
