<template>
  <div class='sum-container' ref='scroll_css'>
    <div class="Db-btn">
      <span>数据库主从延迟验证</span>
      <el-select v-model="listQuery.dealyTime"
                 style="width: 100px;"
                 placeholder="请选择时间">
        <el-option v-for="item in options"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
      </el-select>
      <el-button
        size="mini"
        type='primary'
        @click="_getMonitorDB">验证
      </el-button>
    </div>
    <div class="container">
      <exception-table class="list"></exception-table>
      <large-order-table class="list"></large-order-table>
      <lottery-not-open-table class="list"></lottery-not-open-table>
      <service-list-table class="list"></service-list-table>
      <el-button class="full-btn"
                 size="mini"
                 @click="postFullScreenStatus">
        全屏
      </el-button>
      <el-dialog title="数据库主从延迟" :visible.sync="dialogTableVisible">
        <el-table :data="DbElement" border v-loading="dbLoading">
          <el-table-column label="数据源名称" min-width="150" align='center'>
            <template slot-scope='scope'>
              <span>{{scope.row.sourceName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="描述消息" min-width="200" align='center'>
            <template slot-scope='scope'>
              <span :class="{red:scope.row.status ==='1'}">{{scope.row.message}}</span>
            </template>
          </el-table-column>
          <el-table-column label="状态" align='center'>
            <template slot-scope='scope'>
              <span>{{scope.row.status ==='0'?'正常':'超时'}}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>
  </div>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import { getMonitorDB } from 'api/monitor'
  import ExceptionTable from './OrderExceptionTable'
  import LargeOrderTable from './LargeOrderList'
  import LotteryNotOpenTable from './LotteryNotOpenList'
  import serviceListTable from './serviceList'
  import { launchFullscreen, exitFullscreen, isFullScreen } from '../fullScreen'

  export default {
    components: {
      ExceptionTable,
      LargeOrderTable,
      LotteryNotOpenTable,
      serviceListTable
    },
    data () {
      return {
        dbLoading: false,
        options: [
          {
            value: 1,
            label: '1s'
          },
          {
            value: 2,
            label: '2s'
          },
          {
            value: 3,
            label: '3s'
          },
          {
            value: 4,
            label: '4s'
          },
          {
            value: 5,
            label: '5s'
          }],
        listQuery: {
          dealyTime: 1
        },
        DbElement: [],
        dialogTableVisible: false
      }
    },
    methods: {
      postFullScreenStatus () {
        if (isFullScreen()) {
          exitFullscreen()
          this.$refs.scroll_css.className = ''
        } else {
          launchFullscreen(this.$el)
          this.$refs.scroll_css.className = 'scroll_css'
          // this.$el.style = 'overflow-y: scroll;background:#ffffff'
        }
      },
      async _getMonitorDB () {
        this.DbElement = []
        this.dialogTableVisible = true
        this.dbLoading = true
        const res = await getMonitorDB(this.listQuery)
        if (res.data.code === ERR_OK) {
          this.DbElement = res.data.data.items
        }
        this.dbLoading = false
      }
    }
  }
</script>

<style scoped lang="scss">
  .scroll_css {
    overflow-y: scroll;
    background: #ffffff;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.90, #a0c6e5), color-stop(0.80, #a0c6e5), color-stop(0.70, #a0c6e5));
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background-color: #fff;
    }
  }

  .Db-btn {
    background: #ffffff;
    padding: 10px 0 0 20px;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    background: #ffffff;

    .list {
      margin-top: 2rem;
      padding: .5rem 1rem;
      width: 32%;
      width: -moz-calc(100% / 3);
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
    }

    .full-btn {
      color: #ACADAD;
      position: fixed ! important;
      right: 1.5rem;
      top: .5rem;
    }

    .red {
      color: red;
    }
  }
</style>
