<template>
  <div>
    <el-badge :value="totalSums" :max="999" class="item" :hidden="!totalSums">
      <el-button type="success">{{ title }}</el-button>
    </el-badge>
    <el-badge :value="selectedItems.length" :max="999" class="item" :hidden="!selectedItems.length">
      <el-button type="primary"
                 :disabled="!(selectedItems.length > 0) || hasPermission('MonitorProcess')"
                 @click.native="handleBatchItems">
        批量处理
      </el-button>
    </el-badge>
    <el-badge :value="selectedLabel.num" :max="999" class="item" :hidden="!selectedLabel.num">
      <el-button type="danger" :disabled="!selectedLabel.num||hasPermission('MonitorProcess')"
                 @click="refreshSelectedTag(selectedLabel)">处理当前子类型
      </el-button>
    </el-badge>
    <div class="button-area">
      <div>
        <el-input :placeholder="placeholder"
                  v-if="title!=='服务监控'"
                  type="primary"
                  v-model="searchQuery.input.value"
                  clearable>
        </el-input>
        <el-button type="primary"
                   v-if="title!=='服务监控'"
                   :disabled="hasPermission(query.cmd)"
                   @click="clearRefreshTimerAndSearch"
                   icon="el-icon-search">
          查询
        </el-button>
      </div>
      <div>
        <el-select v-model="sel_time"
                   style="width: 100px;"
                   @change="_handchange"
                   placeholder="刷新频率">
          <el-option v-for="item in settimeList"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
        <el-button type="primary"
                   @click="refreshTable"
                   :disabled="hasPermission(query.cmd)">
          <span v-if="Boolean(counter)">({{counter}})</span>
          手动刷新
        </el-button>
      </div>
    </div>
    <div class="selectedType">
      <!--            <el-tooltip v-for="item in typeArrayList" :key="item.value" placement="top">-->
      <!--                <div slot="content">右键可批量处理"{{item.label}}"类型</div>-->
      <!--                <el-tag effect="dark"-->
      <!--                        size="small"-->
      <!--                        @click="selectThisItem(item)"-->
      <!--                        @contextmenu.prevent.native="openMenu(item,$event)"-->
      <!--                        :type="item[pop]===actionLabel?'danger':''">{{ item.label }}({{ item.num }})-->
      <!--                </el-tag>-->
      <el-tag effect="dark"
              v-for="item in typeArrayList" :key="item.value"
              size="small"
              @click="selectThisItem(item)"
              :type="item[pop]===actionLabel?'danger':''">{{ item.label }}({{ item.num }})
      </el-tag>
      <!--            </el-tooltip>-->
      <!--            <ul v-show="visible" :style="{left:left+'px',top:top+'px'}" class="contextmenu">-->
      <!--                <li @click="refreshSelectedTag(selectedLabel)">-->
      <!--                    处理该类型-->
      <!--                </li>-->
      <!--            </ul>-->
    </div>
    <el-row>
      <div class="table_container">
        <table class="main-table" border="1" style="border-collapse:collapse;border-color: #a0c6e5;"
               v-loading="loading"
               element-loading-text="拼命加载中"
               element-loading-spinner="el-icon-loading">
          <tr align="right">
            <td>
              <el-checkbox
                :indeterminate="isIndeterminate"
                v-if="tableData.length > 0"
                @change="selectAll"
                v-model="isAllSelected"></el-checkbox>
              <span v-else> - </span>
            </td>
            <slot name="header"></slot>
            <td>操作</td>
          </tr>
          <tr
            v-for="index in (tableData.length<10?10:(tableData.length<query.pageSize?tableData.length:query.pageSize))"
            align="right"
            :key="index">
            <td>
              <el-checkbox
                v-model="tableData[index -1].chk"
                @change="selectItem(tableData[index-1])"
                v-if="tableData.length >= index"></el-checkbox>
              <span v-else> - </span>
            </td>
            <slot name="content" :data="tableData.length >= index ? tableData[index -1] : {}"></slot>
            <td>
              <el-button type="text"
                         v-if="tableData.length >= index"
                         :disabled="hasPermission('MonitorProcess')"
                         @click="handleRow(tableData[index -1])"
                         size="mini">
                处理
              </el-button>
              <span v-else> - </span>
            </td>
          </tr>
        </table>
      </div>
      <div v-if="hasData" class="paginattaion-container fr mt10">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentPageChange"
                       :current-page.sync="query.pageNo"
                       :page-sizes="[20,50,100,150,200]" :page-size="query.pageSize"
                       layout="sizes, prev, pager, next, jumper" :total="totalCount">
        </el-pagination>
      </div>
    </el-row>
  </div>
</template>

<script>
  import {
    getExceptionList,
    handleBatchList
  } from '../../../api/monitor'
  import { ERR_OK } from '../../../api/config'

  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      pop: {
        type: String,
        required: true
      },
      placeholder: {
        type: String,
        required: true
      },
      typeArray: {
        type: Array,
        default: function () {
          return []
        }
      },
      query: {
        type: Object,
        required: true
      },
      searchQuery: {
        type: Object,
        required: true
      },
      batchQuery: {
        type: Object,
        required: true
      },
      errorType: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        top: 0,
        left: 0,
        tableData: [],
        totalCount: 0,
        selectedItems: [],
        hasData: false,
        loading: false,
        sel_time: 0,
        counter: 0,
        timer: null,
        counterTimer: null,
        isIndeterminate: false,
        actionLabel: '',
        totalSums: 0,
        typeArrayList: this.typeArray,
        visible: false,
        settimeList: [
          {
            value: 0,
            label: '不刷新'
          },
          {
            value: 5,
            label: '5秒'
          },
          {
            value: 10,
            label: '10秒'
          },
          {
            value: 20,
            label: '20秒'
          },
          {
            value: 30,
            label: '30秒'
          }
        ],
        selectedLabel: {
          label: '',
          num: 0,
          type: '',
          orderType: ''
        }
      }
    },
    computed: {
      isAllSelected: {
        get () {
          return !this.tableData.find(
            (ele) => !ele.chk
          )
        },
        set (val) {
          return !this.tableData.find(
            (ele) => !ele.chk
          )
        }
      }
    },
    mounted () {
      if (this.hasPermission(this.query.cmd)) return
      this._getSearchData()
    },
    beforeDestroy () {
      this.clearTimer()
    },
    watch: {
      // visible (value) {
      //   if (value) {
      //     document.body.addEventListener('click', this.closeMenu)
      //   } else {
      //     document.body.removeEventListener('click', this.closeMenu)
      //   }
      // }
    },
    methods: {
      refreshSelectedTag (item) {
        console.log('item', item)
        this.$prompt('请输入处理描述', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消'
        }).then(({ value }) => {
          handleBatchList({
            errorType: this.errorType, handleDesc: value, errorSubType: item[this.pop]
          }).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                message: '处理成功',
                type: 'success'
              })
              this.actionLabel = ''
              this.query[this.pop] = ''
              this.clearRefreshTimerAndSearch()
              this.selectedLabel = {
                label: '',
                num: 0,
                type: '',
                orderType: ''
              }
            } else {
              this.$message({
                message: '处理失败',
                type: 'error'
              })
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消输入'
          })
        })
      },
      // openMenu (tag, e) {
      //   const menuMinWidth = 105
      //   const offsetLeft = this.$el.getBoundingClientRect().left // container margin left
      //   const offsetWidth = this.$el.offsetWidth // container width
      //   const maxLeft = offsetWidth - menuMinWidth // left boundary
      //   const left = e.clientX - offsetLeft + 15 // 15: margin right
      //   if (left > maxLeft) {
      //     this.left = maxLeft
      //   } else {
      //     this.left = left
      //   }
      //   console.log(e)
      //   console.log('clientY', e.clientY)
      //   this.top = (e.clientY - 180) / 2
      //   this.visible = true
      //   this.query.pageNo = 1
      //   this.actionLabel = tag[this.pop]
      //   this.query[this.pop] = tag[this.pop]
      //   this.selectedLabel = tag
      //   this.clearRefreshTimerAndSearch()
      // },
      // closeMenu () {
      //   this.visible = false
      // },
      clearRefreshTimerAndSearch () {
        this.sel_time = 0
        this.counter = 0
        this.clearTimer()
        this.query.pageNo = 1
        this._getSearchData()
      },
      selectThisItem (item) {
        console.log(item)
        this.query.pageNo = 1
        if (this.actionLabel === item[this.pop]) {
          this.actionLabel = ''
          this.selectedLabel = {
            label: '',
            num: 0,
            type: '',
            orderType: ''
          }
        } else {
          this.actionLabel = item[this.pop]
          this.selectedLabel = { ...this.selectedLabel, ...item }
        }
        this.query[this.pop] = this.actionLabel
        this.clearRefreshTimerAndSearch()
      },
      handleSizeChange (val) {
        this.query.pageSize = val
        this.query.pageNo = 1
        this._getSearchData()
      },
      handleCurrentPageChange (val) {
        this.query.pageNo = val
        this._getSearchData()
      },
      handleBatchItems () {
        this._handleData(this.selectedItems)
      },
      handleRow (row) {
        console.log(row)
        this._handleData([row])
      },
      refreshTable () {
        this._getSearchData()
      },
      _handchange (v) {
        this.sel_time = v
        this.setClock(v)
      },
      setClock (v) {
        this.clearTimer()
        if (v > 0) {
          this.counter = v
          this.counterTimer = setInterval(() => {
            --this.counter
            if (this.counter === 0) this.counter = v
          }, 1000)
          this.timer = setInterval(() => {
            this._getSearchData()
          }, v * 1000)
        } else {
          this.counter = 0
        }
      },
      clearTimer () {
        window.clearInterval(this.timer)
        window.clearInterval(this.counterTimer)
      },
      selectItem () {
        this.selectedItems = this.tableData.filter(
          (ele) => ele.chk
        )
        const checkedCount = this.selectedItems.length
        this.isAllSelected = checkedCount === this.tableData.length
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.tableData.length
      },
      selectAll (ele) {
        if (ele) {
          this.tableData.forEach((m) => {
            m.chk = true
            this.selectedItems.push({ ...m })
          })
        } else {
          this.tableData.forEach((m) => {
            m.chk = false
          })
          this.selectedItems = []
        }
      },
      _handleData (items) {
        console.log(items.length)
        this.$prompt('请输入处理描述', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消'
        }).then(({ value }) => {
          const errorId = []
          items.forEach((item) => {
            errorId.push(item.id)
          })
          handleBatchList({ errorType: this.errorType, handleDesc: value, errorId: errorId.join(',') }).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                message: '处理成功',
                type: 'success'
              })
              this.clearRefreshTimerAndSearch()
            } else {
              this.$message({
                message: '处理失败',
                type: 'error'
              })
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消输入'
          })
        })
      },
      _getSearchData () {
        this.isIndeterminate = false
        this.selectedItems = []
        if (this.sel_time) this.setClock(this.sel_time)
        const searchData = {}
        if (this.searchQuery.input.value) {
          this.query.pageNo = 1
          searchData[this.searchQuery.input.key] = this.searchQuery.input.value
        }
        this.loading = true
        getExceptionList({ ...searchData, pageSize: this.pageSize, ...this.query }).then((res) => {
          if (res.data.code === ERR_OK) {
            this._setupData(res.data.data)
            this.typeArrayList = this.typeArrayList.map((m) => {
              m.num = 0
              return m
            })
            this.typeArrayList = this.typeArray.map((m) => {
              for (let i = 0; i < res.data.data.typeNumList.length; i++) {
                const r = res.data.data.typeNumList[i]
                if (r[this.pop] === m[this.pop]) {
                  m.num = r.num
                  break
                }
              }
              return m
            })
            // console.log(this.typeArrayList)
          }
          this.loading = false
        })
      },
      _setupData (data) {
        this.tableData = data.items.map((item) => {
          item.chk = false
          return item
        })
        this.hasData = this.tableData.length > 0
        this.query.pageSize = data.pageSize
        this.query.pageNo = data.pageNo
        this.totalCount = data.totalCount
        if (this.actionLabel) this.selectedLabel.num = this.totalCount
        this.totalSums = data.totalSums
      }
    }
  }
</script>

<style scoped lang="scss">
  .item {
    margin-right: 30px;
  }

  .mt10 {
    margin-top: 10px;
  }

  .button-area {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;

    div {
      .el-input {
        width: 10rem;
      }

      * {
        margin-bottom: .5rem;;
      }
    }
  }

  .table_container {
    width: 100%;
    height: 365px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.90, #a0c6e5), color-stop(0.80, #a0c6e5), color-stop(0.70, #a0c6e5));
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background-color: #fff;
    }

    .main-table {
      border: .2px;
      width: 100%;
      height: 350px;
    }
  }

  .pagination-container {
    max-width: 100%;
    text-align: right;
  }

  .selectedType {
    width: 100%;
    height: 90px;
    /*padding: 5px;*/
    margin-bottom: .5rem;
    border: 1px solid rgb(160, 198, 229);
    position: relative;

    .el-tag {
      margin: 5px;
      cursor: pointer;
    }

    .red {
      background-color: hsla(0, 87%, 69%, .1);
      border-color: hsla(0, 87%, 69%, .2);
      color: #f56c6c;
    }
  }

  .contextmenu {
    margin: 0;
    background: #11b95c;
    z-index: 3000;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);

    li {
      margin: 0;
      padding: 7px 16px;
      cursor: pointer;

      /*&:hover {*/
      /*    background: #eee;*/
      /*}*/
    }
  }
</style>
