<template>
  <exception-list v-bind="listData">
    <template slot="header">
      <td>厅主</td>
      <td>订单号</td>
      <td>彩种</td>
      <td>彩期</td>
      <td>用户</td>
      <td>异常类型</td>
    </template>
    <template slot="content" slot-scope="{ data }">
      <td>{{ data.spCode | emptyFilter}}</td>
      <td>{{ data.orderCode | emptyFilter }}</td>
      <td>
        <el-tooltip effect="light" placement="top">
          <div slot="content">彩种ID:{{ data.lotteryId }};原彩种名称:{{ data.initialLotteryName }};彩种名称:{{
              data.lotteryName
            }}
          </div>
          <span class="ellipsis">{{ data.lotteryName | emptyFilter }}</span>
        </el-tooltip>
      </td>
      <td>{{ data.issue | emptyFilter}}</td>
      <td>{{ data.loginId | emptyFilter }}</td>
      <td>
        <el-tooltip effect="dark" placement="top">
          <div class="tip-content" slot="content">{{data.exceptionDesc | emptyFilter }}</div>
          <span> {{ data.type | emptyFilter | typeFilter }}</span>
        </el-tooltip>
      </td>
    </template>
  </exception-list>
</template>

<script>
  import ExceptionList from './ExceptionList'
  import { typeFilter, emptyFilter } from '../filters'

  export default {
    components: {
      ExceptionList
    },
    data () {
      const pageSize = 20
      const orderCmd = 'MonitorOrderList'
      return {
        listData: {
          title: '注单监控-大额注单',
          placeholder: '请输入注单号',
          query: {
            cmd: orderCmd,
            type: 2,
            pageSize,
            pageNo: 1,
            orderType: ''
          },
          typeArray: [
            { orderType: 8, label: '大额下注', num: 0 },
            { orderType: 9, label: '大额中奖', num: 0 }
          ],
          pop: 'orderType',
          searchQuery: {
            input: {
              key: 'orderCode',
              value: ''
            }
          },
          batchQuery: {
            list: []
          },
          errorType: 1
        }
      }
    },
    filters: {
      typeFilter,
      emptyFilter
    }
  }
</script>
