<template>
  <exception-list v-bind="listData">
    <template slot="header">
      <td>类型</td>
      <td>彩种</td>
      <td>彩期</td>
      <td>异常类型</td>
      <td>封盘时间</td>
    </template>
    <template slot="content" slot-scope="{ data }">
      <td>
        {{ data.selfType | emptyFilter | selfTypeFilter }}
      </td>
      <td>
        <el-tooltip effect="light" placement="top">
          <div slot="content">彩种ID:{{ data.lotteryId }};原彩种名称:{{ data.initialLotteryName }};彩种名称:{{
              data.lotteryName
            }}
          </div>
          <span class="ellipsis">{{ data.lotteryName | emptyFilter }}</span>
        </el-tooltip>
      </td>
      <td>
        {{ data.issue | emptyFilter }}
      </td>
      <td>
        <el-tooltip effect="dark" placement="top">
          <div class="tip-content" slot="content">{{ data.exceptionDesc | emptyFilter }}</div>
          <span> {{ data.type | emptyFilter | typeEXFilter }} </span>
        </el-tooltip>
      </td>
      <td>{{ data.endTime | emptyFilter }}</td>
    </template>
  </exception-list>
</template>

<script>
import ExceptionList from './ExceptionList'
import { selfTypeFilter, typeEXFilter, emptyFilter } from '../filters'

export default {
  components: {
    ExceptionList
  },
  data () {
    const pageSize = 20
    const issueCmd = 'MonitorIssueList'
    return {
      listData: {
        title: '彩期监控-异常彩期',
        placeholder: '请输入彩期号',
        query: {
          cmd: issueCmd,
          pageSize,
          pageNo: 1,
          type: ''
        },
        pop: 'type',
        typeArray: [
          { type: 1, label: '结算任务不存在', num: 0 },
          { type: 2, label: '未开奖', num: 0 },
          {
            type: 3, label: '结算超时', num: 0
          },
          // 4-冻结用户 5-两期开奖结果相同系统撤单
          {
            type: 4,
            label: '冻结用户',
            num: 0
          },
          {
            type: 6,
            label: '彩期提前开奖',
            num: 0
          },
          {
            type: 5,
            label: '两期开奖结果相同系统撤单',
            num: 0
          }
        ],
        searchQuery: {
          input: {
            key: 'issue',
            value: ''
          }
        },
        batchQuery: {
          list: []
        },
        errorType: 2
      }
    }
  },
  filters: {
    selfTypeFilter,
    typeEXFilter,
    emptyFilter
  }
}
</script>

<style scoped>
/*.tip-content {*/
/*max-width: 100px;*/
/*}*/

</style>
