<template>
  <exception-list v-bind="listData" :key="key">
    <template slot="header">
      <td>厅主</td>
      <td>订单号</td>
      <td>彩种</td>
      <td>彩期</td>
      <td>用户</td>
      <td>异常类型</td>
    </template>
    <template slot="content" slot-scope="{ data }">
      <td>{{ data.spCode | emptyFilter }}</td>
      <td>{{ data.orderCode | emptyFilter }}</td>
      <td>
        <el-tooltip effect="light" placement="top">
          <div slot="content">彩种ID:{{ data.lotteryId }};原彩种名称:{{ data.initialLotteryName }};彩种名称:{{
              data.lotteryName
            }}
          </div>
          <span class="ellipsis">{{ data.lotteryName | emptyFilter }}</span>
        </el-tooltip>
      </td>
      <td>{{ data.issue | emptyFilter }}</td>
      <td>{{ data.loginId | emptyFilter }}</td>
      <td>
        <el-tooltip effect="dark" placement="top">
          <div class="tip-content" slot="content">{{ data.exceptionDesc }}</div>
          <span> {{ data.type | emptyFilter | typeFilter }}</span>
        </el-tooltip>
      </td>
    </template>
  </exception-list>
</template>

<script>
import ExceptionList from './ExceptionList'
import { typeFilter, emptyFilter } from '../filters'

export default {
  components: {
    ExceptionList
  },
  data () {
    return {
      key: 3,
      listData: {
        title: '注单监控-异常注单',
        placeholder: '请输入注单号',
        query: {
          cmd: 'MonitorOrderList',
          type: 1,
          pageSize: 20,
          pageNo: 1,
          orderType: ''
        },
        pop: 'orderType',
        typeArray: [
          { orderType: 1, label: '投注异常', num: 0 },
          { orderType: 2, label: '撤单异常', num: 0 },
          { orderType: 3, label: '已开奖未结算', num: 0 },
          { orderType: 4, label: '已结算未派彩', num: 0 },
          { orderType: 5, label: '已撤单并派彩', num: 0 },
          { orderType: 6, label: '校验异常', num: 0 },
          { orderType: 7, label: '金流异常', num: 0 },
          { orderType: 10, label: '接口调用异常', num: 0 }
        ],
        searchQuery: {
          input: {
            key: 'orderCode',
            value: ''
          }
        },
        batchQuery: {
          list: []
        },
        errorType: 1
      }
    }
  },
  filters: {
    typeFilter,
    emptyFilter
  }
}
</script>

<style scoped>
/*.tip-content {*/
/*max-width: 100px;*/
/*}*/

</style>
