<template>
  <exception-list v-bind="listData">
    <template slot="header">
      <td>异常类型</td>
      <td>异常信息描述</td>
      <td>异常时间</td>
      <!--<td>创建时间</td>-->
      <!--<td>处理人账户</td>-->
      <!--<td>处理结果</td>-->
      <!--<td>处理描述</td>-->
    </template>
    <template slot="content" slot-scope="{ data }">
      <td>{{ data.exceptionType | emptyFilter | serviceFilter}}</td>
      <td>
        <el-tooltip placement="top">
          <div class="tip-content" slot="content">
            <div v-html="data.exceptionReason?data.exceptionReason:'-'"></div>
          </div>
          <span @click="handleCopy(data.exceptionReason,$event,'异常信息')"
                style='color: #0d11e9;cursor: pointer'> {{ data.exceptionDesc | emptyFilter }}</span>
        </el-tooltip>
      </td>
      <td>{{ data.exceptionTime | emptyFilter }}</td>
      <!--<td>{{ data.createTime | emptyFilter}}</td>-->
      <!--<td>{{ data.handleUserAccount | emptyFilter }}</td>-->
      <!--<td>-->
      <!--<el-tooltip effect="dark" placement="top">-->
      <!--<div class="tip-content" slot="content">{{data.exceptionDesc | emptyFilter }}</div>-->
      <!--<span> {{ data.handleStatus | emptyFilter | handleStatusFilter }}</span>-->
      <!--</el-tooltip>-->
      <!--</td>-->
      <!--<td>-->
      <!--<el-tooltip effect="dark" placement="top">-->
      <!--<div class="tip-content" slot="content">{{data.handleDesc | emptyFilter }}</div>-->
      <!--<span> {{ data.handleDesc | emptyFilter  }}</span>-->
      <!--</el-tooltip>-->
      <!--</td>-->
    </template>
  </exception-list>
</template>

<script>
  import clip from 'utils/clipboard'
  import ExceptionList from './ExceptionList'
  import {
    typeFilter, emptyFilter, handleStatusFilter, serviceFilter
  } from '../filters'

  export default {
    components: {
      ExceptionList
    },
    data () {
      const pageSize = 20
      const orderCmd = 'MonitorService'
      return {
        listData: {
          title: '服务监控',
          placeholder: '请输入异常类型',
          query: {
            cmd: orderCmd,
            // type: 2,
            pageSize,
            pageNo: 1,
            orderType: ''
          },
          typeArray: [
            { type: 81, label: 'DB同步延迟异常', num: 0 },
            // { type: 82, label: '平台接口延迟', num: 0 },
            { type: 83, label: '采集中心服务异常', num: 0 },
            { type: 84, label: '采集源开奖号码不一致异常', num: 0 },
            { type: 85, label: '采集源提前开奖', num: 0 },
            { type: 86, label: '彩种维护通知', num: 0 },
            { type: 88, label: '常规接口延迟', num: 0 },
            { type: 89, label: '金流接口延迟', num: 0 }
            // { orderType: 9, label: '大额中奖', num: 0 }
          ],
          pop: 'type',
          searchQuery: {
            input: {
              key: 'orderCode',
              value: ''
            }
          },
          batchQuery: {
            list: []
          },
          errorType: 3
        }
      }
    },
    methods: {
      handleCopy (text, event, type) {
        clip(text, event, type)
      }
    },
    filters: {
      typeFilter,
      emptyFilter,
      handleStatusFilter,
      serviceFilter
    }
  }
</script>
<style lang="scss" scoped>
  .tip-content {
    ::v-deep .red {
      color: yellow
    }
  }
</style>
