
<template>
  <div class="app-container-box">
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable clearable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" :disabled="!listQuery.spCode || hasPermission('SpLotteryCurrIssueList')"
                   icon="el-icon-search" @click.native="_search">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="items"
      border
      fit
      max-height='700'
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      highlight-current-row
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" width="65" type="index">
      </el-table-column>
      <el-table-column
        width="150"
        align="right"
        prop="spCode"
        label="厅主">
      </el-table-column>
      <el-table-column
        prop="lotteryName"
        align="right"
        label="所属彩种">
      </el-table-column>
      <el-table-column
        prop="issue"
        align="right"
        label="当前期号">
      </el-table-column>
      <el-table-column
        prop="status"
        align="right"
        label="封盘状态">
        <template slot-scope="scope">
          <span
            :class="{active_blue:!scope.row.show,active_red:scope.row.show }">{{scope.row.status === 0 ? '正常' : '封盘中'}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="times"
        align="right"
        min-width="120"
        label="投注剩余时间">
        <template slot-scope="scope">
          <span>{{scope.row.timeNew | filterTime}}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="right"
        width="180">
        <template slot-scope="scope">
          <el-button type="success"
                     @click.native="_postEnabledOrDisabled(scope.row,1)"
                     :disabled="!Boolean(scope.row.status) || hasPermission('SpLotteryCurrIssueEnabled')">开盘
          </el-button>
          <el-button type="success"
                     @click.native="_postEnabledOrDisabled(scope.row,2)"
                     :disabled="Boolean(scope.row.status) || hasPermission('SpLotteryCurrIssueDisabled')">封盘
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--<div class="pagination-container" v-if="total">-->
    <!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
    <!--:current-page.sync="listQuery.pageNo"-->
    <!--:page-sizes="[5,10,20,30,50]" :page-size="listQuery.pageSize"-->
    <!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
    <!--</el-pagination>-->
    <!--</div>-->
  </div>

</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import {
    getSpLotteryCurrIssueList,
    postSpLotteryCurrIssueDisabled,
    postSpLotteryCurrIssueEnabled
  } from 'api/spInfoList'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        listLoading: false,
        items: [],
        // spList: [],
        timerSyncRestTime: null,
        timerSyncRestTimeInterval: 10 * 1000, // 同步剩余时间间隔,10s
        timerLocal: null,
        tempSpCode: '',
        timerLocalInterval: 1000, // 本地倒计时间隔,1s
        listQuery: {
          spCode: ''
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // _getSpInfo () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items.map(v => {
      //         return {
      //           value: v.id,
      //           label: v.name
      //         }
      //       })
      //     }
      //   })
      // },
      handleData (data) {
        data.forEach((i) => {
          i.time = Number(i.time)
          const hh = Math.floor(i.time / 60 / 60)
          const mm = Math.floor(i.time / 60 % 60)
          const ss = Math.floor(i.time % 60)
          i.timeNew = {
            hh: hh < 10 ? `0${hh}` : hh,
            mm: mm < 10 ? `0${mm}` : mm,
            ss: ss < 10 ? `0${ss}` : ss
          }
        })
        return data
      },
      _getSpLotteryCurrIssueList () {
        this.listLoading = true
        const obj = { ...this.listQuery, spCode: this.tempSpCode }
        getSpLotteryCurrIssueList(obj).then((res) => {
          if (ERR_OK === res.data.code) {
            this.items = this.handleData(res.data.data.items).map((v) => {
              v.show = Boolean(v.status)
              return v
            })
          }
          console.log(this.items.show)
          this.clearAllTimer()
          this.timerSyncRestTime = setTimeout(this._getSpLotteryCurrIssueList, this.timerSyncRestTimeInterval)
          this.timerLocal = setTimeout(this.updateTime, this.timerLocalInterval)
        })
        this.listLoading = false
      },
      // 本地倒计时
      updateTime () {
        const data = this.items
        data.forEach((i) => {
          const time = --i.time
          let hh = Math.floor(time / 60 / 60)
          let mm = Math.floor(time / 60 % 60)
          let ss = Math.floor(time % 60)
          hh = hh < 0 ? 0 : hh
          mm = mm < 0 ? 0 : mm
          ss = ss < 0 ? 0 : ss
          i.timeNew = {
            hh: hh < 10 ? `0${hh}` : hh,
            mm: mm < 10 ? `0${mm}` : mm,
            ss: ss < 10 ? `0${ss}` : ss
          }
        })
        window.clearTimeout(this.timerLocal)
        this.timerLocal = setTimeout(this.updateTime, this.timerLocalInterval)
      },
      _postEnabledOrDisabled (obj, flag) {
        let flagText = ''
        let fn = null
        if (flag === 1) {
          flagText = '开盘'
          fn = postSpLotteryCurrIssueEnabled
        } else {
          flagText = '封盘'
          fn = postSpLotteryCurrIssueDisabled
        }
        this.$confirm(`此操作将对平台商${obj.spCode}下的彩种${obj.lotteryName}第${obj.issue}期进行${flagText}操作， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            spCode: obj.spCode,
            lotteryId: obj.lotteryId,
            issue: obj.issue
          }
          fn(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${flagText}成功!`
              })
              this._getSpLotteryCurrIssueList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      _search () {
        this.tempSpCode = this.listQuery.spCode
        this._getSpLotteryCurrIssueList()
      },
      clearAllTimer () {
        window.clearTimeout(this.timerSyncRestTime)
        this.timerSyncRestTime = null
        window.clearTimeout(this.timerLocal)
        this.timerLocal = null
      }
    },
    created () {
      // this._getSpInfo()
    },
    beforeDestroy () {
      this.clearAllTimer()
    },
    filters: {
      filterTime (v) {
        return `${v.hh}:${v.mm}:${v.ss}`
      }
    }
  }
</script>
