<template>
		<el-card>
				<el-tabs type="border-card">
						<el-tab-pane label="彩种开封盘设置" :disabled="hasPermission('SpLotteryBetPauseList')">
								<lottery-set-list></lottery-set-list>
						</el-tab-pane>
						<el-tab-pane label="当前期开封盘设置" :disabled="hasPermission('SpLotteryCurrIssueList')">
								<curr-issue-list></curr-issue-list>
						</el-tab-pane>
				</el-tabs>
		</el-card>
</template>
<script>
import CurrIssueList from './currissuelist.vue'
import LotterySetList from './lotterysetlist.vue'

export default {
  components: { CurrIssueList, LotterySetList }
}
</script>
<!--<style rel="stylesheet/scss" lang="scss" scoped>-->
<!--@import 'src/styles/index.scss';-->
<!--</style>-->
