<!--平台商设置-->
<template>
  <div class="app-container-box">
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :disabled="!listQuery.spCode || hasPermission('SpLotteryBetPauseList')">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      ref="multipleTable"
      :data="items"
      border
      max-height='700'
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <!--<el-table-column-->
      <!--label="配置ID"-->
      <!--align="right">-->
      <!--<template slot-scope="scope">{{ scope.row.id }}</template>-->
      <!--</el-table-column>-->
      <!--<el-table-column-->
      <!--label="厅主"-->
      <!--align="right">-->
      <!--<template slot-scope="scope">{{ scope.row.spCode }}</template>-->
      <!--</el-table-column>-->
      <el-table-column
        prop="lotteryTypeName"
        label="彩种类型名称"
        min-width="120"
        align="right"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="lotteryName"
        label="彩种名称"
        min-width="120"
        align="right"
        show-overflow-tooltip>
      </el-table-column>
      <!--<el-table-column-->
      <!--prop="maxReward"-->
      <!--label="最大中奖金额/元"-->
      <!--align="right"-->
      <!--show-overflow-tooltip>-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.maxReward | filterMoney}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column
        prop="betPause"
        label="状态"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span
            :class="{active_blue:!scope.row.betPause,active_red:scope.row.betPause }">{{scope.row.betPause === 0 ? '正常下注' : '暂停下注'}}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="right"
        width="200">
        <template slot-scope="scope">
          <el-button type="success"
                     @click.native="showDialog(scope.row,0)"
                     :disabled="!Boolean(scope.row.betPause) || hasPermission('SpLotteryBetPause')">恢复下注
          </el-button>
          <el-button type="success"
                     @click.native="showDialog(scope.row,1)"
                     :disabled="Boolean(scope.row.betPause) || hasPermission('SpLotteryBetPause')">暂停下注
          </el-button>
        </template>
      </el-table-column>
      <!--<el-table-column align="right" label="操作">-->
      <!--<template slot-scope="scope">-->
      <!--<el-dropdown>-->
      <!--<el-button type="primary">-->
      <!--更多菜单<i class="el-icon-caret-bottom el-icon&#45;&#45;right"></i>-->
      <!--</el-button>-->
      <!--<el-dropdown-menu slot="dropdown" class="dropdown_menu">-->
      <!--<el-dropdown-item v-if='!scope.row.betPause' @click.native="showDialog(scope.row,1)">暂停下注-->
      <!--</el-dropdown-item>-->
      <!--<el-dropdown-item v-if='scope.row.betPause' @click.native="showDialog(scope.row,0)">恢复下注-->
      <!--</el-dropdown-item>-->
      <!--&lt;!&ndash;<el-dropdown-item @click.native="openDialog(scope.row)">配置限额</el-dropdown-item>&ndash;&gt;-->
      <!--</el-dropdown-menu>-->
      <!--</el-dropdown>-->
      <!--</template>-->
      <!--</el-table-column>-->
    </el-table>
    <!--弹窗-->
    <!--<el-dialog :visible.sync="dialogFormVisibleForDefine" title="限额配置">-->
    <!--<el-form class="small-space" :model="temp" label-position="left" ref="splimitForm"-->
    <!--label-width="100px"-->
    <!--:rules="splimitRules">-->
    <!--<el-form-item label="厅主">-->
    <!--<el-input v-model="temp.spCode" type="text" readonly></el-input>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="彩种名称">-->
    <!--<el-input v-model="temp.lotteryName" type="text" readonly></el-input>-->
    <!--</el-form-item>-->

    <!--<el-form-item label="限额/元" prop="maxReward">-->
    <!--<el-input v-model="temp.maxReward" type="text" name="maxReward"></el-input>-->
    <!--</el-form-item>-->
    <!--</el-form>-->
    <!--<div slot="footer" class="dialog-footer">-->
    <!--<el-button type="primary" @click="_postSpLotteryMaxReward">提 交</el-button>-->
    <!--<el-button type="primary" @click="resetF">关 闭</el-button>-->
    <!--</div>-->
    <!--</el-dialog>-->
  </div>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  //  import { formatCent } from 'utils';
  import { getSpLotteryBetPauseList, postSpLotteryBetPause } from 'api/spInfoList/' // 列表、限额配置、暂停恢复
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      // const validateMoney = (rule, value, callback) => {
      // if (parseInt(value) === -1) {
      // callback()
      // }
      // if (!value) {
      // return callback(new Error('输入金额不能为空'))
      // } else {
      // if (parseFloat(value) < 0.01 || parseFloat(value) > 10000000) {
      // callback(new Error('您输入的金额不规范！！'))
      // } else {
      // callback()
      // }
      // }
      // }
      return {
        loaded: false,
        listLoading: false,
        // dialogFormVisibleForDefine: false,
        // spCodes: [],
        // spCodeInput: '',
        items: [],
        // multipleSelection: [],
        // 	 temp: {
        // 	 spCode: '',
        // 	 lotteryName: '',
        // 	 maxReward: 0,
        // 	 lotteryId: ''
        // 	 },
        // 	 splimitRules: {
        // 	 maxReward: [
        // 	 {
        // 	 requried: true,
        // 	 trigger: 'blur',
        // 	 validator: validateMoney
        // 	 }
        // 	 ]
        // 	 },
        listQuery: {
          spCode: ''
        },
        tempSpCode: ''
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // _postSpLotteryMaxReward() {
      // this.$refs.splimitForm.validate(valid => {
      // if (valid) {
      // this.$confirm('此操作将重置该厅主下面的所有中奖限额配置， 是否继续?', '提示', {
      // confirmButtonText: '确定',
      // cancelButtonText: '取消',
      // type: 'warning'
      // }).then(() => {
      // postSpLotteryMaxReward({
      // spCode: this.temp.spCode,
      // lotteryId: this.temp.lotteryId,
      // maxReward: parseInt(this.temp.maxReward) === -1 ? -1 : parseInt(parseFloat(this.temp.maxReward) * 100)
      // }).then(res => {
      // if (res.data.code === ERR_OK) {
      // this.$message({
      // type: 'success',
      // message: '配置成功!'
      // })
      // this.resetF()
      // this._search()
      // } else {
      // this.$message({
      // type: 'error',
      // message: res.data.desc
      // })
      // }
      // })
      // })
      // } else {
      // return
      // }
      // })
      // },
      // openDialog(row) {
      // this.dialogFormVisibleForDefine = true
      // this.temp.spCode = row.spCode
      // this.temp.lotteryName = row.lotteryName
      // this.temp.maxReward = parseFloat(row.maxReward / 100).toFixed(2)
      // this.temp.lotteryId = row.lotteryId
      // },
      // resetF() {
      // this.dialogFormVisibleForDefine = false
      // this.$refs.splimitForm.resetFields()
      // this.temp = {
      // spCode: '',
      // lotteryName: '',
      // maxReward: 0,
      // lotteryId: ''
      // }
      // },
      // getSpInfo () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         return {
      //           value: v.id,
      //           label: v.name
      //         }
      //       })
      //       this.loaded = true
      //     }
      //   })
      // },
      showDialog (row, flag) {
        let str = ''
        if (flag === 0) {
          str = '恢复下注'
        } else {
          str = '暂停下注'
        }
        const flagText = `此操作将对彩种名称${row.lotteryName}进行${str}操作`
        this.$confirm(`${flagText}， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            spCode: row.spCode,
            lotteryId: row.lotteryId,
            betPause: flag
          }
          postSpLotteryBetPause(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '操作成功!'
              })
              row.betPause = flag
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      },
      _search () {
        this.listLoading = true
        this.tempSpCode = this.listQuery.spCode
        const obj = { ...this.listQuery, spCode: this.tempSpCode }
        getSpLotteryBetPauseList(obj).then((res) => {
          if (res.data.code === ERR_OK) {
            this.items = res.data.data.items.map((v) => {
              v.show = Boolean(v.status)
              return v
            })
            this.listLoading = false
          }
        })
      }
    },
    created () {
      // this.getSpInfo()
    }
    // filters: {
    // filterMoney(v) {
    // return v === -1 ? '不限额' : parseFloat(v / 100).toFixed(2)
    // }
    // }
  }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-table .cell {
    font-size: 12px;
    padding: 0 6px;
    line-height: 25px;
  }

  ::v-deep .dropdown_menu {
    font-size: 12px;
    border-radius: 3px;
    color: rgba(97, 136, 201, 1);
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom-color: #cccccc;
      position: absolute;
      left: 68%;
      bottom: 100%;
      margin-top: -15px;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: #FFFFFF;
      position: absolute;
      left: 68%;
      bottom: 100%;
      margin-top: -10px;
    }

    .el-dropdown-menu__item {
      line-height: 24px;
    }
  }
</style>
