<template>
  <div class="navbar" :style='styleObj'>
    <hamburger
        id="hamburger-container"
        :is-active="sidebar.opened"
        class="hamburger-container"
        @toggleClick="toggleSideBar" />

    <breadcrumb id="breadcrumb-container" class="breadcrumb-container" />

    <div class="right-menu">
      <!--      <template v-if="device!=='mobile'">-->
      <!--        <search id="header-search" class="right-menu-item" />-->
      <!--        <lang-select class="right-menu-item hover-effect" />-->
      <!--      </template>-->
      <el-menu class="right-menu-item" mode="horizontal">
        <el-menu-item index="2" class="site-topbar__menu-word" style="line-height: 25px">
          美东：{{ currentTimeEnUS }}<br>
          北京：{{ currentTimeBJ }}
        </el-menu-item>
        <!--        <el-submenu index="3">-->
        <!--          <template slot="title">-->
        <!--            <span>小工具</span>-->
        <!--          </template>-->
        <!--          <el-menu-item index="3-1" @click.self="generateCodeOpen">号码转换</el-menu-item>-->
        <!--        </el-submenu>-->
      </el-menu>
      <el-dropdown class="avatar-container right-menu-item hover-effect" trigger="hover">
        <div class="avatar-wrapper">
          <span>{{ account }}</span>
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/">
            <el-dropdown-item>
              首页概览
            </el-dropdown-item>
          </router-link>
          <el-dropdown-item>
                <span style="display:block;" @click.self="_postMasterCreate">
                  修改密码
                </span>
          </el-dropdown-item>
          <el-dropdown-item divided>
            <span style="display:block;" @click.self="logout">退出</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <!--    <div class='showSmallTool' v-if='generateCodeVisible' @mousedown='move' ref='showSmallTool'>-->
    <!--      <div class="flex_button_input" style="padding: 10px 5px;color: red">-->
    <!--        <span class="font_big">号码转换</span>-->
    <!--      </div>-->
    <!--      <div class='flex_button_input'>-->
    <!--        <span class='font_big'>彩种名称</span>-->
    <!--        <el-select-->
    <!--            v-model="series"-->
    <!--            placeholder="请选择系列"-->
    <!--            size="mini"-->
    <!--            style='z-index: 1000; width:300px'-->
    <!--            @change='seriesValueChange'-->
    <!--            filterable-->
    <!--            clearable>-->
    <!--          <el-option v-for="item in seriesList" :key="item.value" :label="item.name" :value="item.value">-->
    <!--          </el-option>-->
    <!--        </el-select>-->
    <!--      </div>-->
    <!--      <div class='flex_button_input'>-->
    <!--        <span class='font_big'>开奖号码</span>-->
    <!--        <el-input v-model="code" size="mini" class="e-input" placeholder="请输入20位开奖号码"></el-input>-->
    <!--        <el-button @click="generateCode(code)" type='slateblue' class="cope_result_fr" size="mini">计算结果-->
    <!--        </el-button>-->
    <!--      </div>-->
    <!--      <template v-for="items in codes">-->
    <!--        <div-->
    <!--            class='flex_button_input'-->
    <!--            v-if='items.code.length&&items.series === series || series === ""'-->
    <!--            :key="items.id">-->
    <!--          <span class='font_big'>{{ items.Lottery }}</span>-->
    <!--          <span class='round_plus' v-for='(item,index) in items.code' :key='index'>{{ item }}</span>-->
    <!--          <el-button type="success" @click="handleCopy(items.code,$event,'计算结果')" class='cope_result_fr'-->
    <!--                     size="mini">-->
    <!--            复制结果-->
    <!--          </el-button>-->
    <!--        </div>-->
    <!--      </template>-->
    <!--      <div class='flex_close_gongju'>-->
    <!--        <el-button @click='closeCode' type='danger' class='cope_result_fr' size="mini">关闭工具</el-button>-->
    <!--      </div>-->
    <!--    </div>-->
    <el-dialog :visible.sync="changePasswordDialogVisible" title="修改密码" append-to-body width="680px"
    >
      <el-form
          class="small-space"
          :model="temp"
          label-position="left"
          :rules="rules"
          ref="addMasterForm"
          label-width="100px">
        <el-form-item label="原密码" prop="oldPassword">
          <el-input v-model="temp.oldPassword" type="password" name="oldPassword"
                    autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="password">
          <el-input v-model="temp.password" type="password" name="password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认新密码" prop="password2">
          <el-input v-model="temp.password2" type="password" name="password2" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_UpdatePassword">提 交</el-button>
        <el-button type="danger" @click="resetF">关 闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from 'components/Breadcrumb'
import Hamburger from 'components/Hamburger'
// import Search from 'components/HeaderSearch'
// import LangSelect from 'components/LangSelect'
import md5 from 'blueimp-md5'
import { ERR_OK } from 'api/config'
import Settime from 'utils/settime'
import { parseTime } from 'utils'
import { UpdatePassword } from 'api/system'
import { validatAlphabetsAndNumber } from 'utils/validate'
// import clip from 'utils/clipboard'
import defaultSettings from '@/settings'

const { headerSkin } = defaultSettings

export default {
  components: {
    Breadcrumb,
    Hamburger
    // Search,
    // LangSelect
  },
  data () {
    const chkPass = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请输入密码'))
      } else {
        if (!validatAlphabetsAndNumber(value)) {
          callback(new Error('仅支持英文和数字'))
        } else if (value.length > 20) {
          callback(new Error('密码长度不能超过20个字符'))
        }
        callback()
      }
    }
    const notEqual = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请再次输入登录密码'))
      } else if (value === this.temp.oldPassword) {
        callback(new Error('新密码与原密码不能一致!'))
      } else {
        callback()
      }
    }
    const chkPass2 = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('请再次输入登录密码'))
      } else if (value !== this.temp.password) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
    return {
      // code: '',
      // series: '',
      // CodeRules: {},
      // seriesList: [
      //   {
      //     value: 0,
      //     name: '北京快乐8系列'
      //   },
      //   {
      //     value: 1,
      //     name: '加拿大快乐8系列'
      //   },
      //   {
      //     value: 2,
      //     name: '斯洛伐克快乐8系列'
      //   }
      // ],
      // BJXY28: [],
      // BJ5FC: [],
      // JND28: [],
      // codeResultSum: '',
      // generateCodeVisible: false,
      changePasswordDialogVisible: false,
      skinName: '',
      currentTimeEnUS: '2017/01/01 00:00:00',
      currentTimeBJ: '2017/01/01 00:00:00',
      query: {},
      temp: {
        oldPassword: '',
        password: '',
        password2: ''
      },
      // codes: [],
      // positionX: '',
      // positionY: '',
      timer: null,
      rules: {
        oldPassword:
            [
              {
                required: true,
                trigger: 'blur',
                validator: chkPass
              }
            ],
        password:
            [
              {
                required: true,
                trigger: 'blur',
                validator: chkPass
              },
              {
                required: true,
                trigger: 'blur',
                validator: notEqual
              }
            ],
        password2:
            [
              {
                required: true,
                trigger: 'blur',
                validator: chkPass2
              }
            ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name',
      'device',
      'headerTheme',
      'account'
    ]),
    styleObj () {
      return {
        background: headerSkin[this.headerTheme].header
      }
    }
  },
  created () {
    this.currentTimeEnUSHandle()
  },
  beforeDestroy () {
    window.clearInterval(this.timer)
  },
  watch: {
    $route: {
      handler (route) {
        this.$store.dispatch('app/setRedirect', route.path)
      },
      immediate: true
    }
  },
  methods: {
    // seriesValueChange (v) {
    //   console.log(v)
    // },
    // // 拖拽
    // move (e) {
    //   // 获取目标元素
    //   const odiv = this.$refs.showSmallTool
    //   // 算出鼠标相对元素的位置
    //   const disX = e.clientX - odiv.offsetLeft
    //   const disY = e.clientY - odiv.offsetTop
    //   document.onmousemove = (e) => { //  鼠标按下并移动的事件
    //     // 用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
    //     const left = e.clientX - disX
    //     const top = e.clientY - disY
    //
    //     // 绑定元素位置到positionX和positionY上面
    //     this.positionX = top
    //     this.positionY = left
    //
    //     // 移动当前元素
    //     odiv.style.left = `${left}px`
    //     odiv.style.top = `${top}px`
    //   }
    //   document.onmouseup = (e) => {
    //     odiv.style.cursor = 'default'
    //     document.onmousemove = null
    //     document.onmouseup = null
    //   }
    // },
    // // 辅助计算结果
    // handleCopy (text, event, type) {
    //   this.text = text.join(',')
    //   console.log(this.text)
    //   clip(this.text, event, type)
    // },
    // generateCode (str) {
    //   const reg = /^(\d+[,])*(\d+)$/
    //   console.log(str)
    //   if (!reg.test(str)) {
    //     this.$message({
    //       type: 'error',
    //       message: `请按照'01,02,03.....填写开奖号码`
    //     })
    //     return
    //   }
    //   const a = str.split(',').map((v) => Number(v))
    //   const arr = a.sort((a, b) => a - b)
    //   if (arr.length !== 20) {
    //     this.$message({
    //       type: 'error',
    //       message: `您输入得开奖号码低于或者超过20位数字哦!`
    //     })
    //     return
    //   }
    //   for (let i = 0; i < arr.length; i++) {
    //     if (arr[i] === arr[i + 1]) {
    //       this.$message({
    //         type: 'error',
    //         message: `输入的开奖号码有重复: ${arr[i]}`
    //       })
    //       return
    //     }
    //   }
    //   this.codes = [
    //     {
    //       series: 0,
    //       id: 0,
    //       Lottery: '北京幸运28',
    //       code: this.gCode(arr, 3)
    //     },
    //     {
    //       series: 0,
    //       id: 2,
    //       Lottery: '北京28',
    //       code: this.gCode(arr, 3)
    //     },
    //     {
    //       series: 0,
    //       id: 1,
    //       Lottery: '北京5分彩',
    //       code: this.gCode(arr, 5)
    //     },
    //     {
    //       series: 1,
    //       id: 3,
    //       Lottery: '加拿大28',
    //       code: this.gCode(arr, 3, 1, 3)
    //     },
    //     {
    //       series: 1,
    //       id: 4,
    //       Lottery: '加拿大幸运28',
    //       code: this.gCode(arr, 3, 1, 3)
    //     },
    //     {
    //       series: 1,
    //       id: 5,
    //       Lottery: '加拿大3.5',
    //       code: this.gCode(arr, 5)
    //     },
    //     {
    //       series: 2,
    //       id: 6,
    //       Lottery: '斯洛伐克5分彩',
    //       code: this.gCode(arr, 5)
    //     },
    //     {
    //       series: 2,
    //       id: 7,
    //       Lottery: '斯洛伐克28',
    //       code: this.gCode(arr, 3)
    //     }
    //   ]
    //   // console.log(arr)
    //   // 北京幸运28和斯洛伐克28
    //   // this.BJXY28 = this.gCode(arr, 3)
    //   // this.codeResultSum = this.codeComptedResultSum(this.BJXY28)
    //   // console.log(this.gCode(arr, 3))
    //   // 北京5分彩和加拿大3.5和斯洛伐克5分彩
    //   // this.BJ5FC = this.gCode(arr, 5)
    //   // this.codeResultSum = this.codeComptedResultSum(this.BJ5FC)
    //   // 加拿大幸运28
    //   // this.JND28 = this.gCode(arr, 3, 1, 3)
    //   // this.codeResultSum = this.codeComptedResultSum(this.JND28)
    //   // console.log(this.gCode(arr, 3, 1))
    //   // console.log(this.gCode(arr, 3, 1, 3))
    // },
    // // codeComptedResultSum(a) {
    // //   var sum = 0
    // //   for (var i = 0; i < a.length; i++) {
    // //     sum += Number(a[i])
    // //   }
    // //   return sum
    // // },
    // gCode (arr, len, start = 0, step = 0) {
    //   // 北京5分彩/加拿大3.5分彩/斯洛伐克5分彩
    //   const l = Math.floor(arr.length / len)
    //   // console.log('l', l)
    //   const b = []
    //   for (let i = 0; i < len; i++) {
    //     let sum = 0
    //     for (let j = 0; j < l; j++) {
    //       step ? sum += arr[i + start + step * j] : sum += arr[i * l + j + start]
    //     }
    //     b.push(sum.toString().substr(sum.toString().length - 1))
    //   }
    //   return b
    // },
    // closeCode () {
    //   this.generateCodeVisible = false
    // },
    // generateCodeOpen () {
    //   this.generateCodeVisible = true
    // },
    _postMasterCreate () {
      this.changePasswordDialogVisible = true
    },
    resetF () {
      this.changePasswordDialogVisible = false
      this.$refs.addMasterForm.resetFields()
      this.temp = {
        password: '',
        password2: ''
      }
    },
    // 修改密码
    _UpdatePassword () {
      this.$refs.addMasterForm.validate((valid) => {
        if (valid) {
          const flagText = '修改'
          const confirmText = `您的密码将被${flagText}，您将退出并重新登录`
          this.$confirm(`${confirmText}， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const query = {
              oldPassword: md5(this.temp.oldPassword),
              newPassword: md5(this.temp.password)
            }
            UpdatePassword(query).then((res) => {
              if (res.data.code === ERR_OK) {
                // this.$alert('密码修改成功， 请重新登录！', '提示信息', {
                //   confirmButtonText: '确定',
                //   callback: () => {
                //     this.$store.dispatch('user/FedLogOut').then(() => {
                //       this.$router.push(`/login`)
                //     })
                //   },
                //   beforeClose: () => {
                //     this.$store.dispatch('user/FedLogOut').then(() => {
                //       this.$router.push(`/login`)
                //     })
                //   }
                // })
                this.$message({
                  type: 'success',
                  message: '密码修改成功， 请重新登录！'
                })
                setTimeout(() =>
                    this.$store.dispatch('user/FedLogOut').then(() => {
                      this.$router.push(`/login`)
                    }), 3000)
              }
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      })
    },
    currentTimeEnUSHandle () {
      this.timer = setInterval(() => {
        this.currentTimeEnUS = Settime.RefTime()
        this.currentTimeBJ = parseTime(new Date(new Date(this.currentTimeEnUS).getTime() + 12 * 3600 * 1000))
      })
      // window.setInterval(() => {
      //   this.currentTimeEnUS = Settime.RefTime()
      // })
    },
    async logout () {
      this.$confirm('确定退出系统吗？', '确定登出', {
        confirmButtonText: '重新登录',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.$store.dispatch('FedLogOut').then(() => {
        //  location.reload()// 为了重新实例化vue-router对象 避免bug
        //  })
        this.$store.dispatch('user/FedLogOut').then(() => {
          this.$router.push(`/login`)
        })
      })
    },
    toggleSideBar () {
      this.$store.dispatch('app/toggleSideBar')
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  /*background: #fff;*/
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #fff !important;
      vertical-align: text-bottom;
      background: transparent;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        span, .el-icon-caret-bottom {
          /*color: #97a8be !important;*/
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 20px;
          font-size: 12px;
        }
      }
    }
  }
}

.showSmallTool {
  background: #f7f7f7;
  position: fixed;
  right: 0;
  width: 600px;
  /*height: 400px;*/
  border: 1px solid #00bcd4;
  box-shadow: -1px 1px 1px -1px #00bcd4;
  z-index: 999;

  .flex_button_input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;

    .e-input {
      width: 370px
    }
  }

  .font_big {
    font-size: 13px;
    width: 90px;
    margin-left: 10px;
  }

  .round_plus {
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 16px;
    color: #FFFFFF;
    background: #ff5151;
    border-radius: 50%;

    &:first-child {
      margin-left: 0;
    }
  }

  .cope_result_fr {
    margin-left: auto;
  }

  .flex_close_gongju {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  /*.round_plus_sum {*/
  /*background: #3fa93f;*/
  /*padding: 5px;*/
  /*}*/
}
</style>
