<!--玩法类型维护-->
<template>
  <el-card>
    <!--    <el-form :inline='true'>-->
    <!--      <el-form-item>-->
    <!--        <el-select v-model="listQuery.lotteryTypeId" placeholder="彩种类型" clearable filterable-->
    <!--                   default-first-option>-->
    <!--          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">-->
    <!--          </el-option>-->
    <!--        </el-select>-->
    <!--      </el-form-item>-->
    <!--      <el-form-item>-->
    <!--        <el-select v-model="listQuery.playTabMode" placeholder="玩法模式" clearable filterable-->
    <!--                   default-first-option>-->
    <!--          <el-option v-for="item in palyModels" :key="item.value" :label="item.label" :value="item.value">-->
    <!--          </el-option>-->
    <!--        </el-select>-->
    <!--      </el-form-item>-->
    <!--      <el-form-item>-->
    <!--        <el-select v-model="listQuery.status" placeholder="开通状态" clearable>-->
    <!--          <el-option v-for="item in status" :key="item.value" :label="item.label" :value="item.value">-->
    <!--          </el-option>-->
    <!--        </el-select>-->
    <!--      </el-form-item>-->
    <!--      <el-form-item>-->
    <!--        <el-button type="primary" icon="el-icon-search" @click="_getList">搜索</el-button>-->
    <!--      </el-form-item>-->
    <!--&lt;!&ndash;    </el-form>&ndash;&gt;-->
    <!--    <el-alert-->
    <!--      effect="dark"-->
    <!--      style="margin-bottom: 5px"-->
    <!--      title="温馨提醒：配置更新后，请到系统管理模块的缓存管理页面，刷新本地缓存，才能即时生效!"-->
    <!--      type="warning"-->
    <!--      show-icon>-->
    <!--    </el-alert>-->
    <el-table
      ref="multipleTable"
      :data="LotteryPlayTypeList"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      border
      max-height="700"
      tooltip-effect="dark"
      style="width: 100%"
    >
      <el-table-column label="分类ID" align="right">
        <template slot-scope="scope">{{ scope.row.id }}</template>
      </el-table-column>
      <!--      <el-table-column-->
      <!--        prop="lotteryTypeName"-->
      <!--        label="分类编码"-->
      <!--        min-width="120"-->
      <!--        align="right"-->
      <!--        show-overflow-tooltip>-->
      <!--      </el-table-column>-->
      <el-table-column label="分类名称" min-width="120" align="right" show-overflow-tooltip>
        <template slot-scope="scope">{{scope.row.playTypeName}}</template>
      </el-table-column>
      <el-table-column prop="description" align="right" label="分类描述" show-overflow-tooltip></el-table-column>
      <el-table-column
        v-if="LotteryPlayTypeList.length>1"
        align="right"
        label="调整顺序"
        min-width="120"
        prop="sort"
      >
        <template slot-scope="scope">
          <div>
            <i
              style="cursor:pointer;"
              @click="up(scope.$index,scope.row)"
              v-if="scope.$index!==0"
              class="defaultimg"
            >
              <span></span>
            </i>
            <i
              style="cursor:pointer;"
              @click="down(scope.$index,scope.row)"
              v-if="scope.$index!==LotteryPlayTypeList.length-1"
              class="defaultimg"
            >
              <span class="down"></span>
            </i>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="right" min-width="160" prop="status">
        <template slot-scope="scope">
          <el-switch
            @change="showDialog(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            :disabled="hasPermission('LotteryPlayTypeUpStatus')"
            v-model="scope.row.status"
            active-color="#13ce66"
          ></el-switch>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import {
    getPlayTypeList,
    getLotteryPlayTypeUpDisplaySort,
    postLotteryPlayTypeUpStatus
  } from 'api/dataBase/index'

  export default {
    data () {
      return {
        listLoading: true,
        status: [{
          value: '1',
          label: '启用'
        }, {
          value: '0',
          label: '禁用'
        }],
        LotteryPlayTypeList: [],
        listQuery: {
          status: ''
        }
      }
    },
    created () {
      this._getList()
    },
    methods: {
      _getList () {
        this.listLoading = true
        getPlayTypeList(this.listQuery).then((response) => {
          if (response.data.code === ERR_OK) {
            this.LotteryPlayTypeList = response.data.data.elements.map((v) => {
              v.status = Boolean(v.status)
              return v
            })
            this.listLoading = false
          }
        })
      },
      up (index, row) {
        const newData = [].concat(this.LotteryPlayTypeList)
        const i = index
        const j = i - 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.LotteryPlayTypeList = [].concat(newData)
        const query = [
          {
            playTypeId: newData[i].id,
            displaySort: newData[j].sort
          }, {
            playTypeId: newData[j].id,
            displaySort: newData[i].sort
          }
        ]
        this.listLoading = true
        getLotteryPlayTypeUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this._getList()
          }
          this.listLoading = false
        })
      },
      down (index, row) {
        const newData = [].concat(this.LotteryPlayTypeList)
        const i = index
        const j = i + 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.LotteryPlayTypeList = [].concat(newData)
        const query = [
          {
            playTypeId: newData[i].id,
            displaySort: newData[j].sort
          }, {
            playTypeId: newData[j].id,
            displaySort: newData[i].sort
          }
        ]
        this.listLoading = true
        getLotteryPlayTypeUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this._getList()
          }
          this.listLoading = false
        })
      },
      // 弹出提示消息
      showDialog (row) {
        const str1 = row.status ? '启动' : '禁用'
        this.$confirm(`此操作将${str1}该玩法分类， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = { id: row.id, status: row.status ? 1 : 0 }
          postLotteryPlayTypeUpStatus(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str1}成功!`
              })
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作！'
          })
          row.status = !row.status
        })
      }
    }
  }
</script>
<style lang='scss' scoped>
i {
  &.defaultimg {
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("../../../assets/up.png") no-repeat center;
      background-size: cover;

      &.down {
        background: url("../../../assets/down.png") no-repeat center;
        background-size: cover;

        &:hover {
          background: url("../../../assets/red_down.png") no-repeat center;
          background-size: cover;
        }
      }

      &:hover {
        cursor: pointer;
        background: url("../../../assets/red_up.png") no-repeat center;
        background-size: cover;
      }
    }
  }
}
</style>
