<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-input style="width: 170px;" clearable placeholder="请输入登录账号"
                  v-model="listQuery.account">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native="_search"
                   :disabled="hasPermission('MasterCreate')">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-plus" @click.native="_addMaster"
                   :disabled="hasPermission('MasterCreate')">添加
        </el-button>
      </el-form-item>

    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：创建角色后，请继续绑定角色，以便获取角色权限，若已经绑定请忽略!"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="items" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column
        label="序号"
        type="index" align="right" width="80">
      </el-table-column>
      <el-table-column align="right" label="登录账号" width="200">
        <template slot-scope="scope">
          <span>{{scope.row.account}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="管理员名称" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.userName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="手机号码" min-width="130">
        <template slot-scope="scope">
          <span>{{scope.row.mobile}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="状态" width="100">
        <template slot-scope="scope">
          <span
            :class="{active_blue:scope.row.status ===1? true:false,active_red:scope.row.status ===1? false:true }">{{scope.row.status === 1 ? '启用' : scope.row.status === 0 ? '禁用' : '已删除'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="绑定角色名称" prop="roleNames" min-width="130">
      </el-table-column>
      <el-table-column align="right" label="操作" width="340">
        <template slot-scope="scope">
          <el-button type="success" v-if="scope.row.status!==1"
                     :disabled="hasPermission('MasterUpStatus')"
                     @click="_postMasterUpStatus(scope.row,1)">
            启用
          </el-button>
          <el-button type="success" v-if="scope.row.status !==0"
                     :disabled="hasPermission('MasterUpStatus')"
                     @click="_postMasterUpStatus(scope.row,0)">禁用
          </el-button>
          <el-button type="success" @click="_postMasterUpStatus(scope.row,99)"
                     :disabled="hasPermission('MasterUpStatus')"
                     v-if="scope.row.status!==99">删除
          </el-button>
          <el-button type="success" @click="_postMasterUpStatus(scope.row,88)"
                     :disabled="hasPermission('UserRestPassword')">重置密码
          </el-button>
          <el-button type="success" @click="_AuthRoleBind(scope.row)"
                     :disabled="hasPermission('AuthRoleBind')">绑定角色
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog :visible.sync="dialogFormVisibleForDefine2" title="角色绑定" class="rolebinding-dialog" append-to-body>
      <el-form class="small-space" :model="query" label-position="left" ref="addRoleForm" :rules="rule"
               label-width="100px">
        <el-form-item label="角色列表" prop="roleIds">
          <el-select
            style="width:100%"
            v-model="query.roleIds"
            multiple
            placeholder="请选择绑定角色">
            <el-option
              v-for="item in query.AuthList"
              :value="item.id"
              :key="item.id"
              :label="item.roleName"
              name="roleIds">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postAuthRoleBind(query)">提 交</el-button>
        <el-button type="primary" @click="_authBind">关 闭</el-button>
      </div>
    </el-dialog>
    <!--对话框1-->
    <el-dialog :visible.sync="dialogFormVisibleForDefine" title="新增管理员" class="administrator-dialog">
      <el-form class="small-space" :model="temp" label-position="left" :rules="rules" ref="addMasterForm"
               label-width="100px">
        <el-form-item label="登录账号" prop="account">
          <el-input v-model="temp.account" type="text" name="account" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="temp.password" type="password" name="password" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="password2">
          <el-input v-model="temp.password2" type="password" name="password2" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="姓名" prop="userName">
          <el-input v-model="temp.userName" type="test" name="userName" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="手机号码" prop="mobile">
          <el-input v-model="temp.mobile" type="test" name="mobile" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postMasterCreate">提 交</el-button>
        <el-button type="primary" @click="resetF">关 闭</el-button>
      </div>
    </el-dialog>

    <!--对话框2-->
    <el-dialog :visible.sync="dialogFormVisibleForDefine3" title="密码重置">
      <el-alert
        effect="dark"
        style="margin-bottom: 5px"
        title="温馨提醒：密码重置成功后，再确认关闭对话框之前，请记住您的新密码!"
        type="warning"
        show-icon>
      </el-alert>
      <div class="password"><span>新密码:</span><span>{{ newPassWord}}</span></div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checked()">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import { vChineseOrEnglish, validatAlphabetsAndNumber, validateMobile } from 'utils/validate'
  import {
    getAuthRoleList,
    getMasterList,
    postMasterCreate,
    postUserRestPassword,
    postMasterUpStatus,
    postAuthRoleBind
  } from 'api/system'

  export default {
    data () {
      const validateName = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入姓名'))
        } else if (!vChineseOrEnglish(value)) {
          callback(new Error('仅支持中英文和数字'))
        } else {
          callback()
        }
      }
      const validateAccount = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入登录账号'))
        } else if (value.length < 6 || value.length > 25) {
          callback(new Error('登录账号长度为6~25个字符'))
        } else if (!validatAlphabetsAndNumber(value)) {
          callback(new Error('仅支持英文和数字'))
        } else {
          callback()
        }
      }
      const valMobile = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入手机号码'))
        } else if (!validateMobile(value)) {
          callback(new Error('手机号码格式不正确'))
        } else {
          callback()
        }
      }
      const chkPass = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入登录密码'))
        } else {
          if (!validatAlphabetsAndNumber(value)) {
            callback(new Error('仅支持英文和数字'))
          } else if (value.length > 20) {
            callback(new Error('密码长度不能超过20个字符'))
          }
          callback()
        }
      }
      const validateRoles = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请选择角色'))
        } else {
          callback()
        }
      }
      const chkPass2 = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请再次输入登录密码'))
        } else if (value !== this.temp.password) {
          callback(new Error('两次输入密码不一致!'))
        } else {
          callback()
        }
      }
      return {
        dialogFormVisibleForDefine2: false,
        dialogFormVisibleForDefine: false,
        dialogFormVisibleForDefine3: false,
        listLoading: false,
        newPassWord: '',
        query: {
          userId: '',
          roleIds: [],
          AuthList: [],
          userName: ''
        },
        items: [],
        total: 0,
        listQuery: {
          account: '',
          pageNo: 1,
          pageSize: 10
        },
        temp: {
          account: '',
          password: '',
          password2: '',
          userName: '',
          mobile: ''
        },
        rule: {
          roleIds: [
            {
              required: true,
              trigger: 'blur',
              validator: validateRoles
            }
          ]
        },
        rules: {
          account: [
            {
              required: true,
              trigger: 'blur',
              validator: validateAccount
            }
          ],
          password:
            [
              {
                required: true,
                trigger: 'blur',
                validator: chkPass
              }
            ],
          password2:
            [
              {
                required: true,
                trigger: 'blur',
                validator: chkPass2
              }
            ],
          userName:
            [
              {
                required: true,
                trigger: 'blur',
                validator: validateName
              }
            ],
          mobile:
            [
              {
                required: true,
                trigger: 'blur',
                validator: valMobile
              }
            ]
        }
      }
    },
    methods: {
      checked () {
        this.dialogFormVisibleForDefine3 = false
      },
      resetF () {
        this.dialogFormVisibleForDefine = false
        this.$refs.addMasterForm.resetFields()
        this.temp = {
          account: '',
          password: '',
          password2: '',
          userName: '',
          mobile: ''
        }
      },
      _authBind () {
        this.dialogFormVisibleForDefine2 = false
        this.query = {
          userId: '',
          userName: '',
          roleIds: [],
          AuthList: []
        }
      },
      _addMaster () {
        this.dialogFormVisibleForDefine = true
      },
      _AuthRoleBind (obj) {
        this.query.userId = obj.uid
        this.query.roleIds = []
        this.query.userName = obj.userName
        return new Promise((resolve, reject) => {
          getAuthRoleList().then((res) => {
            if (res.data.code === ERR_OK) {
              this.query.AuthList = res.data.data.items
              const roleNames = obj.roleNames.split(',')
              this.query.AuthList.map((m) => {
                roleNames.map((n) => {
                  if (n === m.roleName) this.query.roleIds.push(m.id)
                })
              })
              resolve()
            } else {
              reject()
            }
          })
        }).then(() => {
          this.dialogFormVisibleForDefine2 = true
        }).catch((err) => {
          console.log(err)
        })
      },
      _getAuthRoleList () {
        getAuthRoleList().then((res) => {
          if (res.data.code === ERR_OK) {
            this.query.AuthList = res.data.data.items
            console.log(this.query.AuthList)
          }
        })
      },
      _postMasterCreate () {
        this.$refs.addMasterForm.validate((valid) => {
          if (valid) {
            this.$confirm('将添加新的管理员账号， 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                account: this.temp.account,
                password: this.temp.password,
                userName: this.temp.userName,
                mobile: this.temp.mobile
              }
              postMasterCreate(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '添加成功!'
                  })
                  this.resetF()
                  this._getList()
                }
              })
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '取消操作!'
              })
            })
          }
        })
      },
      _postAuthRoleBind (obj) {
        const user_uid = this.$store.state.user.userinfo.id
        this.$refs.addRoleForm.validate((valid) => {
          if (valid) {
            this.$confirm(`此操作将对用户${obj.userName}为进行角色绑定绑定， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              postAuthRoleBind({ userId: obj.userId, roleIds: obj.roleIds.join(',') }).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '角色绑定成功'
                  })
                  if (user_uid === obj.userId) {
                    this.$alert(`由于您的角色及权限发生变化， 请重新登录！`, '提示信息', {
                      confirmButtonText: '确定',
                      callback: () => {
                        this.$store.dispatch('user/FedLogOut')
                      },
                      beforeClose: () => {
                        this.$store.dispatch('user/FedLogOut')
                      }
                    })
                  } else {
                    this._authBind()
                    this._getList()
                  }
                }
              })
            })
          }
        })
      },
      _postMasterUpStatus (row, num) {
        let flagText = ''
        switch (num) {
          case 1:
            flagText = '启用'
            break
          case 0:
            flagText = '禁用'
            break
          case 88:
            flagText = '重置密码'
            break
          default:
            flagText = '删除'
        }
        const str = row.account
        const user_uid = this.$store.state.user.userinfo.id
        let confirmText = `此操作将对用户为${str}进行${flagText}操作`
        if (user_uid === row.uid && (num === 0 || num === 99)) {
          confirmText = `您本身账号将被${flagText}，导致您账号无法正常登录`
        }
        this.$confirm(`${confirmText}， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let _fn = null
          const query = {
            uid: row.uid
          }
          switch (num) {
            case 88:
              _fn = postUserRestPassword
              break
            default:
              _fn = postMasterUpStatus
              query.status = num
          }
          _fn(query).then((res) => {
            if (res.data.code === ERR_OK) {
              if (user_uid === row.uid && num === 88) {
                this.$alert(`密码重置成功，新密码为${res.data.data.password}， 请重新登录！`, '提示信息', {
                  confirmButtonText: '确定',
                  callback: () => {
                    this.$store.dispatch('user/FedLogOut')
                  },
                  beforeClose: () => {
                    this.$store.dispatch('user/FedLogOut')
                  }
                })
              } else if (user_uid === row.uid && (num === 99 || num === 0)) {
                this.$alert(`您的账号已被${flagText}， 请更换账号重新登录！`, '提示信息', {
                  confirmButtonText: '确定',
                  callback: () => {
                    this.$store.dispatch('user/FedLogOut')
                  },
                  beforeClose: () => {
                    this.$store.dispatch('user/FedLogOut')
                  }
                })
              } else if (num === 88) {
                //    重置密码
                this.newPassWord = res.data.data.password
                this.dialogFormVisibleForDefine3 = true
              } else {
                this.$message({
                  type: 'success',
                  message: `${flagText}成功!`
                })
                this._getList()
              }
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      _getList () {
        this.listLoading = true
        getMasterList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.items = res.data.data.items
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this._getList()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      }
    },
    created () {
      console.log(this.$store)
      this._getList()
    }
  }
</script>
<style lang="scss" scoped>
  .pagination-container {
    float: right;
  }

  .dropdown_menu {
    margin-right: -10px;
    width: 90px;
    font-size: 12px;
    border-radius: 3px;
    color: rgba(97, 136, 201, 1);
    position: relative;
  }

  el-dropdown-menu__item {
    line-height: 24px;
  }

  .dropdown_menu:before {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #cccccc;
    position: absolute;
    left: 68%;
    bottom: 100%;
    margin-top: -15px;
  }

  .dropdown_menu:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #FFFFFF;
    position: absolute;
    left: 68%;
    bottom: 100%;
    margin-top: -10px;
  }

  .el_1 {
    width: 100%;
  }

  .el_2 {
    width: 100%;
  }

  .password {
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;

    > span {
      padding: 10px;
      background: #67c23a;
      text-align: center;
      color: white;
      font-weight: bolder;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:nth-last-child(1) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

  }
</style>
