<template>
  <div class="lt-room-item" :class='{controlClass:LotteryType===22||LotteryType===66}'>
    <div class="box">
      <div class="box-top">
        <a class="lottery-icon">
          <img v-lazy="generateImageUrl(imageUrl,detailInfo.lotteryId)">
        </a>
        <div class="box-top-right">
          <h3>{{ detailInfo.lotteryName }}</h3>
          <!-- 轮询数据 -->
          <p>第
            <span>{{ detailInfo.issue }}</span> 期</p>
          <div class="f-time">
            <div class="time">
              <img src="~@/assets/clock.png" alt="">
              <span>{{ timeNew.hh }}</span>
              <span>:</span>
              <span>{{ timeNew.mm }}</span>
              <span>:</span>
              <span>{{ timeNew.ss }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-mid">
        <div class="box-mid-left">预设号码</div>
        <div
          class="box-mid-right"
          :class="[{'max-height':prevResultArr.length<11},{'min-height':prevResultArr.length>10}]"
        >
        <span v-if="prevResultArr.length" class='prev-code'>
          {{ prevResult }}
        </span>
          <span v-else class="box-mid-right-text"> 暂无预设 </span>
        </div>
      </div>
      <div class="box-mid">
        <div class="put-box">
          <template>
            <template v-if='LotteryType===22||LotteryType===66'>
              <template v-for='i in 3'>
                <fieldset class='body' :key='i'>
                  <!-- 一二三等獎 -->
                  <legend class='title'>{{ textArray.first[i - 1] }}</legend>
                  <template v-for='j in 6'>
                    <span class="lt-input-box" :key='6 *(i-1) + j-1'>
                      <input type="text" class="lt-input six"
                        :ref="`el-input-${6 *(i-1) + j-1}`"
                        @focus="resetCurrent($event)"
                        @blur="resetArray(6 *(i-1) + j-1,$event)"
                        :value="pointResultArr[6 *(i-1) + j-1]"
                        @input="codeFormatter(6 *(i-1) + j-1,$event)">
                    </span>
                  </template>
                </fieldset>
              </template>
              <fieldset class='body' style='width: 78px'>
                <!-- 特別獎 -->
                <legend class='title'>{{ textArray.first[3] }}</legend>
                <span class="lt-input-box">
                  <input type="text" class="lt-input six"
                    :ref="`el-input-${18}`"
                    @focus="resetCurrent($event)"
                    @blur="resetArray(18,$event)"
                    :value="pointResultArr[18]"
                    @input="codeFormatter(18,$event)">
                </span>
                <span class="lt-input-box">
                  <input type="text" class="lt-input six"
                    :ref="`el-input-${19}`"
                    @focus="resetCurrent($event)"
                    @blur="resetArray(19,$event)"
                    :value="pointResultArr[19]"
                    @input="codeFormatter(19,$event)">
                </span>
              </fieldset>
            </template>

            <!-- 超级6/45 1分彩 -->
            <template v-else-if='LotteryType === 24'>
              <legend class='title'></legend>
              <template v-for='j in 6'>
                <fieldset class='body' style='width: 95px' :key='`area${j}`'>
                  <span class="lt-input-box">
                    <input type="text" class="lt-input six"
                      :ref="`el-input-${2*j-2}`"
                      @focus="resetCurrent($event)"
                      @blur="resetArray(2*j-2,$event)"
                      :value="pointResultArr[2*j-2]"
                      @input="codeFormatter(2*j-2,$event)">
                  </span>
                  <span class="lt-input-box">
                    <input type="text" class="lt-input six"
                      :ref="`el-input-${2*j-1}`"
                      @focus="resetCurrent($event)"
                      @blur="resetArray(2*j-1,$event)"
                      :value="pointResultArr[2*j-1]"
                      @input="codeFormatter(2*j-1,$event)">
                  </span>
                </fieldset>
              </template>
            </template>

            <template v-else-if='LotteryType===84'>
              <template>
                <template v-if='remainder>splitNumber'>
                  <fieldset class='body' key='area1'>
                    <legend class='title'></legend>
                    <template v-for='j in 6'>
                             <span class="lt-input-box" :key='`area${j-1}`'>
                                      <input type="text" class="lt-input six"
                                             :ref="`el-input-${j-1}`"
                                             @focus="resetCurrent($event)"
                                             @blur="resetArray(j-1,$event)"
                                             :value="pointResultArr[j-1]"
                                             @input="codeFormatter(j-1,$event)">
                                  </span>
                    </template>
                  </fieldset>
                  <fieldset class='body' key='area2'>
                    <legend class='title'></legend>
                    <template v-for='j in 5'>
                             <span class="lt-input-box" :key='`area${j+5}`'>
                                  <input type="text" class="lt-input six"
                                         :ref="`el-input-${j+5}`"
                                         @focus="resetCurrent($event)"
                                         @blur="resetArray(j+5,$event)"
                                         :value="pointResultArr[j+5]"
                                         @input="codeFormatter(j+5,$event)">
                                  </span>
                    </template>
                  </fieldset>
                </template>
                <template v-else>
                  <template v-for='i in 2'>
                    <fieldset class='body' :key='i'>
                      <legend class='title'></legend>
                      <template v-for='j in 5'>
                             <span class="lt-input-box" :key='5 *(i-1) + j-1'>
                                           <input type="text" class="lt-input six"
                                                  :ref="`el-input-${5 *(i-1) + j-1}`"
                                                  @focus="resetCurrent($event)"
                                                  @blur="resetArray(5 *(i-1) + j-1,$event)"
                                                  :value="pointResultArr[5 *(i-1) + j-1]"
                                                  @input="codeFormatter(5 *(i-1) + j-1,$event)">
                                  </span>
                      </template>
                    </fieldset>
                  </template>
                </template>
              </template>
            </template>
            <template v-else>
              <!-- 其餘類型(四格) -->
              <template v-for="(lt,index) in pointResultArr">
              <span class="span" :key='index'>
                    <input type="text" class="lt-input six"
                           :ref="`el-input-${index}`"
                           @focus="resetCurrent($event)"
                           @blur="resetArray(index,$event)"
                           :value="lt"
                           @input="codeFormatter(index,$event)">
                </span>
              </template>
            </template>
          </template>
        </div>
      </div>
      <!-- 底部信息 -->
      <div class="box-bot">
        <a class="item" @click="generateCode(LotteryType)">随机生成</a>
        <a class="item" @click="clearCodes">清空</a>
        <a class="item"
           @click="_postSelfLotteryDetailUp"
           :class="classObject">
          (<span>{{ pointTimes | pointTimeFilter }}</span>)提交号码
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getCanRepeatArray, getRandomArray, parseTime } from 'utils'
import { getSelfLotteryDetailInfo, postSelfLotteryDetailUp } from 'api/SelfLottery'
import { LotteryText } from '@/LotteryConfig'
// import { defaults } from 'codemirror'

export default {
  props: {
    item: {
      type: Object,
      default: function () {
        return {}
      }
    },
    imageUrl: {
      type: String
    },
    serverTime: {
      type: String,
      required: true,
      default: '2017-01-01 00:00:00'
    }
  },
  data () {
    return {
      textArray: {
        first: ['一等奖', '二等奖', '三等奖', '特别号'],
        second: ['紅獎', '一等獎', '二等獎', '三等獎', '四等獎', '五等獎', '六等獎', '七等獎']
      },
      pointTimer: null,
      timerLocal: null,
      timerLocalInterval: 1000, // 本地倒计时间隔,1s
      times: '',
      timeNew: '',
      pointTimes: 10,
      isDisabled: true,
      listQuery: {
        spCode: '',
        lotteryId: ''
      },
      detailInfo: {
        lotteryName: '',
        pointResult: '',
        issue: '',
        prevResult: ''
      },
      LotteryEndTime: '',
      issue: '',
      prevResult: '',
      pointResult: '',
      isOpenSetted: false,
      LotteryType: 0,
      prevResultArr: [],
      pointResultArr: [],
      canRepeat: false,
      range: [],
      remainder: 0,
      splitNumber: null,
      codeLength: 0,
      fillZero: false,
      isHasSummary: false,
      currentInfo: {},
      pta: []
    }
  },
  methods: {
    generateImageUrl (url = '', lotteryId) {
      const prefix = this.$LOGO
      if (!url) return `${prefix}${lotteryId}.png`
      if (process.env.NODE_ENV === 'development') {
        return `${window.API_ADMINFRONT_PROD}/websrc${url}`
      }
      return (window.environment && window.environment.toLowerCase() === 'uat') ? `${window.API_ADMINFRONT_PROD}/websrc${url}` : window.API_ADMINFRONT_PROD + url
    },
    resetCurrent (e) {
      this.currentInfo.value = e.target.value
      this.pta = [].concat(this.pointResultArr)
    },
    resetArray (index, e) {
      const self = this
      if (!e.target.value || !this.range.includes(parseInt(e.target.value))) {
        self.pointResultArr.splice(index, 1, this.currentInfo.value)
        return
      }
      const val = e.target.value
      self.$nextTick(() => {
        if (self.currentInfo.changeIndex !== undefined && !self.canRepeat && self.currentInfo.changeIndex !== null) {
          self.pointResultArr.splice(index, 1, val)
          self.pointResultArr.splice(self.currentInfo.changeIndex, 1, self.currentInfo.value)
        }
        self.currentInfo = {}
        self.pta = []
      })
    },
    codeFormatter (index, e) {
      const self = this
      const value = parseInt(e.target.value)
      const val = this.fillZero ? (value < 10 ? `0${value}` : value.toString()) : value.toString()
      this.$nextTick(() => {
        if (self.range.includes(value)) {
          if (self.pta.includes(val) && !self.canRepeat) {
            self.currentInfo.changeIndex = self.pta.includes(val) ? self.pta.indexOf(val) : null
          } else {
            self.currentInfo.changeIndex = null
          }
          self.pointResultArr.splice(index, 1, val)
        } else {
          self.pointResultArr.splice(index, 1, null)
          if (value === 0 && this.fillZero) self.pointResultArr.splice(index, 1, '0')
        }
      })
    },
    clearCodes () {
      this.currentInfo = {}
      this.pointResultArr = this.generateBlankCode(this.codeLength)
    },
    generateBlankCode (len) {
      return new Array(len).fill(null)
    },
    generateCode (type) {
      if (type === 24) {
        // 六組01~45不重複的亂數
        const random = []
        for (let i = 0; i <= 5; i++) {
          const node = (Math.floor(Math.random() * 45) + 1)
          if (!random.includes(node.toString())) {
            if (node < 10) {
              random.push(`0${node}`)
            } else {
              random.push(node.toString())
            }
          } else {
            i--
          }
        }
        this.pointResultArr = random.join('').split('')
      } else {
        this.pointResultArr = this.canRepeat ? getCanRepeatArray(this.range, this.codeLength, this.fillZero) : getRandomArray(this.range, this.codeLength, this.fillZero)
      }
    },
    // 获取数组元素之和
    /**
     * @return {number}
     */
    SumArr (arr) {
      return arr.map((val) => parseInt(val)).reduce((a, b) => a + b, 0)
    },
    timeMinus (a, b) {
      a = a.replace(/-/g, '/')
      b = b.replace(/-/g, '/')
      return (new Date(a).getTime() - new Date(b).getTime()) / 1000
    },
    chunk (arr, size) {
      const objArr = []
      let index = 0
      const objArrLen = arr.length / size
      for (let i = 0; i < objArrLen; i++) {
        const arrTemp = []
        for (let j = 0; j < size; j++) {
          arrTemp[j] = arr[index++]
          if (index === arr.length) {
            break
          }
        }
        objArr[i] = arrTemp
      }
      return objArr
    },
    _postSelfLotteryDetailUp () {
      if (this.isDisabled || this.hasPermission('SelfLotteryDetailUp') || !!this.pointResult || this.isOpenSetted) return
      for (let i = 0; i < this.pointResultArr.length; i++) {
        if (this.pointResultArr[i] === null) {
          this.$message({
            showClose: true,
            message: '填写的号码不完整,请填写完整再提交!',
            type: 'danger'
          })
          return
        }
      }
      if (this.LotteryType === 22 || this.LotteryType === 66) {
        const t1 = this.chunk(this.pointResultArr, 6)
        const t2 = this.chunk(t1[1], 3).map(m => {
          return m.join('')
        })
        const t3 = this.chunk(t1[2], 3).map(m => {
          return m.join('')
        })
        this.detailInfo.pointResult = [t1[0].join(''), ...t2, ...t3, t1[3].join('')].join(',')
      } else if (this.LotteryType === 24) {
        const t1 = this.chunk(this.pointResultArr, 12)
        const t2 = []
        t1[0].forEach((value, index) => {
          if (!(index % 2)) {
            t2.push(t1[0].slice(index, index + 2).join(''))
          }
        })
        this.detailInfo.pointResult = t2.join(',')
      } else if (this.LotteryType === 25) {
        console.log('this.LotteryType === 25', this.LotteryType)
      } else if (this.LotteryType === 26) {
        console.log('this.LotteryType === 26', this.LotteryType)
      } else if (this.LotteryType === 84) {
        let t1
        if (this.remainder > this.splitNumber) {
          t1 = this.chunk(this.pointResultArr, 6).map(m => m.join(''))
        } else {
          t1 = this.chunk(this.pointResultArr, 5).map(m => m.join(''))
        }
        this.detailInfo.pointResult = [...t1].join(',')
      } else {
        this.detailInfo.pointResult = this.pointResultArr.join(',')
      }

      const query = {
        spCode: this.listQuery.spCode,
        lotteryId: this.listQuery.lotteryId,
        issue: this.detailInfo.issue,
        prevResult: this.detailInfo.prevResult,
        pointResult: this.detailInfo.pointResult
      }
      postSelfLotteryDetailUp(query).then((res) => {
        if (res.data.code === ERR_OK) {
          this.$message({
            type: 'success',
            message: '手动开奖成功'
          })
          this.isDisabled = true
          this.isOpenSetted = true
        }
      })
    },
    async _getSelfLotteryDetailInfo () {
      this.currentInfo = {}
      const LotteryInfoRes = await getSelfLotteryDetailInfo(this.listQuery)
      if (LotteryInfoRes.data.code === ERR_OK) {
        const obj = LotteryInfoRes.data.data
        this.prevResult = obj.prevResult
        this.pointResult = obj.pointResult
        this.isOpenSetted = false
        this.issue = obj.issue
        this.LotteryType = Math.floor(this.listQuery.lotteryId / 1000)
        this.remainder = Number(this.listQuery.lotteryId) % 1000
        this.splitNumber = LotteryText[this.LotteryType].splitNumber
        this.range = LotteryText[this.LotteryType].range
        this.isHasSummary = LotteryText[this.LotteryType].isHasSummary
        this.canRepeat = LotteryText[this.LotteryType].canRepeat
        this.fillZero = LotteryText[this.LotteryType].fillZero
        let generaterNum = LotteryText[this.LotteryType].num[0]
        if (this.LotteryType === 84 && this.remainder > this.splitNumber) {
          generaterNum = LotteryText[this.LotteryType].num[1]
        }
        this.codeLength = generaterNum
        const server = await LotteryInfoRes.data.serviceTimeZone === 1 ? LotteryInfoRes.data.serviceTime : parseTime(new Date(new Date(LotteryInfoRes.data.serviceTime).getTime() + 12 * 3600 * 1000))
        this.detailInfo = { ...obj }
        this.prevResultArr = this.detailInfo.prevResult ? this.detailInfo.prevResult.split(',') : []
        this.LotteryEndTime = obj.endTime
        this.times = await this.timeMinus(this.LotteryEndTime, server) + 5
        this.pointResultArr = this.generateBlankCode(this.codeLength)
        this.resovleTime()
      }
    },
    resovleTime () {
      this.times = this.timeMinus(this.LotteryEndTime, this.serverTime) + 5
      const _this = this
      if (this.times <= 10 && this.times > 0) {
        this.isDisabled = false
        this.pointTimes = this.times
        window.clearTimeout(this.timerLocal)
        this.timerLocal = null
        this.timerLocal = setTimeout(() => _this.updateTime(), this.timerLocalInterval)
      } else if (this.times <= 0) {
        this.isDisabled = true
        this.times = 0
        this.pointTimes = 10
        this._getSelfLotteryDetailInfo()
      } else {
        this.isDisabled = true
        this.pointTimes = 10
        this.isOpenSetted = false
        window.clearTimeout(this.timerLocal)
        this.timerLocal = null
        this.timerLocal = setTimeout(() => _this.updateTime(), this.timerLocalInterval)
      }
    },
    updateTime () {
      const time = --this.times
      if (time >= 0) {
        if (time <= 10) {
          this.isDisabled = false
          this.pointTimes = time
          this.updatePointTime()
        }
        let hh = Math.floor(time / 60 / 60)
        let mm = Math.floor(time / 60 % 60)
        let ss = Math.floor(time % 60)
        hh = hh < 0 ? 0 : hh
        mm = mm < 0 ? 0 : mm
        ss = ss < 0 ? 0 : ss
        this.timeNew = {
          hh: hh < 10 ? `0${hh}` : hh,
          mm: mm < 10 ? `0${mm}` : mm,
          ss: ss < 10 ? `0${ss}` : ss
        }
        window.clearTimeout(this.timerLocal)
        this.timerLocal = null
        const _this = this
        this.timerLocal = setTimeout(() => _this.updateTime(), this.timerLocalInterval)
      } else {
        window.clearTimeout(this.timerLocal)
        this.timerLocal = null
        this.times = 0
        this.isDisabled = true
        this.detailInfo.pointResult = ''
        this.pointTimes = 10
      }
    },
    updatePointTime () {
      if (this.pointTimes === 0) {
        this.isDisabled = true
        this.detailInfo.pointResult = ''
        this.pointTimes = 10
        this._getSelfLotteryDetailInfo()
      }
    }
  },
  beforeDestroy () {
    window.clearTimeout(this.timerLocal)
    this.timerLocal = null
  },
  created () {
  },
  computed: {
    classObject () {
      return {
        disabled: this.isDisabled || this.hasPermission('SelfLotteryDetailUp') || !!this.pointResult || this.isOpenSetted,
        'bg-primary': !(this.isDisabled || this.hasPermission('SelfLotteryDetailUp') || !!this.pointResult || this.isOpenSetted)
      }
    }
    // CodeSum () {
    //   if (this.pointResultArr.includes(null)) return 0
    //   return this.SumArr(this.pointResultArr)
    // },
    // dataExt () {
    //   if (this.CodeSum) return this.CodeSum > LotteryText[this.LotteryType].splitNumber ? '<span>大</span>' : '小'
    //   return ''
    // },
    // dataExtSingle () {
    //   if (this.CodeSum) return this.CodeSum % 2 ? '<span>单</span>' : '双'
    //   return ''
    // }
  },
  mounted () {
    this.listQuery.lotteryId = this.item.lotteryId
    this.listQuery.spCode = this.item.spCode
    this._getSelfLotteryDetailInfo()
  },
  watch: {
    item (v) {
      this.listQuery.lotteryId = v.lotteryId
      this.listQuery.spCode = v.spCode
      this._getSelfLotteryDetailInfo()
    },
    serverTime (v) {
      this.resovleTime()
    }
  },
  filters: {
    filterTime (v) {
      const t = v || { hh: '00', mm: '00', ss: '00' }
      return `${t.hh}:${t.mm}:${t.ss}`
    },
    pointTimeFilter (v) {
      return v < 10 ? `0${v}` : v
    }
  }
}
</script>
<style lang='scss' scoped>
.lt-room-item {
  height: 325px;
  float: left;

  .box {
    .box-mid {
      height: 75px;
      position: relative;

      .span {
        position: relative;

        .lt-input {
          width: 45px !important;
          height: 45px !important;
        }

        .text {
          position: absolute;
          bottom: -32px;
          left: 9px;
          font-size: 12px;
        }
      }
    }

    .body {
      display: inline;
      padding: 1px;
      width: 222px;
      border-color: #0099ff;
      border-style: dashed;

      .title {
        color: red;
      }
    }
  }
}

.controlClass {
  height: 395px;

  .box {
    .box-mid {
      height: auto;
      padding-bottom: 15px;
    }
  }
}
</style>
<style scoped>
.prev-code {
  color: #FF0000;
  font-size: 17px;
}
</style>
