<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px"  placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="search"
                   :loading="listLoading"
                   :disabled="(!listQuery.spCode) || hasPermission('SelfLotteryCurrIssueList')">查询
        </el-button>
      </el-form-item>
    </el-form>
    <div class="lt-room-home">
      <div class="lt-room-wrapper">
        <div>
          <com-child v-for="item in items" :item="item" :key="item.lotteryId" @refresh="search"
                     :image-url="item.imageUrl"
                     :server-time="serverTime"></com-child>
        </div>
      </div>
    </div>
    <!--<el-row :gutter="20">-->
    <!--<com-child v-for="item in items" :item="item" :key="item.id" @refresh="search"-->
    <!--:serverTime="serverTime"></com-child>-->
    <!--</el-row>-->
    <qr-code-dialog @transformSecond="transformSecond"></qr-code-dialog>
  </el-card>
</template>
<script>
import {
  // getAjaxData,
  getServerTime
} from 'api/common'
import { getSelfLotteryCurrIssueList } from 'api/SelfLottery'
import QrCodeDialog from 'components/QrCodeDialog/index'
import { ERR_OK } from 'api/config'
import { mapActions } from 'vuex'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import ComChild from './component'

export default {
  components: {
    ComChild, QrCodeDialog, fuzzyQuerySearch
  },
  data () {
    return {
      // spCodes: [],
      listLoading: false,
      listQuery: {
        spCode: ''
      },
      items: [],
      serverTime: '2017-01-01 00:00:00',
      timerSyncRestTime: null,
      timerSyncRestTimeInterval: 5 * 1000 // 同步剩余时间间隔,10s
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    // _getSpList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spCodes = res.data.data.items.map(r => {
    //         r.isEdit = false
    //         r.btnIsEdit = false
    //         return r
    //       })
    //     }
    //   })
    // },
    async _getServerTime () {
      const res = await getServerTime()
      if (res.data.code === ERR_OK) this.serverTime = res.data.data.BJSeviceTime
      const _this = this
      window.clearTimeout(this.timerSyncRestTime)
      this.timerSyncRestTime = null
      this.timerSyncRestTime = setTimeout(() => _this._getServerTime(), this.timerSyncRestTimeInterval)
    },
    _getSelfLotteryCurrIssueList () {
      this.listLoading = true
      getSelfLotteryCurrIssueList(this.listQuery).then((res) => {
        console.log('_getSelfLotteryCurrIssueList', res)
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items.sort((a, b) => a.lotteryId - b.lotteryId)
        }
      })
      console.log(this.items)
      this.listLoading = false
    },
    transformSecond () {
    },
    search () {
      this._getSelfLotteryCurrIssueList()
      this._getServerTime()
    },
    ...mapActions('lotteryQrCode', [
      'setIsOpen'
    ])
  },
  beforeDestroy () {
    window.clearInterval(this.timerSyncRestTime)
    this.timerSyncRestTime = null
  },
  created () {
    // this._getSpList()
  }
}
</script>
