<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input v-model="listQuery.loginId" style="width: 180px"-->
        <!--								          clearable-->
        <!--								          placeholder="请输入会员账号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading"
                   :disabled="(!listQuery.spCode)||hasPermission('MemberQuotaLimitList')">搜索
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">

      <el-table-column align="right" label="序号" width="100" type="index">
      </el-table-column>

      <el-table-column align="right" label="会员账号" prop="loginId">
      </el-table-column>
      <el-table-column align="right" label="厅主">
        <template slot-scope="scope">
          <span>{{scope.row.spCode}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="限额目标ID" prop="jsonQuota">
        <template slot-scope="scope" v-if="scope.row.jsonQuota">
          <el-button type="text" @click="showDetail(scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="创建时间">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="状态">
        <template slot-scope="scope">
          <span
            :class="{active_blue:scope.row.status ===1? true:false,active_red:scope.row.status ===1? false:true }">{{scope.row.status === 1 ? '已启用' : scope.row.status === 0 ? '已禁用' : '已删除'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button type="success" v-if="!scope.row.status" @click="_updateStatus(scope.row,1)"
                     :disabled="(scope.row.status == 99)||hasPermission('MemberQuotaLimitStatus')">启用
          </el-button>
          <el-button type="success" v-if="scope.row.status" @click="_updateStatus(scope.row,0)"
                     :disabled="(scope.row.status == 99)||hasPermission('MemberQuotaLimitStatus')">禁用
          </el-button>
          <el-button type="success" @click="_updateStatus(scope.row,99)"
                     :disabled="(scope.row.status == 99)||hasPermission('MemberQuotaLimitStatus')">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="elements.length" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <div class="memberDetail1">
      <el-dialog
        width="500"
        title="查看详情"
        :visible.sync="popover_visible" append-to-body>
        <div class="components-container">
          <el-table :key='tableKey' :data="detailList" v-loading="listLoading" border fit
                    highlight-current-row
                    element-loading-text="拼命加载中"
                    element-loading-spinner="el-icon-loading"
                    max-height='600'
                    style="width: 100%">

            <el-table-column align="right" label="序号" width="100" type="index">
            </el-table-column>

            <el-table-column align="right" label="彩种ID" prop="lotteryId">
            </el-table-column>
            <el-table-column align="right" label="彩种名称" prop="lotteryName">
            </el-table-column>
            <el-table-column
              prop="lotteryTypeName"
              align="right"
              label="彩种类型名称"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="qutaVal"
              align="right"
              label="限额倍数"
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span>{{scope.row.quotaVal === '0.00' ? '不限额' : scope.row.quotaVal}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-dialog>
    </div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import { getMemberQuotaLimitList, postMemberQuotaLimitStatus } from 'api/members'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        value: '',
        popover_visible: false,
        listLoading: false,
        detailList: [],
        tableKey: 0,
        elements: [],
        listQuery: {
          spCode: '',
          pageNo: 1,
          pageSize: 10
        },
        query: {
          uid: ''
        },
        // spList: [],
        total: 0
      }
    },
    created () {
      // this._getSpList()
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      showDetail (r) {
        this.popover_visible = true
        this.detailList = JSON.parse(r.jsonQuota).map((v) => {
          v.quotaVal = parseFloat(v.quotaVal / 100).toFixed(2)
          return v
        })
      },
      //      _getMemberLotteryQuotaList() {
      //        members.getMemberLotteryQuotaList(this.query).then(res => {
      //          if (res.data.code === ERR_OK) {
      //            this.detailList = res.data.data.elements.map(v => {
      //              v.quotaval = parseFloat(v.quotaval / 100).toFixed(2)
      //              return v
      //            })
      //            this.total2 = res.data.data.totalCount
      //          }
      //        })
      //      },
      // 操作栏
      _updateStatus (obj, status) {
        const s = status
        let t = ''
        switch (s) {
          case 0:
            t = '禁用'
            break
          case 1:
            t = '启用'
            break
          default:
            t = '删除'
        }
        const str = obj.loginId
        const str2 = obj.uid
        this.$confirm(`此操作将对用户为"${str}"的限额设置进行${t}操作， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            uid: str2,
            status: s
          }
          postMemberQuotaLimitStatus(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${t}成功!`
              })
              obj.status = s
              this._search()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getMemberQuotaLimitList()
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getMemberQuotaLimitList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getMemberQuotaLimitList()
      },
      // _getSpList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      _getMemberQuotaLimitList () {
        this.listLoading = true
        getMemberQuotaLimitList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
    },
    filters: {
      filterMultiple (v) {
        if (v === 0) {
          return '不限额'
        }
        return parseFloat(parseInt(v) / 100).toFixed(2)
      }
    }
  }
</script>
<style slot-scope="scope" lang="scss">
  html, body {
    width: 100%;
    height: 100%;
  }

  .pagination-container {
    text-align: right;
  }

  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .el-transfer {
    margin: 0 30px;

    .el-transfer-panel .el-checkbox__label, .el-transfer-panel__item .el-checkbox__label {
      font-weight: normal;
    }

    .transfer-footer {
      margin-left: 20px;
      padding: 6px 5px;
    }

    .el-transfer-panel__item .el-checkbox__label {
      padding-left: 20px;
    }
  }

  .el-dialog--small {
    width: 65% !important;
  }

  .memberDetail1 {
    width: 100%;
    overflow: hidden;
  }

  .memberDetail1 {
    width: 100%;

    .el-dialog {
      min-width: 60%;

      .el-table {
        height: 500px;
        overflow-y: scroll;
      }

      .el-table::before {
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
      }

      .components-container {
        margin: 30px 0px;
        position: relative;
      }
    }
  }

</style>
