<template>
  <el-tabs v-model="activeName" @tab-click="tabClick" type="border-card">
    <el-tab-pane v-for="item in lotteryTypeList" :label="item.name"
                 :name="item.name"
                 :key="item.name">
    </el-tab-pane>
    <el-tabs v-model='LotteryRegion'></el-tabs>
    <keep-alive>
      <el-table :data="tableData" border fit style="width: 100%"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                v-loading="!loaded">
        <el-table-column prop="lotteryId" label="彩种编码">
        </el-table-column>
        <el-table-column prop="lotteryName" label="彩种名称">
        </el-table-column>
        <el-table-column prop="status" label="开通情况">
          <template slot-scope="scope" :chk="scope.row.status">
            <el-checkbox v-model="scope.row.status"></el-checkbox>
          </template>
        </el-table-column>
        <!--        <el-table-column prop="" label="已开通模式" width="260">-->
        <!--          <template slot-scope="scope">-->
        <!--            <div class="but">-->
        <!--              <el-checkbox-group v-model="scope.row.ModeGroup"-->
        <!--                                 @change="ModeGroupChange(scope.row.ModeGroup,scope.row)">-->
        <!--                <el-checkbox-button v-for="Mode in ModeOptions" :label="Mode" :key="Mode"-->
        <!--                                    :disabled="Mode===scope.row.ModeGroupOnDisabled">{{Mode}}-->
        <!--                </el-checkbox-button>-->
        <!--                <el-button type="primary" icon="el-icon-check"-->
        <!--                           @click.native="_postSpTplLotteryPlayModeSwitchUp(scope.row)"-->
        <!--                           :disabled="!scope.row.playModeIsEdit || hasPermission('SpTplLotteryPlayModeSwitchUp')"></el-button>-->
        <!--              </el-checkbox-group>-->
        <!--            </div>-->
        <!--          </template>-->
        <!--        </el-table-column>-->
        <!--        <el-table-column prop="playMode" label="默认玩法模式">-->
        <!--          <template slot-scope="scope">-->
        <!--            <el-switch-->
        <!--              v-model="scope.row.playMode"-->
        <!--              @change="_postSpTplLotteryPlayModeUp(scope.row)"-->
        <!--              active-color="#13ce66"-->
        <!--              inactive-color="#ff4949"-->
        <!--              active-value='1'-->
        <!--              inactive-value='2'-->
        <!--              active-text="官方"-->
        <!--              :disabled="hasPermission('SpTplLotteryPlayModeUp') || scope.row.onDisabled"-->
        <!--              inactive-text="信用">-->
        <!--            </el-switch>-->
        <!--          </template>-->
        <!--        </el-table-column>-->
        <!--        <el-table-column prop="creditBetMode" label="信用玩法下注模式">-->
        <!--          <template slot-scope="scope">-->
        <!--            <el-switch-->
        <!--              v-model="scope.row.creditBetMode"-->
        <!--              @change="_postSpTplLotteryCreditModeUp(scope.row)"-->
        <!--              active-color="#13ce66"-->
        <!--              inactive-color="#ff4949"-->
        <!--              active-value='2'-->
        <!--              inactive-value='1'-->
        <!--              active-text="传统"-->
        <!--              :disabled="hasPermission('SpTplLotteryCreditModeUp') ||scope.row.readonly"-->
        <!--              inactive-text="正常">-->
        <!--            </el-switch>-->
        <!--          </template>-->
        <!--        </el-table-column>-->
        <!--<el-table-column prop="maxBet" label="下注限额">-->
        <!--<template slot-scope="scope">-->
        <!--<el-input v-model="scope.row.maxBet"></el-input>-->
        <!--</template>-->
        <!--</el-table-column>-->
      </el-table>
    </keep-alive>
    <br>
    <el-pagination v-if="showPagination" align="right" @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page.sync="pageCon.pageNo"
                   :page-sizes="[10,20,50,100,200,500]" :page-size="pageCon.pageSize"
                   layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
  </el-tabs>

</template>

<script>
  import { ERR_OK } from 'api/config'
  import { mapActions, mapState } from 'vuex'
  import { getSpTplLotterySetList } from 'api/spltpl/'
  import { getAjaxData } from 'api/common'

  export default {
    data () {
      return {
        lotteryTypeList: [],
        LotteryRegion: '',
        tabLoaded: true,
        loaded: true,
        timeMin: 200,
        activeName: '',
      // tabPos: 0,
        subTabPos: 0,
        query: {},
        total: 0,
        pageCon: {
          pageNo: 1,
          pageSize: 10
        },
        ModeOptions: ['官方', '信用'],
        showPagination: false,
        cacheResData: []
      }
    },
    methods: {
      async getList () {
        const res = await getSpTplLotterySetList(this.query)
        if (res.data.code === ERR_OK) {
          // 转status为布尔值 v-model只识别为布尔值的变量
          this.cacheResData = res.data.data.spTplLotterySetList.map((v) => {
            v.status = Boolean(v.status)
            return v
          })
          let _data = []
          if (this.cacheResData.length > this.pageCon.pageSize) {
            this.showPagination = true
            _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
          } else {
            this.showPagination = false
            _data = this.cacheResData
          }
      this.spTplSetTableData({ cmd: this.cmd, data: _data })
          this.total = this.cacheResData.length
          setTimeout(() => {
            this.loaded = true
          }, this.timeMin)
        }
      },
      async init () {
        const query = {
          pId: this.spCode,
          dataType: 10
        }
        const res = await getAjaxData(query)
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
        }
        this.activeName = this.lotteryTypeList[this.subTabPos].name
        console.log(this.lotteryTypeList[this.subTabPos])
        await this.setQuery({ index: this.subTabPos })
      },
      // 解构当前tab里 index 属性
      async setQuery ({ index }) {
        const item = await this.lotteryTypeList[index]
        this.query = {
          spTplId: this.rowId,
          spCode: this.spCode,
          lotteryTypeId: item.id
        }
        // const res = await getAjaxData({ dataType: 14, pId: item.id })
        // console.log('res==>', res)
        await this.getList()
      },
      async tabClick (item) {
        await this.setQuery(item)
        // this.getList()
      },
      // 分页
      handleSizeChange (val) {
        this.pageCon.pageSize = val
        const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
      this.spTplSetTableData({ cmd: this.cmd, data: _data })
      },
      handleCurrentChange (val) {
        this.pageCon.pageNo = val
        const _data = this.pagination(this.pageCon.pageNo, this.pageCon.pageSize, this.cacheResData)
      this.spTplSetTableData({ cmd: this.cmd, data: _data })
      },
      pagination (pageNo, pageSize, array) {
        const offset = (pageNo - 1) * pageSize
        return offset + pageSize >= array.length ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize)
      },
      ...mapActions('sptpl', [
        'spTplSetTableData'
      ])
    },
    computed: {
      ...mapState({
        spCode: (state) => state.sptpl.spCode,
        rowId: (state) => state.sptpl.rowId,
        cmd: (state) => state.sptpl.cmd,
        tableData: (state) => state.sptpl.tableData
      })
    },
    created () {
      this.init()
    }
  }
</script>
<style lang="scss" scoped>
  .but {
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 32px;
    vertical-align: middle;

    ::v-deep .el-checkbox-group {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 200px;

      .el-checkbox-button {
        overflow: hidden;
        line-height: 32px;
        margin-right: 1px;
      }

      .el-button {
        display: inline-block;
        position: absolute;
        /*top: 2px;*/
        /*right: 43px;*/
      }
    }
  }
</style>
