<template>
		<el-table :data="items" border fit highlight-current-row v-loading="listLoading"
		          element-loading-text="拼命加载中"
		          element-loading-spinner="el-icon-loading"
		          style="width: 100%">

				<el-table-column align="right" label="彩种ID">
						<template slot-scope="scope">
								<span>{{ scope.row.lotteryId }}</span>
						</template>
				</el-table-column>

				<el-table-column align="right" label="彩种名称">
						<template slot-scope="scope">
								<span>{{ scope.row.lotteryName }}</span>
						</template>
				</el-table-column>

				<el-table-column align="right" label="绑定状态" min-width="120">
						<template slot-scope="scope">
								<el-switch
									@change="_postLotteryGroupRelDel(scope.row)"
									active-text="启用"
									inactive-text="禁用"
									v-model="scope.row.checked"
									active-color="#13ce66">
								</el-switch>
						</template>
				</el-table-column>
		</el-table>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getLotteryGroupRelList, postLotteryGroupRelAdd } from 'api/dataBase'

export default {
  data () {
    return {
      listLoading: false,
      groupid: '',
      items: []
    }
  },
  methods: {
    getGroupID () {
      this.groupid = this.$store.state.Lottery.group.groupId
    },
    getList () {
      this.listLoading = true
      getLotteryGroupRelList(this.groupid).then((res) => {
        if (ERR_OK === res.data.code) {
          this.items = res.data.data.items.map((v) => {
            v.checked = Boolean(v.checked)
            return v
          })
        }
        this.listLoading = false
      })
    },
    _postLotteryGroupRelDel (row) {
      const str = row.checked ? '启用' : '禁用'
      this.$confirm(`将把彩种${row.lotteryName}从该组中${str}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = { groupId: this.groupid, lotteryId: row.lotteryId, bindStatus: row.checked ? 1 : 0 }
        postLotteryGroupRelAdd(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: `${str}成功!`
            })
            this.getList()
          } else {
            row.checked = !row.checked
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作!'
        })
        row.checked = !row.checked
      })
    }
  },
  created () {
    this.getGroupID()
    this.getList()
  }
}
</script>
