<template>
  <el-card>
    <el-alert
      style="margin-bottom: 5px"
      effect="dark"
      title="黑名单的配置将大于白名单的配置, 如:同一个IP即配置了白名单,又配置了黑名单,则认为该IP在黑名单内"
      type="warning"
      show-icon>
    </el-alert>
    <el-form :inline="true">
      <el-form-item>
        <el-select v-model="listQuery.ipType" placeholder="IP类型"
                   clearable
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.status" placeholder="IP状态"
                   clearable
        >
          <el-option
            v-for="item in status"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="search">查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" icon="el-icon-plus" @click="edit()">新增
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :key='tableKey' :data="items" v-loading="loading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              tooltip-effect="light"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <!--<el-table-column-->
      <!--type="index"-->
      <!--align="right"-->
      <!--label="序号"-->
      <!--width="50">-->
      <!--</el-table-column>-->
      <el-table-column align="right" label="配置编号" width="110" prop="id">
      </el-table-column>
      <el-table-column label="IP类型" align="right" width="150" prop="ipType">
        <template slot-scope="scope">
          <span>{{scope.row.ipType | typeFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column label="IP地址" prop="ipAddr" min-width="150" align="right">
      </el-table-column>
      <el-table-column align="right" label="状态" prop="status" min-width="200">
        <template slot-scope="scope">
          <el-radio-group v-model="scope.row.status" size="mini" @change="sChangeStatus(scope.row)">
            <el-radio-button :label="1">启用</el-radio-button>
            <el-radio-button :label="0">禁用</el-radio-button>
            <el-radio-button :label="99">删除</el-radio-button>
          </el-radio-group>
        </template>
      </el-table-column>
      <el-table-column align="right" label="创建人" width="160" prop="createUser">
      </el-table-column>
      <el-table-column align="right" label="修改时间" width="160" prop="createTime">
      </el-table-column>
      <el-table-column align="right" label="备注说明" prop="remark"
                       show-overflow-tooltip>
      </el-table-column>
      <el-table-column align="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" @click="edit(scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog :visible.sync="visible" :title="title" :before-close="handleClose">
      <el-form class="small-space" :model="temp" label-position="left"
               label-width="100px" :rules="rules" ref="UpdateForm">
        <el-form-item label="IP类型" prop="ipType">
          <el-radio-group v-model="temp.ipType" size="mini" :disabled="temp.id!==0">
            <el-radio-button :label="1">黑名单</el-radio-button>
            <el-radio-button :label="0">白名单</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="IP地址" prop="ipAddr">
          <el-input v-model="temp.ipAddr" type="text" name="ipAddr" placeholder="例如：127.0.0.1"></el-input>
        </el-form-item>
        <el-form-item label="备注说明" prop="remark">
          <el-input v-model="temp.remark" type="textarea" name="remark" placeholder="备注说明"
                    :maxlength="50"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="postModify(temp)">提 交
        </el-button>
        <el-button type="" @click="resetF">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import {
    getWhiteList,
    postWhiteListEdit,
    postWhiteListSwitch
  } from 'api/system'
  import { ERR_OK } from 'api/config'
  import {
    validateIP
  } from 'utils/validate'

  const pagePath = (rule, value, callback) => {
    if (!value) {
      return callback(new Error('请输入IP地址'))
    }
    if (!validateIP(value)) {
      callback(new Error('请输入正确的IP地址'))
    } else {
      callback()
    }
  }
  export default {
    name: 'Index',
    components: {},
    props: {},
    data () {
      return {
        rules: {
          ipAddr: [
            {
              required: true,
              trigger: 'blur',
              validator: pagePath
            }
          ]
        },
        temp: {
          id: 0,
          ipType: 0,
          ipAddr: '',
          remark: ''
        },
        title: '编辑',
        tableKey: 0,
        listQuery: {
          ipType: '',
          status: '',
          pageNo: 1,
          pageSize: 10
        },
        options: [
          {
            value: '0',
            label: '白名单'
          },
          {
            value: '1',
            label: '黑名单'
          }
        ],
        status: [
          {
            value: 0,
            label: '禁用'
          },
          {
            value: 1,
            label: '启用'
          },
          {
            value: 99,
            label: '删除'
          }
        ],
        items: [],
        loading: false,
        visible: false,
        total: 0
      }
    },
    computed: {},
    watch: {},
    methods: {
      handleClose (done) {
        this.resetF()
        done()
      },
      resetF () {
        this.temp = {
          id: 0,
          ipType: 0,
          ipAddr: '',
          remark: ''
        }
        this.$refs.UpdateForm.resetFields()
        this.visible = false
      },
      postModify () {
        // if (temp.remark.length > 99) {
        //   this.$message({
        //     type: 'error',
        //     message: `您输入的描述字数过长,无法正常提交`
        //   })
        //   return
        // }
        this.$refs.UpdateForm.validate((valid) => {
          if (valid) {
            const type = this.temp.ipType ? '黑名单' : '白名单'
            this.$confirm(`将IP${this.temp.ipAddr}添加到${type}列表中， 是否继续?`, '友情提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const {
                      id, ipType, ipAddr, remark
                    } = this.temp
              postWhiteListEdit({
                id, ipType, ipAddr, remark
              }).then((r) => {
                if (r.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `${this.title}成功`
                  })
                  this.resetF()
                  this.search()
                }
              })
            })
          }
        })
      },
      edit (row) {
        console.log(row)
        if (!row) {
          this.title = '新增'
        } else {
          this.title = '编辑'
          this.temp = { ...this.temp, ...row }
        }
        this.visible = true
      },
      sChangeStatus (row) {
        console.log(row)
        let type
        switch (row.status) {
          case 0:
            type = '禁用'
            break
          case 1:
            type = '启用'
            break
          default:
            type = '删除'
        }
        this.$confirm(`从${row.ipType === 1 ? '黑名单' : '白名单'}中${type}IP为${row.ipAddr}的地址， 是否继续?`, '友情提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postWhiteListSwitch({ id: row.id, status: row.status }).then((r) => {
            if (r.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${type}成功`
              })
              this.search()
            }
          })
        }).catch(() => {
          row.status = row.status_
        })
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this.search()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this.search()
      },
      search () {
        this.loading = true
        getWhiteList(this.listQuery).then((r) => {
          if (r.data.code === ERR_OK) {
            this.items = [].concat(r.data.data.elements.map((re) => {
              re.status_ = re.status
              return re
            }))
            this.total = r.data.data.totalCount
          }
        })
        this.loading = false
      }
    },
    created () {
      this.search()
    },
    beforeCreate () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {
      typeFilter (v) {
        const map = {
          0: '白名单',
          1: '黑名单'
        }
        return map[v]
      }
    }
  }
</script>

<style lang='scss' scoped>

</style>
