<template>
		<el-card>
				<el-form :inline='true'>
						<el-form-item>
								<!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
								<!--								           clearable default-first-option-->
								<!--								           v-model="listQuery.spCode">-->
								<!--										<el-option-->
								<!--											v-for="item in spList"-->
								<!--											:key="item.id"-->
								<!--											:label="item.id"-->
								<!--											:value="item.id">-->
								<!--										</el-option>-->
								<!--								</el-select>-->
								<fuzzy-query-search
									:options='{type:"spCode",placeholder:"请输入厅编码"}'
									@dealChange='dealChange'></fuzzy-query-search>
						</el-form-item>
						<el-form-item>
								<el-select v-model="lotteryTypeId" clearable filterable default-first-option placeholder="选择彩种类型"
								           @change="handleChange">
										<el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.lotteryId" clearable filterable default-first-option placeholder="选择彩种">
										<el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-date-picker
									v-model="dataValue"
									type="daterange"
									style="width: 380px"
									clearable
									unlink-panels
									:picker-options="pickerOptions"
									range-separator="至"
									start-placeholder="开始日期"
									end-placeholder="结束日期"
									align="right">
								</el-date-picker>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.sortType" clearable filterable default-first-option placeholder="选择排序类型">
										<el-option v-for="item in sortTypes" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" @click.native="_search"
								           :loading="listLoading"
								           :disabled="hasPermission('ReportLotteryList')">查询
								</el-button>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" @click.native="exportExel" :loading="loaded"
								           :disabled="!ReportList.length||hasPermission('ReportExLotteryList')">报表导出
								</el-button>
						</el-form-item>
				</el-form>
				<el-table
					:data="ReportList"
					border
					max-height='700'
					v-loading="listLoading"
					element-loading-text="拼命加载中"
					element-loading-spinner="el-icon-loading"
					:summary-method="getSummaries"
					show-summary
					style="width: 100%">
						<el-table-column
							prop="lotteryName"
							align="right"
							min-width="120"
							label="彩种名称">
						</el-table-column>
						<el-table-column
							prop="betNum"
							min-width="120"
							align="right"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'betNum')"
							label="投注人数">
						</el-table-column>
						<el-table-column
							prop="winningMoney"
							align="right"
							min-width="120"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
							label="中奖金额">
						</el-table-column>
						<el-table-column
							prop="validBetMoney"
							min-width="120"
							align="right"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'validBetMoney')"
							label="有效投注总额">
						</el-table-column>
						<el-table-column
							prop="withdrawMoney"
							align="right"
							min-width="120"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'withdrawMoney')"
							label="撤单金额">
						</el-table-column>
						<!-- <el-table-column
							prop="betRebateMoney"
							align="right"
							min-width="120"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'betRebateMoney')"
							label="投注返点总额">
						</el-table-column> -->
						<el-table-column
							prop="profitMoney"
							align="right"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'profitMoney')"
							min-width="120"
							label="投注盈利">
						</el-table-column>
						<el-table-column
							prop="slewRate"
							align="right"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'slewRate')"
							label="杀率">
								<template slot-scope='scope'>{{scope.row.slewRate}}%</template>
						</el-table-column>
				</el-table>
				<!--<div v-if="total" class="pagination-container fr">-->
				<!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
				<!--:current-page.sync="listQuery.pageNo"-->
				<!--:page-sizes="[10,20,50,100,500,1000]" :page-size="listQuery.pageSize"-->
				<!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
				<!--</el-pagination>-->
				<!--</div>-->
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData, postReportExport } from 'api/common'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/index'
// import qs from 'qs'
import { getReportLotteryList } from 'api/report'
// import { commonParams } from 'api/config'
// import Axios from 'axios'
import Settime from 'utils/settime'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

export default {
  components: { fuzzyQuerySearch },
  data () {
    return {
      dataValue: [],
      lotteryTypeList: [],
      loaded: false,
      lotteryTypeId: '',
      // spList: [],
      listQuery: {
        beginTime: '',
        endTime: '',
        lotteryId: '',
        sortType: 1,
        spCode: ''
      },
      totalMoney: 1000.00,
      allMoney: 1000.00,
      options: [],
      ReportList: [],
      sortTypes: [
        {
          value: 1,
          label: '彩种ID'
        },
        {
          value: 2,
          label: '投注人数'
        },
        {
          value: 3,
          label: '投注金额'
        },
        {
          value: 4,
          label: '中奖金额'
        },
        {
          value: 5,
          label: '撤单金额'
        },
        // {
        //   value: 6,
        //   label: '返点金额'
        // },
        {
          value: 7,
          label: '盈利'
        },
        {
          value: 8,
          label: '赢率'
        }
      ],
      total: 0,
      listLoading: false,
      pickerOptions: EnUSPickerOptions
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    // 排序功能
    sortMethod (obj1, obj2, column) {
      const v1 = obj1[column]
      const v2 = obj2[column]
      return v1 - v2
    },
    // _getReportDownloadList() {
    //   this.loaded = true
    //   getReportDownloadList({ type: 4 }).then(res => {
    //     if (ERR_OK === res.data.code) {
    //       this.loaded = false
    //       this.$store.dispatch('setDownloadData', res.data.data.items)
    //       this.$store.dispatch('setType', 4)
    //       const h = this.$createElement
    //       this.$msgbox({
    //         title: '生成报表成功',
    //         message: h('p', null, [
    //           h('span', null, '报表生成成功， '),
    //           h('i', {
    //             style: 'color: teal;cursor:pointer', on: {
    //               click: () => {
    //                 this.$router.push({ path: '/reports/ReportDownloadList' })
    //                 this.$msgbox.close()
    //               }
    //             }
    //           }, '点击前往下载')
    //         ]),
    //         showCancelButton: true,
    //         confirmButtonText: '前往下载',
    //         cancelButtonText: '取消',
    //         beforeClose: (action, instance, done) => {
    //           if (action === 'confirm') {
    //             this.$router.push({ path: '/reports/ReportDownloadList' })
    //             done()
    //           } else {
    //             done()
    //           }
    //         }
    //       })
    //     }
    //   })
    // },
    exportExel () {
      // getReportExLotteryList(this.listQuery).then(res => {
      //   if (res.data.code === ERR_OK) {
      //     this.$message({
      //       type: 'success',
      //       message: '导出成功'
      //     })
      //   } else {
      //     this.$message({
      //       type: 'error',
      //       message: '导出失败'
      //     })
      //   }
      // })
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      // const s = Object.assign({}, commonParams(), this.listQuery)
      // const ExcelUrl = window.API_ADMINFRONT_PROD + window.API_F_PATH + '/apiGet?' + qs.stringify(s) + '&cmd=ReportExLotteryList'
      // const ExcelUrl = 'http://192.168.198.146:8081' + window.API_F_PATH + '/apiGet?' + qs.stringify(s) + '&cmd=ReportExLotteryList'
      this.loaded = true
      postReportExport({ ...this.listQuery, cmd: 'ReportExLotteryList' }).then((res) => {
        if (ERR_OK === res.data.code) {
          this.$store.dispatch('reportDownload/setType', 4)
          const h = this.$createElement
          this.$msgbox({
            title: '提示信息',
            message: h('p', null, [
              h('span', null, '报表正在生成， '),
              h('i', {
                style: 'color: teal;cursor:pointer',
                on: {
                  click: () => {
                    this.$router.push({ path: '/reports/ReportDownloadList' })
                    this.$msgbox.close()
                  }
                }
              }, '点击前往下载')
            ]),
            showCancelButton: true,
            confirmButtonText: '前往下载',
            cancelButtonText: '取消',
            beforeClose: (action, instance, done) => {
              if (action === 'confirm') {
                this.$router.push({ path: '/reports/ReportDownloadList' })
                done()
              } else {
                done()
              }
            }
          })
        }
      })
      this.loaded = false
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '小计'
          return
        }
        if (index === 7) {
          sums[index] = ''
          return
        }
        const values = data.map((item) => Number(item[column.property]))
        if (!values.every((value) => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            }
            return prev
          }, 0)
          if (index !== 1) {
            sums[index] = sums[index].toFixed(2)
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    handleChange (val) {
      this.resetSelect()
      this._getLotteryInfoList()
    },
    resetSelect () {
      this.options = []
      this.listQuery.lotteryId = ''
    },
    // resetLotteryType(val) {
    //   this.lotteryTypeId = ''
    //   this.listQuery.lotteryId = ''
    //   this._getLotteryTypeList()
    // },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    // 获取彩种类型列表
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
        }
      })
    },
    // 获取彩种列表
    _getLotteryInfoList () {
      getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    _getReportLotteryList () {
      if (this.lotteryTypeId && !this.listQuery.lotteryId) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '请选择彩种',
          offset: 200
        })
        //          this.$message({
        //            type: 'error',
        //            message: '请选择彩种'
        //          })
        return
      }
      // if (this.listQuery.beginTime && this.listQuery.endTime) {
      // const t = new Date(this.listQuery.beginTime)
      // const tt = new Date(this.listQuery.endTime)
      // this.listQuery.beginTime = parseTime(t, '{y}-{m}-{d}')
      // this.listQuery.endTime = parseTime(tt, '{y}-{m}-{d}')
      // } else if (this.listQuery.beginTime || this.listQuery.endTime) {
      // this.$message({
      // type: 'error',
      // message: '开始时间和结束时间必须成对出现'
      // })
      // return
      // }
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getReportLotteryList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.ReportList = res.data.data.items.map((v) => {
            // v.betNum = v.betNum + '人'
            v.slewRate = (v.slewRate * 100).toFixed(2)
            return v
          })
        }
        this.listLoading = false
      })
    },
    _search () {
      this._getReportLotteryList()
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    // this._getSpInfoList()
    this._getLotteryTypeList()
  }
}
</script>
<style solt-scoped="scoped">
		.profitLoss {
				width: 100%;
				height: 40px;
				min-width: 0;
				border: 1px solid #dfe6ec;
				border-top: none;
				padding-right: 20px;
				box-sizing: border-box;
				text-overflow: ellipsis;
				text-align: right;
				vertical-align: middle;
				line-height: 40px;
				white-space: normal;
				word-break: break-all;
		}
</style>
