<template>
		<div class="regionalRestriction" id="mtMinH">
				<div class="regionalRestriction-in">
				</div>
		</div>
</template>
<script>
export default {
  name: 'Maintenance',
  components: {},
  props: {},
  data () {
    return {}
  },
  computed: {},
  watch: {},
  methods: {},
  beforeCreate () {},
  created () {
  },
  beforeMount () {},
  mounted () {},
  beforeUpdate () {},
  updated () {},
  activated () {},
  deactivated () {},
  beforeDestroy () {
  },
  destroyed () {},
  filters: {}
}
</script>

<style lang='scss' scoped>
		.regionalRestriction {
				text-align: center;

				.regionalRestriction-in {
						position: fixed;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						padding: 0;
						margin: 0;
						min-width: 600px;
						min-height: 300px;
						background: url('~@/assets/regionalRestriction.png');
						background-size: 100% 100%;
						z-index: 3000; //覆盖可能出现的提示弹窗
				}
		}
</style>
