<template>
		<el-card>
				<el-table :key='tableKey' :data="elements" v-loading="listLoading" border fit highlight-current-row
				          element-loading-text="拼命加载中"
				          element-loading-spinner="el-icon-loading"
				          style="width: 100%">

						<el-table-column align="right" label="平台商" width="90">
								<template slot-scope="scope">
										<span>{{scope.row.spCode}}</span>
								</template>
						</el-table-column>

						<el-table-column algin="right" label="会员账号">
								<template slot-scope="scope">
										<span>{{scope.row.loginId}}</span>
								</template>
						</el-table-column>

						<el-table-column align="right" label="交易类型">
								<template slot-scope="scope">
										<span :class="[scope.row.tradeType === 1 ?'blue':'red']">{{scope.row.cashType | traceFilter}}</span>
								</template>
						</el-table-column>
						<el-table-column width="200" align="right" label="注单号">
								<template slot-scope="scope">
          <span @click="_showDialog(scope.row)"><a href="javascript:;"
                                                   style="color:cornflowerblue">{{scope.row.orderCode}}</a></span>
								</template>
						</el-table-column>
						<el-table-column align="right" label="原金额">
								<template slot-scope="scope">
										<span>{{scope.row.historyMonery}}</span>
								</template>
						</el-table-column>
						<el-table-column width="140" align="right" label="操作金额">
								<template slot-scope="scope">
										<span>{{scope.row.cashMoney}}</span>
								</template>
						</el-table-column>
						<el-table-column width="180" align="right" label="剩余金额">
								<template slot-scope="scope">
										<span>{{scope.row.balanceMoney}}</span>
								</template>
						</el-table-column>
						<el-table-column width="230" align="right" label="交易时间">
								<template slot-scope="scope">
										<span>{{scope.row.createTime}}</span>
								</template>
						</el-table-column>
						<el-table-column label="备注" align="right" width="220">
								<template slot-scope="scope">
										<span>{{scope.row.description}}</span>
								</template>
						</el-table-column>

				</el-table>
				<div v-show="elements.length" class="pagination-container">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						               :current-page.sync="listQuery.pageNo"
						               :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
						               layout="total, sizes, prev, pager, next, jumper" :total="total">
						</el-pagination>
				</div>

				<el-dialog :visible.sync="dialogFormVisible" title="订单详情" :before-close="handleClose" append-to-body>
						<el-form class="small-space small-space1" label-position="left" :label-width="formLabelWidth"
						         style='margin-left:50px;'>

								<el-form-item label="订单号" :label-width="formLabelWidth">
										<span>{{ Jsonelements.orderCode }}</span>
								</el-form-item>
								<el-form-item label="来源终端类型" :label-width="formLabelWidth">
										<span>{{ Jsonelements.clientType | clientFilter}}</span>
								</el-form-item>
								<el-form-item label="所属渠道" :label-width="formLabelWidth">
										<span>{{ Jsonelements.channel }}</span>
								</el-form-item>
								<el-form-item label="所属厅主" :label-width="formLabelWidth">
										<span>{{ Jsonelements.spCode }}</span>
								</el-form-item>
								<el-form-item label="用户账号" :label-width="formLabelWidth">
										<span>{{Jsonelements.loginId}}</span>
								</el-form-item>
								<el-form-item label="彩种名称" :label-width="formLabelWidth">
										<span>{{Jsonelements.lotteryName}}</span>
								</el-form-item>
								<el-form-item label="期号" :label-width="formLabelWidth">
										<span>{{Jsonelements.issue}}</span>
								</el-form-item>
								<el-form-item label="所属玩法" :label-width="formLabelWidth">
										<span>{{Jsonelements.playName}}</span>
								</el-form-item>
								<el-form-item label="订单状态" :label-width="formLabelWidth">
										<span>{{Jsonelements.status | statusFilter}}</span>
								</el-form-item>
								<el-form-item label="IP地址" :label-width="formLabelWidth">
										<span>{{Jsonelements.ip}}</span>
								</el-form-item>
								<el-form-item label="注单时间" :label-width="formLabelWidth">
										<span>{{Jsonelements.createTime}}</span>
								</el-form-item>
								<el-form-item label="投注数量" :label-width="formLabelWidth">
										<span>{{Jsonelements.buyNumber}}</span>
								</el-form-item>
								<el-form-item label="单注金额/元" :label-width="formLabelWidth">
										<span>{{Jsonelements.singleMoney}}</span>
								</el-form-item>
								<el-form-item label="总金额/元" :label-width="formLabelWidth">
										<span>{{Jsonelements.orderMoney}}</span>
								</el-form-item>
								<el-form-item label="投注赔率" :label-width="formLabelWidth">
										<span>{{Jsonelements.prize}}</span>
								</el-form-item>
								<!-- <el-form-item label="投注返点率" :label-width="formLabelWidth">
										<span>{{Jsonelements.rebateRate}}</span>
								</el-form-item> -->
								<!-- <el-form-item label="返点金额/元" :label-width="formLabelWidth">
										<span>{{Jsonelements.rebateMoney}}</span>
								</el-form-item> -->
								<el-form-item label="开奖号码" :label-width="formLabelWidth">
										<span>{{Jsonelements.openCode}}</span>
								</el-form-item>
								<el-form-item label="下注号码" :label-width="formLabelWidth">
										<span class="s-span">{{Jsonelements.buyCodeCase}}</span>
								</el-form-item>
								<el-form-item label="中奖金额/元" :label-width="formLabelWidth">
										<span>{{Jsonelements.winMoney}}</span>
								</el-form-item>
								<el-form-item label="中奖单数" :label-width="formLabelWidth">
										<span>{{Jsonelements.winCount}}</span>
								</el-form-item>
								<el-form-item label="盈亏金额/元" :label-width="formLabelWidth">
										<span>{{Jsonelements.profitMoney}}</span>
								</el-form-item>
								<el-form-item label="是否追号注单" :label-width="formLabelWidth">
										<span>{{Jsonelements.trace | winningToStopList}}</span>
								</el-form-item>
								<el-form-item label="中奖后是否停止追号" :label-width="formLabelWidth">
										<span>{{Jsonelements.winningToStop | winningToStopList}}</span>
								</el-form-item>
								<el-form-item label="追号注单上级注单编码" :label-width="formLabelWidth">
										<span>{{Jsonelements.traceCode}}</span>
								</el-form-item>
								<el-form-item label="结算次数" :label-width="formLabelWidth">
										<span>{{Jsonelements.settleNum}}</span>
								</el-form-item>
								<el-form-item label="结算时间" :label-width="formLabelWidth">
										<span>{{Jsonelements.settleTime}}</span>
								</el-form-item>
						</el-form>
						<div slot="footer" class="dialog-footer">
								<el-button type="primary" @click="resetForm">关 闭</el-button>
						</div>
				</el-dialog>
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getMemberCashflowList } from 'api/cashflow'
import { getOrderDetail } from 'api/orders'

export default {
  data () {
    return {
      dialogFormVisible: false,
      listLoading: false,
      formLabelWidth: '120px',
      tableKey: 0,
      elements: [],
      memberList: [],
      useStatus: [0, 1],
      onlineStatus: [0, 1],
      Jsonelements: {},
      listQuery: {
        spCode: '',
        loginId: '',
        pageNo: 1,
        pageSize: 10
      },
      total: 0
    }
  },
  filters: {
    traceFilter (type) {
      const typeMap = {
        10: '投注',
        20: '派彩',
        30: '撤单',
        40: '金流转入',
        50: '金流转出',
        // 60: '投注返点',
        // 70: '代理返点',
        80: '一元夺奖'
      }
      return typeMap[type]
    },
    clientFilter (type) {
      const clientMap = {
        1: 'WEB',
        2: 'WAP(H5)',
        3: 'Android',
        4: 'iOS',
        5: 'IPAD'
      }
      return clientMap[type]
    },
    winningToStopList (type) {
      const winningToStoptMap = {
        0: '否',
        1: '是'
      }
      return winningToStoptMap[type]
    },
    statusFilter (type) {
      const statusMap = {
        0: '未结算',
        1: '用户撤单',
        2: '追号撤单',
        3: '系统撤单',
        4: '已结算_平局',
        5: '已结算_输',
        6: '已结算_赢'
      }
      return statusMap[type]
    }
  },
  created () {
    this.listQuery.spCode = this.$store.state.Member.info.spCode
    this.listQuery.loginId = this.$store.state.Member.info.loginId
    this._getList()
  },
  methods: {
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._getList()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._getList()
    },
    resetForm () {
      this.dialogFormVisible = false
      this.Jsonelements = {}
    },
    _showDialog (row) {
      this.dialogFormVisible = true
      getOrderDetail({ orderCode: row.orderCode }).then((res) => {
        if (res.data.code === ERR_OK) {
          const d = res.data.data.orderInfo
          d.singleMoney = parseFloat(d.singleMoney / 100).toFixed(2)
          d.orderMoney = parseFloat(d.orderMoney / 100).toFixed(2)
          d.winMoney = parseFloat(d.winMoney / 100).toFixed(2)
          const prize = d.prize.split(',')
          const StringArr = prize.map((v) => {
            v = parseFloat(v / 100).toFixed(2)
            return v
          })
          d.prize = StringArr.join(',')
          d.profitMoney = parseFloat(d.profitMoney / 100).toFixed(2)
          this.Jsonelements = d
        }
      })
    },
    handleClose (done) {
      this.resetForm()
      done()
    },
    _getList () {
      this.listLoading = true
      getMemberCashflowList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.elements.map((v) => {
            v.historyMonery = (v.historyMonery / 100).toFixed(2)
            v.balanceMoney = (v.balanceMoney / 100).toFixed(2)
            v.cashMoney = (v.cashMoney / 100).toFixed(2)
            return v
          })
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    }
  }
}
</script>
<style>
		.pagination-container {
				text-align: right;
		}

		.small-space1 .el-form-item {
				width: 50%;
				float: left;
		}

		.el-dialog--small {
				width: 60% !important;
				top: 300px
		}

		.el-table .cell {
				font-size: 12px;
				padding: 0 6px;
				line-height: 25px;
		}

		.s-span {
				display: inline-block;
				width: 98%;
		}

		.red {
				color: #FF0000;
		}

		.blue {
				color: #0a760a;
		}
</style>
