<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-input v-model="listQuery.command" clearable style="width: 180px"
                  placeholder="请输入请求的CMD值"></el-input>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" clearable default-first-option
                   v-model="listQuery.status">
          <el-option v-for="item in statusLists" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：由第三方平台调用彩票平台cloud模块产生的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="访问类型" prop="optType" width="160">
      </el-table-column>
      <el-table-column align="right" label="接口CMD值" prop="command" width="160">
      </el-table-column>
      <el-table-column align="right" label="访问IP" prop="optIp" min-width="130">
      </el-table-column>
      <el-table-column align="right" label="操作描述" prop="description" min-width="160">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="light" placement="top">
            <div slot="content">{{scope.row.description}}</div>
            <span class="a1" style="color:#374eff;cursor: pointer">{{scope.row.description}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="right" label="响应时间" prop="responseTime" min-width="130">
      </el-table-column>
      <el-table-column align="right" label="响应结果" prop="responseResult" min-width="130">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" min-width="160">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="800"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { LoggerCloudInfoList } from 'api/logs/index'
  import Settime from 'utils/settime'
  import JsonEditor from 'components/JsonEditor'

  export default {
    components: {
      JsonEditor
    },
    data () {
      return {
        value: '',
        popover_visible: false,
        listLoading: false,
        listQuery: {
          command: '',
          beginTime: '',
          endTime: '',
          status: '',
          pageNo: 1,
          pageSize: 10
        },
        statusLists: [
          {
            value: 0,
            label: '成功'
          },
          {
            value: 1,
            label: '失败'
          }
        ],
        elements: [],
        total: 0,
        dataValue: [],
        pickerOptions: EnUSPickerOptions
      }
    },
    methods: {
      showDetail (v) {
        if (v) {
          if (v.indexOf('{') === -1) {
            let t = ''
            if (v.indexOf('title') > -1) {
              t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
            } else {
              t = v
            }
            v = `{"result":"${t.replace('\"{', '{').replace('}\"', '}')}"}`
          }
          this.value = JSON.parse(v)
        }
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.getLoggerList()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this.getLoggerList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this.getLoggerList()
      },
      getLoggerList () {
        // if (this.listQuery.beginTime && this.listQuery.endTime) {
        // const t = new Date(this.listQuery.beginTime)
        // const tt = new Date(this.listQuery.endTime)
        // this.listQuery.beginTime = parseTime(t)
        // this.listQuery.endTime = parseTime(tt)
        // } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        // this.$message({
        // type: 'error',
        // message: '开始时间和结束时间必须成对出现'
        // })
        // return
        // }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        LoggerCloudInfoList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            // this.elements = res.data.data.items.map(r => {
            // r.reqParams = r.reqParams.replace(/[\\\/\b\f\n\r\t]/g, '')
            // r.respParams = r.respParams.replace(/[\\\/\b\f\n\r\t]/g, '')
            // return r
            // })
            this.elements = res.data.data.items.map((v) => {
              v.responseTime = `${v.responseTime}ms`
              return v
            })
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this.getLoggerList()
    }
  }
</script>
<style lang="scss" scoped>
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .editor-container {
    position: relative;
    height: 100%;
  }

  ::v-deep .el-dialog__body {
    padding: 10px 20px;

    .components-container {
      margin: 10px;
    }
  }
</style>
