<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input v-model="listQuery.loginId" clearable style="width: 180px"-->
        <!--								          placeholder="请输入用户账号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.reqCmd" clearable style="width: 180px"
                  placeholder="请输入请求的CMD值"></el-input>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option
                   v-model="listQuery.apiType">
          <el-option v-for="item in apiTypeList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px" default-first-option
                   v-model="listQuery.clientType" placeholder="请选择客户端类型">
          <el-option v-for="item in clientTypeList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.identity" clearable style="width: 180px"
                  placeholder="请输入identity值"></el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：由前端访问彩票平台相关API产生的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="所属厅主" prop="spCode" min-width="110">
      </el-table-column>
      <el-table-column align="right" label="用户账号" prop="loginId" min-width="110">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" min-width="150">
      </el-table-column>
      <el-table-column align="right" label="接口CMD值" prop="infCmd" min-width="118">
      </el-table-column>
      <el-table-column align="right" label="identity值" prop="identity" min-width="110">
      </el-table-column>
      <el-table-column align="right" label="访问IP" prop="loginIp" min-width="117">
      </el-table-column>
      <el-table-column align="right" label="接口类型" prop="apiType" min-width="105">
        <template slot-scope="scope">
          <span>{{scope.row.apiType | apiFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="客户端类型" min-width="115">
        <template slot-scope="scope">
          <span>{{scope.row.clientType | clientFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="版本号" prop="version" min-width="105">
      </el-table-column>
      <el-table-column align="right" label="状态" prop="version" min-width="105">
        <template slot-scope="scope">
          <span>{{ scope.row.status === 0?'成功':'失败' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="请求报文" prop="reqParams" min-width="105">
        <template slot-scope="scope" v-if="scope.row.reqParams">
          <el-button type="text" @click="showDetail(scope.row.reqParams)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="响应报文" prop="respParams" min-width="105">
        <template slot-scope="scope" v-if="scope.row.respParams">
          <el-button type="text" @click="showDetail(scope.row.respParams)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="800"
      title="查看详情"
      :visible.sync="popover_visible" append-to-body>
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { getLoggerApiList } from 'api/logs/index'
  import JsonEditor from 'components/JsonEditor'
  import Settime from 'utils/settime'
  // import { getAjaxData } from 'api/common'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: {
      JsonEditor, fuzzyQuerySearch
    },
    data () {
      return {
        value: '',
        spList: [],
        popover_visible: false,
        listLoading: false,
        listQuery: {
          spCode: '',
          status: '',
          loginId: '',
          reqCmd: '',
          apiType: 1,
          clientType: 1,
          beginTime: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10,
          identity: ''
        },
        elements: [],
        total: 0,
        dataValue: [],
        apiTypeList: [
          {
            value: 1,
            label: 'API接口'
          },
          {
            value: 2,
            label: 'TPI接口'
          },
          {
            value: 3,
            label: 'CLOUD接口'
          },
          {
            value: 4,
            label: 'WAPI接口'
          }
        ],
        clientTypeList: [
          {
            value: 1,
            label: 'WEB'
          },
          {
            value: 2,
            label: 'WAP(H5)'
          },
          {
            value: 3,
            label: 'Android'
          },
          {
            value: 4,
            label: 'iOS'
          },
          {
            value: 5,
            label: 'IPAD'
          }
        ],
        pickerOptions: EnUSPickerOptions
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // },
      showDetail (v) {
        if (v) {
          if (v.indexOf('{') === -1) {
            let t = ''
            if (v.indexOf('title') > -1) {
              t = v.substring(v.indexOf('title') + 6, v.indexOf('/title') - 1)
            } else {
              t = v
            }
            v = `{"result":"${t.replace('\"{', '{').replace('}\"', '}')}"}`
          }
          this.value = JSON.parse(v)
        }
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this._search()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this._search()
      },
      _search () {
        this.getLoggerList()
      },
      getLoggerList () {
        // /* if (this.listQuery.beginTime && this.listQuery.endTime) {
        //  const t = new Date(this.listQuery.beginTime)
        //  const tt = new Date(this.listQuery.endTime)
        //  this.listQuery.beginTime = parseTime(t)
        //  this.listQuery.endTime = parseTime(tt)
        //  } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        //  this.$message({
        //  type: 'error',
        //  message: '开始时间和结束时间必须成对出现'
        //  })
        //  return
        //  }*/
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getLoggerApiList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            // /* this.elements = res.data.data.items.map(r => {
            //  r.reqParams = r.reqParams.replace(/[\\\/\b\f\n\r\t]/g, '')
            //  r.respParams = r.respParams.replace(/[\\\/\b\f\n\r\t]/g, '')
            //  return r
            //  })*/
            this.elements = res.data.data.items
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      this.getLoggerList()
    },
    filters: {
      clientFilter (type) {
        const clientMap = {
          1: 'WEB',
          2: 'WAP(H5)',
          3: 'Android',
          4: 'iOS',
          5: 'IPAD'
        }
        return clientMap[type]
      },
      apiFilter (type) {
        const apiMap = {
          1: 'API接口',
          2: 'TPI接口',
          3: 'CLOUD接口'
        }
        return apiMap[type]
      }
    }
  }
</script>
<style scoped="scoped" lang="scss">
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .editor-container {
    position: relative;
    height: 100%;
  }

  .el-dialog__body {
    padding: 10px 20px;

    .components-container {
      margin: 10px;
    }

  }
</style>
