<template>
		<el-card class="box-card" :span="12">
				<div slot="header" class="clearfix">
						<el-row>
								<el-col :span="12">
										<el-select v-model="lotteryType" placeholder="彩种类型" clearable filterable default-first-option>
												<el-option
													v-for="item in options2"
													:key="item.value"
													:label="item.label"
													:value="item.value"
													:disabled="item.disabled">
												</el-option>
										</el-select>
								</el-col>
								<el-col :span="12">
										<el-select v-model="chooseLottery" placeholder="选择彩种" clearable filterable default-first-option>
												<el-option
													v-for="item in options3"
													:key="item.value"
													:label="item.label"
													:value="item.value"
													:disabled="item.disabled">
												</el-option>
										</el-select>
								</el-col>
						</el-row>
				</div>
				<el-row :gutter="20">
						<el-col :span="7">彩种类型：<span>{{lotteryTabName}}</span></el-col>
						<el-col :span="7">彩种名称：<span>{{lotteryTypeName}}</span></el-col>
				</el-row>
				<br />
				<el-row :gutter="20">
						<el-col :span="12">
								<el-select v-model="ruleType" placeholder="规则类型" clearable filterable default-first-option>
										<el-option
											v-for="item in ruleTypecon"
											:key="item.value"
											:label="item.label"
											:value="item.value"
											:disabled="item.disabled">
										</el-option>
								</el-select>
						</el-col>
						<el-col :span="12" align="right">
								<el-button type="primary">设置</el-button>
						</el-col>
				</el-row>
				<el-row>
						<br />
						<el-col>
								<el-table
									border
									:data="tableData"
									stripe
									style="width: 100%">
										<el-table-column
											prop="id"
											align="right"
											label="序号">
										</el-table-column>
										<el-table-column
											prop="beginTime"
											align="right"
											label="排除开始时间">
										</el-table-column>
										<el-table-column
											prop="endTime"
											align="right"
											label="排除结束时间">
										</el-table-column>
								</el-table>
						</el-col>
				</el-row>
		</el-card>
</template>
<script>
export default {
  data () {
    return {
      lotteryTabName: '时时彩',
      lotteryTypeName: '重庆时时彩',
      lotteryType: '',
      chooseLottery: '',
      ruleType: '',
      tableData: [{
        id: '1',
        beginTime: '2016-03-09 09:00:00',
        endTime: '2016-03-09 09:01:00',
        pl: '2016-03-09 09:01:00',
        isOpen: '是'
      }, {
        id: '2',
        beginTime: '2016-03-10 09:00:00',
        endTime: '2016-03-10 09:01:00',
        pl: '2016-03-09 09:01:00',
        isOpen: '是'
      }
      ],
      options2: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }],
      options3: [{
        value: '选项2',
        label: '黄金糕'
      }, {
        value: '选项3',
        label: '双皮奶'
      }],
      ruleTypecon: [{
        value: '以天为周期，每N分钟一期',
        label: '以天为周期，每N分钟一期'
      }, {
        value: '以年为周期，每天一期',
        label: '以年为周期，每天一期'
      }]
    }
  }
}
</script>
