<template>
		<el-card class="box-card" :span="12">
				<div slot="header" class="clearfix">
						<el-row>
								<el-col :span="12">
										<el-select v-model="lotteryType" placeholder="彩种类型" clearable filterable default-first-option>
												<el-option
													v-for="item in options2"
													:key="item.value"
													:label="item.label"
													:value="item.value"
													:disabled="item.disabled">
												</el-option>
										</el-select>
								</el-col>
								<el-col :span="12">
										<el-select v-model="chooseLottery" placeholder="选择彩种" clearable filterable default-first-option>
												<el-option
													v-for="item in options3"
													:key="item.value"
													:label="item.label"
													:value="item.value"
													:disabled="item.disabled">
												</el-option>
										</el-select>
								</el-col>
						</el-row>
				</div>
				<el-row type="flex" justify="center" align="middle" class="card-body">
						<el-col align="right">
								<el-button type="primary" size="large">大型按钮</el-button>
						</el-col>
				</el-row>
		</el-card>
</template>
<script>
export default {
  data () {
    return {
      lotteryType: '',
      chooseLottery: '',
      cardBodyStyle: {
        minHeight: '300px'
      },
      options2: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }],
      options3: [{
        value: '选项2',
        label: '黄金糕'
      }, {
        value: '选项3',
        label: '双皮奶'
      }]

    }
  }
}
</script>
