<template>
  <el-card v-loading="loading">
    <el-form :inline="true">
      <el-select
        v-model="listQuery.lotteryTypeId"
        placeholder="选择彩种类型"
        @change="handleChange"
        clearable
        filterable
        default-first-option
        @clear="resetSelect"
      >
        <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
      <el-select
        v-model="listQuery.lotteryId"
        placeholder="选择彩种"
        clearable
        filterable
        default-first-option
      >
        <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
      <el-button
        @click="_getIssueRuleInfo"
        type="primary"
        :disabled="!listQuery.lotteryId || hasPermission('GetIssueRuleInfo')"
      >查询</el-button>
      <el-button
        @click="reset"
        type="primary"
        :disabled="!listQuery.lotteryId || hasPermission('IssueBatchUpdate')"
      >重置</el-button>
      <!-- <el-button type="primary" @click="showDialog"
											 :disabled="!listQuery.lotteryId || hasPermission('IssueRuleSpecialAdd')">
							添加
      </el-button>-->
    </el-form>
    <!-- 查询结果 -->
    <el-card class="box-card" :span="12" v-if="listType.ruleType">
      <el-row :gutter="20">
        <el-col :span="7">
          彩种类型：
          <span>{{this.lotteryObject.lotteryTypeName}}</span>
        </el-col>
        <el-col :span="7">
          彩种名称：
          <span>{{this.lotteryObject.lotteryIdName}}</span>
        </el-col>
      </el-row>
      <br />
      <el-row :gutter="20">
        <el-col :span="12">
          <div>
            <span>规则类型：</span>
            {{this.listType.ruleType|ruleTypeNum}}
          </div>
        </el-col>
        <!--<el-col :span="12" align="right">-->
        <!--<el-button type="primary" @click='updateRuleInfo'>设置</el-button>-->
        <!--</el-col>-->
      </el-row>
      <el-row>
        <br />
        <template v-if="listType.ruleType === 1">
          <rule1-table :table-data="listType.ruleList" :rule-info="listType"></rule1-table>
        </template>
        <template v-if="listType.ruleType === 2">
          <rule2-table :table-data="listType.ruleList"></rule2-table>
        </template>
      </el-row>
    </el-card>
    <div v-else class="no-data">
      <img src="../../../assets/noData.png" alt="暂无数据" />
      <div style="font-size: 20px; margin-top: 10px">暂无数据</div>
    </div>
    <!-- 弹框 -->
    <el-dialog title="彩期设置" :visible.sync="dialogFormVisible" width="1100px" append-to-body>
      <!-- 内容 -->
      <el-card class="box-card" :span="12">
        <el-row :gutter="20">
          <el-col :span="7">
            彩种类型：
            <span>{{this.lotteryObject.lotteryTypeName}}</span>
          </el-col>
          <el-col :span="7">
            彩种名称：
            <span>{{this.lotteryObject.lotteryIdName}}</span>
          </el-col>
        </el-row>
        <br />
        <el-row :gutter="20">
          <el-col :span="12">
            <div>
              <span>规则类型：</span>
              {{this.listType.ruleType|ruleTypeNum}}
            </div>
            <!-- <el-select v-model="ruleInfo.ruleType" placeholder="规则类型" style='width: 230px'
																	 clearable filterable default-first-option>
													<el-option
														v-for="item in ruleTypeSelect"
														:key="item.value"
														:label="item.label"
														:value="item.value"
														:disabled="item.disabled">
													</el-option>
            </el-select>-->
          </el-col>
          <!-- <el-col :span="12" align="right">
											<el-button type="primary" @click='addRule'>添加</el-button>
          </el-col>-->
        </el-row>
        <el-row>
          <br />
          <template v-if="ruleInfo.ruleType === 1">
            <rule1-table :table-data="ruleSetList" :rule-info="ruleInfo" is-edit></rule1-table>
          </template>

          <template v-if="ruleInfo.ruleType === 2">
            <rule2-table :table-data="ruleSetList" is-edit></rule2-table>
          </template>
        </el-row>
      </el-card>
      <!-- 确认取消按钮 -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button @click="saveData" type="primary">保 存</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData } from 'api/common'
import { getIssueRuleInfoList, postIssueRuleSaveBatch, saveIssueBatchUpdate } from 'api/issue'
// import { toDateWithOutTimeZone } from 'utils/index'
import Rule1Table from './Rule1Table'
import Rule2Table from './Rule2Table'

export default {
  components: {
    Rule1Table,
    Rule2Table
  },
  data () {
    return {
      ruleType: 0,
      detailInfo: {},
      listType: {},
      ruleTypeSelect: [
        {
          value: 1,
          label: '以年为周期，每天一期'
        },
        {
          value: 2,
          label: '以天为周期，每N分钟一期'
        }
      ],
      ruleTypeName: '',
      lotteryType: '',
      lotteryObject: {
        lotteryTypeName: '',
        lotteryIdName: ''
      },
      typeList: [],
      dialogFormVisible: false,
      lotteryList: [],
      listQuery: {
        lotteryTypeId: '',
        lotteryId: ''
      },
      ruleInfo: {
        lotteryTypeId: '',
        lotteryId: '',
        ruleType: '',
        beginTime: '',
        endTime: '',
        spanDay: ''
      },
      query: {
        lotteryId: ''
      },
      ruleSetList: [],
      loading: false
    }
  },
  created () {
    this._getLotteryTypeList()
  },
  methods: {
    reset () {
      this.$confirm('将对当前期号规则重置，是否继续？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {
          lotteryId: this.listQuery.lotteryId
        }
        saveIssueBatchUpdate(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              type: 'success',
              message: '操作成功！'
            })
          }
        })
      })
    },
    saveData () {
      if (!this._checkedsaveData()) return
      this.$confirm('将修改设置数据，是否继续？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then((res) => {
        this._saveIssueRuleInfo()
      })
    },
    showDialog () {
      this.ruleInfo = {
        lotteryTypeId: this.listQuery.lotteryTypeId,
        lotteryId: this.listQuery.lotteryId,
        ruleType: '',
        beginTime: '',
        endTime: '',
        spanDay: ''
      }
      this.ruleSetList = []
      this.ruleInfo.lotteryTypeId = this.listQuery.lotteryTypeId
      this.ruleInfo.lotteryId = this.listQuery.lotteryId
      this.dialogFormVisible = true
    },
    // addRule() {
    //   if (this.ruleInfo.ruleType === 1) {
    //     const role = {
    //       id: 0,
    //       beginDate: '',
    //       endDate: '',
    //       step: 1
    //     }
    //     this.ruleSetList.push(role)
    //   }
    //   if (this.ruleInfo.ruleType === 2) {
    //     const role = {
    //       id: 0,
    //       beginTime: '',
    //       endTime: '',
    //       spanDay: 0,
    //       step: 1
    //     }
    //     this.ruleSetList.push(role)
    //   }
    // },
    // deleteRow(index) {
    //   this.ruleSetList.splice(index, 1)
    // },
    updateRuleInfo () {
      this.ruleInfo = { ...this.listType }
      // if (this.ruleInfo.ruleType === 1) {
      //   this.ruleInfo.beginTime = toDateWithOutTimeZone(this.ruleInfo.beginTime)
      //   this.ruleInfo.endTime = toDateWithOutTimeZone(this.ruleInfo.endTime)
      // }
      console.log(this.ruleInfo)
      this.ruleSetList = this.listType.ruleList.map((item) => {
        const saveItem = { ...item }
        // if (this.ruleInfo.ruleType === 2) {
        //   saveItem.beginTime = toDateWithOutTimeZone(saveItem.beginTime).format('HH:MM:SS')
        //   saveItem.endTime = toDateWithOutTimeZone(saveItem.endTime)
        // }
        return saveItem
      })
      console.log(this.ruleSetList)
      this.dialogFormVisible = true
    },
    // 验证新增或保存时的数据
    _checkedsaveData () {
      let str = ''
      if (!this.ruleInfo.ruleType) {
        str += '彩种的规则类型不能为空,'
      }
      if (Number(this.ruleInfo.ruleType) === 1) {
        if (!this.ruleInfo.beginTime) {
          str += '以年为周期时，开盘时间不能为空,'
        }
        if (!this.ruleInfo.endTime) {
          str += '以年为周期时，封盘时间不能为空,'
        }
        if (this.ruleSetList.length === 0) {
          str += '规则列表不能为空,'
        } else {
          this.ruleSetList.forEach((item, index) => {
            if (!item.beginDate) {
              str += `规则列表里第${index + 1}条规则的排除开始时间为空，`
            }
            if (!item.endDate) {
              str += `规则列表里第${index + 1}条规则的排除结束时间为空`
            }
          })
        }
      }
      if (Number(this.ruleInfo.ruleType) === 2) {
        if (this.ruleSetList.length === 0) {
          str += '规则列表不能为空,'
        } else {
          this.ruleSetList.forEach((item, index) => {
            if (!item.beginTime) {
              str += `规则列表里第${index + 1}条规则的开始时间为空，`
            }
            if (!item.endTime) {
              str += `规则列表里第${index + 1}条规则的结束时间为空`
            }
            if (!item.step) {
              str += `规则列表里第${index + 1}条规则的频率为空`
            }
          })
        }
      }
      if (!str) return true
      this.$notify.error({
        title: '错误',
        message: str,
        duration: 0
      })
      return false
    },
    // 新增或修改彩期规则
    _saveIssueRuleInfo () {
      this.loading = true
      postIssueRuleSaveBatch({
        issueRuleInfo: JSON.stringify(this.ruleInfo),
        issueRuleSetList: JSON.stringify(this.ruleSetList)
      }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.$message({
            type: 'success',
            message: '操作成功！'
          })
          this._getIssueRuleInfo()
          this.dialogFormVisible = false
        }
        this.loading = false
      })
    },
    // 获取查询数据
    _getIssueRuleInfo () {
      this.loading = true
      getIssueRuleInfoList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.listType = res.data.data.issueRuleInfo
          this.lotteryObject.lotteryIdName = res.data.data.lotteryIdName
          this.lotteryObject.lotteryTypeName = res.data.data.lotteryTypeName
        }
        this.loading = false
      })
    },
    // 获取彩种类型
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.typeList = res.data.data.items
        }
      })
    },
    // 获取彩种
    handleChange (val) {
      this.resetSelect()
      getAjaxData({ dataType: 13, pId: val }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryList = res.data.data.items
        }
      })
    },
    // 删除彩种类型时清空彩种
    resetSelect () {
      this.lotteryList = []
      this.listQuery.lotteryId = ''
    }

  },
  filters: {
    ruleTypeNum (type) {
      const ruleType = {
        1: '以年为周期，每天一期',
        2: '以天为周期，每N分钟一期'
      }
      return ruleType[type]
    },
    spanDayNum (type) {
      const spanDay = {
        0: '不跨天',
        1: '向后跨天',
        '-1': '向前跨天'
      }
      return spanDay[type]
    }
  }
}
</script>

<style>
.app-main .box-card .card-body {
  min-height: 200px;
}

.no-data {
  text-align: center;
  color: #909399;
  margin-top: 100px;
}
</style>
