<template>
		<div>
				<el-row :gutter="20" type='flex' justify='space-between'>
						<el-col>
								<span>开盘时间：</span>
								<span v-if='!isEdit'> {{ ruleInfo.beginTime }}</span>
								<el-time-picker v-else
								                v-model="ruleInfo.beginTime"
								                value-format="HH:mm:ss"
								                placeholder="开盘时间">
								</el-time-picker>
						</el-col>
						<el-col>
								<span>封盘时间：</span>
								<span v-if='!isEdit'> {{ ruleInfo.endTime }}</span>
								<el-time-picker v-else
								                v-model="ruleInfo.endTime"
								                value-format="HH:mm:ss"
								                placeholder="封盘时间">
								</el-time-picker>
						</el-col>
						<el-col>
								<div v-if='!isEdit'>
										<span>是否跨天：</span>
										<span>{{ ruleInfo.spanDay | spanDayNum}}</span>
								</div>
								<el-select v-else v-model="ruleInfo.spanDay" placeholder="请选择">
										<el-option
											v-for="item in options"
											:key="item.value"
											:label="item.label"
											:value="item.value">
										</el-option>
								</el-select>
						</el-col>
				</el-row>
				<br>
				<el-table
					border
					:data="tableData"
					stripe
					style="width: 100%">
						<el-table-column
							type='index'
							width="100"
							align="right"
							label="序号">
						</el-table-column>
						<el-table-column
							prop="beginDate"
							align="right"
							label="排除开始时间">
								<template slot-scope='scope'>
										<span v-if='!isEdit'>{{ scope.row.beginDate }}</span>
										<el-date-picker v-else
										                type='date'
										                value-format="yyyy-MM-dd"
										                v-model="scope.row.beginDate"
										                placeholder="开始日期">
										</el-date-picker>
								</template>
						</el-table-column>
						<el-table-column
							prop="endDate"
							align="right"
							label="排除结束时间">
								<template slot-scope='scope'>
										<span v-if='!isEdit'>{{ scope.row.endDate }}</span>
										<el-date-picker v-else
										                type='date'
										                value-format="yyyy-MM-dd"
										                v-model="scope.row.endDate"
										                placeholder="结束日期">
										</el-date-picker>
								</template>
						</el-table-column>
						<!-- <el-table-column label="操作" align="right" v-if='isEdit'>
							<template slot-scope="scope">
								<el-button type="text" @click='deleteRow(scope.$index)'>删除</el-button>
							</template>
						</el-table-column> -->
				</el-table>
		</div>
</template>

<script>
export default {
  data () {
    return {
      options: [{
        value: 0,
        label: '不跨天'
      }, {
        value: 1,
        label: '向后跨天'
      }, {
        value: -1,
        label: '向前跨天'
      }]
    }
  },
  // data() {
  //   return {
  //     checked: false,
  //     value2: new Date(2016, 9, 10, 18, 40),
  //     value3: new Date(2016, 9, 10, 18, 40)
  //   }
  // },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    tableData: {
      required: true,
      type: Array
    },
    ruleInfo: {
      required: true,
      type: Object
    }
  },
  methods: {
    deleteRow (index) {
      console.log(index)
      this.$emit('doDeleteRule', index)
    }
  },
  filters: {
    spanDayNum (type) {
      const spanDay = {
        0: '不跨天',
        1: '向后跨天',
        '-1': '向前跨天'
      }
      return spanDay[type]
    }
  }
}
</script>

<style scoped>

</style>
