<template>
		<el-table
			border
			:data="tableData"
			stripe
			style="width: 100%">
				<el-table-column
					type='index'
					width="100"
					align="right"
					label="序号">
				</el-table-column>
				<el-table-column
					width="280px"
					prop="beginTime"
					align="right"
					label="开始时间">
						<template slot-scope='scope'>
								<span v-if='!isEdit'>{{ scope.row.beginTime }}</span>
								<el-time-picker v-else
								                v-model="scope.row.beginTime"
								                value-format="HH:mm:ss"
								                placeholder="开始时间">
								</el-time-picker>
						</template>
				</el-table-column>
				<el-table-column
					width="280px"
					prop="endTime"
					align="right"
					label="结束时间">
						<template slot-scope='scope'>
								<span v-if='!isEdit'>{{ scope.row.endTime }}</span>
								<el-time-picker v-else
								                v-model="scope.row.endTime"
								                value-format="HH:mm:ss"
								                placeholder="结束时间">
								</el-time-picker>
						</template>
				</el-table-column>
				<el-table-column
					prop="step"
					align="right"
					label="频率[秒]">
						<template slot-scope='scope'>
								<span v-if='!isEdit'>{{ scope.row.step }}</span>
								<el-input v-else
								          v-model="scope.row.step" placeholder="请输入频率"></el-input>
						</template>
				</el-table-column>
				<el-table-column
					width="130px"
					align="right"
					label="是否跨天">

						<template slot-scope="scope">
								<span v-if='!isEdit'>{{scope.row.spanDay|spanDayNum}}</span>
								<el-select v-else v-model="scope.row.spanDay" placeholder="请选择">
										<el-option
											v-for="item in options"
											:key="item.value"
											:label="item.label"
											:value="item.value">
										</el-option>
								</el-select>
								<!-- <el-checkbox v-else
															v-model="scope.row.spanDay">
								 </el-checkbox> -->
						</template>
				</el-table-column>
				<!-- <el-table-column label="操作" align="right" v-if='isEdit'>
					<template slot-scope="scope">
						<el-button type="text" @click='deleteRow(scope.$index)'>删除</el-button>
					</template>
				</el-table-column> -->
		</el-table>
</template>

<script>
export default {
  data () {
    return {
      options: [{
        value: 0,
        label: '不跨天'
      }, {
        value: 1,
        label: '向后跨天'
      }, {
        value: -1,
        label: '向前跨天'
      }]
    }
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    tableData: {
      required: true,
      type: Array
    }
  },
  methods: {
    // deleteRow(index) {
    //   console.log(index)
    //   this.$emit('doDeleteRule', index)
    // }
  },
  filters: {
    spanDayNum (type) {
      const spanDay = {
        0: '不跨天',
        1: '向后跨天',
        '-1': '向前跨天'
      }
      return spanDay[type]
    }
  }
}
</script>

<style scoped>
		.el-date-editor.el-input, .el-date-editor.el-input__inner {
				width: 240px;
		}
</style>
