<template>
  <div>
    <div v-if="object.list && object.list.length===49">
      <div style="width:280px;" class="dd" v-for="i in 5" :key='i'>
        <div class="title">{{object.totalGroupName}}</div>
        <table cellpadding="0" border="0" cellspacing="0" class="table-list">
          <thead>
          <tr>
            <td>类别<i class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>笔数<i
              class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>金额<i
              class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>输赢<i
              class="fr_bd"></i></td>
            <td><i class="fl_bd"></i>赔率</td>
            <td v-if="isControl"><i class="fl_bd"></i>操盘</td>
          </tr>
          </thead>
          <template v-for="j in 10">
            <tr v-if="(i-1)*10+j-1!==49&&genDescFun(i,j,items)!=='本命年'" class="tbody"
                :key='j'
                :class="{active:currentArray.includes(genDescFun(i,j,items))}">
              <td>
        <span
          class='isNumber'
          :class="[isDrawColor?genClass(genDescFun(i,j,items)):'',!isNaN(genDescFun(i,j,items))?'number':'',isShowSCode&&issueOpenCode.includes(genDescFun(i,j,items))?'currentCode':'',SCode===genDescFun(i,j,items)?'specialCode':'',isShowSCode&&SCode===genDescFun(i,j,items)?genSpecialCodeBgClass(genDescFun(i,j,items)):'']">{{items[(i-1)*10+j-1].playDesc}}</span>
              </td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{items[(i-1)*10+j-1].notes}}</td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{items[(i-1)*10+j-1].amount |
                UnitConversion}}
              </td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{items[(i-1)*10+j-1].winLose |
                UnitConversion}}
              </td>
              <td class="il-sum">{{items[(i-1)*10+j-1].prize | PrizeConversion}}</td>
              <td class="tl-btn" v-if="isControl">
                <i class="tl-btn-l">-</i>
                <i class="tl-btn-r">+</i>
              </td>
            </tr>
            <tfoot v-else :key='j'>
            <tr>
              <td :colspan="!controlTableRowTypeIds.includes(playTypeId)?(isControl?6:5):(isControl?3:2)"
                  class="il-total"><span class="fw_bold">合计</span>：{{object.totalNote}}笔，<span
                class="fw_bold">金额</span>：{{object.totalAmount | UnitConversion}}
              </td>
            </tr>
            </tfoot>
          </template>
        </table>
      </div>
      <div class="tl-quick-check" style="width:100%">
        <div class="tl-qc-title">快速排序</div>
        <div class="tl-qc-content clear shadow" style="padding-left:5px;">
          <div class="clear">
            <a href="javascript:;" class="btn"
               @click="setCurrentSortCode('playDesc')"
               :class="{'btn-green':'playDesc'===currentSort}">默认</a>
            <a href="javascript:;" class="btn"
               @click="setCurrentSortCode('notes')"
               :class="{'btn-green':'notes'===currentSort}">按笔数</a>
            <a href="javascript:;" class="btn"
               @click="setCurrentSortCode('amount')"
               :class="{'btn-green':'amount'===currentSort}">按金额</a>
          </div>
        </div>
      </div>
      <div class="tl-quick-check">
        <div class="tl-qc-title">快速组合号码</div>
        <div class="tl-qc-content clear shadow" style="padding-left:5px;">
          <div class="clear" :style="genStyle(item.styleWidth)" v-for="(item,index) in Combinations" :key='index'>
            <a href="javascript:;" class="btn" :key="it.value" v-for="it in item.list"
               @click="selectCombinations(it)"
               :class="{'btn-green':it.value===currentButton}">{{it.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="playTypeId===20214">
      <div class="dd" style='width:1324px'>
        <div class="title">{{object.totalGroupName}}</div>
        <table cellpadding="0" border="0" cellspacing="0" class="table-list">
          <tr class="tbody">
            <td style="padding: 0">
              <div style="width:220px;" class="dd" v-for="i in 6" :key='i'>
                <div class="title">{{object.totalGroupName}} - 正码{{i}}</div>
                <table cellpadding="0" border="0" cellspacing="0" class="table-list">
                  <thead>
                  <tr>
                    <td>类别<i class="fr_bd"></i></td>
                    <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i
                      class="fl_bd"></i>笔数<i class="fr_bd"></i>
                    </td>
                    <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i
                      class="fl_bd"></i>金额<i class="fr_bd"></i>
                    </td>
                    <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i
                      class="fl_bd"></i>输赢<i class="fr_bd"></i>
                    </td>
                    <td><i class="fl_bd"></i>赔率</td>
                    <td v-if="isControl"><i class="fl_bd"></i>操盘</td>
                  </tr>
                  </thead>
                  <template v-for="j in 7">
                    <tr class="tbody"
                        :key='j'
                        :class="{active:currentArray.includes(genDescFun(i,j,object.list,7))}"
                        v-if="genDescFun(i,j,object.list,7)!=='本命年'">
                      <td>
        <span
          :class="[isDrawColor?genClass(genDescFun(i,j,object.list,7)):'',!isNaN(genDescFun(i,j,object.list,7))?'number':'',isShowSCode&&issueOpenCode.includes(genDescFun(i,j,object.list,7))?'currentCode':'',SCode===genDescFun(i,j,object.list,7)?'specialCode':'',isShowSCode&&SCode===genDescFun(i,j,object.list,7)?genSpecialCodeBgClass(genDescFun(i,j,object.list,7)):'']">{{object.list[(i-1)*7+j-1].playDesc}}</span>
                      </td>
                      <td v-if="!controlTableRowTypeIds.includes(playTypeId)">
                        {{object.list[(i-1)*7+j-1].notes}}
                      </td>
                      <td v-if="!controlTableRowTypeIds.includes(playTypeId)">
                        {{object.list[(i-1)*7+j-1].amount |
                        UnitConversion}}
                      </td>
                      <td v-if="!controlTableRowTypeIds.includes(playTypeId)">
                        {{object.list[(i-1)*7+j-1].winLose |
                        UnitConversion}}
                      </td>
                      <td class="il-sum">{{object.list[(i-1)*7+j-1].prize | PrizeConversion}}</td>
                      <td class="tl-btn" v-if="isControl">
                        <i class="tl-btn-l">-</i>
                        <i class="tl-btn-r">+</i>
                      </td>
                    </tr>
                  </template>
                </table>
              </div>
            </td>
          </tr>
          <tfoot>
          <tr>
            <td class="il-total"><span class="fw_bold">合计</span>：{{object.totalNote}}笔，<span
              class="fw_bold">金额</span>：{{object.totalAmount | UnitConversion}}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div v-else>
      <div style="width:232px;" class="dd">
        <div class="title">{{object.totalGroupName}}</div>
        <table cellpadding="0" border="0" cellspacing="0" class="table-list">
          <thead>
          <tr>
            <td>类别<i class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>笔数<i
              class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>金额<i
              class="fr_bd"></i></td>
            <td v-if="!controlTableRowTypeIds.includes(playTypeId)"><i class="fl_bd"></i>输赢<i
              class="fr_bd"></i></td>
            <td><i class="fl_bd"></i>赔率</td>
            <td v-if="isControl"><i class="fl_bd"></i>操盘</td>
          </tr>
          </thead>
          <tbody>
          <template v-for="(item,index) in object.list">
            <!--            <tr class="tbody" v-if="item.playDesc!=='本命年' && item.prize!==0" :key='index'>-->
            <tr class="tbody" :key='index' v-if="item.playDesc!=='本命年'">
              <td>
        <span
          :class="[isDrawColor?genClass(item.playDesc):'',!isNaN(item.playDesc)?'number':'',isShowSCode&&issueOpenCode.includes(item.playDesc)?'currentCode':'',SCode===item.playDesc?'specialCode':'',isShowSCode&&SCode===item.playDesc?genSpecialCodeBgClass(item.playDesc):'']">{{item.playDesc}}</span>
              </td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{item.notes}}</td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{item.amount | UnitConversion}}</td>
              <td v-if="!controlTableRowTypeIds.includes(playTypeId)">{{item.winLose | UnitConversion}}</td>
              <td class="il-sum">{{item.prize | PrizeConversion}}</td>
              <td class="tl-btn" v-if="isControl">
                <i class="tl-btn-l">-</i>
                <i class="tl-btn-r">+</i>
              </td>
            </tr>
          </template>
          </tbody>
          <tfoot>
          <tr>
            <td :colspan="!controlTableRowTypeIds.includes(playTypeId)?(isControl?6:5):(isControl?3:2)"
                class="il-total"><span class="fw_bold">合计</span>：{{object.totalNote}}笔，<span
              class="fw_bold">金额</span>：{{object.totalAmount | UnitConversion}}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import NP from 'number-precision'
  import { txtColors, blockCombinations } from './dict'

  export default {
    name: 'ControlTable',
    props: {
      playTypeId: {
        type: Number
      },
      object: {
        type: Object
      },
      issueOpenCode: {
        type: Array,
        default () {
          return []
        }
      },
      isShowSCode: {
        type: Boolean,
        default: false
      },
      SCode: {
        type: String,
        default: ''
      },
      isControl: {
        type: Boolean,
        default: false
      },
      isDrawColor: {
        type: Boolean,
        default: false
      },
      sortKey: {
        type: String,
        default () {
          return 'playDesc'
        }
      }
    },
    data () {
      return {
        currentSort: 'playDesc',
        items: [],
        currentBtn: '',
        currentCombinations: [],
        controlTableRowTypeIds: [
          2021510, // 连码
          20214, // 正码过关
          // 2021410, 2021411, 2021412, 2021413, 2021414, 2021415, // 正码过关
          2022910, 2022911, 2022912, 2022913, 2022914, // 正特任中
          2022610, 2022611, 2022612, 2022613, 2022614, 2022615, 2022616, 2022617, // 全不中
          2022810, 2022811, 2022812, 2022813, 2022814, 2022815, // 多选中一
          2022510, 2022511, 2022512, 2022513, 2022514, 2022515, // 连尾
          2022310, 2022311, 2022312, 2022313, 2022314, 2022315, 2022316, 2022317, 2022318, 2022319, // 合肖
          2022410, 2022411, 2022412, 2022413, 2022414, 2022415, 2022416 // 连肖
        ]
      }
    },
    computed: {
      Combinations () {
        return blockCombinations
      },
      currentArray () {
        return this.currentCombinations
      },
      currentButton () {
        return this.currentBtn
      }
    },
    methods: {
      setCurrentSortCode (key) {
        this.currentSort = key
        // console.log(this.currentSort)
        this.items = this.items.sort((itemA, itemB) => {
          if (parseInt(itemB[key]) < parseInt(itemA[key])) {
            return key !== 'playDesc' ? -1 : 1
          } else if (parseInt(itemB[key]) > parseInt(itemA[key])) {
            return key !== 'playDesc' ? 1 : -1
          } else {
            return 0
          }
        })
        this.$emit('transformSortKey', key)
        console.log(this.items)
      },
      selectCombinations (item) {
        // console.log(item)
        if (item.value === 'cancel') {
          this.currentBtn = ''
          this.currentCombinations = []
          return
        }
        this.currentBtn = item.value
        this.currentCombinations = item.ranges
      },
      genStyle (width) {
        return {
          width
        }
      },
      genDescFun (i, j, arr, len = 10) {
        // console.log(10 * (i - 1) + j - 1)
        return arr[len * (i - 1) + j - 1].playDesc
      },
      genSpecialCodeBgClass (num) {
        const color = txtColors
        let bg = ''
        for (const i in color) {
          if (color[i].includes(num)) {
            bg = i
          }
        }
        if (bg === 'txt_red') {
          return 'bg_red'
        }
        if (bg === 'txt_blue') {
          return 'bg_blue'
        }
        if (bg === 'txt_green') {
          return 'bg_green'
        }
      },
      genClass (num) {
        const color = txtColors
        // console.log(colors)
        if (num === '红波') {
          return 'txt_red'
        }
        if (num === '蓝波') {
          return 'txt_blue'
        }
        if (num === '绿波') {
          return 'txt_green'
        }
        for (const i in color) {
          if (color[i].includes(num)) {
            return i
          }
        }
        return ''
      }
    },
    beforeCreate () {},
    created () {
      this.items = this.object.list
      if (this.items && this.items.length === 49) {
        setTimeout(() => {
          this.setCurrentSortCode(this.sortKey)
        }, 300)
      }
    },
    beforeMount () {},
    mounted () {
    },
    beforeDestroy () {},
    destroyed () {},
    filters: {
      UnitConversion (v) {
        return isNaN(v) ? 0.00 : NP.divide(parseFloat(v), 100).toFixed(2)
      },
      PrizeConversion (v) {
        return isNaN(v) ? 0.00 : NP.divide(parseFloat(v), 1000).toFixed(3)
      }
    }
  }
</script>

<style lang='scss' scoped>
  .isNumber {
    border-radius: 50%;
    color: #fff !important;

    &.txt_red {
      background-color: red;
    }

    &.txt_blue {
      background-color: blue;
    }

    &.txt_green {
      background-color: green;
    }
  }

  .txt_red {
    color: red;
  }

  .txt_blue {
    color: blue;
  }

  .txt_green {
    color: green;
  }

  .title {
    background: url(../../assets/table/th_bg.jpg) repeat-x;
    color: #fff;
    border-left: 1px solid #DFDFDF;
    text-align: center;
    padding: 6px 5px;
  }

  .il-sum {
    color: red;
  }

  .fw_bold {
    font-weight: bold;
  }

  .dd {
    float: left;
    display: inline;
  }

  .table-list {
    width: 100%;
    background: url(../../assets/table/tab_th_bg.jpg) repeat-x 0 1px #C2C0C1;
    border: solid #dbdad6;
    border-width: 1px;
    border-bottom: none;

    td {
      border: solid #D5D2D2;
      border-width: 0 1px 1px 0;
      padding: 8px 5px;
      text-align: center;
      line-height: 18px;
      font-family: Arial;
    }

    tr {
      background: #fff;

      &.active {
        background: #faf0a0;
      }

      &:hover {
        background-color: #ddd;
      }

      td {
        padding: 4px 0;

        .number {
          padding: 5px;

          &.currentCode {
            border-radius: 50%;
            /*background: green;*/

            &.specialCode {
              background: red;
              color: #fff;

              &.bg_red {
                background: red;
              }

              &.bg_blue {
                background: blue;
              }

              &.bg_green {
                background: green;
              }
            }
          }
        }

        &.tl-btn {
          padding: 0;
          background: #A6A6A6;

          i {
            display: inline;
            float: left;
            font-style: normal;
            background: #a6a6a6;
            height: 100%;
            line-height: 20px;
            width: 50%;
            *width: 48%;
            text-align: center;
            font-family: Arial;
            cursor: pointer;
            color: #fff;
            padding: 0;
            margin: 0;

            &:hover {
              background: #eb678c;
            }

            &.tl-btn-l {
              background-position: 0 0;
              font-size: 18px;
            }

            &.tl-btn-r {
              background-position: -17px 0;
              font-size: 16px;
              *float: right;
            }
          }
        }
      }
    }

    tfoot {
      background: #ead8d8;

      .il-total {
        background: #d8dfd6;
        color: #003b36;
        border-right: 1px solid #d5d2d2;
      }

      td {
        padding: 4px 0;
      }
    }

    thead {
      border-left: 1px solid #dbdad6;
      border-right: 1px solid #dbdad6;

      td {
        border-width: 0 0 1px 0;
        position: relative;
        padding: 10px 0;
        text-align: center;
        border-color: #E4E4E4;
        background: url(../../assets/table/tab_th_bg.jpg) repeat-x 0 0 #c2c0c1;
        color: #3B3B3B;
        text-shadow: 1px 1px 1px #fff;
        font-size: 13px;
        font-weight: bold;
        border: none;

        i {
          display: block;
          position: absolute;

          &.fl_bd {
            background: #ffffff;
            left: 0;
            top: 20%;
            width: 1px;
            height: 60%;
          }

          &.fr_bd {
            background: #bcbabc;
            right: 0;
            top: 20%;
            width: 1px;
            height: 60%;
          }
        }
      }
    }
  }

  .tl-quick-check {
    display: inline-block;
    position: relative;
    padding: 27px 0 3px 0;
  }

  .tl-qc-title {
    position: absolute;
    left: 3px;
    top: 2px;
    font: 700 14px/1.6 Microsoft Yahei;
    width: 120px;
    color: #ffb75c;
    text-shadow: 1px 1px 1px #CCB8A3;
    -webkit-text-shadow: 1px 1px 1px #CCB8A3;
    -moz-text-shadow: 1 xp 1px 1px #CCB8A3;
  }

  .tl-qc-content {
    background: #fff;
    *padding-bottom: 5px;

    .btn {
      float: left;
      padding: 0 7px 0 8px;
      margin: 1px 2px;
      height: 23px;
      line-height: 23px;
      background: url(../../assets/table/btn_bg.jpg) repeat-x;
      border-radius: 5px;
      color: #6a6a6a;
      font-weight: bold;
      box-shadow: none;
      border-bottom: 2px solid #C5C3C3;
      text-shadow: 1px 1px 1px #fff;
      -webkit-text-shadow: 1px 1px 1px #fff;
      -moz-text-shadow: 1 xp 1px 1px #fff;
      display: inline;
    }
  }

  .tl-qc-content-2 .btn {
    padding: 0 9px;
  }

  .tl-qc-content {
    .btn-green {
      background: url(../../assets/table/blue-btn.gif) repeat-x;
      color: #fff;
      text-shadow: 1px 1px 1px #1A1A1A;
      border-bottom: 2px solid #3587b4;
    }

    div {
      margin: 5px 0;
      float: left;
      display: inline;

      span {
        /*margin-left:214px;float:left;width:146px;*/
      }
    }
  }
</style>
