<template>
		<div>
				<table border="1" style="border-collapse:collapse;border-color: #a0c6e5;" class="main-table">
						<thead>
						<tr>
								<td style='color: #00BCD4;'>类型</td>
								<td v-for="item in columns" :key="item.key" class='title-columns'>
										{{item.title }}
								</td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(dS,index) in dataSource" :key="index">
								<td class='playName-dataSource'>
										{{ dS.playName }}
								</td>
								<td v-for="item in columns" :key="item.key">
										{{ dS[item.dataIndex]}}
								</td>
						</tr>
						</tbody>
				</table>
		</div>
</template>

<script>
import LFCheckbox from './LfCheckbox'

export default {
  components: {
    LFCheckbox
  },
  data () {
    console.log(this.columns)
    return {
      selectable: true
    }
  },
  props: {
    dataSource: {
      type: Array,
      required: true
    },
    columns: {
      type: Array,
      default: () => []
    }
  },
  created () {
    // console.log(this.columns, this.dataSource)
  },
  methods: {
    // showColumns() {
    //   let sC = columns.map()
    // }
  }
}
</script>

<style lang="scss" scoped>

		.main-table {
				width: 100%;
				border: .2px;

				tbody tr:hover {
						background: gray;
						color: #FFFFFF;
				}
		}

		.title-columns {
				color: #00BCD4;
				padding: 10px;
		}

		.playName-dataSource {
				/*color: #409EFF;*/
				padding: 10px;
		}

		tr {
				text-align: center;
		}
</style>
