<template>
  <table class="table-list" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td>
          类别
          <i class="fr_bd"></i>
        </td>
        <td>
          <i class="fl_bd"></i>投注/撤单笔数
          <i class="fr_bd"></i>
        </td>
        <td>
          <i class="fl_bd"></i>下注/撤单总额
          <i class="fr_bd"></i>
        </td>
        <!-- <td><i class="fl_bd"></i>下注/撤单返点总额<i class="fr_bd"></i></td> -->
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item,index) in dataSource.playList" :key="index" :class="createClass(item)">
        <td>{{item.playName}}</td>
        <td>
          <font class="order">{{item.buyNumber}}</font> /
          <font class="cancelOrder">{{item.cancelBuyNumber}}</font>
        </td>
        <td>
          <font class="order">{{item.totalMoney | filterMoney}}</font> /
          <font class="cancelOrder">
            {{item.cancelOrderMoney
            |
            filterMoney}}
          </font>
        </td>
        <!-- <td>
          <font class="order">{{item.rebateMoney | filterMoney }}</font> /
          <font class="cancelOrder">
            {{item.cancelRebateMoney
            | filterMoney}}
          </font>
        </td>-->
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="il-total">合计</td>
        <td class="il-total">
          <font class="order">{{totalBuyNumber}}</font> /
          <font class="cancelOrder">{{totalCancelBuyNumber}}</font>
        </td>
        <td class="il-total">
          <font class="order">{{calcTotalMoney | filterMoney}}</font> /
          <font class="cancelOrder">
            {{calcCancelOrderMoney |
            filterMoney}}
          </font>
        </td>
        <!-- <td class="il-total">
          <font class="order">{{calcRebateMoney | filterMoney}}</font> /
          <font class="cancelOrder">
            {{calcCancelRebateMoney
            | filterMoney}}
          </font>
        </td>-->
      </tr>
    </tfoot>
  </table>
</template>

<script>
  import NP from 'number-precision'

  export default {
    computed: {
      totalBuyNumber () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.buyNumber + prev
        }, 0)
      },
      totalCancelBuyNumber () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.cancelBuyNumber + prev
        }, 0)
      },
      calcRebateMoney () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.rebateMoney + prev
        }, 0)
      },
      calcCancelRebateMoney () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.cancelRebateMoney + prev
        }, 0)
      },
      calcTotalMoney () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.totalMoney + prev
        }, 0)
      },
      calcCancelOrderMoney () {
        return this.dataSource.playList.reduce((prev, cur) => {
          return cur.cancelOrderMoney + prev
        }, 0)
      }
    },
    data () {
      return {}
    },
    methods: {
      createClass (obj) {
        if (obj.buyNumber > 0) return 'red-border'
      }
    },
    filters: {
      filterMoney (v) {
        return isNaN(v) ? 0.00 : NP.divide(parseFloat(v), 100).toFixed(2)
      }
    },
    props: {
      dataSource: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
.table-list {
  width: 100%;
  background: url(~@/assets/table/tab_th_bg.jpg) repeat-x 0 1px #c2c0c1;
  border: solid #dbdad6;
  border-width: 1px;
  border-bottom: none;

  td {
    border: solid #d5d2d2;
    border-width: 0 1px 1px 0;
    padding: 8px 5px;
    text-align: center;
    line-height: 18px;
    font-family: Arial;
  }

  tr {
    background: #fff;

    &.red-border {
      background-color: #ccc;
    }

    &.active {
      background: #faf0a0;
    }

    &:hover {
      background-color: #ddd;
    }

    td {
      padding: 5px;
    }
  }

  tfoot {
    background: #ead8d8;

    .il-total {
      background: #d8dfd6;
      color: #003b36;
      border-right: 1px solid #d5d2d2;
    }

    td {
      padding: 4px 0;
    }
  }

  thead {
    border-left: 1px solid #dbdad6;
    border-right: 1px solid #dbdad6;

    td {
      border-width: 0 0 1px 0;
      position: relative;
      padding: 8px;
      text-align: center;
      border-color: #e4e4e4;
      background: url(~@/assets/table/tab_th_bg.jpg) repeat-x 0 0 #c2c0c1;
      color: #3b3b3b;
      text-shadow: 1px 1px 1px #fff;
      font-size: 13px;
      font-weight: bold;
      border: none;

      i {
        display: block;
        position: absolute;

        &.fl_bd {
          background: #ffffff;
          left: 0;
          top: 20%;
          width: 1px;
          height: 60%;
        }

        &.fr_bd {
          background: #bcbabc;
          right: 0;
          top: 20%;
          width: 1px;
          height: 60%;
        }
      }
    }
  }
}
</style>
