<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--        <el-select-->
        <!--          filterable-->
        <!--          style="width: 180px"-->
        <!--          placeholder="请选择厅主"-->
        <!--          clearable-->
        <!--          default-first-option-->
        <!--          v-model="listQuery.spCode"-->
        <!--        >-->
        <!--          <el-option-->
        <!--            v-for="item in spCodes"-->
        <!--            :key="item.value"-->
        <!--            :label="item.value"-->
        <!--            :value="item.value"-->
        <!--          ></el-option>-->
        <!--        </el-select>-->
        <fuzzy-query-search
          :options="{type:'spCode',placeholder:'请输入厅编码'}"
          @dealChange="dealChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click.native="_search"
          :loading="listLoading"
          :disabled="!listQuery.spCode || hasPermission('SelfCustomConfList')"
        >查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :key="tableKey"
      :data="SelfCustomConfList"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%"
      border
      fit
      highlight-current-row
    >
      <el-table-column label="序号" type="index" align="right" width="80"></el-table-column>
      <el-table-column label="彩种ID" min-width="100" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.lotteryId}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称(zh)" min-width="120" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.langLotteryName[0].zh}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称(en)" min-width="120" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.langLotteryName[1].en}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称(vn)" min-width="120" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.langLotteryName[2].vn}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称(th)" min-width="120" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.langLotteryName[3].th}}</span>
        </template>
      </el-table-column>
      <el-table-column label="彩种名称(id)" min-width="120" align="right">
        <template slot-scope="scope">
          <span>{{scope.row.langLotteryName[4].id}}</span>
        </template>
      </el-table-column>
      <el-table-column label="名称状态" min-width="160" align="right">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.lotteryNameStatus"
            @change="changlotteryNameStatus(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
            :disabled="hasPermission('SelfCustomNameSwitch')"
            active-text="启用"
            inactive-text="禁用"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="图标状态" min-width="160" align="right">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            @change="changStatus(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
            :disabled="hasPermission('SelfCustomSwitch')&& scope.row.imageUrl"
            active-text="启用"
            inactive-text="禁用"
          ></el-switch>
          <!--<span>{{scope.row.status=== 0?'禁用':'启用'}}</span>-->
        </template>
      </el-table-column>
      <el-table-column align="right" label="图片地址" min-width="150">
        <template slot-scope="scope">
          <img
            :src="compackImageUrl(scope.row.imageUrl)"
            width="50"
            height="50"
            v-if="scope.row.imageUrl"
          />
        </template>
      </el-table-column>
      <el-table-column align="right" label="设置时间" prop="createTime" min-width="150"></el-table-column>
      <el-table-column align="right" label="操作" min-width="200">
        <template slot-scope="scope">
          <el-button
            type="primary"
            @click.native="_showDialog(scope.row,1)"
            :disabled="hasPermission('SelfCustomNameEdit')"
          >编辑名称
          </el-button>
          <el-button
            type="primary"
            @click.native="_showDialog(scope.row,2)"
            :disabled="hasPermission('SelfCustomImageEdit')"
          >编辑图标
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--弹框设置-->
    <el-dialog
      :visible.sync="dialogFormVisible"
      :title="titleContent"
      append-to-body
      width="650px"
      @close="resetForm"
    >
      <el-form
        :model="lotteryImage"
        label-position="left"
        ref="lotteryImageForm"
        :rules="lotteryImageRules"
        label-width="100px"
      >
        <!--<el-form-item label="彩种Id" label-width="140px">-->
        <!--<span>{{lotteryImage.lotteryId}}</span>-->
        <!--</el-form-item>-->
        <el-form-item label="彩种名称:" label-width="100px">
          <span>{{lotteryImage.lotteryName}}</span>
        </el-form-item>

        <template v-if="showLotteryName">
          <el-form-item
            :key="index"
            v-for="(item, index) in lotteryImage.langNameList"
            :label="'自定义名称'+'('+item.lang+')'"
            label-width="160px"
            :prop="!index?'a': 'b'"
          >
            <el-input placeholder="请输入彩种名称" v-model="item.langText" style="width: 300px" clearable></el-input>
          </el-form-item>
        </template>
        <el-form-item label="上传图标" prop="imageUrl" label-width="160px" v-if="showLotteryIcon">
          <el-upload
            :action="uploadAction"
            class="avatar-uploader"
            :data="uploadData"
            :show-file-list="false"
            :before-upload="uploadBeforeUploadHandle"
            :on-success="uploadSuccessHandle"
          >
            <img
              v-if="lotteryImage.imageUrl"
              :src="compackImageUrl(lotteryImage.imageUrl)"
              class="avatar"
            />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            <div slot="tip" class="el-upload__tip">因图标尺寸的要求，请上传200*200的png图片,且不能超过50kb</div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click="_postSelfCustomNameEdit('lotteryImageForm')"
          v-if="showLotteryName"
        >提交
        </el-button>
        <el-button
          type="primary"
          @click="_postSelfCustomImageEdit('lotteryImageForm')"
          v-if="showLotteryIcon"
        >提交
        </el-button>
        <el-button @click="resetForm('lotteryImageForm')" type="primary">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  // console.log(process.env)
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  // import { stripScript } from 'utils/validate'
  import {
    getSelfCustomConfList,
    postSelfCustomImageEdit,
    postSelfCustomNameEdit,
    postSelfCustomSwitch,
    postSelfCustomNameSwitch
  } from 'api/SelfLottery'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      const lotteryNamefirst = (rule, v, callback) => {
        const value = this.lotteryImage.langNameList[0].langText
        if (value.length === 0) {
          callback(new Error('请输入彩种名称'))
        } else if (value.length > 50) {
          callback(new Error('彩种名称不能超过50个字符'))
        } else {
          callback()
        }
      }
      const lotteryNamesecond = (rule, v, callback) => {
        const value = this.lotteryImage.langNameList[0].langText
        if (value.length > 50) {
          callback(new Error('彩种名称不能超过50个字符'))
        } else {
          callback()
        }
      }
      return {
        uploadAction: process.env.NODE_ENV === 'development' ? `${window.API_ADMINFRONT_PROD}/websrc/web/webupload/smallpic.htm` : ((window.environment && window.environment.toLowerCase() === 'uat') ? `${window.API_ADMINFRONT_PROD}/websrc/web/webupload/smallpic.htm` : `${window.API_ADMINFRONT_PROD}/websrc/web/webupload/smallpic.htm`),
        options: [],
        lotteryImage: {
          lotteryId: '',
          Name: '',
          lotteryName: '',
          imageUrl: '',
          langNameList: []
        },
        titleContent: '',
        tableKey: 0,
        SelfCustomConfList: [],
        spCodes: [],
        listLoading: false,
        dialogFormVisible: false,
        showLotteryName: false,
        showLotteryIcon: false,
        listQuery: {
          spCode: ''
          // lotteryId: '',
          // openType: '',
          // cmd: 'SelfLotteryImageList'
        },
        lotteryImageRules: {
          a: [
            {
              required: true,
              trigger: 'change',
              validator: lotteryNamefirst
            }
          ],
          b: [
            {
              required: false,
              trigger: 'change',
              validator: lotteryNamesecond
            }
          ]
        }
      }
    },
    computed: {
      uploadData () {
        return {
          token: this.$store.getters.token,
          uploadType: 1,
          sn: this.listQuery.spCode,
          tempImageUrl: ''
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      // // 获取厅主
      // getSpInfo () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         return {
      //           value: v.id,
      //           label: v.name
      //         }
      //       })
      //     }
      //   })
      // },
      compackImageUrl (url) {
        if (process.env.NODE_ENV === 'development') {
          return `${window.API_ADMINFRONT_PROD}/websrc${url}`
        }
        return (window.environment && window.environment.toLowerCase() === 'uat') ? `${window.API_ADMINFRONT_PROD}/websrc${url}` : window.API_ADMINFRONT_PROD + url
      },
      // 展示图片上传之前
      uploadBeforeUploadHandle (file) {
        const fileType = file.name.substr(file.name.lastIndexOf('.')).toLowerCase()
        const isCurrentFile = fileType === '.png'
        const isLt50kb = file.size / 1024 < 50
        if (!isCurrentFile) {
          this.$message.error('上传图片的格式错误，目前支持png格式!')
          return Promise.reject()
        }
        if (!isLt50kb) {
          this.$message.error('上传icon大小不能超过 50kb!')
        }
        const isSize = new Promise((resolve, reject) => {
          const width = 200
          const height = 200
          const _URL = window.URL || window.webkitURL
          const img = new Image()
          img.onload = function () {
            const valid = img.width === width && img.height === height
            valid ? resolve() : reject()
          }
          img.src = _URL.createObjectURL(file)
        }).then(() => file, () => {
          this.$message.error('上传图片的尺寸为200*200!')
          return Promise.reject()
        })
        return isCurrentFile && isSize && isLt50kb
      },
      // 展示图片上传成功
      uploadSuccessHandle (res, file) {
        this.lotteryImage.imageUrl = res.path
      },
      // -----------------------------------------------------------------------------
      // // 获取厅自开彩彩种列表
      // _getLotteryInfoList () {
      //   fetchData({ dataType: 23, cmd: 'AjaxData' }).then(res => {
      //     this.options = res.items
      //   })
      // },
      //  厅自开彩彩种名称开关
      changlotteryNameStatus (row) {
        const str = row.lotteryNameStatus ? '启用' : '禁用'
        this.$confirm(`此操作将${str}名称状态， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: row.lotteryId,
            spCode: row.spCode,
            lotteryNameStatus: row.lotteryNameStatus ? 1 : 0
          }
          postSelfCustomNameSwitch(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
              this._getSelfLotteryImageList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.lotteryNameStatus = !row.lotteryNameStatus
        })
      },
      // 自开彩图片配置开关
      changStatus (row) {
        const str = row.status ? '启用' : '禁用'
        this.$confirm(`此操作将${str}图标状态， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: row.lotteryId,
            spCode: row.spCode,
            status: row.status ? 1 : 0
          }
          postSelfCustomSwitch(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
              this._getSelfLotteryImageList()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      },
      //  查询
      _search () {
        this._getSelfLotteryImageList()
      },
      // 自开彩图片配置列表
      _getSelfLotteryImageList () {
        getSelfCustomConfList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.SelfCustomConfList = res.data.data.map((v) => {
              v.status = Boolean(v.status)
              v.lotteryNameStatus = Boolean(v.lotteryNameStatus)
              return v
            })
          }
        })
      },
      _showDialog (row, flag) {
        const _this = this
        this.dialogFormVisible = true
        this.lotteryImage.lotteryId = row.lotteryId
        this.lotteryImage.lotteryName = row.lotteryName
        this.lotteryImage.spCode = row.spCode
        this.lotteryImage.imageUrl = row.imageUrl
        this.lotteryImage.langNameList = row.langLotteryName.map(e => {
          const r = {}

          r.lang = Object.keys(e)[0]
          // this.$set(e, 'langText', e[e.key])
          // e.lang="("+e.lang+")"
          _this.$set(r, 'langText', e[r.lang])
          return r
        })
        if (flag === 1) {
          this.showLotteryName = true
          this.titleContent = '编辑自开彩名称'
        } else {
          this.showLotteryIcon = true
          this.titleContent = '编辑自开彩图标'
        }
      },
      // 提交自定义彩种图标
      _postSelfCustomImageEdit (formName) {
        if (!this.lotteryImage.imageUrl) {
          this.$message({
            type: 'error',
            message: '请上传图片!'
          })
          return
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            const str = '配置该彩种自开彩图标'
            this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                spCode: this.lotteryImage.spCode,
                lotteryId: this.lotteryImage.lotteryId,
                imageUrl: this.lotteryImage.imageUrl
              }
              postSelfCustomImageEdit(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '配置成功!'
                  })
                  this.resetForm()
                  this._search()
                }
              })
            })
          }
        })
      },
      // 提交自定义彩种名称
      _postSelfCustomNameEdit (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            const str = '配置该彩种自开彩名称'
            this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const query = {
                spCode: this.lotteryImage.spCode,
                lotteryId: this.lotteryImage.lotteryId,
                lotteryName: this.lotteryImage.langNameList[0].langText,
                langNameList: JSON.stringify(this.lotteryImage.langNameList)
              }
              postSelfCustomNameEdit(query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '配置成功!'
                  })
                  this.resetForm()
                  this._search()
                }
              })
            })
          }
        })
      },
      resetForm (formName) {
        // this.$refs[formName].resetFields()
        this.showLotteryName = false
        this.showLotteryIcon = false
        this.lotteryImage = {
          lotteryName: '',
          imageUrl: '',
          langNameList: []
        }
        this.dialogFormVisible = false
      }
    },
    created () {
      // this.getSpInfo()
      // this._getLotteryTypeList()
    }
  }
</script>
<style lang="scss" scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px !important;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
