<!--玩法分类-->
<template>
  <el-card>
    <el-table
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      ref="multipleTable"
      :data="list"
      border
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column
        label="分组ID"
        align="right"
        width="80">
        <template slot-scope="scope">{{ scope.row.id}}</template>
      </el-table-column>
      <el-table-column
        label="分组名称"
        align="right"
        min-width="100"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.groupName }}
        </template>
      </el-table-column>
      <el-table-column
        prop="groupDesc"
        align="right"
        min-width="150"
        label="分组描述">
      </el-table-column>
      <el-table-column
        prop="description"
        label="开奖规则描述"
        align="right"
        min-width="300"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.openDesc }}
        </template>
      </el-table-column>
    </el-table>
    <!--    <div class="pagination-container">-->
    <!--      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
    <!--                     :current-page.sync="listQuery.pageNo"-->
    <!--                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"-->
    <!--                     layout="total, sizes, prev, pager, next, jumper" :total="total">-->
    <!--      </el-pagination>-->
    <!--    </div>-->
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import {
    getLotteryPlayTabList // 3
    // postLotteryPlayTypeUpStatus
  } from 'api/dataBase/index'

  export default {
    data () {
      return {
        listLoading: false,
        list: []
      }
    },
    created () {
      this._getList()
    },
    methods: {
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _getList () {
        this.listLoading = true
        getLotteryPlayTabList(this.listQuery).then((response) => {
          if (response.data.code === ERR_OK) {
            this.list = response.data.data.elements
            this.listLoading = false
          }
        })
      }
    }
  }
</script>
<style scoped>
  ::v-deep .el-row {
    margin-bottom: 15px;
  }

  .pagination-container {
    text-align: right
  }
</style>
