<template>
  <el-card>
    <el-table :data="items" border fit
              style="width: 100%">
      <el-table-column align="right" label="彩种名称" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩种ID" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="自开类型" min-width="150">
        <template slot-scope="scope">
          <span :class="colorsType(scope.row.selfType)">{{ scope.row.selfType|selfTypeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="开关" min-width="200">
        <template slot-scope="scope">
          <el-switch
            @change="changeLotteryStatus(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            v-model="scope.row.status"
            :disabled="hasPermission('roomLotterySwitch')"
            active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import {
    getRoomLotteryList,
    postRoomLotterySwitch
  } from 'api/roomLottery/'
  // import OpenLotteryContent from '../LotterySwitch/OpenLottery'

  export default {
    components: {
      // OpenLotteryContent
    },
    data () {
      return {
        items: []
      }
    },
    mounted () {
      this._getList()
    },
    methods: {
      colorsType (status) {
        const selfType = {
          0: '',
          1: 'green',
          2: 'red'
        }
        return selfType[status]
      },
      _getList () {
        getRoomLotteryList().then((res) => {
          console.log(res)
          if (res.data.code === ERR_OK) {
            this.items = res.data.data.items.map((item) => {
              item.status = item.status === 1
              return item
            })
          }
        })
      },
      changeLotteryStatus (row) {
        const str = row.status ? '激活' : '关闭'
        this.$confirm(`确定${str}该彩种吗？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: row.lotteryId,
            status: row.status ? 1 : 0
          }
          postRoomLotterySwitch(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '操作成功！'
              })
              this._getList()
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          row.status = !row.status
        })
      }
    },
    filters: {
      selfTypeFilter (type) {
        const clientMap = {
          0: '正常彩种',
          1: '全局自开彩',
          2: '厅自开彩'
        }
        return clientMap[type]
      }
    }
  }
</script>

<style scoped>

</style>
