<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select v-model="listQuery.type" placeholder="终端类型"
                   clearable
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search">查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :key='tableKey' :data="items" v-loading="listLoading" border fit highlight-current-row
              max-height='700'
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="配置编号" width="110" prop="id">
      </el-table-column>
      <el-table-column label="终端类型" align="right" width="150">
        <template slot-scope="scope">
          <span>{{scope.row.clientType | typeFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="页面标题" prop="pageTitle" width="150">
      </el-table-column>
      <el-table-column align="right" label="跳转路径" prop="pagePath">
      </el-table-column>
      <el-table-column align="right" label="配置说明" min-width="120" prop="description">
        <template slot-scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="160">
        <template slot-scope="scope">
          <el-button type="text" @click.native="_showDialog(scope.row)"
                     :disabled="hasPermission('PageTypeUpdate')" icon="check">编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="UpdateFormShow" title="更新配置" class="configuration-dialog">
      <el-form class="small-space" :model="temp" label-position="left"
               label-width="100px" :rules="rules" ref="UpdateForm">
        <el-form-item label="页面标题" prop="pageTitle">
          <el-input v-model="temp.pageTitle" type="text" name="pageTitle" placeholder="页面标题"></el-input>
        </el-form-item>
        <el-form-item label="页面路径" prop="pagePath">
          <el-input v-model="temp.pagePath" type="text" name="pagePath"
                    placeholder="例如：http://127.0.0.1"></el-input>
        </el-form-item>
        <el-form-item label="配置说明" prop="description">
          <el-input v-model="temp.description" type="text" name="description" placeholder="描述信息"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_postPageTypeUpdate">提 交
        </el-button>
        <el-button @click="resetF">关 闭</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getPageTypeList, postPageTypeUpdate } from 'api/system'
import {
  vChineseOrEnglish,
  validateURL
} from 'utils/validate'

export default {
  data () {
    const pageTitle = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('请输入页面名称'))
      }
      if (!vChineseOrEnglish(value)) {
        callback(new Error('仅支持中英文和数字'))
      } else {
        callback()
      }
    }
    const pagePath = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('请输入页面路径'))
      }
      if (!validateURL(value)) {
        callback(new Error('请输入正确的页面路径'))
      } else {
        callback()
      }
    }
    const description = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('请输入页面描述'))
      }
      if (!vChineseOrEnglish(value)) {
        callback(new Error('仅支持中英文和数字'))
      } else {
        callback()
      }
    }
    return {
      listLoading: false,
      UpdateFormShow: false,
      tableKey: 0,
      temp: {},
      rules: {
        pageTitle: [
          {
            required: true,
            trigger: 'blur',
            validator: pageTitle
          }
        ],
        pagePath: [
          {
            required: true,
            trigger: 'blur',
            validator: pagePath
          }
        ],
        description: [
          {
            required: true,
            trigger: 'blur',
            validator: description
          }
        ]
      },
      options: [
        {
          value: 1,
          label: 'WEB'
        },
        {
          value: 2,
          label: 'WAP(H5)'
        },
        {
          value: 3,
          label: 'Android '
        },
        {
          value: 4,
          label: 'iOS '
        },
        {
          value: 5,
          label: 'IPAD'
        }
      ],
      items: [],
      listQuery: {
        type: ''
      }
    }
  },
  created () {
    this._getList()
  },
  methods: {
    resetF () {
      this.$refs.UpdateForm.resetFields()
      this.UpdateFormShow = false
      this.temp = {}
    },
    _showDialog (obj) {
      this.UpdateFormShow = true
      this.temp = { ...obj }
    },
    _postPageTypeUpdate () {
      this.$refs.UpdateForm.validate((valid) => {
        if (valid) {
          const str = '更新页面配置信息'
          this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            postPageTypeUpdate(this.temp).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: '配置成功!'
                })
                this.resetF()
                this._search()
              }
            })
          })
        }
      })
    },
    _search () {
      this._getList()
    },
    _getList () {
      this.listLoading = true
      getPageTypeList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items
        }
      })
      this.listLoading = false
    }
  },
  filters: {
    typeFilter (v) {
      const typeList = {
        1: 'WEB',
        2: 'WAP(H5)',
        3: 'Android',
        4: 'IOS',
        5: 'IPAD'
      }
      return typeList[v]
    }
  }
}
</script>
<style lang="scss" scoped>
  .pagination-container {
    text-align: right;
  }

  .red {
    color: #FF0000;
  }

  .blue {
    color: #0a760a;
  }

  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
</style>
