<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<sp-code-select v-model="listQuery.spCode" />-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          :disabled="hasPermission('roomLevelList')"
          icon="el-icon-search"
          :loading="listLoading"
          @click.native="_search"
        >
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <div v-if="items.length === 0" class="no-data">
      <img src="../../../assets/noData.png" alt="暂无数据">
      <div style="font-size: 20px; margin-top: 10px">暂无数据</div>
    </div>
    <el-tabs
      v-else
      v-model="activeName"
      type="border-card"
    >
      <el-tab-pane
        v-for="item in items"
        :key="item.lotteryId"
        :label="item.lotteryName + '('+(item.selfType===0?'正常彩种':item.selfType===1?'全局自开彩':'厅自开彩')+')' + (searchedSpcode === '' ? '' : ' [' + searchedSpcode + ']')"
      >
        <room-list
          :items="item.roomLevelList"
          :lottery-name="item.lotteryName"
          :sp-code="searchedSpcode"
          :lottery-id="item.lotteryId"
          @doWhenHandleSuccess="_getList"
        />
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import { ERR_OK } from 'api/config'
import {
  getRoomLevelList
} from 'api/roomLottery/'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
import RoomList from './RoomList'
// import SpCodeSelect from 'components/Select/SpCodeSelect'

export default {
  components: {
    RoomList,
    // SpCodeSelect,
    fuzzyQuerySearch
  },
  data () {
    return {
      activeName: '0',
      listLoading: false,
      items: [],
      listQuery: {
        spCode: ''
      },
      searchedSpcode: ''
    }
  },
  mounted () {
    this._getList()
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    _search () {
      this._getList()
    },
    _getList () {
      this.listLoading = true
      getRoomLevelList(this.listQuery).then((res) => {
        // console.log(res)
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items.map((m) => {
            m.roomLevelList.map((n) => {
              n.status = n.status.toString()
              // n.status = Boolean(n.status)
              return n
            })
            return m
          })
          if (this.listQuery.spCode) {
            this.searchedSpcode = this.listQuery.spCode
          } else {
            this.searchedSpcode = ''
          }
        }
        this.listLoading = false
      })
    }
  },
  filters: {
    selfTypeFilter (type) {
      const clientMap = {
        0: '正常彩种',
        1: '全局自开彩',
        2: '厅自开彩'
      }
      return clientMap[type]
    }
  }
}
</script>

<style lang="scss" scoped>
  .no-data {
    text-align: center;
    color: #909399;
    margin-top: 100px;
  }
</style>
