<template>
  <div>
    <el-table :data="items" border fit
              v-loading="listLoading" style="width: 100%">
      <el-table-column align="right" label="房间状态" min-width="200">
        <template slot-scope="scope">
          <el-switch
            @change="changeRoomLevelStatus(scope.row)"
            active-text="启用"
            inactive-text="禁用"
            v-model="scope.row.status"
            inactive-value="0"
            active-value="1"
            :disabled="hasPermission('roomLevelSwitch')"
            active-color="#13ce66">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column align="right" label="房间级别编号" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.roomLevelCode }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="房间级别名称" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.roomLevelName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="房间数" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.roomNum }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="基础设置" min-width="200">
        <template slot-scope="scope">
          <el-button type="text" @click="showDialog(scope.row)">功能设置
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="dialogVisible" class="roomset-dialog"
               width="1100px">
      <span slot="title" class="el-dialog__title">房间设置[{{ spCode === '' ? '': spCode + ' - '}}{{ lotteryName }} - {{ roomLevelName }}]</span>
      <room-setting :room-level="roomLevel"></room-setting>
    </el-dialog>
  </div>
</template>

<script>
  import { ERR_OK } from 'api/config'
  import {
    postRoomLevelSwitch
  } from 'api/roomLottery/'
  import RoomSetting from './DetailSetting'

  export default {
    components: {
      RoomSetting
    },
    props: {
      items: {
        type: Array,
        required: true
      },
      lotteryId: {
        type: Number,
        required: true
      },
      lotteryName: {
        type: String,
        required: true
      },
      spCode: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        dialogVisible: false,
        listLoading: false,
        selectedRoomId: '',
        roomLevelName: '',
        roomLevel: {}
      }
    },
    methods: {
      showDialog (row) {
        console.log(row)
        console.log(row.roomLevelId, this.lotteryId)
        this.roomLevelName = row.roomLevelName
        this.roomLevel = {
          roomLevelId: row.roomLevelId,
          lotteryId: this.lotteryId,
          spCode: this.spCode
        }
        this.dialogVisible = true
      },
      changeRoomLevelStatus (row) {
        console.log(typeof row.status)
        const str = row.status === '1' ? '激活' : '关闭'
        this.$confirm(`确定${str}该房间吗？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: this.lotteryId,
            roomLevelId: row.roomLevelId,
            status: row.status === '1' ? 1 : 0,
            spCode: this.spCode
          }
          postRoomLevelSwitch(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '操作成功！'
              })
              this.$emit('doWhenHandleSuccess')
            } else {
              row.status = row.status === '1' ? '0' : '1'
            }
          })
        }).catch(() => {
          console.log(row.status)
          row.status = row.status === '1' ? '0' : '1'
        })
      }
    }
  }
</script>
