<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
  export default {
    name: 'App',
    created () {
      // 设置title
      // const originTitle = document.title
      // let titleTime
      // document.addEventListener('visibilitychange', function () {
      //   if (document.hidden) {
      //     document.title = '(つェ⊂)咦!去哪里了呢?'
      //     clearTimeout(titleTime)
      //   } else {
      //     document.title = '(つェ⊂)咦!又好了!'
      //     titleTime = setTimeout(() => {
      //       document.title = originTitle
      //     }, 2000)
      //   }
      // })
      // this.getMantainStatus()
    },
    methods: {}
  }
</script>
