<template>
  <div id="login-container">
    <div class="login-container">
      <div class="login-form">
        <el-form
          auto-complete="on"
          :model="loginForm"
          :rules="loginRules"
          ref="loginForm"
          label-position="left"
          status-icon
          label-width="0px"
          class="card-box">
          <h3 class="title">欢迎登录</h3>
          <el-form-item prop="account">
            <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
            <el-input
              name="account"
              type="text"
              ref="account"
              v-model="loginForm.account"
              autocomplete="off"
              placeholder="账号"></el-input>
          </el-form-item>
          <el-tooltip v-model="capsTooltip" content="大小写锁定已开" placement="right" manual>
            <el-form-item prop="password">
              <span class="svg-container">
            <svg-icon icon-class="password" />
          </span>
              <el-input
                name="password"
                :type="passwordType"
                @keyup.native="checkCapslock"
                @blur="capsTooltip = false"
                @keyup.enter.native="handleLogin"
                v-model="loginForm.password"
                autocomplete="off"
                placeholder="密码">
              </el-input>
            </el-form-item>
          </el-tooltip>
          <el-form-item>
            <el-button
              type="primary"
              style="width:100%; padding:14px 15px;"
              @click.native.prevent="handleLogin">登录
            </el-button>
          </el-form-item>
          <el-row>
            <el-col>
              <qr-code :flag="true" ref="qrCode"></qr-code>
            </el-col>
          </el-row>
        </el-form>
        <div style="text-align: center;margin: 10px;font-size: 12px" v-if='IP.length'>当前IP：{{IP}}</div>
      </div>
    </div>
    <div class="download" @mouseover="showLoadQrCode(this, $event)" @mouseout="hideLoadQrCode">
      <div class="ios"></div>
      <div class="android"></div>
      <!--<div class="tips"><a href="/help/index.html" target="_blank"><img src="~@/assets/help.png"></a></div>-->
      <div class="download-img">
        <div v-if="iosImg">
          <img src="~@/assets/ios-down.png">
          <p>扫二维码下载APP <br>（适合iPhone手机）</p>
        </div>
        <div v-if="androidImg">
          <img src="~@/assets/android-down.png">
          <p>扫二维码下载APP <br>（适合安卓手机）</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    validatAlphabetsAndNumber
  } from 'utils/validate'
  import {
    mapState
  } from 'vuex'
  import { getClientIp } from 'api/login'
  import { ERR_OK } from 'api/config'
  import { removeAll, removeQrInfo } from 'utils/storage'
  import QrCode from 'components/QrCodeDialog/QrCode'

  export default {
    created () {
      this.getClientIp()
      removeAll()
      this.$store.dispatch('lotteryQrCode/setIsOpen', true)
    },
    name: 'Login',
    components: { QrCode },
    data () {
      const validateAccount = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('请输入账号'))
        } else if (!validatAlphabetsAndNumber(value)) {
          callback(new Error('请输入正确的合法账号'))
        } else {
          callback()
        }
      }
      const validatePass = (rule, value, callback) => {
        if (value.length < 6) {
          callback(new Error('密码不能小于6位'))
        } else {
          callback()
        }
      }
      return {
        timer: null,
        qrTimer: null,
        iosImg: false,
        androidImg: false,
        IP: '',
        loginForm: {
          account: process.env.NODE_ENV === 'development' ? 'yixiaowu' : '',
          password: process.env.NODE_ENV === 'development' ? '45185947' : '',
          captchaCode: ''
        },
        loginRules: {
          account: [
            {
              required: true,
              trigger: 'blur',
              validator: validateAccount
            }
          ],
          disabled: false,
          password: [
            {
              required: true,
              trigger: 'blur',
              validator: validatePass
            }
          ]
          // captchaCode: [
          //   {
          //     required: true,
          //     trigger: 'blur',
          //     validator: validateCode
          //   }
          // ]
        },
        loading: false,
        passwordType: 'password',
        clearChangeCodeImg: null,
        // redirect: undefined,
        // otherQuery: {},
        capsTooltip: false
      }
    },
    // watch: {
    //   $route: {
    //     handler: function (route) {
    //       const query = route.query
    //       if (query) {
    //         this.redirect = query.redirect
    //         this.otherQuery = this.getOtherQuery(query)
    //       }
    //     },
    //     immediate: true
    //   }
    // },
    computed: {
      // codeImg () {
      //   return imgSrc + '&key=' + this.captchaKey + '&t=' + this.captchaTime
      // },
      ...mapState({
        // captchaKey: state => state.user.captchaKey,
        // captchaTime: state => state.user.captchaTime,
        isOpenQrDialog: (state) => state.lotteryQrCode.isOpenQrDialog,
        qrText: (state) => state.lotteryQrCode.qrText,
        qrHash: (state) => state.app.qrHash,
        redirect: (state) => state.app.redirect
      }),
      qrHashCom () {
        return this.qrHash + 1
      }
      // ...mapGetters([
      //   'isOpenQrDialog',
      //   'qrHash'
      // ]),
      // classObject () {
      //   return {
      //     green: this.passwordType === 'password'
      //   }
      // }
    },
    mounted () {
    },
    methods: {
      getClientIp () {
        getClientIp().then((res) => {
          console.log(res)
          if (res.data.code === ERR_OK) {
            this.IP = res.data.data.clientIP
          }
          console.log(this.IP)
        })
      },
      checkCapslock ({ shiftKey, key } = {}) {
        if (key && key.length === 1) {
          this.capsTooltip = shiftKey && (key >= 'a' && key <= 'z') || !shiftKey && (key >= 'A' && key <= 'Z')
        }
        if (key === 'CapsLock' && this.capsTooltip === true) {
          this.capsTooltip = false
        }
      },
      // 显示下载图片二维码
      showLoadQrCode (context, ev) {
        switch (ev.target.className) {
          case 'ios':
            this.iosImg = true
            this.androidImg = false
            break
          case 'android':
            this.iosImg = false
            this.androidImg = true
            break
        }
      },
      // 隐藏下载图标二维码
      hideLoadQrCode () {
        this.iosImg = false
        this.androidImg = false
      },
      // changeCodeImg () {
      //   this.clearChangeCodeImg = setTimeout(() => this.getCodeImg(), 1000 * 60)
      // },
      // getCodeImg: debounce(function() {
      //   const that = this
      //   clearTimeout(that.clearChangeCodeImg)
      //   let errCount = 0
      //
      //   function tryImg () {
      //     const img = new Image()
      //     that._createKey()
      //     img.src = imgSrc + '&key=' + that.captchaKey + '&t=' + that.captchaTime
      //     that.codeImg = img.src
      //     img.onerror = function() {
      //       errCount++
      //       if (errCount < 4) {
      //         tryImg()
      //       }
      //     }
      //   }
      //
      //   // 如果获取图片失败，重试3次
      //   tryImg()
      // }, 300),
      // code () {
      //   this.changeCodeImg()
      // },
      // showPwd () {
      //   if (this.passwordType === 'password') {
      //     this.passwordType = 'text'
      //   } else {
      //     this.passwordType = 'password'
      //   }
      //   this.disabled = !this.disabled
      // },
      // getOtherQuery (query) {
      //   return Object.keys(query).reduce((acc, cur) => {
      //     if (cur !== 'redirect') {
      //       acc[cur] = query[cur]
      //     }
      //     return acc
      //   }, {})
      // },
      handleLogin () {
        this.$refs.loginForm.validate((valid) => {
          if (valid) {
            if (this.isOpenQrDialog) {
              this.$message({
                message: '请先进行二维码验证,谢谢',
                type: 'warning'
              })
              return
            }
            this.loading = true
            const query = { ...this.loginForm, captchaKey: this.captchaKey, qrText: this.qrText }
            this.$store.dispatch('user/LoginByAccount', query).then(() => {
              this.loading = false
              // this.$router.push({ path: this.redirect || '/' })
              // this.$router.push({ path: this.redirect || '/', query: this.otherQuery })
              this.$router.push({ path: this.redirect || '/' })
              removeQrInfo()
              // debugger
              window.location.reload()
            }).catch((err) => {
              console.log(err)
              // this._createKey()
              // this.$message.error(err)
              this.loading = false
              this.$store.dispatch('lotteryQrCode/setIsOpen', true)
              this.$refs.qrCode.scanQrCode()
              this.$refs.qrCode._postScanQrCode()
            })
          } else {
            return false
          }
        })
      }
      // _createKey () {
      //   this.resetCode()
      //   this.loginForm.captchaKey = this.captchaKey
      // },
      // ...mapActions([
      //   'resetCode'
      // ])
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  @import 'src/styles/mixin.scss';

  .green {
    color: #00bcd4;
  }

  #login-container .login-container .login-form {
    background: white;
  }

  .el-button--primary {
    border: none;
  }

  img.codeImg {
    cursor: pointer;
    height: 50px;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
  }

  #login-container {
    width: 100%;
    height: 100%;
    background-color: #2d3a4b;

    .login-container {
      @include relative;
      height: 100vh;
      overflow: hidden;
      background-image: url("../../assets/sky.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      input:-webkit-autofill {
        /*-webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;*/
        /*-webkit-text-fill-color: #fff !important;*/
      }

      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: #000;
        height: 47px;

      }

      .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;
      }

      .svg-container {
        padding: 6px 5px 6px 15px;
        color: #889aa4;
      }

      .title {
        font-size: 26px;
        font-weight: 400;
        color: #666;
        margin: 0px auto 25px auto;
        text-align: center;
      }

      .login-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*max-width: 400px;*/
        width: 500px;
        /*min-width: 300px;*/
        padding: 35px 50px 15px 50px;
      }

      /*.login-form {*/
      /*position: absolute;*/
      /*left: 0;*/
      /*right: 0;*/
      /*max-width: 400px;*/
      /*min-width: 300px;*/
      /*padding: 35px 35px 15px 35px;*/
      /*margin: auto;*/
      /*}*/

      .el-form-item {
        border: 1px solid #bfcbd9;
        /*background: rgba(0, 0, 0, 0.1);*/
        border-radius: 5px;
        color: #454545;
      }

      .el-form-item.is-error {
        border: 1px solid #f00;
      }

      .forget-pwd {
        color: #fff;
      }
    }

    .download {
      position: absolute;
      right: 5%;
      top: 7%;
      display: flex;

      .ios {
        width: 136px;
        height: 45px;
        margin-right: 20px;
        background: url('~@/assets/ios.png');
        cursor: pointer;

        &:hover {
          background: url('~@/assets/ios-select.png');
        }
      }

      .android {
        width: 136px;
        height: 45px;
        background: url('~@/assets/android.png');
        cursor: pointer;

        &:hover {
          background: url('~@/assets/android-select.png');
        }
      }

      .tips {
        width: 22px;
        height: 22px;
        transform: translate(50%, 50%);
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .download-img {
        position: absolute;
        left: 50%;
        top: 91px;
        transform: translate(-50%, 0);

        p {
          text-align: center;
          color: #fff;
          margin-top: 20px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
</style>
