<!--平台商设置-->
<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
        <!--								           clearable default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spCodes"-->
        <!--											:key="item.value"-->
        <!--											:label="item.value"-->
        <!--											:value="item.value">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click.native="_search"
                   :loading="listLoading"
                   :disabled="!listQuery.spCode || hasPermission('SpLotteryMaxRewardList')">
          查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：最大中奖金额设置为0时，代表不限额！"
      type="warning"
      show-icon>
    </el-alert>
    <el-table
      ref="multipleTable"
      :data="items"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      border
      max-height='700'
      tooltip-effect="dark"
      style="width: 100%">
      <el-table-column align="right" label="序号" type="index" width="70">
      </el-table-column>
      <!--<el-table-column-->
      <!--label="配置ID"-->
      <!--align="right">-->
      <!--<template slot-scope="scope">{{ scope.row.id }}</template>-->
      <!--</el-table-column>-->
      <el-table-column
        label="厅主"
        align="right">
        <template slot-scope="scope">{{ scope.row.spCode }}</template>
      </el-table-column>
      <el-table-column
        prop="lotteryTypeName"
        label="彩种类型名称"
        min-width="120"
        align="right"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="lotteryName"
        label="彩种名称"
        min-width="120"
        align="right"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="maxReward"
        label="最大中奖金额/元"
        min-width="120"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-input v-if="scope.row.isEdit" step="0.01"
                    v-model="scope.row.maxReward" type="text" min="0"></el-input>
          <span v-else
                :disabled="scope.row.saveBoolean">{{ parseFloat(scope.row.maxReward) === 0 ? '不限额' : parseFloat(scope.row.maxReward).toFixed(2)}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="betPause"
        label="状态"
        align="right"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span
            :class="{active_blue:!scope.row.betPause ,active_red:scope.row.betPause}">{{scope.row.betPause === 0 ? '开盘中' : '封盘中'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" min-width="182">
        <template slot-scope="scope">
          <el-button v-if='!scope.row.isEdit' type="primary" @click.native='scope.row.isEdit=true'
                     icon="el-icon-edit" :disabled="hasPermission('SpLotteryMaxReward')">
            编辑
          </el-button>
          <el-button v-else type="success"
                     @click.native='_postSpLotteryMaxReward(scope.row,1)'
                     icon="check">
            完成
          </el-button>
          <el-button v-show="scope.row.isEdit" type="success" :disabled="!scope.row.isEdit"
                     @click.native='_postSpLotteryMaxReward(scope.row,2)'
                     icon="check">
            取消
          </el-button>
        </template>
        <!--<template slot-scope="scope">-->
        <!--<el-dropdown>-->
        <!--<el-button type="primary">-->
        <!--更多菜单<i class="el-icon-caret-bottom el-icon&#45;&#45;right"></i>-->
        <!--</el-button>-->
        <!--<el-dropdown-menu slot="dropdown" class="dropdown_menu">-->
        <!--<el-dropdown-item v-if='!scope.row.betPause' @click.native="showDialog(scope.row,1)">暂停下注-->
        <!--</el-dropdown-item>-->
        <!--<el-dropdown-item v-if='scope.row.betPause' @click.native="showDialog(scope.row,0)">恢复下注-->
        <!--</el-dropdown-item>-->
        <!--<el-dropdown-item @click.native="openDialog(scope.row)">配置限额</el-dropdown-item>-->
        <!--</el-dropdown-menu>-->
        <!--</el-dropdown>-->
        <!--</template>-->
      </el-table-column>
    </el-table>
    <!--弹窗-->
    <!--<el-dialog :visible.sync="dialogFormVisibleForDefine" title="限额配置">-->
    <!--<el-form class="small-space" :model="temp" label-position="left" ref="splimitForm"-->
    <!--label-width="100px"-->
    <!--:rules="splimitRules">-->
    <!--<el-form-item label="厅主">-->
    <!--<el-input v-model="temp.spCode" type="text" readonly></el-input>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="彩种名称">-->
    <!--<el-input v-model="temp.lotteryName" type="text" readonly></el-input>-->
    <!--</el-form-item>-->

    <!--<el-form-item label="限额/元" prop="maxReward">-->
    <!--<el-input v-model="temp.maxReward" type="text" name="maxReward"></el-input>-->
    <!--</el-form-item>-->
    <!--</el-form>-->
    <!--<div slot="footer" class="dialog-footer">-->
    <!--<el-button type="primary" @click="_postSpLotteryMaxReward">提 交</el-button>-->
    <!--<el-button type="primary" @click="resetF">关 闭</el-button>-->
    <!--</div>-->
    <!--</el-dialog>-->
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  // import { getAjaxData } from 'api/common'
  import { getSpLotteryMaxRewardList, postSpLotteryMaxReward } from 'api/spInfoList/'// 列表、限额配置、暂停恢复
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      // const validateMoney = (rule, value, callback) => {
      // if (parseInt(value) === -1) {
      // callback()
      // }
      // if (!value) {
      // return callback(new Error('输入金额不能为空'))
      // } else {
      // if (parseFloat(value) < 0.01 || parseFloat(value) > 10000000) {
      // callback(new Error('您输入的金额不规范！！'))
      // } else {
      // callback()
      // }
      // }
      // }
      return {
        listLoading: false,
        // dialogFormVisibleForDefine: false,
        // spCodes: [],
        // spCodeInput: '',
        items: [],
        multipleSelection: [],
        // temp: {
        // spCode: '',
        // lotteryName: '',
        // maxReward: 0,
        // lotteryId: ''
        // },
        // splimitRules: {
        // maxReward: [
        // {
        // requried: true,
        // trigger: 'blur',
        // validator: validateMoney
        // }
        // ]
        // },
        listQuery: {
          spCode: ''
        }
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      _postSpLotteryMaxReward (obj, flag) {
        if (flag === 1) {
          const re = /^\d+(?:\.\d{1,2})?$/
          if (parseFloat(obj.maxReward) < 0) {
            this.$message({
              type: 'error',
              message: '不能为负数'
            })
            return
          }
          if (!re.test(obj.maxReward)) {
            this.$message({
              type: 'error',
              message: '输入的数值不正确，只允许两位小数'
            })
            return
          }
          if (obj.maxReward <= 20000000) {
            this.$confirm(`此操作将对彩种名称${obj.lotteryName}中奖最大限额重置，是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              postSpLotteryMaxReward({
                spCode: obj.spCode,
                lotteryId: obj.lotteryId,
                maxReward: parseInt(parseFloat(obj.maxReward) * 100)
              }).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: '配置成功!'
                  })
                  obj.maxReward2 = obj.maxReward
                  obj.isEdit = false
                }
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '取消操作!'
                })
              })
            })
          } else {
            this.$message({
              type: 'error',
              message: '最大中奖金额为20000000元!'
            })
          }
        } else {
          obj.isEdit = false
          obj.maxReward = obj.maxReward2
        }
        //        } else {
        //          this.$message({
        //            type: 'error',
        //            message: '最大中奖金额为100000元!'
        //          })
        //        }
      },
      // openDialog(row) {
      // this.dialogFormVisibleForDefine = true
      // this.temp.spCode = row.spCode
      // this.temp.lotteryName = row.lotteryName
      // this.temp.maxReward = parseFloat(row.maxReward / 100).toFixed(2)
      // this.temp.lotteryId = row.lotteryId
      // },
      // resetF() {
      // this.dialogFormVisibleForDefine = false
      // this.$refs.splimitForm.resetFields()
      // this.temp = {
      // spCode: '',
      // lotteryName: '',
      // maxReward: 0,
      // lotteryId: ''
      // }
      // },
      // getSpInfo () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spCodes = res.data.data.items.map(v => {
      //         const t = {
      //           value: v.id,
      //           label: v.name
      //         }
      //         return t
      //       })
      //       this.loaded = true
      //     }
      //   })
      // },
      // showDialog(row, flag) {
      // let str = ''
      // switch (flag) {
      // case 0 :
      // str = '恢复下注'
      // break
      // default:
      // str = '暂停下注'
      // }
      // const flagText = '此操作将对彩种名称' + row.lotteryName + '进行' + str + '操作'
      // this.$confirm(`${flagText}， 是否继续?`, '提示', {
      // confirmButtonText: '确定',
      // cancelButtonText: '取消',
      // type: 'warning'
      // }).then(() => {
      // const query = {
      // spCode: row.spCode,
      // lotteryId: row.lotteryId,
      // betPause: flag
      // }
      // postSpLotteryBetPause(query).then(res => {
      // if (res.data.code === ERR_OK) {
      // this.$message({
      // type: 'success',
      // message: '操作成功!'
      // })
      // row.betPause = flag
      // } else {
      // this.$message({
      // type: 'error',
      // message: res.data.desc
      // })
      // }
      // })
      // }).catch(() => {
      // this.$message({
      // type: 'info',
      // message: '取消操作!'
      // })
      // row.status = !row.status
      // })
      // },
      _search () {
        this.listLoading = true
        getSpLotteryMaxRewardList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.items = res.data.data.items.map((r) => {
              r.isEdit = false
              r.saveBoolean = true
              if (r.maxReward !== 0) r.maxReward = parseFloat(r.maxReward / 100).toFixed(2)
              r.maxReward2 = r.maxReward
              return r
            })
            this.listLoading = false
          }
        })
      }
    },
    created () {
      // this.getSpInfo()
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-table .cell {
    font-size: 12px;
    padding: 0 6px;
    line-height: 25px;
  }
</style>
