<!--金流管理-->
<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <!--								<el-select-->
        <!--									v-model="listQuery.spCode"-->
        <!--									placeholder="请选择厅主"-->
        <!--									@change="handleChange"-->
        <!--									clearable-->
        <!--									filterable-->
        <!--									default-first-option-->
        <!--									@clear="resetSelect">-->
        <!--										<el-option-->
        <!--											v-for="item in splList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码",defaultValue:spCode}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input-->
        <!--									style="width: 170px;"-->
        <!--									placeholder="请输入用户账号"-->
        <!--									clearable-->
        <!--									v-model="listQuery.loginId">-->
        <!--								</el-input>-->
        <fuzzy-query-search
          :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入会员账号",defaultValue:loginId}'
          @dealChange='dealChange'
          ref='mSearch'
          :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input style="width: 170px;" placeholder="请输入注单编号" clearable
                  v-model="listQuery.orderCode">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select
          style="width: 110px"
          @change="_cashChange"
          @clear="_cashClear"
          clearable
          filterable
          default-first-option
          placeholder="金流方式"
          v-model="listQuery.cashMode"
          align="right">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select
          style="width: 110px"
          placeholder="交易类型"
          clearable
          filterable
          default-first-option
          v-model="listQuery.cashType"
          align="right"
          :disabled="!listQuery.cashMode">
          <el-option
            v-for="item in options2"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          range-separator="至"
          :picker-options="pickerOptions"
          clearable
          :default-time="['00:00:00', '23:59:59']"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          format="yyyy-MM-dd HH:mm:ss"
          @change="timeFormat"
          unlink-panels
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="_search"
          :loading="listLoading"
          :disabled="Boolean(!listQuery.spCode )">查询
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :key='tableKey'
      :data="elements"
      v-loading="listLoading"
      border
      fit
      highlight-current-row
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      style="width: 100%">
      <el-table-column align="right" label="流水号" min-width="180">
        <template slot-scope="scope">
          <span>{{scope.row.uuid}}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="用户账号" width="100" prop="loginId">
      </el-table-column>
      <el-table-column algin="right" label="用户id" width="100" prop="uid">
      </el-table-column>
      <el-table-column width="80" align="right" label="类别">
        <template slot-scope="scope">
										<span
                      :class="[scope.row.tradeType === 1 ?'blue':'red']">{{scope.row.tradeType === 1 ? '收入' : '支出'}}</span>
        </template>
      </el-table-column>
      <el-table-column width="120" align="right" label="交易类型">
        <template slot-scope="scope">
          <span>{{scope.row.cashType | traceFilter}}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="180" align="right" label="注单号">
        <template slot-scope="scope">
          <el-tooltip content="点击复制注单号" placement="top">
            <el-button type="text" @click="handleCopy(scope.row.orderCode,$event,'注单号')">
              {{scope.row.orderCode}}
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <!--<el-table-column width="100" align="right" label="所属彩期">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.issu}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column width="120" align="right" label="原金额/元">
        <template slot-scope="scope">
          <span>{{scope.row.historyMonery}}</span>
        </template>
      </el-table-column>
      <el-table-column width="140" align="right" label="操作金额/元">
        <template slot-scope="scope">
          <span>{{scope.row.cashMoney}}</span>
        </template>
      </el-table-column>
      <el-table-column width="140" align="right" label="剩余金额/元">
        <template slot-scope="scope">
          <span>{{scope.row.balanceMoney}}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="160" align="right" label="交易时间">
        <template slot-scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
      <!--<el-table-column min-width="150" align="right" label="交易时间/美东">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{scope.row.createTimeAsEDT}}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column label="备注" align="right" min-width="150">
        <template slot-scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>

    </el-table>
    <div v-show="elements.length" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.pageNo"
        :page-sizes="[10,20,50,100,200,500]"
        :page-size="listQuery.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import { getMemberCashflowList } from 'api/cashflow'
  // import { getAjaxData } from 'api/common'
  import Settime from 'utils/settime'
  //  import { getMemberInfoList } from 'api/members'
  import { mapState } from 'vuex'
  import clip from 'utils/clipboard'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: { fuzzyQuerySearch },
    data () {
      return {
        listLoading: false,
        tableKey: 0,
        dataValue: [],
        elements: [],
        // members: [],
        useStatus: [0, 1],
        onlineStatus: [0, 1],
        options2: [],
        options: [
          {
            value: 1,
            label: '单一钱包'
          },
          {
            value: 2,
            label: '额度转换'
          }
        ],
        pickerOptions: EnUSPickerOptions,
        //        changePlace: [
        //          {
        //            value: 1,
        //            label: '北京时间'
        //          },
        //          {
        //            value: 2,
        //            label: '美东时间'
        //          }
        //        ],
        value1: '',
        value2: '',
        // splList: [],
        listQuery: {
          spCode: '',
          loginId: '',
          // uid: '',
          orderCode: '',
          cashMode: '', // 1.单一钱包 2.额度转换
          cashType: '', // 交易类型 单一钱包:1-投注 2-派彩  额度转换:1-投注 2-派彩 3-金流转入 4-金流转出
          beginTime: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10
        },
        total: 0
      }
    },
    filters: {
      traceFilter (type) {
        const typeMap = {
          10: '投注',
          20: '派彩',
          30: '撤单',
          40: '金流转入',
          50: '金流转出',
          // 60: '投注返点',
          // 70: '代理返点',
          11: '一元夺奖投注',
          21: '一元夺奖派彩',
          90: '直播打赏'
        }
        return typeMap[type]
      }
    },
    computed: {
      ...mapState({
        spCode: (state) => state.member.spCode,
        loginId: (state) => state.member.loginId
      })
    },
    beforeDestroy () {
      this.$store.dispatch('member/setSpCode', '')
      this.$store.dispatch('member/setLoginID', '')
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // const url = decodeURI(window.location.href)
      // this._getSpInfoList()
      // if (url.indexOf('?') > -1) {
      //   this.listQuery.spCode = url.substring(url.indexOf('?') + 1, url.length).split('|')[0]
      //   this.listQuery.loginId = url.substring(url.indexOf('?') + 1, url.length).split('|')[1]
      //   this._search()
      // }
      if (this.spCode && this.loginId) {
        this.listQuery.spCode = this.spCode
        this.listQuery.loginId = this.loginId
        this._search()
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      handleCopy (text, event, type) {
        clip(text, event, type)
      },
      // changtime() {
      //   this.listQuery.beginTime = ''
      //   this.listQuery.endTime = ''
      // },
      handleChange () {
        this.resetSelect()
        this.$store.dispatch('member/setSpCode', '')
        this.$store.dispatch('member/setLoginID', '')
        // this._getMemberList()
      },
      timeFormat (v) {
        console.log(v)
      },
      resetSelect () {
        // this.members = []
        this.listQuery.loginId = ''
      },
      _cashChange (val) {
        this.listQuery.cashType = ''
        const optionsMap = {
          1: [
            {
              value: 10,
              label: '投注'
            },
            {
              value: 20,
              label: '派彩'
            },
            {
              value: 30,
              label: '撤单'
            },
            // {
            //   value: 60,
            //   label: '投注返点'
            // },
            // {
            //   value: 70,
            //   label: '代理返点'
            // },
            {
              value: 21,
              label: '一元夺奖结算'
            },
            {
              value: 11,
              label: '一元夺奖下注'
            },
            {
              value: 90,
              label: '直播打赏'
            }
          ],
          2: [
            {
              value: 10,
              label: '投注'
            }, {
              value: 20,
              label: '派彩'
            },
            {
              value: 30,
              label: '撤单'
            },
            {
              value: 40,
              label: '金流转入'
            }, {
              value: 50,
              label: '金流转出'
            },
            // {
            //   value: 60,
            //   label: '投注返点'
            // },
            // {
            //   value: 70,
            //   label: '代理返点'
            // },
            {
              value: 21,
              label: '一元夺奖结算'
            },
            {
              value: 11,
              label: '一元夺奖下注'
            },
            {
              value: 90,
              label: '直播管理'
            }
          ]
        }
        this.options2 = optionsMap[val]
      },
      _cashClear () {
        this.listQuery.cashType = ''
        this.options2 = []
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      // _getMemberList() {
      //  getMemberInfoList({ spCode: this.listQuery.spCode, status: 1, pageSize: 500 }).then(res => {
      //    if (res.data.code === ERR_OK) {
      //      this.members = res.data.data.elements
      //    }
      //  })
      // },
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.splList = res.data.data.items
      //     }
      //   })
      // },
      _getList () {
        // if (this.listQuery.beginTime && this.listQuery.endTime) {
        // const t = new Date(this.listQuery.beginTime)
        // const tt = new Date(this.listQuery.endTime)
        // this.listQuery.beginTime = parseTime(t)
        // this.listQuery.endTime = parseTime(tt)
        // } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        // this.$message({
        // type: 'error',
        // message: '开始时间和结束时间必须成对出现'
        // })
        // return
        // }
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getMemberCashflowList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.elements.map((v) => {
              v.historyMonery = (v.historyMonery / 100).toFixed(2)
              v.balanceMoney = (v.balanceMoney / 100).toFixed(2)
              v.cashMoney = (v.cashMoney / 100).toFixed(2)
              return v
            })
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
    }
  }
</script>
<style lang='scss' scoped>
  .pagination-container {
    text-align: right;
  }

  .red {
    color: #FF0000;
  }

  .blue {
    color: #0a760a;
  }
</style>
