<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          unlink-panels
          range-separator="至"
          :default-time="['00:00:00', '23:59:59']"
          :picker-options="pickerOptions"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>

    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：向第三方平台发起金额操作时，连接超时或异常时产生的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" min- width="150">
      </el-table-column>
      <el-table-column align="right" label="日志类型" prop="loggerType" min-width="180">
        <template slot-scope="scope">
          <span>{{scope.row.loggerType === 1 ? 'ConnectException' : 'SocketTimeoutException'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="请求地址" prop="reqUrl" min-width="400">
      </el-table-column>
      <el-table-column align="right" label="请求参数" prop="reqParams" min-width="150">
        <template slot-scope="scope" v-if="scope.row.reqParams">
          <el-button type="text" @click="showDetail(scope.row.reqParams)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="异常报文" prop="reqResult" min-width="150">
        <template slot-scope="scope">
          <el-button type="text" v-if="scope.row.reqResult" @click="showResult(scope.row.reqResult)">查询详情
          </el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="重试次数" prop="reqNum" min- width="150">
      </el-table-column>
      <el-table-column align="right" label="是否成功" prop="isFlag" min- width="150">
        <template slot-scope="scope" v-if="scope.row.isFlag">
          <span>{{scope.row.isFlag === 1 ? '是' : scope.row.isFlag === 2 ?'关闭':'否'}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="right" width="150">
        <template slot-scope="scope">
          <el-button type="text" @click="_postLoggerHttpErrorReq(scope.row,1)"
                     :disabled="hasPermission('LoggerHttpErrorReq') || scope.row.isFlag !== 0">请求重发
          </el-button>
          <el-button type="text" @click="_postLoggerHttpErrorReq(scope.row,2)"
                     :disabled="hasPermission('LoggerHttpErrorReq') || scope.row.isFlag !== 0">关闭重发
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="500"
      title="查看详情"
      :visible.sync="popover_visible">
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
    <el-dialog
      width="50%"
      title="异常报文"
      :visible.sync="innerVisible"
      append-to-body>
      <span>{{ requestDetail }}</span>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  import Settime from 'utils/settime'
  import { getLoggerHttpErrorList, postLoggerHttpErrorReq } from 'api/logs/'
  import JsonEditor from 'components/JsonEditor'

  export default {
    components: {
      JsonEditor
    },
    data () {
      return {
        dataValue: [],
        value: '',
        popover_visible: false,
        listLoading: false,
        listQuery: {
          beginTime: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10
        },
        elements: [],
        total: 0,
        pickerOptions: EnUSPickerOptions,
        requestDetail: '',
        innerVisible: false
      }
    },
    methods: {
      showResult (text) {
        this.requestDetail = text
        this.innerVisible = true
      },
      _postLoggerHttpErrorReq (row, reqType) {
        if (row.loggerType === 1) {
          postLoggerHttpErrorReq({ id: row.id, reqType }).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '请求重发成功，3秒后重新刷新列表!'
              })
              setTimeout(() => {
                this.getLogger()
              }, 3 * 1000)
            }
          })
        } else {
          this.$confirm('请确认平台那边是否收到该请求再进行操作， 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            postLoggerHttpErrorReq({ id: row.id, reqType }).then((res) => {
              if (res.data.code === ERR_OK) {
                this.$message({
                  type: 'success',
                  message: '请求重发成功，3秒后重新刷新列表!'
                })
                setTimeout(() => {
                  this.getLogger()
                }, 3 * 1000)
              }
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消操作!'
            })
          })
        }
      },
      showDetail (v) {
        if (v) this.value = JSON.parse(v)
        this.popover_visible = true
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this.getLogger()
      },
      _search () {
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      getLogger () {
        // /* if (this.listQuery.beginTime && this.listQuery.endTime) {
        //  const t = new Date(this.listQuery.beginTime)
        //  const tt = new Date(this.listQuery.endTime)
        //  this.listQuery.beginTime = parseTime(t)
        //  this.listQuery.endTime = parseTime(tt)
        //  } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        //  this.$message({
        //  type: 'error',
        //  message: '开始时间和结束时间必须成对出现'
        //  })
        //  return
        //  }*/
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getLoggerHttpErrorList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items.map((r) =>
              // r.reqParams = r.reqParams.replace(/[\\\/\b\f\n\r\t]/g, '')
              // r.reqResult = r.reqResult.replace(/[\\\/\b\f\n\r\t]/g, '')
              r)
            this.total = res.data.data.totalCount
          }
        })
        this.listLoading = false
      }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      this.getLogger()
    }
  }
</script>
<style scoped="scoped" lang="scss">
  .a1 {
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .editor-container {
    position: relative;
    height: 100%;
  }

  .el-dialog__body {
    padding: 10px 20px;

    .components-container {
      margin: 10px;
    }

  }
</style>
