<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <fuzzy-query-search
            :options="{type:'spCode',placeholder:'请输入厅编码'}"
            @dealChange="dealChange"
        ></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.flag" placeholder="请选择" :disabled="!listQuery.spCode">
          <el-option
              v-for="item in Flags"
              :key="item.value"
              :label="item.label"
              :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
            type="primary"
            icon="el-icon-search"
            @click.native="_search"
            :loading="listLoading"
            :disabled="!listQuery.spCode || hasPermission('SelfLotteryDetailList')"
        >查询
        </el-button>
      </el-form-item>
      <!--      <el-form-item>-->
      <!--        <el-button-->
      <!--          type="primary"-->
      <!--          @click.native="showDialogAll"-->
      <!--          v-if="listQuery.spCode&&!hasPermission('SelfLotteryDetailBatchAdd')"-->
      <!--        >批量预设开奖-->
      <!--        </el-button>-->
      <!--      </el-form-item>-->
      <el-form-item>
        <el-radio-group v-model="listQuery.lotteryId" class="radio" @change="selectId">
          <el-radio :label="item.id" border v-for="item in SelfLotteryInfoList" :key="item.id">
            {{
              item.name
            }}
          </el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-table
        :key="tableKey"
        :data="SelfLotteryDetailList"
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        style="width: 100%"
        max-height="600"
        border
        fit
        highlight-current-row
    >
      <el-table-column label="序号" type="index" align="right" width="80"></el-table-column>
      <el-table-column align="right" label="厅主" prop="spCode" min-width="120"></el-table-column>
      <el-table-column algin="right" label="彩种名称" min-width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="期号" min-width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.issue }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="预设开奖号码" min-width="160">
        <template slot-scope="scope">
          <span>{{ scope.row.prevResult }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="手动开奖号码" min-width="160" prop="pointResult">
        <template slot-scope="scope">
          <span>{{ scope.row.pointResult }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="开奖号码" min-width="160" prop="openCode">
        <template slot-scope="scope">
          <span>{{ scope.row.openCode }}</span>
        </template>
      </el-table-column>
      <el-table-column algin="right" label="封盘/开奖时间(北京)" min-width="210">
        <template slot-scope="scope">
          <span>{{ scope.row.endTime }}</span>
          <br />
          <span>{{ scope.row.openTime || '--/--/-- --:--:--' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="200" fixed='right'>
        <template slot-scope="scope">
          <el-button
              type="success"
              @click="showDialog(scope.row)"
              :disabled="checkTime(scope.row.endTime)"
          >预设开奖结果
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page.sync="listQuery.pageNo"
          :page-sizes="[10,20,50,100,200,500]"
          :page-size="listQuery.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
      ></el-pagination>
    </div>
    <el-dialog
        :visible.sync="dialogFormVisiblePre"
        title="开奖结果预设"
        class="dialogPre"
        append-to-body
        width='950px'
        @close="resetForm2"
    >
      <el-form
          class="small-space"
          :model="temp"
          label-position="left"
          ref="prevResultForm"
          :rules="openResultsRule"
          label-width="120px"
      >
        <el-form-item label="彩种名称" prop="lotteryName">
          <el-input v-model="temp.lotteryName" type="text" disabled></el-input>
        </el-form-item>
        <el-form-item label="彩期列表" prop="issue">
          <el-input v-model="temp.issue" type="text" disabled></el-input>
        </el-form-item>
        <el-form-item label="封盘时间" prop="issue">
          <el-input v-model="temp.endTime" type="text" disabled style="width: 180px;"></el-input>
          <span>
            现在：
            <span class="active_red">{{ currentTimeEnUS }}</span>
          </span>
        </el-form-item>
        <el-form-item label="预设开奖号码" prop="prevResult">
          <template>
            <template v-if='LotteryType===22||LotteryType===66'>
              <!--              <template v-for="(item,index) in singleObj.prevResultArr">-->
              <!--              <span :key="index">-->
              <!--                <span class="lt-input-box">-->
              <!--                  <input-->
              <!--                    type="text"-->
              <!--                    class="lt-input six"-->
              <!--                    @focus="resetCurrent(singleObj,$event)"-->
              <!--                    @blur="resetArray(singleObj,index,$event)"-->
              <!--                    :value="item"-->
              <!--                    @input="codeFormatter(singleObj,index,$event)"-->
              <!--                  />-->
              <!--                </span>-->
              <!--              </span>-->
              <!--              </template>-->
              <template v-for='i in 3'>
                <fieldset class='body' :key='i'>
                  <legend class='title'>{{ textArray[i - 1] }}</legend>
                  <template v-for='j in 6'>
                             <span class="lt-input-box" :key='6 *(i-1) + j-1'>
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,6 *(i-1) + j-1,$event)"
                                        :value="singleObj.prevResultArr[6 *(i-1) + j-1]"
                                        @input="codeFormatter(singleObj,6 *(i-1) + j-1,$event)"
                                    />
                                  </span>
                  </template>
                </fieldset>
              </template>
              <fieldset class='body' style='width: 78px'>
                <legend class='title'>{{ textArray[3] }}</legend>
                <span class="lt-input-box">
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,18,$event)"
                                        :value="singleObj.prevResultArr[18]"
                                        @input="codeFormatter(singleObj,18,$event)"
                                    />
                                  </span>
                <span class="lt-input-box">
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,19,$event)"
                                        :value="singleObj.prevResultArr[19]"
                                        @input="codeFormatter(singleObj,19,$event)"
                                    />
                                  </span>
              </fieldset>
            </template>
            <template v-else-if='LotteryType===84'>
              <template>
                <template v-if='singleObj.remainder>singleObj.textObj.splitNumber'>
                  <fieldset class='body' key='area1'>
                    <legend class='title'></legend>
                    <template v-for='j in 6'>
                             <span class="lt-input-box" :key='`area${j-1}`'>
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,j-1,$event)"
                                        :value="singleObj.prevResultArr[j-1]"
                                        @input="codeFormatter(singleObj,j-1,$event)"
                                    />
                                  </span>
                    </template>
                  </fieldset>
                  <fieldset class='body' key='area2'>
                    <legend class='title'></legend>
                    <template v-for='j in 5'>
                             <span class="lt-input-box" :key='`area${j+5}`'>
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,j+5,$event)"
                                        :value="singleObj.prevResultArr[j+5]"
                                        @input="codeFormatter(singleObj,j+5,$event)"
                                    />
                                  </span>
                    </template>
                  </fieldset>
                </template>
                <template v-else>
                  <template v-for='i in 2'>
                    <fieldset class='body' :key='i'>
                      <legend class='title'></legend>
                      <template v-for='j in 5'>
                             <span class="lt-input-box" :key='5 *(i-1) + j-1'>
                                    <input
                                        type="text"
                                        class="lt-input six"
                                        @focus="resetCurrent(singleObj,$event)"
                                        @blur="resetArray(singleObj,5 *(i-1) + j-1,$event)"
                                        :value="singleObj.prevResultArr[5 *(i-1) + j-1]"
                                        @input="codeFormatter(singleObj,5 *(i-1) + j-1,$event)"
                                    />
                                  </span>
                      </template>
                    </fieldset>
                  </template>
                </template>
              </template>
            </template>
            <template v-else>
              <template v-for="(item,index) in singleObj.prevResultArr">
              <span class="span" :key='index'>
                  <input
                      type="text"
                      class="lt-input"
                      @focus="resetCurrent(singleObj,$event)"
                      @blur="resetArray(singleObj,index,$event)"
                      :value="item"
                      @input="codeFormatter(singleObj,index,$event)"
                  />
                </span>
              </template>
            </template>
            <div style="margin-top: 25px">
              <el-button type="success" @click="generateCode(singleObj)">随机生成</el-button>
              <el-button type="danger" @click="clearCodes(singleObj)">清空</el-button>
            </div>
          </template>
        </el-form-item>
      </el-form>
      <span class="active_red">{{ singleObj.text }}</span>
      <div slot="footer" class="dialog-footer">
        <el-button
            type="primary"
            @click.native="_SelfLotteryDetailAdd"
            :disabled="checkIsOk(temp.endTime)"
        >提 交
        </el-button>
        <el-button type="primary" @click.native="resetForm2">关 闭</el-button>
      </div>
    </el-dialog>
    <!--    <el-dialog-->
    <!--      :visible.sync="dialogFormVisibleAll"-->
    <!--      title="批量开奖结果预设"-->
    <!--      class="dialogPre"-->
    <!--      append-to-body-->
    <!--      width="850px"-->
    <!--      @close="clearForm"-->
    <!--    >-->
    <!--      <el-form-->
    <!--        class="small-space"-->
    <!--        :model="AllForm"-->
    <!--        label-position="left"-->
    <!--        ref="prevResultForm"-->
    <!--        :rules="openResultsRule"-->
    <!--        label-width="100px"-->
    <!--      >-->
    <!--        <el-form-item label="彩种名称" prop="lotteryName">-->
    <!--          <el-select v-model="AllForm.lotteryId" @change="changeLottery" placeholder="请选择彩种...">-->
    <!--            <el-option-->
    <!--              v-for="item in SelfLotteryInfoList"-->
    <!--              :key="item.id"-->
    <!--              :label="item.name"-->
    <!--              :value="item.id"-->
    <!--            ></el-option>-->
    <!--          </el-select>-->
    <!--        </el-form-item>-->
    <!--        <el-form-item label="预设期数" prop="issue">-->
    <!--          <el-select v-model="AllForm.num" placeholder="请选择" @change="getIssue">-->
    <!--            <el-option-->
    <!--              v-for="item in issue"-->
    <!--              :key="item.value"-->
    <!--              :label="item.label"-->
    <!--              :value="item.value"-->
    <!--            ></el-option>-->
    <!--          </el-select>-->
    <!--          <span style="margin-left: 20px">-->
    <!--            现在：-->
    <!--            <span class="active_red">{{ currentTimeEnUS }}</span>-->
    <!--          </span>-->
    <!--        </el-form-item>-->
    <!--        <el-form-item label="预设开奖号码" prop="prevResult">-->
    <!--          <div style="margin-bottom: 10px">-->
    <!--            <el-button type="success" @click="generateCodeAll">随机生成</el-button>-->
    <!--            <el-button type="danger" @click="clearCodesAll">清空</el-button>-->
    <!--          </div>-->
    <!--          <template v-if="AllForm.issuePrevResultJson.length>0">-->
    <!--            <template v-for="(item,index) in AllForm.issuePrevResultJson">-->
    <!--              <div-->
    <!--                :key="getIssueName(index)"-->
    <!--                class="item-container"-->
    <!--                :class="{'p-box':AllForm.LotteryType===14||AllForm.LotteryType===10}"-->
    <!--              >-->
    <!--                <div class="issueInfo">-->
    <!--                  <div class="issue">-->
    <!--                    第-->
    <!--                    <font class="red">{{getIssueName(index)}}</font> 期-->
    <!--                  </div>-->
    <!--                  <div class="timer">{{item.timer}}</div>-->
    <!--                </div>-->
    <!--                <div-->
    <!--                  v-for="(lt,i) in item.prevResultArr"-->
    <!--                  class="control-box"-->
    <!--                  :key="`${getIssueName(index)}${i}`"-->
    <!--                >-->
    <!--                  <span v-if="AllForm.LotteryType===20" class="lt-input-box">-->
    <!--                    <input-->
    <!--                      type="text"-->
    <!--                      class="lt-input six"-->
    <!--                      @focus="resetCurrent(item,$event)"-->
    <!--                      @blur="resetArray(item,i,$event)"-->
    <!--                      :value="lt"-->
    <!--                      @input="codeFormatter(item,i,$event)"-->
    <!--                    />-->
    <!--                  </span>-->
    <!--                  <span v-else-if="AllForm.LotteryType===10" class="span">-->
    <!--                    <input-->
    <!--                      type="text"-->
    <!--                      class="lt-input"-->
    <!--                      @focus="resetCurrent(item,$event)"-->
    <!--                      @blur="resetArray(item,i,$event)"-->
    <!--                      :value="lt"-->
    <!--                      @input="codeFormatter(item,i,$event)"-->
    <!--                    />-->
    <!--                  </span>-->
    <!--                  <span v-else-if="AllForm.LotteryType===14" class="span">-->
    <!--                    <input-->
    <!--                      type="text"-->
    <!--                      class="lt-input"-->
    <!--                      @focus="resetCurrent(item,$event)"-->
    <!--                      @blur="resetArray(item,i,$event)"-->
    <!--                      :value="lt"-->
    <!--                      @input="codeFormatter(item,i,$event)"-->
    <!--                    />-->
    <!--                  </span>-->
    <!--                  <span v-else>-->
    <!--                    <input-->
    <!--                      type="text"-->
    <!--                      class="lt-input"-->
    <!--                      @focus="resetCurrent(item,$event)"-->
    <!--                      @blur="resetArray(item,i,$event)"-->
    <!--                      :value="lt"-->
    <!--                      @input="codeFormatter(item,i,$event)"-->
    <!--                    />-->
    <!--                  </span>-->
    <!--                </div>-->
    <!--                <span class="s-btn">-->
    <!--                  <el-button type="success" @click="generateCode(item)">随机生成</el-button>-->
    <!--                  <el-button type="danger" @click="clearCodes(item)">清空</el-button>-->
    <!--                </span>-->
    <!--              </div>-->
    <!--            </template>-->
    <!--          </template>-->
    <!--        </el-form-item>-->
    <!--      </el-form>-->
    <!--      <span class="active_red">{{ AllForm.textObj.text }}</span>-->
    <!--      <div slot="footer" class="dialog-footer">-->
    <!--        <el-button type="primary" @click.native="postBatchAdd">提 交</el-button>-->
    <!--        <el-button type="primary" @click.native="clearForm">关 闭</el-button>-->
    <!--      </div>-->
    <!--    </el-dialog>-->
    <qr-code-dialog @transformSecond="transformSecond"></qr-code-dialog>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import {
  getAjaxData
  // getLotteryIssueAjaxQuery
} from 'api/common'
import { getCanRepeatArray, getRandomArray, parseTime } from 'utils'
import {
  getSelfLotteryDetailList,
  postSelfLotteryDetailAdd
  // postSelfLotteryDetailBatchAdd
} from 'api/SelfLottery'
import Settime from 'utils/settime'
import { LotteryText } from '@/LotteryConfig'
import QrCodeDialog from 'components/QrCodeDialog/index'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

export default {
  components: { QrCodeDialog, fuzzyQuerySearch },
  data () {
    return {
      textArray: ['一等奖', '二等奖', '三等奖', '特别号'],
      dialogFormVisiblePre: false,
      dialogFormVisibleAll: false,
      SelfLotteryDetailList: [],
      tableKey: 0,
      total: 0,
      SelfLotteryInfoList: [],
      currentTimeEnUS: '2017/01/01 00:00:00',
      listLoading: false,
      currentTimer: null,
      LotteryType: '',
      // AllForm: {
      //   lotteryId: '',
      //   LotteryType: '',
      //   textObj: {},
      //   issueList: [],
      //   isHasSummary: false,
      //   num: 5,
      //   remainder: 0,
      //   issuePrevResultJson: [
      //     {
      //       prevResultArr: [],
      //       issue: '',
      //       textObj: {},
      //       currentInfo: {},
      //       pta: [],
      //       CodeSum: 0,
      //       dataExt: '',
      //       dataExtSingle: ''
      //     }
      //   ]
      // },
      // issue: [
      //   {
      //     value: 5,
      //     label: '当前期及以后5期'
      //   },
      //   {
      //     value: 10,
      //     label: '当前期及以后10期'
      //   },
      //   {
      //     value: 15,
      //     label: '当前期及以后15期'
      //   },
      //   {
      //     value: 20,
      //     label: '当前期及以后20期'
      //   }
      // ],
      Flags: [
        {
          value: '1',
          label: '当前期及以后'
        },
        {
          value: '0',
          label: '所有'
        }
      ],
      listQuery: {
        spCode: '',
        lotteryId: '',
        flag: '1',
        pageNo: 1,
        pageSize: 50
      },
      openResultsRule: {},
      temp: {},
      singleObj: {
        textObj: {},
        text: '',
        remainder: 0,
        prevResultArr: [],
        currentInfo: {},
        pta: [],
        isHasSummary: false,
        CodeSum: 0,
        dataExt: '',
        dataExtSingle: ''
      }
    }
  },
  beforeDestroy () {
    this.clearAllTimer()
  },
  computed: {},
  methods: {
    async dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
      await this.selectId(this.listQuery.lotteryId)
    },
    // 获取数组元素之和
    // SumArr (arr) {
    //   return arr.map((val) => parseInt(val)).reduce((a, b) => a + b, 0)
    // },
    resetCurrent (Obj, e) {
      Obj.currentInfo.value = e.target.value
      Obj.pta = [].concat(Obj.prevResultArr)
    },
    resetArray (Obj, index, e) {
      const self = this
      if (!e.target.value || !Obj.textObj.range.includes(parseInt(e.target.value))) {
        Obj.prevResultArr.splice(index, 1, Obj.currentInfo.value)
        return
      }
      const val = e.target.value
      self.$nextTick(() => {
        if (Obj.currentInfo.changeIndex !== undefined && !Obj.textObj.canRepeat && Obj.currentInfo.changeIndex !== null) {
          Obj.prevResultArr.splice(index, 1, val)
          Obj.prevResultArr.splice(Obj.currentInfo.changeIndex, 1, Obj.currentInfo.value)
        }
        Obj.currentInfo = {}
        Obj.pta = []
      })
    },
    async codeFormatter (Obj, index, e) {
      const self = this
      const value = await parseInt(e.target.value)
      const val = await (Obj.textObj.fillZero ? (value < 10 ? `0${value}` : value.toString()) : value.toString())
      self.$nextTick(() => {
        if (Obj.textObj.range.includes(value)) {
          if (Obj.pta.includes(val) && !Obj.textObj.canRepeat) {
            Obj.currentInfo.changeIndex = Obj.pta.includes(val) ? Obj.pta.indexOf(val) : null
            console.log('self.currentInfo.changeIndex', Obj.currentInfo.changeIndex)
          } else {
            Obj.currentInfo.changeIndex = null
          }
          Obj.prevResultArr.splice(index, 1, val)
        } else {
          Obj.prevResultArr.splice(index, 1, null)
          if (value === 0 && Obj.textObj.fillZero) Obj.prevResultArr.splice(index, 1, '0')
        }
      })
    },
    async clearCodes (Obj) {
      let generaterNum = Obj.textObj.num[0]
      if (this.LotteryType === 84 && Obj.remainder > Obj.textObj.splitNumber) {
        generaterNum = Obj.textObj.num[1]
      }
      Obj.currentInfo = {}
      Obj.prevResultArr = await this.generateBlankCode(generaterNum)
    },
    generateBlankCode (len) {
      return new Array(len).fill(null)
    },
    generateCode (Obj) {
      console.log(Obj)
      let generaterNum = Obj.textObj.num[0]
      if (this.LotteryType === 84 && Obj.remainder > Obj.textObj.splitNumber) {
        generaterNum = Obj.textObj.num[1]
      }
      Obj.prevResultArr = Obj.textObj.canRepeat ? getCanRepeatArray(Obj.textObj.range, generaterNum, Obj.textObj.fillZero) : getRandomArray(Obj.textObj.range, Obj.textObj.num, Obj.textObj.fillZero)
    },
    transformSecond () {
      this.resetForm2()
      this.clearForm()
      this._search()
    },
    // 获取选中得名称
    selectId (val) {
      // const obj = this.SelfLotteryInfoList.find((item) => {
      //   return item.id === val
      // })
      // // this.AllForm.lotteryId = obj.id
      if (this.listQuery.spCode) this._getSelfLotteryDetailList()
    },
    handleSizeChange (val) {
      this.listQuery.pageSize = val
      this._search()
    },
    handleCurrentChange (val) {
      this.listQuery.pageNo = val
      this._search()
    },
    clearAllTimer () {
      window.clearInterval(this.currentTimer)
      this.currentTimer = null
    },
    checkTime (time) {
      const endTime = new Date(time).getTime()
      return endTime <= new Date(this.currentTimeEnUS).getTime()
    },
    currentTimeEnUSHandle () {
      this.clearAllTimer()
      this.currentTimer = setInterval(() => {
        this.currentTimeEnUS = parseTime(new Date(Settime.RefTime()).getTime() + 12 * 3600 * 1000)
      }, 1000)
    },
    chunk (arr, size) {
      const objArr = []
      let index = 0
      const objArrLen = arr.length / size
      for (let i = 0; i < objArrLen; i++) {
        const arrTemp = []
        for (let j = 0; j < size; j++) {
          arrTemp[j] = arr[index++]
          if (index === arr.length) {
            break
          }
        }
        objArr[i] = arrTemp
      }
      return objArr
    },
    _SelfLotteryDetailAdd () {
      for (let i = 0; i < this.singleObj.prevResultArr.length; i++) {
        if (this.singleObj.prevResultArr[i] === null || this.singleObj.prevResultArr[i] === '') {
          this.$message({
            showClose: true,
            message: '填写的号码不规范!',
            type: 'warning'
          })
          return
        }
      }
      if (this.LotteryType === 22 || this.LotteryType === 66) {
        const t1 = this.chunk(this.singleObj.prevResultArr, 6)
        console.log(t1)
        const t2 = this.chunk(t1[1], 3).map(m => {
          return m.join('')
        })
        const t3 = this.chunk(t1[2], 3).map(m => {
          return m.join('')
        })
        console.log(t2)
        console.log(t3)
        this.temp.prevResult = [t1[0].join(''), ...t2, ...t3, t1[3].join('')].join(',')
        console.log(this.temp.prevResult)
      } else if (this.LotteryType === 84) {
        let t1
        if (this.singleObj.remainder > this.singleObj.textObj.splitNumber) {
          t1 = this.chunk(this.singleObj.prevResultArr, 6).map(m => m.join(''))
        } else {
          t1 = this.chunk(this.singleObj.prevResultArr, 5).map(m => m.join(''))
        }
        this.temp.prevResult = [...t1].join(',')
        console.log(this.temp.prevResult)
      } else {
        this.temp.prevResult = this.singleObj.prevResultArr.join(',')
      }
      const str = '编辑预设开奖结果'
      const {
              issue, prevResult, pointResult, lotteryId, spCode
            } = this.temp
      this.$confirm(`此操作将${str}， 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        postSelfLotteryDetailAdd({
          issue, prevResult, pointResult, lotteryId, spCode
        }).then((res) => {
          if (ERR_OK === res.data.code || res.data.code !== 1101031) {
            this.resetForm2()
            this._search()
          }
        })
      })
    },
    handChangeSpCode (v) {
      getAjaxData({ dataType: 23, pId: v }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.SelfLotteryInfoList = res.data.data.items
          this.listQuery.lotteryId = this.SelfLotteryInfoList[0].id
        }
      })
    },
    resetForm2 () {
      this.dialogFormVisiblePre = false
      this.temp = {}
      this.clearCodes(this.singleObj)
    },
    async showDialog (obj) {
      this.temp = await { ...obj }
      this.dialogFormVisiblePre = true
      const typeNum = Math.floor(Number(this.temp.lotteryId) / 1000)
      this.LotteryType = typeNum
      this.singleObj.remainder = Number(this.temp.lotteryId) % 1000
      this.singleObj.textObj = await this.getNumbers(typeNum)
      let generaterNum = this.singleObj.textObj.num[0]
      this.singleObj.text = this.singleObj.textObj.text[0]
      if (typeNum === 84 && this.singleObj.remainder > this.singleObj.textObj.splitNumber) {
        generaterNum = this.singleObj.textObj.num[1]
        this.singleObj.text = this.singleObj.textObj.text[1]
      }
      this.singleObj.isHasSummary = this.singleObj.textObj.isHasSummary
      // this.singleObj.prevResultArr = await this.temp.prevResult ? this.temp.prevResult.split(',') : this.generateBlankCode(generaterNum)
      this.singleObj.prevResultArr = await this.generatePrevCode(this.temp.prevResult, generaterNum)
      console.log(this.singleObj)
    },
    generatePrevCode (str, num) {
      if (!str) return this.generateBlankCode(num)
      // 22,66:875938,294,328,597,780,98
      // 23:1,2,3,4
      const t = str.split(',')
      console.log(t)
      if (t && t[0] && t[0].length <= 1) return str.split(',')
      let a = []
      t.forEach(m => {
        console.log(m.split(''))
        a = [...a, ...m.split('')]
      })
      console.log(a)
      return a
    },
    checkIsOk (time) {
      const endTime = new Date(time).getTime()
      return endTime <= new Date(this.currentTimeEnUS).getTime()
    },
    _getSelfLotteryDetailList () {
      this.listLoading = true
      getSelfLotteryDetailList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.SelfLotteryDetailList = res.data.data.elements
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    // start batch
    // getIssueName (i) {
    //   if (this.AllForm.issueList.length > 0) return this.AllForm.issueList[i].issue
    // },
    // // 打开批量预设开奖弹框
    // async showDialogAll () {
    //   const typeNum = Math.floor(Number(this.listQuery.lotteryId) / 1000)
    //   this.AllForm.LotteryType = typeNum
    //   this.AllForm.lotteryId = this.listQuery.lotteryId
    //   this.AllForm.textObj = this.getNumbers(typeNum)
    //   this.AllForm.remainder = Number(this.listQuery.lotteryId) % 1000
    //   this.AllForm.text = this.AllForm.textObj.text[0]
    //   if (typeNum === 84 && this.AllForm.remainder > this.AllForm.textObj.splitNumber) {
    //     this.AllForm.text = this.AllForm.textObj.text[1]
    //   }
    //   this.AllForm.isHasSummary = this.AllForm.textObj.isHasSummary
    //   if (this.AllForm.num) await this.getIssue(this.AllForm.num)
    //   this.dialogFormVisibleAll = true
    //   console.log(this.AllForm)
    // },
    // // 清空批量预设开奖弹框数据和计时器
    // clearForm () {
    //   this.dialogFormVisibleAll = false
    //   this.AllForm = {
    //     lotteryId: '',
    //     LotteryType: '',
    //     num: 5,
    //     textObj: {},
    //     isHasSummary: false,
    //     issuePrevResultJson: []
    //   }
    // },
    // // 批量预设彩期开奖结果
    // postBatchAdd () {
    //   const items = this.AllForm.issuePrevResultJson
    //   const resultsList = []
    //   const issueList = []
    //   for (let i = 0; i < items.length; i++) {
    //     let flag = false
    //     for (let j = 0; j < items[i].prevResultArr.length; j++) {
    //       if (items[i].prevResultArr[j] === null || items[i].prevResultArr[j] === '') {
    //         this.$notify({
    //           title: '提示信息',
    //           message: `预设彩期为${items[i].issueInfo.issue}填写的号码不规范,已忽略!`,
    //           type: 'warning'
    //         })
    //         flag = true
    //         break
    //       }
    //     }
    //     console.log(flag)
    //     if (flag) {
    //       continue
    //     }
    //     const q = {
    //       issue: items[i].issueInfo.issue,
    //       prevResult: items[i].prevResultArr.join(',')
    //     }
    //     issueList.push(q.issue)
    //     resultsList.push(q)
    //   }
    //   if (resultsList.length === 0) {
    //     this.$notify({
    //       title: '提示信息',
    //       message: '尚未预设任何开奖结果!!!!',
    //       type: 'error'
    //     })
    //     return
    //   }
    //   const query = {
    //     spCode: this.listQuery.spCode,
    //     lotteryId: this.AllForm.lotteryId,
    //     issuePrevResultJson: JSON.stringify(resultsList)
    //   }
    //   const h = this.$createElement
    //   this.$msgbox({
    //     title: '提示',
    //     message: h('p', null, [
    //       h('span', null, '将对以下彩期进行开奖结果预设:'),
    //       h('i', { style: 'word-break: break-all' }, issueList.join(','))
    //     ]),
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     postSelfLotteryDetailBatchAdd(query).then(res => {
    //       if (ERR_OK === res.data.code || res.data.code !== 1031) {
    //         this.clearForm()
    //         this._search()
    //       }
    //     })
    //   })
    // },
    // // 指定的彩种获得排程数据
    // async getLotteryIssue (lotteryId, num) {
    //   const query = {
    //     lotteryId, // 要查询的彩种ID
    //     flag: 1, // 1.从当前期开始向后num期 2.从当前期开始向前num期 3.当天当前期后的所有排程 默认1
    //     num // 要查询的排程期数,默认为10期,flag为3时,该属性无效,最大查询数量不超过500条
    //   }
    //   return await getLotteryIssueAjaxQuery(query)
    // },
    // changeLottery (v) {
    //   const typeNum = Math.floor(Number(v) / 100)
    //   this.AllForm.LotteryType = typeNum
    //   this.AllForm.lotteryId = v
    //   this.AllForm.textObj = this.getNumbers(typeNum)
    //   this.AllForm.isHasSummary = this.AllForm.textObj.isHasSummary
    //   if (!this.AllForm.num) return
    //   this.getIssue(this.AllForm.num)
    // },
    // async getIssue (v) {
    //   const res = await this.getLotteryIssue(this.AllForm.lotteryId, v)
    //   console.log(res)
    //   if (res.data.code !== ERR_OK) {
    //     throw new Error('获取彩种彩期列表失败...')
    //   }
    //   this.AllForm.issueList = res.data.data
    //   this.AllForm.issuePrevResultJson = []
    //   for (let i = 0; i < this.AllForm.issueList.length; i++) {
    //     const code = this.generateBlankCode(this.AllForm.textObj.num)
    //     const o = {
    //       prevResultArr: code,
    //       currentInfo: {},
    //       pta: [],
    //       CodeSum: 0,
    //       issueInfo: this.AllForm.issueList[i],
    //       textObj: this.AllForm.textObj,
    //       dataExt: '',
    //       dataExtSingle: '',
    //       timer: this.AllForm.issueList[i].endTime
    //     }
    //     this.AllForm.issuePrevResultJson.push(o)
    //   }
    // },
    // generateCodeAll () {
    //   this.AllForm.issuePrevResultJson.forEach(item => {
    //     this.generateCode(item)
    //   })
    // },
    // clearCodesAll () {
    //   this.AllForm.issuePrevResultJson.forEach(item => {
    //     this.clearCodes(item)
    //   })
    // },
    // end batch
    getNumbers (v) {
      if (LotteryText[v] === undefined) {
        throw new Error('暂无此彩种开奖号码相关配置...')
      }
      return LotteryText[v]
    },
    _search () {
      this._getSelfLotteryDetailList()
    }
  },
  created () {
    this.currentTimeEnUSHandle()
    this.handChangeSpCode()
  },
  filters: {}
}
</script>
<style lang="scss" scoped>
@import "~@/styles/var.scss";

.active_red {
  color: #ff0000;
}

.lt-input-box {
  position: relative;

  .plus {
    font-size: 20px;
  }

  .animal {
    position: absolute;
    bottom: -30px;
    left: 12px;
    font-size: 12px;

    &.te {
      left: 0;
    }
  }
}

.lt-input {
  width: 35px;
  height: 35px;
  outline: 0;
  font-size: 20px;
  border: $border;
  text-align: center;
  margin-right: 1px;
  color: red;
}

.span {
  position: relative;

  .lt-input {
    width: 45px;
    height: 45px;
  }

  .text {
    position: absolute;
    bottom: -36px;
    left: 9px;
    font-size: 12px;
  }
}

.num-dot {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff5151;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #f6f6f6;
  margin-right: 3px;
  margin-left: 3px;
  transition: all 0.2s linear;
}

::v-deep .dataExt {
  display: inline-block;

  span {
    color: red;
  }
}

.radio {
  ::v-deep label {
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  &.p-box {
    .s-btn {
      line-height: 45px;
    }
  }

  .s-btn {
    vertical-align: top;
    margin-left: 10px;
    line-height: 35px;
  }
}

.issueInfo {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  margin-right: 10px;
  text-align: center;

  .issue,
  .timer {
    line-height: 23px;
  }

  .issue {
  }

  .timer {
    margin-top: -2px;
    color: red;
  }
}

.body {
  display: inline;
  padding: 1px;
  width: 222px;
  border-color: #0099ff;
  border-style: dashed;

  .title {
    color: red;
  }
}
</style>
