<!--彩种设置-->
<template>
  <el-card>
    <el-tabs v-model="activeTab" type="border-card" @tab-click="handleClick">
      <el-tabs v-model="activeRegionTab" @tab-click="getTableData" class="splTplTab">
        <el-tab-pane
          v-for="typeTab in lotteryRegionList"
          :name="typeTab.id"
          :label="typeTab.name"
          :key="typeTab.name"
        ></el-tab-pane>
      </el-tabs>
      <el-table
        v-loading="listLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        :data="tableData"
        :key="hashKey"
        max-height="650"
        border
        style="width: 100%"
      >
        <el-table-column align="right" label="彩种ID" min-width="120" prop="id"></el-table-column>
        <!--    <el-table-column label="彩种编码" prop="lotteryName" align="right" min-width="120">-->
        <!--    </el-table-column>-->
        <el-table-column label="彩种名称" prop="lotteryName" align="right" min-width="120"></el-table-column>
        <!--              <el-table-column label="所属玩法集" prop="playGroupName" align="right" min-width="120">-->
        <!--              </el-table-column>-->
        <el-table-column label="开奖总时长/s" prop="openDuration" align="right" min-width="120"></el-table-column>
        <el-table-column label="预封盘的时长/s" prop="preDuration" align="right" min-width="120"></el-table-column>
        <el-table-column label="自开类型" prop="selfType" align="right" min-width="120">
          <template slot-scope="scope">
            <span :class="colorsType(scope.row.selfType)">{{scope.row.selfType|filterSelfType}}</span>
          </template>
        </el-table-column>
        <el-table-column label="彩种说明" prop="description" align="right" min-width="120"></el-table-column>
        <el-table-column
          v-if="tableData.length>1"
          align="right"
          label="调整顺序"
          min-width="120"
          prop="displaySort"
        >
          <template slot-scope="scope">
            <div>
              <i
                style="cursor:pointer;"
                @click="up(scope.$index,scope.row)"
                v-if="scope.$index!==0"
                class="defaultimg"
              >
                <span></span>
              </i>
              <i
                style="cursor:pointer;"
                @click="down(scope.$index,scope.row)"
                v-if="scope.$index!==tableData.length-1"
                class="defaultimg"
              >
                <span class="down"></span>
              </i>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="right" min-width="160" prop="status">
          <template slot-scope="scope">
            <el-switch
              @change="showDialog(scope.row)"
              active-text="启用"
              inactive-text="禁用"
              v-model="scope.row.status"
              :disabled="hasPermission('LotteryUpStatus')"
              active-color="#13ce66"
            ></el-switch>
          </template>
        </el-table-column>
      </el-table>
      <el-tab-pane v-for="tab in tabList" :name="tab.id" :label="tab.name" :key="tab.name"></el-tab-pane>
    </el-tabs>
  </el-card>
</template>
<script>
  // 接口543 彩种类型
  import { ERR_OK } from 'api/config'
  import { getAjaxData } from 'api/common'
  import {
    getLotteryInfoList,
    postLotteryUpStatus,
    getLotteryUpDisplaySort
  } from 'api/dataBase/index'

  export default {
    data () {
      return {
        tabList: [],
        lotteryRegionList: [],
        listLoading: false,
        tableData: [],
        hashKey: 1,
        activeTab: '',
        activeRegionTab: '',
        listQuery: {
          lotteryTypeId: '',
          lotteryRegionId: ''
        }
      }
    },
    async created () {
      await this._getInfoList()
      this.getTableData()
    },
    methods: {
      // 获取彩种 tab 列表
      async _getInfoList () {
        await getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.tabList = res.data.data.items
            if (this.tabList.length > 0) {
              this.activeTab = this.tabList[0].id // 默认显示第一个tab
            }
          }
        })
        this._getlotteryRegionIdList()
      },
      // 获取彩种区域
      _getlotteryRegionIdList () {
        getAjaxData({ dataType: 14, pId: this.activeTab }).then((res) => {
          if (res.data.code === ERR_OK) {
            if (res.data.data.items.length) {
              this.lotteryRegionList = [{ id: '0', name: '所有' }, { id: '6', name: '超級64' }].concat(res.data.data.items)
              if (this.lotteryRegionList.length > 0) {
                this.activeTypeTab = this.lotteryRegionList[0].id // 默认显示第一个tab
              }
            } else {
              this.lotteryRegionList = []
            }
          }
        })
      },
      async handleClick (tab, event) {
        if (this.listQuery.lotteryRegionId) {
          this.activeRegionTab = '0'
          this.listQuery.lotteryRegionId = ''
        }
        await this._getlotteryRegionIdList()
        this.getTableData()
      },
      getTableData () {
        this.listQuery.lotteryTypeId = this.activeTab
        this.listQuery.lotteryRegionId = this.activeRegionTab === '0' ? '' : this.activeRegionTab
        this.listLoading = true
        getLotteryInfoList(this.listQuery).then((res) => {
          this.tableData = res.data.data.LotteryInfoList.map(v => {
            v.status = Boolean(v.status)
            return v
          })
          this.listLoading = false
        })
      },
      up (index, row) {
        const newData = [].concat(this.tableData)
        const i = index
        const j = i - 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.tableData = [].concat(newData)
        const query = [
          {
            lotteryId: newData[i].id,
            lotteryTypeId: newData[i].lotteryTypeId,
            displaySort: newData[j].displaySort
          }, {
            lotteryId: newData[j].id,
            lotteryTypeId: newData[j].lotteryTypeId,
            displaySort: newData[i].displaySort
          }
        ]
        this.listLoading = true
        getLotteryUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.getTableData()
          }
          this.listLoading = false
        })
      },
      down (index, row) {
        const newData = [].concat(this.tableData)
        const i = index
        const j = i + 1
        const temp = newData[i]
        newData[i] = newData[j]
        newData[j] = temp
        this.tableData = [].concat(newData)
        const query = [
          {
            lotteryId: newData[i].id,
            lotteryTypeId: newData[i].lotteryTypeId,
            displaySort: newData[j].displaySort
          }, {
            lotteryId: newData[j].id,
            lotteryTypeId: newData[j].lotteryTypeId,
            displaySort: newData[i].displaySort
          }
        ]
        this.listLoading = true
        getLotteryUpDisplaySort({ items: JSON.stringify(query) }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.getTableData()
          }
          this.listLoading = false
        })
      },
      // 弹出提示消息
      showDialog (row) {
        const str = row.status ? '启动' : '禁用'
        this.$confirm(`此操作将对"${row.lotteryName}"进行"${str}"操作， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // succ
          const query = { id: row.id, status: row.status ? 1 : 0 }
          postLotteryUpStatus(query).then((res) => {
            // console.log(res)
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${str}成功!`
              })
            } else {
              row.status = !row.status
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
          row.status = !row.status
        })
      },
      colorsType (status) {
        const selfType = {
          0: '',
          1: 'green',
          2: 'red'
        }
        return selfType[status]
      }
    },
    filters: {
      filterSelfType (status) {
        const selfType = {
          0: '正常彩种',
          1: '全局自开彩',
          2: '按厅自开彩'
        }
        return selfType[status]
      }
    }
  }
</script>
<style lang='scss' scoped>
.red {
  color: red;
}

.green {
  color: green;
}

.splTplTab {
  margin-top: -10px;

  .el-tabs__item {
    &#tab-0 {
      text-indent: -0.5rem !important;
    }
  }
}

.tab-play-mode {
  margin-top: -10px;
}

.tab-play-mode.el-tabs .el-tabs__active-bar {
  height: 1px;
}

i {
  &.defaultimg {
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url("../../../assets/up.png") no-repeat center;
      background-size: cover;

      &.down {
        background: url("../../../assets/down.png") no-repeat center;
        background-size: cover;

        &:hover {
          background: url("../../../assets/red_down.png") no-repeat center;
          background-size: cover;
        }
      }

      &:hover {
        cursor: pointer;
        background: url("../../../assets/red_up.png") no-repeat center;
        background-size: cover;
      }
    }
  }
}
</style>
