<template>
  <div>
    <slot name='filter'></slot>
    <el-button type="text" icon="el-icon-edit" class='fixed-btn'
               v-if='isShowEdit'
               @click='drawer=true'>筛选列
    </el-button>
    <el-drawer
      title="显示项"
      :visible.sync="drawer"
      direction="ttb"
      custom-class="drawer"
      size='25%'>
      <el-checkbox v-model="item.checked" v-for='(item,index) in commonProps' :key='index' size='mini' border>
        {{item.name}}
      </el-checkbox>
    </el-drawer>
    <el-table
      :data="items"
      border
      :key='tableKey'
      show-summary
      :summary-method="getSummaries"
      v-loading="listLoading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      @sort-change="changeSort"
      style="width: 100%">
      <slot name='otherColumn'></slot>
      <el-table-column
        :prop="item.prop"
        :key='index'
        v-if='item.checked'
        :sortable="item.sortable"
        align="right"
        v-for='(item,index) in commonProps'
        :min-width="item.width"
        :label="item.label">
      </el-table-column>
    </el-table>
    <slot name='page'></slot>
  </div>
</template>
<script>
  export default {
    name: 'CommonComponent',
    components: {},
    props: {
      items: {
        type: Array,
        default: function () {
          return []
        }
      },
      listLoading: {
        type: Boolean,
        default: false
      },
      isShowEdit: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        tableKey: 0,
        drawer: false,
        commonProps: [
          {
            prop: 'betTotal',
            width: 120,
            checked: true,
            label: '投注总单量',
            name: '投注总单量',
            total: 0,
            unit: '',
            sortable: 'custom'
          },
          {
            prop: 'betMoney',
            width: 130,
            checked: true,
            label: '投注总金额/元',
            name: '投注总金额',
            total: 0,
            unit: '元',
            sortable: 'custom'
          },
          {
            prop: 'betNum',
            width: 120,
            checked: true,
            label: '投注总人数',
            name: '投注总人数',
            total: 0,
            unit: '',
            sortable: 'custom'
          },
          {
            prop: 'revokeBetTotal',
            width: 120,
            checked: true,
            label: '撤单总单量',
            name: '撤单总单量',
            total: 0,
            unit: '',
            sortable: 'custom'
          },
          {
            sortable: 'custom',
            prop: 'revokeBetMoney',
            width: 130,
            checked: true,
            label: '撤单总金额/元',
            name: '撤单总金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: 'custom',
            prop: 'revokeBetNum',
            width: 120,
            checked: true,
            label: '撤单总人数',
            name: '撤单总人数',
            total: 0,
            unit: ''
          },
          {
            sortable: 'custom',
            prop: 'lossWinningMoney',
            width: 150,
            checked: true,
            label: '输赢投注总金额/元',
            name: '输赢投注总金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: 'custom',
            prop: 'validBetTotal',
            width: 150,
            checked: true,
            label: '有效投注单总单量',
            name: '有效投注单总单量',
            total: 0,
            unit: ''
          },
          {
            sortable: 'custom',
            prop: 'validBetMoney',
            width: 135,
            checked: true,
            label: '有效投注金额/元',
            name: '有效投注金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: 'custom',
            prop: 'validBetNum',
            width: 120,
            checked: true,
            label: '有效投注人数',
            name: '有效投注人数',
            total: 0,
            unit: ''
          },
          {
            sortable: 'custom',
            prop: 'winningTotal',
            width: 120,
            checked: true,
            label: '中奖总单数',
            name: '中奖总单数',
            total: 0,
            unit: ''
          },
          {
            sortable: 'custom',
            prop: 'winningMoney',
            width: 130,
            checked: true,
            label: '中奖总金额/元',
            name: '中奖总金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: 'custom',
            prop: 'winningNum',
            width: 120,
            checked: true,
            label: '中奖总人数',
            name: '中奖总人数',
            total: 0,
            unit: ''
          },
          // {
          //   sortable: 'custom',
          //   prop: 'betRebateTotal',
          //   width: 150,
          //   checked: true,
          //   label: '投注返点总单数',
          //   name: '投注返点总单数',
          //   total: 0,
          //   unit: '元'
          // },
          // {
          //   sortable: 'custom',
          //   prop: 'betRebateMoney',
          //   width: 150,
          //   checked: true,
          //   label: '投注总返点/元',
          //   name: '投注总返点',
          //   total: 0,
          //   unit: '元'
          // },
          // {
          //   sortable: 'custom',
          //   prop: 'betRebateNum',
          //   width: 130,
          //   checked: true,
          //   label: '投注返点总人数',
          //   name: '投注返点总人数',
          //   total: 0,
          //   unit: ''
          // },
          // {
          //   sortable: 'custom',
          //   prop: 'agentRebateTotal',
          //   width: 130,
          //   checked: true,
          //   label: '代理返点总单数',
          //   name: '代理返点总单数',
          //   total: 0,
          //   unit: ''
          // },
          // {
          //   sortable: 'custom',
          //   prop: 'agentRebateMoney',
          //   width: 150,
          //   checked: true,
          //   label: '代理返点总金额/元',
          //   name: '代理返点总金额',
          //   total: 0,
          //   unit: '元'
          // },
          // {
          //   sortable: 'custom', prop: 'agentRebateNum', width: 130, checked: true, label: '代理返点总人数', name: '代理返点总人数',
          //   total: 0, unit: ''
          // },
          {
            sortable: 'custom',
            prop: 'drawTotal',
            width: 130,
            checked: true,
            label: '打和返款总单数',
            name: '打和返款总单数',
            total: 0,
            unit: ''
          },
          {
            sortable: 'custom',
            prop: 'drawMoney',
            width: 150,
            checked: true,
            label: '打和返款总金额/元',
            name: '打和返款总金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: 'custom',
            prop: 'drawNum',
            width: 130,
            checked: true,
            label: '打和返款总人数',
            name: '打和返款总人数',
            total: 0,
            unit: ''
          },
          {
            sortable: false,
            prop: 'spProfitMoney',
            width: 130,
            checked: true,
            label: '盈亏金额[厅主]/元',
            name: '厅盈亏金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: false,
            prop: 'userProfitMoney',
            width: 140,
            checked: true,
            label: '盈亏金额[用户]/元',
            name: '用户盈亏金额',
            total: 0,
            unit: '元'
          },
          {
            sortable: false, prop: 'slewRate', width: 100, checked: true, label: '杀率', name: '杀率', total: 0, unit: ''
          }
        ]
      }
    },
    computed: {},
    watch: {},
    methods: {
      changeSort (v) {
        this.$emit('changeSort', v)
      },
      getSummaries (param) {
        const { columns, data } = param
        const sums = []
        const intColumn = ['betTotal', 'betNum', 'revokeBetTotal', 'revokeBetNum', 'validBetTotal', 'validBetNum', 'winningTotal', 'winningNum', 'betRebateTotal', 'betRebateNum', 'agentRebateTotal', 'agentRebateNum', 'drawTotal', 'drawNum']
        const floatColumn = ['betMoney', 'revokeBetMoney', 'lossWinningMoney', 'validBetMoney', 'winningMoney', 'betRebateMoney', 'agentRebateMoney', 'drawMoney', 'spProfitMoney', 'userProfitMoney']
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (!intColumn.includes(column.property) && !floatColumn.includes(column.property)) {
            sums[index] = ''
            return
          }
          const values = data.map((item) => Number(item[column.property]))
          if (!values.every((value) => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              }
              return prev
            }, 0)
            if (floatColumn.includes(column.property)) sums[index] = sums[index].toFixed(2)
          }
        })
        return sums
      }
    },
    beforeCreate () {},
    created () {},
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    filters: {}
  }
</script>

<style lang='scss' scoped>
  .fixed-btn {
    position: fixed;
    right: 0;
    top: 130px;
    z-index: 2000;

    ::v-deep span {
      display: none;
    }

    &:hover {
      ::v-deep span {
        display: inline-block
      }
    }
  }

  ::v-deep .drawer {
    font-size: 12px;

    .el-drawer__header {
      margin-bottom: 10px;
    }

    .el-drawer__body {
      padding: 5px;

      .el-checkbox {
        float: left;
        margin-bottom: 5px;
        padding: 5px;
        margin-right: 5px;

        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }

  .count {
    width: 100%;
    margin: 10px 0;

    div {
      margin-bottom: 10px;

      span {
        margin-right: 20px;
        width: 200px;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
</style>
