<template>
  <el-card>
    <el-form :inline="true">
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="角色ID" default-first-option
                   v-model="listQuery.roleId">
          <el-option
            v-for="item in stList"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          搜索
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">

      <el-table-column align="right" label="权限ID" width="250">
        <template slot-scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>

      <el-table-column width="250" align="right" label="上级权限ID">
        <template slot-scope="scope">
          <span>{{scope.row.parentId}}</span>
        </template>
      </el-table-column>

      <el-table-column align="right" label="权限名称">
        <template slot-scope="scope">
          <span>{{scope.row.perName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="250" align="right" label="是否拥有权限">
        <template slot-scope="scope">
          <span>{{scope.row.checked}}</span>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import { getAuthRoleList, getAuthPermissionList } from 'api/system'

  export default {
    data () {
      return {
        listLoading: false,
        elements: [],
        listQuery: {
          roleId: ''
        },
        stList: []
      }
    },
    created () {
      this._getStList()
    },
    methods: {
      _search () {
        this.getSettingList()
      },
      getSettingList () {
        getAuthPermissionList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items
          }
        })
      },
      _getStList () {
        this.listLoading = true
        getAuthRoleList().then((res) => {
          if (res.data.code === ERR_OK) {
            this.stList = res.data.data.items
          }
          this.listLoading = false
        })
      }
    }
  }
</script>
