<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" clearable default-first-option-->
        <!--								           placeholder="请选择厅主"-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option-->
        <!--											v-for="item in spList"-->
        <!--											:key="item.id"-->
        <!--											:label="item.id"-->
        <!--											:value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
          :options='{type:"spCode",placeholder:"请输入厅编码"}'
          @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <!--								<el-input v-model="listQuery.loginId" clearable style="width: 180px"-->
        <!--								          placeholder="请输入用户帐号"></el-input>-->
        <fuzzy-query-search :options='{spCode: listQuery.spCode,type:"memberSearch",placeholder:"请输入用户帐号"}'
                            @dealChange='dealChange'
                            ref='mSearch'
                            :disabled='!Boolean(listQuery.spCode)'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-input v-model="listQuery.orderCode" clearable style="width: 180px"
                  placeholder="请输入注单号"></el-input>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 180px" placeholder="异常类型"
                   clearable default-first-option
                   @change="resetExceptionType"
                   v-model="listQuery.exceptionType">
          <el-option v-for="item in options3" :key="item.value" :label="item.label"
                     :value="item.value"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select filterable style="width: 150px"
                   clearable default-first-option
                   v-model="listQuery.clientType">
          <el-option v-for="item in clientTypeList" :key="item.id" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-date-picker
          v-model="dataValue"
          type="datetimerange"
          range-separator="至"
          unlink-panels
          :picker-options="pickerOptions"
          :default-time="['00:00:00', '23:59:59']"
          clearable
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :loading="listLoading">
          查询
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_getOrderExceptionProcessor">
          投注异常处理
        </el-button>
      </el-form-item>
    </el-form>
    <el-alert
      effect="dark"
      style="margin-bottom: 5px"
      title="温馨提醒：业务模块中注单发生异常时产生的日志。"
      type="warning"
      show-icon>
    </el-alert>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="序号"
                       type="index" width="70">
      </el-table-column>
      <el-table-column align="right" label="创建时间" prop="createTime" width="180">
      </el-table-column>
      <el-table-column align="right" label="注单号" prop="orderCode" width="180">
      </el-table-column>
      <el-table-column align="right" label="客户端类型" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.clientType | clientFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="渠道编码" prop="channel" width="150">
      </el-table-column>
      <el-table-column align="right" label="厅编号" prop="spCode" width="80">
      </el-table-column>
      <el-table-column align="right" label="用户ID" prop="userId" width="120">
      </el-table-column>
      <el-table-column align="right" label="用户账号" prop="loginId" width="120">
      </el-table-column>
      <el-table-column align="right" label="下注时间" prop="orderTime" width="180">
      </el-table-column>
      <el-table-column align="right" label="异常类型" prop="exceptionType" min-width="120">
        <template slot-scope="scope">
          <span>{{scope.row.exceptionType | exceptionFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="异常原因" prop="exceptionMessage" width="180">
        <template slot-scope="scope" v-if="scope.row.exceptionMessage">
          <el-button type="text" @click="showDetail(scope.row.exceptionMessage,'异常原因')">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="异常描述" prop="exceptionDesc" width="180">
        <template slot-scope="scope" v-if="scope.row.exceptionDesc">
          <el-button type="text" @click="showDetail(scope.row.exceptionDesc,'异常描述')">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="注单内容" prop="orderContent" width="120">
        <template slot-scope="scope" v-if="scope.row.orderContent">
          <el-button type="text" @click="showDetail2(scope.row.orderContent)">查看详情</el-button>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理结果" prop="procResult" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.procResult === 0 ? '待处理' : scope.row.procResult === 1 ? '已处理' : '处理异常' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="处理结果描述" prop="procDesc" width="180">
      </el-table-column>
      <el-table-column align="right" label="处理时间" prop="procTime" width="180">
      </el-table-column>
    </el-table>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
    <el-dialog
      width="500"
      title="注单内容"
      class="orderDetailInfo"
      :visible.sync="popover_visible">
      <div class="components-container">
        <div class="editor-container">
          <json-editor v-model="value"></json-editor>
        </div>
      </div>
    </el-dialog>
  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config'
  import JsonEditor from 'components/JsonEditor'
  import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
  // import { getAjaxData } from 'api/common'
  import { getOrderExceptionList, getOrderExceptionProcessor } from 'api/logs/'
  import Settime from 'utils/settime'
  import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

  export default {
    components: {
      JsonEditor, fuzzyQuerySearch
    },
    data () {
      return {
        listLoading: false,
        dataValue: [],
        popover_visible: false,
        listQuery: {
          loginId: '',
          orderCode: '',
          clientType: 1,
          spCode: '',
          beginTime: '',
          exceptionType: '',
          endTime: '',
          pageNo: 1,
          pageSize: 10
        },
        options3: [
          {
            value: 1,
            label: '投注异常'
          },
          {
            value: 2,
            label: '结算异常'
          },
          {
            value: 3,
            label: '派奖异常'
          },
          {
            value: 4,
            label: '大额注单'
          }
        ],
        // spList: [],
        elements: [],
        total: 0,
        clientTypeList: [
          {
            value: 1,
            label: 'WEB'
          },
          {
            value: 2,
            label: 'WAP(H5)'
          },
          {
            value: 3,
            label: 'Android'
          },
          {
            value: 4,
            label: 'iOS'
          },
          {
            value: 5,
            label: 'IPAD'
          }
        ],
        pickerOptions: EnUSPickerOptions,
        value: ''
      }
    },
    filters: {
      clientFilter (type) {
        const clientMap = {
          1: 'WEB',
          2: 'WAP(H5)',
          3: 'Android',
          4: 'iOS',
          5: 'IPAD'
        }
        return clientMap[type]
      },
      exceptionFilter (type) {
        const clientMap = {
          1: '投注异常',
          2: '结算异常',
          3: '派奖异常',
          4: '大额注单'
        }
        return clientMap[type]
      }
    },
    methods: {
      dealChange (op) {
        this.listQuery = { ...this.listQuery, ...op }
      },
      _getOrderExceptionProcessor () {
        this.$confirm('是否确定投注异常处理?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then((res) => {
          getOrderExceptionProcessor().then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '处理成功!'
              })
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作'
          })
        })
      },
      showDetail (text, title) {
        this.$alert(`${text}`, `${title}`, {
          confirmButtonText: '确定'
        })
      },
      showDetail2 (v) {
        this.value = JSON.parse(v)
        this.popover_visible = true
      },
      resetExceptionType (val) {
        this.getLogger()
      },
      handleSizeChange (v) {
        this.listQuery.pageSize = v
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      handleCurrentChange (v) {
        this.listQuery.pageNo = v
        this.getLogger()
      },
      _search () {
        this.listQuery.pageNo = 1
        this.getLogger()
      },
      getLogger () {
        // /* if (this.listQuery.beginTime && this.listQuery.endTime) {
        //  const t = new Date(this.listQuery.beginTime)
        //  const tt = new Date(this.listQuery.endTime)
        //  this.listQuery.beginTime = parseTime(t)
        //  this.listQuery.endTime = parseTime(tt)
        //  } else if (this.listQuery.beginTime || this.listQuery.endTime) {
        //  this.$message({
        //  type: 'error',
        //  message: '开始时间和结束时间必须成对出现'
        //  })
        //  return
        //  }*/
        if (!this.dataValue) this.dataValue = []
        for (let i = 0; i < this.dataValue.length; i++) {
          if (this.dataValue[i] === null || this.dataValue[i] === '') {
            this.dataValue = []
            break
          }
        }
        if (this.dataValue.length) {
          const tmin = new Date(this.dataValue[0])
          const tmax = new Date(this.dataValue[1])
          if (!check3Month(tmin, tmax)) return
          // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
          //   this.$message({
          //     type: 'error',
          //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
          //   })
          //   return
          // }
          this.listQuery.beginTime = parseTime(tmin)
          this.listQuery.endTime = parseTime(tmax)
        } else {
          this.listQuery.beginTime = this.listQuery.endTime = ''
        }
        this.listLoading = true
        getOrderExceptionList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.elements = res.data.data.items
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      }
      // 获取平台商列表
      // _getSpInfoList () {
      //   getAjaxData({ dataType: 21 }).then(res => {
      //     if (res.data.code === ERR_OK) {
      //       this.spList = res.data.data.items
      //     }
      //   })
      // }
    },
    created () {
      const date = new Date(Settime.RefTime())
      // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
      this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
      // this._getSpInfoList()
      this.getLogger()
    }
  }
</script>
