<template>
  <el-card>
    <el-form :inline='true' v-if="!elements.length">
      <el-form-item>
        <el-button type="primary" icon="el-icon-plus"
                   @click="showDialog({},1)"
                   :disabled="hasPermission('RiskControlAdd')">新增
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <!--<el-table-column align="right" label="uuid" width="150">-->
      <!--<template slot-scope="scope">-->
      <!--<span>{{ scope.row.uuid }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column width="250" align="right" label="风控类型">
        <template slot-scope="scope">
          <span>{{ scope.row.riskType === 1 ? '全局' : scope.row.riskType === 2 ? '彩种' : '玩法类别'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="风控值">
        <template slot-scope="scope">
          <span>{{ scope.row.riskId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="风控值描述">
        <template slot-scope="scope">
          <span>{{ scope.row.riskName }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="创建时间">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="状态">
        <template slot-scope="scope">
          <span>{{ scope.row.status | statusFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="300">
        <template slot-scope="scope">
          <el-button type="success" @click="showDialog(scope.row,2)"
                     :disabled="Boolean(scope.row.id===1? 1:0) || hasPermission('RiskControlEdit')">编辑
          </el-button>
          <el-button type="success" @click="showDialog(scope.row,3)"
                     :disabled="hasPermission('RiskControlDel')|| scope.row.status===99">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <!--弹窗-->
    <div class="dialog2">
      <el-dialog :visible.sync="dialogFormVisibleForDefine" :title="temp.title" @close="clearForm" append-to-body>
        <el-alert
          effect="dark"
          v-if="dialogFormVisibleForDefine"
          style="margin-bottom: 5px"
          title="温馨提醒：全部是对所有彩种的所有玩法进行风控，彩种是对所选彩种进行风控，玩法类别是对彩种类型下的玩法类别进行风控，请慎重选择风控进行操作!"
          type="warning"
          show-icon>
        </el-alert>
        <el-form class="small-space" :model="temp" label-position="left" :label-width="formLabelWidth"
                 style='width: 400px; margin-left:50px;'
                 ref="CreateForm"
                 :rules="rules">
          <el-form-item label="风控类型" prop="riskType">
            <el-radio-group v-model="temp.riskType" @change="handleSelect">
              <el-radio class="radio" :label="1" v-model="temp.riskType">全部</el-radio>
              <el-radio class="radio" :label="2" v-model="temp.riskType">彩种</el-radio>
              <el-radio class="radio" :label="3" v-model="temp.riskType">玩法类别</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="根据选择项显示"
                        :label-width="formLabelWidth2"
                        v-if="temp.riskType!==1"
                        prop='riskId'>
            <el-select v-model="temp.riskId" multiple placeholder="请选择" style="width: 250px">
              <el-option-group
                v-for="group in GroupList"
                :key="group.label"
                :label="group.label">
                <el-option
                  v-for="item in group.children"
                  :key="item.id"
                  :label="item.label"
                  :value="item.id">
                </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="_postRiskCreate(temp)">提 交</el-button>
          <el-button type="primary" @click="resetF">关 闭</el-button>
        </div>
      </el-dialog>
    </div>

  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config.js'
  import {
    getSpRiskControlList, postRiskControlAdd, postRiskControlEdit, postRiskControlDel
  } from 'api/riskcontrol'
  import { getAjaxData } from 'api/common'

  export default {
    data () {
      const validataRoleName = (rule, value, callback) => {
        if (value.length === 0) {
          callback(new Error('输入不能为空'))
        } else {
          callback()
        }
      }
      const validataRiskId = (rule, value, callback) => {
        if (value.length === 0) {
          const str = this.temp.riskType === 2 ? '彩种' : '玩法'
          callback(new Error(`请选择${str}`))
        } else {
          callback()
        }
      }
      return {
        value7: '',
        rules: {
          roleName: [
            {
              required: true,
              tirrger: 'blur',
              validator: validataRoleName
            }
          ],
          riskId: [
            {
              required: true,
              tirrger: 'change',
              validator: validataRiskId
            }
          ]
        },
        palyModels: [{
          value: '1',
          label: '全局'
        }, {
          value: '2',
          label: '彩种'
        }, {
          value: '3',
          label: '玩法类型'
        }],
        listLoading: false,
        query: {
          riskType: '',
          riskId: ''
        },
        query2: {
          uuid: ''
        },
        elements: [],
        ss: [],
        dd: [],
        formLabelWidth: '120px',
        formLabelWidth2: '150px',
        temp: {
          title: '',
          uuid: '',
          riskType: 1,
          riskeType2: '',
          risk: '',
          riskId: [],
          riskName: '',
          createTime: ''
        },
        dialogFormVisibleForDefine: false,
        dialogFormVisibleForDefine2: false,
        LotteryGroupList: [],
        PlayGroupList: [],
        GroupList: []
      }
    },
    filters: {
      statusFilter (v) {
        const map = {
          99: '已删除',
          1: '已启用',
          0: '已禁用'
        }
        return map[v]
      }
    },
    created () {
      this._SpRiskControlList()
      // this._getLotteryTypeList()
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          res.data.data.items.forEach((r) => {
            // 获取玩法
            const nodePlay = {}
            const nodeLottery = {}
            nodePlay.label = r.name
            nodeLottery.label = r.name
            nodePlay.children = []
            nodeLottery.children = []
            getAjaxData({ dataType: 11, pId: r.id }).then((re) => {
              if (re.data.code === ERR_OK) {
                re.data.data.items.forEach((m) => {
                  const nodeChild = {
                    id: m.id,
                    label: m.name
                  }
                  nodePlay.children.push(nodeChild)
                })
              }
            })
            this.PlayGroupList.push(nodePlay)
            // 获取彩种
            getAjaxData({ dataType: 13, pId: r.id }).then((re) => {
              if (re.data.code === ERR_OK) {
                re.data.data.items.forEach((m) => {
                  const nodeChild = {
                    id: m.id,
                    label: m.name
                  }
                  nodeLottery.children.push(nodeChild)
                })
              }
            })
            this.LotteryGroupList.push(nodeLottery)
          })
        }
      })
    },
    methods: {
      _SpRiskControlList () {
        this.listLoading = true
        this.elements = []
        getSpRiskControlList().then((res) => {
          if (res.data.code === ERR_OK && res.data.data !== null) {
            this.elements.push(res.data.data)
          }
          this.listLoading = false
        })
      },
      _postpostRiskControlDel () {
        this.$confirm(`此操作将${this.temp.title}， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          postRiskControlDel({ uuid: this.query2.uuid }).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `${this.temp.title}成功!`
              })
              // this.elements = []
              this._SpRiskControlList()
            }
          })
        })
      },
      handleSelect (val) {
        this.temp.riskId = []
        switch (val) {
          case 2:
            this.GroupList = this.LotteryGroupList
            if (this.temp.risk && parseInt(this.temp.riskType2) === parseInt(val)) this.temp.riskId = this.temp.risk.split(',')
            break
          case 3:
            this.GroupList = this.PlayGroupList
            if (this.temp.risk && parseInt(this.temp.riskType2) === parseInt(val)) this.temp.riskId = this.temp.risk.split(',')
            break
          default:
            this.GroupList = []
        }
      },
      _postRiskCreate (temp) {
        let fn = postRiskControlAdd
        if (temp.uuid) {
          fn = postRiskControlEdit
          this.query.uuid = temp.uuid
          this.query.riskType = temp.riskType
          this.query.riskId = temp.riskId
        } else {
          this.query.riskType = temp.riskType
          this.query.riskId = temp.riskId
        }
        this.$refs.CreateForm.validate((valid) => {
          if (valid) {
            this.$confirm(`此操作将${temp.title}， 是否继续?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.query.riskId = this.temp.riskId.join()
              fn(this.query).then((res) => {
                if (res.data.code === ERR_OK) {
                  this.$message({
                    type: 'success',
                    message: `${temp.title}成功!`
                  })
                  this.resetF()
                  this._SpRiskControlList()
                }
              })
            })
          }
        })
      },
      clearForm () {
        this.resetF()
      },
      resetF () {
        this.dialogFormVisibleForDefine = false
        this.$refs.CreateForm.resetFields()
        this.temp.uuid = ''
        this.temp.roleName = ''
        this.temp.roleDesc = ''
        this.temp.riskId = []
      },
      showDialog (obj, flag) {
        this.GroupList = []
        if (flag === 1) {
          this.temp.title = '新增'
          this.temp.elements2 = []
          this.temp.uuid = ''
          this.temp.roleName = ''
          this.temp.roleDesc = ''
          this.temp.riskId = []
          this.dialogFormVisibleForDefine = true
        } else if (flag === 2) {
          if (obj.riskId) this.temp.riskId = obj.riskId.split(',')
          this.temp.risk = obj.riskId
          switch (obj.riskType) {
            case 2:
              this.GroupList = this.LotteryGroupList
              break
            case 3:
              this.GroupList = this.PlayGroupList
              break
            default:
              console.log(111111)
          }
          this.temp.title = '编辑'
          this.temp.uuid = obj.uuid
          this.temp.riskType = this.temp.riskType2 = obj.riskType
          this.temp.riskName = obj.riskName
          this.temp.createTime = obj.createTime
          this.dialogFormVisibleForDefine = true
        } else {
          this.temp.title = '删除'
          this.query2.uuid = obj.uuid
          this._postpostRiskControlDel()
          this.dialogFormVisibleForDefine = false
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .dialog2 .el-dialog {
    width: 600px;
    overflow: hidden;

    .el-checkbox {
      padding-right: 10px;
      margin-top: 5px;
    }

    .el-alert__content {
      padding: 0 10px;
    }
  }

</style>
