<template>
		<el-card>
				<el-form :inline='true'>
						<el-form-item>
								<el-input v-model="listQuery.loginId" style="width: 180px" clearable
								          placeholder="请输入用户帐号"></el-input>
						</el-form-item>
						<el-form-item>
								<el-input v-model="listQuery.orderCode" style="width: 180px" clearable
								          placeholder="请输入注单号"></el-input>
						</el-form-item>
						<el-form-item>
								<el-date-picker
									v-model="dataValue"
									type="datetimerange"
									range-separator="至"
									unlink-panels
									:picker-options="pickerOptions"
									:default-time="['00:00:00', '23:59:59']"
									clearable
									start-placeholder="开始时间"
									end-placeholder="结束时间"
									align="right">
								</el-date-picker>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" icon="el-icon-search" @click="_search"
								           :loading="listLoading">
										查询
								</el-button>
						</el-form-item>
				</el-form>
				<el-table :data="elements" v-loading="listLoading" border fit highlight-current-row
				          element-loading-text="拼命加载中"
				          element-loading-spinner="el-icon-loading"
				          style="width: 100%">
						<el-table-column align="right" label="序号"
						                 type="index" width="70">
						</el-table-column>
						<el-table-column align="right" label="创建时间" prop="createTime" width="120">
						</el-table-column>
						<el-table-column align="right" label="注单号" prop="orderCode" width="180">
						</el-table-column>
						<el-table-column align="right" label="厅编号" prop="spCode" width="80">
						</el-table-column>
						<el-table-column align="right" label="用户ID" prop="userId" width="120">
						</el-table-column>
						<el-table-column align="right" label="用户账号" prop="loginId" width="120">
						</el-table-column>
						<el-table-column align="right" label="结算中奖金额" prop="winMoney">
						</el-table-column>
				</el-table>
				<div v-if="total" class="pagination-container">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						               :current-page.sync="listQuery.pageNo"
						               :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
						               layout="total, sizes, prev, pager, next, jumper" :total="total">
						</el-pagination>
				</div>
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
import { getOrderBigAmountList } from 'api/logs/'
import Settime from 'utils/settime'

export default {
  data () {
    return {
      dataValue: [],
      listLoading: false,
      listQuery: {
        loginId: '',
        orderCode: '',
        beginTime: '',
        endTime: '',
        pageNo: 1,
        pageSize: 10
      },
      elements: [],
      total: 0,
      pickerOptions: EnUSPickerOptions
    }
  },
  methods: {
    handleSizeChange (v) {
      this.listQuery.pageSize = v
      this.listQuery.pageNo = 1
      this.getLogger()
    },
    handleCurrentChange (v) {
      this.listQuery.pageNo = v
      this.getLogger()
    },
    _search () {
      this.listQuery.pageNo = 1
      this.getLogger()
    },
    getLogger () {
      /* if (this.listQuery.beginTime && this.listQuery.endTime) {
					 const t = new Date(this.listQuery.beginTime)
					 const tt = new Date(this.listQuery.endTime)
					 this.listQuery.beginTime = parseTime(t)
					 this.listQuery.endTime = parseTime(tt)
					 } else if (this.listQuery.beginTime || this.listQuery.endTime) {
					 this.$message({
					 type: 'error',
					 message: '开始时间和结束时间必须成对出现'
					 })
					 return
					 }*/
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getOrderBigAmountList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.elements = res.data.data.items
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    this.getLogger()
  }
}
</script>
