<template>
		<el-card>
				<el-form :inline='true'>
						<el-form-item>
								<!--								<el-select filterable style="width: 180px" placeholder="请选择厅主"-->
								<!--								           clearable default-first-option-->
								<!--								           v-model="listQuery.spCode">-->
								<!--										<el-option-->
								<!--											v-for="item in spList"-->
								<!--											:key="item.id"-->
								<!--											:label="item.id"-->
								<!--											:value="item.id">-->
								<!--										</el-option>-->
								<!--								</el-select>-->
								<fuzzy-query-search
									:options='{type:"spCode",placeholder:"请输入厅编码"}'
									@dealChange='dealChange'></fuzzy-query-search>
						</el-form-item>
						<el-form-item>
								<el-select v-model="lotteryTypeId" clearable filterable default-first-option placeholder="选择彩种类型"
								           @change="handleChange">
										<el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.lotteryId" clearable filterable default-first-option placeholder="选择彩种">
										<el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.id">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-date-picker
									v-model="dataValue"
									type="daterange"
									style="width: 380px"
									clearable
									unlink-panels
									:picker-options="pickerOptions"
									range-separator="至"
									start-placeholder="开始日期"
									end-placeholder="结束日期"
									align="right">
								</el-date-picker>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.searchType" clearable filterable default-first-option
								           placeholder="用户搜索的类型">
										<el-option v-for="item in searchTypes" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-select v-model="listQuery.participant" clearable filterable default-first-option
								           placeholder="参与排名的人数">
										<el-option v-for="item in participants" :key="item" :label="item" :value="item">
										</el-option>
								</el-select>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" @click.native="_search"
								           :loading="listLoading"
								           :disabled="(!listQuery.spCode)||hasPermission('ReportWinLoseList')">
										查询
								</el-button>
						</el-form-item>
						<el-form-item>
								<el-button type="primary" @click.native="exportExel" :loading="loaded"
								           :disabled="!(listQuery.spCode&&ReportList.length)||hasPermission('ReportExWinLoseList')">报表导出
								</el-button>
						</el-form-item>
				</el-form>
				<el-table
					:data="ReportList"
					border
					v-loading="listLoading"
					element-loading-text="拼命加载中"
					element-loading-spinner="el-icon-loading"
					:summary-method="getSummaries"
					show-summary
					style="width: 100%">
						<el-table-column
							min-width="120"
							align="right"
							prop='loginId'
							label="用户账号">
								<template slot-scope="scope">
										<span v-if="hasPermission('OrderInfoList')">{{scope.row.loginId }}</span>
										<span style="color:#374eff;cursor: pointer"
										      @click="pushOrderListPage(scope.row)" v-else>{{scope.row.loginId }}</span>
								</template>
						</el-table-column>
						<el-table-column
							prop="validBetMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'validBetMoney')"
							min-width="120"
							align="right"
							label="有效投注总额">
						</el-table-column>
						<!-- <el-table-column
							prop="betRebateMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'betRebateMoney')"
							align="right"
							min-width="120"
							label="投注返点总额">
						</el-table-column> -->
						<el-table-column
							prop="winningMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'winningMoney')"
							align="right"
							min-width="120"
							label="中奖金额">
						</el-table-column>
						<el-table-column
							prop="profitMoney"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'profitMoney')"
							align="right"
							min-width="120"
							label="投注盈利总额">
						</el-table-column>
						<el-table-column
							prop="slewRate"
							sortable
							:sort-method="(a,b) => sortMethod(a ,b , 'slewRate')"
							align="right"
							min-width="100"
							label="杀率">
								<template slot-scope='scope'>
										<span>{{scope.row.slewRate}}%</span>
								</template>
						</el-table-column>
						<!--<el-table-column-->
						<!--prop="winLotteryId"-->
						<!--align="right"-->
						<!--width="180"-->
						<!--label="赢最多的彩种ID">-->
						<!--</el-table-column>-->
						<el-table-column
							prop="winLotteryName"
							align="right"
							min-width="120"
							label="赢最多的彩种">
						</el-table-column>
						<!--<el-table-column-->
						<!--prop="losePlayId"-->
						<!--align="right"-->
						<!--width="180"-->
						<!--label="输得最多的玩法">-->
						<!--</el-table-column>-->
						<!--<el-table-column-->
						<!--prop="loseLotteryId"-->
						<!--align="right"-->
						<!--width="180"-->
						<!--label="输最多的彩种ID">-->
						<!--</el-table-column>-->
				</el-table>
				<el-dialog
					title="注单结果"
					append-to-body
					width="90%"
					:visible.sync="dialogFormVisible">
						<search-list :listQuerys='winloseQuery' :isFromOther="true" :isSearch='winloseQuestion' created-search
						             :key="hashKey"
						></search-list>
				</el-dialog>
				<!--<div v-if="total" class="pagination-container fr">-->
				<!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
				<!--:current-page.sync="listQuery.pageNo"-->
				<!--:page-sizes="[10,20,50,100,500,1000]" :page-size="listQuery.pageSize"-->
				<!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
				<!--</el-pagination>-->
				<!--</div>-->
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getAjaxData, postReportExport } from 'api/common'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/index'
import Settime from 'utils/settime'
import searchList from 'views/orders/find/search'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'
// import qs from 'qs'
import { getReportWinLoseList } from 'api/report'

export default {
  components: {
    searchList, fuzzyQuerySearch
  },
  data () {
    return {
      lotteryTypeList: [],
      loaded: false,
      listLoading: false,
      winloseQuestion: false,
      dialogFormVisible: false,
      lotteryTypeId: '',
      winloseQuery: {},
      hashKey: 1,
      listQuery: {
        beginTime: '',
        spCode: '',
        endTime: '',
        lotteryId: '',
        searchType: 1,
        participant: 20
      },
      participants: [10, 20, 50, 100],
      options: [],
      // spList: [],
      ReportList: [],
      totalMoney: 1000.00,
      allMoney: 1000.00,
      searchTypes: [
        {
          value: 1,
          label: '中奖最多的用户'
        },
        {
          value: 2,
          label: '投入最多的用户'
        },
        {
          value: 3,
          label: '输的最多的用户'
        },
        {
          value: 4,
          label: '赢得最多的用户'
        }
      ],
      total: 0,
      dataValue: [],
      pickerOptions: EnUSPickerOptions
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    // 排序功能
    sortMethod (obj1, obj2, column) {
      const v1 = obj1[column]
      const v2 = obj2[column]
      return v1 - v2
    },
    pushOrderListPage (row) {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      const query = {
        lotteryTypeId: this.lotteryTypeId,
        lotteryId: this.listQuery.lotteryId,
        spCode: this.listQuery.spCode,
        timeType: 2,
        beginTime: `${this.listQuery.beginTime} 00:00:00`, // 格式 yyyy-mm-dd
        endTime: `${this.listQuery.endTime} 23:59:59`, // 格式 yyyy-mm-dd
        loginId: row.loginId
      }
      this.winloseQuery = { ...query }
      this.dialogFormVisible = true
      this.hashKey = new Date().getTime()
      this.winloseQuestion = true
    },
    exportExel () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.loaded = true
      postReportExport({ ...this.listQuery, cmd: 'ReportExWinLoseList' }).then((res) => {
        if (ERR_OK === res.data.code) {
          this.$store.dispatch('reportDownload/setType', 3)
          const h = this.$createElement
          this.$msgbox({
            title: '提示信息',
            message: h('p', null, [
              h('span', null, '报表正在生成， '),
              h('i', {
                style: 'color: teal;cursor:pointer',
                on: {
                  click: () => {
                    this.$router.push({ path: '/reports/ReportDownloadList' })
                    this.$msgbox.close()
                  }
                }
              }, '点击前往下载')
            ]),
            showCancelButton: true,
            confirmButtonText: '前往下载',
            cancelButtonText: '取消',
            beforeClose: (action, instance, done) => {
              if (action === 'confirm') {
                this.$router.push({ path: '/reports/ReportDownloadList' })
                done()
              } else {
                done()
              }
            }
          })
        }
      })
      this.loaded = false
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '小计'
          return
        }
        if (index === 5 || index === 6) {
          sums[index] = ''
          return
        }
        const values = data.map((item) => Number(item[column.property]))
        if (!values.every((value) => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            }
            return prev
          }, 0)
          sums[index] = sums[index].toFixed(2)
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    handleChange (val) {
      this.resetSelect()
      this._getLotteryInfoList()
    },
    resetSelect () {
      this.options = []
      this.listQuery.lotteryId = ''
    },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    // 获取彩种类型列表
    _getLotteryTypeList () {
      getAjaxData({ dataType: 10 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.lotteryTypeList = res.data.data.items
        }
      })
    },
    // 获取彩种列表
    _getLotteryInfoList () {
      getAjaxData({ pId: this.lotteryTypeId, dataType: 13 }).then((res) => {
        if (res.data.code === ERR_OK) {
          this.options = res.data.data.items
        }
      })
    },
    _getWinLoseReportList () {
      if (this.lotteryTypeId && !this.listQuery.lotteryId) {
        this.$notify({
          type: 'error',
          title: '错误',
          message: '请选择彩种',
          offset: 200
        })
        return
      }
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        // if (tmax.getTime() - tmin.getTime() > 3600 * 24 * 90 * 1000) {
        //   this.$message({
        //     type: 'error',
        //     message: '开始时间和结束时间之间的跨度最大不超过3个月'
        //   })
        //   return
        // }
        this.listQuery.beginTime = parseTime(tmin, '{y}-{m}-{d}')
        this.listQuery.endTime = parseTime(tmax, '{y}-{m}-{d}')
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
      this.listLoading = true
      getReportWinLoseList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.ReportList = res.data.data.items.map((v) => {
            v.slewRate = (v.slewRate * 100).toFixed(2)
            v.winLotteryId = v.winLotteryId.toString()
            return v
          })
        }
        this.listLoading = false
      })
    },
    // resetLotteryType(val) {
    //   this.lotteryTypeId = ''
    //   this.listQuery.lotteryId = ''
    //   this._getLotteryTypeList()
    // },
    _search () {
      this._getWinLoseReportList()
    }
  },
  created () {
    const date = new Date(Settime.RefTime())
    // const start = new Date(new Date(end).getTime() - 3600 * 1000 * 24)
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 0, 0, 0))
    this.dataValue.push(new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59))
    // this.dataValue.push(end)
    // this._getSpInfoList()
    this._getLotteryTypeList()
  }
}
</script>
