<template>
  <el-card>
    <el-form :inline='true'>
      <el-form-item>
        <el-select v-model="listQuery.lotteryTypeId" placeholder="选择彩种类型"
                   @change="handleChange"
                   clearable filterable default-first-option
                   @clear="resetSelect">
          <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="listQuery.lotteryId" placeholder="选择彩种" clearable filterable
                   default-first-option>
          <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select style="width: 150px" placeholder="维护状态"
                   clearable
                   filterable
                   default-first-option
                   v-model="listQuery.status">
          <el-option v-for="item in maintainStatuses" :label="item.label" :value="item.value"
                     :key="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="_search" v-if='listQuery.lotteryTypeId'
                   :loading="listLoading"
                   :disabled="hasPermission('LotteryMaintainList')|| !listQuery.lotteryId">查询
        </el-button>
        <el-button type="primary" @click="_search" v-else
                   :loading="listLoading"
                   :disabled="hasPermission('LotteryMaintainList')">查询
        </el-button>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" icon="el-icon-plus"
                   @click="showDialog"
                   :disabled="hasPermission('LotteryMaintainList')">新增
        </el-button>
      </el-form-item>

    </el-form>
    <el-table :data="MaintainList" v-loading="listLoading" border fit highlight-current-row
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              style="width: 100%">
      <el-table-column align="right" label="彩种名称" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.lotteryName }}({{scope.row.lotteryId}})</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="彩期号" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.startIssue }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="维护类型" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.maintainType | maintainTypes }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="关闭类型" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.closeType |closeTypes}}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="维护状态" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.status| statuss }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="创建时间" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.createTime }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="维护创建人" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.createUser || '--' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="关闭时间" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.closeTime || '--' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="维护关闭人" min-width='130'>
        <template slot-scope="scope">
          <span>{{ scope.row.closeTime?(scope.row.closeUser?scope.row.closeUser:'--'):'--' }}</span>
        </template>
      </el-table-column>
      <el-table-column align="right" label="操作" width="170">
        <template slot-scope="scope">
          <el-button type="primary" @click="_postLotteryMaintainClose(scope.row)"
                     :disabled="scope.row.status ===0||hasPermission('LotteryMaintainClose')">解除维护
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 新增弹框 -->
    <el-dialog :visible.sync="dialogVisible" title="新增" width="600px" append-to-body>
      <el-form class="small-space" :model="formContent" label-position="left" :label-width="formLabelWidth"
               style='width: 400px; margin-left:50px;'
               ref="CreateForm"
               :rules="rules">
        <el-form-item label="彩种名称" prop="startIssue">
          <el-select v-model="formContent.lotteryTypeId" placeholder="选择彩种类型"
                     @change="handleChange"
                     @clear="resetSelectfrom">
            <el-option v-for="item in lotteryTypeList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
          <el-select v-model="formContent.lotteryId" placeholder="选择维护彩种"
                     style="margin-top:10px;" @change="handleChangeIssueList">
            <el-option v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="维护开始期号">
          <el-select v-model="formContent.startIssue" placeholder="选择维护开始期号" @change="handleissue">
            <el-option v-for="item in issueInfoList" :key="item.id" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveLottery">提 交</el-button>
        <el-button type="primary" @click="closefrom">关 闭</el-button>
      </div>
    </el-dialog>
    <div v-if="total" class="pagination-container fr">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.pageNo"
                     :page-sizes="[10,20,50,100,200,500]" :page-size="listQuery.pageSize"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </el-card>
</template>
<script>
  import { ERR_OK } from 'api/config.js'
  import { getLotteryMaintainList, postLotteryMaintainAdd, postLotteryMaintainClose } from 'api/riskcontrol'
  import { getAjaxData } from 'api/common'

  export default {
    data () {
      return {
        issueInfoList: [],
        formLabelWidth: '120px',
        dialogVisible: false,
        MaintainList: [],
        lotteryTypeList: [],
        lotteryList: [],
        total: 0,
        options: [],
        rules: {},
        maintainStatuses: [
          {
            value: 0,
            label: '维护关闭'
          },
          {
            value: 1,
            label: '维护开启'
          }
        ],
        formContent: {
          lotteryTypeId: '',
          lotteryId: '',
          startIssue: ''
        },
        listQuery: {
          lotteryTypeId: '',
          lotteryId: '',
          status: '',
          pageNo: 1,
          pageSize: 10
        },
        listLoading: false
      }
    },
    created () {
      this._getLotteryTypeList()
      this._getList()
      this._getIssueInfoTopTenList()
    },
    methods: {
      _getLotteryTypeList () {
        getAjaxData({ dataType: 10 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryTypeList = [].concat(res.data.data.items)
            this.tempLotteryTypeList = this.lotteryTypeList
          }
        })
      },
      saveLottery () {
        if (this.formContent.lotteryTypeId === '') {
          this.$message.error('请选择彩种类型！')
          return false
        }
        if (this.formContent.lotteryId === '') {
          this.$message.error('请选择维护彩种！')
          return false
        }
        if (this.formContent.startIssue === '') {
          this.$message.error('请选择维护开始期号！')
          return false
        }
        this.$confirm(`确定要新增？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            lotteryId: this.formContent.lotteryId,
            startIssue: this.formContent.startIssue
            // lotteryTypeId: this.formContent.lotteryTypeId,
          }
          postLotteryMaintainAdd(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: '保存成功！'
              })
              this.resetSelect()
              this._getList()
            }

            this.dialogVisible = false
          })
        })
      },
      resetSelect () {
        this.lotteryList = []
        this.listQuery.lotteryId = ''
      },
      resetSelectfrom () {
        this.formContent.lotteryTypeList = []
      },
      handleChange (val) {
        this.lotteryList = []
        this.issueInfoList = []
        this.formContent.startIssue = ''
        this.formContent.lotteryId = ''
        this.resetSelect()
        getAjaxData({ dataType: 13, pId: val }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.lotteryList = res.data.data.items
          }
        })
      },
      handleissue (val) {
        this.listQuery.lotteryTypeId = ''
        this.formContent.startIssue = val
      },
      handleSizeChange (val) {
        this.listQuery.pageSize = val
        this.listQuery.pageNo = 1
        this._getList()
      },
      handleCurrentChange (val) {
        this.listQuery.pageNo = val
        this._getList()
      },
      _search () {
        this.listQuery.pageNo = 1
        this._getList()
      },
      _getList () {
        this.listLoading = true
        getLotteryMaintainList(this.listQuery).then((res) => {
          if (res.data.code === ERR_OK) {
            this.MaintainList = res.data.data.elements
            this.total = res.data.data.totalCount
          }
          this.listLoading = false
        })
      },
      handleChangeIssueList (v) {
        this.listQuery.lotteryTypeId = ''
        this.formContent.startIssue = ''
        this._getIssueInfoTopTenList(v)
      },
      // 获取当前彩种前十期彩期
      _getIssueInfoTopTenList (val) {
        getAjaxData({ dataType: 22, pId: val, expendVal: 1 }).then((res) => {
          if (res.data.code === ERR_OK) {
            this.issueInfoList = res.data.data.items
          }
        })
      },
      showDialog () {
        this.formContent.lotteryTypeId = ''
        this.formContent.lotteryId = ''
        this.formContent.startIssue = ''
        this.dialogVisible = true
      },
      _postLotteryMaintainClose (row) {
        this.$confirm(`此操作将解除${row.lotteryName}风控， 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const query = {
            id: row.id,
            lotteryId: row.lotteryId
          }
          postLotteryMaintainClose(query).then((res) => {
            if (res.data.code === ERR_OK) {
              this.$message({
                type: 'success',
                message: `解除${row.lotteryName}成功!`
              })
              this._getList()
            }
          })
        })
      },
      closefrom () {
        this.dialogVisible = false
      }
    },
    filters: {
      maintainTypes (type) {
        const maintainType = {
          1: '系统维护',
          2: '人工维护'
        }
        return maintainType[type]
      },
      closeTypes (type) {
        const closeType = {
          1: '系统关闭',
          2: '人工关闭'
        }
        return closeType[type]
      },
      statuss (type) {
        const status = {
          0: '维护关闭',
          1: '维护开启'
        }
        return status[type]
      }
    }
  }
</script>

