<template>
		<el-card>
				<el-form :inline='true'>
						<el-form-item class="fr">
								<!--<el-tooltip :content="exception.name">-->
								<!--<i class="el-icon-info" style="font-size: 32px;"></i>-->
								<!--</el-tooltip>-->
								<span class="fr" style="font-size: 15px;line-height: 30px;">异常原因:<span
									style="color: #f00;font-weight: bold">{{ exception.name }}</span></span>
						</el-form-item>
						<el-form-item class="fl">
								<el-button
									type="primary"
									@click="batchOrders"
									:loading="listLoading"
									:disabled="multifiesSelection.length === 0 || hasPermission(exception.dealPermission)">
										批量处理
								</el-button>
						</el-form-item>
						<el-form-item class='fl'>
								<el-button type="primary" icon="el-icon-back" @click="backToMenu">
										返回
								</el-button>
						</el-form-item>
				</el-form>
				<el-table
					:data="items"
					border
					fit
					v-loading="listLoading"
					style="width: 100%"
					element-loading-text="拼命加载中"
					element-loading-spinner="el-icon-loading"
					@selection-change="handleSelectionChange">
						<el-table-column type="selection" width="55" :selectable="selectableF">
						</el-table-column>
						<el-table-column min-width="70" prop="spCode" align="right" label="厅主编号">
						</el-table-column>
						<el-table-column min-width="140" prop="orderCode" align="right" label="注单号">
						</el-table-column>
						<el-table-column min-width="70" prop="loginId" align="right" label="用户账号">
						</el-table-column>
						<el-table-column min-width="70" prop="lotteryName" align="right" label="彩种名称">
						</el-table-column>
						<el-table-column min-width="70" prop="issue" align="right" label="所属期号">
						</el-table-column>
						<el-table-column min-width="140" prop="isOpen" align="right" label="是否开奖">
								<template slot-scope="scope">
										<span :class="{ red:!scope.row.isOpen }">{{ scope.row.isOpen?'已开奖':'未开奖' }}</span>
								</template>
						</el-table-column>
						<!--<el-table-column min-width="140" prop="buyCode" align="right" label="下注号码">-->
						<!--<template slot-scope="scope">-->
						<!--<el-tooltip placement="bottom">-->
						<!--<div slot="content" class="fold">{{ scope.row.buyCode }}</div>-->
						<!--<div class="ellipsis">{{ scope.row.buyCode }}</div>-->
						<!--</el-tooltip>-->
						<!--</template>-->
						<!--</el-table-column>-->
						<!--<el-table-column min-width="70" prop="betMoney" align="right" label="下注金额">-->
						<!--</el-table-column>-->
						<el-table-column align="right" label="操作" min-width="70">
								<template slot-scope="scope">
										<el-button
											type="text"
											@click="handleRow(scope.row)"
											:disabled="scope.row.isOpen ===0 || hasPermission(exception.dealPermission)"
											size="mini">
												{{ exception.actionName }}
										</el-button>
								</template>
						</el-table-column>
				</el-table>
				<div v-if="total" class="pagination-container fr">
						<el-pagination
							@size-change="handleSizeChange"
							@current-change="handleCurrentChange"
							:current-page.sync="listQuery.pageNo"
							:page-sizes="[10,20,50,100,200,500]"
							:page-size="listQuery.pageSize"
							layout="total, sizes, prev, pager, next, jumper"
							:total="total">
						</el-pagination>
				</div>
		</el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { getException } from './common'

export default {
  data () {
    return {
      items: [],
      multifiesSelection: [],
      listLoading: false,
      exception: getException(this.$route.params.type),
      listQuery: {
        pageNo: 1,
        pageSize: 10
      },
      total: 0
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    $route: 'fetchData'
  },
  methods: {
    selectableF (row, index) {
      return row.isOpen
    },
    handleSizeChange (v) {
      this.listQuery.pageNo = 1
      this.listQuery.pageSize = v
      this.fetchData()
    },
    handleCurrentChange (v) {
      this.listQuery.pageNo = v
      this.fetchData()
    },
    fetchData () {
      const query = { ...this.$route.query, ...this.listQuery }
      this.listLoading = true
      // this.total = 0
      this.exception.listRequest(query).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.elements
          this.total = res.data.data.totalCount
        }
        this.listLoading = false
      })
    },
    handleRow (row) {
      this._handleOrders([row])
    },
    handleSelectionChange (val) {
      this.multifiesSelection = val
    },
    batchOrders () {
      this._handleOrders(this.multifiesSelection)
    },
    backToMenu () {
      this.$router.push({ path: '/monitor/ReportOrderList' })
    },
    _handleOrders (list) {
      const count = list.length
      this.$confirm(`确定处理这${count}个异常订单吗？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const query = {}
        const requestList = list.map((item) => ({
          spCode: item.spCode,
          orderCode: item.orderCode,
          lotteryId: item.lotteryId,
          issue: item.issue
        }))
        query.list = JSON.stringify(requestList)
        this.listLoading = true
        this.exception.dealRequest(query).then((res) => {
          if (res.data.code === ERR_OK) {
            this.$message({
              message: '处理成功',
              type: 'success'
            })
            if (res.data.data && JSON.stringify(res.data.data) !== '{}') {
              this.$message({
                dangerouslyUseHTMLString: true,
                message: res.data.data,
                type: 'warning',
                showClose: true
              })
            }
            this.fetchData()
          }
          this.listLoading = false
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消操作'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
		.ellipsis {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 130px;
				display: inline-block;
		}
</style>
<style>
		.red {
				color: #f00
		}
</style>
