<template>
  <el-card>
    <el-alert
        effect="dark"
        style="margin-bottom: 5px"
        title="温馨提醒：默认不选择时间段，查询当天数据，即从0点到当前时间的前一小时!"
        type="warning"
        show-icon>
    </el-alert>
    <el-form v-loading="listLoading" :inline='true'>
      <el-form-item>
        <!--								<el-select filterable style="width: 180px" placeholder="请选择厅主" clearable-->
        <!--								           default-first-option-->
        <!--								           v-model="listQuery.spCode">-->
        <!--										<el-option v-for="item in spList" :key="item.id" :label="item.id" :value="item.id">-->
        <!--										</el-option>-->
        <!--								</el-select>-->
        <fuzzy-query-search
            :options='{type:"spCode",placeholder:"请输入厅编码"}'
            @dealChange='dealChange'></fuzzy-query-search>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataValue" type="datetimerange" style="width: 380px"
                        clearalbe
                        @change="TimeChange"
                        :default-time="['00:00:00','23:59:59']"
                        :picker-options="pickerOptions" range-separator="至" start-placeholder="开始时间(美东)"
                        end-placeholder="结束时间(美东)" align="right">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="_search"
                   :disabled="hasPermission('OrderReportList')">查询
        </el-button>
      </el-form-item>

      <el-form-item>
        <el-tooltip content="全局结算已开奖未结算的注单" placement="top">
          <el-button type="primary" @click="globalSettleOrders(2)"
                     :disabled="!dataValue || hasPermission('GlobalOrderSettlement') || dataValue.length!==2">
            全结
          </el-button>
        </el-tooltip>
      </el-form-item>
      <el-form-item>
        <el-tooltip content="全局派彩奖金及投注返点" placement="top">
          <el-button type="primary" @click="globalSettleOrders(3)"
                     :disabled="!dataValue || hasPermission('GlobalPayOutReward') || dataValue.length!==2">全派
          </el-button>
        </el-tooltip>
      </el-form-item>
      <!-- <el-form-item>
        <el-tooltip content="全局发放代理返点" placement="top">
          <el-button type="primary" @click="globalSettleOrders(1)"
                     :disabled="!dataValue || hasPermission('GlobalDealAgentRebate') || RebateDsiabled || dataValue.length!==2">
            全代
          </el-button>
        </el-tooltip>
      </el-form-item> -->
    </el-form>
    <el-table :data="items" :cell-click="openDetailList" border v-loading="listLoading" style="width: 100%"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              show-summary>
      <el-table-column min-width="70" prop="spCode" align="right" label="所属厅">
      </el-table-column>
      <el-table-column min-width="70" prop="unsettleOrderNum" align="right" label="未结算总数" sortable>
        <template slot-scope="scope">
          <router-link v-if="scope.row.unsettleOrderNum > 0"
                       :to="{path: '/orders/ReportOrderList/detail/1',query:{spCode:scope.row.spCode,beginTime:listQuery.beginTime,endTime:listQuery.endTime}}">
            <span style="color:#ff0000;">{{ scope.row.unsettleOrderNum }} </span>
          </router-link>
          <span v-else>{{ scope.row.unsettleOrderNum }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="70" prop="unPayoutOrderNum" align="right" label="已结算-未派彩" sortable>
        <template slot-scope="scope">
          <router-link v-if="scope.row.unPayoutOrderNum > 0"
                       :to="{path: '/orders/ReportOrderList/detail/2', query:{spCode:scope.row.spCode,beginTime:listQuery.beginTime,endTime:listQuery.endTime}}">
            <span style="color:#ff0000;"> {{ scope.row.unPayoutOrderNum }}</span>
          </router-link>
          <span v-else>{{ scope.row.unPayoutOrderNum }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column min-width="70" prop="agenRebateOrderNum" align="right" label="代理返点-未派彩" sortable>
        <template slot-scope="scope">
          <router-link v-if="scope.row.agenRebateOrderNum > 0"
                       :to="{path: '/orders/ReportOrderList/detail/3', query:{spCode:scope.row.spCode,beginTime:listQuery.beginTime,endTime:listQuery.endTime}}">
            <span style="color:#ff0000;"> {{scope.row.agenRebateOrderNum}} </span>
          </router-link>
          <span v-else>{{scope.row.agenRebateOrderNum}}</span>
        </template>
      </el-table-column> -->
      <el-table-column min-width="70" prop="totalOrderNum" align="right" label="注单总数" sortable>
      </el-table-column>
      <el-table-column min-width="70" prop="revokeOrderNum" align="right" label="撤单总数" sortable>
      </el-table-column>
      <el-table-column min-width="70" prop="winOrderNum" align="right" label="已结算_赢" sortable>
      </el-table-column>
      <el-table-column min-width="70" prop="loseOrderNum" align="right" label="已结算_输" sortable>
      </el-table-column>
      <el-table-column min-width="70" prop="drawOrderNum" align="right" label="已结算_和局" sortable>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
import { ERR_OK } from 'api/config'
import { parseTime, EnUSPickerOptions, check3Month } from 'utils/'
// import { getAjaxData } from 'api/common'
import {
  getReportOrderList,
  // postGlobalDealAgentRebate,
  postGlobalOrderSettlement,
  postGlobalPayOutReward
} from 'api/orders'
import fuzzyQuerySearch from 'components/fuzzyQuerySearch/index'

const globalSettleConfig = [
  // {
  //   type: 1,
  //   message: '全局发放代理返点',
  //   func: postGlobalDealAgentRebate
  // },
  {
    type: 2,
    message: '全局结算已开奖未结算的注单',
    func: postGlobalOrderSettlement
  },
  {
    type: 3,
    message: '全局派彩奖金及投注返点',
    func: postGlobalPayOutReward
  }
]

export default {
  components: { fuzzyQuerySearch },
  data () {
    return {
      listQuery: {
        spCode: '',
        beginTime: '',
        endTime: ''
      },
      listLoading: false,
      pickerOptions: EnUSPickerOptions,
      dataValue: [],
      // spList: [],
      items: [],
      RebateDsiabled: false
    }
  },
  methods: {
    dealChange (op) {
      this.listQuery = { ...this.listQuery, ...op }
    },
    TimeChange (v) {
      if (!v) this.dataValue = []
    },
    // 全局处理注单
    globalSettleOrders (type) {
      this._setListQueryDateTime()
      const global = globalSettleConfig.find((item) => item.type === type)
      if (global) {
        this.$confirm(
            `确认进行${global.message}操作， 是否继续?`,
            '提示',
            {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }
        ).then(() => {
          this.listLoading = true
          global.func({
            beginTime: this.listQuery.beginTime,
            endTime: this.listQuery.endTime
          }).then((res) => {
            if (res.data.code === ERR_OK) {
              if (type === 3) {
                this.RebateDsiabled = true
              }
              this.$message({
                type: 'success',
                message: `${global.message}成功!`
              })
            }
            this.listLoading = false
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消操作!'
          })
        })
      }
    },
    // 获取平台商列表
    // _getSpInfoList () {
    //   getAjaxData({ dataType: 21 }).then(res => {
    //     if (res.data.code === ERR_OK) {
    //       this.spList = res.data.data.items
    //     }
    //   })
    // },
    _getList () {
      this._setListQueryDateTime()
      this.listLoading = true
      getReportOrderList(this.listQuery).then((res) => {
        if (res.data.code === ERR_OK) {
          this.items = res.data.data.items
        }
      })
      this.listLoading = false
    },
    _search () {
      this._getList()
    },
    _setListQueryDateTime () {
      if (!this.dataValue) this.dataValue = []
      for (let i = 0; i < this.dataValue.length; i++) {
        if (this.dataValue[i] === null || this.dataValue[i] === '') {
          this.dataValue = []
          break
        }
      }
      if (this.dataValue.length) {
        const tmin = new Date(this.dataValue[0])
        const tmax = new Date(this.dataValue[1])
        if (!check3Month(tmin, tmax)) return
        this.listQuery.beginTime = parseTime(tmin)
        this.listQuery.endTime = parseTime(tmax)
      } else {
        this.listQuery.beginTime = this.listQuery.endTime = ''
      }
    },
    openDetailList () {}
  },
  created () {
    // const end = new Date(Settime.RefTime())
    // const start = new Date(end.getTime() - 3600 * 1000)
    // this.dataValue.push(start)
    // this.dataValue.push(end)
    // this._getSpInfoList()
    this._search()
    // console.log('this happened')
  }
}
</script>
